---
foreground: "#3FCEB3"
background: "#7CEFDE"
link-color: "#006754"
infobox-color: "#1DB498"
furi-color: "#0C9D82"
favicon: favicon.jpg

english-name: Torture Tower Doesn't Sleep &mdash;The Emerald Girl&mdash;
image: /assets/images/thumbs/EmeraldGirl.jpg

publisher: ASCII Media Works
isbn: 978-4-04-891873-2
release: October 26, 2013
info-artists: Maruino

infomines: <a href="https://pricechecktranslations.tumblr.com/post/186298031405">Prologue</a>|<a href="https://pricechecktranslations.tumblr.com/post/186424096845">Chapter 1</a>|<a href="https://pricechecktranslations.tumblr.com/post/186595544965">Chapter 2</a>|<a href="https://pricechecktranslations.tumblr.com/post/186761331670">Chapter 3</a>|<a href="https://pricechecktranslations.tumblr.com/post/187481564250">Chapter 4</a>|<a href="https://pricechecktranslations.tumblr.com/post/187581819615">Epilogue</a>

mothyrights: <em>Torture Tower Doesn't Sleep</em>|<em>Torture Tower Doesn't Sleep ―The Emerald Girl―</em>
copyrights: nil
artists: Maruino
scans: RedLadyDeath
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="emerald-girl/illust1.jpg" source="Chapter 1" %}
	{% include illustration.html file="emerald-girl/illust2.png" source="Chapter 1" %}
	{% include illustration.html file="emerald-girl/illust3.jpg" source="Chapter 1" %}
	{% include illustration.html file="emerald-girl/illust4.png" source="Chapter 1" %}
	{% include illustration.html file="emerald-girl/illust5.jpg" source="Chapter 1" %}
	{% include illustration.html file="emerald-girl/illust6.png" source="Chapter 2" %}
	{% include illustration.html file="emerald-girl/illust7.jpg" source="Chapter 2" %}
	{% include illustration.html file="emerald-girl/illust8.png" source="Chapter 2" %}
	{% include illustration.html file="emerald-girl/illust9.jpg" source="Chapter 2" %}
	{% include illustration.html file="emerald-girl/illust10.png" source="Chapter 2" %}
	{% include illustration.html file="emerald-girl/illust11.jpg" source="Chapter 3" %}
	{% include illustration.html file="emerald-girl/illust12.jpg" source="Chapter 3" %}
	{% include illustration.html file="emerald-girl/illust13.jpg" source="Chapter 3" %}
	{% include illustration.html file="emerald-girl/illust14.png" source="Chapter 3" %}
	{% include illustration.html file="emerald-girl/illust15.jpg" source="Chapter 4" %}
	{% include illustration.html file="emerald-girl/illust16.png" source="Chapter 4" %}
	{% include illustration.html file="emerald-girl/illust17.png" source="Chapter 4" %}
	{% include illustration.html file="emerald-girl/illust18.png" source="Chapter 4" %}
	{% include illustration.html file="emerald-girl/illust19.jpg" source="Chapter 4" %}
</section>

{% include navbar.html group="Torture Tower Doesn't Sleep Series" %}