---
title: Novels &mdash; The Evillious Chronicles
layout: default
css: largeNav.css
permalink: novel
---
<div id="intro" class="flex">
	<header>
		<a href="../"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Novels</h1>
		<p>A guide to reading the novels from <em>The Evillious Chronicles</em>.</p>
		{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	<h2><em>The Daughter of Evil</em> Series</h2>
	{% include navthumb.html thumb="Cloture.png" link="novel/cloture-of-yellow" eng="The Daughter of Evil: Clôture of Yellow" %}
	{% include navthumb.html thumb="Wiegenlied.jpg" link="novel/wiegenlied-of-green" eng="The Daughter of Evil: Wiegenlied of Green" %}
	{% include navthumb.html thumb="EntracteOfEvil.jpg" link="novel/entracte-of-evil" eng="Entr'acte of Evil: The Daughter of Evil Worldguide" %}
	{% include navthumb.html thumb="Praeludium.png" link="novel/praeludium-of-red" eng="The Daughter of Evil: Praeludium of Red" %}
	{% include navthumb.html thumb="Praefacio.png" link="novel/praefacio-of-blue" eng="The Daughter of Evil: Praefacio of Blue" %}
	{% include navthumb.html thumb="EpicOfEvil.jpg" link="novel/epic-of-evil" eng="Epic of Evil: The Daughter of Evil Fanbook" %}
	
	<h2><em>Deadly Sins of Evil</em> Series</h2>
	{% include navthumb.html thumb="DSOEVenomania.png" link="novel/lunacy-of-duke-venomania" eng="Deadly Sins of Evil: The Lunacy of Duke Venomania" %}
	{% include navthumb.html thumb="DSOEConchita.jpg" link="novel/evil-food-eater-conchita" eng="Deadly Sins of Evil: Evil Food Eater Conchita" %}
	{% include navthumb.html thumb="WaltzOfEvil.png" link="novel/waltz-of-evil" eng="Waltz of Evil: The Deadly Sins of Evil Guidebook" %}
	{% include navthumb.html thumb="DSOEGift.png" link="novel/gift-from-the-princess-who-brought-sleep" eng="Deadly Sins of Evil: gift from the Princess who Brought Sleep" %}
	{% include navthumb.html thumb="DSOEPierrot.png" link="novel/fifth-pierrot" eng="Deadly Sins of Evil: Fifth Pierrot" %}
	{% include navthumb.html thumb="DSOEEnbizaka.jpg" link="novel/tailor-of-enbizaka" eng="Deadly Sins of Evil: The Tailor of Enbizaka" %}
	{% include navthumb.html thumb="DSOEJudgment.png" link="novel/judgment-of-corruption" eng="Deadly Sins of Evil: Judgment of Corruption" %}
	{% include navthumb.html thumb="DSOENemesis.jpg" link="novel/muzzle-of-nemesis" eng="Deadly Sins of Evil: The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="DSOEHeavenly.jpg" link="novel/master-of-the-heavenly-yard" eng="Deadly Sins of Evil: master of the heavenly yard" %}
	
	<h2><em>Original Sin Story</em> Series</h2>
	{% include navthumb.html thumb="OSSSin.jpg" link="novel/oss-crime" eng="Original Sin Story ―Crime―" %}
	
	<h2>Other Evillious Stories</h2>
	{% include navthumb.html thumb="SevenStory.png" link="novel/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="OutlawLychgate.jpg" link="novel/outlaw-and-lychgate" eng="Outlaw&amp;Lychgate" %}
	{% include navthumb.html thumb="EATPrologueNovel.png" link="novel/eat-prologue" eng="E.A.T PROLOGUE" %}
	
	<h2><em>Torture Tower Doesn't Sleep</em> Series</h2>
	{% include navthumb.html thumb="ThreeDaughters.jpg" link="novel/three-daughters-of-sir-torture" eng="Torture Tower Doesn't Sleep ―The Three Daughters of Sir Torture―" %}
	{% include navthumb.html thumb="EmeraldGirl.jpg" link="novel/emerald-girl" eng="Torture Tower Doesn't Sleep ―The Emerald Girl―" %}
	{% include navthumb.html thumb="RingOfEvil.jpg" link="novel/ring-of-evil" eng="Torture Tower Doesn't Sleep ―The Ring of Evil―" %}
	
	<h2>Fourth Period Novels</h2>
	{% include navthumb.html thumb="UnlockCity.jpg" link="novel/unlock-city" eng="Unlock City" %}
	{% include navthumb.html thumb="PaperDemon.jpg" link="novel/paper-demon" eng="Story of Evil: The Paper Demon and the Secret Archive" %}
	{% include navthumb.html thumb="TwilightDemon.jpg" link="novel/twilight-demon" eng="Story of Evil: The Twilight Demon and the False Queen" %}
</navigation>
{% include copyright.html mothyrights="<em>The Evillious Chronicles</em>|<em>Torture Tower Doesn't Sleep</em>|<em>Unlock City</em>|<em>The Story of Evil</em>" copyrights="VOCALOID|Kagamine Rin & Len|Hatsune Miku|MEIKO|GUMI|KAITO|Camui Gackpo|Megurine Luka|Yowane Haku|Kaai Yuki|Hiyama Kiyoteru" artists="Ichika|KIM DONGHOON|Suzunosuke|Yuu|you-ring|Maruino|Oguchi|Yuzuki Kihiro" %}