---
foreground: var(--oss-color)
background: var(--oss-background)
link-color: var(--oss-link)
infobox-color: "#606060"
furi-color: var(--oss-furi)
back: none
favicon: favicon.jpg

english-name: Original Sin Story &mdash;Punishment&mdash;
image: /assets/images/thumbs/OSSPunishment.jpg
summary:  同人ＣＤ「原罪物語」シリーズの小説版「原罪物語 - 罪 -」の続編にして完結編！「悪ノ娘」をはじめとした「悪ノ大罪」シリーズの原点を描いた物語。 

publisher: the heavenly yard
release: August 13, 2022
info-artists: Ichika

links: <a href="https://mothy.booth.pm/items/4094377">BOOTH</a>
translation: <a href="https://oss-punishment.tumblr.com/directory">Translation</a>

mothyrights: <em>The Evillious Chronicles</em>|<em>Original Sin Story ―Punishment―</em>
copyrights: VOCALOID|Megurine Luka|Nekomura Iroha|Kagamine Rin & Len
artists: Ichika
scans: 
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="oss-punishment/illust1.jpg" source="Chapter 8" %}
</section>

{% include navbar.html group="Original Sin Story Series" %}