---
foreground: var(--oss-color)
background: var(--oss-background)
link-color: var(--oss-link)
infobox-color: "#606060"
furi-color: var(--oss-furi)
front: front.jpg
back: back.jpg
favicon: favicon.jpg

english-name: Original Sin Story &mdash;Crime&mdash;
quote: This is the story of the beginning.
summary: 2012～2015年に発行した同人ＣＤ「原罪物語」シリーズの小説版にして「悪ノ娘」をはじめとした「悪ノ大罪」シリーズの原点を描いた物語。

publisher: the heavenly yard
release: December 31, 2019
info-artists: Ichika

translation: <a href="https://oss-crime.tumblr.com/directory">Translation</a>
infomines-hide: <a href="https://pricechecktranslations.tumblr.com/post/190431481475">Prologue</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190435645375">Chapter 1</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190489532160">Chapter 2</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190526607520">Chapter 3</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190544216930">Chapter 4</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190582601870">Chapter 5</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190582947905">Chapter 6</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190589094680">Chapter 7</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190594060690">Epilogue</a> &middot; <a href="https://pricechecktranslations.tumblr.com/post/190598874560">Afterword</a>

mothyrights: <em>The Evillious Chronicles</em>|<em>Original Sin Story ―Crime―</em>
copyrights: VOCALOID|Hatsune Miku|KAITO|MEIKO|Hiyama Kiyoteru|Camui Gackpo
artists: Ichika
scans: RedLadyDeath
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="oss-crime/illust1.jpg" source="Chapter 1" %}
	{% include illustration.html file="oss-crime/illust2.png" source="Chapter 2" %}
	{% include illustration.html file="oss-crime/illust3.png" source="Chapter 3" %}
	{% include illustration.html file="oss-crime/illust4.png" source="Chapter 3" %}
	{% include illustration.html file="oss-crime/illust5.png" source="Chapter 5" %}
	{% include illustration.html file="oss-crime/illust6.png" source="Chapter 7" %}
</section>