---
foreground: var(--gluttony-color)
background: var(--gluttony-background)
link-color: var(--gluttony-link)
infobox-color: "#9F0D18"
furi-color: var(--gluttony-furi)
front: front.jpg
back: back.jpg
favicon: favicon.jpg

english-name: Outlaw&amp;Lychgate
image: /assets/images/thumbs/OutlawLychgate.jpg
summary: 悪ノ大罪シリーズ「master of the heavenly yard」後日談。アレンが姿を消した後、突如として千年樹の森に巨大な「門」が現れる。一方、ルシフェニア王・アルスに呼び出されたバニカの従者リッチは、南方に現れた謎の屍兵集団「アウトロー」の調査を命じられるのだった……。

publisher: the heavenly yard
release: April 28, 2019
info-artists: Ichika

translation: <a href="https://outlawandlychgate.tumblr.com/directory">Translation</a>
infomines-hide: <a href="https://pricechecktranslations.tumblr.com/post/185111257920">Story of the Third Period</a>|<a href="https://pricechecktranslations.tumblr.com/post/185122979670">Chapter 1</a>|<a href="https://pricechecktranslations.tumblr.com/post/185137015310">Chapter 2</a>|<a href="https://pricechecktranslations.tumblr.com/post/185167446480">Chapter 3</a>|<a href="https://pricechecktranslations.tumblr.com/post/185169017795">Chapter 4</a>

mothyrights: <em>The Evillious Chronicles</em>|<em>Outlaw&amp;Lychgate</em>
copyrights: VOCALOID|Hiyama Kiyoteru|Kagamine Len
artists: Ichika
scans: RedLadyDeath
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="outlaw-and-lychgate/illust1.png" source="Chapter 2" %}
	{% include illustration.html file="outlaw-and-lychgate/illust2.png" source="Chapter 3" %}
</section>