---
foreground: var(--greed-color)
background: var(--greed-background)
link-color: var(--greed-link)
infobox-color: "#1F4ACA"
furi-color: var(--greed-furi)
back: back.jpg
favicon: favicon.jpg

english-name: "Story of Evil: The Paper Demon and the Secret Archive"
image: /assets/images/thumbs/PaperDemon.jpg
summary: 僕は小学5年生のイツキ。夏休みの間、伯父さんが管理するマンションで過ごすことになったんだけど……ある日、伯父さんの書庫の奥にある、秘密の扉を開けちゃったんだ。書庫に大切にしまわれていたのは、年代も筆跡もバラバラの紙の束。つづられた不思議な物語を読み進めていくと、挿絵の動物が動き出して……。

publisher: PHP Institute
isbn: 978-4-569-78748-0
release: February 18, 2018
info-artists: 'Yuzuki Kihiro, <span alt="Miwasiba">△○□×</span>'

links: <a href="https://www.youtube.com/watch?v=kHrqwM30aRU">Trailer</a>
translation: <a href="https://slugtranslation-ec.tumblr.com/post/182478386243">Translation</a>

mothyrights: "<em>Story of Evil</em>|<em>Story of Evil: The Paper Demon and the Secret Archive</em>"
copyrights: nil
artists: Yuzuki Kihiro|<span alt="Miwasiba">△○□×</span>
scans: <a href="https://evilliyes.tumblr.com/">Evilliyes</a>
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="paper-demon/illust1.png" source="1" %}
	{% include illustration.html file="paper-demon/illust2.png" source="1" %}
	{% include illustration.html file="paper-demon/illust3.png" source="2" %}
	{% include illustration.html file="paper-demon/illust4.png" source="3" %}
	{% include illustration.html file="paper-demon/illust5.png" source="3" %}
	{% include illustration.html file="paper-demon/illust6.png" source="5" %}
	{% include illustration.html file="paper-demon/illust7.png" source="5" %}
	{% include illustration.html file="paper-demon/illust8.png" source="7" %}
	{% include illustration.html file="paper-demon/illust9.png" source="7" %}
	{% include illustration.html file="paper-demon/illust10.png" source="8" %}
	{% include illustration.html file="paper-demon/illust11.png" source="9" %}
	{% include illustration.html file="paper-demon/illust12.png" source="10" %}
	{% include illustration.html file="paper-demon/illust13.png" source="11" %}
	{% include illustration.html file="paper-demon/illust14.png" source="12" %}
	{% include illustration.html file="paper-demon/illust15.png" source="12" %}
	{% include illustration.html file="paper-demon/illust16.png" source="12" %}
	{% include illustration.html file="paper-demon/illust17.png" source="12" %}
	{% include illustration.html file="paper-demon/illust18.png" source="12" %}
	{% include illustration.html file="paper-demon/illust19.png" source="12" %}
	{% include illustration.html file="paper-demon/illust20.png" source="13" %}
	{% include illustration.html file="paper-demon/illust21.png" source="16" %}
	{% include illustration.html file="paper-demon/illust22.png" source="16" %}
	{% include illustration.html file="paper-demon/illust23.png" source="17" %}
	{% include illustration.html file="paper-demon/illust24.png" source="17" %}
	{% include illustration.html file="paper-demon/illust25.png" source="Epilogue" %}
</section>

{% include navbar.html group="Story of Evil Series" %}