---
foreground: "#D73570"
background: "#F1709F"
link-color: "#700029"
infobox-color: "#BC1451"
furi-color: "#900236"
favicon: favicon.jpg

english-name: Torture Tower Doesn't Sleep &mdash;The Ring of Evil&mdash;
image: /assets/images/thumbs/RingOfEvil.jpg

publisher: ASCII Media Works
isbn: 978-4-04-866521-6
release: April 16, 2014
info-artists: Maruino

infomines: <a href="https://pricechecktranslations.tumblr.com/post/187700449265">Prologue</a>|<a href="https://pricechecktranslations.tumblr.com/post/188302959870">Chapter 1</a>|<a href="https://pricechecktranslations.tumblr.com/post/188463446970">Chapter 2</a>|<a href="https://pricechecktranslations.tumblr.com/post/188940764405">Chapter 3</a>|<a href="https://pricechecktranslations.tumblr.com/post/190171836965">Chapter 4</a>|<a href="https://pricechecktranslations.tumblr.com/post/190284527805">Chapter 5</a>|<a href="https://pricechecktranslations.tumblr.com/post/190284627535">BLACK BOX</a>|<a href="https://pricechecktranslations.tumblr.com/post/190302095195">Epilogue</a>

mothyrights: <em>Torture Tower Doesn't Sleep</em>|<em>Torture Tower Doesn't Sleep ―The Ring of Evil―</em>
copyrights: nil
artists: Maruino
scans: RedLadyDeath
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="ring-of-evil/illust1.png" source="Chapter 1" %}
	{% include illustration.html file="ring-of-evil/illust2.jpg" source="Chapter 1" %}
	{% include illustration.html file="ring-of-evil/illust3.png" source="Chapter 2" %}
	{% include illustration.html file="ring-of-evil/illust4.png" source="Chapter 2" %}
	{% include illustration.html file="ring-of-evil/illust5.png" source="Chapter 3" %}
	{% include illustration.html file="ring-of-evil/illust6.jpg" source="Chapter 3" %}
	{% include illustration.html file="ring-of-evil/illust7.png" source="Chapter 4" %}
	{% include illustration.html file="ring-of-evil/illust8.jpg" source="Chapter 4" %}
	{% include illustration.html file="ring-of-evil/illust9.png" source="Chapter 4" %}
	{% include illustration.html file="ring-of-evil/illust10.png" source="Chapter 5" %}
	{% include illustration.html file="ring-of-evil/illust11.png" source="Chapter 5" %}
	{% include illustration.html file="ring-of-evil/illust12.png" source="Chapter 5" %}
	{% include illustration.html file="ring-of-evil/illust13.png" source="Chapter 5" %}
	{% include illustration.html file="ring-of-evil/illust14.png" source="Chapter 5" %}
	{% include illustration.html file="ring-of-evil/illust15.png" source="Epilogue" %}
</section>

{% include navbar.html group="Torture Tower Doesn't Sleep Series" %}