---
foreground: var(--greed-color)
background: var(--greed-background)
link-color: var(--greed-link)
infobox-color: "#1F4ACA"
furi-color: var(--greed-furi)
back: back.jpg
favicon: favicon.jpg

english-name: "Story of Evil: The Twilight Demon and the False Queen"
summary: 夏休みの間に「紙の悪魔」のマリーと「けいやく」することになってしまったイツキ。ネットに詳しい従兄弟のハルトと、式神を操る美少女・ツグミの協力のおかげで、なんとか「けいやく」を解除し、新学期を迎えたんだけど……なんだかクラスメイトたちの様子が変!?　これってもしかして悪魔が関係しているの……!?

publisher: PHP Institute
isbn: 978-4-569-78780-0
release: July 11, 2018
info-artists: Yuzuki Kihiro, <span alt="Miwasiba">△○□×</span>

translation: <a href="https://slugtranslation-ec.tumblr.com/post/190004001223">Translation</a>

mothyrights: "<em>Story of Evil</em>|<em>Story of Evil: The Twilight Demon and the False Queen</em>"
copyrights: nil
artists: Yuzuki Kihiro|<span alt="Miwasiba">△○□×</span>
scans: <a href="https://evilliyes.tumblr.com/">Evilliyes</a>
---
<section class="art flex">
	<h2>Illustrations</h2>
	{% include illustration.html file="twilight-demon/illust1.png" source="1" %}
	{% include illustration.html file="twilight-demon/illust2.png" source="2" %}
	{% include illustration.html file="twilight-demon/illust3.png" source="2" %}
	{% include illustration.html file="twilight-demon/illust4.png" source="3" %}
	{% include illustration.html file="twilight-demon/illust5.png" source="3" %}
	{% include illustration.html file="twilight-demon/illust6.png" source="4" %}
	{% include illustration.html file="twilight-demon/illust7.png" source="4" %}
	{% include illustration.html file="twilight-demon/illust8.png" source="5" %}
	{% include illustration.html file="twilight-demon/illust9.png" source="6" %}
	{% include illustration.html file="twilight-demon/illust10.png" source="7" %}
	{% include illustration.html file="twilight-demon/illust11.png" source="7" %}
	{% include illustration.html file="twilight-demon/illust12.png" source="9" %}
	{% include illustration.html file="twilight-demon/illust13.png" source="10" %}
	{% include illustration.html file="twilight-demon/illust14.png" source="10" %}
	{% include illustration.html file="twilight-demon/illust15.png" source="10" %}
	{% include illustration.html file="twilight-demon/illust16.png" source="10" %}
	{% include illustration.html file="twilight-demon/illust17.png" source="12" %}
	{% include illustration.html file="twilight-demon/illust18.png" source="12" %}
	{% include illustration.html file="twilight-demon/illust19.png" source="12" %}
	{% include illustration.html file="twilight-demon/illust20.png" source="14" %}
	{% include illustration.html file="twilight-demon/illust21.png" source="15" %}
	{% include illustration.html file="twilight-demon/illust22.png" source="16" %}
	{% include illustration.html file="twilight-demon/illust23.png" source="16" %}
	{% include illustration.html file="twilight-demon/illust24.png" source="16" %}
	{% include illustration.html file="twilight-demon/illust25.png" source="16" %}
	{% include illustration.html file="twilight-demon/illust26.png" source="17" %}
	{% include illustration.html file="twilight-demon/illust27.png" source="17" %}
</section>