---
title: Simplified Envy Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: envy-color
background: envy-background
link-color: envy-link
furi-color: envy-furi
permalink: chronological/envy/simple
image: /assets/images/Envy.jpg
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/envy.html %}"><img class="circle introImage" src="/assets/images/Envy.jpg" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Envy Arc Timeline</h1>
	<div class="subtitle"><span class="quote">But I have to keep at my work;<br />I tightly grip my scissors in one hand.</span><br />—<a href="{% link song/tailor-of-enbizaka.html %}"><em>The Tailor of Enbizaka</em></a></div>
	<p>Media occuring during the Envy Arc in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="Enbizaka.jpg" link="song/tailor-of-enbizaka" eng="The Tailor of Enbizaka" date="EC 842" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="song/weathered-head-at-onigashima" eng="The Weathered Head at Onigashima" date="EC 843" %}
	{% include navthumb.html thumb="DSOEEnbizaka.jpg" link="novel/tailor-of-enbizaka" eng="Deadly Sins of Evil: The Tailor of Enbizaka" date="EC 842&mdash;843" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|Megurine Luka|Kagamine Len|Hatsune Miku|GUMI" artists="Rgveta|Ichika" %}