---
title: Simplified Wrath Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: fourendings-color
background: fourendings-background
link-color: fourendings-link
furi-color: fourendings-furi
permalink: chronological/four-endings/simple
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/four-endings.html %}"><img class="circle introImage" src="/assets/images/4Endings.jpg" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Four Endings Series Timeline</h1>
	<div class="subtitle"><span class="quote">Four different endings were prepared in the rules,<br />What the boy holds in his hands may just decide them.</span><br />—<a href="{% link song/ending-boy-hansel.html %}"><em>Ending Boy Hänsel</em></a></div>
	<p>Media occuring during the Four Endings Series in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="Seven.png" link="song/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" date="Circa EC 1000" %}
	{% include navthumb.html thumb="SevenStory.png" link="novel/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" date="Circa EC 1000" %}
	{% include navthumb.html thumb="Heavenly.jpg" link="song/master-of-the-heavenly-yard" eng="master of the heavenly yard" date="Circa EC 1001" %}
	{% include navthumb.html thumb="HeavenlyAlbum.jpg" link="album/master-of-the-heavenly-yard" eng="master of the heavenly yard" date="Circa EC 1001" %}
	{% include navthumb.html thumb="DSOEHeavenly.jpg" link="novel/master-of-the-heavenly-yard" eng="Deadly Sins of Evil: master of the heavenly yard" date="Circa EC 1001" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/song-of-the-third-period" eng="Song of the Third Period" date="Circa EC 1001" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/karma-of-evil-will-not-end" eng="The Karma of Evil Will Not End" date="Circa EC 1001&mdash;1st Century BT" %}
	{% include navthumb.html thumb="OutlawLychgate.jpg" link="novel/outlaw-and-lychgate" eng="Outlaw&amp;Lychgate" date="Circa EC 1001" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" date="Circa EC 1001" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/banica-concerto" eng="Banica Concerto!!" date="Circa EC 1001" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" date="1st Century EC&mdash;EC 1001" %}
	{% include navthumb.html thumb="EATPrologue.jpg" link="song/great-journey" eng="grEAT journey" date="Circa EC 1001" %}
	{% include navthumb.html thumb="BlindGirlAndAngel.png" link="song/blind-girl-and-angel" eng="Blind Girl and Angel" date="Circa EC 1001" %}
	{% include navthumb.html thumb="CowardlyBlackBird.png" link="song/song-of-the-cowardly-black-bird" eng="Song of the Cowardly Black Bird" date="Circa EC 1001" %}
	{% include navthumb.html thumb="EATPrologue.jpg" link="album/eat-prologue" eng="E.A.T PROLOGUE" date="Circa EC 1001" %}
	{% include navthumb.html thumb="EATPrologueNovel.png" link="novel/eat-prologue" eng="E.A.T PROLOGUE" date="Circa EC 1001" %}
	{% include navthumb.html thumb="UnlockCity.jpg" link="novel/unlock-city" eng="Unlock City" date="Fourth Period" %}
	{% include navthumb.html thumb="TenMinuteLove.jpg" link="song/ten-minute-love" eng="Ten Minute Love" date="Fourth Period" %}
	{% include navthumb.html thumb="PaperDemon.jpg" link="novel/paper-demon" eng="Story of Evil: The Paper Demon and the Secret Archive" date="Fourth Period" %}
	{% include navthumb.html thumb="TwilightDemon.jpg" link="novel/twilight-demon" eng="Story of Evil: The Twilight Demon and the False Queen" date="Fourth Period" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|Kagamine Rin & Len|Hatsune Miku|MEIKO|GUMI|KAITO|Camui Gackpo|Megurine Luka|Hiyama Kiyoteru" artists="Ichika|mothy|Oguchi|Taa|Yuzuki Kihiro" %}