---
title: Simplified Greed Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: greed-color
background: greed-background
link-color: greed-link
furi-color: greed-furi
permalink: chronological/greed/simple
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/greed.html %}"><img class="circle introImage" src="/assets/images/Greed.jpg" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Greed Arc Timeline</h1>
	<div class="subtitle"><span class="quote">Even if you’re a scoundrel,<br />If you pay money I’ll save you.</span><br />—<a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a></div>
	<p>Media occuring during the Greed Arc in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/and-then-the-girl-went-mad" eng="And Then the Girl Went Mad &mdash;Ending Tale on a Moonlit Night&mdash;" date="EC 970" %}
	{% include navthumb.html thumb="JudgmentManga.png" link="novel/waltz-of-evil" eng="Judgment of Corruption Side Story: Gallerian" date="Circa EC 980" format="quote" %}
	{% include navthumb.html thumb="LastRevolver.png" link="song/last-revolver" eng="The Last Revolver" date="EC 982" %}
	{% include navthumb.html thumb="MiniatureGardenGirl.jpg" link="song/miniature-garden-girl" eng="Miniature Garden Girl" date="EC 983" %}
	{% include navthumb.html thumb="Judgment.jpg" link="song/judgment-of-corruption" eng="Judgment of Corruption" date="EC 983" %}
	{% include navthumb.html thumb="Nemesis.png" link="song/muzzle-of-nemesis" eng="The Muzzle of Nemesis" date="EC 983" %}
	{% include navthumb.html thumb="DSOEJudgment.png" link="novel/judgment-of-corruption" eng="Deadly Sins of Evil: Judgment of Corruption" date="EC 944&mdash;983" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|KAITO|GUMI|Hatsune Miku" artists="you-ring|Ichika|Masahiro Ikeno|Suzunosuke" %}