---
title: Simplified Lust Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: lust-color
background: lust-background
link-color: lust-link
furi-color: lust-furi
permalink: chronological/lust/simple
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/lust.html %}"><img class="circle introImage" src="/assets/images/Lust.jpg" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Lust Arc Timeline</h1>
	<div class="subtitle"><span class="quote">All of the women who see me<br />Fall into a charm.</span><br />—<a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a></div>
	<p>Media occuring during the Lust Arc in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="Venomania.jpg" link="song/lunacy-of-duke-venomania" eng="The Lunacy of Duke Venomania" date="EC 136" %}
	{% include navthumb.html thumb="DSOEVenomania.png" link="novel/lunacy-of-duke-venomania" eng="Deadly Sins of Evil: The Lunacy of Duke Venomania" date="EC 136&mdash;137" %}
	{% include navthumb.html thumb="VenomaniaManga.png" link="other/lunacy-of-duke-venomania" eng="The Lunacy of Duke Venomania" date="EC 113&mdash;137" %}
	{% include navthumb.html thumb="Glassred.png" link="song/portrait-glassred-drew" eng="The Portrait Glassred Drew" date="2nd Century EC" %}
	{% include navthumb.html thumb="Plateau.png" link="song/flower-of-the-plateau" eng="Flower of the Plateau" date="EC 141&mdash;EC 147" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|Camui Gackpo|GUMI|Megurine Luka|Lily|Hatsune Miku|GUMI" artists="Suzunosuke|Reki Bito|Yuu" %}