---
title: Simplified Original Sin Story Timeline &mdash; The Evillious Chronicles
layout: default
foreground: oss-color
background: oss-background
link-color: oss-link
furi-color: oss-furi
permalink: chronological/oss/simple
---
<div class="flex" id="intro">
	<header>
	<a href="/chronological/oss"><img class="circle introImage" src="/assets/images/OSS.png" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Original Sin Story Timeline</h1>
	<div class="subtitle" style="font-style:italic;">A false prediction of the future,<br />…And so the world is being warped.<br />—<a href="{% link song/queen-of-the-glass.html %}" target="_blank">Queen Of The Glass</a></div>
	<p>Media occuring during the Original Sin Story in chronological order.</p>
	<button id="fuributton">Toggle <ruby>Furigana<rt>ふりがな</rt></ruby></button>
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="WatchingUs.png" link="song/watching-us" eng="Watching Us" date="BT 3214" %}
	{% include navthumb.html thumb="BloodstainedSwitch.jpg" link="song/bloodstained-switch" eng="Bloodstained Switch" date="BT 1013" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="song/barisols-child-is-an-only-child" eng="Barisol's Child is an Only Child" date="11th Century BT" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="song/queen-of-the-glass" eng="Queen Of The Glass" date="Circa BT 005" %}
	{% include navthumb.html thumb="OSS1.jpg" link="song/project-ma" eng="Project &quot;Ma&quot;" date="Circa BT 001" %}
	{% include navthumb.html thumb="ProjectMaShort.jpg" link="song/project-ma" eng="Project &quot;Ma&quot; (short ver.)" date="Circa BT 001" %}
	{% include navthumb.html thumb="EscapeOfSalmhoferTheWitch.png" link="song/escape-of-salmhofer-the-witch" eng="Escape of Salmhofer the Witch" date="EC 000&mdash;001" %}
	{% include navthumb.html thumb="Moonlit.jpg" link="song/moonlit-bear" eng="moonlit bear" date="EC 001" %}
	{% include navthumb.html thumb="MoonlitStory.png" link="novel/waltz-of-evil" eng="moonlit bear" date="EC 001" format="quote" %}
	{% include navthumb.html thumb="OSS1.jpg" link="album/oss-act-1" eng="Original Sin Story &mdash;Act 1&mdash;" date="Circa BT 005&mdash;EC 001" %}
	{% include navthumb.html thumb="OSSSin.jpg" link="novel/oss-crime" eng="Original Sin Story &mdash;Crime&mdash;" date="Circa BT 005&mdash;EC 001" %}
	{% include navthumb.html thumb="MaSurvival.png" link="song/ma-survival" eng="Ma Survival" date="EC 013" %}
	{% include navthumb.html thumb="OSS2.jpg" link="song/whereabouts-of-the-miracle" eng="Whereabouts of the Miracle" date="EC 013" %}
	{% include navthumb.html thumb="SongIHeardSomewhere.png" link="song/song-i-heard-somewhere" eng="The Song I Heard Somewhere" date="EC 013" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="song/recollective-musicbox" eng="Recollective Musicbox" date="1st Century EC" %}
	{% include navthumb.html thumb="OSS2.jpg" link="album/oss-act-2" eng="Original Sin Story &mdash;Act 2&mdash;" date="EC 013&mdash;1st Century EC" %}
	{% include navthumb.html thumb="Abandonment.png" link="song/tale-of-abandonment-on-a-moonlit-night" eng="Tale of Abandonment on a Moonlit Night" date="EC 014" %}
	{% include navthumb.html thumb="AbandonmentStory.png" link="novel/waltz-of-evil" eng="Tale of Abandonment on a Moonlit Night" date="EC 014" format="quote" %}
	{% include navthumb.html thumb="ChronoStory.png" link="song/chrono-story" eng="Chrono Story" date="EC 015" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="album/oss-complete" eng="Original Sin Story &mdash;Complete Edition&mdash;" date="11th Century BT&mdash;EC 015" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="/chronological" copyrights="VOCALOID|Hatsune Miku|Megurine Luka|MAYU|Kagamine Rin & Len|KAITO|Lily|SF-A2 codename miki|Nekomura Iroha" artists="Suzunosuke|Yoshida Dondorian|you-ring|Ichika|mothy|Mizutame Tori|Rgveta" %}