---
title: Simplified Pride Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: pride-color
background: pride-background
link-color: pride-link
furi-color: pride-furi
permalink: chronological/pride/simple
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/pride.html %}"><img class="circle introImage" src="/assets/images/Pride.jpg" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Pride Arc Timeline</h1>
	<div class="subtitle" style="font-style:italic;">Once upon a time, reigning at the top<br />Of a fiendish kingdom was a noble girl of age 14.<br />—<a href="{% link song/daughter-of-evil.html %}" target="_blank">The Daughter of Evil</a></div>
	<p>Media occuring during the Pride Arc in chronological order.</p>
	<button id="fuributton">Toggle <ruby>Furigana<rt>ふりがな</rt></ruby></button>
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="Trinity.jpg" link="song/neomaria-of-the-inverted-gravestone" eng="Neomaria of the Inverted Gravestone" date="EC 460s&mdash;470s" %}
	{% include navthumb.html thumb="DaughterOfFog.png" link="novel/epic-of-evil" eng="The Daughter of Fog" date="EC 467&mdash;477" format="quote" %}
	{% include navthumb.html thumb="ThatKing.png" link="song/that-king-was-born-from-mud" eng="That King was Born from Mud" date="EC 470s&mdash;480s" %}
	{% include navthumb.html thumb="SwearAnOath.png" link="song/swear-an-oath-on-that-bridge" eng="Swear an Oath on that Bridge" date="Circa EC 480" %}
	{% include navthumb.html thumb="HerosArmor.png" link="song/a-heros-armor-is-always-crimson" eng="A Hero's Armor is Always Crimson" date="EC 482&mdash;487" %}
	{% include navthumb.html thumb="Trinity.jpg" link="album/lucifenia-trinity" eng="Lucifenia Trinity" date="EC 460s&mdash;487" %}
	{% include navthumb.html thumb="TwirightPrank.png" link="song/twiright-prank" eng="Twiright Prank" date="EC 491" %}
	{% include navthumb.html thumb="TwirightPrankStory.png" link="novel/entracte-of-evil" eng="Twiright Prank" date="EC 491" format="quote" %}
	{% include navthumb.html thumb="Adventure.png" link="novel/entracte-of-evil" eng="The Adventure of a Boy and a Girl" date="EC 492" format="quote" %}
	{% include navthumb.html thumb="DaughterOfEvil.jpg" link="song/daughter-of-evil" eng="The Daughter of Evil" date="EC 500" %}
	{% include navthumb.html thumb="ServantOfEvil.jpg" link="song/servant-of-evil" eng="The Servant of Evil" date="EC 500" %}
	{% include navthumb.html thumb="DaughterOfEvilVelvet.png" link="song/daughter-of-evil" eng="The Daughter of Evil ~velvet mix~" date="EC 500" %}
	{% include navthumb.html thumb="ServantOfEvilVelvet.jpg" link="song/servant-of-evil" eng="The Servant of Evil ~velvet mix~" date="EC 500" %}
	{% include navthumb.html thumb="RegretMessage.jpg" link="song/regret-message" eng="Regret Message" date="Circa EC 505" %}
	{% include navthumb.html thumb="DaughterOfWhite.jpg" link="song/daughter-of-white" eng="The Daughter of White" date="EC 499&mdash;505" %}
	{% include navthumb.html thumb="Cloture.png" link="novel/cloture-of-yellow" eng="The Daughter of Evil: Clôture of Yellow" date="EC 500" %}
	{% include navthumb.html thumb="Retrouver.png" link="novel/entracte-of-evil" eng="The Daughter of Evil: Retrouver of Silver" date="EC 500" format="quote" %}
	{% include navthumb.html thumb="Wiegenlied.jpg" link="novel/wiegenlied-of-green" eng="The Daughter of Evil: Wiegenlied of Green" date="EC 499&mdash;505" %}
	{% include navthumb.html thumb="Novelette.png" link="novel/wiegenlied-of-green" eng="The Daughter of Evil: Novelette of White" date="EC 500" format="quote" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="song/tree-maiden" eng="Tree Maiden ~Millennium Wiegenlied~" date="EC 499&mdash;500" %}
	{% include navthumb.html thumb="DemonicTwinBlades.jpg" link="novel/cloture-of-yellow" eng="The Demonic Twin Blades" date="EC 501" format="quote" %}
	{% include navthumb.html thumb="BlackBird.jpg" link="novel/wiegenlied-of-green" eng="Song of the Black Bird" date="Circa EC 505" format="quote" %}
	{% include navthumb.html thumb="Praeludium.png" link="novel/praeludium-of-red" eng="The Daughter of Evil: Praeludium of Red" date="EC 505" %}
	{% include navthumb.html thumb="HerReason.jpg" link="novel/epic-of-evil" eng="Her Reason" date="EC 499&mdash;505" format="quote" %}
	{% include navthumb.html thumb="Praefacio.png" link="novel/praefacio-of-blue" eng="The Daughter of Evil: Praefacio of Blue" date="EC 505" %}
	{% include navthumb.html thumb="Handbeat.png" link="song/handbeat-clocktower" eng="Handbeat Clocktower" date="EC 505" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/blink" eng="Blink" date="EC 505" %}
	{% include navthumb.html thumb="IllustrationStory.png" link="novel/epic-of-evil" eng="The Daughter of Evil: Illustration Story" date="EC 499&mdash;505" format="quote" %}
	{% include navthumb.html thumb="TwoMages.png" link="song/journey-of-two-mages" eng="The Journey of Two Mages ~Great Wall and Watchman~" date="EC 548" %}
	{% include navthumb.html thumb="HeavenlyStory.png" link="novel/waltz-of-evil" eng="heavenly yard" date="6th Century BT&mdash;Circa EC 548" format="quote" %}
	{% include navthumb.html thumb="ReachForTheStars.png" link="song/letter-she-kept-waiting-for" eng="Reach For The Stars ~The Letter She Kept Waiting For~" date="Circa EC 562" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|Kagamine Rin & Len|Sweet ANN|MIRIAM|Megurine Luka|LE♂N|Hatsune Miku|KAITO|Yowane Haku|Kasane Teto|MEIKO|Kaai Yuki|GUMI" artists="Ichika|mothy|hal-brando|gamu|KIM DONGHOON|CAFFEIN|Suzunosuke|you-ring|Yoshida Dondorian" photographer="MAKOTO" %}