---
title: Simplified Chronological Order &mdash; The Evillious Chronicles
layout: default
css: largeNav.css
---
<div class="flex" id="intro">
	<header>
		<a href="../"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Simplified Chronological Order</h1>
		<p>Events of The Evillious Chronicles ordered by the in-universe timeline.</p>
		<p>For the full chronological timeline of <em>The Evillious Chronicles</em>, see <a href="{% link chronological/index.html %}">here</a>.</p>
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="../OSS.png" link="chronological/oss-simple" caption="Original Sin Story" style="background-color:var(--oss-color);" %}
	{% include navthumb.html thumb="../Lust.jpg" link="chronological/lust-simple" caption="Lust Arc" style="background-color:var(--lust-color);" %}
	{% include navthumb.html thumb="../Gluttony.jpg" link="chronological/gluttony-simple" caption="Gluttony Arc" style="background-color:var(--gluttony-color);" %}
	{% include navthumb.html thumb="../Pride.jpg" link="chronological/pride-simple" caption="Pride Arc" style="background-color:var(--pride-color);" %}
	{% include navthumb.html thumb="../Sloth.png" link="chronological/sloth-simple" caption="Sloth Arc" style="background-color:var(--sloth-color);" %}
	{% include navthumb.html thumb="../Envy.jpg" link="chronological/envy-simple" caption="Envy Arc" style="background-color:var(--envy-color);" %}
	{% include navthumb.html thumb="../Greed.jpg" link="chronological/greed-simple" caption="Greed Arc" style="background-color:var(--greed-color);" %}
	{% include navthumb.html thumb="../Wrath.png" link="chronological/wrath-simple" caption="Wrath Arc" style="background-color:var(--wrath-color);" %}
	{% include navthumb.html thumb="../4Endings.jpg" link="chronological/four-endings-simple" caption="Four Endings Series" style="background-color:var(--fourendings-color);" %}
</navigation>
{% include copyright.html copyrights="VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin &amp; Len|Megurine Luka|Camui Gackpo|GUMI" artists="Ichika|Suzunosuke|you-ring" %}