---
title: Simplified Sloth Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: sloth-color
background: sloth-background
link-color: sloth-link
furi-color: sloth-furi
permalink: chronological/sloth/simple
image: /assets/images/Sloth.png
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/sloth.html %}"><img class="circle introImage" src="/assets/images/Sloth.png" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Sloth Arc Timeline</h1>
	<div class="subtitle"><span class="quote">Yes I am the sleep princess,<br />For the sake of your happiness……</span><br />—<a href="{% link song/gift-from-the-princess-who-brought-sleep.html %}"><em>gift from the Princess who Brought Sleep</em></a></div>
	<p>Media occuring during the Sloth Arc in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="DSOEGift.png" link="novel/gift-from-the-princess-who-brought-sleep" eng="Gift Bonus Story" date="EC 582&mdash;608" format="none" %}
	{% include navthumb.html thumb="Gift.jpg" link="song/gift-from-the-princess-who-brought-sleep" eng="gift from the Princess who Brought Sleep" date="EC 609" %}
	{% include navthumb.html thumb="GiftManga.png" link="other/manga-shorts" eng="gift from the Princess who Brought Sleep" date="EC 609" format="quote" %}
	{% include navthumb.html thumb="DSOEGift.png" link="novel/gift-from-the-princess-who-brought-sleep" eng="Deadly Sins of Evil: gift from the Princess who Brought Sleep" date="EC 609" %}
	{% include navthumb.html thumb="PierrotManga.png" link="other/manga-shorts" eng="Fifth Pierrot" date="EC 610" format="quote" %}
	{% include navthumb.html thumb="Pierrot.jpg" link="song/fifth-pierrot" eng="Fifth Pierrot" date="EC 610" %}
	{% include navthumb.html thumb="DSOEPierrot.png" link="novel/fifth-pierrot" eng="Deadly Sins of Evil: Fifth Pierrot" date="EC 610" %}
	{% include navthumb.html thumb="DSOEPierrot.png" link="novel/fifth-pierrot" eng="Pierrot & SCAP Bonus Story" date="EC 610" format="none" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|Hatsune Miku|KAITO|Kagamine Len|MEIKO" artists="Ichika|Hekicha" %}