---
title: Simplified Wrath Arc Timeline &mdash; The Evillious Chronicles
layout: default
foreground: wrath-color
background: wrath-background
link-color: wrath-link
furi-color: wrath-furi
permalink: chronological/wrath/simple
image: /assets/images/Wrath.png
---
<div class="flex" id="intro">
	<header>
	<a href="{% link chronological/wrath.html %}"><img class="circle introImage" src="/assets/images/Wrath.png" /></a>
	<h1><em>The Evillious Chronicles</em>:<br />Simplified Wrath Arc Timeline</h1>
	<div class="subtitle"><span class="quote">The sole feeling left behind<br />Is overflowing wrath.</span><br />—<a href="{% link song/and-then-the-girl-went-mad.html %}"><em>And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―</em></a></div>
	<p>Media occuring during the Wrath Arc in chronological order.</p>
	{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="HeartbeatFV.png" link="song/heartbeat-clocktower" eng="Heartbeat Clocktower" date="EC 990" %}
	{% include navthumb.html thumb="EvilsForest.png" link="song/master-of-the-graveyard" eng="master of the graveyard" date="EC 990s" %}
	{% include navthumb.html thumb="EvilsForest.png" link="album/evils-forest" eng="EVILS FOREST" date="EC 990s" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" date="EC 990s" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="song/master-of-the-court" eng="master of the court" date="EC 990s" %}
	{% include navthumb.html thumb="CapriccioFarce.jpg" link="song/capriccio-farce" eng="Capriccio Farce" date="EC 998" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" date="EC 998" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/master-of-the-hellish-yard" eng="master of the hellish yard" date="EC 998" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" date="EC 998" %}
	{% include navthumb.html thumb="DSOENemesis.jpg" link="novel/muzzle-of-nemesis" eng="Deadly Sins of Evil: The Muzzle of Nemesis" date="EC 960s&mdash;EC 1000" %}
</navigation>
{% include copyright.html sublink="Chrono Timeline" sublink-target="chronological/simple" copyrights="VOCALOID|GUMI|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|MEIKO|Camui Gackpo" artists="Ichika|Suzunosuke|Uichiro Aoyagi" %}