:root {/**sets consistent theme colors for each arc**/
	--oss-color: #7A7A7A;
	--oss-background: #B5B5B5;
	--oss-link: #363636;
	--oss-furi: #484848;

	--lust-color: #B167E6;
	--lust-background: #C393E6;
	--lust-link: #6E15AD;
	--lust-furi: #6E15AD;

	--gluttony-color: #D91E2B;
	--gluttony-background: #E36871;
	--gluttony-link: #570006;
	--gluttony-furi: #760810;

	--pride-color: #E3D839;
	--pride-background: #FFFF91;
	--pride-link: #A19608;
	--pride-furi: #A19608;

	--sloth-color: #2ADBD2;
	--sloth-background: #86EBE5;
	--sloth-link: #01827B;
	--sloth-furi: #019089;

	--envy-color: #F05B98;
	--envy-background: #F28AB4;
	--envy-link: #B31052;
	--envy-furi: #B31052;

	--greed-color: #446CE3;
	--greed-background: #738FE6;
	--greed-link: #062B99;
	--greed-furi: #133BB1;

	--wrath-color: #41B037;
	--wrath-background: #7FD177;
	--wrath-link: #096600;
	--wrath-furi: #096600;

	--fourendings-color: #D1D1D1;
	--fourendings-background: #EDEDED;
	--fourendings-link: #949494;
	--fourendings-furi: #949494;
}