:root {/**sets consistent accent colors for each vocaloid**/
	--miku-color: #39D9C7;
	--rin-color: #EBDF2C;
	--len-color: #EBB42C;
	--luka-color: #EB5CA9;
	--haku-color: #BFC1C2;
	--neru-color: #FFD700;
	--meiko-color: #C82318;
	--kaito-color: #2E52DD;

	--gackpo-color: #9146C7;
	--gumi-color: #07A607;
	--lily-color: #EFE81D;

	--miki-color: #F68968;
	--yuki-color: #DA5E4C;
	--kiyoteru-color: #A87152;
	--iroha-color: #D35263;
	
	--mayu-color: #E1BEf4;

	--leon-color: #FF4D30;
	--miriam-color: #CABED2;
	--prima-color: #9088D7;
	--tonio-color: #B59F58;
	--ann-color: #FFEA00;

	--teto-color: #E73C68;
	--yufu-color: #E6E6E6;
}