.lyricbox {
	strong {
		font-weight: normal;
		font-size:1.5em;
		line-height:1.4em;
	}
	
	.romaji strong {
		font-weight:bold;
		font-size:unset;
	}
	
	em {
		font-style: normal;
		color: #c00000;
	}
	
	em.blue {
		color: #1515c6;
	}
}