@import "vocaloid-colors";
@import "arc-colors";

#intro {
	margin-bottom:0;
}

.characters {
	align-items: stretch;/**gives all the infocards in a row the same height**/

	article {
		flex: 1 0 30%;
		justify-content: flex-start;
		h2 {
			text-align: center;
		}
		h3 {
			font-weight: normal;/**bold japanese text usually looks kinda bleh and i don't want it here**/
			font-size: smaller;
			text-align: center;
			margin-top: .1em;/**just a bit of padding between the english and japanese names**/
		}
		img {/**the source images should all be 200x200px anyways but yknow**/
			width: 200px;
			height: 200px;
		}
	}
	/** this next bit is all just rules to color the little infocards by vocaloid**/
	.miku {
		background-color: var(--miku-color);
	}

	.rin {
		background-color: var(--rin-color);
	}

	.len {
		background-color: var(--len-color);
	}

	.rin.len {/**this is only use for the sarvants in evils theater**/
		background-image: linear-gradient(to right, var(--rin-color), var(--len-color));
	}

	.luka {
		background-color: var(--luka-color);
	}

	.haku {
		background-color: var(--haku-color);
	}

	.neru {
		background-color: var(--neru-color);
	}

	.meiko {
		background-color: var(--meiko-color);
	}

	.kaito {
		background-color: var(--kaito-color);
	}

	.gackpo {
		background-color: var(--gackpo-color);
	}

	.gumi {
		background-color: var(--gumi-color);
	}

	.lily {
		background-color: var(--lily-color);
	}

	.miki {
		background-color: var(--miki-color);
	}

	.yuki {
		background-color: var(--yuki-color);
	}

	.kiyoteru {
		background-color: var(--kiyoteru-color);
	}

	.iroha {
		background-color: var(--iroha-color);
	}

	.leon {
		background-color: var(--leon-color);
	}

	.miriam {
		background-color: var(--miriam-color);
	}

	.prima {
		background-color: var(--prima-color);
	}

	.tonio {
		background-color: var(--tonio-color);
	}

	.ann {
		background-color: var(--ann-color);
	}

	.teto {
		background-color: var(--teto-color);
	}

	.yufu {
		background-color: var(--yufu-color);
	}
}