.timeline {/**just changes up the margins of the bulleted lists a tad**/
	text-align: left;
	ul {
		margin: 5px 0;
	}
}

.citation {/**superscripts that shit, just like wikipedia**/
	vertical-align: super;
	font-size: smaller;
}

#refs {/**formats up this section a bit**/
	padding: 0;
	margin-top: 10vh;/**visual separator from the main timeline bit**/
	h1 {
		background-color: var(--foreground-color);
		margin: 5px 0;
		font-size: 1.5em;
		border-radius: 10px;
		padding: 5px;
	}
	.bibliography {/**changes up the list style but only a little**/
		li {
			margin-left: 1.75em;
		}
		:target {
			font-weight: bold;
		}
	}
}