#album {
	margin-top:0;
	figure {
		display:grid;
		gap:1vw 0;
		grid-template-rows:3vw 37vw;
		grid-template-columns:100%;
		background-color:#60492f;
		padding:2vw;
		font-family:sans-serif;
		text-align:left;
		h2 {
			color:white;
			font-size:2vw;
			line-height:2vw;
			align-self:center;
			padding-left:2.3vw;
			text-align:left;
			background-repeat:no-repeat;
			background-size:2vw;
			background-position:left;
		}
		.lyrics {
			display:flex;
			flex-direction:column;
			flex-wrap:wrap;
			p {
				color:white;
				width:33.3%;
				font-size:1vw;
			}
			.versebreak {
				margin-bottom:2em;
			}
		}
		h3 {
			color:white;
			font-weight:normal;
			text-align:center;
			font-family:serif;
			font-size:.9vw;
			transform-origin:bottom left;
			transform:rotate(-45deg);
			position:absolute;
			right: -1vw;
			bottom: .5vw;
			text-align:center;
			z-index:1;
		}
		.disk01 {
			background-image:url('/assets/images/booklet/evils-extra/disk01.png');
		}
		.disk02 {
			background-image:url('/assets/images/booklet/evils-extra/disk02.png');
		}
		.disk03 {
			background-image:url('/assets/images/booklet/evils-extra/disk03.png');
		}
		.disk04 {
			background-image:url('/assets/images/booklet/evils-extra/disk04.png');
		}
		.disk05 {
			background-image:url('/assets/images/booklet/evils-extra/disk05.png');
		}
		.disk06 {
			background-image:url('/assets/images/booklet/evils-extra/disk06.png');
		}
		.disk07 {
			background-image:url('/assets/images/booklet/evils-extra/disk07.png');
		}
		.disk08 {
			background-image:url('/assets/images/booklet/evils-extra/disk08.png');
		}
		.disk09 {
			background-image:url('/assets/images/booklet/evils-extra/disk09.png');
		}
		.disk10 {
			background-image:url('/assets/images/booklet/evils-extra/disk10.png');
		}
		.disk11 {
			background-image:url('/assets/images/booklet/evils-extra/disk11.png');
		}
		.disk12 {
			background-image:url('/assets/images/booklet/evils-extra/disk12.png');
		}
	}
	
	#p01 {
		background-image:url('/assets/images/booklet/evils-extra/01.png');
		h2, h3 {
			display:none;
		}
	}
	
	#p02 {
		display:flex;
		justify-content:flex-start;
		gap:0;
		p {
			width:50%;
			font-size:1.3vw;
			font-family:serif;
		}
	}
	
	#p03 {
		.lyrics p {
			font-size:.75vw;
		}
	}
	
	#p04 {
		grid-template-columns:1fr 1fr 1fr;
		h2 {
			grid-column:1 / span 3;
		}
		.lyrics p {
			width:100%;
		}
	}
	
	#p05 {
		right:-1.5vw;
	}
	
	#p06 {
		.lyrics p {
			font-size:.95vw;
		}
		h3 {
			right:-.5vw;
		}
	}
	
	#p07 {
		.lyrics p {
			font-size:.95vw;
		}
		h3 {
			right:0;
		}
	}
	
	#p08 {
		h3 {
			right:-.5vw;
		}
	}
	
	#p09 {
		h3 {
			right:-.5vw;
		}
	}
	
	#p10 {
		grid-template-rows:3vw 33vw 3vw;
		.lyrics p {
			font-size:.9vw;
		}
		h2:nth-of-type(1) {
			font-size:1.87vw;
		}
		h3:nth-of-type(1) {
			bottom:5.5vw;
			right:-.75vw;
		}
		h3:nth-of-type(2) {
			right:-.75vw;
		}
	}
	
	#p11 {
		h2 {
			font-size:1.44vw;
		}
		h3 {
			right:.5vw;
			bottom:1vw;
		}
		p {
			font-size:.85vw;
		}
	}
	
	#p12 {
		grid-template-columns:1fr 1fr 1fr;
		h2 {
			grid-column:1 / span 3;
			font-size:1.57vw;
		}
		h3 {
			right:-.25vw;
		}
		.lyrics p {
			width:100%;
		}
	}
	
	#p13 {
		p {
			font-size:.85vw;
		}
	}
	
	#p14 {
		display:flex;
		justify-content:flex-start;
		gap:0;
		p {
			width:50%;
			font-size:1.2vw;
			font-family:serif;
		}
	}
	
	#p15 {
		display:flex;
		gap:0;
		background-image:url('/assets/images/booklet/evils-extra/15.png');
		background-size:25%;
		background-position:center 1vw;
		background-repeat:no-repeat;
		padding:12.5vw 2vw 7vw;
		justify-content:center;
		h2 {
			display:none;
		}
		h3 {
			right:1.5vw;
			bottom:1.5vw;
			transform:unset;
			text-align:right;
			font-size:1.25vw;
		}
		p {
			font-size:1vw;
			background-size:1vw;
			background-repeat:no-repeat;
			width:50%;
			margin-bottom:.5em;
		}
		p.left {
			background-position:left;
			margin-left: calc(20.5vw - 2em);
			padding-left:1.25em;
			text-align:left;
		}
		p.right {
			background-position:right;
			margin-right: calc(20.5vw - 2em);
			padding-right:1.25em;
			text-align:right;
		}
	}
	
	#p16 {
		background-image:url('/assets/images/booklet/evils-extra/16.png');
	}
}

#prescript {
	font-family:serif;
	line-height:calc(4em/3);
}