:root {
	--infobox-color: var(--link-color);/**wake up babe new variable just dropped**/
}
#intro {
	max-width: 980px;
	margin: 0 auto 10px auto;
	gap:10px;
	h1 {
		text-align: center;
		padding: 10px;
		background-color: var(--foreground-color);
		border-radius: 10px;
		width: auto;
		min-width: 60%;
		.jpn {/**just a bit smaller than the english title**/
			font-size: .9em;
		}
	}
	img.front,/**"why are these different classes if they're styled the same" because ppbbhhtttt**/
	img.back {
		width: 480px;
		max-width: calc(50% - 5px);
		height: auto;
		border-radius: 15px;
		align-self: stretch;
	}
	header {
		margin: unset;
		min-height: unset;
		text-align: left;
		.quote {/**styles the novel quote**/
			font-size: 1.25em;
			font-style: italic;
			font-weight: bold;
			text-align: center;
		}
		.infobox {/**styles the novel "infobox"/databox/whatever**/
			background-color: var(--infobox-color);
			border-radius: 10px;
			width: 30%;
			float: right;
			margin: .25em;
			z-index: 1;/**this makes it so you can actually interact with the text in the infobox lol**/
			padding: 0 .5em;
		}
		.summary p {/**the summary is in its own div so that the uhh clear thingy on the links works right, i think**/
			text-indent: 2em;
			padding: .25em .5em;
		}
		.links {/**formats the external links**/
			text-align: center;
			clear: both;
		}
	}
}

.art {/**just fucks with the margins and alignments a little uwu**/
	margin:10px auto;
	align-items: flex-end;
}

figure {/**commenting css is boring as fuck. this styles the illustration gallery**/
	background-color: var(--foreground-color);
	border-radius: 15px;
	padding: 5px;
	img {
		max-height: 325px;
	}
	figcaption {
		line-height: 1em;
		font-style:italic;
		background-color:unset;
	}
}

/**Skinny screen**/
	@media screen and (max-width:667px){
	#intro header .infobox {/**unfloats the infobox on skinny screens**/
		float: none;
		width: auto;
		p {
			text-align: center;
		}
	}
	figure img {/**unmaxes the height on skinny screens**/
		max-height: unset;
		width: 275px;
	}
}