#album {
	figure {
		padding:2vw;
		font-family:serif;
	}
	
	.character {
		justify-content:space-between;
		background-color:#aaa;
		gap:1vw;
		div {
			background-repeat:no-repeat;
			background-size:8vw;
			min-height:11.5vw;
			width:100%;
			text-align:left;
			p {
				font-size:1vw;
				padding:0;
			}
			h2 {
				font-weight:inherit;
				font-size:1.5vw;
				margin-bottom:.5vw;
			}
		}
		> .left {
			background-position:left top;
			h2, p {
				padding-left:8.5vw;
			}
		}
		> .right {
			background-position:right top;
			h2, p {
				padding-right:8.5vw;
			}
		}
	}
	
	.commentary {
		justify-content:space-between;
		background-color:black;
		p {
			font-size:1vw;
			padding:0;
		}
		> .left {
			text-align:left;
		}
		> .right {
			text-align:right;
		}
	}
	
	.lyric {
		display:grid;
		grid-gap:0;
		grid-template-rows: 1.75vw 2vw 38.5vw;
		grid-template-columns: 1fr 1fr;
		background-color:#2A2A2A;
		padding:1vw 2vw;
		color: white;
		p {
			font-size:.9vw;
		}
		.versebreak {
			margin-bottom:2em;
		}
		> .left, > .right {
			padding-top:1vw;
		}
		> .left p {
			text-align:left;
		}
		> .right p {
			text-align:right;
		}
		h2 {
			grid-row:2;
			grid-column:1 / span 2;
			justify-self:center;
			align-self:center;
			background-image:url('/assets/images/booklet/oss-complete/heading.jpg');
			background-size:100% 100%;
			min-width:65%;
			padding:.4em 20%;
			font-size:1.25vw;
			font-weight:inherit;
		}
		h3 {
			grid-row:1;
			grid-column:1 / span 2;
			font-weight:inherit;
			font-size:1.25vw;
		}
	}
	
	#p01 {
		background-image:url('/assets/images/booklet/oss-complete/01.jpg');
		h2 {
			color:black;
			font-weight:initial;
			text-align:center;
			position:absolute;
			top:2vw;
			left:0;
			padding:0 2vw;
			font-size:3vw;
			width:100%;
			text-shadow:white .1vw -.1vw 0, white -.1vw .1vw 0, white -.1vw -.1vw 0, white .1vw 0;
		}
		h3 {
			display:none;
		}
	}
	
	#p02 {
		.eve {
			background-image:url('/assets/images/booklet/oss-complete/eve.jpg');
		}
		.adam {
			background-image:url('/assets/images/booklet/oss-complete/adam.jpg');
		}
		.meta {
			background-image:url('/assets/images/booklet/oss-complete/meta.jpg');
		}
	}
	
	#p04 {
		grid-template-rows: 1.75vw 2vw 1vw 1.75vw 2vw 34.75vw;
		h2.second {
			grid-row:5;
			grid-column:1 / span 2;
		}
		h3.second {
			grid-row:4;
			grid-column:1 / span 2;
		}
		p {
			font-size:1vw;
		}
		> .left, > .right {
			grid-row:6;
		}
	}
	
	#p05 {
		p {
			font-size:.8vw;
		}
	}
	
	#p08 {
		.elluka {
			background-image:url('/assets/images/booklet/oss-complete/elluka.jpg');
		}
		.irina {
			background-image:url('/assets/images/booklet/oss-complete/irina.jpg');
		}
	}
	
	#p10 {
		p {
			font-size:.77vw;
		}
	}
	
	#p11 {
		p {
			font-size:.85vw;
		}
	}
	
	#p14 {
		.hansel {
			background-image:url('/assets/images/booklet/oss-complete/hansel.jpg');
		}
		.gretel {
			background-image:url('/assets/images/booklet/oss-complete/gretel.jpg');
		}
		.seth {
			background-image:url('/assets/images/booklet/oss-complete/seth.jpg');
		}
	}
	
	#p19 {
		justify-content:flex-start;
		background-image:url('/assets/images/booklet/thy.png');
		background-position:95% 95%;
		background-size:20%;
		background-repeat:no-repeat;
		background-color:#2A2A2A;
		text-align:left;
		font-size:1.25vw;
		h2 {
			font-size:inherit;
			font-weight:inherit;
			padding:0 .5em;
			margin-bottom:1em;
			font-size:1.5vw;
		}
		h3 {
			font-size:inherit;
			font-weight:inherit;
			text-align:right;
		}
		.thy {
			display: none;
		}
	}
	
	#p20 {
		background-image:url('/assets/images/booklet/oss-complete/20.jpg');
		background-position:center right;
		background-size:contain;
		background-repeat:no-repeat;
		background-color:black;
	}
}