---
english-name: Evils Kingdom
image: /assets/images/thumbs/EvilsKingdom.jpg
album-id: QWCE-10031
intro-image: EvilsKingdom.jpg
quote: Welcome, to 'the forest theater'.
summary: mothy's fifth album featuring a collection of fifteen new and remastered songs arranged in chronological order released on December 22, 2010. The album is licensed through EXIT TUNES and is available on <a href="https://music.apple.com/jp/album/1019179096">Apple Music Japan</a> and <a href="https://www.amazon.com/gp/product/B0046EDAEO">Amazon</a>.
links: <a href="http://akunooukoku.com">Website</a>|<a href="https://www.youtube.com/playlist?list=PL64P8qifrl7FTKdKB722NcObsl94ACoHH">Playlist</a>|<a href="/booklet/evils-kingdom">Booklet</a>
mothyrights: <em>The Evillious Chronicles</em>
copyrights: VOCALOID|Kagamine Rin & Len|Hatsune Miku|Camui Gackpo|MEIKO|KAITO|Megurine Luka
artists: Ichika
---
<section class="tracklist">
	<h2>Tracklist</h2>
	<ol>
		<li><a href="{% link song/moonlit-bear.html %}"><em>moonlit bear</em></a></li>
		<li><a href="{% link song/tale-of-abandonment-on-a-moonlit-night.html %}"><em>Tale of Abandonment on a Moonlit Night</em></a></li>
		<li><a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a></li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a></li>
		<li><a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a></li>
		<li><a href="{% link song/twiright-prank.html %}"><em>Twiright Prank</em></a></li>
		<li><a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a></li>
		<li><a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a></li>
		<li><a href="{% link song/regret-message.html %}"><em>Regret Message</em></a></li>
		<li><a href="{% link song/daughter-of-white.html %}"><em>The Daughter of White</em></a></li>
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a></li>
		<li><a href="{% link song/tailor-of-enbizaka.html %}"><em>The Tailor of Enbizaka</em></a></li>
		<li><a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a></li>
		<li><a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a></li>
		<li><a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a></li>
	</ol>
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The album cover was illustrated by Ichika; the booklet features art by Suzunosuke, Ichika, and Rgveta.</li>
        <li>Initial purchases of the album included <a href="{% link song/song-that-resounds-with-lulila-lulila.html %}"><em>The Song that Resounds with Lulila, Lulila</em></a> as a sixteenth bonus track; its lyrics are featured on the back of the booklet.</li>
        <li>The booklet contains no lyrics; they were instead printed on a seperate sheet.</li>
        <li>The page for each song in the album listed a short phrase alongside commentary from "Ma".</li>
        <li>The end of the booklet features a timeline spanning from the year 001 to 999, with the description for 999 burnt off.</li>
        <li>The album came with many interactive elements that revealed various secrets&mdash;"Ma" introduces a word game on the page for <em>Heartbeat Clocktower</em> that when completed reveals her true identity as "Magician"; aligning punched illustrations over the CD reveals the words "crescent", "mirror", and "twilight" or "Blackbox" and "Solitude"; and aligning a punched illustration over the back of the booklet spells out "{% include jpn.html rom="taizai no utsuwa" jpn="たいざいのうつわ" %}" ("vessels of deadly sin").</li>
	</ul>
</section>

{% include navbox.html group="Additional Albums" id="AA" %}