---
title: Albums &mdash; The Evillious Chronicles
layout: default
css: largeNav.css
---
<div class="flex" id="intro">
	<header>
		<a href="../"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Albums</h1>
		<p>A guide to mothy's albums.</p>
		{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="ScrewsGearsAndPride.jpg" link="album/screws-gears-and-pride" eng="Screws, Gears, and Pride" %}
	{% include navthumb.html thumb="Gemini.jpg" link="album/gemini-of-charm" eng="The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack" %}
	{% include navthumb.html thumb="PreludeToForest.jpg" link="album/prelude-to-forest" eng="prelude to forest" %}
	{% include navthumb.html thumb="EvilsForest.png" link="album/evils-forest" eng="EVILS FOREST" %}
	{% include navthumb.html thumb="ConchitaRevised.jpg" link="album/evil-food-eater-conchita-revised" eng="Evil Food Eater Conchita (revised)" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="album/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="FourMelodies.png" link="album/four-melodies-of-evil" eng="Four Melodies of Evil ~The Daughter of Evil Novel Music Collection~" %}
	{% include navthumb.html thumb="OSS1.jpg" link="album/oss-act-1" eng="Original Sin Story ―Act 1―" %}
	{% include navthumb.html thumb="OSS2.jpg" link="album/oss-act-2" eng="Original Sin Story ―Act 2―" %}
	{% include navthumb.html thumb="BGM.png" link="album/bgm-reading-collection" eng="The Daughter of Evil: BGM Reading Collection" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="album/oss-complete" eng="Original Sin Story ―Complete Edition―" %}
	{% include navthumb.html thumb="Trinity.jpg" link="album/lucifenia-trinity" eng="Lucifenia Trinity" %}
	{% include navthumb.html thumb="HeavenlyAlbum.jpg" link="album/master-of-the-heavenly-yard" eng="master of the heavenly yard" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
	{% include navthumb.html thumb="EATPrologue.jpg" link="album/eat-prologue" eng="E.A.T PROLOGUE" %}
</navigation>
{% include copyright.html copyrights="VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|Camui Gackpo|Lily|GUMI|LE♂N|MIRIAM|Yowane Haku|Kaai Yuki|Nekomura Iroha|MAYU|Sweet ANN|Kasane Teto" artists="Ichika|Renta|Suzunosuke|Mizutame Tori|mothy" %}