---
english-name: >-
  Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+
image: /assets/images/thumbs/WaltzAlbum.png
album-id: AKNP-0015
intro-image: WaltzAlbum.png
quote: 
summary: >-
  mothy's nineteenth album consisting of eight songs featured in the collaboration with the game <em>Project Sekai: Colorful Stage! feat. Hatsune Miku</em>, his recent release <em>The Steel Lady, Rilia-Renée</em>, and one new song, released on June 3, 2023. The album is licensed through <a href="https://karent.jp/album/4050">KARENT</a> and is available on <a href="https://music.apple.com/album/1734179858">Apple Music</a>, <a href="https://www.amazon.com/dp/B0CX3ZTP9C">Amazon</a>, <a href="https://open.spotify.com/album/1EP39WGLXpeSEpBWUo5WOJ">Spotify</a>, and <a href="https://ec.toranoana.jp/tora_r/ec/item/040031069344/">Toranoana</a>.
links: 
mothyrights: >-
  <em>The Evillious Chronicles</em>|<em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len
artists: Ichika
---
<section class="tracklist">
	<h2>Tracklist</h2>
	<ol>
		<li><a href="{% link song/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased</em></a></li>
		<li><a href="{% link song/steel-lady-rilia-renee.html %}"><em>The Steel Lady, Rilia-Renée</em></a></li>
		<li><a href="{% link song/outlaw-and-marionette.html %}"><em>Outlaw&amp;Marionette</em></a></li>
		<li><a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a></li>
		<li><a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a></li>
		<li><a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a></li>
		<li><a href="{% link song/gift-from-the-princess-who-brought-sleep.html %}"><em>gift from the Princess who Brought Sleep</em></a></li>
		<li><a href="{% link song/tailor-of-enbizaka.html %}"><em>The Tailor of Enbizaka</em></a></li>
		<li><a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a></li>
		<li><em>Waltz of the Deceased (Off Vocal Version)</em></li>
	</ol>
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The album was illustrated by Ichika.</li>
		<li>The initial promotional material for the album mispelled the song <em>Outlaw&amp;Marionette</em> as <em>Outlow&amp;Marionette</em>.</li>
		<li>The digital release of the album is simply titled <em>Waltz of the Deceased</em> ({% include jpnauto.html eng="Waltz of the Deceased" %}) and only features the first three songs along with their Off Vocal versions.</li>
	</ul>
</section>

{% include navbar.html group="AKNP Albums" %}