:root { /**sets consistent accent colors for each vocaloid**/ --miku-color: #39D9C7; --rin-color: #EBDF2C; --len-color: #EBB42C; --luka-color: #EB5CA9; --haku-color: #BFC1C2; --neru-color: #FFD700; --meiko-color: #C82318; --kaito-color: #2E52DD; --gackpo-color: #9146C7; --gumi-color: #07A607; --lily-color: #EFE81D; --miki-color: #F68968; --yuki-color: #DA5E4C; --kiyoteru-color: #A87152; --iroha-color: #D35263; --mayu-color: #E1BEf4; --leon-color: #FF4D30; --miriam-color: #CABED2; --prima-color: #9088D7; --tonio-color: #B59F58; --ann-color: #FFEA00; --teto-color: #E73C68; --yufu-color: #E6E6E6; }

:root { /**sets consistent theme colors for each arc**/ --oss-color: #7A7A7A; --oss-background: #B5B5B5; --oss-link: #363636; --oss-furi: #484848; --lust-color: #B167E6; --lust-background: #C393E6; --lust-link: #6E15AD; --lust-furi: #6E15AD; --gluttony-color: #D91E2B; --gluttony-background: #E36871; --gluttony-link: #570006; --gluttony-furi: #760810; --pride-color: #E3D839; --pride-background: #FFFF91; --pride-link: #A19608; --pride-furi: #A19608; --sloth-color: #2ADBD2; --sloth-background: #86EBE5; --sloth-link: #01827B; --sloth-furi: #019089; --envy-color: #F05B98; --envy-background: #F28AB4; --envy-link: #B31052; --envy-furi: #B31052; --greed-color: #446CE3; --greed-background: #738FE6; --greed-link: #062B99; --greed-furi: #133BB1; --wrath-color: #41B037; --wrath-background: #7FD177; --wrath-link: #096600; --wrath-furi: #096600; --fourendings-color: #D1D1D1; --fourendings-background: #EDEDED; --fourendings-link: #949494; --fourendings-furi: #949494; }

#intro { margin-bottom: 0; }

.characters { align-items: stretch; /**gives all the infocards in a row the same height**/ /** this next bit is all just rules to color the little infocards by vocaloid**/ }

.characters article { min-width: 220px; /**so the image bit doesn't end up having its margins cut off**/ flex-basis: 100%; max-width: unset; justify-content: flex-start; }

.characters article h2 { text-align: center; }

.characters article h3 { font-weight: normal; /**bold japanese text usually looks kinda bleh and i don't want it here**/ font-size: smaller; text-align: center; margin-top: .1em; /**just a bit of padding between the english and japanese names**/ }

.characters article img { /**the source images should all be 200x200px anyways but yknow**/ width: 200px; height: 200px; }

.characters .miku { background-color: var(--miku-color); }

.characters .rin { background-color: var(--rin-color); }

.characters .len { background-color: var(--len-color); }

.characters .rin.len { /**this is only use for the sarvants in evils theater**/ background-image: linear-gradient(to right, var(--rin-color), var(--len-color)); }

.characters .luka { background-color: var(--luka-color); }

.characters .haku { background-color: var(--haku-color); }

.characters .neru { background-color: var(--neru-color); }

.characters .meiko { background-color: var(--meiko-color); }

.characters .kaito { background-color: var(--kaito-color); }

.characters .gackpo { background-color: var(--gackpo-color); }

.characters .gumi { background-color: var(--gumi-color); }

.characters .lily { background-color: var(--lily-color); }

.characters .miki { background-color: var(--miki-color); }

.characters .yuki { background-color: var(--yuki-color); }

.characters .kiyoteru { background-color: var(--kiyoteru-color); }

.characters .iroha { background-color: var(--iroha-color); }

.characters .leon { background-color: var(--leon-color); }

.characters .miriam { background-color: var(--miriam-color); }

.characters .prima { background-color: var(--prima-color); }

.characters .tonio { background-color: var(--tonio-color); }

.characters .ann { background-color: var(--ann-color); }

.characters .teto { background-color: var(--teto-color); }

.characters .yufu { background-color: var(--yufu-color); }

/**Skinny screens**/
@media screen and (min-width: 470px) and (max-width: 699px) { .characters article { /**switches to two columns on larger screens**/ flex-basis: calc((100% - 10px)/2); } }

@media screen and (min-width: 700px) { .characters article { /**switches to three columns on largest screens**/ flex-basis: calc((100% - 20px)/3); } }

/*# sourceMappingURL=characters.css.map */