---
english-name: 969
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
translation: https://pricechecktranslations.tumblr.com/post/762157291429642240
mothyrights: <em>The Evillious Chronicles</em>|<em>969</em>
---
<div>
	<h3><a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="足りない登場人物を/また人形で埋め合わせた/もう僕の周りには/生きた人はいないから"
			romaji="tarinai toujou jinbutsu wo/mata ningyou de umeawaseta/mou boku no mawari ni wa/ikita hito wa inai kara"
		%}
		{% include verse.html
			lyrics="絶え間なく増える友よ/君らもいつかあの子のように/僕を裏切るの？/絶え間ない幻想なら/ぜんまいさえもういらない"
			romaji="taemanaku fueru tomo yo/kimira mo itsuka ano ko no you ni/boku wo uragiru no?/taemanai gensou nara/zenmai sae mou iranai"
		%}
		{% include verse.html
			lyrics="正直うんざりしてる/同じパターンの繰り返し/変わったのは周りの方/それならそれでいいかな"
			romaji="shoujiki unzarishiteru/onaji PATAAN no kurikaeshi/kawatta no wa mawari no hou/sore nara sore de ii ka na"
		%}
		{% include verse.html
			lyrics="付けられた番号には/価値など無いし意味さえ無いし/期待もしないで/なぜだろう止まらない/ぜんまいさえもう無いのに"
			romaji="tsukerareta bangou ni wa/kachi nado muishi imi sae naishi/kitai mo shinai de/naze darou tomaranai/zenmai sae mou nai no ni"
		%}
		{% include verse.html
			lyrics="黒き魔女に譲った種/奇麗な花を咲かせた"
			romaji="kuroki majo ni yuzutta tane/kireina hana wo sakaseta"
		%}
		{% include verse.html
			lyrics="絶え間なく増える友よ/君らもいつかあの子のように/僕を裏切るの？/絶え間ない幻想なら/ぜんまいさえもういらない"
			romaji="taemanaku fueru tomo yo/kimira mo itsuka ano ko no you ni/boku wo uragiru no?/taemanai gensou nara/zenmai sae mou iranai"
		%}
	</div>
</div>