---
english-name: A Hero's Armor is Always Crimson
translation: https://pricechecktranslations.tumblr.com/post/148631385680
mothyrights: <em>The Evillious Chronicles</em>|<em>A Hero's Armor is Always Crimson</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="戦が終わり荒れ果てた町を/一人の騎士が歩く/彼は誰より戦果を挙げた/誰より人を殺した"
			romaji="ikusa ga owari arehateta machi wo/hitori no kishi ga aruku/kare wa dare yori senga wo ageta/dare yori hito wo koroshita"
		%}
		{% include verse.html
			lyrics="敵国の民はその姿恐れ/必死に命乞いをする/しかしその願いを彼が/聞き入れることは決してない"
			romaji="tekikoku no tami wa sono sugata osore/hisshi ni inochigoi wo suru/shikashi sono negai wo kare ga/kikiireru koto wa keshitenai"
		%}
		{% include verse.html
			lyrics="女の亡骸が抱えた/無邪気に微笑む赤子/彼は冷たい眼のまま/剣を振り上げた"
			romaji="onna no nakigara ga kakaeta/mujaki ni hohoemu akago/kare wa tsumetai me no mama/tsurugi wo furiageta"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと浴びた返り血の色/誰かのための行いだとしても/それを「正義」と呼べるのか"
			romaji="eiyuu no yori wa tsuneni akaku/sore wa kitto abita kaerichi no iro/dareka no tame no okonai da toshite mo/sore wo &quot;seigi&quot; to yoberu no ka"
		%}
		{% include verse.html
			lyrics="それから五年の月日が流れ/戦は今日も続く/騎士を仮住まいで待つのは/一人の可憐な少女"
			romaji="sore kara gonen no tsukihi ga nagare/ikusa wa kyou mo tsudzuku/kishi wo karizumai de matsu no wa/hitori no karenna shoujo"
		%}
		{% include verse.html
			lyrics="あの時彼女の服に縫われた/皇家の紋に気づいた/手元に置いておけばいつか/人質くらいにはなるだろう"
			romaji="ano toki kanojo no fuku ni nuwareta/ouke no mon ni kidzuita/temoto ni oiteokeba itsuka/hitojichi kurai ni wa naru darou"
		%}
		{% include verse.html
			lyrics="「お帰り父さん」と微笑む/無邪気で愚かな娘/お前の親を殺したのは/この俺だというのに"
			romaji="&quot;okaeri tou-san&quot; to hohemu/mujaki de orokana musume/omae no oya wo koroshita no wa/kono ore da to iu no ni"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと彼の野心と同じ色/誰かのための行いだとしても/それを「正義」と呼べるのか"
			romaji="eiyuu no yori wa tsuneni akaku/sore wa kitto kare no yashin to onaji iro/dareka no tame no okonai da toshite mo/sore wo &quot;seigi&quot; to yoberu no ka"
		%}
		{% include verse.html
			lyrics="戦場には/様々なものがはびこっている/勝利|敗北|憎しみ|時の運/そして裏切り/気が付けば騎士は/大勢の敵に囲まれていた/彼らがただの兵士でないことは/明らかだった"
			romaji="senjou ni wa/samazamana mono ga habikotteiru/shouri|haiboku|nikushimi|toki no un/soshite uragiri/kigatsukeba kishi wa/oozei no teki ni kakomareteita/karera ga tada no heishi denai koto wa/akiraka datta"
		%}
		{% include verse.html
			lyrics="「おとなしく娘を差し出せ」と/迫る黒装束の老婆/従えばおそらく/娘の命はないだろう/しかしそれは騎士にとって/望むところだったはず/そのためにこの子を今まで/飼っていたのだから"
			romaji="&quot;otonashiku musume wo sashidase&quot; to/semaru kuroshouzoku no rouba/shitagaeba osoraku/musume no inochi wa nai darou/shikashi sore wa kishi ni totte/nozomu tokoro datta hazu/sono tame ni kono ko wo ima made/katteita no dakara"
		%}
		{% include verse.html
			lyrics="剣を持ち騎士を守るように/前に立った者がいた/震えてる小さな背中/それは幼いあの子だった"
			romaji="ken wo mochi kishi wo mamoru you ni/mae ni tatta mono ga ita/furueteru chiisana senaka/sore wa osanai ano ko datta"
		%}
		{% include verse.html
			lyrics="憐れな娘よ/お前が父と慕う者は/今まさにお前を売ろうとしていたというのに"
			romaji="awarena musume yo/omae ga chichi to shitau mono wa/ima masa ni omae wo urou toshiteita no iu no ni"
		%}
		{% include verse.html
			lyrics="騎士は娘の頭を優しく撫でた後/殺し屋に向かって剣を抜いた……"
			romaji="kishi wa musume no atama wo yasashiku nadeta ato/koroshiya ni mukatte ken wo nuita......"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと浴びた夕焼けの色/血塗られた時代の中|手を繋いで/歩いていく騎士と娘"
			romaji="eiyuu no yoroi wa tsuneni akaku/sore wa kitto abita yuuyake no iro/chinurareta jidai no naka|te wo tsunaide/aruiteiku kishi to musume"
		%}
		{% include verse.html
			lyrics="戦場には正義も悪もない/贖罪の日はいつかやって来るだろう/やがて来るその時まで彼は/「父」でいようと決意した"
			romaji="senjou ni wa seigi mo aku mo nai/shokuzai no hi wa itsuka yattekuru darou/yagate kuru sono toki made kare wa/&quot;chichi&quot; de iyou to ketsuishita"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/lucifenia-trinity.html %}"><em>Lucifenia Trinity</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="戦が終わり荒れ果てた町を/一人の騎士が歩く/彼は誰より戦果を挙げた/誰より人を殺した"
			romaji="ikusa ga owari arehateta machi wo/hitori no kishi ga aruku/kare wa dare yori senga wo ageta/dare yori hito wo koroshita"
		%}
		{% include verse.html
			lyrics="敵国の民はその姿恐れ/必死に命乞いをする/しかしその願いを彼が/聞き入れることは決してない"
			romaji="tekikoku no tami wa sono sugata osore/hisshi ni inochigoi wo suru/shikashi sono negai wo kare ga/kikiireru koto wa keshitenai"
		%}
		{% include verse.html
			lyrics="女の亡骸が抱えた/無邪気に微笑む赤子/彼は冷たい眼のまま/剣を振り上げた"
			romaji="onna no nakigara ga kakaeta/mujaki ni hohoemu akago/kare wa tsumetai me no mama/tsurugi wo furiageta"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと浴びた返り血の色/誰かのための行いだとしても/それを「正義」と呼べるのか"
			romaji="eiyuu no yori wa tsuneni akaku/sore wa kitto abita kaerichi no iro/dareka no tame no okonai da toshite mo/sore wo &quot;seigi&quot; to yoberu no ka"
		%}
		{% include verse.html
			lyrics="それから五年の月日が流れ/戦は今日も続く/騎士を仮住まいで待つのは/一人の可憐な少女"
			romaji="sore kara gonen no tsukihi ga nagare/ikusa wa kyou mo tsudzuku/kishi wo karizumai de matsu no wa/hitori no karenna shoujo"
		%}
		{% include verse.html
			lyrics="あの時彼女の服に縫われた/皇家の紋に気づいた/手元に置いておけばいつか/人質くらいにはなるだろう"
			romaji="ano toki kanojo no fuku ni nuwareta/ouke no mon ni kidzuita/temoto ni oiteokeba itsuka/hitojichi kurai ni wa naru darou"
		%}
		{% include verse.html
			lyrics="「お帰り父さん」と微笑む/無邪気で愚かな娘/お前の親を殺したのは/この俺だというのに"
			romaji="&quot;okaeri tou-san&quot; to hohemu/mujaki de orokana musume/omae no oya wo koroshita no wa/kono ore da to iu no ni"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと彼の野心と同じ色/誰かのための行いだとしても/それを「正義」と呼べるのか"
			romaji="eiyuu no yori wa tsuneni akaku/sore wa kitto kare no yashin to onaji iro/dareka no tame no okonai da toshite mo/sore wo &quot;seigi&quot; to yoberu no ka"
		%}
		{% include verse.html
			lyrics="戦場には様々なものが/はびこっている/勝利|敗北|憎しみ|時の運/そして裏切り/気が付けば騎士は/大勢の敵に囲まれていた/彼らがただの兵士でないことは/明らかだった"
			romaji="senjou ni wa samazamana mono ga/habikotteiru/shouri|haiboku|nikushimi|toki no un/soshite uragiri/kigatsukeba kishi wa/oozei no teki ni kakomareteita/karera ga tada no heishi denai koto wa/akiraka datta"
		%}
		{% include verse.html
			lyrics="「おとなしく娘を差し出せ」/と迫る黒装束の老婆/従えばおそらく/娘の命はないだろう/しかしそれは騎士にとって/望むところだったはず/そのためにこの子を今まで/飼っていたのだから"
			romaji="&quot;otonashiku musume wo sashidase&quot;/to semaru kuroshouzoku no rouba/shitagaeba osoraku/musume no inochi wa nai darou/shikashi sore wa kishi ni totte/nozomu tokoro datta hazu/sono tame ni kono ko wo ima made/katteita no dakara"
		%}
		{% include verse.html
			lyrics="剣を持ち騎士を守るように/前に立った者がいた/震えてる小さな背中/それは幼いあの子だった"
			romaji="ken wo mochi kishi wo mamoru you ni/mae ni tatta mono ga ita/furueteru chiisana senaka/sore wa osanai ano ko datta"
		%}
		{% include verse.html
			lyrics="憐れな娘よ/お前が父と慕う者は/今まさにお前を売ろうとしていたというのに"
			romaji="awarena musume yo/omae ga chichi to shitau mono wa/ima masa ni omae wo urou toshiteita no iu no ni"
		%}
		{% include verse.html
			lyrics="騎士は娘の頭を優しく撫でた後/殺し屋に向かって剣を抜いた……"
			romaji="kishi wa musume no atama wo yasashiku nadeta ato/koroshiya ni mukatte ken wo nuita......"
		%}
		{% include verse.html
			lyrics="英雄の鎧は常に紅く/それはきっと浴びた夕焼けの色/血塗られた時代の中|手を繋いで/歩いていく騎士と娘"
			romaji="eiyuu no yoroi wa tsuneni akaku/sore wa kitto abita yuuyake no iro/chinurareta jidai no naka|te wo tsunaide/aruiteiku kishi to musume"
		%}
		{% include verse.html
			lyrics="戦場には正義も悪もない/贖罪の日はいつかやって来るだろう/やがて来るその時まで彼は/「父」でいようと決意した"
			romaji="senjou ni wa seigi mo aku mo nai/shokuzai no hi wa itsuka yattekuru darou/yagate kuru sono toki made kare wa/&quot;chichi&quot; de iyou to ketsuishita"
		%}
	</div>
</div>