---
english-name: And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―
translation: https://pricechecktranslations.tumblr.com/post/104116108110
mothyrights: <em>The Evillious Chronicles</em>|<em>And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―</em>
---
<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> &middot; <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="光源の陰|消え去りし面影に/怯えながら|母の帰りを待つ"
		romaji="kougen no kage|kiesarishi omokage ni/obie nagara|haha no kaeri wo matsu"
	%}
	{% include verse.html
		lyrics="晴天を避け|小屋に篭る私は/果たしてまだ|正気なのでしょうか"
		romaji="seiten wo sake|koya ni komoru watashi wa/hatashite mada|shoukina no deshou ka"
	%}
	{% include verse.html
		lyrics="「置き去りね」「置き去りだ」/誰かが囁いた/違うわよ/私は見捨てられてなんか/いないんだからね"
		romaji="&quot;okizari ne&quot; &quot;okizari da&quot;/dareka ga sasayaita/chigau wa yo/watashi wa misuterarete nanka/inai ndakara ne"
	%}
	{% include verse.html
		lyrics="一人ぼっち残された私は/静に少しずつ狂い始める/お月さまのわずかな光では/私を照らせない"
		romaji="hitoribocchi nokosareta watashi wa/shizuka ni sukoshizutsu kurui hajimeru/otsuki-sama no wazukana hikari de wa/watashi wo terasenai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="一人ぼっち残された私は/笑顔も涙も忘れ始めている/唯一残された感情は/溢れ出る憤怒"
		romaji="hitoribocchi nokosareta watashi wa/egao mo namida mo wasure hajimeteiru/yuitsu nokosareta kanjou wa/afurederu funnu"
	%}
	{% include verse.html
		lyrics="目覚めた時に|いつも一人きりなの/それが怖くて|私は眠れない"
		romaji="mezameta toki ni|itsumo hitorikirina no/sore ga kowakute|watashi wa nemurenai"
	%}
	{% include verse.html
		lyrics="闇に覆われ|塗りつぶされたような/部屋で一人|私は震えてる"
		romaji="yami ni ooware|nuritsubusareta youna/heya de hitori|watashi wa furueteru"
	%}
	{% include verse.html
		lyrics="鍵を開けて|鍵を開けて/何度叫んでも/願いは|かなわない/見えぬ双子の声だけが/響いている"
		romaji="kagi wo akete|kagi wo akete/nando sake ndemo/negai wa|kanawanai/mienu futago no koe dake ga/hibiiteiru"
	%}
	{% include verse.html
		lyrics="一人ぼっち残された私は/静に少しずつ狂い始める/あるいはそれこそがお母さんの/望みかもしれない"
		romaji="hitoribocchi nokosareta watashi wa/shizuka ni sukoshizutsu kurui hajimeru/arui wa sore koso ga okaa-san no/nozomi kamo shirenai"
	%}
	{% include verse.html
		lyrics="一人ぼっち残された私は/笑顔も涙も忘れ始めている/唯一残された感情は/溢れ出る憤怒"
		romaji="hitoribocchi nokosareta watashi wa/egao mo namida mo wasure hajimeteiru/yuitsu nokosareta kanjou wa/afurederu funnu"
	%}
</div>