---
english-name: At the End of a Millennium Vow
image: /assets/images/thumbs/MillenniumVow.png
translation: https://pricechecktranslations.tumblr.com/post/737247235825418240
mothyrights: <em>The Evillious Chronicles</em>|<em>At the End of a Millennium Vow</em>
---
<div>
	<h3><a href="{% link album/miku-symphony-2023.html %}"><em>Hatsune Miku Symphony 2023 Live at Suntory Hall</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="千年の誓いの果てに/滅びの運命|訪れる/千年樹は常に見ていた/人が紡いだ罪と罰の歴史"
			romaji="sennen no chikai no hate ni/horobi no unmei|otozureru/sennenju wa tsune ni miteita/hito ga tsumuida tsumi to batsu no rekishi"
		%}
		{% include verse.html
			lyrics="むかしむかしクライ森の奥で/出会ったイブに恋をした/彼女に僕は赤い木の実の/在処を教えてあげたのさ"
			romaji="mukashi mukashi KURAI mori no oku de/deatta IBU ni koi wo shita/kanojo ni boku wa akai ki no mi no/arika wo oshiete ageta no sa"
		%}
		{% include verse.html
			lyrics="それが全ての罪の始まりだった"
			romaji="sore ga subete no tsumi no hajimari datta"
		%}
		{% include verse.html
			lyrics="放たれた七つの光を/時の魔道師が追い求めた"
			romaji="hanatareta nanatsu no hikari wo/toki no madoushi ga oimotometa"
		%}
		{% include verse.html
			lyrics="十年の狂気の果てに|罪の悪魔が動き出す/とても小さくひ弱な僕の/コマドリの体ではなにもできなかった"
			romaji="juunen no kyouki no hate ni/tsumi no akuma ga ugokidasu/totemo chiisaku hiyowana boku no/KOMADORI no karada de wa nani mo dekinakatta"
		%}
		{% include verse.html
			lyrics="時の魔道師は弟子を求め/僕が候補に選ばれた/人に転生したその姿は/恋したあの娘を模したもの"
			romaji="toki no madoushi wa deshi wo motome/boku ga kouho ni erabareta/hito ni tenseishita sono sugata wa/koishita ano ko wo moshita mono"
		%}
		{% include verse.html
			lyrics="そして「僕」は「私」へと変わった"
			romaji="soshite &quot;boku&quot; wa &quot;watashi&quot; he to kawatta"
		%}
		{% include verse.html
			lyrics="人として生きる喜びを/少しずつわかり始めていった"
			romaji="hito toshite ikiru yorokobi wo/sukoshizutsu wakari hajimeteitta"
		%}
		{% include verse.html
			lyrics="気弱な少女|優しい召使/様々な出会いを通して/忘れかけてた罪の足音/私の背後にいつのまにか迫っていた"
			romaji="kiyowana shoujo|yasashii meshitsukai/samazamana deai wo tooshite/wasurekaketeta tsumi no ashioto/watashi no haigo ni itsu no manika sematteita"
		%}
		{% include verse.html
			lyrics="胸の凶刃|嗤う刺客は/悪ノ娘の手先なのか/力尽きた私の身体は/小さな苗木に変わっていた"
			romaji="mune no kyoujin|warau shikaku wa/aku NO musume no tesaki na no ka/chikaratsukita watashi no karada wa/chiisana naegi ni kawatteita"
		%}
		{% include verse.html
			lyrics="世界を見守ろう|森の大樹として"
			romaji="sekai wo mimamorou|mori no taiju toshite"
		%}
		{% include verse.html
			lyrics="百年経ったある日の事/森に現れたのはあのイブだった"
			romaji="hyakunen tatta aru hi no koto/mori ni arawareta no wa ano IBU datta"
		%}
		{% include verse.html
			lyrics="五百年の騒乱の果てに/「私」は「私」と再会する/時の魔道師はイブを取り込み/やがて全てはとある一つの憤怒へ"
			romaji="gohyakunen no souran no hate ni/&quot;watashi&quot; wa &quot;watashi&quot; to saikaisuru/toki no madoushi wa IBU wo torikomi/yagate subete wa toaru hitotsu no funnu he"
		%}
		{% include verse.html
			lyrics="父を憎んだ不幸なネメシスは/いつしか世界の王となった/そして彼女は世界をも憎み/全てを「罰」の炎で包んだ"
			romaji="chichi wo nikunda fukouna NEMESHISU wa/itsushika sekai no ou to natta/soshite kanojo wa sekai wo mo nikumi/subete wo &quot;batsu&quot;no honoo de tsutsunda"
		%}
		{% include verse.html
			lyrics="それが全ての罪の終焉だった"
			romaji="sore ga subete no tsumi no shuuen datta"
		%}
		{% include verse.html
			lyrics="荒野と化した世界でも/私の心はまだそこにある"
			romaji="kouya to kashita sekai de mo/watashi no kokoro wa mada soko ni aru"
		%}
		{% include verse.html
			lyrics="千年の誓いの果てに/滅びの運命|訪れる/千年樹は常に見ていた/人が紡いだ罪と罰の歴史"
			romaji="sennen no chikai no hate ni/horobi no unmei|otozureru/sennenju wa tsune ni miteita/hito ga tsumuida tsumi to batsu no rekishi"
		%}
		{% include verse.html
			lyrics="千年の誓いの超えて/今こそ歌おう|皆と共に/そして世界は生まれ変わる/君らが望むそれぞれのユートピアへ"
			romaji="sennen no chikai no koete/ima koso utaou|mina to tomo ni/soshite sekai wa umarekawaru/kimira ga nozomu sorezore no YUUTOPIA he"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="千年の誓いの果てに|滅びの運命訪れる/千年樹は常に見ていた/人が紡いだ罪と罰の歴史"
			romaji="sennen no chikai no hate ni|horobi no unmei otozureru/sennenju wa tsune ni miteita/hito ga tsumuida tsumi to batsu no rekishi"
		%}
		{% include verse.html
			lyrics="むかしむかしクライ森の奥で/出会ったイブに恋をした/彼女に僕は赤い木の実の/在処を教えてあげたのさ"
			romaji="mukashi mukashi KURAI mori no oku de/deatta IBU ni koi wo shita/kanojo ni boku wa akai ki no mi no/arika wo oshiete ageta no sa"
		%}
		{% include verse.html
			lyrics="それが全ての罪の始まりだった"
			romaji="sore ga subete no tsumi no hajimari datta"
		%}
		{% include verse.html
			lyrics="放たれた七つの光を/時の魔道師が/追い求めた"
			romaji="hanatareta nanatsu no hikari wo/toki no madoushi ga/oimotometa"
		%}
		{% include verse.html
			lyrics="十年の狂気の果てに|罪の悪魔が動き出す/とても小さく|ひ弱な僕の/コマドリの体では|なにもできなかった"
			romaji="juunen no kyouki no hate ni/tsumi no akuma ga ugokidasu/totemo chiisaku|hiyowana boku no/KOMADORI no karada de wa/nani mo dekinakatta"
		%}
		{% include verse.html
			lyrics="時の魔道師は弟子を求め/僕が候補に選ばれた/人に転生したその姿は/恋したあの娘を模したもの"
			romaji="toki no madoushi wa deshi wo motome/boku ga kouho ni erabareta/hito ni tenseishita sono sugata wa/koishita ano ko wo moshita mono"
		%}
		{% include verse.html
			lyrics="そして「僕」は「私」へと変わった"
			romaji="soshite &quot;boku&quot; wa &quot;watashi&quot; he to kawatta"
		%}
		{% include verse.html
			lyrics="人として生きる喜びを/少しずつ/わかり始めていった"
			romaji="hito toshite ikiru yorokobi wo/sukoshizutsu/wakari hajimeteitta"
		%}
		{% include verse.html
			lyrics="気弱な少女|優しい召使/様々な出会いを通して/忘れかけてた|罪の足音/私の背後にいつのまにか迫っていた"
			romaji="kiyowana shoujo|yasashii meshitsukai/samazamana deai wo tooshite/wasurekaketeta|tsumi no ashioto/watashi no haigo ni itsu no manika sematteita"
		%}
		{% include verse.html
			lyrics="胸の凶刃|嗤う刺客は/悪ノ娘の手先なのか/力尽きた私の身体は/小さな苗木に変わっていた/世界を見守ろう|森の大樹として"
			romaji="mune no kyoujin|warau shikaku wa/aku NO musume no tesaki na no ka/chikaratsukita watashi no karada wa/chiisana naegi ni kawatteita/sekai wo mimamorou|mori no taiju toshite"
		%}
		{% include verse.html
			lyrics="百年経ったある日の事|森に現れたのは|あのイブだった"
			romaji="hyakunen tatta aru hi no koto|mori ni arawareta no wa|ano IBU datta"
		%}
		{% include verse.html
			lyrics="五百年の騒乱の果てに|「私」は「私」と再会する/時の魔道師は|イブを取り込み/やがて全てはとある一つの憤怒へ"
			romaji="gohyakunen no souran no hate ni|&quot;watashi&quot; wa &quot;watashi&quot; to saikaisuru/toki no madoushi wa|IBU wo torikomi/yagate subete wa toaru hitotsu no funnu he"
		%}
		{% include verse.html
			lyrics="父を憎んだ不幸なネメシスは/いつしか世界の王となった/そして彼女は|世界をも憎み/全てを「罰」の|炎で包んだ"
			romaji="chichi wo nikunda fukouna NEMESHISU wa/itsushika sekai no ou to natta/soshite kanojo wa|sekai wo mo nikumi/subete wo &quot;batsu&quot;no|honoo de tsutsunda"
		%}
		{% include verse.html
			lyrics="それが全ての罪の終焉だった"
			romaji="sore ga subete no tsumi no shuuen datta"
		%}
		{% include verse.html
			lyrics="荒野と化した世界でも|私の心は|まだそこにある"
			romaji="kouya to kashita sekai de mo|watashi no kokoro wa|mada soko ni aru"
		%}
		{% include verse.html
			lyrics="千年の誓いの果てに|滅びの運命訪れる/千年樹は常に見ていた/人が紡いだ罪と罰の歴史"
			romaji="sennen no chikai no hate ni|horobi no unmei otozureru/sennenju wa tsune ni miteita/hito ga tsumuida tsumi to batsu no rekishi"
		%}
		{% include verse.html
			lyrics="千年の誓いの超えて|今こそ歌おう皆と共に/そして世界は生まれ変わる/君らが望む|それぞれのユートピアへ"
			romaji="sennen no chikai no koete|ima koso utaou mina to tomo ni/soshite sekai wa umarekawaru/kimira ga nozomu|sorezore no YUUTOPIA he"
		%}
	</div>
</div>