---
english-name: Atelier Horloge
image: /assets/images/thumbs/AtelierHorloge.png
translation: https://pricechecktranslations.tumblr.com/post/727232081227284480
mothyrights: <em>The Evillious Chronicles</em>|<em>Atelier Horloge</em>
---
<div>
	<h3><a href="https://twitter.com/mothy_akuno/status/1687664146429640704">Twitter</a> &middot; PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="霞の中|時計の音が聞こえたなら/それはきっとオルロージュの白い工房でしょう/その店は悩める者の前に突然現れ/やがて幻のように|何処かへ消えていく"
			romaji="kasumi no naka|tokei no oto ga kikoeta nara/sore wa kitto ORUROOJU no shiroi koubou deshou/sono mise wa nayameru mono no mae ni totsuzen araware/yagate maboroshi no you ni|dokoka he kieteiku"
		%}
		{% include verse.html
			lyrics="ショーウィンドウにあるのは主人お手製の商品/色のくすんだ手鏡に|いびつなフルート/それらの中から一つを|あなたに差し上げましょう/選択は慎重に|お代は不要です"
			romaji="SHOO WINDOU ni aru no wa shujin otosei no shouhin/iro no kusunda tekagami ni|ibitsuna FURUUTO/sorera no naka kara hitotsu wo|anata ni sashiagemashou/sentaku wa shinchou ni|odai wa fuyou desu"
		%}
		{% include verse.html
			lyrics="喪服の妻の横で/白衣の主人が穏やかな笑顔を見せる/その品はきっと/あなたの事を救ってくれるでしょう"
			romaji="mofuku no tsuma no yoko de/hakui no shujin ga odayakana egao wo miseru/sono shina wa kitto/anata no koto wo sukuttekureru deshou"
		%}
		{% include verse.html
			lyrics="ようこそアトリエ|オルロージュへ/時計仕掛けの|不思議な店/異世界仕込みの錬金術/心の空虚を埋める品々"
			romaji="youkoso ATORIE|ORUROOJU he/tokeijikake no|fushigina mise/isekai shikomi no renkinjutsu/kokoro no kuukyo wo umeru shinajina"
		%}
		{% include verse.html
			lyrics="されどあなたには注意する事がある/商品の横に添えられた洋皮紙/書かれた説明をちゃんと最後まで読みなさい/それは時計仕掛けの神が定めたルールなのだから"
			romaji="saredo anata ni wa chuuisuru koto ga aru/shouhin no yoko ni soerareta youhishi/kakareta setsumei wo chanto saigo made yominasai/sore wa tokeijikake no kami ga sadameta RUURU na no dakara"
		%}
		{% include verse.html
			lyrics="もしもあなたが/その決まりを守る事が出来なかったら/とても大きな/代償を支払う事になる"
			romaji="moshimo anata ga/sono kimari wo mamoru koto ga dekinakattara/totemo ookina/daishou wo shiharau koto ni naru"
		%}
		{% include verse.html
			lyrics="ようこそアトリエ|オルロージュへ/時計仕掛けの|不思議な店/主人が最も得意なのは/綺麗な音のオルゴール作り"
			romaji="youkoso ATORIE|ORUROOJU he/tokeijikake no|fushigina mise/shujin ga motto mo tokuina no wa/kireina oto no ORUGOORU tsukuri"
		%}
		{% include verse.html
			lyrics="後悔しても|時すでに遅し/あなたが再び工房を探しても/永遠に見つからない|手がかりさえ残らない/工房は同じ場所にとどまる事はない"
			romaji="koukaishite mo|toki sude ni ososhi/anata ga futatabi koubou wo sagaseshite mo/eien ni mitsukaranai|tegakari sae nokoranai/koubou wa onaji basho ni todomaru koto wa nai"
		%}
		{% include verse.html
			lyrics="旅をするのだ/邪悪なレストランと同じように時を超え/親なき子らよ/さて君らはどんな品物が欲しいのかな？"
			romaji="tabi wo suru no da/jaakuna RESUTORAN to onaji you ni toki wo koe/oya naki kora yo/sate kimira wa donna shinamono ga hoshii no ka na?"
		%}
		{% include verse.html
			lyrics="ようこそアトリエ|オルロージュへ/甘い話には裏がある/そんな事も知らないなんて/君は実に愚かだな"
			romaji="youkoso ATORIE|ORUROOJU he/amai hanashi ni wa ura ga aru/sonna koto mo shiranai nante/kimi wa jitsu ni oroka da na"
		%}
		{% include verse.html
			lyrics="ようこそアトリエ|オルロージュへ/時計仕掛けの|不思議な店/奥の棚にあるオルゴールは/まだ新たな子守唄を奏でない"
			romaji="youkoso ATORIE|ORUROOJU he/tokeijikake no|fushigina mise/oku no tana ni aru ORUGOORU wa/mada aratana komoriuta wo kanadenai"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="霞の中/時計の音が聞こえたなら/それはきっとオルロージュの/白い工房でしょう/その店は悩める者の/前に突然現れ/やがて幻のように/何処かへ消えていく"
			romaji="kasumi no naka/tokei no oto ga kikoeta nara/sore wa kitto ORUROOJU no/shiroi koubou deshou/sono mise wa nayameru mono no/mae ni totsuzen araware/yagate maboroshi no you ni/dokoka he kieteiku"
		%}
		{% include verse.html
			lyrics="ショーウィンドウにあるのは/主人お手製の商品/色のくすんだ手鏡に/いびつなフルート/それらの中から一つを/あなたに差し上げましょう/選択は慎重に/お代は不要です"
			romaji="SHOO WINDOU ni aru no wa/shujin otosei no shouhin/iro no kusunda tekagami ni/ibitsuna FURUUTO/sorera no naka kara hitotsu wo/anata ni sashiagemashou/sentaku wa shinchou ni/odai wa fuyou desu"
		%}
		{% include verse.html
			lyrics="喪服の妻の横で/白衣の主人が/穏やかな笑顔を見せる/その品はきっと/あなたの事を救ってくれるでしょう"
			romaji="mofuku no tsuma no yoko de/hakui no shujin ga/odayakana egao wo miseru/sono shina wa kitto/anata no koto wo sukuttekureru deshou"
		%}
		{% include verse.html
			lyrics="ようこそ/アトリエ|オルロージュへ/時計仕掛けの不思議な店/異世界仕込みの錬金術/心の空虚を埋める品々"
			romaji="youkoso/ATORIE|ORUROOJU he/tokeijikake no fushigina mise/isekai shikomi no renkinjutsu/kokoro no kuukyo wo umeru shinajina"
		%}
		{% include verse.html
			lyrics="されどあなたには/注意する事がある/商品の横に/添えられた洋皮紙/書かれた説明を/ちゃんと最後まで読みなさい/それは時計仕掛けの神が/定めたルールなのだから"
			romaji="saredo anata ni wa/chuuisuru koto ga aru/shouhin no yoko ni/soerareta youhishi/kakareta setsumei wo/chanto saigo made yominasai/sore wa tokeijikake no kami ga/sadameta RUURU na no dakara"
		%}
		{% include verse.html
			lyrics="もしもあなたが/その決まりを/守る事が出来なかったら/とても大きな/代償を支払う事になる"
			romaji="moshimo anata ga/sono kimari wo/mamoru koto ga dekinakattara/totemo ookina/daishou wo shiharau koto ni naru"
		%}
		{% include verse.html
			lyrics="ようこそ/アトリエ|オルロージュへ/時計仕掛けの不思議な店/主人が最も得意なのは/綺麗な音のオルゴール作り"
			romaji="youkoso/ATORIE|ORUROOJU he/tokeijikake no fushigina mise/shujin ga motto mo tokuina no wa/kireina oto no ORUGOORU tsukuri"
		%}
		{% include verse.html
			lyrics="後悔しても/時すでに遅し/あなたが再び/工房を探しても/永遠に見つからない/手がかりさえ残らない/工房は同じ場所に/とどまる事はない"
			romaji="koukaishite mo/toki sude ni ososhi/anata ga futatabi/koubou wo sagaseshite mo/eien ni mitsukaranai/tegakari sae nokoranai/koubou wa onaji basho ni/todomaru koto wa nai"
		%}
		{% include verse.html
			lyrics="旅をするのだ/邪悪なレストランと/同じように時を超え/親なき子らよ/さて君らは/どんな品物が欲しいのかな？"
			romaji="tabi wo suru no da/jaakuna RESUTORAN to/onaji you ni toki wo koe/oya naki kora yo/sate kimira wa/donna shinamono ga hoshii no ka na?"
		%}
		{% include verse.html
			lyrics="ようこそ/アトリエ|オルロージュへ/甘い話には裏がある/そんな事も知らないなんて/君は実に愚かだな"
			romaji="youkoso/ATORIE|ORUROOJU he/amai hanashi ni wa ura ga aru/sonna koto mo shiranai nante/kimi wa jitsu ni oroka da na"
		%}
		{% include verse.html
			lyrics="ようこそ/アトリエ|オルロージュへ/時計仕掛けの不思議な店/奥の棚にあるオルゴールは/まだ新たな子守唄を奏でない"
			romaji="youkoso/ATORIE|ORUROOJU he/tokeijikake no fushigina mise/oku no tana ni aru ORUGOORU wa/mada aratana komoriuta wo kanadenai"
		%}
	</div>
</div>