---
english-name: Banica Concerto!!
translation: https://pricechecktranslations.tumblr.com/post/177363212935
mothyrights: <em>The Evillious Chronicles</em>|<em>Banica Concerto!!</em>
---
<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	{% include verse.html
		lyrics="夕日が沈み|夜を支配する罪/永遠に終わらない最後の晩餐/並ぶ食材|見慣れぬものなど無い/彼女はもう全てを食べ飽きた"
		romaji="yuuhi ga shizumi|yoru wo shihaisuru tsumi/eien ni owaranai saigo no bansan/narabu shokuzai|minarenu mono nado nai/kanojo wa mou subete wo tabeakita"
	%}
	{% include verse.html
		lyrics="悪食娘|やがて食べるのを止め/窓の外に広がる荒野を眺める/もう何も無い|時の止まった世界/そろそろ潮時なのだろう"
		romaji="akujiki musume|yagate taberu no wo yame/mado no soto ni hirogaru kouya wo nagameru/mou nanimo nai|toki no tomatta sekai/sorosoro shiotoki na no darou"
	%}
	{% include verse.html
		lyrics="いざ旅立ち|新たな世界へ"
		romaji="iza tabitachi|aratana sekai he"
	%}
	{% include verse.html
		lyrics="冥王の仮面|闇執事の友人/並行世界への道|彼が知っている/新たな船は第二の映画館/黒き箱をそこに積み込むのだ"
		romaji="meiou no kamen|yamishitsuji no yuujin/heikou sekai he no michi|kare ga shitteiru/aratana fune wa daini no eigakan/kuroki hako wo soko ni tsumikomu no da"
	%}
	{% include verse.html
		lyrics="天王の創る第四の楽園は/おそらくこれまでと/似たものになるだろう/その扉には入らないと決めた/我らは別の道を行こう"
		romaji="tenou no tsukuru daishi no rakuen wa/osoraku koremade to/nita mono ni naru darou/sono tobira ni wa hairanai to kimeta/warera wa betsu no michi wo yukou"
	%}
	{% include verse.html
		lyrics="浮かぶ映画館|空を進め/目指すものは|まだ見ぬ新たな悪食"
		romaji="ukabu eigakan|sora wo susume/mezasu mono wa|mada minu aratana akujiki"
	%}
	<p>
		{% include lyric.html lyric="さあこの舌に未知なる刺激を" rom="saa kono shita ni michi naru shigeki wo" %}<br />
		{% include lyric.html lyric="探究せよ<ruby>悪食学<rp>(</rp><rt>グラトロノミー</rt><rp>)</rp></ruby>" rom="tankyuuse yo GURATORONOMII" %}<br />
		{% include lyric.html lyric="喰らい尽くせこの世の全て" rom="kuraitsukuse kono yo no subete" %}<br />
		{% include lyric.html lyric="これこそが私のコンチェルト" rom="korekoso ga watashi no KONCHERUTO" %}
	</p>
	{% include verse.html
		lyrics="空間転移|準備完了/進路確定|超光速流/総員配置|衝撃準備/出発進行|航海順調？"
		romaji="kuukan teni|junbi kanryou/shinro kakutei|choukou sokuryuu/souin haichi|shougeki junbi/shuppatsu shinkou|koukai junchou?"
	%}
	{% include verse.html
		lyrics="異常発生|警報発令/計器点滅|振動増加/操縦不能|原因不明/動力停止|墜落開始"
		romaji="ijou hassei|keihou hatsurei/keiki tenmetsu|shindou zouka/soujuu funou|genin fumei/douryoku teishi|tsuiraku kaishi"
	%}
	{% include verse.html
		lyrics="船内混乱！脱出不能！/緊急修理！結果失敗！"
		romaji="sennai konran! dasshutsu funou!/kinkyuu shuuri! kekka shippai!"
	%}
	{% include verse.html
		lyrics="燃料爆発!!生存絶望!!"
		romaji="nenryou bakuhatsu!! seizon zetsubou!!"
	%}
	{% include verse.html
		lyrics="――目標発見"
		romaji="mokuhyou hakken"
	%}
	{% include verse.html
		lyrics="全速前進!!!"
		romaji="zensoku zenshin!!!"
	%}
	{% include verse.html
		lyrics="……遥かなる旅の果てに彼女は/何を見て何を食すのか？"
		romaji="......haruka naru tabi no hate ni kanojo wa/nani wo mite nani wo shokusu no ka?"
	%}
	{% include verse.html
		lyrics="さあその舌に未知なる刺激を/仲間とそして「彼」と共に/喰らい尽くせこの世の全て/それこそがバニカのコンチェルト"
		romaji="saa sono shita ni michi naru shigeki wo/nakama to soshite &quot;kare&quot; to tomo ni/kuraitsukie kono yo no subete/sorekoso ga BANIKA no KONCHERUTO"
	%}
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="夕日が沈み|夜を支配する罪/永遠に終わらない最後の晩餐/並ぶ食材|見慣れぬものなど無い/彼女はもう全てを食べ飽きた"
		romaji="yuuhi ga shizumi|yoru wo shihaisuru tsumi/eien ni owaranai saigo no bansan/narabu shokuzai|minarenu mono nado nai/kanojo wa mou subete wo tabeakita"
	%}
	{% include verse.html
		lyrics="悪食娘|やがて食べるのを止め/窓の外に広がる荒野を眺める/もう何も無い|時の止まった世界/そろそろ潮時なのだろう"
		romaji="akujiki musume|yagate taberu no wo yame/mado no soto ni hirogaru kouya wo nagameru/mou nanimo nai|toki no tomatta sekai/sorosoro shiotoki na no darou"
	%}
	{% include verse.html
		lyrics="いざ旅立ち|新たな世界へ"
		romaji="iza tabitachi|aratana sekai he"
	%}
	{% include verse.html
		lyrics="冥王の仮面|闇執事の友人/並行世界への道|彼が知っている/新たな船は第二の映画館/黒き箱をそこに積み込むのだ"
		romaji="meiou no kamen|yamishitsuji no yuujin/heikou sekai he no michi|kare ga shitteiru/aratana fune wa daini no eigakan/kuroki hako wo soko ni tsumikomu no da"
	%}
	{% include verse.html
		lyrics="天王の創る第四の楽園は/おそらくこれまでと似たものになるだろう/その扉には入らないと決めた/我らは別の道を行こう"
		romaji="tenou no tsukuru daishi no rakuen wa/osoraku koremade to nita mono ni naru darou/sono tobira ni wa hairanai to kimeta/warera wa betsu no michi wo yukou"
	%}
	{% include verse.html
		lyrics="浮かぶ映画館/空を進め/目指すものは/まだ見ぬ新たな悪食"
		romaji="ukabu eigakan/sora wo susume/mezasu mono wa/mada minu aratana akujiki"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="さあこの舌に未知なる刺激を/探究せよガストロノミー/喰らい尽くせこの世の全て/これこそが私のコンチェルト"
		romaji="saa kono shita ni michi naru shigeki wo/tankyuuse yo GASUTORONOMII/kuraitsukuse kono yo no subete/korekoso ga watashi no KONCHERUTO"
	%}
	{% include verse.html
		lyrics="空間転移|準備完了/進路確定|超光速流/総員配置|衝撃準備/出発進行|航海順調？"
		romaji="kuukan teni|junbi kanryou/shinro kakutei|choukou sokuryuu/souin haichi|shougeki junbi/shuppatsu shinkou|koukai junchou?"
	%}
	{% include verse.html
		lyrics="異常発生|警報発令/計器点滅|振動増加/操縦不能|原因不明/動力停止|墜落開始"
		romaji="ijou hassei|keihou hatsurei/keiki tenmetsu|shindou zouka/soujuu funou|genin fumei/douryoku teishi|tsuiraku kaishi"
	%}
	{% include verse.html
		lyrics="船内混乱！脱出不能！/緊急修理！結果失敗！"
		romaji="sennai konran! dasshutsu funou!/kinkyuu shuuri! kekka shippai!"
	%}
	{% include verse.html
		lyrics="燃料爆発!!生存絶望!!"
		romaji="nenryou bakuhatsu!! seizon zetsubou!!"
	%}
	{% include verse.html
		lyrics="――目標発見"
		romaji="mokuhyou hakken"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="全速前進!!!"
		romaji="zensoku zenshin!!!"
	%}
	{% include verse.html
		lyrics="……遥かなる旅の果てに彼女は/何を見て何を食すのか？"
		romaji="......haruka naru tabi no hate ni kanojo wa/nani wo mite nani wo shokusu no ka?"
	%}
	{% include verse.html
		lyrics="さあその舌に未知なる刺激を/仲間とそして「彼」と共に/喰らい尽くせこの世の全て/それこそがバニカのコンチェルト"
		romaji="saa sono shita ni michi naru shigeki wo/nakama to soshite &quot;kare&quot; to tomo ni/kuraitsukie kono yo no subete/sorekoso ga BANIKA no KONCHERUTO"
	%}
</div>