---
english-name: Barisol's Child is an Only Child
image: /assets/images/thumbs/OSSComplete.jpg
translation: https://pricechecktranslations.tumblr.com/post/127185268100
mothyrights: <em>The Evillious Chronicles</em>|<em>Barisol's Child is an Only Child</em>
---
<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="バリーゾールの息子は一人っ子/裕福な家庭の跡取りで|誰もが羨む美少年/だけど彼には問題があった"
			romaji="BARIIZOORU no musuko wa hitorikko/yuufukuna katei no atotori de|dare mo ga urayamu bishounen/dakedo kare ni wa mondai ga atta"
		%}
		{% include verse.html
			lyrics="人形遊びが大好きで|女の子の服ばかりを着る/母の部屋から道具を盗み|こっそり化粧をしたりもする"
			romaji="ningyou asobi ga daisuki de|onna no ko no fuku bakari wo kiru/haha no heya kara dougu wo nusumi|kossori keshou wo shitari mo suru"
		%}
		{% include verse.html class="versebreak"
			lyrics="周りの誰しもがそんな彼を遠ざけた/だから彼はいつだって/ひとりぼっち"
			romaji="mawari no dareshimo ga sonna kare wo toozaketa/dakara kare wa itsu datte/hitoribocchi"
		%}
		{% include verse.html
			lyrics="バリーゾールの娘は一人っ子/千年一度の天才児/六歳で大学に入り|人の心について研究する"
			romaji="BARIIZOORU no musume wa hitorikko/sennen ichido no tensaiji/roku-sai de daigaku ni hairi|hito no kokoro ni tsuite kenkyuusuru"
		%}
		{% include verse.html
			lyrics="止まらない犯罪や戦争|人はどうして憎みあうか/それが少しでも判ればと|彼女は研究を続けた"
			romaji="tomaranai hanzai ya sensou|hito wa doushite nikushimiau ka/sore ga sukoshi demo wakareba to|kanojo wa kenkyuu wo tsudzuketa"
		%}
		{% include verse.html class="versebreak"
			lyrics="そして彼女は気づいた|止まらぬ『悪意』の原因を/『それはこの世界にはない』と/知ってしまった"
			romaji="soshite kanojo wa kidzuita|tomaranu 'akui' no gen'in wo/'sore wa kono sekai ni wa nai' to/shitteshimatta"
		%}
		{% include verse.html
			lyrics="バリーゾールの息子は一人っ子/彼にもついに恋人ができた|勤めに来た同い年のメイド/まるで人形のように可愛い"
			romaji="BARIIZOORU no musuko wa hitorikko/kare ni mo tsui ni koibito ga dekita|tsutome ni kita onaidoshi no MEIDO/maru de ningyou no you ni kawaii"
		%}
		{% include verse.html class="versebreak"
			lyrics="「君の服を着させて欲しい」/ある日彼は彼女に頼んだ/彼女は酷くうろたえながら/「気持ち悪い」それだけ答えた"
			romaji="&quot;kimi no fuku wo kisasete hoshii&quot;/aru hi kare wa kanojo ni tanonda/kanojo wa hidoku urotae nagara/&quot;kimochi warui&quot; sore dake kotaeta"
		%}
		{% include verse.html
			lyrics="バリーゾールの娘は一人っ子/彼女も『悪意』に犯され始めた/何故か止まらぬ殺人衝動|彼女は同僚に相談した"
			romaji="BARIIZOORU no musume wa hitorikko/kanojo mo 'akui' ni okasarehajimeta/nazeka tomaranu satsujin shoudou|kanojo wa douryou ni soudanshita"
		%}
		{% include verse.html class="versebreak"
			lyrics="並行世界の研究者/男は彼女にこう答えた/「『もう一人の自分』を消せば|君の『悪意』も消せるかもしれない」"
			romaji="heikou sekai no kenkyuusha/otoko wa kanojo ni kou kotaeta/&quot;'mou hitori no jibun' wo keseba|kimi no 'akui' mo keseru kamoshirenai&quot;"
		%}
		{% include verse.html
			lyrics="扉の外からは怒鳴り声/彼は部屋の隅で怯えてた/室内に転がった人形|手足はバラバラで温かい"
			romaji="tobira no soto kara wa donarigoe/kare wa heya no sumi de obieteta/shitsunai ni korogatta ningyou|teashi wa BARABARA de atatakai"
		%}
		{% include verse.html class="versebreak"
			lyrics="彼の目には見えていた|鏡の中の別世界/自分にそっくりな女が|手を差し伸べた"
			romaji="kare no me ni wa mieteita|kagami no naka no betsu sekai/jibun ni sokkurina onna ga|te wo sashinobeta"
		%}
		{% include verse.html
			lyrics="世界が「悪意」に呑まれた時|箱舟は宇宙へ飛び出した/七十二人の乗組員|その中には双子もいたという"
			romaji="sekai ga &quot;akui&quot; ni nomareta toki|hakofune wa uchuu he tobidashita/nanajuuni-nin no norikumiin|sono naka ni wa futago mo ita to iu"
		%}
		{% include verse.html
			lyrics="……『自分自身』を殺す直前|彼女は真実に気がづいた/これはあの男が仕組んだ|巧みな罠であるということを"
			romaji="......'jibun jishin' wo korosu chokuzen|kanojo wa shinjitsu ni ki ga dzuita/kore wa ano otoko ga shikunda|takumina wana de aru to iu koto wo"
		%}
		{% include verse.html class="versebreak"
			lyrics="私がこの手を下す時|それこそが『悪意』への入口/堕ちた私の代わりに奴が|箱舟に乗るつもりだったのだろう"
			romaji="watashi ga kono te wo kudasu toki|sore koso ga 'akui' he no iriguchi/ochita watashi no kawari ni yatsu ga|hakofune ni noru tusmori datta no darou"
		%}
		{% include verse.html
			lyrics="バリーソールの子供は一人っ子/だけど今はもう二人っ子/人の心に詳しい姉と|人の身体に詳しい弟"
			romaji="BARIZOORU no kodomo wa hitorikko/dakedo ima wa mou futarikko/hito no kokoro ni kuwashii ane to|hito no karada ni kuwashii otouto"
		%}
		{% include verse.html
			lyrics="箱舟は黒い海を進む|新たな楽園を目指して/二人の研究はいつの日か|新たな人類を創るだろう"
			romaji="hakofune wa kuroi umi wo susumu|aratana rakuen wo mezashite/futari no kenkyuu wa itsunohika|aratana jinrui wo tsukuru darou"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="バリーゾールの息子は一人っ子/裕福な家庭の跡取りで/誰もが羨む美少年/だけど彼には問題があった"
			romaji="BARIIZOORU no musuko wa hitorikko/yuufukuna katei no atotori de/dare mo ga urayamu bishounen/dakedo kare ni wa mondai ga atta"
		%}
		{% include verse.html
			lyrics="人形遊びが大好きで/女の子の服ばかりを着る/母の部屋から道具を盗み/こっそり化粧をしたりもする"
			romaji="ningyou asobi ga daisuki de/onna no ko no fuku bakari wo kiru/haha no heya kara dougu wo nusumi/kossori keshou wo shitari mo suru"
		%}
		{% include verse.html class="versebreak"
			lyrics="周りの誰しもが/そんな彼を遠ざけた/だから彼はいつだって/ひとりぼっち"
			romaji="mawari no dareshimo ga/sonna kare wo toozaketa/dakara kare wa itsu datte/hitoribocchi"
		%}
		{% include verse.html
			lyrics="バリーゾールの娘は一人っ子/千年一度の天才児/六歳で大学に入り/人の心について研究する"
			romaji="BARIIZOORU no musume wa hitorikko/sennen ichido no tensaiji/roku-sai de daigaku ni hairi/hito no kokoro ni tsuite kenkyuusuru"
		%}
		{% include verse.html
			lyrics="止まらない犯罪や戦争/人はどうして憎みあうか/それが少しでも判ればと/彼女は研究を続けた"
			romaji="tomaranai hanzai ya sensou/hito wa doushite nikushimiau ka/sore ga sukoshi demo wakareba to/kanojo wa kenkyuu wo tsudzuketa"
		%}
		{% include verse.html class="versebreak"
			lyrics="そして彼女は気づいた/止まらぬ『悪意』の原因を/『それはこの世界にはない』と/知ってしまった"
			romaji="soshite kanojo wa kidzuita/tomaranu 'akui' no gen'in wo/'sore wa kono sekai ni wa nai' to/shitteshimatta"
		%}
		{% include verse.html
			lyrics="バリーゾールの息子は一人っ子/彼にもついに恋人ができた/勤めに来た同い年のメイド/まるで人形のように可愛い"
			romaji="BARIIZOORU no musuko wa hitorikko/kare ni mo tsui ni koibito ga dekita/tsutome ni kita onaidoshi no MEIDO/maru de ningyou no you ni kawaii"
		%}
		{% include verse.html class="versebreak"
			lyrics="「君の服を着させて欲しい」/ある日彼は彼女に頼んだ/彼女は酷くうろたえながら/「気持ち悪い」それだけ答えた"
			romaji="&quot;kimi no fuku wo kisasete hoshii&quot;/aru hi kare wa kanojo ni tanonda/kanojo wa hidoku urotae nagara/&quot;kimochi warui&quot; sore dake kotaeta"
		%}
		{% include verse.html
			lyrics="バリーゾールの娘は一人っ子/彼女も『悪意』に犯され始めた/何故か止まらぬ殺人衝動/彼女は同僚に相談した"
			romaji="BARIIZOORU no musume wa hitorikko/kanojo mo 'akui' ni okasarehajimeta/nazeka tomaranu satsujin shoudou/kanojo wa douryou ni soudanshita"
		%}
		{% include verse.html class="versebreak"
			lyrics="並行世界の研究者/男は彼女にこう答えた/「『もう一人の自分』を消せば/君の『悪意』も消せるかもしれない」"
			romaji="heikou sekai no kenkyuusha/otoko wa kanojo ni kou kotaeta/&quot;'mou hitori no jibun' wo keseba/kimi no 'akui' mo keseru kamoshirenai&quot;"
		%}
		{% include verse.html
			lyrics="扉の外からは怒鳴り声/彼は部屋の隅で怯えてた/室内に転がった人形/手足はバラバラで温かい"
			romaji="tobira no soto kara wa donarigoe/kare wa heya no sumi de obieteta/shitsunai ni korogatta ningyou/teashi wa BARABARA de atatakai"
		%}
		{% include verse.html class="versebreak"
			lyrics="彼の目には見えていた/鏡の中の別世界/自分にそっくりな女が/手を差し伸べた"
			romaji="kare no me ni wa mieteita/kagami no naka no betsu sekai/jibun ni sokkurina onna ga/te wo sashinobeta"
		%}
		{% include verse.html
			lyrics="世界が「悪意」に呑まれた時/箱舟は宇宙へ飛び出した/七十二人の乗組員/その中には双子もいたという"
			romaji="sekai ga &quot;akui&quot; ni nomareta toki/hakofune wa uchuu he tobidashita/nanajuuni-nin no norikumiin/sono naka ni wa futago mo ita to iu"
		%}
		{% include verse.html
			lyrics="……『自分自身』を殺す直前/彼女は真実に気がづいた/これはあの男が仕組んだ/巧みな罠であるということを"
			romaji="......'jibun jishin' wo korosu chokuzen/kanojo wa shinjitsu ni ki ga dzuita/kore wa ano otoko ga shikunda/takumina wana de aru to iu koto wo"
		%}
		{% include verse.html
			lyrics="私がこの手を下す時/それこそが『悪意』への入口/堕ちた私の代わりに奴が/箱舟に乗るつもりだったのだろう"
			romaji="watashi ga kono te wo kudasu toki/sore koso ga 'akui' he no iriguchi/ochita watashi no kawari ni yatsu ga/hakofune ni noru tusmori datta no darou"
		%}
		{% include verse.html
			lyrics="バリーソールの子供は一人っ子/だけど今はもう二人っ子/人の心に詳しい姉と/人の身体に詳しい弟"
			romaji="BARIZOORU no kodomo wa hitorikko/dakedo ima wa mou futarikko/hito no kokoro ni kuwashii ane to/hito no karada ni kuwashii otouto"
		%}
		{% include verse.html
			lyrics="箱舟は黒い海を進む/新たな楽園を目指して/二人の研究はいつの日か/新たな人類を創るだろう"
			romaji="hakofune wa kuroi umi wo susumu/aratana rakuen wo mezashite/futari no kenkyuu wa itsunohika/aratana jinrui wo tsukuru darou"
		%}
	</div>
</div>