---
english-name: Blind Girl and Angel
translation: https://pricechecktranslations.tumblr.com/post/627653858415591424
mothyrights: <em>The Evillious Chronicles</em>|<em>Blind Girl and Angel</em>
---
<div>
	<h3><a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a> &middot; <a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="硝煙に混じり鼻につく/灼けた肉の匂い|誰のもの？/醜い戦禍が/嗚呼|少女の全てを奪い去った"
		romaji="shouen ni majiri hana ni tsuku/yaketa niku no nioi|dare no mono?/minikui senka ga/aa|shoujo no subete wo ubaisatta"
	%}
	{% include verse.html
		lyrics="燃ゆる炎に目を灼かれた/少女は途方に暮れ立ちすくむ/憐れな彼女のその前に/羽持つ男|舞い降りた"
		romaji="moyuru honoo ni me wo yakareta/shoujo wa tohou ni kure tachisukumu/awarena kanojo no sono mae ni/hane motsu otoko|maiorita"
	%}
	{% include verse.html
		lyrics="はばたく羽の音/穏やかなその声/その場に跪き/両手を合わせた"
		romaji="habataku hane no oto/odayakana sono koe/sono ba ni hizamazuki/ryoute wo awaseta"
	%}
	{% include verse.html
		lyrics="天使は生きていたんだ"
		romaji="tenshi wa ikiteita nda"
	%}
	{% include verse.html class="versebreak"
		lyrics="すでにこの世界は/虚無の支配する場所/だけど諦めないわ/希望はまだここにある"
		romaji="sude ni kono sekai wa/kyomu no shihaisuru basho/dakedo akiramenai wa/kibou wa mada koko ni aru"
	%}
	{% include verse.html
		lyrics="悪意が地上に満ちた時/天より舞い降りた神の使者/天使と悪意の戦いは/不本意な結末"
		romaji="akui ga chijou ni michita toki/ten yori maiorita kami no shisha/tenshi to akui no tatakai wa/fuhon'ina ketsumatsu"
	%}
	{% include verse.html
		lyrics="滅んだはずの天使が今/少女の手を握りこう言うのだ/「君を素敵な空の城へと/|連れて行ってあげよう」と"
		romaji="horonda hazu no tenshi ga ima/shoujo no te wo nigiri kou iu no da/&quot;kimi wo sutekina sora no shiro he to/|tsureteitte ageyou&quot; to"
	%}
	{% include verse.html
		lyrics="迷う事など無い/天使に抱えられ/少女は空へと/導かれてく"
		romaji="mayou koto nado nai/tenshi ni kakaerare/shoujo wa sora he to/michibikareteku"
	%}
	{% include verse.html
		lyrics="袖の中|隠したナイフ"
		romaji="sode no naka|kakushita NAIFU"
	%}
	{% include verse.html class="versebreak"
		lyrics="天使の胸の中/悪ノ皇女は嗤う/憎き天使たちに/今こそ復讐の時"
		romaji="tenshi no mune no naka/aku NO oujo wa warau/nikuki tenshi-tachi ni/ima koso fukushuu no toki"
	%}
	{% include verse.html
		lyrics="目の見えぬ少女は知らぬのだ/その男の羽の色の事/清き天使の白ではなく/闇の如き黒き羽"
		romaji="me no mienu shoujo wa shiranu no da/sono otoko no hane no iro no koto/kiyoki tenshi no shiro de wa naku/yami no kotoki kuroki hane"
	%}
	{% include verse.html class="versebreak"
		lyrics="視野の無い彼女は知らぬのだ/世界が想像より広い事/この世に自分らより恐ろしい/悪の存在がある事を"
		romaji="shiya no nai kanojo wa shiranu no da/sekai ga souzou yori hiroi koto/kono yo ni jibunra yori osoroshii/aku no sonzai ga aru koto wo"
	%}
	{% include verse.html
		lyrics="やがて辿りついた空の城/少女は盲目ではなくなった/そして彼女は世にもおぞましい/景色を見る事になった"
		romaji="yagate tadoritsuita sora no shiro/shoujo wa moumoku de wa nakunatta/soshite kanojo wa yo ni mo ozomashii/keshiki wo miru koto ni natta"
	%}
	{% include verse.html
		lyrics="これは決して悲劇ではない/悪と悪が出会った喜劇さ"
		romaji="kore wa kesshite higeki de wa nai/aku to aku ga deatta kigeki sa"
	%}
	{% include verse.html
		lyrics="再び動き出す|新しい/物語の始まりなのさ"
		romaji="futatabi ugokidasu|atarashii/monogatari no hajimari na no sa"
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="硝煙に混じり|鼻につく/灼けた肉の匂い|誰のもの？/醜い戦禍が|嗚呼少女の/全てを奪い去った"
		romaji="shouen ni majiri|hana ni tsuku/yaketa niku no nioi|dare no mono?/minikui senka ga|aa shoujo no/subete wo ubaisatta"
	%}
	{% include verse.html
		lyrics="燃ゆる炎に|目を灼かれた/少女は途方に暮れ|立ちすくむ/憐れな彼女の|その前に/羽持つ男舞い降りた"
		romaji="moyuru honoo ni|me wo yakareta/shoujo wa tohou ni kure|tachisukumu/awarena kanojo no|sono mae ni/hane motsu otoko maiorita"
	%}
	{% include verse.html
		lyrics="はばたく羽の音|穏やかなその声/その場に跪き|両手を合わせた"
		romaji="habataku hane no oto|odayakana sono koe/sono ba ni hizamazuki|ryoute wo awaseta"
	%}
	{% include verse.html
		lyrics="天使は生きていたんだ"
		romaji="tenshi wa ikiteita nda"
	%}
	{% include verse.html
		lyrics="すでにこの世界は|虚無の支配する場所/だけど諦めないわ/希望はまだここにある"
		romaji="sude ni kono sekai wa|kyomu no shihaisuru basho/dakedo akiramenai wa/kibou wa mada koko ni aru"
	%}
	{% include verse.html
		lyrics="悪意が地上に|満ちた時/天より舞い降りた|神の使者/天使と悪意の|戦いは/不本意な結末"
		romaji="akui ga chijou ni|michita toki/ten yori maiorita|kami no shisha/tenshi to akui no|tatakai wa/fuhon'ina ketsumatsu"
	%}
	{% include verse.html
		lyrics="滅んだはずの|天使が今/少女の手を握り|こう言うのだ/「君を素敵な|空の城へと/連れて行ってあげよう」と"
		romaji="horonda hazu no|tenshi ga ima/shoujo no te wo nigiri|kou iu no da/&quot;kimi wo sutekina|sora no shiro he to/tsureteitte ageyou&quot; to"
	%}
	{% include verse.html
		lyrics="迷う事など無い|天使に抱えられ/少女は空へと|導かれてく/袖の中|隠したナイフ"
		romaji="mayou koto nado nai|tenshi ni kakaerare/shoujo wa sora he to|michibikareteku/sode no naka|kakushita NAIFU"
	%}
	{% include verse.html
		lyrics="天使の胸の中|悪ノ皇女は嗤う/憎き天使たちに/今こそ復讐の時"
		romaji="tenshi no mune no naka|aku NO oujo wa warau/nikuki tenshi-tachi ni/ima koso fukushuu no toki"
	%}
	{% include verse.html
		lyrics="目の見えぬ少女は|知らぬのだ/その男の羽の|色の事/清き天使の|白ではなく/闇の如き|黒き羽"
		romaji="me no mienu shoujo wa|shiranu no da/sono otoko no hane no|iro no koto/kiyoki tenshi no|shiro de wa naku/yami no kotoki|kuroki hane"
	%}
	{% include verse.html
		lyrics="視野の無い彼女は|知らぬのだ/世界が想像より|広い事/この世に自分らより|恐ろしい/悪の存在が|ある事を"
		romaji="shiya no nai kanojo wa|shiranu no da/sekai ga souzou yori|hiroi koto/kono yo ni jibunra yori|osoroshii/aku no sonzai ga|aru koto wo"
	%}
	{% include verse.html
		lyrics="やがて辿りついた|空の城/少女は盲目では|なくなった/そして彼女は世にも|おぞましい/景色を見る事に|なった"
		romaji="yagate tadoritsuita|sora no shiro/shoujo wa moumoku de wa|nakunatta/soshite kanojo wa yo ni mo|ozomashii/keshiki wo miru koto ni|natta"
	%}
	{% include verse.html
		lyrics="これは決して悲劇ではない/悪と悪が出会った喜劇さ"
		romaji="kore wa kesshite higeki de wa nai/aku to aku ga deatta kigeki sa"
	%}
	{% include verse.html
		lyrics="再び動き出す新しい/物語の|始まりなのさ"
		romaji="futatabi ugokidasu atarashii/monogatari no|hajimari na no sa"
	%}
</div>