---
english-name: Blink
image: /assets/images/thumbs/NemesisAlbum.jpg
translation: https://pricechecktranslations.tumblr.com/post/103763344265
mothyrights: <em>The Evillious Chronicles</em>|<em>Blink</em>
---
<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="この苗木が根付いた時/私は今より大人でしょう"
			romaji="kono naegi ga nedzuita toki/watashi wa ima yori otona deshou"
		%}
		{% include verse.html
			lyrics="大きく高く伸びた時/私は生きてるでしょうか"
			romaji="ookiku takaku nobita toki/watashi wa ikiteru deshou ka"
		%}
		{% include verse.html
			lyrics="生きているでしょうか"
			romaji="ikiteiru deshou ka"
		%}
		{% include verse.html
			lyrics="たくさんの葉をつけた時/世界は今よりに変わってるでしょう"
			romaji="takusan no ha wo tsuketa toki/sekai wa ima yori kawatteru deshou"
		%}
		{% include verse.html
			lyrics="立派な大樹になった時/罪は許されるでしょうか"
			romaji="rippana taiju ni natta toki/tsumi wa yurusareru deshou ka"
		%}
		{% include verse.html
			lyrics="許されるでしょうか"
			romaji="yurusareru deshou ka"
		%}
		{% include verse.html
			lyrics="千年の時間さえも/あなたには瞬きでしょう"
			romaji="sennen no jikan sae mo/anata ni wa matataki deshou"
		%}
		{% include verse.html
			lyrics="きっと|きっと"
			romaji="kitto|kitto"
		%}
		{% include verse.html
			lyrics="願わくばこの樹の元/永遠の平和を"
			romaji="negawakuba kono ki no moto/towa no heiwa wo"
		%}
		{% include verse.html
			lyrics="永遠の平和を"
			romaji="towa no heiwa wo"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="この苗木が根付いた時/私は今より大人でしょう/大きく高く伸びた時/私は生きてるでしょうか/生きているでしょうか"
			romaji="kono naegi ga nedzuita toki/watashi wa ima yori otona deshou/ookiku takaku nobita toki/watashi wa ikiteru deshou ka/ikiteiru deshou ka"
		%}
		{% include verse.html
			lyrics="たくさんの葉をつけた時/世界は今よりに変わってるでしょう/立派な大樹になった時/罪は許されるでしょうか/許されるでしょうか"
			romaji="takusan no ha wo tsuketa toki/sekai wa ima yori kawatteru deshou/rippana taiju ni natta toki/tsumi wa yurusareru deshou ka/yurusareru deshou ka"
		%}
		{% include verse.html
			lyrics="千年の時間さえも/あなたには瞬きでしょう/きっと|きっと"
			romaji="sennen no jikan sae mo/anata ni wa matataki deshou/kitto|kitto"
		%}
		{% include verse.html
			lyrics="願わくばこの樹の元/永遠の平和を/永遠の平和を"
			romaji="negawakuba kono ki no moto/towa no heiwa wo/towa no heiwa wo"
		%}
	</div>
</div>