---
english-name: Bloodstained Switch
translation: https://pricechecktranslations.tumblr.com/post/105033113645
mothyrights: <em>The Evillious Chronicles</em>|<em>Bloodstained Switch</em>
---
<div><!--TOADD: MAYU 2CD ver.-->
	<h3>PV &middot; <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> &middot; <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="スイッチを押したのは/私ではないのです"
		romaji="SUICCHI wo oshita no wa/watashi de wa nai no desu"
	%}
	{% include verse.html
		lyrics="今日の朝/私がとっても大好きな優しいパパが/ぐちゃぐちゃな血と肉片の塊になりました"
		romaji="kyou no asa/watashi ga tottemo daisukina yasashii PAPA ga/guchaguchana chi to nikuhen no katamari ni narimashita"
	%}
	{% include verse.html
		lyrics="工場で働くパパの仕事ぶり/それを見ているのが楽しくて/毎日のように見学に来てました"
		romaji="koujou de hataraku PAPA no shigotoburi/sore wo miteiru no ga tanoshikute/mainichi no you ni kengaku ni kitemashita"
	%}
	{% include verse.html
		lyrics="赤いスイッチは/とても危険だから/押してはいけないという/言いつけも守ってました"
		romaji="akai SUICCHI wa/totemo kiken dakara/oshite wa ikenai to iu/iitsuke mo mamottemashita"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="スイッチを押したのは/私ではないのです/スイッチを押したのは/もう一人の私なんです"
		romaji="SUICCHI wo oshita no wa/watashi de wa nai no desu/SUICCHI wo oshita no wa/mou hitori no watashi nan desu"
	%}
	{% include verse.html
		lyrics="いい子でいようとあれほど決めたのに/どうしてあなたは勝手なことするの？/ねえ|先生/パパが死んだのはオルターエゴのせいなのです"
		romaji="ii ko de iyou to are hodo kimeta no ni/doushite anata wa kattena koto suru no?/nee|sensei/PAPA ga shinda no wa ORUTAA EGO no sei na no desu"
	%}
	{% include verse.html
		lyrics="先生がくれた/青と白の錠剤を/飲んでいればスイッチは/入らないって言ってたじゃない"
		romaji="sensei ga kureta/ao to shiro no jouzai wo/nondeireba SUICCHI wa/hairanai tte itteta janai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="スイッチを押したのは/私ではないのです/入れ替わるスイッチは/いつの間にか押されていたの"
		romaji="SUICCHI wo oshita no wa/watashi de wa nai no desu/ikeraru SUICCHI wa/itsu no manika ni ka osareteita no"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="生まれた時から私の中には/殺したがりの彼女が根付いていたのです"
		romaji="umareta toki kara watshi no naka ni wa/koroshitagari no kanojo ga netsuiteita no desu"
	%}
	{% include verse.html
		lyrics="スイッチを押したのは/私ではないのです/スイッチを押したのは/もう一人の彼女なんだから"
		romaji="SUICCHI wo oshita no wa/watashi de wa nai no desu/SUICCHI wo oshita no wa/mou hitori no kanojo nan dakara"
	%}
	{% include verse.html
		lyrics="私は悪くない/私は悪くない/私は悪くない/私は悪くない/私は悪くない/私は悪くない"
		romaji="watashi wa warukunai/watashi wa warukunai/watashi wa warukunai/watashi wa warukunai/watashi wa warukunai/watashi wa warukunai"
	%}
	{% include verse.html
		lyrics="だから/その注射は打たないで/その注射は嫌いなのよ"
		romaji="dakara/sono chuusha wa utanaide/sono chuusha wa kiraina no yo"
	%}
</div>