---
english-name: Capriccio Farce
translation: https://pricechecktranslations.tumblr.com/post/104262914165
mothyrights: <em>The Evillious Chronicles</em>|<em>Capriccio Farce</em>
css: capriccio.css
---
<div id="evilscourt">
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a></h3>
	<hr />
	{% include verse.html style="margin-bottom:0;"
		lyrics="空の被告席|ガラクタばかりの傍聴席/さあ始めよう|裁判という茶番を"
		romaji="kara no hikokuseki|GARAKUTA bakari no bouchouseki/saa hajimeyou|saiban to iu chaban wo"
	%}
	<hr style="margin-bottom:2.4em;" />
	{% include verse.html
		lyrics="master of the court/「神の命により探し求める器も残るはあと一つだけ|その在りかをもしも知るのならばそれを証言なさい/『時の魔導師』よ」"
		romaji="master of the court/&quot;kami no ei ni yori sagashimotomeru utsuwa mo nokuru wa ato hitotsu dake|sono arika wo moshimo shiru no naraba sore wo shougen nasai/'toki no madoushi' yo&quot;"
	%}
	{% include verse.html
		lyrics="Ma/「時を超え姿を変え主を変えそれはすでに舞台に登場している|されど今の在処は我も知らず|おそらくはあの娘の手の中に」"
		romaji="Ma/&quot;toki wo kae sugata wo kae nushi wo kae sore wa sude ni butai ni toujoushiteiru|saredo ima no arika wa ware mo shirazu|osoraku wa ano ko no te no naka ni&quot;"
	%}
	{% include verse.html
		lyrics="servants/「探せ探せ|アイツを探せ/右か左か|あるいは下か/全てのカギを握ってる/『冥界の主』を探せ」"
		romaji="servants/&quot;sagase sagase|AITSU wo sagase/migi ka hidari ka|arui wa shita ka/subete no KAGI wo nigitteru/'meikai no nushi' wo sagase&quot;"
	%}
	{% include verse.html
		lyrics="gear/「いつまでこの茶番を続けるのか/その先には何もない」"
		romaji="gear/&quot;itsu made kono chaban wo tsudzukeru no ka/sono saki ni wa nani mo nai&quot;"
	%}
	{% include verse.html
		lyrics="master of the graveyard/「罠に落ちたアダムの魂よ/お前の成せる事などもう何もない」"
		romaji="master of the graveyard/&quot;wana ni ochita ADAMU no tamashii yo/omae no naseru koto nado mou nani mo nai&quot;"
	%}
	<hr />
	{% include verse.html
		lyrics="揺らぐ天秤|乱れた脚本（シナリオ）/罪に汚れた器達|各々の歌を勝手に奏でる不協和音の狂想曲（カプリシオ）/物語は既に神と悪魔の手を離れて独り歩き|彼らがもしもこの地にいたならこう言って嘆くだろう"
		romaji="yuragu tenbin|midareta SHINARIO/tsumi ni yogoreta utsuwa-tachi|onoono no uta wo katte ni kanaderu fukyouwaon no KAPURISHIO/monogatari wa sude ni kami to akuma no te wo hanarete hitori aruki|karera ga moshimo kono chi ni ita nara kou itte nageku darou"
	%}
	{% include verse.html style="margin-bottom:0;"
		lyrics="――本当に恐ろしいのは/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|人間の欲望だった――"
		romaji="hontou ni osoroshii no wa/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|ningen no yokubou datta"
	%}
	<hr style="margin-bottom:2.4em;" />
	{% include verse.html
		lyrics="master of the court/「少し情報を整理しましょう|悪魔の血を引く卑し男よ|許可してあげるので語りなさい|お前がこの森に来た時の事を」"
		romaji="master of the court/&quot;sukoshi jouhou wo seirishimashou|akuma no chi wo hiku iyashi otoko yo|kyokashiteageru no de katarinasai|omae ga kono mori ni kita toki no koto wo&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「我の身に宿る忌まわしき呪い|それを解く為に必要となる先祖由来の険を求めて|一人でこの森にやってきた」"
		romaji="gardener/&quot;ware no mi ni yadoru imawashiki noroi|sore wo toku tame ni hitsuyou tonaru senzo yurai no ken wo motomete|hitori de kono mori ni yattekita&quot;"
	%}
	{% include verse.html
		lyrics="（殺せ食らえ|無理なら捕まえろ/森に入った不届き者を）/（裁け裁け|とにかく裁け/開廷！判決！死刑！）"
		romaji="(korose kurae|muri nara tsukamaero/mori ni haitta futodokimono wo)/(sabake sabake|tonikaku sabake/kaitei! hanketsu! shikei!)"
	%}
	{% include verse.html
		lyrics="gardener/「捕らえられ覚悟を決めた時に/気まぐれ少女が手を差し伸べた」"
		romaji="gardener/&quot;toraerare kakugo wo kimeta toki ni/kimagure shoujo ga te wo sashinobeta&quot;"
	%}
	{% include verse.html
		lyrics="waiter/「ちょうど雑用係が欲しかったの」"
		romaji="waiter/&quot;choudo zatsuyou gakari ga hoshikatta no&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「そして我は『庭師』になった」"
		romaji="gardener/&quot;soshite ware wa 'niwashi' ni natta&quot;"
	%}
	<hr />
	{% include verse.html
		lyrics="『時の魔導師』|『呪われた庭師』/目覚めぬ器の代用品/各々の野望|胸に秘める/不穏分子の侵入者（インベーダー）"
		romaji="'toki no madoushi'|'norowareta niwashi'/mezamenu utsuwa no daiyouhin/onoono no yabou|mune ni himeru/fuonbunshi no INBEEDAA"
	%}
	{% include verse.html
		lyrics="『人形館長』『墓場の主』『歯車』/『待つ者』『冥界の主』/全ての終わりが訪れた時/笑っているのは誰なのか？"
		romaji="'ningyou kanchou' 'hakaba no aruji' 'haguruma'/'matsu mono' 'meikai no nushi'/subete no owari ga otozureta toki/waratteiru no wa dare na no ka?"
	%}
	{% include verse.html
		lyrics="――るりらるりらるりるりら/&emsp;&emsp;&emsp;&emsp;|響くイレギュラーの鼓動――"
		romaji="rurira rurira rurirurira/&emsp;&emsp;&emsp;&emsp;|hibiku IREGYURAA no kodou"
	%}
	{% include verse.html
		lyrics="友情|トラウマ|正義|幻覚/希望|破滅|夢|欲|愛|死/全てを溶かして廻り続ける/ぜんまい仕掛けの子守唄/孤独な男がその死の間際/作りあげた映画館/彼が望んでいたユートピアは/完成するのだろうか？"
		romaji="yuujou|TORAUMA|seigi|genkaku/kibou|hametsu|yume|yoku|ai|shi/subete wo tokashite mawari tsudzukeru/zenmaijikake no komoriuta/kodokuna otoko ga sono shi no magiwa/tsukuriageta eigakan/kare ga nozondeita YUUTOPIA wa/kanseisuru no darou ka?"
	%}
	{% include verse.html style="margin-bottom:0;"
		lyrics="さあ見届けよう|人生という茶番を"
		romaji="saa mitodokeyou|jinsei to iu chaban wo"
	%}
	<hr />
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="----------------------------------------------------/空の被告席|ガラクタばかりの傍聴席/さあ始めよう|裁判という茶番を/----------------------------------------------------"
		romaji="----------------------------------------------------/kara no hikokuseki|GARAKUTA bakari no bouchouseki/saa hajimeyou|saiban to iu chaban wo/----------------------------------------------------"
	
	%}
	{% include verse.html
		lyrics="master of the court/「神の命により探し求める|器も残るはあと一つだけ/その在りかをもしも知るのならば|それを証言なさい|『時の魔導師』よ」"
		romaji="master of the court/&quot;kami no ei ni yori sagashimotomeru|utsuwa mo nokuru wa ato hitotsu dake/sono arika wo moshimo shiru no naraba|sore wo shougen nasai|'toki no madoushi' yo&quot;"
	%}
	{% include verse.html
		lyrics="Ma/「時を超え姿を変え主を変え|それはすでに舞台に登場している/されど今の在処は我も知らず|おそらくはあの娘の手の中に」"
		romaji="Ma/&quot;toki wo kae sugata wo kae nushi wo kae|sore wa sude ni butai ni toujoushiteiru/saredo ima no arika wa ware mo shirazu|osoraku wa ano ko no te no naka ni&quot;"
	%}
	{% include verse.html
		lyrics="servants/「探せ探せ|アイツを探せ|右か左か|あるいは下か/全てのカギを握ってる|『冥界の主』を探せ」"
		romaji="servants/&quot;sagase sagase|AITSU wo sagase|migi ka hidari ka|arui wa shita ka/subete no KAGI wo nigitteru|'meikai no nushi' wo sagase&quot;"
	%}
	{% include verse.html
		lyrics="gear/「いつまでこの茶番を続けるのか|その先には何もない」"
		romaji="gear/&quot;itsu made kono chaban wo tsudzukeru no ka|sono saki ni wa nani mo nai&quot;"
	%}
	{% include verse.html
		lyrics="master of the graveyard/「罠に落ちたアダムの魂よ|お前の成せる事などもう何もない」"
		romaji="master of the graveyard/&quot;wana ni ochita ADAMU no tamashii yo|omae no naseru koto nado mou nani mo nai&quot;"
	%}
	{% include verse.html
		lyrics="----------------------------------------------------/揺らぐ天秤|乱れた脚本（シナリオ）|罪に汚れた器達/各々の歌を勝手に奏でる|不協和音の狂想曲（カプリシオ）"
		romaji="----------------------------------------------------/yuragu tenbin|midareta SHINARIO|tsumi ni yogoreta utsuwa-tachi/onoono no uta wo katte ni kanaderu|fukyouwaon no KAPURISHIO"
	%}
	{% include verse.html
		lyrics="物語は既に神と悪魔の|手を離れて独り歩き/彼らがもしもこの地にいたなら|こう言って嘆くだろう"
		romaji="monogatari wa sude ni kami to akuma no|te wo hanarete hitori aruki/karera ga moshimo kono chi ni ita nara|kou itte nageku darou"
	%}
	{% include verse.html
		lyrics="――本当に恐ろしいのは|人間の欲望だった――/----------------------------------------------------"
		romaji="hontou ni osoroshii no wa|ningen no yokubou datta/----------------------------------------------------"
	%}
	{% include verse.html
		lyrics="master of the court/「少し情報を整理しましょう|悪魔の血を引く卑し男よ/許可してあげるので語りなさい|お前がこの森に来た時の事を」"
		romaji="master of the court/&quot;sukoshi jouhou wo seirishimashou|akuma no chi wo hiku iyashi otoko yo/kyokashiteageru no de katarinasai|omae ga kono mori ni kita toki no koto wo&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「我の身に宿る忌まわしき呪い|それを解く為に必要となる/先祖由来の険を求めて|一人でこの森にやってきた」"
		romaji="gardener/&quot;ware no mi ni yadoru imawashiki noroi|sore wo toku tame ni hitsuyou tonaru/senzo yurai no ken wo motomete|hitori de kono mori ni yattekita&quot;"
	%}
	{% include verse.html
		lyrics="（殺せ食らえ|無理なら捕まえろ|森に入った不届き者を）/（裁け裁け|とにかく裁け|開廷！|判決！|死刑！）"
		romaji="(korose kurae|muri nara tsukamaero|mori ni haitta futodokimono wo)/(sabake sabake|tonikaku sabake|kaitei!|hanketsu!|shikei!)"
	%}
	{% include verse.html
		lyrics="gardener/「捕らえられ覚悟を決めた時に|気まぐれ少女が手を差し伸べた」"
		romaji="gardener/&quot;toraerare kakugo wo kimeta toki ni|kimagure shoujo ga te wo sashinobeta&quot;"
	%}
	{% include verse.html
		lyrics="waiter/「ちょうど雑用係が欲しかったの」"
		romaji="waiter/&quot;choudo zatsuyou gakari ga hoshikatta no&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「そして我は『庭師』になった」"
		romaji="gardener/&quot;soshite ware wa 'niwashi' ni natta&quot;"
	%}
	{% include verse.html
		lyrics="----------------------------------------------------/『時の魔導師』|『呪われた庭師』|目覚めぬ器の代用品/各々の野望|胸に秘める|不穏分子の侵入者（インベーダー）"
		romaji="----------------------------------------------------/'toki no madoushi'|'norowareta niwashi'|mezamenu utsuwa no daiyouhin/onoono no yabou|mune ni himeru|fuonbunshi no INBEEDAA"
	%}
	{% include verse.html
		lyrics="『人形館長』『墓場の主』『歯車』『待つ者』『冥界の主』/全ての終わりが訪れた時|笑っているのは誰なのか？"
		romaji="'ningyou kanchou' 'hakaba no aruji' 'haguruma' 'matsu mono' 'meikai no nushi'/subete no owari ga otozureta toki|waratteiru no wa dare na no ka?"
	%}
	{% include verse.html
		lyrics="るりらるりらるりるりら|響くイレギュラーの鼓動"
		romaji="rurira rurira rurirurira|hibiku IREGYURAA no kodou"
	%}
	{% include verse.html
		lyrics="友情|トラウマ|正義|幻覚|希望|破滅|夢|欲|愛|死/全てを溶かして廻り続ける|ぜんまい仕掛けの子守唄/孤独な男がその死の間際|作りあげた映画館/彼が望んでいたユートピアは|完成するのだろうか？"
		romaji="yuujou|TORAUMA|seigi|genkaku|kibou|hametsu|yume|yoku|ai|shi/subete wo tokashite mawari tsudzukeru|zenmaijikake no komoriuta/kodokuna otoko ga sono shi no magiwa|tsukuriageta eigakan/kare ga nozondeita YUUTOPIA wa|kanseisuru no darou ka?"
	%}
	{% include verse.html
		lyrics="さあ見届けよう|人生という茶番を/----------------------------------------------------"
		romaji="saa mitodokeyou|jinsei to iu chaban wo/----------------------------------------------------"
	
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="空の被告席|ガラクタばかりの傍聴席/さあ始めよう|裁判という茶番を"
		romaji="kara no hikokuseki|GARAKUTA bakari no bouchouseki/saa hajimeyou|saiban to iu chaban wo"
	%}
	{% include verse.html
		lyrics="神の命により探し求める/器も残るはあと一つだけ/その在りかをもしも知るのならば/それを証言なさい『時の魔導師』よ"
		romaji="kami no ei ni yori sagashimotomeru/utsuwa mo nokuru wa ato hitotsu dake/sono arika wo moshimo shiru no naraba/sore wo shougen nasai 'toki no madoushi' yo"
	%}
	{% include verse.html
		lyrics="時を超え姿を変え主を変え/それはすでに舞台に登場している/されど今の在処は我も知らず/おそらくはあの娘の手の中に"
		romaji="toki wo kae sugata wo kae nushi wo kae/sore wa sude ni butai ni toujoushiteiru/saredo ima no arika wa ware mo shirazu/osoraku wa ano ko no te no naka ni"
	%}
	{% include verse.html
		lyrics="探せ探せ|アイツを探せ/右か左か|あるいは下か/全てのカギを握ってる/『冥界の主』を探せ"
		romaji="sagase sagase|AITSU wo sagase/migi ka hidari ka|arui wa shita ka/subete no KAGI wo nigitteru/'meikai no nushi' wo sagase"
	%}
	{% include verse.html
		lyrics="いつまでこの茶番を続けるのか/その先には何もない/罠に落ちたアダムの魂よ/お前の成せる事などもう何もない"
		romaji="itsu made kono chaban wo tsudzukeru no ka/sono saki ni wa nani mo nai/wana ni ochita ADAMU no tamashii yo/omae no naseru koto nado mou nani mo nai"
	%}
	{% include verse.html
		lyrics="揺らぐ天秤|乱れた脚本/罪に汚れた器達/各々の歌を勝手に奏でる/不協和音の狂想曲"
		romaji="yuragu tenbin|midareta SHINARIO/tsumi ni yogoreta utsuwa-tachi/onoono no uta wo katte ni kanaderu/fukyouwaon no KAPURISHIO"
	%}
	{% include verse.html
		lyrics="物語は既に神と悪魔の/手を離れて独り歩き/彼らがもしもこの地にいたなら/こう言って嘆くだろう"
		romaji="monogatari wa sude ni kami to akuma no/te wo hanarete hitori aruki/karera ga moshimo kono chi ni ita nara/kou itte nageku darou"
	%}
	{% include verse.html
		lyrics="本当に恐ろしいのは/人間の欲望だった"
		romaji="hontou ni osoroshii no wa/ningen no yokubou datta"
	%}
	{% include verse.html
		lyrics="少し情報を整理しましょう/悪魔の血を引く卑し男よ/許可してあげるので語りなさい/お前がこの森に来た時の事を"
		romaji="sukoshi jouhou wo seirishimashou/akuma no chi wo hiku iyashi otoko yo/kyokashiteageru no de katarinasai/omae ga kono mori ni kita toki no koto wo"
	%}
	{% include verse.html
		lyrics="我の身に宿る忌まわしき呪い/それを解く為に必要となる/先祖由来の険を求めて/一人でこの森にやってきた"
		romaji="ware no mi ni yadoru imawashiki noroi/sore wo toku tame ni hitsuyou tonaru/senzo yurai no ken wo motomete/hitori de kono mori ni yattekita"
	%}
	{% include verse.html
		lyrics="殺せ食らえ|無理なら捕まえろ/森に入った不届き者を/裁け裁け|とにかく裁け/開廷！|判決！|死刑！"
		romaji="korose kurae|muri nara tsukamaero/mori ni haitta futodokimono wo/sabake sabake|tonikaku sabake/kaitei!|hanketsu!|shikei!"
	%}
	{% include verse.html
		lyrics="捕らえられ覚悟を決めた時に/気まぐれ少女が手を差し伸べた/ちょうど雑用係が欲しかったの/そして我は『庭師』になった"
		romaji="toraerare kakugo wo kimeta toki ni/kimagure shoujo ga te wo sashinobeta/choudo zatsuyou gakari ga hoshikatta no/soshite ware wa 'niwashi' ni natta"
	%}
	{% include verse.html
		lyrics="『時の魔導師』『呪われた庭師』/目覚めぬ器の代用品/各々の野望|胸に秘める/不穏分子の侵入者"
		romaji="'toki no madoushi' 'norowareta niwashi'/mezamenu utsuwa no daiyouhin/onoono no yabou|mune ni himeru/fuonbunshi no INBEEDAA"
	%}
	{% include verse.html
		lyrics="『人形館長』『墓場の主』『歯車』/『待つ者』『冥界の主』/全ての終わりが訪れた時/笑っているのは誰なのか？"
		romaji="'ningyou kanchou' 'hakaba no aruji' 'haguruma'/'matsu mono' 'meikai no nushi'/subete no owari ga otozureta toki/waratteiru no wa dare na no ka?"
	%}
	{% include verse.html
		lyrics="るりらるりらるりるりら/響くイレギュラーの鼓動"
		romaji="rurira rurira rurirurira/hibiku IREGYURAA no kodou"
	%}
	{% include verse.html
		lyrics="友情|トラウマ|正義|幻覚/希望|破滅|夢|欲|愛|死/全てを溶かして廻り続ける/ぜんまい仕掛けの子守唄/孤独な男がその死の間際/作りあげた映画館/彼が望んでいた理想郷は/完成するのだろうか？"
		romaji="yuujou|TORAUMA|seigi|genkaku/kibou|hametsu|yume|yoku|ai|shi/subete wo tokashite mawari tsudzukeru/zenmaijikake no komoriuta/kodokuna otoko ga sono shi no magiwa/tsukuriageta eigakan/kare ga nozondeita YUUTOPIA wa/kanseisuru no darou ka?"
	%}
	{% include verse.html
		lyrics="さあ見届けよう|人生という茶番を"
		romaji="saa mitodokeyou|jinsei to iu chaban wo"
	%}
</div>

<div id="clockworklullaby">
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	<hr />
	{% include verse.html
		lyrics="空の被告席|ガラクタばかりの傍聴席/さあ始めよう|裁判という茶番を"
		romaji="kara no hikokuseki|GARAKUTA bakari no bouchouseki/saa hajimeyou|saiban to iu chaban wo"
	%}
	<hr />
	{% include verse.html
		lyrics="master of the court/「神の命により探し求める/器も残るはあと一つだけ/その在りかをもしも知るのならば/それを証言なさい『時の魔導師』よ」"
		romaji="master of the court/&quot;kami no ei ni yori sagashimotomeru/utsuwa mo nokuru wa ato hitotsu dake/sono arika wo moshimo shiru no naraba/sore wo shougen nasai 'toki no madoushi' yo&quot;"
	%}
	{% include verse.html
		lyrics="Ma/「時を超え姿を変え主を変え/それはすでに舞台に登場している/されど今の在処は我も知らず/おそらくはあの娘の手の中に」"
		romaji="Ma/&quot;toki wo kae sugata wo kae nushi wo kae/sore wa sude ni butai ni toujoushiteiru/saredo ima no arika wa ware mo shirazu/osoraku wa ano ko no te no naka ni&quot;"
	%}
	{% include verse.html
		lyrics="servants/「探せ探せ|アイツを探せ/右か左か|あるいは下か/全てのカギを握ってる『冥界の主』を探せ」"
		romaji="servants/&quot;sagase sagase|AITSU wo sagase/migi ka hidari ka|arui wa shita ka/subete no KAGI wo nigitteru 'meikai no nushi' wo sagase&quot;"
	%}
	{% include verse.html
		lyrics="gear/「いつまでこの茶番を続けるのか/その先には何もない」"
		romaji="gear/&quot;itsu made kono chaban wo tsudzukeru no ka/sono saki ni wa nani mo nai&quot;"
	%}
	{% include verse.html
		lyrics="master of the graveyard/「罠に落ちたアダムの魂よ/お前の成せる事などもう何もない」"
		romaji="master of the graveyard/&quot;wana ni ochita ADAMU no tamashii yo/omae no naseru koto nado mou nani mo nai&quot;"
	%}
	<hr />
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="揺らぐ天秤|乱れた脚本（シナリオ）/罪に汚れた器達/各々の歌を勝手に奏でる/不協和音の狂想曲（カプリシオ）"
		romaji="yuragu tenbin|midareta SHINARIO/tsumi ni yogoreta utsuwa-tachi/onoono no uta wo katte ni kanaderu/fukyouwaon no KAPURISHIO"
	%}
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="物語は既に神と悪魔の|手を離れて独り歩き/彼らがもしもこの地にいたなら/こう言って嘆くだろう"
		romaji="monogatari wa sude ni kami to akuma no|te wo hanarete hitori aruki/karera ga moshimo kono chi ni ita nara/kou itte nageku darou"
	%}
	{% include verse.html style="margin-bottom:0;"
		lyrics="――本当に恐ろしいのは/&emsp;|人間の欲望だった――"
		romaji="hontou ni osoroshii no wa/&emsp;|ningen no yokubou datta"
	%}
	<hr />
	{% include verse.html
		lyrics="master of the court/「少し情報を整理しましょう/悪魔の血を引く卑し男よ/許可してあげるので語りなさい/お前がこの森に来た時の事を」"
		romaji="master of the court/&quot;sukoshi jouhou wo seirishimashou/akuma no chi wo hiku iyashi otoko yo/kyokashiteageru no de katarinasai/omae ga kono mori ni kita toki no koto wo&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「我の身に宿る忌まわしき呪い/それを解く為に必要となる/先祖由来の険を求めて/一人でこの森にやってきた」"
		romaji="gardener/&quot;ware no mi ni yadoru imawashiki noroi/sore wo toku tame ni hitsuyou tonaru/senzo yurai no ken wo motomete/hitori de kono mori ni yattekita&quot;"
	%}
	{% include verse.html
		lyrics="（殺せ食らえ|無理なら捕まえろ/森に入った不届き者を）/（裁け裁け|とにかく裁け/開廷！判決！死刑！）"
		romaji="(korose kurae|muri nara tsukamaero/mori ni haitta futodokimono wo)/(sabake sabake|tonikaku sabake/kaitei! hanketsu! shikei!)"
	%}
	{% include verse.html
		lyrics="gardener/「捕らえられ覚悟を決めた時に/気まぐれ少女が手を差し伸べた」"
		romaji="gardener/&quot;toraerare kakugo wo kimeta toki ni/kimagure shoujo ga te wo sashinobeta&quot;"
	%}
	{% include verse.html
		lyrics="waiter/「ちょうど雑用係が欲しかったの」"
		romaji="waiter/&quot;choudo zatsuyou gakari ga hoshikatta no&quot;"
	%}
	{% include verse.html
		lyrics="gardener/「そして我は『庭師』になった」"
		romaji="gardener/&quot;soshite ware wa 'niwashi' ni natta&quot;"
	%}
	<hr />
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="『時の魔導師』『呪われた庭師』/目覚めぬ器の代用品/各々の野望|胸に秘める/不穏分子の侵入者（インベーダー）"
		romaji="'toki no madoushi' 'norowareta niwashi'/mezamenu utsuwa no daiyouhin/onoono no yabou|mune ni himeru/fuonbunshi no INBEEDAA"
	%}
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="『人形館長』『墓場の主』『歯車』/『待つ者』『冥界の主』/全ての終わりが訪れた時/笑っているのは誰なのか？"
		romaji="'ningyou kanchou' 'hakaba no aruji' 'haguruma'/'matsu mono' 'meikai no nushi'/subete no owari ga otozureta toki/waratteiru no wa dare na no ka?"
	%}
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="るりらるりらるりるりら/響くイレギュラーの鼓動"
		romaji="rurira rurira rurirurira/hibiku IREGYURAA no kodou"
	%}
	{% include verse.html style="margin-bottom:1.6em;"
		lyrics="友情|トラウマ|正義|幻覚/希望|破滅|夢|欲|愛|死/全てを溶かして廻り続ける/ぜんまい仕掛けの子守唄/孤独な男がその死の間際/作りあげた映画館/彼が望んでいたユートピアは/完成するのだろうか？"
		romaji="yuujou|TORAUMA|seigi|genkaku/kibou|hametsu|yume|yoku|ai|shi/subete wo tokashite mawari tsudzukeru/zenmaijikake no komoriuta/kodokuna otoko ga sono shi no magiwa/tsukuriageta eigakan/kare ga nozondeita YUUTOPIA wa/kanseisuru no darou ka?"
	%}
	{% include verse.html style="margin-bottom:0;"
		lyrics="さあ見届けよう|人生という茶番を"
		romaji="saa mitodokeyou|jinsei to iu chaban wo"
	%}
	<hr />
</div>