---
english-name: Chrono Story
translation: https://pricechecktranslations.tumblr.com/post/104036436710
mothyrights: <em>The Evillious Chronicles</em>|<em>Chrono Story</em>
---
<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> &middot; <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="聞こえてくるのは鳥の歌？/いいえそれは森の鳴き声/輝いているのは月の光？/いいえそれは燃える炎よ"
			romaji="kikoetekuru no wa tori no uta?/iie sore wa mori no nakigoe/kagayaiteiru no wa tsuki no hikari?/iie sore wa moeru honoo yo"
		%}
		{% include verse.html
			lyrics="かつて「母さん」と呼んだ人/暖炉の中で灰へと変わり/後に残った「始まりの罪」/僕らの手で七つに分けた"
			romaji="katsute &quot;kaa-san&quot; to yonda hito/danro no naka de hai he to kawari/ato ni nokotta &quot;hajimari no tsumi&quot;/bokura no te de nanatsu ni waketa"
		%}
		{% include verse.html
			lyrics="「色欲」は花/「悪食」は種/「傲慢」は石/「嫉妬」は泉/「怠惰」は風/「強欲」は土/そして/「憤怒」は森"
			romaji="&quot;shikiyoku&quot; wa hana/&quot;akujiki&quot; wa tane/&quot;gouman&quot; wa ishi/&quot;shitto&quot; wa izumi/&quot;taida&quot; wa kaze/&quot;gouyoku&quot; wa tsuchi/soshite/&quot;funnu&quot; wa mori"
		%}
		{% include verse.html class="versebreak"
			lyrics="舞い上がれ七つの罪/偽りの母から生まれた穢れ/回れ廻れ世界よ/この悪しき大罪/清めてよ"
			romaji="maiagare nanatsu no tsumi/itsuwari no haha kara umareta kegare/maware maware sekai yo/kono ashiki taizai/kiyomete yo"
		%}
		{% include verse.html
			lyrics="禁断の果実の手で/世界に放たれた七つの罪/森を守るエルドの樹は/全ての回収を友に頼む"
			romaji="kindan no kajitsu no te de/sekai ni hanatareta nanatsu no tsumi/mori wo mamoru ERUDO no ki wa/subete no kaishuu wo tomo ni tanomu"
		%}
		{% include verse.html
			lyrics="「退屈しのぎになるならそれも構わない」/「どうせ時間は無限にあるし」/嗤う魔道師"
			romaji="&quot;taikutsu shinogi ni naru nara sore mo kamawanai&quot;/&quot;douse jikan wa mugen ni arushi&quot;/warau madoushi"
		%}
		{% include verse.html
			lyrics="愛する人を失い/大事なものを壊したその果てに/与えられた悠久は/彼女にとって空虚でしかない"
			romaji="aisuru hito wo ushinai/daijina mono wo kowashita sono hate ni/ataerareta yuukyuu wa/kanojo ni totte kuukyo de shikanai"
		%}
		{% include verse.html
			lyrics="全てを手に入れ/そして失った魔道師は/何を望む？/何を求める？/時の果てに…"
			romaji="subete wo te ni ire/soshite ushinatta madoushi wa/nani wo nozomu?/nani wo motomeru?/toki no hate ni..."
		%}
		{% include verse.html
			lyrics="ー人の女から生まれて育まれ/七つに裂かれた罪のストーリー/時を越える魔女の酔狂な気まぐれ/森から始まる時の物語（クロノ・ストーリー）"
			romaji="hitori no onna kara umarete hagukumare/nanatsu ni sakareta tsumi no SUTOORII/toki wo koeru majo no suikyouna kimagure/mori kara hajimaru KURONO SUTOORII"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="聞こえてくるのは鳥の歌？/いいえそれは森の鳴き声/輝いているのは月の光？/いいえそれは燃える炎よ"
			romaji="kikoetekuru no wa tori no uta?/iie sore wa mori no nakigoe/kagayaiteiru no wa tsuki no hikari?/iie sore wa moeru honoo yo"
		%}
		{% include verse.html
			lyrics="かつて「母さん」と呼んだ人/暖炉の中で灰へと変わり/後に残った「始まりの罪」/僕らの手で七つに分けた"
			romaji="katsute &quot;kaa-san&quot; to yonda hito/danro no naka de hai he to kawari/ato ni nokotta &quot;hajimari no tsumi&quot;/bokura no te de nanatsu ni waketa"
		%}
		{% include verse.html
			lyrics="「色欲」は花|「悪食」は種/「傲慢」は石|「嫉妬」は泉/「怠惰」は風|「強欲」は土/そして「憤怒」は森"
			romaji="&quot;shikiyoku&quot; wa hana|&quot;akujiki&quot; wa tane/&quot;gouman&quot; wa ishi|&quot;shitto&quot; wa izumi/&quot;taida&quot; wa kaze|&quot;gouyoku&quot; wa tsuchi/soshite &quot;funnu&quot; wa mori"
		%}
		{% include verse.html
			lyrics="舞い上がれ七つの罪/偽りの母から生まれた穢れ/回れ廻れ世界よ/この悪しき大罪/清めてよ"
			romaji="maiagare nanatsu no tsumi/itsuwari no haha kara umareta kegare/maware maware sekai yo/kono ashiki taizai/kiyomete yo"
		%}
		{% include verse.html
			lyrics="禁断の果実の手で/世界に放たれた七つの罪/森を守るエルドの樹は/全ての回収を友に頼む"
			romaji="kindan no kajitsu no te de/sekai ni hanatareta nanatsu no tsumi/mori wo mamoru ERUDO no ki wa/subete no kaishuu wo tomo ni tanomu"
		%}
		{% include verse.html
			lyrics="「退屈しのぎになるならそれも構わない」/「どうせ時間は無限にあるし」/嗤う魔道師"
			romaji="&quot;taikutsu shinogi ni naru nara sore mo kamawanai&quot;/&quot;douse jikan wa mugen ni arushi&quot;/warau madoushi"
		%}
		{% include verse.html
			lyrics="愛する人を失い/大事なものを壊したその果てに/与えられた悠久は/彼女にとって空虚でしかない"
			romaji="aisuru hito wo ushinai/daijina mono wo kowashita sono hate ni/ataerareta yuukyuu wa/kanojo ni totte kuukyo de shikanai"
		%}
		{% include verse.html
			lyrics="全てを手に入れ|そして失った魔道師は/何を望む？|何を求める？/時の果てに・・・"
			romaji="subete wo te ni ire|soshite ushinatta madoushi wa/nani wo nozomu?|nani wo motomeru?/toki no hate ni..."
		%}
		<p>
			{% include lyric.html lyric="ー人の女から生まれて育まれ" rom="hitori no onna kara umarete hagukumare" %}<br />
			{% include lyric.html lyric="七つに裂かれた罪のストーリー" rom="nanatsu ni sakareta tsumi no SUTOORII" %}<br />
			{% include lyric.html lyric="時を越える魔女の酔狂な気まぐれ" rom="toki wo koeru majo no suikyouna kimagure" %}<br />
			{% include lyric.html lyric="森から始まる<ruby>時の物語<rp>(</rp><rt>クロノ・ストーリー</rt><rp>)</rp></ruby>" rom="mori kara hajimaru KURONO SUTOORII" %}
		</p>
	</div>
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="聞こえてくるのは鳥の歌？/いいえそれは森の鳴き声/輝いているのは月の光？/いいえそれは燃える炎よ"
			romaji="kikoetekuru no wa tori no uta?/iie sore wa mori no nakigoe/kagayaiteiru no wa tsuki no hikari?/iie sore wa moeru honoo yo"
		%}
		{% include verse.html
			lyrics="かつて「母さん」と呼んだ人/暖炉の中で灰へと変わり/後に残った「始まりの罪」/僕らの手で七つに分けた"
			romaji="katsute &quot;kaa-san&quot; to yonda hito/danro no naka de hai he to kawari/ato ni nokotta &quot;hajimari no tsumi&quot;/bokura no te de nanatsu ni waketa"
		%}
		{% include verse.html
			lyrics="「色欲」は花/「悪食」は種/「傲慢」は石/「嫉妬」は泉/「怠惰」は風/「強欲」は土/そして「憤怒」は森"
			romaji="&quot;shikiyoku&quot; wa hana/&quot;akujiki&quot; wa tane/&quot;gouman&quot; wa ishi/&quot;shitto&quot; wa izumi/&quot;taida&quot; wa kaze/&quot;gouyoku&quot; wa tsuchi/soshite &quot;funnu&quot; wa mori"
		%}
		{% include verse.html
			lyrics="舞い上がれ七つの罪/偽りの母から生まれた穢れ/回れ廻れ世界よ/この悪しき大罪/清めてよ"
			romaji="maiagare nanatsu no tsumi/itsuwari no haha kara umareta kegare/maware maware sekai yo/kono ashiki taizai/kiyomete yo"
		%}
		{% include verse.html
			lyrics="禁断の果実の手で/世界に放たれた七つの罪/森を守るエルドの樹は/全ての回収を友に頼む"
			romaji="kindan no kajitsu no te de/sekai ni hanatareta nanatsu no tsumi/mori wo mamoru ERUDO no ki wa/subete no kaishuu wo tomo ni tanomu"
		%}
		{% include verse.html
			lyrics="「退屈しのぎになるなら/|それも構わない」/「どうせ時間は無限にあるし」/嗤う魔道師"
			romaji="&quot;taikutsu shinogi ni naru nara/|sore mo kamawanai&quot;/&quot;douse jikan wa mugen ni arushi&quot;/warau madoushi"
		%}
		{% include verse.html
			lyrics="愛する人を失い/大事なものを壊したその果てに/与えられた悠久は/彼女にとって空虚でしかない"
			romaji="aisuru hito wo ushinai/daijina mono wo kowashita sono hate ni/ataerareta yuukyuu wa/kanojo ni totte kuukyo de shikanai"
		%}
		{% include verse.html
			lyrics="全てを手に入れ/そして失った魔道師は/何を望む？/何を求める？/時の果てに…"
			romaji="subete wo te ni ire/soshite ushinatta madoushi wa/nani wo nozomu?/nani wo motomeru?/toki no hate ni..."
		%}
		<p>
			{% include lyric.html lyric="ー人の女から生まれて育まれ" rom="hitori no onna kara umarete hagukumare" %}<br />
			{% include lyric.html lyric="七つに裂かれた罪のストーリー" rom="nanatsu ni sakareta tsumi no SUTOORII" %}<br />
			{% include lyric.html lyric="時を越える魔女の酔狂な気まぐれ" rom="toki wo koeru majo no suikyouna kimagure" %}<br />
			{% include lyric.html lyric="森から始まる<ruby>時の物語<rp>(</rp><rt>クロノ・ストーリー</rt><rp>)</rp></ruby>" rom="mori kara hajimaru KURONO SUTOORII" %}
		</p>
	</div>
</div>