---
english-name: Clockwork Lullaby
translation: https://pricechecktranslations.tumblr.com/post/108380355240
mothyrights: <em>The Evillious Chronicles</em>|<em>Clockwork Lullaby</em>
---
<div><!--TOADD: Prism ver.-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="いつもの通りに詞を教えて/わたしはそれらを唄へと変えよう"
			romaji="itsumo no toori ni kotoba wo oshiete/watashi wa sorera wo uta he to kaeyou"
		%}
		{% include verse.html
			lyrics="妄想の中で何を手に入れた？/たったひとつの真実の唄"
			romaji="mousou no naka de nani wo te ni ireta?/tatta hitotsu no shinjitsu no uta"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/誰の元へと届くのかな？/詞という鍵を手にいれ/開く未知の扉"
			romaji="rurira rurira|kono utagoe wa/dare no moto he to todoku no ka na?/kotoba to iu kagi wo te ni ire/hiraku michi no tobira"
		%}
		{% include verse.html
			lyrics="欲しいと願って手に入れたおもちゃを/両手で抱えて/窓から捨てたの"
			romaji="hoshii to negatte te ni ireta omocha wo/ryoute de kakaete/mado kara suteta no"
		%}
		{% include verse.html
			lyrics="満足することのない人間たちよ/何を望み何を手に入れる？/疲れたならば今はただ/眠りなさい"
			romaji="manzokusuru koto no nai ningen-tachi yo/nani wo nozomi nani wo te ni ireru?/tsukareta naraba ima wa tada/nemurinasai"
		%}
		{% include verse.html
			lyrics="るりらるりら|この子守唄/あなたの心癒せるかな？/欲望という罪を抱えて/今は夢を見ている"
			romaji="rurira rurira|kono komoriuta/anata no kokoro iyaseru ka na?/yokubou to iu tsumi wo kakaete/ima wa yume wo miteiru"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/ぜんまい仕掛けの子守唄/あなたが廻してくれないと/止まってしまうの"
			romaji="rurira rurira|kono utagoe wa/zenmaijikake no komoriuta/anata ga mawashite kurenai to/tomatte shimau no"
		%}
		{% include verse.html
			lyrics="花のような思い出たちも/泥のようなトラウマさえも/廻り続けて溶けていくの/すべてわたしの中で"
			romaji="hana no youna omoide-tachi mo/doro no youna TORAUMA sae mo/mawari tsudzukete toketeiku no/subete watashi no naka de"
		%}
	</div>
</div>

<div>
	<h3>piapro &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="いつもの通りに詞を教えて/わたしはそれらを唄へと変えよう"
			romaji="itsumo no toori ni kotoba wo oshiete/watashi wa sorera wo uta he to kaeyou"
		%}
		{% include verse.html
			lyrics="妄想の中で何を手に入れた？/たったひとつの真実の唄"
			romaji="mousou no naka de nani wo te ni ireta?/tatta hitotsu no shinjitsu no uta"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/誰の元へと届くのかな？/詞という鍵を手にいれ/開く未知の扉"
			romaji="rurira rurira|kono utagoe wa/dare no moto he to todoku no ka na?/kotoba to iu kagi wo te ni ire/hiraku michi no tobira"
		%}
		{% include verse.html
			lyrics="欲しいと願って手に入れたおもちゃを/両手で抱えて窓から捨てたの"
			romaji="hoshii to negatte te ni ireta omocha wo/ryoute de kakaete mado kara suteta no"
		%}
		{% include verse.html
			lyrics="満足することのない人間たちよ/何を望み何を手に入れる？/疲れたならば今はただ/眠りなさい"
			romaji="manzokusuru koto no nai ningen-tachi yo/nani wo nozomi nani wo te ni ireru?/tsukareta naraba ima wa tada/nemurinasai"
		%}
		{% include verse.html
			lyrics="るりらるりら|この子守唄/あなたの心癒せるかな？/欲望という罪を抱えて/今は夢を見ている"
			romaji="rurira rurira|kono komoriuta/anata no kokoro iyaseru ka na?/yokubou to iu tsumi wo kakaete/ima wa yume wo miteiru"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/ぜんまい仕掛けの子守唄/あなたが廻してくれないと/止まってしまうの"
			romaji="rurira rurira|kono utagoe wa/zenmaijikake no komoriuta/anata ga mawashite kurenai to/tomatte shimau no"
		%}
		{% include verse.html
			lyrics="花のような思い出たちも/泥のようなトラウマさえも/廻り続けて溶けていくの/すべてわたしの中で"
			romaji="hana no youna omoide-tachi mo/doro no youna TORAUMA sae mo/mawari tsudzukete toketeiku no/subete watashi no naka de"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="いつもの通りに詞を教えて/ぼくらはそれらを唄へと変えよう"
			romaji="itsumo no toori ni kotoba wo oshiete/bokura wa sorera wo uta he to kaeyou"
		%}
		{% include verse.html
			lyrics="妄想の中で何を手に入れた？/たったひとつの偽りの唄"
			romaji="mousou no naka de nani wo te ni ireta?/tatta hitotsu no itsuwari no uta"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/誰の元へと届くのだろう？/詞という鍵を手にいれ/開く明日の扉"
			romaji="rurira rurira|kono utagoe wa/dare no moto he to todoku no darou?/kotoba to iu kagi wo te ni ire/hiraku asu no tobira"
		%}
		{% include verse.html
			lyrics="欲しいと願って手に入れたおもちゃを/両手で抱えて窓から捨てられた"
			romaji="hoshii to negatte te ni ireta omocha wo/ryoute de kakaete mado kara suterareta"
		%}
		{% include verse.html
			lyrics="満足することのない人間たちよ/何を望み何を手に入れる？/疲れたならば今はただ/眠りなさい"
			romaji="manzokusuru koto no nai ningen-tachi yo/nani wo nozomi nani wo te ni ireru?/tsukareta naraba ima wa tada/nemurinasai"
		%}
		{% include verse.html
			lyrics="るりらるりら|この子守唄/君の心癒せるかな？/絶望という罰を抱えて/今は夢を見ている"
			romaji="rurira rurira|kono komoriuta/kimi no kokoro iyaseru ka na?/zetsubou to iu batsu wo kakaete/ima wa yume wo miteiru"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/ぜんまい仕掛けの子守唄/君が廻してくれなければ/止まってしまうよ"
			romaji="rurira rurira|kono utagoe wa/zenmaijikake no komoriuta/kimi ga mawashite kurenakereba/tomatte shimau yo"
		%}
		{% include verse.html
			lyrics="花のような思い出たちも/泥のようなトラウマさえも/廻り続けて溶けていくよ/すべて僕の中で"
			romaji="hana no youna omoide-tachi mo/doro no youna TORAUMA sae mo/mawari tsudzukete toketeiku yo/subete boku no naka de"
		%}
	</div>
</div>

<div>
	<h3>PV <small>(2018)</small> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="いつもの通りに詞を教えて/わたしはそれらを唄へと変えよう"
			romaji="itsumo no toori ni kotoba wo oshiete/watashi wa sorera wo uta he to kaeyou"
		%}
		{% include verse.html
			lyrics="妄想の中で何を手に入れた？/たったひとつの真実の唄"
			romaji="mousou no naka de nani wo te ni ireta?/tatta hitotsu no shinjitsu no uta"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/誰の元へと届くのかな？/詞という鍵を手にいれ/開く未知の扉"
			romaji="rurira rurira|kono utagoe wa/dare no moto he to todoku no ka na?/kotoba to iu kagi wo te ni ire/hiraku michi no tobira"
		%}
		{% include verse.html
			lyrics="欲しいと願って手に入れたおもちゃを/両手で抱えて窓から捨てたの"
			romaji="hoshii to negatte te ni ireta omocha wo/ryoute de kakaete mado kara suteta no"
		%}
		{% include verse.html
			lyrics="満足することのない人間たちよ/何を望み何を手に入れる？/疲れたならば今はただ/眠りなさい"
			romaji="manzokusuru koto no nai ningen-tachi yo/nani wo nozomi nani wo te ni ireru?/tsukareta naraba ima wa tada/nemurinasai"
		%}
		{% include verse.html
			lyrics="るりらるりら|この子守唄/あなたの心癒せるかな？/欲望という罪を抱えて/今は夢を見ている"
			romaji="rurira rurira|kono komoriuta/anata no kokoro iyaseru ka na?/yokubou to iu tsumi wo kakaete/ima wa yume wo miteiru"
		%}
		{% include verse.html
			lyrics="時を示す12の唄/バラバラのキーワード"
			romaji="toki wo shimesu juuni no uta/BARABARA no KIIWAADO"
		%}
		{% include verse.html
			lyrics="パンドラの箱を覗いて/探し続けた存在証明/箱庭の中の私は結局/何者でもなかった"
			romaji="PANDORA no hako wo nazoite/sagashi tsudzuketa sonzai shoumei/hakoniwa no naka no watashi wa kekkyoku/nanimono demo nakatta"
		%}
		{% include verse.html
			lyrics="るりらるりら|この歌声は/ぜんまい仕掛けの子守唄/あなたが廻してくれないと/止まってしまうの"
			romaji="rurira rurira|kono utagoe wa/zenmaijikake no komoriuta/anata ga mawashite kurenai to/tomatte shimau no"
		%}
		{% include verse.html
			lyrics="花のような思い出たちも/泥のようなトラウマさえも/廻り続けて溶けていくの/すべてわたしの中で"
			romaji="hana no youna omoide-tachi mo/doro no youna TORAUMA sae mo/mawari tsudzukete toketeiku no/subete watashi no naka de"
		%}
	</div>
</div>