---
english-name: The Contradictory Grim the End
image: /assets/images/thumbs/MikuSymphony2023Disc2.png
translation: https://pricechecktranslations.tumblr.com/post/737706243917037568
mothyrights: <em>The Evillious Chronicles</em>|<em>The Contradictory Grim the End</em>
---
<div>
	<h3><a href="{% link album/miku-symphony-2023.html %}"><em>Hatsune Miku Symphony 2023 Live at Suntory Hall</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="とある職人が作ったその鍵に/開ける扉はもうこの世には無い/理不尽な運命|その果てに倒れた/闇と光の相反する魂"
			romaji="toaru shokunin ga tsukutta sono kagi ni/hirakeru tobira wa mou kono yo ni wa nai/rifujinna unmei|sono hate ni taoreta/yami to hikari no aihansuru tamashii"
		%}
		{% include verse.html
			lyrics="それが「グリムジエンド」/憤怒の罪の象徴"
			romaji="sore ga &quot;GURIMU JI ENDO&quot;/funnu no tsumi no shouchou"
		%}
		{% include verse.html
			lyrics="闇の男は原罪を引き裂き/悪の繁栄を願うトワイライト/光の男は愛する者のため/それらの破滅を願うムーンリット"
			romaji="yami no otoko wa genzai wo hikisaki/aku no han'ei wo negau TOWAIRAITO/hikari no otoko wa aisuru mono no tame/sorera no hametsu wo negau MUUNRITTO"
		%}
		{% include verse.html
			lyrics="時代によって姿を変えるそれは/罪作りな器か/罪殺しの道具か"
			romaji="jidai ni yotte sugata wo kaeru sore wa/tsumi tsukurina utsuwa ka/tsumi koroshi no dougu ka"
		%}
		{% include verse.html
			lyrics="残酷な童話が幾百生まれる/生まれ持つ人の怒り引き出す器"
			romaji="zankokuna douwa ga ikuhyaku umareru/umare motsu hito no ikari hikidasu utsuwa"
		%}
		{% include verse.html
			lyrics="愛を失った誰かの怒りが/それを終わらせるだろう"
			romaji="ai wo ushinatta dareka no ikari ga/sore wo owaraseru darou"
		%}
		{% include verse.html
			lyrics="矛盾したその存在"
			romaji="mujunshita sono sonzai"
		%}
		{% include verse.html
			lyrics="偽りの公爵|女を拐かし/その恋人の恨みを買った/飢えた令嬢に毒を盛ったのは/過去の彼女に惹かれた王子"
			romaji="itsuwari no koushaku|onna wo kadowakashi/sono koibito no urami wo katta/ueta reijou ni doku wo motta no wa/kako no kanojo ni hikareta ouji"
		%}
		{% include verse.html
			lyrics="それは大罪人に/罰を与える裁き"
			romaji="sore wa daizainin ni/batsu wo ataeru sabaki"
		%}
		{% include verse.html
			lyrics="白ノ娘は親友を殺した/悪ノ娘を許してしまった/光の男は目的果たせず/少しずつ魂|すり減り始めた"
			romaji="shiro NO musume wa shin'yuu wo koroshita/aku NO musume wo yurushiteshimatta/hikari no otoko wa mokuteki hatasezu/sukoshizutsu tamashii|suriheri hajimeta"
		%}
		{% include verse.html
			lyrics="記憶を保って生き続ければやがて/神のルールによって/その魂は壊れる"
			romaji="kioku wo tamotte ikitsudzukereba yagate/kami no RUURU ni yotte/sono tamashii wa kowareru"
		%}
		{% include verse.html
			lyrics="錆びついて欠けてく僕の歯車/残された時間はもう長くはない"
			romaji="sabitsuite kaketeku boku no haguruma/nokosareta jikan wa mou nagaku wa nai"
		%}
		{% include verse.html
			lyrics="それでも全ての罪が消えるまで/僕は諦めはしない"
			romaji="sore demo subete no tsumi ga kieru made/boku wa akirame wa shinai"
		%}
		{% include verse.html
			lyrics="いつか君に会える日まで"
			romaji="itsuka kimi ni aeru hi made"
		%}
		{% include verse.html
			lyrics="心の壊れた裁判官が/罪のかけらを集める終末/彼に取り憑いてた光の歯車も/既に錆びつき砕けてた"
			romaji="kokoro no kowareta saibankan ga/tsumi no kakera wo atsumeru shuumatsu/kare ni toritsuiteta hikari no haguruma mo/sude ni sabitsuki kudaketeta"
		%}
		{% include verse.html
			lyrics="罪を殺すための存在だったのに/今ではその罪求める/矛盾のグリムジエンド"
			romaji="tsumi wo korosu tame no sonzai datta no ni/ima de wa sono tsumi motomeru/mujun no GURIMU JI ENDO"
		%}
		{% include verse.html
			lyrics="闇の男の高笑いが/どこかから聞こえてきた"
			romaji="yami no otoko no takawarai ga/dokoka kara kikoetekita"
		%}
		{% include verse.html
			lyrics="残酷な童話が幾百生まれる/生まれ持つ人の怒り引き出す器"
			romaji="zankokuna douwa ga ikuhyaku umareru/umare motsu hito no ikari hikidasu utsuwa"
		%}
		{% include verse.html
			lyrics="愛を失った誰かの怒りが/僕を終わらせるだろう"
			romaji="ai wo ushinatta dareka no ikari ga/boku wo owaraseru darou"
		%}
		{% include verse.html
			lyrics="矛盾した……/もうすぐ君に会いに行くよ"
			romaji="mujunshita....../mou sugu kimi ni ai ni iku yo"
		%}
	</div>
</div>