---
english-name: Count Twilight's Invitation
image: /assets/images/thumbs/CountTwilightSong.png
translation: https://pricechecktranslations.tumblr.com/post/790350459501264897
mothyrights: <em>The Evillious Chronicles</em>|<em>Count Twilight's Invitation</em>
---
<div>
	<h3><a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="パーティーに招待しよう/長年の友である君を"
			romaji="PAATII ni shoutaishiyou/naganen no tomo de aru kimi wo"
		%}
		{% include verse.html
			lyrics="特製のビュッフェも用意した/カジノに素敵なショーもある"
			romaji="tokusei no BYUFFE mo youishita/KASHINO ni sutekina SHOO mo aru"
		%}
		{% include verse.html
			lyrics="安堵を装う罠の香り/柱時計が音を立てる/新たな悲劇はすぐに始まるだろう"
			romaji="ando wo yosoou wana no kaori/hashiradokei ga oto wo tateru/aratana higeki wa sugu ni hajimaru darou"
		%}
		{% include verse.html
			lyrics="銃口の先には/招待客の恐怖の顔"
			romaji="juukou no saki ni wa/shoutaikyaku no kyoufu no kao"
		%}
		{% include verse.html
			lyrics="イカれたサプライズ/狩人と化した伯爵"
			romaji="IKAreta SAPURAIZU/karyuudo to kashita hakushaku"
		%}
		{% include verse.html
			lyrics="Let's start the party on a crazy night!/誰が生き残るか賭けてみようじゃないか"
			romaji="/dare ga ikinokoru ka kaketemiyou ja nai ka"
		%}
		{% include verse.html
			lyrics="Let's start the party on never ending night!/いよいよ開幕|真紅の残酷ショー"
			romaji="/iyo iyo kaimaku|shinku no zankoku SHOO"
		%}
		{% include verse.html
			lyrics="１２時を超えれば君に/かけられた魔法は解けるだろう"
			romaji="juuni-ji wo koereba kimi ni/kakerareta mahou wa tokeru darou"
		%}
		{% include verse.html
			lyrics="そしてまた何度もやり直す/誰かが勝利を得るまで"
			romaji="soshite mata nando mo yarinaosu/dareka ga shouri wo eru made"
		%}
		{% include verse.html
			lyrics="騙されるのは愚か者/かつての自分がそこにいる/懐中時計が告げる第２ラウンド"
			romaji="damasareru no wa orokamono/katsute no jibun ga soko ni iru/kaichuu dokei ga tsugeru dai ni RAUNDO"
		%}
		{% include verse.html
			lyrics="殺したはずの/招待客がまた現れる"
			romaji="koroshita hazu no/shoutaikyaku ga mata arawareru"
		%}
		{% include verse.html
			lyrics="もう一度遊べると/狂喜する壊れた伯爵"
			romaji="mou ichido asoberu to/kyoukisuru kowareta hakushaku"
		%}
		{% include verse.html
			lyrics="Let's start the party on a rapture night!/ディナーの食材を用意しなければ"
			romaji="/DINAA no shokuzai wo youishinakereba"
		%}
		{% include verse.html
			lyrics="Let the party begin again on repeat nights!/再び開幕|真紅の残酷ショー"
			romaji="/futatabi kaimaku|shinku no zankoku SHOO"
		%}
		{% include verse.html
			lyrics="殺人狂の伯爵など/神は決して受け入れない/終わらぬ祝宴は刑罰という名の沼"
			romaji="satsujinkyou no hakushaku na do/kami wa kesshite ukeirenai/owaranu shukuen wa keibatsu to iu na no numa"
		%}
		{% include verse.html
			lyrics="伯爵は気付かない/招待されたのは自分自身だと"
			romaji="hakushaku wa kidzukanai/shoutaisareta no wa jibun jishin da to"
		%}
		{% include verse.html
			lyrics="朽ちゆく招待状/ここは地獄という名の天国"
			romaji="kuchiyuku shoutaijou/koko wa jigoku to iu na no tengoku"
		%}
		{% include verse.html
			lyrics="Let's start the party on a crazy night!/ぜんまい仕掛けの時計が止まるまで"
			romaji="/zenmaijikake no tokei ga tomaru made"
		%}
		{% include verse.html
			lyrics="Let's start the party on never ending night!/許されぬ罪|永遠の残酷ショー"
			romaji="/yurusarenu tsumi|eien no zankoku SHOO"
		%}
	</div>
</div>