---
english-name: The Daughter of Evil
translation: https://pricechecktranslations.tumblr.com/post/109224352720
mothyrights: <em>The Evillious Chronicles</em>|<em>The Daughter of Evil</em>
---
<div>
	<h3>piapro &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨するは/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinsuru wa/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="絢爛豪華な調度品/顔のよく似た召使/愛馬の名前はジョセフィーヌ/全てが全て彼女のもの"
		romaji="kenran goukana choudohin/kao no yoku nita meshitsukai/aiba no namae wa JOSEFIINU/subete ga subete kanojo no mono"
	%}
	{% include verse.html
		lyrics="お金が足りなくなったなら/愚民どもから搾りとれ/私に逆らう者たちは/粛清してしまえ"
		romaji="okane ga tarinaku natta nara/gumin domo kara shibori tore/watashi ni sakarau mono-tachi wa/shukusei shite shimae"
	%}
	{% include verse.html
		lyrics="「さあ、ひざまずきなさい！」"
		romaji="&quot;saa, hizamazukinasai!&quot;"
	%}
	{% include verse.html class="versebreak"
		lyrics="悪の華|可憐に咲く/鮮やかな彩りで/周りの哀れな雑草は/嗚呼|養分となり朽ちていく"
		romaji="aku no hana|karen ni saku/azayakana irodori de/mawari no awarena zassou wa/aa|youbun to nari kuchite iku"
	%}
	{% include verse.html
		lyrics="暴君王女が恋するは/海の向こうの青い人/だけども彼は隣国の/緑の女にひとめぼれ"
		romaji="boukun oujo ga koisuru wa/umi no mukou no aoi hito/dakedomo kare wa ringoku no/midori no onna ni hitomebore"
	%}
	{% include verse.html
		lyrics="嫉妬に狂った王女様/ある日大臣を呼び出して/静かな声で言いました/「緑の国を滅ぼしなさい」"
		romaji="shitto ni kurutta oujo-sama/aruhi daijin wo yobi dashite/shizukana koe de iimashita/&quot;midori no kuni wo horoboshinasai&quot;"
	%}
	{% include verse.html
		lyrics="幾多の家が焼き払われ/幾多の命が消えていく/苦しむ人々の嘆きは/王女には届かない"
		romaji="ikuta no ie ga yakiharaware/ikuta no inochi ga kieteiku/kurushimu hitobito no nageki wa/oujo ni wa todokanai"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html class="versebreak"
		lyrics="悪の華|可憐に咲く/狂おしい彩りで/とても美しい花なのに/嗚呼|棘が多すぎて触れない"
		romaji="aku no hana|karen ni saku/kuruoshii irodori de/totemo utsukushii hana nanoni/aa|toge ga oosugite sawarenai"
	%}
	{% include verse.html
		lyrics="悪の王女を倒すべく/ついに人々は立ち上がる/烏合の彼らを率いるは/赤き鎧の女剣士"
		romaji="aku no oujo wo taosubeku/tsuini hitobito wa tachi agaru/ugou no karera wo hikiiru wa/akaki yoroi no onna kenshi"
	%}
	{% include verse.html
		lyrics="つもりにつもったその怒り/国全体を包み込んだ/長年の戦で疲れた/兵士たちなど敵ではない"
		romaji="tsumori ni tsumotta sono ikari/kunizentai wo tsutsumikonda/naganen no ikusa de tsukareta/heishi-tachi nado teki de wa nai"
	%}
	{% include verse.html
		lyrics="ついに王宮は囲まれて/家臣たちも逃げ出した/可愛く可憐な王女様/ついに捕らえられた"
		romaji="tsuini oukyuu wa kakomarete/kashin-tachi mo nigedashita/kawaiku karenna oujo-sama/tsuini toraerareta"
	%}
	{% include verse.html
		lyrics="「この|無礼者！」"
		romaji="&quot;kono|bureimono!&quot;"
	%}
	{% include verse.html class="versebreak"
		lyrics="悪の華|可憐に咲く/悲しげな彩りで/彼女のための楽園は/嗚呼|もろくもはかなく崩れてく"
		romaji="aku no hana|karen ni saku/kanashigena irodori de/kanojo no tame no rakuen wa/aa|moroku mo hakanaku kuzureteku"
	%}
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="処刑の時間は午後三時/教会の鐘が鳴る時間/王女と呼ばれたその人は/一人牢屋で何を思う"
		romaji="shokei no jikan wa gogo san-ji/kyoukai no kane ga naru jikan/oujo to yobareta sono hito wa/hitori rouya de nani wo omou"
	%}
	{% include verse.html	
		lyrics="ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/彼女はこういった"
		romaji="tsuini sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kanojo wa kou itta"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html	
		lyrics="悪の華|可憐に散る/鮮やかな彩りで/のちの人々はこう語る/嗚呼|彼女は正に悪ノ娘"
		romaji="aku no hana|karen ni chiru/azayakana irodori de/nochi no hitobito wa kou kataru/aa|kanojo wa masani aku NO musume"
	%}
</div>


<div>
	<h3>PV &middot; PV <small>(2020)</small></h3>
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨するは/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinsuru wa/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="絢爛豪華な調度品/顔のよく似た召使/愛馬の名前はジョセフィーヌ/全てが全て彼女のもの"
		romaji="kenran goukana choudohin/kao no yoku nita meshitsukai/aiba no namae wa JOSEFIINU/subete ga subete kanojo no mono"
	%}
	{% include verse.html
		lyrics="お金が足りなくなったなら/愚民どもから搾りとれ/私に逆らう者たちは/粛清してしまえ"
		romaji="okane ga tarinaku natta nara/gumin domo kara shibori tore/watashi ni sakarau mono-tachi wa/shukusei shite shimae"
	%}
	{% include verse.html
		lyrics="「さあ、ひざまずきなさい！」"
		romaji="&quot;saa, hizamazukinasai!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/鮮やかな彩りで/周りの哀れな雑草は/嗚呼|養分となり朽ちていく"
		romaji="aku no hana|karen ni saku/azayakana irodori de/mawari no awarena zassou wa/aa|youbun to nari kuchite iku"
	%}
	{% include verse.html
		lyrics="暴君王女が恋するは/海の向こうの青い人/だけども彼は隣国の/緑の女にひとめぼれ"
		romaji="boukun oujo ga koisuru wa/umi no mukou no aoi hito/dakedomo kare wa ringoku no/midori no onna ni hitomebore"
	%}
	{% include verse.html
		lyrics="嫉妬に狂った王女様/ある日大臣を呼び出して/静かな声で言いました/「緑の国を滅ぼしなさい」"
		romaji="shitto ni kurutta oujo-sama/aruhi daijin wo yobi dashite/shizukana koe de iimashita/&quot;midori no kuni wo horoboshinasai&quot;"
	%}
	{% include verse.html
		lyrics="幾多の家が焼き払われ/幾多の命が消えていく/苦しむ人々の嘆きは/王女には届かない"
		romaji="ikuta no ie ga yakiharaware/ikuta no inochi ga kieteiku/kurushimu hitobito no nageki wa/oujo ni wa todokanai"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/狂おしい彩りで/とても美しい花なのに/嗚呼|棘が多すぎて触れない"
		romaji="aku no hana|karen ni saku/kuruoshii irodori de/totemo utsukushii hana nanoni/aa|toge ga oosugite sawarenai"
	%}
	{% include verse.html
		lyrics="悪の王女を倒すべく/ついに人々は立ち上がる/烏合の彼らを率いるは/赤き鎧の女剣士"
		romaji="aku no oujo wo taosubeku/tsuini hitobito wa tachi agaru/ugou no karera wo hikiiru wa/akaki yoroi no onna kenshi"
	%}
	{% include verse.html
		lyrics="つもりにつもったその怒り/国全体を包み込んだ/長年の戦で疲れた/兵士たちなど敵ではない"
		romaji="tsumori ni tsumotta sono ikari/kunizentai wo tsutsumikonda/naganen no ikusa de tsukareta/heishi-tachi nado teki de wa nai"
	%}
	{% include verse.html
		lyrics="ついに王宮は囲まれて/家臣たちも逃げ出した/可愛く可憐な王女様/ついに捕らえられた"
		romaji="tsuini oukyuu wa kakomarete/kashin-tachi mo nigedashita/kawaiku karenna oujo-sama/tsuini toraerareta"
	%}
	{% include verse.html
		lyrics="「この|無礼者！」"
		romaji="&quot;kono|bureimono!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/悲しげな彩りで/彼女のための楽園は/嗚呼|もろくもはかなく崩れてく"
		romaji="aku no hana|karen ni saku/kanashigena irodori de/kanojo no tame no rakuen wa/aa|moroku mo hakanaku kuzureteku"
	%}
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="処刑の時間は午後三時/教会の鐘が鳴る時間/王女と呼ばれたその人は/一人牢屋で何を思う"
		romaji="shokei no jikan wa gogo san-ji/kyoukai no kane ga naru jikan/oujo to yobareta sono hito wa/hitori rouya de nani wo omou"
	%}
	{% include verse.html	
		lyrics="ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/–彼女―はこういった"
		romaji="tsuini sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kanojo wa kou itta"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html	
		lyrics="悪の華|可憐に散る/鮮やかな彩りで/のちの人々はこう語る/嗚呼|彼女は正に悪ノ娘"
		romaji="aku no hana|karen ni chiru/azayakana irodori de/nochi no hitobito wa kou kataru/aa|kanojo wa masani aku NO musume"
	%}
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> &middot; <a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a></h3>
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨するは/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinsuru wa/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="絢爛豪華な調度品/顔のよく似た召使/愛馬の名前はジョセフィーヌ/全てが全て彼女のもの"
		romaji="kenran goukana choudohin/kao no yoku nita meshitsukai/aiba no namae wa JOSEFIINU/subete ga subete kanojo no mono"
	%}
	{% include verse.html
		lyrics="お金が足りなくなったなら/愚民どもから搾りとれ/私に逆らう者たちは/粛清してしまえ"
		romaji="okane ga tarinaku natta nara/gumin domo kara shibori tore/watashi ni sakarau mono-tachi wa/shukusei shite shimae"
	%}
	{% include verse.html
		lyrics="「さあ、ひざまずきなさい！」"
		romaji="&quot;saa, hizamazukinasai!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/鮮やかな彩りで/周りの哀れな雑草は/嗚呼|養分となり朽ちていく"
		romaji="aku no hana|karen ni saku/azayakana irodori de/mawari no awarena zassou wa/aa|youbun to nari kuchite iku"
	%}
	{% include verse.html
		lyrics="暴君王女が恋するは/海の向こうの青い人/だけども彼は隣国の/緑の女にひとめぼれ"
		romaji="boukun oujo ga koisuru wa/umi no mukou no aoi hito/dakedomo kare wa ringoku no/midori no onna ni hitomebore"
	%}
	{% include verse.html
		lyrics="嫉妬に狂った王女様/ある日大臣を呼び出して/静かな声で言いました/「緑の国を滅ぼしなさい」"
		romaji="shitto ni kurutta oujo-sama/aruhi daijin wo yobi dashite/shizukana koe de iimashita/&quot;midori no kuni wo horoboshinasai&quot;"
	%}
	{% include verse.html
		lyrics="幾多の家が焼き払われ/幾多の命が消えていく/苦しむ人々の嘆きは/王女には届かない"
		romaji="ikuta no ie ga yakiharaware/ikuta no inochi ga kieteiku/kurushimu hitobito no nageki wa/oujo ni wa todokanai"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/狂おしい彩りで/とても美しい花なのに/嗚呼|棘が多すぎて触れない"
		romaji="aku no hana|karen ni saku/kuruoshii irodori de/totemo utsukushii hana nanoni/aa|toge ga oosugite sawarenai"
	%}
	{% include verse.html
		lyrics="悪の王女を倒すべく/ついに人々は立ち上がる/烏合の彼らを率いるは/赤き鎧の女剣士"
		romaji="aku no oujo wo taosubeku/tsuini hitobito wa tachi agaru/ugou no karera wo hikiiru wa/akaki yoroi no onna kenshi"
	%}
	{% include verse.html
		lyrics="つもりにつもったその怒り/国全体を包み込んだ/長年の戦で疲れた/兵士たちなど敵ではない"
		romaji="tsumori ni tsumotta sono ikari/kunizentai wo tsutsumikonda/naganen no ikusa de tsukareta/heishi-tachi nado teki de wa nai"
	%}
	{% include verse.html
		lyrics="ついに王宮は囲まれて/家臣たちも逃げ出した/可愛く可憐な王女様/ついに捕らえられた"
		romaji="tsuini oukyuu wa kakomarete/kashin-tachi mo nigedashita/kawaiku karenna oujo-sama/tsuini toraerareta"
	%}
	{% include verse.html
		lyrics="「この|無礼者！」"
		romaji="&quot;kono|bureimono!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/悲しげな彩りで/彼女のための楽園は/嗚呼|もろくもはかなく崩れてく"
		romaji="aku no hana|karen ni saku/kanashigena irodori de/kanojo no tame no rakuen wa/aa|moroku mo hakanaku kuzureteku"
	%}
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/齢十四の王女様"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/yowai juuyon no oujo-sama"
	%}
	{% include verse.html
		lyrics="処刑の時間は午後三時/教会の鐘が鳴る時間/王女と呼ばれたその人は/一人牢屋で何を思う"
		romaji="shokei no jikan wa gogo san-ji/kyoukai no kane ga naru jikan/oujo to yobareta sono hito wa/hitori rouya de nani wo omou"
	%}
	{% include verse.html	
		lyrics="ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/彼女はこういった"
		romaji="tsuini sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kanojo wa kou itta"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html	
		lyrics="悪の華|可憐に散る/鮮やかな彩りで/のちの人々はこう語る/嗚呼|彼女は正に悪ノ娘"
		romaji="aku no hana|karen ni chiru/azayakana irodori de/nochi no hitobito wa kou kataru/aa|kanojo wa masani aku NO musume"
	%}
</div>

<div>
	<h3>PV <small>(~velvet mix~)</small></h3>
	{% include verse.html
		lyrics="むかしむかしあるところに|悪逆非道の王国の/頂点に君臨するは|齢十四の王女様/絢爛豪華な調度品|顔のよく似た召使/愛馬の名前はジョセフィーヌ|全てが全て彼女のもの"
		romaji="mukashi mukashi arutokoro ni|akugyaku hidou no oukoku no/chouten ni kunrinsuru wa|yowai juuyon no oujo-sama/kenran goukana choudohin|kao no yoku nita meshitsukai/aiba no namae wa JOSEFIINU|subete ga subete kanojo no mono"
	%}
	{% include verse.html
		lyrics="お金が足りなくなったなら|愚民どもから搾りとれ/私に逆らう者たちは|粛清してしまえ"
		romaji="okane ga tarinaku natta nara|gumin domo kara shibori tore/watashi ni sakarau mono-tachi wa|shukusei shite shimae"
	%}
	{% include verse.html
		lyrics="「さあ、ひざまずきなさい！」"
		romaji="&quot;saa, hizamazukinasai!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く|鮮やかな彩りで/周りの哀れな雑草は|嗚呼|養分となり朽ちていく"
		romaji="aku no hana|karen ni saku|azayakana irodori de/mawari no awarena zassou wa|aa|youbun to nari kuchite iku"
	%}
	{% include verse.html
		lyrics="暴君王女が恋するは|海の向こうの青い人/だけども彼は隣国の|緑の女にひとめぼれ/嫉妬に狂った王女様|ある日大臣を呼び出して/静かな声で言いました|「緑の国を滅ぼしなさい」"
		romaji="boukun oujo ga koisuru wa|umi no mukou no aoi hito/dakedomo kare wa ringoku no|midori no onna ni hitomebore/shitto ni kurutta oujo-sama|aruhi daijin wo yobi dashite/shizukana koe de iimashita|&quot;midori no kuni wo horoboshinasai&quot;"
	%}
	{% include verse.html
		lyrics="幾多の家が焼き払われ|幾多の命が消えていく/苦しむ人々の嘆きは|王女には届かない"
		romaji="ikuta no ie ga yakiharaware|ikuta no inochi ga kieteiku/kurushimu hitobito no nageki wa|oujo ni wa todokanai"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く|狂おしい彩りで/とても美しい花なのに|嗚呼|棘が多すぎて触れない"
		romaji="aku no hana|karen ni saku|kuruoshii irodori de/totemo utsukushii hana nanoni|aa|toge ga oosugite sawarenai"
	%}
	{% include verse.html
		lyrics="悪の王女を倒すべく|ついに人々は立ち上がる/烏合の彼らを率いるは|赤き鎧の女剣士/つもりにつもったその怒り|国全体を包み込んだ/長年の戦で疲れた|兵士たちなど敵ではない"
		romaji="aku no oujo wo taosubeku|tsuini hitobito wa tachi agaru/ugou no karera wo hikiiru wa|akaki yoroi no onna kenshi/tsumori ni tsumotta sono ikari|kunizentai wo tsutsumikonda/naganen no ikusa de tsukareta|heishi-tachi nado teki de wa nai"
	%}
	{% include verse.html
		lyrics="ついに王宮は囲まれて|家臣たちも逃げ出した/可愛く可憐な王女様|ついに捕らえられた"
		romaji="tsuini oukyuu wa kakomarete|kashin-tachi mo nigedashita/kawaiku karenna oujo-sama|tsuini toraerareta"
	%}
	{% include verse.html
		lyrics="「この|無礼者！」"
		romaji="&quot;kono|bureimono!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く|悲しげな彩りで/彼女のための楽園は|嗚呼|もろくもはかなく崩れてく"
		romaji="aku no hana|karen ni saku|kanashigena irodori de/kanojo no tame no rakuen wa|aa|moroku mo hakanaku kuzureteku"
	%}
	{% include verse.html
		lyrics="むかしむかしあるところに|悪逆非道の王国の/頂点に君臨してた|齢十四の王女様/処刑の時間は午後三時|教会の鐘が鳴る時間/王女と呼ばれたその人は|一人牢屋で何を思う"
		romaji="mukashi mukashi arutokoro ni|akugyaku hidou no oukoku no/chouten ni kunrinshiteta|yowai juuyon no oujo-sama/shokei no jikan wa gogo san-ji|kyoukai no kane ga naru jikan/oujo to yobareta sono hito wa|hitori rouya de nani wo omou"
	%}
	{% include verse.html
		lyrics="ついにその時はやってきて|終わりを告げる鐘が鳴る/民衆などには目もくれず|「彼女」はこういった"
		romaji="tsuini sono toki wa yattekite|owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu|&quot;kanojo&quot; wa kou itta"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に散る|鮮やかな彩りで/のちの人々はこう語る|嗚呼|彼女は正に–悪ノ娘–"
		romaji="aku no hana|karen ni chiru|azayakana irodori de/nochi no hitobito wa kou kataru|aa|kanojo wa masani aku NO musume"
	%}
</div>

<div>
	<h3><a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a></h3>
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨するは/齢十四の王女様/絢爛豪華な調度品/顔のよく似た召使/愛馬の名前はジョセフィーヌ/全てが全て彼女のもの"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinsuru wa/yowai juuyon no oujo-sama/kenran goukana choudohin/kao no yoku nita meshitsukai/aiba no namae wa JOSEFIINU/subete ga subete kanojo no mono"
	%}
	{% include verse.html
		lyrics="お金が足りなくなったなら/愚民どもから搾りとれ/私に逆らう者たちは/粛清してしまえ"
		romaji="okane ga tarinaku natta nara/gumin domo kara shibori tore/watashi ni sakarau mono-tachi wa/shukusei shite shimae"
	%}
	{% include verse.html
		lyrics="「さあ、ひざまずきなさい！」"
		romaji="&quot;saa, hizamazukinasai!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/鮮やかな彩りで/周りの哀れな雑草は/嗚呼|養分となり朽ちていく"
		romaji="aku no hana|karen ni saku/azayakana irodori de/mawari no awarena zassou wa/aa|youbun to nari kuchite iku"
	%}
	{% include verse.html
		lyrics="暴君王女が恋するは/海の向こうの青い人/だけども彼は隣国の/緑の女にひとめぼれ/嫉妬に狂った王女様/ある日大臣を呼び出して/静かな声で言いました/「緑の国を滅ぼしなさい」"
		romaji="boukun oujo ga koisuru wa/umi no mukou no aoi hito/dakedomo kare wa ringoku no/midori no onna ni hitomebore/shitto ni kurutta oujo-sama/aruhi daijin wo yobi dashite/shizukana koe de iimashita/&quot;midori no kuni wo horoboshinasai&quot;"
	%}
	{% include verse.html
		lyrics="幾多の家が焼き払われ/幾多の命が消えていく/苦しむ人々の嘆きは/王女には届かない"
		romaji="ikuta no ie ga yakiharaware/ikuta no inochi ga kieteiku/kurushimu hitobito no nageki wa/oujo ni wa todokanai"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/狂おしい彩りで/とても美しい花なのに/嗚呼|棘が多すぎて触れない"
		romaji="aku no hana|karen ni saku/kuruoshii irodori de/totemo utsukushii hana nanoni/aa|toge ga oosugite sawarenai"
	%}
	{% include verse.html
		lyrics="悪の王女を倒すべく/ついに人々は立ち上がる/烏合の彼らを率いるは/赤き鎧の女剣士/つもりにつもったその怒り/国全体を包み込んだ/長年の戦で疲れた/兵士たちなど敵ではない"
		romaji="aku no oujo wo taosubeku/tsuini hitobito wa tachi agaru/ugou no karera wo hikiiru wa/akaki yoroi no onna kenshi/tsumori ni tsumotta sono ikari/kunizentai wo tsutsumikonda/naganen no ikusa de tsukareta/heishi-tachi nado teki de wa nai"
	%}
	{% include verse.html
		lyrics="ついに王宮は囲まれて/家臣たちも逃げ出した/可愛く可憐な王女様/ついに捕らえられた"
		romaji="tsuini oukyuu wa kakomarete/kashin-tachi mo nigedashita/kawaiku karenna oujo-sama/tsuini toraerareta"
	%}
	{% include verse.html
		lyrics="「この|無礼者！」"
		romaji="&quot;kono|bureimono!&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に咲く/悲しげな彩りで/彼女のための楽園は/嗚呼|もろくもはかなく崩れてく"
		romaji="aku no hana|karen ni saku/kanashigena irodori de/kanojo no tame no rakuen wa/aa|moroku mo hakanaku kuzureteku"
	%}
	{% include verse.html
		lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/齢十四の王女様/処刑の時間は午後三時/教会の鐘が鳴る時間/王女と呼ばれたその人は/一人牢屋で何を思う"
		romaji="mukashi mukashi arutokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/yowai juuyon no oujo-sama/shokei no jikan wa gogo san-ji/kyoukai no kane ga naru jikan/oujo to yobareta sono hito wa/hitori rouya de nani wo omou"
	%}
	{% include verse.html
		lyrics="ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/彼女はこういった"
		romaji="tsuini sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kanojo wa kou itta"
	%}
	{% include verse.html
		lyrics="「あら、おやつの時間だわ」"
		romaji="&quot;ara, oyatsu no jikan da wa&quot;"
	%}
	{% include verse.html
		lyrics="悪の華|可憐に散る/鮮やかな彩りで/のちの人々はこう語る/嗚呼|彼女は正に悪ノ娘"
		romaji="aku no hana|karen ni chiru/azayakana irodori de/nochi no hitobito wa kou kataru/aa|kanojo wa masani aku NO musume"
	%}
</div>