---
english-name: The Daughter of White
translation: https://pricechecktranslations.tumblr.com/post/103862455845
mothyrights: <em>The Evillious Chronicles</em>|<em>The Daughter of White</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「生きていてごめんなさい」/いつのまにか口癖/弱音ばかり吐いていた/つまらぬだけの人生/村の人たちは皆|きれいな緑の髪/仲間外れの私|人と違う白い髪"
			romaji="&quot;ikiteite gomennasai&quot;/itsunomanika kuchiguse/yowane bakari haiteita/tsumaranu dake no jinsei/mura no hito-tachi wa mina|kireina midori no kami/nakama hazure no watashi|hito to chigau shiroi kami"
		%}
		{% include verse.html
			lyrics="森の奥で密かに|そびえ立つ千年樹/私はここで一人|神に願いをかけた/孤独に生き続けること/それはとても寂しい/だれでもいい私の/友達になって欲しい"
			romaji="mori no oku de hisoka ni|sobie tatsu sennenju/watashi wa koko de hitori|kami ni negai wo kaketa/kodoku ni ikitsudzukeru koto/sore wa totemo sabishii/dare demo ii watashi no/tomodachi ni natte hoshii"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|千年樹のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|sennenju no sugusoba/toareteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="村の中の誰より|きれいな緑の髪/その優しい声と笑顔|誰からも愛された/どうしてこんな私にも/優しくしてくれるの？/自分より劣る女を/憐れんでるつもりなの？"
			romaji="mura no naka no dare yori|kireina midori no kami/sono yasashii koe to egao|dare kara mo aisareta/doushite konna watashi ni mo/yasashiku shitekureru no?/jibun yori otoru onna wo/awarenderu tsumori na no?"
		%}
		{% include verse.html
			lyrics="卑屈な私を抱きしめて/彼女はささやいた/「あなたは誰より素敵な人よ」/涙がこぼれた"
			romaji="hikutsuna watashi wo dakishimete/kanojo wa sasayaita/&quot;anata wa dare yori sutekina hito yo&quot;/namida ga koboreta"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/私を蔑み笑っても/必要としてくれる人がいる/それだけで幸せだった"
			romaji="tatoe sekai no subete no hito ga/watashi wo sagesumi waratte mo/hitsuyou to shitekureru hito ga iru/sore dake de shiawase datta"
		%}
		{% include verse.html
			lyrics="二人で村を飛び出して|街で暮らし始めた/不慣れな生活でも|一緒なら大丈夫/裕福な商人の|婦人の使用人/生きるために選んだ|私たちの仕事"
			romaji="futari de mura wo tobidashite|machi de kurashi hajimeta/funarena seikatsu demo|issho nara daijoubu/yuufukuna shounin no|fujin no shiyounin/ikiru tame ni eranda|watashi-tachi no shigoto"
		%}
		{% include verse.html
			lyrics="ある日屋敷で見かけた|青い髪の優男/あいつと彼女の出会いが|全てを狂わせた/海の向こうの国の王|彼は彼女を深く愛し/隣の国の王女の|求婚を拒んだ"
			romaji="aru hi yashiki de mikaketa|aoi kami no yasaotoko/aitsu to kanojo no deai ga|subete wo kuruwaseta/umi no mukou no kuni no ou|kare wa kanojo wo fukaku aishi/tonari no kuni no oujo no|kyuukon wo kobanda"
		%}
		{% include verse.html
			lyrics="国は戦火に包まれた/王女が下した命令/「緑の髪の女は全て|殺してしまいなさい」"
			romaji="kuni wa senka ni tsutsumareta/oujo ga kudashita meirei/&quot;midori no kami no onna wa subete|koroshiteshimainasai&quot;"
		%}
		{% include verse.html
			lyrics="みんなみんないなくなってしまった/白い髪の私以外/彼女の代わりに私が死ねばよかったのに/どうして|どうして"
			romaji="minna minna inaku natteshimatta/shiroi kami no watashi igai/kanojo no kawari ni watashi ga shineba yokatta no ni/doushite|doushite"
		%}
		{% include verse.html
			lyrics="「生きていてごめんなさい」/いつのまにか口癖/弱音ばかりを吐いていた/つまらぬだけの人生/港町の教会|新たに暮らし始めた/革命で王女が死んだと|風の噂で聞いた"
			romaji="&quot;ikiteite gommenasai&quot;/itsunomanika kuchiguse/yowane bakari wo haiteita/tsumaranu dake no jinsei/minatomachi no kyoukai|arata ni kurashi hajimeta/kakumei de oujo ga shinda to|kaze no uwasa de kitta"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|教会のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|kyoukai no sugusoba/taoreteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="誰もいない夜の懺悔室/偶然聞いてしまった彼女の告白/ああ|なんということでしょう/彼女は正に/―悪ノ娘―"
			romaji="dare mo inai yoru no zangeshitsu/guuzen kiiteshimatta kanojo no kokuhaku/aa|nanto iu koto deshou/kanojo wa masa ni/aku NO musume"
		%}
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむあの娘/背後から近づく私/懐からナイフ取り出して/王女の背中に向けて/振り上げた"
			romaji="machi hazure no chiisana minato/hitori tatazumu ano ko/haigo kara chikadzuku watashi/futokoro kara NAIFU toridashite/oujo no senaka ni mukete/furiageta"
		%}
		{% include verse.html
			lyrics="あなたに謝らければいけないことがあるの/私結局あなたの仇はとれなかった/あの娘は昔の私/とてもとても孤独な人/ひとりで生き続けること/それはとても寂しい"
			romaji="anata ni ayamara kereba ikenai koto ga aru no/watashi kekkyoku anata no kataki wa torenakatta/ano ko wa mukashi no watashi/totemo totemo kodokuna hito/hitori de ikitsudzukeru koto/sore wa totemo sabishii"
		%}
		{% include verse.html
			lyrics="なにもできなかったあの娘/少し料理がうまくなった/今日のおやつのブリオッシュ/とってもうまく焼けてる"
			romaji="nani mo dekinakatta ano ko/sukoshi ryouri ga umakunatta/kyou no oyatsu BURIOSSHU/tottemo umaku yaketeru"
		%}
		{% include verse.html
			lyrics="あの時あの海辺で/一瞬見えた幻覚"
			romaji="ano toki ano umibe de/isshun mieta genkaku"
		%}
		{% include verse.html
			lyrics="あの少年はいったい/誰だったのかしら？"
			romaji="ano shounen wa ittai/dare datta no kashira?"
		%}
	</div>
</div>

<div>
	<h3>piapro &middot; <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかり吐いていた|つまらぬだけの人生/村の人たちは皆|きれいな緑の髪/仲間外れの私|人と違う白い髪"
			romaji="&quot;ikiteite gomennasai&quot;|itsunomanika kuchiguse/yowane bakari haiteita|tsumaranu dake no jinsei/mura no hito-tachi wa mina|kireina midori no kami/nakama hazure no watashi|hito to chigau shiroi kami"
		%}
		{% include verse.html
			lyrics="森の奥で密かに|そびえ立つ千年樹/私はここで一人|神に願いをかけた/孤独に生き続けること|それはとても寂しい/だれでもいい私の|友達になって欲しい"
			romaji="mori no oku de hisoka ni|sobie tatsu sennenju/watashi wa koko de hitori|kami ni negai wo kaketa/kodoku ni ikitsudzukeru koto|sore wa totemo sabishii/dare demo ii watashi no|tomodachi ni natte hoshii"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|千年樹/のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|sennenju/no sugusoba/toareteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="村の中の誰より|きれいな緑の髪/その優しい声と笑顔|誰からも愛された/どうしてこんな私にも|優しくしてくれるの？/自分より劣る女を|憐れんでるつもりなの？"
			romaji="mura no naka no dare yori|kireina midori no kami/sono yasashii koe to egao|dare kara mo aisareta/doushite konna watashi ni mo|yasashiku shitekureru no?/jibun yori otoru onna wo|awarenderu tsumori na no?"
		%}
		{% include verse.html
			lyrics="卑屈な私を抱きしめて/彼女はささやいた/「あなたは誰より素敵な人よ」/涙がこぼれた"
			romaji="hikutsuna watashi wo dakishimete/kanojo wa sasayaita/&quot;anata wa dare yori sutekina hito yo&quot;/namida ga koboreta"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/私を蔑み笑っても/必要としてくれる人がいる/それだけで幸せだった"
			romaji="tatoe sekai no subete no hito ga/watashi wo sagesumi waratte mo/hitsuyou to shitekureru hito ga iru/sore dake de shiawase datta"
		%}
		{% include verse.html
			lyrics="二人で村を飛び出して|街で暮らし始めた/不慣れな生活でも|一緒なら大丈夫/裕福な商人の|婦人の使用人/生きるために選んだ|私たちの仕事"
			romaji="futari de mura wo tobidashite|machi de kurashi hajimeta/funarena seikatsu demo|issho nara daijoubu/yuufukuna shounin no|fujin no shiyounin/ikiru tame ni eranda|watashi-tachi no shigoto"
		%}
		{% include verse.html
			lyrics="ある日屋敷で見かけた|青い髪の優男/あいつと彼女の出会いが|全てを狂わせた/海の向こうの国の王|彼は彼女を深く愛し/隣の国の王女の|求婚を拒んだ"
			romaji="aru hi yashiki de mikaketa|aoi kami no yasaotoko/aitsu to kanojo no deai ga|subete wo kuruwaseta/umi no mukou no kuni no ou|kare wa kanojo wo fukaku aishi/tonari no kuni no oujo no|kyuukon wo kobanda"
		%}
		{% include verse.html
			lyrics="国は戦火に包まれた/王女が下した命令/「緑の髪の女は全て/殺してしまいなさい」"
			romaji="kuni wa senka ni tsutsumareta/oujo ga kudashita meirei/&quot;midori no kami no onna wa subete/koroshiteshimainasai&quot;"
		%}
		{% include verse.html
			lyrics="みんなみんないなくなってしまった/白い髪の私以外/彼女の代わりに私が死ねばよかったのに/どうして|どうして"
			romaji="minna minna inaku natteshimatta/shiroi kami no watashi igai/kanojo no kawari ni watashi ga shineba yokatta no ni/doushite|doushite"
		%}
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかりを吐いていた|つまらぬだけの人生/港町の教会|新たに暮らし始めた/革命で王女が死んだと|風の噂で聞いた"
			romaji="&quot;ikiteite gommenasai&quot;|itsunomanika kuchiguse/yowane bakari wo haiteita|tsumaranu dake no jinsei/minatomachi no kyoukai|arata ni kurashi hajimeta/kakumei de oujo ga shinda to|kaze no uwasa de kitta"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|教会のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|kyoukai no sugusoba/taoreteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="誰もいない夜の懺悔室/偶然聞いてしまった彼女の告白/ああ|なんということでしょう/彼女は正に/-悪ノ娘-"
			romaji="dare mo inai yoru no zangeshitsu/guuzen kiiteshimatta kanojo no kokuhaku/aa|nanto iu koto deshou/kanojo wa masa ni/aku NO musume"
		%}
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむあの娘/背後から近づく私/懐からナイフ/取り出して王女の背中に向けて/振り上げた"
			romaji="machi hazure no chiisana minato/hitori tatazumu ano ko/haigo kara chikadzuku watashi/futokoro kara NAIFU/toridashite oujo no senaka ni mukete/furiageta"
		%}
		{% include verse.html
			lyrics="あなたに謝らければいけないことがあるの/私結局あなたの仇はとれなかった/あの娘は昔の私|とてもとても孤独な人/ひとりで生き続けること|それはとても寂しい"
			romaji="anata ni ayamara kereba ikenai koto ga aru no/watashi kekkyoku anata no kataki wa torenakatta/ano ko wa mukashi no watashi|totemo totemo kodokuna hito/hitori de ikitsudzukeru koto|sore wa totemo sabishii"
		%}
		{% include verse.html
			lyrics="なにもできなかったあの娘/少し料理がうまくなった/今日のおやつのブリオッシュ/とってもうまく焼けてる"
			romaji="nani mo dekinakatta ano ko/sukoshi ryouri ga umakunatta/kyou no oyatsu BURIOSSHU/tottemo umaku yaketeru"
		%}
		{% include verse.html
			lyrics="あの時あの海辺で/一瞬見えた幻覚"
			romaji="ano toki ano umibe de/isshun mieta genkaku"
		%}
		{% include verse.html
			lyrics="あの少年はいったい/誰だったのかしら？"
			romaji="ano shounen wa ittai/dare datta no kashira?"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかり吐いていた|つまらぬだけの人生/村の人たちは皆|きれいな緑の髪/仲間外れの私|人と違う白い髪"
			romaji="&quot;ikiteite gomennasai&quot;|itsunomanika kuchiguse/yowane bakari haiteita|tsumaranu dake no jinsei/mura no hito-tachi wa mina|kireina midori no kami/nakama hazure no watashi|hito to chigau shiroi kami"
		%}
		{% include verse.html
			lyrics="森の奥で密かに|そびえ立つ千年樹/私はここで一人|神に願いをかけた/孤独に生き続けること|それはとても寂しい/だれでもいい私の|友達になって欲しい"
			romaji="mori no oku de hisoka ni|sobie tatsu sennenju/watashi wa koko de hitori|kami ni negai wo kaketa/kodoku ni ikitsudzukeru koto|sore wa totemo sabishii/dare demo ii watashi no|tomodachi ni natte hoshii"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|千年樹のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|sennenju no sugusoba/toareteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="村の中の誰より|きれいな緑の髪/その優しい声と笑顔|誰からも愛された/どうしてこんな私にも|優しくしてくれるの？/自分より劣る女を|憐れんでるつもりなの？"
			romaji="mura no naka no dare yori|kireina midori no kami/sono yasashii koe to egao|dare kara mo aisareta/doushite konna watashi ni mo|yasashiku shitekureru no?/jibun yori otoru onna wo|awarenderu tsumori na no?"
		%}
		{% include verse.html
			lyrics="卑屈な私を抱きしめて/彼女はささやいた/「あなたは誰より素敵な人よ」/涙がこぼれた"
			romaji="hikutsuna watashi wo dakishimete/kanojo wa sasayaita/&quot;anata wa dare yori sutekina hito yo&quot;/namida ga koboreta"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/私を蔑み笑っても/必要としてくれる人がいる/それだけで幸せだった"
			romaji="tatoe sekai no subete no hito ga/watashi wo sagesumi waratte mo/hitsuyou to shitekureru hito ga iru/sore dake de shiawase datta"
		%}
		{% include verse.html
			lyrics="二人で村を飛び出して|街で暮らし始めた/不慣れな生活でも|一緒なら大丈夫/裕福な商人の|婦人の使用人/生きるために選んだ|私たちの仕事"
			romaji="futari de mura wo tobidashite|machi de kurashi hajimeta/funarena seikatsu demo|issho nara daijoubu/yuufukuna shounin no|fujin no shiyounin/ikiru tame ni eranda|watashi-tachi no shigoto"
		%}
		{% include verse.html
			lyrics="ある日屋敷で見かけた|青い髪の優男/あいつと彼女の出会いが|全てを狂わせた/海の向こうの国の王|彼は彼女を深く愛し/隣の国の王女の|求婚を拒んだ"
			romaji="aru hi yashiki de mikaketa|aoi kami no yasaotoko/aitsu to kanojo no deai ga|subete wo kuruwaseta/umi no mukou no kuni no ou|kare wa kanojo wo fukaku aishi/tonari no kuni no oujo no|kyuukon wo kobanda"
		%}
		{% include verse.html
			lyrics="国は戦火に包まれた/王女が下した命令/「緑の髪の女は全て/殺してしまいなさい」"
			romaji="kuni wa senka ni tsutsumareta/oujo ga kudashita meirei/&quot;midori no kami no onna wa subete/koroshiteshimainasai&quot;"
		%}
		{% include verse.html
			lyrics="みんなみんないなくなってしまった/白い髪の私以外/彼女の代わりに私が死ねばよかったのに/どうして|どうして"
			romaji="minna minna inaku natteshimatta/shiroi kami no watashi igai/kanojo no kawari ni watashi ga shineba yokatta no ni/doushite|doushite"
		%}
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかりを吐いていた|つまらぬだけの人生/港町の教会|新たに暮らし始めた/革命で王女が死んだと|風の噂で聞いた"
			romaji="&quot;ikiteite gommenasai&quot;|itsunomanika kuchiguse/yowane bakari wo haiteita|tsumaranu dake no jinsei/minatomachi no kyoukai|arata ni kurashi hajimeta/kakumei de oujo ga shinda to|kaze no uwasa de kitta"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|教会のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="kanojo to deatta no wa|kyoukai no sugusoba/taoreteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="誰もいない夜の懺悔室/偶然聞いてしまった彼女の告白/ああ|なんということでしょう/彼女は正に/-悪ノ娘-"
			romaji="dare mo inai yoru no zangeshitsu/guuzen kiiteshimatta kanojo no kokuhaku/aa|nanto iu koto deshou/kanojo wa masa ni/aku NO musume"
		%}
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむあの娘/背後から近づく私/懐からナイフ取り出して/王女の背中に向けて/振り上げた"
			romaji="machi hazure no chiisana minato/hitori tatazumu ano ko/haigo kara chikadzuku watashi/futokoro kara NAIFU toridashite/oujo no senaka ni mukete/furiageta"
		%}
		{% include verse.html
			lyrics="あなたに謝らければいけないことがあるの/私結局あなたの仇はとれなかった/あの娘は昔の私|とてもとても孤独な人/ひとりで生き続けること|それはとても寂しい"
			romaji="anata ni ayamara kereba ikenai koto ga aru no/watashi kekkyoku anata no kataki wa torenakatta/ano ko wa mukashi no watashi|totemo totemo kodokuna hito/hitori de ikitsudzukeru koto|sore wa totemo sabishii"
		%}
		{% include verse.html
			lyrics="なにもできなかったあの娘/少し料理がうまくなった/今日のおやつのブリオッシュ/とってもうまく焼けてる"
			romaji="nani mo dekinakatta ano ko/sukoshi ryouri ga umakunatta/kyou no oyatsu BURIOSSHU/tottemo umaku yaketeru"
		%}
		{% include verse.html
			lyrics="あの時あの海辺で/一瞬見えた幻覚"
			romaji="ano toki ano umibe de/isshun mieta genkaku"
		%}
		{% include verse.html
			lyrics="あの少年はいったい/誰だったのかしら？"
			romaji="ano shounen wa ittai/dare datta no kashira?"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかり吐いていた|つまらぬだけの人生/村の人たちは皆|きれいな緑の髪/仲間外れの私|人と違う白い髪/森の奥で密かに|そびえ立つ千年樹/私はここで一人|神に願いをかけた/孤独に生き続けること|それはとても寂しい/だれでもいい私の|友達になって欲しい"
			romaji="&quot;ikiteite gomennasai&quot;|itsunomanika kuchiguse/yowane bakari haiteita|tsumaranu dake no jinsei/mura no hito-tachi wa mina|kireina midori no kami/nakama hazure no watashi|hito to chigau shiroi kami/mori no oku de hisoka ni|sobie tatsu sennenju/watashi wa koko de hitori|kami ni negai wo kaketa/kodoku ni ikitsudzukeru koto|sore wa totemo sabishii/dare demo ii watashi no|tomodachi ni natte hoshii"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは|千年樹のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った/村の中の誰より|きれいな緑の髪/その優しい声と笑顔|誰からも愛された/どうしてこんな私にも|優しくしてくれるの？/自分より劣る女を|憐れんでるつもりなの？"
			romaji="kanojo to deatta no wa|sennenju no sugusoba/toareteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta/mura no naka no dare yori|kireina midori no kami/sono yasashii koe to egao|dare kara mo aisareta/doushite konna watashi ni mo|yasashiku shitekureru no?/jibun yori otoru onna wo|awarenderu tsumori na no?"
		%}
		{% include verse.html
			lyrics="卑屈な私を抱きしめて|彼女はささやいた/「あなたは誰より素敵な人よ」|涙がこぼれた"
			romaji="hikutsuna watashi wo dakishimete|kanojo wa sasayaita/&quot;anata wa dare yori sutekina hito yo&quot;|namida ga koboreta"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が|私を蔑み笑っても/必要としてくれる人がいる|それだけで幸せだった"
			romaji="tatoe sekai no subete no hito ga|watashi wo sagesumi waratte mo/hitsuyou to shitekureru hito ga iru|sore dake de shiawase datta"
		%}
		{% include verse.html
			lyrics="二人で村を飛び出して|街で暮らし始めた/不慣れな生活でも|一緒なら大丈夫/裕福な商人の|婦人の使用人/生きるために選んだ|私たちの仕事/ある日屋敷で見かけた|青い髪の優男/あいつと彼女の出会いが|全てを狂わせた/海の向こうの国の王|彼は彼女を深く愛し/隣の国の王女の|求婚を拒んだ"
			romaji="futari de mura wo tobidashite|machi de kurashi hajimeta/funarena seikatsu demo|issho nara daijoubu/yuufukuna shounin no|fujin no shiyounin/ikiru tame ni eranda|watashi-tachi no shigoto/aru hi yashiki de mikaketa|aoi kami no yasaotoko/aitsu to kanojo no deai ga|subete wo kuruwaseta/umi no mukou no kuni no ou|kare wa kanojo wo fukaku aishi/tonari no kuni no oujo no|kyuukon wo kobanda"
		%}
		{% include verse.html
			lyrics="国は戦火に包まれた|王女が下した命令/「緑の髪の女は全て殺してしまいなさい」"
			romaji="kuni wa senka ni tsutsumareta|oujo ga kudashita meirei/&quot;midori no kami no onna wa subete koroshiteshimainasai&quot;"
		%}
		{% include verse.html
			lyrics="みんなみんないなくなってしまった/白い髪の私以外/彼女の代わりに私が死ねばよかったのに/どうして|どうして"
			romaji="minna minna inaku natteshimatta/shiroi kami no watashi igai/kanojo no kawari ni watashi ga shineba yokatta no ni/doushite|doushite"
		%}
		{% include verse.html
			lyrics="「生きていてごめんなさい」|いつのまにか口癖/弱音ばかりを吐いていた|つまらぬだけの人生/港町の教会|新たに暮らし始めた/革命で王女が死んだと|風の噂で聞いた/彼女と出会ったのは|教会のすぐそば/倒れていた彼女を|助けたのが始まり/いつのまにか二人は|とても仲良くなった/だけど私と彼女|何もかもが違った"
			romaji="&quot;ikiteite gommenasai&quot;|itsunomanika kuchiguse/yowane bakari wo haiteita|tsumaranu dake no jinsei/minatomachi no kyoukai|arata ni kurashi hajimeta/kakumei de oujo ga shinda to|kaze no uwasa de kitta/kanojo to deatta no wa|kyoukai no sugusoba/taoreteita kanojo wo|tasuketa no ga hajimari/itsunomanika futari wa|totemo nakayokunatta/dakedo watashi to kanojo|nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="誰もいない夜の懺悔室/偶然聞いてしまった彼女の告白/ああ|なんということでしょう/彼女は正に|-悪ノ娘-"
			romaji="dare mo inai yoru no zangeshitsu/guuzen kiiteshimatta kanojo no kokuhaku/aa|nanto iu koto deshou/kanojo wa masa ni|aku NO musume"
		%}
		{% include verse.html
			lyrics="街はずれの小さな港|一人たたずむあの娘/背後から近づく私/懐からナイフ取り出して/王女の背中に向けて振り上げた"
			romaji="machi hazure no chiisana minato|hitori tatazumu ano ko/haigo kara chikadzuku watashi/futokoro kara NAIFU toridashite/oujo no senaka ni mukete furiageta"
		%}
		{% include verse.html
			lyrics="あなたに謝らければいけないことがあるの/私結局あなたの仇はとれなかった/あの娘は昔の私|とてもとても孤独な人/ひとりで生き続けること|それはとても寂しい"
			romaji="anata ni ayamara kereba ikenai koto ga aru no/watashi kekkyoku anata no kataki wa torenakatta/ano ko wa mukashi no watashi|totemo totemo kodokuna hito/hitori de ikitsudzukeru koto|sore wa totemo sabishii"
		%}
		{% include verse.html
			lyrics="なにもできなかったあの娘/少し料理がうまくなった/今日のおやつのブリオッシュ/とってもうまく焼けてる"
			romaji="nani mo dekinakatta ano ko/sukoshi ryouri ga umakunatta/kyou no oyatsu BURIOSSHU/tottemo umaku yaketeru"
		%}
		{% include verse.html
			lyrics="あの時あの海辺で一瞬見えた幻覚"
			romaji="ano toki ano umibe de isshun mieta genkaku"
		%}
		{% include verse.html
			lyrics="あの少年はいったい誰だったのかしら？"
			romaji="ano shounen wa ittai dare datta no kashira?"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「生きていてごめんなさい」/いつのまにか口癖/弱音ばかり吐いていた/つまらぬだけの人生/村の人たちは皆/きれいな緑の髪/仲間外れの私/人と違う白い髪"
			romaji="&quot;ikiteite gomennasai&quot;/itsunomanika kuchiguse/yowane bakari haiteita/tsumaranu dake no jinsei/mura no hito-tachi wa mina/kireina midori no kami/nakama hazure no watashi/hito to chigau shiroi kami"
		%}
		{% include verse.html
			lyrics="森の奥で密かに/そびえ立つ千年樹/私はここで一人/神に願いをかけた/孤独に生き続けること/それはとても寂しい/だれでもいい私の/友達になって欲しい"
			romaji="mori no oku de hisoka ni/sobie tatsu sennenju/watashi wa koko de hitori/kami ni negai wo kaketa/kodoku ni ikitsudzukeru koto/sore wa totemo sabishii/dare demo ii watashi no/tomodachi ni natte hoshii"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは/千年樹のすぐそば/倒れていた彼女を/助けたのが始まり/いつのまにか二人は/とても仲良くなった/だけど私と彼女/何もかもが違った"
			romaji="kanojo to deatta no wa/sennenju no sugusoba/toareteita kanojo wo/tasuketa no ga hajimari/itsunomanika futari wa/totemo nakayokunatta/dakedo watashi to kanojo/nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="村の中の誰より/きれいな緑の髪/その優しい声と笑顔/誰からも愛された/どうしてこんな私にも/優しくしてくれるの？/自分より劣る女を/憐れんでるつもりなの？"
			romaji="mura no naka no dare yori/kireina midori no kami/sono yasashii koe to egao/dare kara mo aisareta/doushite konna watashi ni mo/yasashiku shitekureru no?/jibun yori otoru onna wo/awarenderu tsumori na no?"
		%}
		{% include verse.html
			lyrics="卑屈な私を抱きしめて/彼女はささやいた/「あなたは誰より/素敵な人よ」/涙がこぼれた"
			romaji="hikutsuna watashi wo dakishimete/kanojo wa sasayaita/&quot;anata wa dare yori/sutekina hito yo&quot;/namida ga koboreta"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/私を蔑み笑っても/必要としてくれる人がいる/それだけで幸せだった"
			romaji="tatoe sekai no subete no hito ga/watashi wo sagesumi waratte mo/hitsuyou to shitekureru hito ga iru/sore dake de shiawase datta"
		%}
		{% include verse.html
			lyrics="二人で村を飛び出して/街で暮らし始めた/不慣れな生活でも/一緒なら大丈夫/裕福な商人の/婦人の使用人/生きるために選んだ/私たちの仕事"
			romaji="futari de mura wo tobidashite/machi de kurashi hajimeta/funarena seikatsu demo/issho nara daijoubu/yuufukuna shounin no/fujin no shiyounin/ikiru tame ni eranda/watashi-tachi no shigoto"
		%}
		{% include verse.html
			lyrics="ある日屋敷で見かけた/青い髪の優男/あいつと彼女の出会いが/全てを狂わせた/海の向こうの国の王/彼は彼女を深く愛し/隣の国の王女の/求婚を拒んだ"
			romaji="aru hi yashiki de mikaketa/aoi kami no yasaotoko/aitsu to kanojo no deai ga/subete wo kuruwaseta/umi no mukou no kuni no ou/kare wa kanojo wo fukaku aishi/tonari no kuni no oujo no/kyuukon wo kobanda"
		%}
		{% include verse.html
			lyrics="国は戦火に包まれた/王女が下した命令/「緑の髪の女は全て/殺してしまいなさい」"
			romaji="kuni wa senka ni tsutsumareta/oujo ga kudashita meirei/&quot;midori no kami no onna wa subete/koroshiteshimainasai&quot;"
		%}
		{% include verse.html
			lyrics="みんなみんな/いなくなってしまった/白い髪の私以外/彼女の代わりに/私が死ねばよかったのに/どうして/どうして"
			romaji="minna minna/inaku natteshimatta/shiroi kami no watashi igai/kanojo no kawari ni/watashi ga shineba yokatta no ni/doushite/doushite"
		%}
		{% include verse.html
			lyrics="「生きていてごめんなさい」/いつのまにか口癖/弱音ばかりを吐いていた/つまらぬだけの人生/港町の教会/新たに暮らし始めた/革命で王女が死んだと/風の噂で聞いた"
			romaji="&quot;ikiteite gommenasai&quot;/itsunomanika kuchiguse/yowane bakari wo haiteita/tsumaranu dake no jinsei/minatomachi no kyoukai/arata ni kurashi hajimeta/kakumei de oujo ga shinda to/kaze no uwasa de kitta"
		%}
		{% include verse.html
			lyrics="彼女と出会ったのは/教会のすぐそば/倒れていた彼女を/助けたのが始まり/いつのまにか二人は/とても仲良くなった/だけど私と彼女/何もかもが違った"
			romaji="kanojo to deatta no wa/kyoukai no sugusoba/taoreteita kanojo wo/tasuketa no ga hajimari/itsunomanika futari wa/totemo nakayokunatta/dakedo watashi to kanojo/nanimokamo ga chigatta"
		%}
		{% include verse.html
			lyrics="誰もいない夜の懺悔室/偶然聞いてしまった/彼女の告白/ああ/なんということでしょう/彼女は正に/-悪ノ娘-"
			romaji="dare mo inai yoru no zangeshitsu/guuzen kiiteshimatta/kanojo no kokuhaku/aa/nanto iu koto deshou/kanojo wa masa ni/aku NO musume"
		%}
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむあの娘/背後から近づく私/懐からナイフ取り出して/王女の背中に向けて/振り上げた"
			romaji="machi hazure no chiisana minato/hitori tatazumu ano ko/haigo kara chikadzuku watashi/futokoro kara NAIFU toridashite/oujo no senaka ni mukete/furiageta"
		%}
		{% include verse.html
			lyrics="あなたに謝らければ/いけないことがあるの/私結局あなたの/仇はとれなかった/あの娘は昔の私/とてもとても孤独な人/ひとりで生き続けること/それはとても寂しい"
			romaji="anata ni ayamara kereba/ikenai koto ga aru no/watashi kekkyoku anata no/kataki wa torenakatta/ano ko wa mukashi no watashi/totemo totemo kodokuna hito/hitori de ikitsudzukeru koto/sore wa totemo sabishii"
		%}
		{% include verse.html
			lyrics="なにもできなかったあの娘/少し料理がうまくなった/今日のおやつのブリオッシュ/とってもうまく焼けてる"
			romaji="nani mo dekinakatta ano ko/sukoshi ryouri ga umakunatta/kyou no oyatsu BURIOSSHU/tottemo umaku yaketeru"
		%}
		{% include verse.html
			lyrics="あの時あの海辺で/一瞬見えた幻覚"
			romaji="ano toki ano umibe de/isshun mieta genkaku"
		%}
		{% include verse.html
			lyrics="あの少年はいったい/誰だったのかしら？"
			romaji="ano shounen wa ittai/dare datta no kashira?"
		%}
	</div>
</div>