---
english-name: Desert BLUEBIRD
image: /assets/images/thumbs/DesertBluebird.jpg
translation: https://pricechecktranslations.tumblr.com/post/105204387845
mothyrights: <em>The Evillious Chronicles</em>|<em>Desert BLUEBIRD</em>
---
<div><!--TOADD: Supernova 3 ver.-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="砂の中|埋もれた世界/僕らは探しているんだ|青い鳥/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="suna no naka|umoreta sekai/bokura wa sagashiteiru nda|aoi tori/tsurakute mo|kimi to issho nara/kitto norikoerareru"
		%}
		{% include verse.html
			lyrics="文明の滅んだこの世界/僕ら兄妹の前に現れた老婆の頼みごと/「世界を救うための青い鳥/見つけ出してほしい」"
			romaji="bunmei no horonda kono sekai/bokura kyoudai no mae ni arawareta rouba no tanomigoto/&quot;sekai wo sukuu tame no aoi tori/mitsukedashite hoshii&quot;"
		%}
		{% include verse.html
			lyrics="それは砂漠のBLUE BIRD/突然委ねられた世界の行く末/車に希望を詰め込んで/僕達の旅が始まった"
			romaji="sore wa sabaku no BLUE BIRD/totsuzen yudanerareta sekai no yukusue/kuruma ni kibou wo tsumekonde/boku-tachi no tabi ga hajimatta"
		%}
		{% include verse.html
			lyrics="青い鳥|それは伝説/あらゆる願いを叶えてくれる奇跡/長い旅|僕らは見つけた/青い鳥の居場所"
			romaji="aoi tori|sore wa densetsu/arayuru negai wo kanaetekureru kiseki/nagai tabi|bokura wa mitsuketa/aoi tori no ibasho"
		%}
		{% include verse.html
			lyrics="崩れかけた巨大な建物/決して踏み入れてはいけないと|恐れている人々/躊躇する僕の為に君は/一人で駆け出した"
			romaji="kuzurekaketa kyodaina tatemono/kesshite fumiirete wa ikenai to|osoreteiru hitobito/chuuchosuru boku no tame ni kimi wa/hitori de kakedashita"
		%}
		{% include verse.html
			lyrics="何か起きればいつも僕の/背中で震えていた怖がりな妹/心に勇気を詰め込んで/君は建物に入っていく"
			romaji="nanika okireba itsumo boku no/senaka de furueteita kowagarina imouto/kokoro ni yuuki wo tsumekonde/kimi wa tatemono ni haitteiku"
		%}
		{% include verse.html
			lyrics="砂の中|埋もれた世界/君は見つけ出したんだ|青い鳥/腕の中|目を閉じている君/もう目覚めることはない"
			romaji="suna no naka|umoreta sekai/kimi wa mitsukedashita nda|aoi tori/ude no naka|me wo tojiteiru kimi/mou mezameru koto wa nai"
		%}
		{% include verse.html
			lyrics="「核」で汚染されていた施設/失ったものはあまりにも大きい/僕は青い鳥に願った"
			romaji="&quot;kaku&quot; de osensareteita shisetsu/ushinatta mono wa amari ni mo ookii/boku wa aoi tori ni negatta"
		%}
		{% include verse.html
			lyrics="君は再び目を覚ます/青い鳥はどこかへ消え去った"
			romaji="kimi wa futatabi me wo samasu/aoi tori wa dokoka he kiesatta"
		%}
		{% include verse.html
			lyrics="君と僕|歩いたその先/辿り着いた世界の果て/そこには青くて広い…/海があった"
			romaji="kimi to boku|aruita sono saki/tadoritsuita sekai no hate/soko ni wa aokute hiroi.../umi ga atta"
		%}
		{% include verse.html
			lyrics="全てはこれから始まるんだ/自分たちの手で世界を作りなおすんだ/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="subete wa kore kara hajimaru nda/jibun-tachi no te de sekai wo tsukurinaosu nda/tsurakute mo|kimi to issho nara/kitto norikoeraru"
		%}
		{% include verse.html
			lyrics="砂漠の青い鳥/それは奇跡"
			romaji="desert blue bird/sore wa kiseki"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="砂の中|埋もれた世界/僕らは探しているんだ|青い鳥/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="suna no naka|umoreta sekai/bokura wa sagashiteiru nda|aoi tori/tsurakute mo|kimi to issho nara/kitto norikoerareru"
		%}
		{% include verse.html
			lyrics="文明の滅んだこの世界/僕ら兄妹の前に現れた/老婆の頼みごと/「世界を救うための青い鳥/|見つけ出してほしい」"
			romaji="bunmei no horonda kono sekai/bokura kyoudai no mae ni arawareta/rouba no tanomigoto/&quot;sekai wo sukuu tame no aoi tori/|mitsukedashite hoshii&quot;"
		%}
		{% include verse.html
			lyrics="それは砂漠のBLUE BIRD/突然委ねられた世界の行く末/車に希望を詰め込んで/僕達の旅が始まった"
			romaji="sore wa sabaku no BLUE BIRD/totsuzen yudanerareta sekai no yukusue/kuruma ni kibou wo tsumekonde/boku-tachi no tabi ga hajimatta"
		%}
		{% include verse.html
			lyrics="青い鳥|それは伝説/あらゆる願いを叶えてくれる奇跡/長い旅|僕らは見つけた/青い鳥の居場所"
			romaji="aoi tori|sore wa densetsu/arayuru negai wo kanaetekureru kiseki/nagai tabi|bokura wa mitsuketa/aoi tori no ibasho"
		%}
		{% include verse.html
			lyrics="崩れかけた巨大な建物/決して踏み入れてはいけないと/恐れている人々/躊躇する僕の為に君は/一人で駆け出した"
			romaji="kuzurekaketa kyodaina tatemono/kesshite fumiirete wa ikenai to/osoreteiru hitobito/chuuchosuru boku no tame ni kimi wa/hitori de kakedashita"
		%}
		{% include verse.html
			lyrics="何か起きればいつも僕の/背中で震えていた怖がりな妹/心に勇気を詰め込んで/君は建物に入っていく"
			romaji="nanika okireba itsumo boku no/senaka de furueteita kowagarina imouto/kokoro ni yuuki wo tsumekonde/kimi wa tatemono ni haitteiku"
		%}
		{% include verse.html
			lyrics="砂の中|埋もれた世界/君は見つけ出したんだ|青い鳥/腕の中|目を閉じている君/もう目覚めることはない"
			romaji="suna no naka|umoreta sekai/kimi wa mitsukedashita nda|aoi tori/ude no naka|me wo tojiteiru kimi/mou mezameru koto wa nai"
		%}
		{% include verse.html
			lyrics="「核」で汚染されていた施設/失ったものはあまりにも大きい/僕は青い鳥に願った"
			romaji="&quot;kaku&quot; de osensareteita shisetsu/ushinatta mono wa amari ni mo ookii/boku wa aoi tori ni negatta"
		%}
		{% include verse.html
			lyrics="君は再び目を覚ます/青い鳥はどこかへ消え去った"
			romaji="kimi wa futatabi me wo samasu/aoi tori wa dokoka he kiesatta"
		%}
		{% include verse.html
			lyrics="君と僕|歩いたその先/辿り着いた世界の果て/そこには青くて広い…/海があった"
			romaji="kimi to boku|aruita sono saki/tadoritsuita sekai no hate/soko ni wa aokute hiroi.../umi ga atta"
		%}
		{% include verse.html
			lyrics="全てはこれから始まるんだ/自分たちの手で世界を作りなおすんだ/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="subete wa kore kara hajimaru nda/jibun-tachi no te de sekai wo tsukurinaosu nda/tsurakute mo|kimi to issho nara/kitto norikoeraru"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="砂の中|埋もれた世界/僕らは探しているんだ|青い鳥/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="suna no naka|umoreta sekai/bokura wa sagashiteiru nda|aoi tori/tsurakute mo|kimi to issho nara/kitto norikoerareru"
		%}
		{% include verse.html
			lyrics="文明の滅んだこの世界/僕ら兄妹の前に現れた老婆の頼みごと/「世界を救うための青い鳥/|見つけ出してほしい」"
			romaji="bunmei no horonda kono sekai/bokura kyoudai no mae ni arawareta rouba no tanomigoto/&quot;sekai wo sukuu tame no aoi tori/|mitsukedashite hoshii&quot;"
		%}
		{% include verse.html
			lyrics="それは砂漠のBLUE BIRD/突然委ねられた世界の行く末/車に希望を詰め込んで/僕達の旅が始まった"
			romaji="sore wa sabaku no BLUE BIRD/totsuzen yudanerareta sekai no yukusue/kuruma ni kibou wo tsumekonde/boku-tachi no tabi ga hajimatta"
		%}
		{% include verse.html
			lyrics="青い鳥|それは伝説/あらゆる願いを叶えてくれる奇跡/長い旅|僕らは見つけた/青い鳥の居場所"
			romaji="aoi tori|sore wa densetsu/arayuru negai wo kanaetekureru kiseki/nagai tabi|bokura wa mitsuketa/aoi tori no ibasho"
		%}
		{% include verse.html
			lyrics="崩れかけた巨大な建物/決して踏み入れてはいけないと恐れている人々/躊躇する僕の為に君は/一人で駆け出した"
			romaji="kuzurekaketa kyodaina tatemono/kesshite fumiirete wa ikenai to osoreteiru hitobito/chuuchosuru boku no tame ni kimi wa/hitori de kakedashita"
		%}
		{% include verse.html
			lyrics="何か起きればいつも僕の/背中で震えていた怖がりな妹/心に勇気を詰め込んで/君は建物に入っていく"
			romaji="nanika okireba itsumo boku no/senaka de furueteita kowagarina imouto/kokoro ni yuuki wo tsumekonde/kimi wa tatemono ni haitteiku"
		%}
		{% include verse.html
			lyrics="砂の中|埋もれた世界/君は見つけ出したんだ|青い鳥/腕の中|目を閉じている君/もう目覚めることはない"
			romaji="suna no naka|umoreta sekai/kimi wa mitsukedashita nda|aoi tori/ude no naka|me wo tojiteiru kimi/mou mezameru koto wa nai"
		%}
		{% include verse.html
			lyrics="「核」で汚染されていた施設/失ったものはあまりにも大きい/僕は青い鳥に願った"
			romaji="&quot;kaku&quot; de osensareteita shisetsu/ushinatta mono wa amari ni mo ookii/boku wa aoi tori ni negatta"
		%}
		{% include verse.html
			lyrics="君は再び目を覚ます/青い鳥はどこかへ消え去った"
			romaji="kimi wa futatabi me wo samasu/aoi tori wa dokoka he kiesatta"
		%}
		{% include verse.html
			lyrics="君と僕|歩いたその先/辿り着いた世界の果て/そこには青くて広い…/海があった"
			romaji="kimi to boku|aruita sono saki/tadoritsuita sekai no hate/soko ni wa aokute hiroi.../umi ga atta"
		%}
		{% include verse.html
			lyrics="全てはこれから始まるんだ/自分たちの手で世界を作りなおすんだ/辛くても|君と一緒なら/きっと乗り越えられる"
			romaji="subete wa kore kara hajimaru nda/jibun-tachi no te de sekai wo tsukurinaosu nda/tsurakute mo|kimi to issho nara/kitto norikoeraru"
		%}
	</div>
</div>