---
english-name: Drug Of Gold
image: /assets/images/thumbs/SevenAlbum.png
translation: https://pricechecktranslations.tumblr.com/post/112282221400
mothyrights: <em>The Evillious Chronicles</em>|<em>Drug Of Gold</em>
---
<div>
	<h3><a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="病弱な身体|子供の頃から生死をさまよっては/家に伝わる秘薬を飲み続けてた日常/必要な事もろくに出来ない|ただの役立たずだと/家族に疎まれ次第に歪んでた心"
			romaji="byoujakuna karada|kodomo no koro kara seishi wo samayotte wa/ie ni tsutawaru hiyaku wo nomitsudzuketeta nichijou/hitsuyouna koto mo rokuni dekinai|tada no yakutatazu da to/kazoku ni utomare jidai ni yugandeta kokoro"
		%}
		{% include verse.html class="versebreak"
			lyrics="希望なんてどこにもなかった/ただ生き続けるだけの日々"
			romaji="kibou nante doko ni mo nakatta/tada ikitsudzukeru dake no hibi"
		%}
		{% include verse.html
			lyrics="15歳の時|唐突に組まれた縁談の話/相手は他国の落ちぶれた貴族の娘/お互いの意思などまるで無視の|ただ家柄のために/自分が道具だと改めて理解をした"
			romaji="juugo-sai no toki|toutotsu ni kumareta endan no hanashi/aite wa takoku no ochibureta kizoku no musume/otagai no ishi nado maru de mushi no|tada iegara no tame ni/jibun ga dougu da to aratamete rikai wo shita"
		%}
		{% include verse.html
			lyrics="豚のように太った少女/それが彼女との出会いだった"
			romaji="buta no you ni futotta shoujo/sore ga kanojo to no deai datta"
		%}
		{% include verse.html class="versebreak"
			lyrics="彼女もやはり一人ぼっちで少女時代を過ごしたそうだ/母は亡くなり父は心を病んで家は没落した/「いつか世界中を旅したい」/それが彼女の夢だという/二人で行くのも悪くないなと思った"
			romaji="kanojo mo yahari hitoribocchi de shoujo jidai wo sugoshita sou da/haha wa nakunari chichi wa kokoro wo yande ie wa butsurakushita/&quot;itsuka sekaijuu wo tabishitai&quot;/sore ga kanojo no yume da to iu/futari de iku no mo warukunai na to omotta"
		%}
		{% include verse.html
			lyrics="客人を招いて開かられた婚約の為のパーティ/そこで彼女の心の闇を知ることになった/出された料理を乞食のように貪り食らう彼女/「残したら怒られる」呟いていた言葉"
			romaji="kyakujin wo maneite hirakarareta kon'yaku no tame no PAATI/soko de kanojo no kokoro no yami wo shiru koto ni natta/desareta ryouri wo kojiki no you ni musabori kurau kanojo/&quot;nokoshitara okorareru&quot; tsubuyaiteita kotoba"
		%}
		{% include verse.html class="versebreak"
			lyrics="亡き母から受けてた虐待/婚約は破談になった"
			romaji="nakihaha kara uketeta gyakutai/kon'yaku wa hadan ni natta"
		%}
		{% include verse.html
			lyrics="時が経った時耳に届いた彼女に関する噂/「ゲテモノを食らう悪食娘になった」と/顔を変えてコックを装い彼女に雇われた/そこにいたのは見違えるほど美しくなった女"
			romaji="toki ga tatta toki mimi ni todoita kanojo ni kansuru uwasa/&quot;GETEMONO wo kurau akujiki musume ni natta&quot; to/kao wo kaete KOKKU wo yosoi kanojo ni yatowareta/soko ni ita no wa michigaeru hodo utsushiku natta onna"
		%}
		{% include verse.html
			lyrics="禁じられた悪魔との契約/彼女はもう人でなくなっていた"
			romaji="kinjirareta akuma to no keiyaku/kanojo wa mou hito de nakunatteita"
		%}
		{% include verse.html
			lyrics="異常な料理作り続ける日々|思わず口をついて出た言葉/「そろそろお暇をもらえませんか？」失望する彼女/わかっている自分はいつだって逃げてばかりの負け犬だと/またこうして彼女から逃げようとしてる"
			romaji="ijouna ryouri tsukuritsudzukeru hibi|omowazu kuchi wo tsuite deta kotoba/&quot;sorosoro ohima wo moraemasen ka?&quot; shitsubousuru kanojo/wakatteiru jibun wa itsu datte nigete bakari no makeinu da to/mata koushite kanojo kara nigeyou toshiteru"
		%}
		{% include verse.html class="versebreak"
			lyrics="あのパーティの日に君を受け入れることができたら/君を救う事も出来たかもしれない/未だに手放せぬ薬|金の粉末入りの小瓶/決意と共に握りしめた"
			romaji="ano PAATI no hi kimi wo ukeireru koto ga dekitara/kimi wo sukuu koto mo dekita kamoshirenai/imada ni tebanasenu kusuri|gin no funmatsu iri no kobin/ketsui to tomo ni nigirishimeta"
		%}
		{% include verse.html
			lyrics="子供の頃から飲み続けてきた秘伝の薬/扱いを間違えば毒にもなる薬/「たまには共に食事をしましょう」そう彼女を誘い/二人分のスープ|どちらにも毒を入れた"
			romaji="kodomo no koro kara nomitsudzuketekita hiden no kusuri/atsukai wo machigaeba doku ni mo naru kusuri/&quot;tama ni wa tomo ni shokuji wo shimashou&quot; sou kanojo wo sasoi/futaribun no SUUPU|dochira ni mo doku wo ireta"
		%}
		{% include verse.html class="versebreak"
			lyrics="二人で逝くのも悪くないだろ？/さあ|これが僕らの最後の晩餐だ"
			romaji="futari de iku no mo warukunai daro?/saa|kore ga bokura no saigo no bansan da"
		%}
		{% include verse.html
			lyrics="――そして今の僕は|食卓に並べられた料理の一つ/彼女に毒は効かなかった/死んだのは僕だけ/意識を失う直前|彼女はポツリとこう言ったんだ/「あなたはまた逃げたのよ|私を置いて」"
			romaji="soshite ima no boku wa|shokutaku ni naraberareta ryouri no hitotsu/kanojo ni doku wa kikanakatta/shinda no wa boku dake/ishiki wo ushinau chokuzen|kanojo wa POTSURI to kou itta nda/&quot;anata wa mata nigeta no yo|watashi wo oite&quot;"
		%}
		{% include verse.html
			lyrics="君のための料理になって僕は君の胃の中へと/そして僕は君の血となり肉となる/もう僕が君から逃げることはないだろう"
			romaji="kimi no tame no ryouri ni natte boku wa kimi no i no naka he to/soshite boku wa kimi no chi to nari niku to naru/mou boku ga kimi kara nigeru koto wa nai darou"
		%}
		{% include verse.html
			lyrics="永遠に君と共に"
			romaji="towa ni kimi to tomo ni"
		%}
	</div>
</div>