---
english-name: Ending Boy Hänsel
translation: https://pricechecktranslations.tumblr.com/post/115081807625
mothyrights: <em>The Evillious Chronicles</em>|<em>Ending Boy Hänsel</em>
---
<div><!-- TOADD: bonus version-->
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ビーカーの中で蠢いた/ちっちゃなちっちゃな悪意の種/生まれた片割れの一つ/その名も「ヘンゼル」"
			romaji="BIIKAA no naka de ugomeita/chicchana chicchana akui no tame/umareta kataware no hitotsu/sono na mo &quot;HENZERU&quot;"
		%}
		{% include verse.html
			lyrics="たとえその身が朽ちようと/何度でも繰り返す転生/それは神の所業/そして悪魔の悪戯"
			romaji="tatoe sono mi ga kuchiyou to/nando demo kurikaesu tensei/sore wa kami no shogyou/soshite akuma no itazura"
		%}
		{% include verse.html
			lyrics="ある時は森にすむ木こりの子/悪い魔女をかまどに放り込め/ある時は悪食の召使/頭の悪い家畜世話係"
			romaji="aru toki wa mori ni sumu kikori no ko/warui majo wo kamado ni hourikome/aru toki wa akujiki no meshitsukai/atama no warui kachiku sewakakari"
		%}
		{% include verse.html
			lyrics="またある時は五番目のピエロ/偉大なサンタクロースの息子/そしてその正体は/正統なる終末の使徒"
			romaji="mata aru toki wa gobanme no PIERO/idaina SANTA KUROOSU no musuko/soshite sono shoutai wa/seitou naru shuumatsu no shito"
		%}
		{% include verse.html
			lyrics="満月の輝く夜/ヘンゼルは現れる/光帯びた凶器をその手に持ち"
			romaji="mangetsu no kagayaku yoru/HENZERU wa arawareru/hikari obita kyouki wo sono te ni mochi"
		%}
		{% include verse.html
			lyrics="それが銀のナイフか/あるいはガラスの小瓶かは/彼の目の前に立つあなた次第"
			romaji="sore ga gin no NAIFU ka/arui wa GARASU no kobin ka wa/kare no me no mae ni tatsu anata shidai"
		%}
		{% include verse.html
			lyrics="四柱の神に創られた/ちっちゃなちっちゃなこの世界/悪意を排除したはずの/千年王国"
			romaji="shichuu no kami ni tsukurareta/chicchana chicchana kono sekai/akui wo haijoshita hazu no/sennen oukoku"
		%}
		{% include verse.html
			lyrics="ルールの中で用意された/四つの異なるエンディング/少年を手にした者が/それを選ぶだろう"
			romaji="RUURU no naka de youisareta/yottsu no kotonaru ENDINGU/shounen wo te ni shita mono ga/sore wo erabu darou"
		%}
		{% include verse.html
			lyrics="墓場の主は死をもたらす/全ての者は主の胃袋に/法廷の主は審判をもたらす/全ての者は裁きを受ける"
			romaji="habaka no nushi wa shi wo motorasu/subete no mono wa nushi no ibukuro ni/houtei no nushi wa shinpan wo motorasu/subete no mono wa sabaki wo ukeru"
		%}
		{% include verse.html
			lyrics="冥界の主は地獄をもたらす/全ての者は永遠に許されない/天界の主は贖罪をもたらし/ユートピアへと導くだろう"
			romaji="meikai no nushi wa jigoku wo motarasu/subete no mono wa towa ni yurusarenai/tenkai no nushi wa shokuzai wo motorashi/YUUTOPIA he to michibiku darou"
		%}
		{% include verse.html
			lyrics="いずれかの終末が/世界に訪れる/それを避けることはけしてできない"
			romaji="izureka no shuumatsu ga/sekai ni otozureru/sore wo sakeru koto wa kesshite dekinai"
		%}
		{% include verse.html
			lyrics="定められた結末か/歪められたイレギュラーか/「罰」は等しく皆に下される"
			romaji="sadamerareta ketsumatsu ka/yugamerareta IREGYURAA ka/&quot;batsu&quot; wa hitoshiku mina ni kudasaseru"
		%}
		{% include verse.html
			lyrics="千年の時を越え/ヘンゼルは現れる/自らの宿命も知らぬままに"
			romaji="sennen no toki wo koe/HENZERU wa arawareru/mizukara no shukumei wo shiranu mama ni"
		%}
		{% include verse.html
			lyrics="彼を天使にするか/狂気の使い魔にするかは/彼の目の前に立つあなた次第"
			romaji="kare wa tenshi ni suru ka/kyouki no tsukaima ni suru ka/kare no me no mae ni tatsu anata shidai"
		%}
	</div>
</div>