---
english-name: Escape of Salmhofer the Witch
translation: https://pricechecktranslations.tumblr.com/post/104693282950
mothyrights: <em>The Evillious Chronicles</em>|<em>Escape of Salmhofer the Witch</em>
---
<div><!--TOADD: Vocaloconnection ver.-->
	<h3>PV</h3>
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/赤い二つの果実/胸に抱いて|夜を走る|逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/akai futatsu no kajitsu/mune ni daite|yoru wo hashiru|toubousha"
	%}
	{% include verse.html
		lyrics="父も知らず|母も知らず/一人ぼっちで育ってきた/二十歳の時|愛したのは/人殺しの犯罪者"
		romaji="chichi mo shirazu|haha mo shirazu/hitori bocchi de sodatte kita/hatachi no toki|aishita no wa/hitogoroshi no hanzaisha"
	%}
	{% include verse.html
		lyrics="悪に惹かれたならば/自らも染まっていく/そして人は私を/『魔女』と呼んだ"
		romaji="aku ni hikareta naraba/mizukara mo somatte iku/soshite hito wa watashi wo/'majo' to yonda"
	%}
	{% include verse.html
		lyrics="花咲く悪の道|駆け抜けた/赤い鮮血を浴びて/背徳の愛に逃げ込んだ咎人"
		romaji="hana saku aku no michi|kakenuketa/akai senketsu wo abite/haitoku no ai ni nigekonda togabito"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいない」/血まみれで泣き叫ぶ女/それを見下ろす私に突如/巻きつけられた鎖"
		romaji="&quot;kodomatachi ga dokonimo inai&quot;/chimamire de nakisakebu onna/sore wo miorosu watashi ni totsujo/maki tsukerareta kusari"
	%}
	{% include verse.html
		lyrics="罪はいつか裁かれるもの/牢獄は無機質で暗く/処刑椅子の前に立った/彼に似ている科学者"
		romaji="tsumi wa itsuka sabakareru mono/rougoku wa mukishitsu de kuraku/shokei isu no mae ni tatta/kare ni niteiru kagakusha"
	%}
	{% include verse.html
		lyrics="ここから出たい私/実験台が欲しい科学者/今|二人の利害が重なった"
		romaji="koko kara detai watashi/jikkendai ga hoshii kagakusha/ima|futari no rigai ga kasanatta"
	%}
	{% include verse.html
		lyrics="冷たい石の道|駆け抜けた/白い囚人服を脱いで/向かうその先には研究所"
		romaji="tsumetai ishi no michi|kakenuketa/shiroi shuujin fuku wo nuide/mukau sono saki ni wa kenkyuujo"
	%}
	{% include verse.html
		lyrics="埋め込まれた神の種が/私の中で鼓動をたてた/産み落とした可愛い双子/父のいない実験体"
		romaji="umekomareta kami no tane ga/watashi no naka de kodou wo tateta/umitoshita kawaii futago/chichi no inai jikkendai"
	%}
	{% include verse.html
		lyrics="思い出した|思い出した/私もかつてこんなふうに/ビーカーの中で作り出された/人造体（ghoul child）だったことを"
		romaji="omoidashita|omoidashita/watashi mo katsute konna fuu ni/BIIKAA no naka de tsukuridasareta/ghoul child datta koto wo"
	%}
	{% include verse.html
		lyrics="管に繋がれた我が子たち/身勝手なのはわかってる/この子たちを玩具にはさせやしない！"
		romaji="biika ni tsunagareta waga kotachi/migatte na no wa wakatteru/kono kotachi wo omocha ni wa saseyashinai!"
	%}
	{% include verse.html
		lyrics="逃げてばかりの人生でした/私が得られなかった/ひとかけらの愛を/せめてこの子たちには"
		romaji="nigete bakari no jinsei deshita/watashi ga erarenakatta/hito kakera no ai wo/semete kono kotachi ni wa"
	%}
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/愛する二人の赤子/胸に抱いて|夜を走る|逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/aisuru futari no akago/mini ni daite|yoru wo hashiru|toubousha"
	%}
	{% include verse.html
		lyrics="隣の国|隠れ暮らす/人目は避けなきゃいけないの/月夜の中|出かけるのは/子供たちと私が/お気に入りのエルドの森/楽しい散歩になるはずなのに/ほんの少し目を離したすきに"
		romaji="tonari no kuni|kakure kurasu/hitome wa sakenakya ikenai no/tsukiyo no naka|dekakeru no wa/kodomotachi to watashi ga/okiniiri no ERUDO no mori/tanoshii sanpo ni naru hazu na no ni/honno sukoshi me wo hanashita suki ni"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいないの」"
		romaji="&quot;kodomotachi ga dokonimo inai no&quot;"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-act-1.html %}"><em>Original Sin Story ―Act 1―</em></a></h3>
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/赤い二つの果実/胸に抱いて|夜を走る逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/akai futatsu no kajitsu/mune ni daite|yoru wo hashiru toubousha"
	%}
	{% include verse.html
		lyrics="父も知らず|母も知らず/一人ぼっちで育ってきた/二十歳の時|愛したのは/人殺しの犯罪者"
		romaji="chichi mo shirazu|haha mo shirazu/hitori bocchi de sodatte kita/hatachi no toki|aishita no wa/hitogoroshi no hanzaisha"
	%}
	{% include verse.html
		lyrics="悪に惹かれたならば/自らも染まっていく/そして人は私を『魔女』と呼んだ"
		romaji="aku ni hikareta naraba/mizukara mo somatte iku/soshite hito wa watashi wo 'majo' to yonda"
	%}
	{% include verse.html
		lyrics="花咲く悪の道|駆け抜けた/赤い鮮血を浴びて/背徳の愛に逃げ込んだ咎人"
		romaji="hana saku aku no michi|kakenuketa/akai senketsu wo abite/haitoku no ai ni nigekonda togabito"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいない」/血まみれで泣き叫ぶ女/それを見下ろす私に突如/巻きつけられた鎖"
		romaji="&quot;kodomatachi ga dokonimo inai&quot;/chimamire de nakisakebu onna/sore wo miorosu watashi ni totsujo/maki tsukerareta kusari"
	%}
	{% include verse.html
		lyrics="罪はいつか裁かれるもの/牢獄は無機質で暗く/処刑椅子の前に立った/彼に似ている科学者"
		romaji="tsumi wa itsuka sabakareru mono/rougoku wa mukishitsu de kuraku/shokei isu no mae ni tatta/kare ni niteiru kagakusha"
	%}
	{% include verse.html
		lyrics="ここから出たい私/実験台が欲しい科学者/今|二人の利害が重なった"
		romaji="koko kara detai watashi/jikkendai ga hoshii kagakusha/ima|futari no rigai ga kasanatta"
	%}
	{% include verse.html
		lyrics="冷たい石の道|駆け抜けた/白い囚人服を脱いで/向かうその先には研究所"
		romaji="tsumetai ishi no michi|kakenuketa/shiroi shuujin fuku wo nuide/mukau sono saki ni wa kenkyuujo"
	%}
	{% include verse.html
		lyrics="埋め込まれた神の種が/私の中で鼓動をたてた/産み落とした可愛い双子/父のいない実験体"
		romaji="umekomareta kami no tane ga/watashi no naka de kodou wo tateta/umitoshita kawaii futago/chichi no inai jikkendai"
	%}
	{% include verse.html
		lyrics="思い出した|思い出した/私もかつてこんなふうに/ビーカーの中で作り出された/人造体（ghoul child）だったことを"
		romaji="omoidashita|omoidashita/watashi mo katsute konna fuu ni/BIIKAA no naka de tsukuridasareta/ghoul child datta koto wo"
	%}
	{% include verse.html
		lyrics="管に繋がれた我が子たち/身勝手なのはわかってる/この子たちを玩具にはさせやしない！"
		romaji="biika ni tsunagareta waga kotachi/migatte na no wa wakatteru/kono kotachi wo omocha ni wa saseyashinai!"
	%}
	{% include verse.html
		lyrics="逃げてばかりの人生でした/私が得られなかった/ひとかけらの愛を/せめてこの子たちには"
		romaji="nigete bakari no jinsei deshita/watashi ga erarenakatta/hito kakera no ai wo/semete kono kotachi ni wa"
	%}
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/愛する二人の赤子/胸に抱いて|夜を走る逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/aisuru futari no akago/mini ni daite|yoru wo hashiru toubousha"
	%}
	{% include verse.html
		lyrics="隣の国|隠れ暮らす/人目は避けなきゃいけないの/月夜の中|出かけるのは/子供たちと私が|お気に入りのエルドの森/楽しい散歩になるはずなのに/ほんの少し目を離したすきに"
		romaji="tonari no kuni|kakure kurasu/hitome wa sakenakya ikenai no/tsukiyo no naka|dekakeru no wa/kodomotachi to watashi ga|okiniiri no ERUDO no mori/tanoshii sanpo ni naru hazu na no ni/honno sukoshi me wo hanashita suki ni"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいないの」"
		romaji="&quot;kodomotachi ga dokonimo inai no&quot;"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/赤い二つの果実/胸に抱いて|夜を走る逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/akai futatsu no kajitsu/mune ni daite|yoru wo hashiru toubousha"
	%}
	{% include verse.html
		lyrics="父も知らず|母も知らず|一人ぼっちで育ってきた/二十歳の時|愛したのは|人殺しの犯罪者"
		romaji="chichi mo shirazu|haha mo shirazu|hitori bocchi de sodatte kita/hatachi no toki|aishita no wa|hitogoroshi no hanzaisha"
	%}
	{% include verse.html
		lyrics="悪に惹かれたならば/自らも染まっていく/そして人は私を『魔女』と呼んだ"
		romaji="aku ni hikareta naraba/mizukara mo somatte iku/soshite hito wa watashi wo 'majo' to yonda"
	%}
	{% include verse.html
		lyrics="花咲く悪の道|駆け抜けた/赤い鮮血を浴びて/背徳の愛に逃げ込んだ咎人"
		romaji="hana saku aku no michi|kakenuketa/akai senketsu wo abite/haitoku no ai ni nigekonda togabito"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいない」|血まみれで泣き叫ぶ女/それを見下ろす私に突如|巻きつけられた鎖"
		romaji="&quot;kodomatachi ga dokonimo inai&quot;|chimamire de nakisakebu onna/sore wo miorosu watashi ni totsujo|maki tsukerareta kusari"
	%}
	{% include verse.html
		lyrics="罪はいつか裁かれるもの|牢獄は無機質で暗く/処刑椅子の前に立った|彼に似ている科学者"
		romaji="tsumi wa itsuka sabakareru mono|rougoku wa mukishitsu de kuraku/shokei isu no mae ni tatta|kare ni niteiru kagakusha"
	%}
	{% include verse.html
		lyrics="ここから出たい私/実験台が欲しい科学者/今|二人の利害が重なった"
		romaji="koko kara detai watashi/jikkendai ga hoshii kagakusha/ima|futari no rigai ga kasanatta"
	%}
	{% include verse.html
		lyrics="冷たい石の道|駆け抜けた/白い囚人服を脱いで/向かうその先には研究所"
		romaji="tsumetai ishi no michi|kakenuketa/shiroi shuujin fuku wo nuide/mukau sono saki ni wa kenkyuujo"
	%}
	{% include verse.html
		lyrics="埋め込まれた神の種が|私の中で鼓動をたてた/産み落とした可愛い双子|父のいない実験体"
		romaji="umekomareta kami no tane ga|watashi no naka de kodou wo tateta/umitoshita kawaii futago|chichi no inai jikkendai"
	%}
	{% include verse.html
		lyrics="思い出した|思い出した/私もかつてこんなふうに/ビーカーの中で作り出された/人造体（ghoul child）だったことを"
		romaji="omoidashita|omoidashita/watashi mo katsute konna fuu ni/BIIKAA no naka de tsukuridasareta/ghoul child datta koto wo"
	%}
	{% include verse.html
		lyrics="管に繋がれた我が子たち/身勝手なのはわかってる/この子たちを玩具にはさせやしない！"
		romaji="biika ni tsunagareta waga kotachi/migatte na no wa wakatteru/kono kotachi wo omocha ni wa saseyashinai!"
	%}
	{% include verse.html
		lyrics="逃げてばかりの人生でした/私が得られなかった/ひとかけらの愛を/せめてこの子たちには"
		romaji="nigete bakari no jinsei deshita/watashi ga erarenakatta/hito kakera no ai wo/semete kono kotachi ni wa"
	%}
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/愛する二人の赤子/胸に抱いて|夜を走る逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/aisuru futari no akago/mini ni daite|yoru wo hashiru toubousha"
	%}
	{% include verse.html
		lyrics="隣の国|隠れ暮らす/人目は避けなきゃいけないの/月夜の中|出かけるのは/子供たちと私が|お気に入りのエルドの森/楽しい散歩になるはずなのに/ほんの少し目を離したすきに"
		romaji="tonari no kuni|kakure kurasu/hitome wa sakenakya ikenai no/tsukiyo no naka|dekakeru no wa/kodomotachi to watashi ga|okiniiri no ERUDO no mori/tanoshii sanpo ni naru hazu na no ni/honno sukoshi me wo hanashita suki ni"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいないの」"
		romaji="&quot;kodomotachi ga dokonimo inai no&quot;"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/赤い二つの果実/胸に抱いて|夜を走る逃亡者"
		romaji="hana chiru mori no michi|kakenuketa/akai futatsu no kajitsu/mune ni daite|yoru wo hashiru toubousha"
	%}
	{% include verse.html
		lyrics="父も知らず|母も知らず/一人ぼっちで育ってきた/二十歳の時|愛したのは/人殺しの犯罪者"
		romaji="chichi mo shirazu|haha mo shirazu/hitori bocchi de sodatte kita/hatachi no toki|aishita no wa/hitogoroshi no hanzaisha"
	%}
	{% include verse.html
		lyrics="悪に惹かれたならば/自らも染まっていく/そして人は私を『魔女』と呼んだ"
		romaji="aku ni hikareta naraba/mizukara mo somatte iku/soshite hito wa watashi wo 'majo' to yonda"
	%}
	{% include verse.html
		lyrics="花咲く悪の道|駆け抜けた/赤い鮮血を浴びて/背徳の愛に逃げ込んだ咎人"
		romaji="hana saku aku no michi|kakenuketa/akai senketsu wo abite/haitoku no ai ni nigekonda togabito"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいない」/血まみれで泣き叫ぶ女/それを見下ろす私に突如/巻きつけられた鎖"
		romaji="&quot;kodomatachi ga dokonimo inai&quot;/chimamire de nakisakebu onna/sore wo miorosu watashi ni totsujo/maki tsukerareta kusari"
	%}
	{% include verse.html
		lyrics="罪はいつか裁かれるもの/牢獄は無機質で暗く/処刑椅子の前に立った/彼に似ている科学者"
		romaji="tsumi wa itsuka sabakareru mono/rougoku wa mukishitsu de kuraku/shokei isu no mae ni tatta/kare ni niteiru kagakusha"
	%}
	{% include verse.html
		lyrics="ここから出たい私/実験台が欲しい科学者/今|二人の利害が重なった"
		romaji="koko kara detai watashi/jikkendai ga hoshii kagakusha/ima|futari no rigai ga kasanatta"
	%}
	{% include verse.html
		lyrics="冷たい石の道|駆け抜けた/白い囚人服を脱いで/向かうその先には研究所"
		romaji="tsumetai ishi no michi|kakenuketa/shiroi shuujin fuku wo nuide/mukau sono saki ni wa kenkyuujo"
	%}
	{% include verse.html
		lyrics="埋め込まれた神の種が/私の中で鼓動をたてた/産み落とした可愛い双子/父のいない実験体"
		romaji="umekomareta kami no tane ga/watashi no naka de kodou wo tateta/umitoshita kawaii futago/chichi no inai jikkendai"
	%}
	{% include verse.html
		lyrics="思い出した|思い出した/私もかつてこんなふうに/ビーカーの中で作り出された/人造体（ghoul child）だったことを"
		romaji="omoidashita|omoidashita/watashi mo katsute konna fuu ni/BIIKAA no naka de tsukuridasareta/ghoul child datta koto wo"
	%}
	{% include verse.html
		lyrics="管に繋がれた我が子たち/身勝手なのはわかってる/この子たちを玩具にはさせやしない！"
		romaji="biika ni tsunagareta waga kotachi/migatte na no wa wakatteru/kono kotachi wo omocha ni wa saseyashinai!"
	%}
	{% include verse.html
		lyrics="逃げてばかりの人生でした/私が得られなかった/ひとかけらの愛を/せめてこの子たちには"
		romaji="nigete bakari no jinsei deshita/watashi ga erarenakatta/hito kakera no ai wo/semete kono kotachi ni wa"
	%}
	{% include verse.html
		lyrics="花散る森の道|駆け抜けた/愛する二人の赤子/胸に抱いて|夜を走る母親"
		romaji="hana chiru mori no michi|kakenuketa/aisuru futari no akago/mini ni daite|yoru wo hashiru hahaoya"
	%}
	{% include verse.html
		lyrics="隣の国|隠れ暮らす/人目は避けなきゃいけないの/月夜の中|出かけるのは/子供たちと私が|お気に入りのエルドの森/楽しい散歩になるはずなのに/ほんの少し目を離したすきに"
		romaji="tonari no kuni|kakure kurasu/hitome wa sakenakya ikenai no/tsukiyo no naka|dekakeru no wa/kodomotachi to watashi ga|okiniiri no ERUDO no mori/tanoshii sanpo ni naru hazu na no ni/honno sukoshi me wo hanashita suki ni"
	%}
	{% include verse.html
		lyrics="「子供たちがどこにもいないの」"
		romaji="&quot;kodomotachi ga dokonimo inai no&quot;"
	%}
</div>