---
english-name: Evil Food Eater Conchita
translation: https://pricechecktranslations.tumblr.com/post/108015476810
mothyrights: <em>The Evillious Chronicles</em>|<em>Evil Food Eater Conchita</em>
---
<div>
	<h3>PV &middot; Revised PV</h3>
	{% include verse.html
		lyrics="腐臭漂う背徳の館/今日もはじまる最後の晩餐/身の毛もよだつ料理の数々/ひとり食い漁る女の笑顔"
		romaji="fushuu tadayou haitoku no yakata/kyou mo hajimaru saigo no bansan/mi no ke mo yodatsu ryouri no kazukazu/hitori kuiasaru onna no egao"
	%}
	{% include verse.html
		lyrics="彼女の名前はバニカ・コンチータ/かつてこの世の美食を極めた/その果てに彼女が求めたのは/究極にして至高の悪食"
		romaji="kanojo no namae wa BANIKA KONCHIITA/katsute kono yo no bishoku wo kiwameta/sono hate ni kanojo ga motometa no wa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="敬い称えよ/われらが偉大なコンチータ/この世界の食物は/全てがあなたの為にある"
		romaji="uyamaitatae yo/warera ga idaina KONCHIITA/kono sekai no shokumotsu wa/subete ga anata no tame ni aru"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/胃袋にはまだまだ空きがある/青白く輝く猛毒/メインディッシュのスパイスに最適&#9829;"
		romaji="kuraitsukuse kono yo no subete/ibukuro ni wa madamada aki ga aru/aoijiroku kagayaku moudoku/MEIN DISSHU no SUPAISU ni saiteki"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ皿にもかぶりつけ/舌先を駆け巡る至福/晩餐はまだまだ終わらない"
		romaji="hone no zui made shaburitsukuse/tarinakereba sara ni mo kaburitsuke/shitasaki wo kakemeguru shifuku/bansan wa madamada owaranai"
	%}
	{% include verse.html
		lyrics="今年に入って15人目の/お抱えコックがこう言ってきた/「そろそろお暇を貰えませんか？」/まったく使えぬ奴らばかりね"
		romaji="kotoshi ni haitte juugoninme no/okakae KOKKU kou ittekita/&quot;sorosoro ohima wo moraemasen ka?&quot;/mattaku tsukaenu yatsura bakari ne"
	%}
	{% include verse.html
		lyrics="敬い称えよ/われらが偉大なコンチータ/裏切り者には/報いを受けていただきましょう"
		romaji="uyamaitatae yo/warera ga idaina KONCHIITA/uragirimono ni wa/mukui wo ukete itadakimashou"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/今日のメニューは特別製なの/青白く輝く毛髪/オードブルのサラダに丁度いい&#9829;"
		romaji="kuraitsukuse kono yo no subete/kyou no MENYUU wa tokubetsuseina no/aoijiroku kagayaku mouhatsu/OODOBURU no SARADA ni choudo ii"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ「おかわり」すればいい/ちょっとそこの召使さん/あなたはどんな味がするかしら？"
		romaji="hone no zui made shaburitsukuse/tarinakereba &quot;okawari&quot; sureba ii/chotto soko no meshitsukai-san/anata wa donna aji ga suru kashira?"
	%}
	{% include verse.html
		lyrics="いつしか館はもぬけのからに/何にもないし|誰ももういない/それでも彼女は求め続けた/究極にして至高の悪食"
		romaji="itsushika yakata wa monuke no kara ni/nani ni mo nai shi|dare mo mou inai/soredemo kanojo wa motometsudzuketa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/彼女は自らの右手を見て/そして静かにほほ笑んだ/「マダ|タベルモノ|アルジャナイ」"
		romaji="kuraitsukuse kono yo no subete/kanojo wa mizukara no migite wo mite/soshite shizuka ni hohoenda/&quot;MADA|TABERUMONO|ARU JA NAI&quot;"
	%}
	{% include verse.html
		lyrics="コンチータの最後の悪食/食材はそう|彼女自身/食を極めたその身体の/味を知るものはすでにいない"
		romaji="KONCHIITA no saigo no akujiki/shokuzai wa sou|kanojo jishin/shoku wo kiwameta sono karada no/aji wo shiru mono wa sudeni inai"
	%}
</div>

<div>
	<h3>piapro &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	{% include verse.html
		lyrics="腐臭漂う背徳の館/今日もはじまる最後の晩餐/身の毛もよだつ料理の数々/ひとり食い漁る女の笑顔"
		romaji="fushuu tadayou haitoku no yakata/kyou mo hajimaru saigo no bansan/mi no ke mo yodatsu ryouri no kazukazu/hitori kuiasaru onna no egao"
	%}
	{% include verse.html
		lyrics="彼女の名前はバニカ・コンチータ/かつてこの世の美食を極めた/その果てに彼女が求めたのは/究極にして至高の悪食"
		romaji="kanojo no namae wa BANIKA KONCHIITA/katsute kono yo no bishoku wo kiwameta/sono hate ni kanojo ga motometa no wa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="（敬い称えよ/|われらが偉大なコンチータ/|この世界の食物は/|全てがあなたの為にある）"
		romaji="(uyamaitatae yo/|warera ga idaina KONCHIITA/|kono sekai no shokumotsu wa/|subete ga anata no tame ni aru)"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/胃袋にはまだまだ空きがある/青白く輝く猛毒/メインディッシュのスパイスに最適&#9829;"
		romaji="kuraitsukuse kono yo no subete/ibukuro ni wa madamada aki ga aru/aoijiroku kagayaku moudoku/MEIN DISSHU no SUPAISU ni saiteki"
	%}
	{% include verse.html class="versebreak"
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ皿にもかぶりつけ/舌先を駆け巡る至福/晩餐はまだまだ終わらない"
		romaji="hone no zui made shaburitsukuse/tarinakereba sara ni mo kaburitsuke/shitasaki wo kakemeguru shifuku/bansan wa madamada owaranai"
	%}
	{% include verse.html
		lyrics="今年に入って15人目の/お抱えコックがこう言ってきた/「そろそろお暇を貰えませんか？」/まったく使えぬ奴らばかりね"
		romaji="kotoshi ni haitte juugoninme no/okakae KOKKU kou ittekita/&quot;sorosoro ohima wo moraemasen ka?&quot;/mattaku tsukaenu yatsura bakari ne"
	%}
	{% include verse.html
		lyrics="（敬い称えよ/|われらが偉大なコンチータ/|裏切り者には/|報いを受けていただきましょう）"
		romaji="(uyamaitatae yo/|warera ga idaina KONCHIITA/|uragirimono ni wa/|mukui wo ukete itadakimashou)"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/今日のメニューは特別製なの/青白く輝く毛髪/オードブルのサラダに丁度いい&#9829;"
		romaji="kuraitsukuse kono yo no subete/kyou no MENYUU wa tokubetsuseina no/aoijiroku kagayaku mouhatsu/OODOBURU no SARADA ni choudo ii"
	%}
	{% include verse.html class="versebreak"
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ「おかわり」すればいい/ちょっとそこの召使さん/あなたはどんな味がするかしら？"
		romaji="hone no zui made shaburitsukuse/tarinakereba &quot;okawari&quot; sureba ii/chotto soko no meshitsukai-san/anata wa donna aji ga suru kashira?"
	%}
	{% include verse.html class="versebreak"
		lyrics="いつしか館はもぬけのからに/何にもないし|誰ももういない/それでも彼女は求め続けた/究極にして至高の悪食"
		romaji="itsushika yakata wa monuke no kara ni/nani ni mo nai shi|dare mo mou inai/soredemo kanojo wa motometsudzuketa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/彼女は自らの右手を見て/そして静かにほほ笑んだ"
		romaji="kuraitsukuse kono yo no subete/kanojo wa mizukara no migite wo mite/soshite shizuka ni hohoenda"
	%}
	{% include verse.html
		lyrics="「マダ|タベルモノ|アルジャナイ」"
		romaji="&quot;MADA|TABERUMONO|ARU JA NAI&quot;"
	%}
	{% include verse.html
		lyrics="コンチータの最後の悪食/食材はそう|彼女自身/食を極めたその身体の/味を知るものはすでにいない"
		romaji="KONCHIITA no saigo no akujiki/shokuzai wa sou|kanojo jishin/shoku wo kiwameta sono karada no/aji wo shiru mono wa sudeni inai"
	%}
</div>

<div>
	<h3><a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a></h3>
	{% include verse.html
		lyrics="腐臭漂う背徳の館/今日もはじまる最後の晩餐/身の毛もよだつ料理の数々/ひとり食い漁る女の笑顔"
		romaji="fushuu tadayou haitoku no yakata/kyou mo hajimaru saigo no bansan/mi no ke mo yodatsu ryouri no kazukazu/hitori kuiasaru onna no egao"
	%}
	{% include verse.html
		lyrics="彼女の名前はバニカ・コンチータ/かつてこの世の美食を極めた/その果てに彼女が求めたのは/究極にして至高の悪食"
		romaji="kanojo no namae wa BANIKA KONCHIITA/katsute kono yo no bishoku wo kiwameta/sono hate ni kanojo ga motometa no wa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="（敬い称えよ/|われらが偉大なコンチータ/|この世界の食物は/|全てがあなたの為にある）"
		romaji="(uyamaitatae yo/|warera ga idaina KONCHIITA/|kono sekai no shokumotsu wa/|subete ga anata no tame ni aru)"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/胃袋にはまだまだ空きがある/青白く輝く猛毒/メインディッシュのスパイスに最適&#9829;"
		romaji="kuraitsukuse kono yo no subete/ibukuro ni wa madamada aki ga aru/aoijiroku kagayaku moudoku/MEIN DISSHU no SUPAISU ni saiteki"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ皿にもかぶりつけ/舌先を駆け巡る至福/晩餐はまだまだ終わらない"
		romaji="hone no zui made shaburitsukuse/tarinakereba sara ni mo kaburitsuke/shitasaki wo kakemeguru shifuku/bansan wa madamada owaranai"
	%}
	{% include verse.html
		lyrics="今年に入って15人目の/お抱えコックがこう言ってきた/「そろそろお暇を貰えませんか？」/まったく使えぬ奴らばかりね"
		romaji="kotoshi ni haitte juugoninme no/okakae KOKKU kou ittekita/&quot;sorosoro ohima wo moraemasen ka?&quot;/mattaku tsukaenu yatsura bakari ne"
	%}
	{% include verse.html
		lyrics="（敬い称えよ/|われらが偉大なコンチータ/|裏切り者には/|報いを受けていただきましょう）"
		romaji="(uyamaitatae yo/|warera ga idaina KONCHIITA/|uragirimono ni wa/|mukui wo ukete itadakimashou)"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/今日のメニューは特別製なの/青白く輝く毛髪/オードブルのサラダに丁度いい&#9829;"
		romaji="kuraitsukuse kono yo no subete/kyou no MENYUU wa tokubetsuseina no/aoijiroku kagayaku mouhatsu/OODOBURU no SARADA ni choudo ii"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ「おかわり」すればいい/ちょっとそこの召使さん/あなたはどんな味がするかしら？"
		romaji="hone no zui made shaburitsukuse/tarinakereba &quot;okawari&quot; sureba ii/chotto soko no meshitsukai-san/anata wa donna aji ga suru kashira?"
	%}
	{% include verse.html
		lyrics="いつしか館はもぬけのからに/何にもないし|誰ももういない/それでも彼女は求め続けた/究極にして至高の悪食"
		romaji="itsushika yakata wa monuke no kara ni/nani ni mo nai shi|dare mo mou inai/soredemo kanojo wa motometsudzuketa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/彼女は自らの右手を見て/そして静かにほほ笑んだ"
		romaji="kuraitsukuse kono yo no subete/kanojo wa mizukara no migite wo mite/soshite shizuka ni hohoenda"
	%}
	{% include verse.html
		lyrics="「マダ|タベルモノ|アルジャナイ」"
		romaji="&quot;MADA|TABERUMONO|ARU JA NAI&quot;"
	%}
	{% include verse.html
		lyrics="コンチータの最後の悪食/食材はそう|彼女自身/食を極めたその身体の/味を知るものはすでにいない"
		romaji="KONCHIITA no saigo no akujiki/shokuzai wa sou|kanojo jishin/shoku wo kiwameta sono karada no/aji wo shiru mono wa sudeni inai"
	%}
</div>

<div>
	<h3>PV <small>(2020)</small></h3>
	{% include verse.html
		lyrics="「さあ、残さず食べなさい」"
		romaji="&quot;saa, nokosazu tabenasai&quot;"
	%}
	{% include verse.html
		lyrics="腐臭漂う背徳の館/今日もはじまる最後の晩餐/身の毛もよだつ料理の数々/ひとり食い漁る女の笑顔"
		romaji="fushuu tadayou haitoku no yakata/kyou mo hajimaru saigo no bansan/mi no ke mo yodatsu ryouri no kazukazu/hitori kuiasaru onna no egao"
	%}
	{% include verse.html
		lyrics="彼女の名前はバニカ＝コンチータ/かつてこの世の美食を極めた/その果てに彼女が求めたのは/究極にして至高の悪食"
		romaji="kanojo no namae wa BANIKA KONCHIITA/katsute kono yo no bishoku wo kiwameta/sono hate ni kanojo ga motometa no wa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="敬い称えよ/われらが偉大なコンチータ/この世界の食物は/全てがあなたの為にある"
		romaji="uyamaitatae yo/warera ga idaina KONCHIITA/kono sekai no shokumotsu wa/subete ga anata no tame ni aru"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/胃袋にはまだまだ空きがある/青白く輝く猛毒/メインディッシュのスパイスに最適&#9829;"
		romaji="kuraitsukuse kono yo no subete/ibukuro ni wa madamada aki ga aru/aoijiroku kagayaku moudoku/MEIN DISSHU no SUPAISU ni saiteki"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ皿にもかぶりつけ/舌先を駆け巡る至福/晩餐はまだまだ終わらない"
		romaji="hone no zui made shaburitsukuse/tarinakereba sara ni mo kaburitsuke/shitasaki wo kakemeguru shifuku/bansan wa madamada owaranai"
	%}
	{% include verse.html
		lyrics="今年に入って15人目の/お抱えコックがこう言ってきた/「そろそろお暇を貰えませんか？」/まったく使えぬ奴らばかりね"
		romaji="kotoshi ni haitte juugoninme no/okakae KOKKU kou ittekita/&quot;sorosoro ohima wo moraemasen ka?&quot;/mattaku tsukaenu yatsura bakari ne"
	%}
	{% include verse.html
		lyrics="敬い称えよ/われらが偉大なコンチータ/裏切り者には/報いを受けていただきましょう"
		romaji="uyamaitatae yo/warera ga idaina KONCHIITA/uragirimono ni wa/mukui wo ukete itadakimashou"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/今日のメニューは特別製なの/青白く輝く毛髪/オードブルのサラダに丁度いい&#9829;"
		romaji="kuraitsukuse kono yo no subete/kyou no MENYUU wa tokubetsuseina no/aoijiroku kagayaku mouhatsu/OODOBURU no SARADA ni choudo ii"
	%}
	{% include verse.html
		lyrics="骨の髄までしゃぶり尽くせ/足りなければ「おかわり」すればいい/ちょっとそこの召使さん/あなたはどんな味がするかしら？"
		romaji="hone no zui made shaburitsukuse/tarinakereba &quot;okawari&quot; sureba ii/chotto soko no meshitsukai-san/anata wa donna aji ga suru kashira?"
	%}
	{% include verse.html
		lyrics="いつしか館はもぬけのからに/何にもないし|誰ももういない/それでも彼女は求め続けた/究極にして至高の悪食"
		romaji="itsushika yakata wa monuke no kara ni/nani ni mo nai shi|dare mo mou inai/soredemo kanojo wa motometsudzuketa/kyuukyoku ni shite shikou no akujiki"
	%}
	{% include verse.html
		lyrics="食らい尽せこの世のすべて/彼女は自らの右手を見て/そして静かにほほ笑んだ/「マダ|タベルモノ|アルジャナイ」"
		romaji="kuraitsukuse kono yo no subete/kanojo wa mizukara no migite wo mite/soshite shizuka ni hohoenda/&quot;MADA|TABERUMONO|ARU JA NAI&quot;"
	%}
	{% include verse.html
		lyrics="コンチータの最後の悪食/食材はそう|彼女自身/食を極めたその身体の/味を知るものはすでにいない"
		romaji="KONCHIITA no saigo no akujiki/shokuzai wa sou|kanojo jishin/shoku wo kiwameta sono karada no/aji wo shiru mono wa sudeni inai"
	%}
</div>