---
english-name: Fictional Masquerade
translation: https://pricechecktranslations.tumblr.com/post/184218804085
mothyrights: <em>The Evillious Chronicles</em>|<em>Fictional Masquerade</em>
---
<div>
	<h3><em>Engage Princess</em> &middot; PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="さあ共に踊り始めましょう/不器用なダンスを"
			romaji="saa tomo ni odorihajimemashou/bukiyouna DANSU wo"
		%}
		{% include verse.html
			lyrics="月の下|客人が集う/濡れた羊皮紙の招待状/与えられた仮面には/道化師の烙印"
			romaji="tsuki no moto|kyakujin ga tsudou/nureta youhishi no shoutaijou/ataerareta kamen ni wa/doukeshi no rakuin"
		%}
		{% include verse.html
			lyrics="幻想の中|誰とペアを組む？/魂紡ぐ|偽りの曲"
			romaji="gensou no naka|dare to PEA wo kumu?/tamashii tsumugu|itsuwari no kyoku"
		%}
		{% include verse.html
			lyrics="今はこの手の中|踊り続けるがいい/禁断の果実|それは機械仕掛けの罠"
			romaji="ima wa kono te no naka|odoritsudzukeru ga ii/kindan no kajitsu|sore wa kikaijikake no wana"
		%}
		{% include verse.html
			lyrics="虚構の戦いの果てに/貴方は何を見るのだろう？"
			romaji="kyokou no tatakai no hate ni/anata wa nani wo miru no darou?"
		%}
		{% include verse.html
			lyrics="蒼く染まる舞台の上/赤く色付く血のステップ/俗悪なる欲望を/切り裂く剣の舞"
			romaji="aoku somaru butai no ue/akaku irodzuku chi no SUTEPPU/zokuaku naru yokubou wo/kirisaku tsurugi no mai"
		%}
		{% include verse.html
			lyrics="動けぬほどに踊り疲れたら/跪けばいい/神の御前で"
			romaji="ugokenu hodo ni odoritsukaretara/hizamazukeba ii/kami no gozen de"
		%}
		{% include verse.html
			lyrics="誰も笑いはしない|愚かな貴方の挫折を/私は貴方の|震える肩を抱きしめて"
			romaji="dare mo warai wa shinai|orokana anata no zasetsu wo/watashi wa anata no|furueru kata wo dakishimete"
		%}
		{% include verse.html
			lyrics="刃をその左胸に/深く突き刺すだけだから"
			romaji="yaiba wo sono hidarimune ni/fukaku tsukisasu dake dakara"
		%}
		{% include verse.html
			lyrics="曲が終わる時|ホールに立つのは/誰か一人だけ|例外は無い"
			romaji="kyoku ga owaru toki|HOORU ni tatsu no wa/dareka hitori dake|regai wa nai"
		%}
		{% include verse.html
			lyrics="誰もが身につける|虚飾と言う名の仮面/素顔見せぬまま|時計の音に合わせて"
			romaji="dare mo ga mi ni tsukeru|kyoshoku to iu na no kamen/sugao misenu mama|tokei no oto ni awasete"
		%}
		{% include verse.html
			lyrics="さあ共に踊り続けましょう/不器用なダンスを"
			romaji="saa tomo ni odoritsudzukemashou/bukiyouna DANSU wo"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="さあ共に踊り始めましょう/不器用なダンスを"
			romaji="saa tomo ni odorihajimemashou/bukiyouna DANSU wo"
		%}
		{% include verse.html
			lyrics="月の下|客人が集う/濡れた羊皮紙の招待状/与えられた仮面には/道化師の烙印"
			romaji="tsuki no moto|kyakujin ga tsudou/nureta youhishi no shoutaijou/ataerareta kamen ni wa/doukeshi no rakuin"
		%}
		{% include verse.html
			lyrics="幻想の中|誰とペアを組む？/魂紡ぐ/偽りの曲"
			romaji="gensou no naka|dare to PEA wo kumu?/tamashii tsumugu/itsuwari no kyoku"
		%}
		{% include verse.html
			lyrics="今はこの手の中/踊り続けるがいい/禁断の果実/それは機械仕掛けの罠"
			romaji="ima wa kono te no naka/odoritsudzukeru ga ii/kindan no kajitsu/sore wa kikaijikake no wana"
		%}
		{% include verse.html
			lyrics="虚構の戦いの果てに/貴方は何を見るのだろう？"
			romaji="kyokou no tatakai no hate ni/anata wa nani wo miru no darou?"
		%}
		{% include verse.html
			lyrics="蒼く染まる舞台の上/赤く色付く血のステップ/俗悪なる欲望を/切り裂く剣の舞"
			romaji="aoku somaru butai no ue/akaku irodzuku chi no SUTEPPU/zokuaku naru yokubou wo/kirisaku tsurugi no mai"
		%}
		{% include verse.html
			lyrics="動けぬほどに踊り疲れたら/跪けばいい/神の御前で"
			romaji="ugokenu hodo ni odoritsukaretara/hizamazukeba ii/kami no gozen de"
		%}
		{% include verse.html
			lyrics="誰も笑いはしない/愚かな貴方の挫折を/私は貴方の/震える肩を抱きしめて"
			romaji="dare mo warai wa shinai/orokana anata no zasetsu wo/watashi wa anata no/furueru kata wo dakishimete"
		%}
		{% include verse.html
			lyrics="刃をその左胸に/深く突き刺すだけだから"
			romaji="yaiba wo sono hidarimune ni/fukaku tsukisasu dake dakara"
		%}
		{% include verse.html
			lyrics="曲が終わる時/ホールに立つのは/誰か一人だけ/例外は無い"
			romaji="kyoku ga owaru toki/HOORU ni tatsu no wa/dareka hitori dake/regai wa nai"
		%}
		{% include verse.html
			lyrics="誰もが身につける/虚飾と言う名の仮面/素顔見せぬまま/時計の音に合わせて"
			romaji="dare mo ga mi ni tsukeru/kyoshoku to iu na no kamen/sugao misenu mama/tokei no oto ni awasete"
		%}
		{% include verse.html
			lyrics="さあ共に踊り続けましょう/不器用なダンスを"
			romaji="saa tomo ni odoritsudzukemashou/bukiyouna DANSU wo"
		%}
	</div>
</div>