---
english-name: Fifth Pierrot
translation: https://pricechecktranslations.tumblr.com/post/104339620025
mothyrights: <em>The Evillious Chronicles</em>|<em>Fifth Pierrot</em>
---
<div>
	<h3>PV &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="午前二時|暗闇の街/今宵の犠牲者は誰？/悪い子にはお仕置き/それがピエロの仕事"
			romaji="gozen ni-ji|kurayami no machi/koyoi no giseisha wa dare?/warui ko ni wa oshioki/sore ga PIERO no shigoto"
		%}
		{% include verse.html
			lyrics="サンタさんから学んだ事/世界は間違いだらけ/五番目の道化師は/今日も闇夜に踊る"
			romaji="SANTA-san kara mananda koto/sekai wa machigai darake/gobanme no doukeshi wa/kyou mo yamiyo ni odoru"
		%}
		{% include verse.html
			lyrics="白塗りの顔/おどけた少年が/太った豚に/銀のナイフを/突き立てる"
			romaji="shironuri no kao/odoketa shounen ga/futotta buta ni/gin no NAIFU wo/tsukitateru"
		%}
		{% include verse.html
			lyrics="今宵乱れしピエピエロ/観客のない夜のサーカス/あの月の為に笛を吹け/そして黒から赤へ"
			romaji="koyoi midareshi PIEPIERO/kankyaku no nai yoru no SAAKASU/ano tsuki no tame ni fue wo fuke/soshite kuro kara aka he"
		%}
		{% include verse.html
			lyrics="今日も踊り狂いしピエピエロ/魔性の檻はもう開かれた/火の輪をくぐった猛獣は/街をさまよい歩くよ"
			romaji="kyou mo odorikuruishi PIEPIERO/mashou no ori wa mou hirakareta/hi no wa wo kugutta moujuu wa/machi wo samayoi aruku yo"
		%}
		{% include verse.html
			lyrics="優しくて暗い目をした/七番目の手品師が/ここから逃げ出そうと/甘い誘いをかける"
			romaji="yasashikute kurai me wo shita/nanabanme no tejinashi ga/koko kara nigedasou to/amai sasoi wo kakeru"
		%}
		{% include verse.html
			lyrics="サンタさんに教えてあげた/裏切り者がいますと/次の日に手品師は/行方知れずとなった"
			romaji="SANTA-san ni oshieteageta/uragirimono ga imasu to/tsugi no hi ni tejinashi wa/yukue shirezu to natta"
		%}
		{% include verse.html
			lyrics="ピエロの頭/優しく撫でる/サンタさんの手/それはまるで…"
			romaji="PIERO no atama/yasashiku naderu/SANTA-san no te/sore wa maru de..."
		%}
		{% include verse.html
			lyrics="今日も仕事だピエピエロ/裏路地の陰|獲物を待った/不意に響き渡る破裂音/そして黒から赤へ"
			romaji="kyou mo shigoto da PIEPIERO/uraroji no kage|emono wo matta/fui ni hibikiwataru haretsuon/soshite kuro kara aka he"
		%}
		{% include verse.html
			lyrics="胸が痛いよピエピエロ/死にたくないよ|死にたくないよ/無言で目の前に立っている/八番目の狙撃手"
			romaji="mune ga itai yo PIEPIERO/shinitakunai yo|shinitakunai yo/mugon de me no mae ni tatteiru/hachibanme no sogekishu"
		%}
		{% include verse.html
			lyrics="今宵乱れしピエピエロ/とても眠いと目を閉じたんだ/夢の中で微笑んでいる/本当の父と母"
			romaji="koyoi midareshi PIEPIERO/totemo nemui to me wo tojita nda/yume no naka de hohoendeiru/hontou no chichi to haha"
		%}
		{% include verse.html
			lyrics="もう踊ることのないピエピエロ/「だから逃げようって言ったのに」/そう呟いて嗤ったのは/七番目の手品師だった…"
			romaji="mou odoru koto no nai PIEPIERO/&quot;dakara nigeyou tte itta no ni&quot;/sou tsubuyaite waratta no wa/nanabanme no tejinashi datta..."
		%}
	</div>
</div>