---
english-name: The Flames of Yellow Phosphorus
image: /assets/images/thumbs/YellowPhosphorus.png
translation: https://vocaloidlyrics.fandom.com/wiki/黄燐の炎_(Ourin_no_Honoo)
mothyrights: <em>The Evillious Chronicles</em>|<em>The Flames of Yellow Phosphorus</em>
---
<div><!--TOADD: DEBUTANTEV ver-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="黄燐が生み出す炎/罪深き|この身を焼き尽くす"
			romaji="ourin ga umidasu honoo/tsumibukaki|kono mi wo yakitsukusu"
		%}
		{% include verse.html
			lyrics="ひとかけらのパンを得る/お金が必要だった/「マッチを買ってくれませんか？」/振り向いてもくれない"
			romaji="hitokakaera no PAN wo eru/okane ga hitsuyou datta/&quot;MACCHI wo kattekuremasen ka?&quot;/furimuite mo kurenai"
		%}
		{% include verse.html
			lyrics="希望さえ凍りつくほどの/寒さに身を震わせていた/わずかなぬくもりを求めて/マッチの先端に火を灯した"
			romaji="kibou sae kooritsuku hodo no/samusa ni mi wo furuwaseteita/wazukana nukumori wo motomete/MACCHI no sentan ni hi wo tomoshita"
		%}
		{% include verse.html
			lyrics="揺らめきの先|見えた幻像/ねえ魅せて|至福の追想/黄燐が生み出す炎/暖めて|この身と心を"
			romaji="yurameki no saki|mieta genzou/nee misete|shifuku no tsuisou/ourin ga umidasu honoo/atatamete|kono mi to kokoro wo"
		%}
		{% include verse.html
			lyrics="現実に戻ればそこには/売れ残りの孤独"
			romaji="genjitsu ni modoreba soko ni wa/urenokori no kodoku"
		%}
		{% include verse.html
			lyrics="全てのマッチを売るまで/父は何も食べさせてくれない/寒さも空腹も|もう嫌だ/父の待つ我が家に火を灯した"
			romaji="subete no MACCHI wo uru made/chichi wa nani mo tabesasetekurenai/samusa mo kuufuku mo|mou iya da/chichi no matsu wagaya ni hi wo tomoshita"
		%}
		{% include verse.html
			lyrics="揺らめきの先|見えた影像/ねえ燃えて|幾千の苦悩/焼け落ちた|家から持ち出した/コインで|一つパンを買った"
			romaji="yurameki no saki|mieta eizou/nee moete|ikusen no kunou/yakeochita|ie kara mochidashita/KOIN de|hitotsu PAN wo katta"
		%}
		{% include verse.html
			lyrics="それは許されぬ大罪/縛りつけられた身体/処刑人が私の足元に/火を灯した"
			romaji="sore wa yurusarenu taizai/shibaritsukerareta karada/shokeinin ga watashi no ashimoto ni/hi wo tomoshita"
		%}
		{% include verse.html
			lyrics="ひとかけらほどの|パンが食べたかっただけ/それさえも許されなかった/黄燐が生み出す炎/焼き尽くす|この身と心を"
			romaji="hitokakera hodo no|PAN ga tabetakatta dake/sore sae mo yurusarenakatta/ourin ga umidasu honoo/yakitsukusu|kono mi to kokoro wo"
		%}
	</div>
</div>