---
english-name: Flower of the Plateau
image: /assets/images/thumbs/Plateau.png
translation: https://pricechecktranslations.tumblr.com/post/103763419045
mothyrights: <em>The Evillious Chronicles</em>|<em>Flower of the Plateau</em>
---
<div><!--TOADD: VOCALO APPEND ver.-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「プラトーの花」と呼ばれた女がいた/可憐な花売り|皆から好かれていた/やすらぎ導く笑顔は|まさに天使"
			romaji="&quot;PURATOO no hana&quot; to yobareta onna ga ita/karenna hanauri|minna kara sukareteita/yasuragi michibiku egao wa|masa ni tenshi"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを知る者は|この町にいなかった"
			romaji="kanojo ga shoufu datta koto wo shirumono wa|kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="若き領主が彼女を見初めたとき/誰もが喜び彼女を祝福した/二人の末永い幸せ|願ったのさ"
			romaji="wakaki ryoushu ga kanojo wo misometa toki/dare mo ga yorokobi kanojo wo shukufukushita/futari no suenegai shiawase|negatta no sa"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを知る者は|この町にいなかった"
			romaji="kanojo ga shoufu datta koto wo shirumono wa|kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="結納の前日に|男は町に現れた/女に寄生する|醜い下品なケダモノ/秘密を知る者|彼女の過去を知る者"
			romaji="yuinou no zenjitsu ni|otoko wa machi ni arawareta/onna ni kiseisuru|minikui gehinna KEDAMONO/himitsu wo shirumono|kanojo no kako wo shirumono"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="三年の時がたち|少年は町に現れた/母親の愛情を求めた|たとえその人が/自分を産み捨てた|愚かな娼婦だとしても"
			romaji="sannen no toki ga tachi|shounen wa machi ni arawareta/hahaoya no aijou wo motometa|tatoe sono hito ga/jibun wo umi suteta|orokona shoufu da toshite mo"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="「プラトーの花」は幸せ|それでいいじゃないか/井戸の底|埋められた|二枚の枯葉のことなど/気に留めちゃいけない|気に留める必要などない"
			romaji="&quot;PURATOO no hana&quot; wa shiawase|sore de ii ja nai ka/ido no soko|umerareta|nimai no kareha no koto nado/ki ni tomecha ikenai|ki ni tomeru hitsuyou nado nai"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを|知る者はこの町にはいない"
			romaji="kanojo ga shoufu datta koto wo|shirumono wa kono machi ni wa inai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを知る者は/僕以外にいない……"
			romaji="kanojo ga shoufu datta koto wo shirumono wa/boku igai ni inai......"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「プラトーの花」と呼ばれた女がいた/可憐な花売り|皆から好かれていた/やすらぎ導く笑顔は|まさに天使"
			romaji="&quot;PURATOO no hana&quot; to yobareta onna ga ita/karenna hanauri|minna kara sukareteita/yasuragi michibiku egao wa|masa ni tenshi"
		%}
		{% include verse.html class="versebreak"
			lyrics="彼女が娼婦だったことを/知る者はこの町にいなかった"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="若き領主が彼女を見初めたとき/誰もが喜び彼女を祝福した/二人の末永い幸せ|願ったのさ"
			romaji="wakaki ryoushu ga kanojo wo misometa toki/dare mo ga yorokobi kanojo wo shukufukushita/futari no suenegai shiawase|negatta no sa"
		%}
		{% include verse.html class="versebreak"
			lyrics="彼女が娼婦だったことを/知る者はこの町にいなかった"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="結納の前日に|男は町に現れた/女に寄生する|醜い下品なケダモノ/秘密を知る者|彼女の過去を知る者"
			romaji="yuinou no zenjitsu ni|otoko wa machi ni arawareta/onna ni kiseisuru|minikui gehinna KEDAMONO/himitsu wo shirumono|kanojo no kako wo shirumono"
		%}
		{% include verse.html class="versebreak"
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="三年の時がたち|少年は町に現れた/母親の愛情を求めた|たとえその人が/自分を産み捨てた|愚かな娼婦だとしても"
			romaji="sannen no toki ga tachi|shounen wa machi ni arawareta/hahaoya no aijou wo motometa|tatoe sono hito ga/jibun wo umi suteta|orokona shoufu da toshite mo"
		%}
		{% include verse.html class="versebreak"
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="「プラトーの花」は幸せ|それでいいじゃないか/井戸の底|埋められた|二枚の枯葉のことなど/気に留めちゃいけない|気に留める必要などない"
			romaji="&quot;PURATOO no hana&quot; wa shiawase|sore de ii ja nai ka/ido no soko|umerareta|nimai no kareha no koto nado/ki ni tomecha ikenai|ki ni tomeru hitsuyou nado nai"
		%}
		{% include verse.html class="versebreak"
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを|知る者はこの町にはいない"
			romaji="kanojo ga shoufu datta koto wo|shirumono wa kono machi ni wa inai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを/知る者は僕以外にいない…"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa boku igai ni inai..."
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「プラトーの花」と呼ばれた女がいた/可憐な花売り|皆から好かれていた/やすらぎ導く笑顔は|まさに天使"
			romaji="&quot;PURATOO no hana&quot; to yobareta onna ga ita/karenna hanauri|minna kara sukareteita/yasuragi michibiku egao wa|masa ni tenshi"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを/知る者はこの町にいなかった"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="若き領主が彼女を見初めたとき/誰もが喜び彼女を祝福した/二人の末永い幸せ|願ったのさ"
			romaji="wakaki ryoushu ga kanojo wo misometa toki/dare mo ga yorokobi kanojo wo shukufukushita/futari no suenegai shiawase|negatta no sa"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを/知る者はこの町にいなかった"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa kono machi ni inakatta"
		%}
		{% include verse.html
			lyrics="結納の前日に|男は町に現れた/女に寄生する|醜い下品なケダモノ/秘密を知る者|彼女の過去を知る者"
			romaji="yuinou no zenjitsu ni|otoko wa machi ni arawareta/onna ni kiseisuru|minikui gehinna KEDAMONO/himitsu wo shirumono|kanojo no kako wo shirumono"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="三年の時がたち|少年は町に現れた/母親の愛情を求めた|たとえその人が/自分を産み捨てた|愚かな娼婦だとしても"
			romaji="sannen no toki ga tachi|shounen wa machi ni arawareta/hahaoya no aijou wo motometa|tatoe sono hito ga/jibun wo umi suteta|orokona shoufu da toshite mo"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="「プラトーの花」は幸せ|それでいいじゃないか/井戸の底|埋められた|二枚の枯葉のことなど/気に留めちゃいけない|気に留める必要などない"
			romaji="&quot;PURATOO no hana&quot; wa shiawase|sore de ii ja nai ka/ido no soko|umerareta|nimai no kareha no koto nado/ki ni tomecha ikenai|ki ni tomeru hitsuyou nado nai"
		%}
		{% include verse.html
			lyrics="―花は綺麗でなくてはならない―/―花は綺麗でなくてはならない―"
			romaji="hana wa kirei de nakute wa naranai/hana wa kirei de nakute wa naranai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを|知る者はこの町にはいない"
			romaji="kanojo ga shoufu datta koto wo|shirumono wa kono machi ni wa inai"
		%}
		{% include verse.html
			lyrics="彼女が娼婦だったことを/知る者は僕以外にいない……"
			romaji="kanojo ga shoufu datta koto wo/shirumono wa boku igai ni inai......"
		%}
	</div>
</div>