---
english-name: Full Moon Laboratory
image: /assets/images/thumbs/FullMoon.jpg
translation: https://pricechecktranslations.tumblr.com/post/105702809395
mothyrights: <em>The Evillious Chronicles</em>|<em>Full Moon Laboratory</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="フラスコの底で/うごめいてるあなたは/今これから始まる/儀式のいけにえ"
			romaji="FURASUKO no soko de/ugomeiteru anata wa/ima kore kara hajimaru/gishiki no ikenie"
		%}
		{% include verse.html
			lyrics="液体の中の固体が/静かに溶けだす/サンプルは多ければ/多いほどいい"
			romaji="ekitai no naka no kotai ga/shizuka ni tokedasu/SANPURU wa ookereba/ooi hodo ii"
		%}
		{% include verse.html
			lyrics="いなくなる前に/あの人は言った/「もうここには戻らない/君は君の実験を/続けなさい」"
			romaji="inaku naru mae ni/ano hito wa itta/&quot;mou koko ni wa modoranai/kimi wa kimi no jikken wo/tsudzukenasai&quot;"
		%}
		{% include verse.html
			lyrics="満月の夜に/始まる実験/試薬の匂いが/心を狂わす"
			romaji="mangetsu no yoru ni/hajimaru jikken/shiyaku no nioi ga/kokoro wo kuruwasu"
		%}
		{% include verse.html
			lyrics="仮説の検証/理論の計算/何かを壊して/そして作りだす"
			romaji="kasetsu no kenshou/riron no keisan/nanika wo kowashite/soshite tsukuridasu"
		%}
		{% include verse.html
			lyrics="二つを合わせて/一つに変えたとして/それが二倍の価値に/なるわけじゃないよ"
			romaji="futatsu wo awasete/hitotsu ni kaeta toshite/sore ga nibai no kachi ni/naru wake ja nai yo"
		%}
		{% include verse.html
			lyrics="本当に手に入れたいものは/たった一つ/それを作り出すため/実験は続く"
			romaji="hontou ni te ni iretai mono wa/tatta hitotsu/sore wo tsukuridasu tame/jikken wa tsudzuku"
		%}
		{% include verse.html
			lyrics="最初覚えた/あの言葉たちは/今も忘れていないから/次は私が教える番/新しい唄"
			romaji="saisho oboeta/ano kotoba-tachi wa/ima mo wasureteinai kara/tsugi wa watashi ga oshieru ban/atarashii uta"
		%}
		{% include verse.html
			lyrics="三日月の夜も/終わらぬ実験/白衣が次第に/紅く染まりだす"
			romaji="mikadzuki no yoru mo/owaranu jikken/hakui ga shidai ni/akaku somaridasu"
		%}
		{% include verse.html
			lyrics="対象の観察/常識の否定/何かを壊して/そしてまた壊す"
			romaji="taishou no kansatsu/joushiki no hitei/nanika wo kowashite/soshite mata kowasu"
		%}
		{% include verse.html
			lyrics="あの人が私を/創ったように/今度は私が/あの人を作る"
			romaji="ano hito ga watashi wo/tsukutta you ni/kondo wa watashi ga/ano hito wo tsukuru"
		%}
		{% include verse.html
			lyrics="いつかまた/始めましょうあの遊び/私はいつでも/ここにいるからね"
			romaji="itsuka mata/hajimemashou ano asobi/watashi wa itsudemo/koko ni iru kara ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="フラスコの底でうごめいてるあなたは/今これから始まる儀式のいけにえ"
			romaji="FURASUKO no soko de ugomeiteru anata wa/ima kore kara hajimaru gishiki no ikenie"
		%}
		{% include verse.html
			lyrics="液体の中の固体が静かに溶けだす/サンプルは多ければ多いほどいい"
			romaji="ekitai no naka no kotai ga shizuka ni tokedasu/SANPURU wa ookereba ooi hodo ii"
		%}
		{% include verse.html
			lyrics="いなくなる前にあの人は言った/「もうここには戻らない/君は君の実験を続けなさい」"
			romaji="inaku naru mae ni ano hito wa itta/&quot;mou koko ni wa modoranai/kimi wa kimi no jikken wo tsudzukenasai&quot;"
		%}
		{% include verse.html
			lyrics="満月の夜に始まる実験/試薬の匂いが心を狂わす"
			romaji="mangetsu no yoru ni hajimaru jikken/shiyaku no nioi ga kokoro wo kuruwasu"
		%}
		{% include verse.html
			lyrics="仮説の検証|理論の計算/何かを壊してそして作りだす"
			romaji="kasetsu no kenshou|riron no keisan/nanika wo kowashite soshite tsukuridasu"
		%}
		{% include verse.html
			lyrics="二つを合わせて一つに変えたとして/それが二倍の価値に/なるわけじゃないよ"
			romaji="futatsu wo awasete hitotsu ni kaeta toshite/sore ga nibai no kachi ni/naru wake ja nai yo"
		%}
		{% include verse.html
			lyrics="本当に手に入れたいものはたった一つ/それを作り出すため実験は続く"
			romaji="hontou ni te ni iretai mono wa tatta hitotsu/sore wo tsukuridasu tame jikken wa tsudzuku"
		%}
		{% include verse.html
			lyrics="最初覚えたあの言葉たちは/今も忘れていないから/次は私が教える番|新しい唄"
			romaji="saisho oboeta ano kotoba-tachi wa/ima mo wasureteinai kara/tsugi wa watashi ga oshieru ban|atarashii uta"
		%}
		{% include verse.html
			lyrics="三日月の夜も終わらぬ実験/白衣が次第に紅く染まりだす"
			romaji="mikadzuki no yoru mo owaranu jikken/hakui ga shidai ni akaku somaridasu"
		%}
		{% include verse.html
			lyrics="対象の観察|常識の否定/何かを壊してそしてまた壊す"
			romaji="taishou no kansatsu|joushiki no hitei/nanika wo kowashite soshite mata kowasu"
		%}
		{% include verse.html
			lyrics="あの人が私を創ったように/今度は私があの人を作る"
			romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga ano hito wo tsukuru"
		%}
		{% include verse.html
			lyrics="いつかまた始めましょうあの遊び/私はいつでもここにいるからね"
			romaji="itsuka mata hajimemashou ano asobi/watashi wa itsudemo koko ni iru kara ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="フラスコの底で/うごめいてるあなたは/今これから始まる/儀式のいけにえ"
			romaji="FURASUKO no soko de/ugomeiteru anata wa/ima kore kara hajimaru/gishiki no ikenie"
		%}
		{% include verse.html
			lyrics="液体の中の固体が/静かに溶けだす/サンプルは多ければ/多いほどいい"
			romaji="ekitai no naka no kotai ga/shizuka ni tokedasu/SANPURU wa ookereba/ooi hodo ii"
		%}
		{% include verse.html
			lyrics="いなくなる前に/あの人は言った/「もうここには戻らない/|君は君の実験を続けなさい」"
			romaji="inaku naru mae ni/ano hito wa itta/&quot;mou koko ni wa modoranai/|kimi wa kimi no jikken wo tsudzukenasai&quot;"
		%}
		{% include verse.html
			lyrics="満月の夜に始まる実験/試薬の匂いが心を狂わす"
			romaji="mangetsu no yoru ni hajimaru jikken/shiyaku no nioi ga kokoro wo kuruwasu"
		%}
		{% include verse.html
			lyrics="仮説の検証|理論の計算/何かを壊してそして作りだす"
			romaji="kasetsu no kenshou|riron no keisan/nanika wo kowashite soshite tsukuridasu"
		%}
		{% include verse.html
			lyrics="二つを合わせて/一つに変えたとして/それが二倍の価値に/なるわけじゃないよ"
			romaji="futatsu wo awasete/hitotsu ni kaeta toshite/sore ga nibai no kachi ni/naru wake ja nai yo"
		%}
		{% include verse.html
			lyrics="本当に手に入れたいものは/たった一つ/それを作り出すため/実験は続く"
			romaji="hontou ni te ni iretai mono wa/tatta hitotsu/sore wo tsukuridasu tame/jikken wa tsudzuku"
		%}
		{% include verse.html
			lyrics="最初覚えた/あの言葉たちは/今も忘れていないから/次は私が教える番/新しい唄"
			romaji="saisho oboeta/ano kotoba-tachi wa/ima mo wasureteinai kara/tsugi wa watashi ga oshieru ban/atarashii uta"
		%}
		{% include verse.html
			lyrics="三日月の夜も終わらぬ実験/白衣が次第に紅く染まりだす"
			romaji="mikadzuki no yoru mo owaranu jikken/hakui ga shidai ni akaku somaridasu"
		%}
		{% include verse.html
			lyrics="対象の観察|常識の否定/何かを壊してそしてまた壊す"
			romaji="taishou no kansatsu|joushiki no hitei/nanika wo kowashite soshite mata kowasu"
		%}
		{% include verse.html
			lyrics="あの人が私を創ったように/今度は私があの人を作る"
			romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga ano hito wo tsukuru"
		%}
		{% include verse.html
			lyrics="いつかまた始めましょうあの遊び/私はいつでもここにいるからね"
			romaji="itsuka mata hajimemashou ano asobi/watashi wa itsudemo koko ni iru kara ne"
		%}
	</div>
</div>