---
english-name: Genesis Girl Gretel
translation: 
mothyrights: <em>The Evillious Chronicles</em>|<em>Genesis Girl Gretel</em>
---
<div>
	<h3><a href="{ link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	{% include verse.html
		lyrics="滅びた世界はいつか生まれ変わる/魔女の腹に埋めたその種を割る/悪意の生み出した片割れ/その名は「グレーテル」"
		romaji="horobita sekai wa itsuka umarekawaru/majo no hara ni umeta sono tane wo waru/akui no umidashita kataware/sono na wa &quot;GUREETERU&quot;"
	%}
	{% include verse.html
		lyrics="生み出すためには/殺さねばならない/あるいは親|あるいは世界/輪廻の旅|繰り返すたび/失われる記憶"
		romaji="umidasu tame ni wa/korosaneba naranai/aruiwa oya|aruiwa sekai/rinne no tabi|kurikaesu tabi/ushinawareru kioku"
	%}
	{% include verse.html
		lyrics="歴史上の様々な/節目に彼女は現われる/最初は北の王国の/救いの希望|神の双子/二回目は南の国/意地の悪い悪食メイド/育ててくれた親を殺し/助けてくれた執事殺した"
		romaji="reiishijou/fushime ni kanojo wa arawareru/saisho wa kita no oukuni no/sukui no kibou|kami no futago/nikaime wa minami no kuni/iji no warui akujiki MEIDO/sodatetekureta oya wo koroshi/tasuketekureta shitsuji koroshita"
	%}
	{% include verse.html
		lyrics="三回目に現われたのは/中央の国|再びメイド/されどその正体は/秩序乱す海からのスパイ/生みの親|殺害し/歴史から姿消す/ガラスの中|いつか来たる/創世の時を待つ"
		romaji="sankaime ni arawareta no wa/chuuou no kuni|futatabi MEIDO/saredo sono shoutai wa/chitsujo midasu umi kara no SUPAI/umi no oya|satsugaishi/rekishi kara sugata kesu/GARASU no naka|itsuka kitaru/sousei no toki wo matsu"
	%}
	{% include verse.html
		lyrics="新月の暗き夜に/グレーテルは現れる/闇に沈んだ瞳|何を見るか"
		romaji="shingetsu no kuraki yoru ni/GURETEERU wa arawareru/yami ni shizunda hitomi|nani wo miru ka"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="もしもその子の親が/あなた自身だったならば/救われるかどうかはあなた次第"
		romaji="moshimo sono ko no oya ga/anata jishin datta naraba/sukuwareru ka douka wa anata shidai"
	%}
	{% include verse.html
		lyrics="出来損ないの神|姿似せぬ鏡/この世界の運命には/関わらぬ役立たずなれど/重要な存在"
		romaji="dekisokonai no kami|sugata nisenu kagami/kono sekai no unmei ni wa/kakawaranu yakutatazu naredo/juuyou na sonzai"
	%}
	{% include verse.html
		lyrics="生み出したものにいつかは自分も/殺される日が来るのだろうか/そう思う彼女の横には/いつも彼がいた"
		romaji="umidashita mono ni itsuka wa jibun mo/korosareru hi ga kuru no darou ka/sou omou kanojo no yoko ni wa/itsumo kare ga ita"
	%}
	{% include verse.html
		lyrics="「グレーテル」には「ヘンゼル」が/墓場をさまよう従者達/死者の世界に別れを告げ/新たな可能性を探す/「イブ」の横「アダム」が立つ/裁きを下す原罪者/間違いを正すべく/もう一度最初からやり直す"
		romaji="&quot;GUREETERU&quot; ni wa &quot;HENZERU&quot; ga/hakaba wo samayou SAABANTSU/shisha no sekai ni wakare no tsuge/aratana kanousei wo sagasu/&quot;IBU&quot; no yoko &quot;ADAMU&quot; ga tatsu/sabaki wo kudasu genzaisha/machigai wo tadasu beku/mou ichido saisho kara yarinaosu"
	%}
	{% include verse.html
		lyrics="「アモスティア」には誰もいない/破壊の象徴少年/ひたすらに片割れを/求めてさまよい続けるだろう/「リリアンヌ」「アレン」と共に/悪ノ娘ト召使/黒き箱から創りだす/二人なりのユートピア"
		romaji="&quot;AMOSUTIA&quot; ni wa daremo inai/hakai no shouchou RITORU BOI/hitasura ni kataware wo/motomete samayoi tsudzukeru darou/&quot;RIRIANNU&quot; &quot;AREN&quot; to tomo ni/aku NO musume TO meshitsukai/kuroki hako kara tsukuridasu/futari nari no YUUTOPIA"
	%}
	{% include verse.html
		lyrics="いずれかの創世が/世界に訪れる/それを避けることは/決してできない"
		romaji="izureka no sousei ga/sekai ni otozureru/sore wo sakeru koto wa/keshite dekinai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="定められた始まりか/歪められたイレギュラーか/「罪」は等しく皆に与えられる"
		romaji="sadamerareta hajimari ka/yugamerareta IREGYURAA ka/&quot;tsumi&quot; wa hitoshiku minna ni ataerareru"
	%}
	{% include verse.html
		lyrics="千年の時を越え/グレーテルは現れる/自らの宿命も知らぬままに"
		romaji="sennen no toki wo koe/GURETEERU wa arawareru/mizukara no shukumei mo shiranu mama ni"
	%}
	{% include verse.html
		lyrics="彼女を天使にするか/狂気の使い魔にするかは/彼女の目の前に立つあなた次第"
		romaji="kanojo wo tenshi ni suru ka/kyouki no tsukaima ni suru ka wa/kanojo no me no mae ni tatsu anata shidai"
	%}
</div>