---
english-name: gift from the Princess who Brought Sleep
translation: https://pricechecktranslations.tumblr.com/post/103787911720
mothyrights: <em>The Evillious Chronicles</em>|<em>gift from the Princess who Brought Sleep</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="眠りなさいこのgiftで/よく眠れるこのgiftで/私はそう|眠らせ姫/貴方の幸せの為に……"
			romaji="nemurinasai kono gift de/yoku nemureru kono gift de/watashi wa sou|nemurase-hime/anata no shiawase no tame ni......"
		%}
		{% include verse.html
			lyrics="政略の果て|決められた婚姻/それでも貴方を愛した"
			romaji="seiryaku no hate|kimerareta kon'in/soredemo anata wo aishita"
		%}
		{% include verse.html
			lyrics="欲に溺れる|無能な遊び人/だけど前から好きだった"
			romaji="yoku ni oboreru|munouna asobinin/dakedo mae kara suki datta"
		%}
		{% include verse.html
			lyrics="医者の娘の|財産だけ目当て/別にそれでも幸せよ"
			romaji="isha no musume no|zaisan dake meate/betsu ni soredemo shiawase yo"
		%}
		{% include verse.html
			lyrics="幼い頃の|約束も忘れて/いいのあなたのそばにいられれば"
			romaji="osanai koro no|yakusoku mo wasurete/ii no anata no soba ni irarereba"
		%}
		{% include verse.html
			lyrics="不安な情緒|悩む貴方に/とてもいい薬があるのよ/良い夢が見れるから|疲れた身癒せるわ/私からのプレゼント"
			romaji="fuanna joucho|nayamu anata ni/totemo ii kusuri ga aru no yo/yoi yume ga mireru kara|tsukareta mi iyaseru wa/watashi kara no PUREZENTO"
		%}
		<p>
			{% include lyric.html lyric="眠りなさいこの<ruby>薬<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="nemurinasai kono gift de" %}<br />
			{% include lyric.html lyric="よく眠れるこの<ruby>薬<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="yoku nemureru kono gift de" %}<br />
			{% include lyric.html lyric="私はそう|眠らせ姫" rom="watashi wa sou|nemurase-hime" %}<br />
			{% include lyric.html lyric="貴方の幸せの為に……" rom="anata no shiawase no tame ni......" %}
		</p>
		{% include verse.html
			lyrics="誰もが悩み|抱えているのよ/父も母も|街の人達も/夜に眠れぬ|みんなの為に/giftを作る|眠れる薬"
			romaji="dare mo ga nayami|kakaeteiru no yo/chichi mo haha mo|machi no hito-tachi mo/yoru ni nemurenu|minna no tame ni/gift wo tsukuru|nemureru kusuri"
		%}
		{% include verse.html
			lyrics="嫌な現実|叶わぬ想い/夢の中なら|忘れられるわ/ゆりかごの中|赤子のように/目を閉じたまま|委ねなさい"
			romaji="iyana genjitsu|kanawanu omoi/yume no naka kara|wasurerareru wa/yurikago no naka|akago no you ni/me wo tojita mama|yudanenasai"
		%}
		{% include verse.html
			lyrics="私のgiftをみんなが飲んで/幸せになった|みんながみんな/ただ一人眠れぬ|私は代わりに/自由と財を得た"
			romaji="watashi no gift wo minna ga nonde/shiawase ni natta|minna ga minna/tada hitori nemurenu|watashi wa kawari ni/jiyuu to zai wo eta"
		%}
		<p>
			{% include lyric.html lyric="眠りなさいこの<ruby>毒<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="nemurinasai kono gift de" %}<br />
			{% include lyric.html lyric="よく眠れるこの<ruby>毒<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="yoku nemureru kono gift de" %}<br />
			{% include lyric.html lyric="私はそう|眠らせ姫" rom="watashi wa sou|nemurase-hime" %}<br />
			{% include lyric.html lyric="希望を求めた女" rom="kibou wo motometa onna" %}
		</p>
		{% include verse.html
			lyrics="お飾りのドールのように/利用されるだけの日々に/もうとっくに壊れていた/全てを壊したかったの/とてもよく効く薬なの/永遠（とわ）に眠れるほどによく効くの/これでようやく私も眠れる/眠らせ姫から眠り姫に……"
			romaji="okazari no DOORU no you ni/riyou sareru dake no hibi ni/mou tokku ni kowareteita/subete wo kowashitakatta no/totemo yoku kiku kusuri na no/towa ni nemureru hodo ni yoku kiku no/kore de youyaku watashi mo nemureru/nemurase-hime kara nemuri-hime ni......"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="眠りなさいこのgiftで|よく眠れるこのgiftで/私はそう|眠らせ姫|貴方の幸せの為に……"
			romaji="nemurinasai kono gift de|yoku nemureru kono gift de/watashi wa sou|nemurase-hime|anata no shiawase no tame ni......"
		%}
		{% include verse.html
			lyrics="政略の果て|決められた婚姻/それでも貴方を愛した"
			romaji="seiryaku no hate|kimerareta kon'in/soredemo anata wo aishita"
		%}
		{% include verse.html
			lyrics="欲に溺れる|無能な遊び人/だけど前から好きだった"
			romaji="yoku ni oboreru|munouna asobinin/dakedo mae kara suki datta"
		%}
		{% include verse.html
			lyrics="医者の娘の|財産だけ目当て/別にそれでも幸せよ"
			romaji="isha no musume no|zaisan dake meate/betsu ni soredemo shiawase yo"
		%}
		{% include verse.html
			lyrics="幼い頃の|約束も忘れて/いいのあなたのそばにいられれば"
			romaji="osanai koro no|yakusoku mo wasurete/ii no anata no soba ni irarereba"
		%}
		{% include verse.html
			lyrics="不安な情緒|悩む貴方に/とてもいい薬があるのよ/良い夢が見れるから|疲れた身癒せるわ/私からのプレゼント"
			romaji="fuanna joucho|nayamu anata ni/totemo ii kusuri ga aru no yo/yoi yume ga mireru kara|tsukareta mi iyaseru wa/watashi kara no PUREZENTO"
		%}
		{% include verse.html
			lyrics="眠りなさいこのgift（薬）で|よく眠れるこのgift（薬）で/私はそう|眠らせ姫|貴方の幸せの為に……"
			romaji="nemurinasai kono gift de|yoku nemureru kono gift de/watashi wa sou|nemurase-hime|anata no shiawase no tame ni......"
		%}
		{% include verse.html
			lyrics="誰もが悩み|抱えているのよ/父も母も|街の人達も/夜に眠れぬ|みんなの為に/giftを作る|眠れる薬"
			romaji="dare mo ga nayami|kakaeteiru no yo/chichi mo haha mo|machi no hito-tachi mo/yoru ni nemurenu|minna no tame ni/gift wo tsukuru|nemureru kusuri"
		%}
		{% include verse.html
			lyrics="嫌な現実|叶わぬ想い/夢の中なら|忘れられるわ/ゆりかごの中|赤子のように/目を閉じたまま|委ねなさい"
			romaji="iyana genjitsu|kanawanu omoi/yume no naka kara|wasurerareru wa/yurikago no naka|akago no you ni/me wo tojita mama|yudanenasai"
		%}
		{% include verse.html
			lyrics="私のgiftをみんなが飲んで/幸せになった|みんながみんな/ただ一人眠れぬ|私は代わりに/自由と財を得た"
			romaji="watashi no gift wo minna ga nonde/shiawase ni natta|minna ga minna/tada hitori nemurenu|watashi wa kawari ni/jiyuu to zai wo eta"
		%}
		{% include verse.html
			lyrics="眠りなさいこのgift（毒）で|よく眠れるこのgift（毒）で/私はそう|眠らせ姫|希望を求めた女"
			romaji="nemurinasai kono gift de|yoku nemureru kono gift de/watashi wa sou|nemurase-hime|kibou wo motometa onna"
		%}
		{% include verse.html
			lyrics="お飾りのドールのように|利用されるだけの日々に/もうとっくに壊れていた|全てを壊したかったの"
			romaji="okazari no DOORU no you ni|riyou sareru dake no hibi ni/mou tokku ni kowareteita|subete wo kowashitakatta no"
		%}
		{% include verse.html
			lyrics="とてもよく効く薬なの|永遠（とわ）に眠れるほどによく効くの/これでようやく私も眠れる|眠らせ姫から眠り姫に……"
			romaji="totemo yoku kiku kusuri na no|towa ni nemureru hodo ni yoku kiku no/kore de youyaku watashi mo nemureru|nemurase-hime kara nemuri-hime ni......"
		%}
	</div>
</div>

<div>
	<h3>PV <small>(2020)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「さあ|眠りなさい…」"
			romaji="&quot;saa|nemurinasai...&quot;"
		%}
		{% include verse.html
			lyrics="眠りなさいこのgiftで/よく眠れるこのgiftで/私はそう|眠らせ姫/貴方の幸せの為に……"
			romaji="nemurinasai kono gift de/yoku nemureru kono gift de/watashi wa sou|nemurase-hime/anata no shiawase no tame ni......"
		%}
		{% include verse.html
			lyrics="政略の果て|決められた婚姻/それでも貴方を愛した"
			romaji="seiryaku no hate|kimerareta kon'in/soredemo anata wo aishita"
		%}
		{% include verse.html
			lyrics="欲に溺れる|無能な遊び人/だけど前から好きだった"
			romaji="yoku ni oboreru|munouna asobinin/dakedo mae kara suki datta"
		%}
		{% include verse.html
			lyrics="医者の娘の|財産だけ目当て/別にそれでも幸せよ"
			romaji="isha no musume no|zaisan dake meate/betsu ni soredemo shiawase yo"
		%}
		{% include verse.html
			lyrics="幼い頃の|約束も忘れて/いいのあなたのそばにいられれば"
			romaji="osanai koro no|yakusoku mo wasurete/ii no anata no soba ni irarereba"
		%}
		{% include verse.html
			lyrics="不安な情緒|悩む貴方に/とてもいい薬があるのよ/良い夢が見れるから|疲れた身癒せるわ/私からのプレゼント"
			romaji="fuanna joucho|nayamu anata ni/totemo ii kusuri ga aru no yo/yoi yume ga mireru kara|tsukareta mi iyaseru wa/watashi kara no PUREZENTO"
		%}
		<p>
			{% include lyric.html lyric="眠りなさいこの<ruby>薬<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="nemurinasai kono gift de" %}<br />
			{% include lyric.html lyric="よく眠れるこの<ruby>薬<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="yoku nemureru kono gift de" %}<br />
			{% include lyric.html lyric="私はそう|眠らせ姫" rom="watashi wa sou|nemurase-hime" %}<br />
			{% include lyric.html lyric="貴方の幸せの為に……" rom="anata no shiawase no tame ni......" %}
		</p>
		{% include verse.html
			lyrics="誰もが悩み|抱えているのよ/父も母も|街の人達も/夜に眠れぬ|みんなの為に/giftを作る|眠れる薬"
			romaji="dare mo ga nayami|kakaeteiru no yo/chichi mo haha mo|machi no hito-tachi mo/yoru ni nemurenu|minna no tame ni/gift wo tsukuru|nemureru kusuri"
		%}
		{% include verse.html
			lyrics="嫌な現実|叶わぬ想い/夢の中なら|忘れられるわ/ゆりかごの中|赤子のように/目を閉じたまま|委ねなさい"
			romaji="iyana genjitsu|kanawanu omoi/yume no naka kara|wasurerareru wa/yurikago no naka|akago no you ni/me wo tojita mama|yudanenasai"
		%}
		{% include verse.html
			lyrics="私のgiftをみんなが飲んで/幸せになった|みんながみんな/ただ一人眠れぬ|私は代わりに/自由と財を得た"
			romaji="watashi no gift wo minna ga nonde/shiawase ni natta|minna ga minna/tada hitori nemurenu|watashi wa kawari ni/jiyuu to zai wo eta"
		%}
		<p>
			{% include lyric.html lyric="眠りなさいこの<ruby>毒<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="nemurinasai kono gift de" %}<br />
			{% include lyric.html lyric="よく眠れるこの<ruby>毒<rp>(</rp><rt>gift</rt><rp>)</rp></ruby>で" rom="yoku nemureru kono gift de" %}<br />
			{% include lyric.html lyric="私はそう|眠らせ姫" rom="watashi wa sou|nemurase-hime" %}<br />
			{% include lyric.html lyric="希望を求めた女" rom="kibou wo motometa onna" %}
		</p>
		{% include verse.html
			lyrics="お飾りのドールのように/利用されるだけの日々に/もうとっくに壊れていた/全てを壊したかったの/とてもよく効く薬なの/永遠（とわ）に眠れるほどによく効くの/これでようやく私も眠れる/眠らせ姫から眠り姫に……"
			romaji="okazari no DOORU no you ni/riyou sareru dake no hibi ni/mou tokku ni kowareteita/subete wo kowashitakatta no/totemo yoku kiku kusuri na no/towa ni nemureru hodo ni yoku kiku no/kore de youyaku watashi mo nemureru/nemurase-hime kara nemuri-hime ni......"
		%}
		<p>
			{% include lyric.html lyric="さあ|<ruby>王子様<rp>(</rp><rt>アダム</rt><rp>)</rp></ruby>" rom="saa|ouji-sama" %}<br />
			{% include lyric.html lyric="あの森で私にキスをして" rom="ano mori de watashi ni KISU wo shite" %}
		</p>
	</div>
</div>