---
english-name: grEAT journey
translation: https://pricechecktranslations.tumblr.com/post/627651216562962432
mothyrights: <em>The Evillious Chronicles</em>|<em>grEAT journey</em>
---
<div>
	<h3><a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a> &middot; <a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="どこまで行けば辿りつく？/君の望んだ世界/地図の無い旅の果てに/何を得るのか？/敬い称えよ/我らが偉大な主様を/その旅の助けこそが/我らが使命"
		romaji="doko made yukeba tadoritsuku?/kimi no nozonda sekai/chizu no nai tabi no hate ni/nani wo eru no ka?/uyamai tatae yo/warera ga idaina aruji-sama wo/sono tabi no tasuke koso ga/warera ga shimei"
	%}
	{% include verse.html
		lyrics="（混沌を乗り越えて|我らは行こう/|身体を造り替え|獣と成り果て/|鋭利な爪を持ち|背には黒き羽/|主様のため|後悔などない）"
		romaji="(konton wo norikoete|warera wa yukou/|karada wo tsukurigae|kemono to narihate/|eirina tsume wo mochi|se ni wa kuroki hane/|aruji-sama no tame|koukai nado nai)"
	%}
	{% include verse.html
		lyrics="その思い受け止め/私は今日も進んでゆく/素晴らしい旅路は/始まったばかり"
		romaji="sono omoi uketome/watashi wa kyou mo susundeyuku/subarashii tabiji wa/hajimatta bakari"
	%}
	{% include verse.html
		lyrics="空に浮かぶ映画館/それは城|あるいは船/黒き箱で操るは/仮面の化身/双子兎|黒き鳥/月輪熊に蒼い犬/主に忠誠誓う/旅の仲間たち"
		romaji="sora ni ukabu eigakan/sore wa shiro|arui wa fune/kuroki hako de ayatsuru wa/kamen no keshin/futago usagi|kuroki tori/tsukiwaguma ni aoi inu/aruji ni chuusei chikau/tabi no nakama-tachi"
	%}
	{% include verse.html
		lyrics="（屍用人たちよ|今こそ行くのだ/|主様のため|食物を探せ/|主様のため|生贄を探せ/|主様のため|オルターエゴを探せ）"
		romaji="(shiyounin-tachi yo|ima koso iku no da/|aruji-sama no tame|shokumotsu wo sagase/|aruji-sama no tame|ikenie wo sagase/|aruji-sama no tame|ORUTAA EGO wo sagase)"
	%}
	{% include verse.html
		lyrics="その思い受け止め/私は次元越えてゆく/新しい出会いが/先に待っている"
		romaji="sono omoi uketome/watashi wa jigen koeteyuku/atarashii deai ga/saki ni matteiru"
	%}
	{% include verse.html
		lyrics="何を追いかける？/何に追われてる？/悪意の亡霊"
		romaji="nani wo oikakeru?/nani ni owareteru?/akui no bourei"
	%}
	{% include verse.html
		lyrics="純粋過ぎた故/死を認められぬ/Ｍａゴースト"
		romaji="junsui sugita yue/shi wo mitomerarenu/EMUEE GOOSUTO"
	%}
	{% include verse.html
		lyrics="（時を越え|次元越え/|続いてく/|そうさ|まだ/|悪の因果は終わらない）"
		romaji="(toki wo koe|jigen koe/|tsudzuiteku/|sou sa|mada/|aku no inga wa owaranai)"
	%}
	{% include verse.html
		lyrics="その思い受け止め/私は今日も進んでゆく/素晴らしい旅路は/始まったばかり"
		romaji="sono omoi uketome/watashi wa kyou mo susundeyuku/subarashii tabiji wa/hajimatta bakari"
	%}
	{% include verse.html
		lyrics="その思い受け止め/私は次元越えてゆく/新しい出会いが/先に待っている"
		romaji="sono omoi uketome/watashi wa jigen koeteyuku/atarashii deai ga/saki ni matteiru"
	%}
</div>