---
english-name: Half Blood
translation: https://pricechecktranslations.tumblr.com/post/167063282680
mothyrights: <em>The Evillious Chronicles</em>|<em>Half Blood</em>
altrights: "<em>HalfBlood: Love Trembling at the Boundary</em>"
altowners: WWWave Corporation
---
<div><!--DOUBLECHECK-->
	<h3><em>HalfBlood: Love Trembling at the Boundary</em></h3>
	{% include verse.html
		lyrics="消えた道しるべじゃ/行く先はわからない/たとえ間違いでも/先に進むしかない"
		romaji="kieta michishirube ja/yuku saki wa wakaranai/tatoe machigai demo/saki ni susumu shikanai"
	%}
	{% include verse.html
		lyrics="不安に思う必要なんてない/辿り着く先が太陽でも月でも/二人が選ぶなら/君の伸ばしたその手を掴んで離しはしない"
		romaji="fuan ni omou hitsuyou nantenai/tadoritsuku saki ga taiyou demo tsuki demo/futari ga erabu nara/kimi no nobashita sono te wo sukande hanashi wa shinai"
	%}
	{% include verse.html
		lyrics="共に進もうこの不条理な道を/夜明けを探す手打ち砕きか守るか/扉を開いてその先に待ってるのは/そう定めなく世界/新しい二人だけの世界"
		romaji="tomo ni susumou kono fujourina michi wo/yoake wo sagasu te uchikudaki ka mamoru ka/tobira wo hiraite sono saki ni matteru no wa/sou sadamenaku sekai/atarashii futari dake no sekai"
	%}
	{% include verse.html
		lyrics="信じていたものが/全て変わってしまった時/君の瞳の先/写っているのは誰？"
		romaji="shinjiteita mono ga/subete kawatteshimatta toki/kimi no hitomi no saki/utsutteiru no wa dare?"
	%}
	{% include verse.html
		lyrics="震えるその背中|抱き寄せる/この腕を払い除けるならそれもいい/半分だけの運命/境界線を乗り越りをその手に掴め！"
		romaji="furueru sono senaka|dakiyoseru/kono ude wo harainokeru nara sore mo ii/hanbun dake no unmei/kyoukaisen wo norikoeri wo sono te ni tsukame!"
	%}
	{% include verse.html
		lyrics="ともに歩もう|血が示す宿命を/正解などない|ただ君が思うままに/大丈夫だよ|なにも恐れなくていいから/ここから始める/新しい二人だけの未来"
		romaji="tomo ni ayumou|chi ga shimesu shukumei wo/seikai nado nai|tada kimi ga omou mama ni/daijoubu da yo|nani mo osorenakute ii kara/koko kara hajimeru/atarashii futari dake no mirai"
	%}
	{% include verse.html
		lyrics="共に進もうこの不条理な道を/夜明けを探す手打ち砕きか守るか/扉を開いてその先に待ってるのは/そう定めなく世界/新しい二人だけの世界"
		romaji="tomo ni susumou kono fujourina michi wo/yoake wo sagasu te uchikudaki ka mamoru ka/tobira wo hiraite sono saki ni matteru no wa/sou sadamenaku sekai/atarashii futari dake no sekai"
	%}
</div>