---
english-name: Handbeat Clocktower
translation: https://pricechecktranslations.tumblr.com/post/104619526925
mothyrights: <em>The Evillious Chronicles</em>|<em>Handbeat Clocktower</em>
---
<div><!--TOADD: Four Melodies of Evil ver.-->
	<h3>PV</h3>
	{% include verse.html
		lyrics="時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか……"
		romaji="tokeitou no choujou|isu ni suwari hohenderu anata wa/akuma ka|soretomo watashi no haha na no ka......"
	%}
	{% include verse.html
		lyrics="動く秒針|揺れる|正常な精神/時計塔の上にあるのは|大義か毒か/螺旋階段|進むたび|響く針音/時間と葛藤を心に刻みつける"
		romaji="ugoku byoushin|yureru|seijouna seishin/tokeitou no ue ni aru no wa|taigi ka doku ka/rasen kaiden|susumu tabi|hibiku shin'on/jikan to kattou wo kokoro ni kizamitsukeru"
	%}
	{% include verse.html
		lyrics="我欲に溺れて|罪に汚れた手/贖罪代わりの剣を/振うべき相手は誰なのだろう？"
		romaji="gayoku ni oborete|tsumi ni yogoreta te/shokuzai kawari no tsurugi wo/furuubeki aite wa dare na no darou?"
	%}
	{% include verse.html
		lyrics="あの日この手が|描いた|少女の肖像画/朧げな思い出が|狂気の|始まりだった/一人の女の|生み出した|異常な悪意は/七つの悪夢で|全てを壊してしまった"
		romaji="ano hi kono te ga|egaita|shoujo no shouzouga/oborogena omoide ga|kyouki no|hajimari datta/hitori no onna no|umidashita|ijouna akui wa/nanatsu no akumu de|subete wo kowashiteshimatta"
	%}
	{% include verse.html
		lyrics="だけど正しい道のりは/まだ消えてはいないから/ドラマティックな＜悪ノ＞物語は/今|幕を閉じる"
		romaji="dakedo tadashii michinori wa/mada kiete wa inai kara/DORAMATIKKUna &lt;aku NO&gt; monogatari wa/ima|maku wo tojiru"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか……"
		romaji="mou mayowanai|tatoe sakerarenu tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari hohoenderu anata wa/akuma ka|soretomo watashi no haha na no ka......"
	%}
	{% include verse.html
		lyrics="誰か|誰か|教えてよ/『悪』とは一体何なのかを"
		romaji="dareka|dareka|oshiete yo/'aku' to wa ittai nan na no ka wo?"
	%}
	{% include verse.html
		lyrics="希望は一つだけ|絶望は飽きるほど/ただ虚しい心"
		romaji="kibou wa hitotsu dake|zetsubou wa akiru hodo/tada munashii kokoro"
	%}
	{% include verse.html
		lyrics="できることは少ないけど/この手を握り締めて/降り続いている雨が止むこと/ずっと祈ってる"
		romaji="dekiru koto wa sukunai kedo/kono te wo nigirishimete/furitsudzuiteiru ame ga yamu koto/zutto inotteru"
	%}
	{% include verse.html
		lyrics="巨大な針の音よりも響く|誰かの嗤い声/もう狂人しかいない|針音ノ時計塔/いつか時が経ち|この苦悩を笑える日が来たなら/この手で書こう|真実の物語を"
		romaji="kyodaina hari no oto yori mo hibiku|dareka no waraigoe/mou kyoujin shika inai|shin'on NO tokeitou/itsuka toki ga tachi|kono kunou wo waraeru hi ga kita nara/kono te de kakou|shinjitsu no monogatari wo"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ|戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り朽ち果ててるあなたは/悪魔か|私の母だった人か……"
		romaji="mou mayowanai|tatoe sakerarenu|tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari kuchihateteru anata wa/akuma ka|watashi no haha datta hito ka......"
	%}
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	{% include verse.html
		lyrics="時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか…"
		romaji="tokeitou no choujou|isu ni suwari hohenderu anata wa/akuma ka|soretomo watashi no haha na no ka..."
	%}
	{% include verse.html
		lyrics="動く秒針|揺れる正常な精神/時計塔の上にあるのは大義か毒か/螺旋階段|進むたび響く針音/時間と葛藤を心に刻みつける"
		romaji="ugoku byoushin|yureru seijouna seishin/tokeitou no ue ni aru no wa taigi ka doku ka/rasen kaiden|susumu tabi hibiku shin'on/jikan to kattou wo kokoro ni kizamitsukeru"
	%}
	{% include verse.html
		lyrics="我欲に溺れて|罪に汚れた手/贖罪代わりの剣を/振うべき相手は誰なのだろう？"
		romaji="gayoku ni oborete|tsumi ni yogoreta te/shokuzai kawari no tsurugi wo/furuubeki aite wa dare na no darou?"
	%}
	{% include verse.html
		lyrics="あの日この手が|描いた少女の肖像画/朧げな思い出が|狂気の始まりだった/一人の女の|生み出した異常な悪意は/七つの悪夢で|全てを壊してしまった"
		romaji="ano hi kono te ga|egaita shoujo no shouzouga/oborogena omoide ga|kyouki no hajimari datta/hitori no onna no|umidashita ijouna akui wa/nanatsu no akumu de|subete wo kowashiteshimatta"
	%}
	{% include verse.html
		lyrics="だけど正しい道のりは/まだ消えてはいないから/ドラマティックな＜悪ノ＞物語は/今|幕を閉じる"
		romaji="dakedo tadashii michinori wa/mada kiete wa inai kara/DORAMATIKKUna &lt;aku NO&gt; monogatari wa/ima|maku wo tojiru"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか…"
		romaji="mou mayowanai|tatoe sakerarenu tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari hohoenderu anata wa/akuma ka|soretomo watashi no haha na no ka..."
	%}
	{% include verse.html
		lyrics="誰か|誰か|教えてよ/『悪』とは一体何なのかを"
		romaji="dareka|dareka|oshiete yo/'aku' to wa ittai nan na no ka wo?"
	%}
	{% include verse.html
		lyrics="希望は一つだけ|絶望は飽きるほど/ただ虚しい心"
		romaji="kibou wa hitotsu dake|zetsubou wa akiru hodo/tada munashii kokoro"
	%}
	{% include verse.html
		lyrics="できることは少ないけど/この手を握り締めて/降り続いている雨が止むこと/ずっと祈ってる"
		romaji="dekiru koto wa sukunai kedo/kono te wo nigirishimete/furitsudzuiteiru ame ga yamu koto/zutto inotteru"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="巨大な針の音よりも響く|誰かの嗤い声/もう狂人しかいない|針音ノ時計塔/いつか時が経ち|この苦悩を笑える日が来たなら/この手で書こう|真実の物語を"
		romaji="kyodaina hari no oto yori mo hibiku|dareka no waraigoe/mou kyoujin shika inai|shin'on NO tokeitou/itsuka toki ga tachi|kono kunou wo waraeru hi ga kita nara/kono te de kakou|shinjitsu no monogatari wo"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り朽ち果ててるあなたは/悪魔か|私の母だった人か…"
		romaji="mou mayowanai|tatoe sakerarenu tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari kuchihateteru anata wa/akuma ka|watashi no haha datta hito ka..."
	%}
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか……"
		romaji="tokeitou no choujou|isu ni suwari hohenderu anata wa/akuma ka|soretomo watashi no haha na no ka......"
	%}
	{% include verse.html
		lyrics="動く秒針|揺れる正常な精神/時計塔の上にあるのは大義か毒か/螺旋階段|進むたび響く針音/時間と葛藤を心に刻みつける"
		romaji="ugoku byoushin|yureru seijouna seishin/tokeitou no ue ni aru no wa taigi ka doku ka/rasen kaiden|susumu tabi hibiku shin'on/jikan to kattou wo kokoro ni kizamitsukeru"
	%}
	{% include verse.html
		lyrics="我欲に溺れて|罪に汚れた手/贖罪代わりの剣を/振うべき相手は誰なのだろう？"
		romaji="gayoku ni oborete|tsumi ni yogoreta te/shokuzai kawari no tsurugi wo/furuubeki aite wa dare na no darou?"
	%}
	{% include verse.html
		lyrics="あの日この手が|描いた少女の肖像画/朧げな思い出が|狂気の始まりだった/一人の女の|生み出した異常な悪意は/七つの悪夢で|全てを壊してしまった"
		romaji="ano hi kono te ga|egaita shoujo no shouzouga/oborogena omoide ga|kyouki no hajimari datta/hitori no onna no|umidashita ijouna akui wa/nanatsu no akumu de|subete wo kowashiteshimatta"
	%}
	{% include verse.html
		lyrics="だけど正しい道のりは/まだ消えてはいないから/ドラマティックな＜悪ノ＞物語は/今|幕を閉じる"
		romaji="dakedo tadashii michinori wa/mada kiete wa inai kara/DORAMATIKKUna &lt;aku NO&gt; monogatari wa/ima|maku wo tojiru"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り微笑んでるあなたは/悪魔か|それとも私の母なのか……"
		romaji="mou mayowanai|tatoe sakerarenu tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari hohoenderu anata wa/akuma ka|soretomo watashi no haha na no ka......"
	%}
	{% include verse.html
		lyrics="誰か|誰か|教えてよ/『悪』とは一体何なのかを"
		romaji="dareka|dareka|oshiete yo/'aku' to wa ittai nan na no ka wo?"
	%}
	{% include verse.html
		lyrics="希望は一つだけ|絶望は飽きるほど/ただ虚しい心"
		romaji="kibou wa hitotsu dake|zetsubou wa akiru hodo/tada munashii kokoro"
	%}
	{% include verse.html
		lyrics="できることは少ないけど/この手を握り締めて/降り続いている雨が止むこと/ずっと祈ってる"
		romaji="dekiru koto wa sukunai kedo/kono te wo nigirishimete/furitsudzuiteiru ame ga yamu koto/zutto inotteru"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="巨大な針の音よりも響く|誰かの嗤い声/もう狂人しかいない|針音ノ時計塔/いつか時が経ち|この苦悩を笑える日が来たなら/この手で書こう|真実の物語を"
		romaji="kyodaina hari no oto yori mo hibiku|dareka no waraigoe/mou kyoujin shika inai|shin'on NO tokeitou/itsuka toki ga tachi|kono kunou wo waraeru hi ga kita nara/kono te de kakou|shinjitsu no monogatari wo"
	%}
	{% include verse.html
		lyrics="もう迷わない|たとえ避けられぬ戦いでも/あなたに刃を向けることになっても/時計塔の頂上|椅子に座り朽ち果ててるあなたは/悪魔か|私の母だった人か……"
		romaji="mou mayowanai|tatoe sakerarenu tatakai demo/anata ni yaiba wo mukeru koto ni natte mo/tokeitou no choujou|isu ni suwari kuchihateteru anata wa/akuma ka|watashi no haha datta hito ka......"
	%}
</div>