---
english-name: Her and Talo's Promenade
image: /assets/images/thumbs/CountTwilightAlbum.png
translation: https://pricechecktranslations.tumblr.com/post/791617214332665856
mothyrights: <em>The Evillious Chronicles</em>|Her and Talo's Promenade
---
<div>
	<h3>Crossfade</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="曇り空には|鳥は見えない/タロに羽を|つければ飛べるかな"
			romaji="kumorizora ni wa|tori wa mienai/TARO ni hane wo|tsukereba toberu ka na"
		%}
		{% include verse.html
			lyrics="空から消えた青色/それでも進む散歩道/リード引っ張るタロの足/機械仕掛けの車輪"
			romaji="sora kara kieta aoiro/sore demo susumu sanpomichi/RIIDO hipporu TARO no ashi/kikaijikake no sharin"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="お気に入りのスーツで/近所まで旅に出よう/ずっと大事な友達/タロと一緒に"
			romaji="okiniiri no SUUTSU de/kinjo made tabi ni de you/zutto daijina tomodachi/TARO to issho ni"
		%}
		{% include verse.html
			lyrics="道の脇に咲く花/鉄製のキンセンカ/ビルの窓から覗く目/灰色のカメラ"
			romaji="michi no waki ni saku hana/tetsusei no KINSENKA/BIRU no mado kara nozoku me/haiiro no KAMERA"
		%}
		{% include verse.html
			lyrics="曇り空には/鳥は見えない/タロに羽を/つければ飛べるかな"
			romaji="kumorizora ni wa/tori wa mienai/TARO ni hane wo/tsukereba toberu ka na"
		%}
		{% include verse.html
			lyrics="空から消えた青色/それでも進む散歩道/リード引っ張るタロの足/機械仕掛けの車輪"
			romaji="sora kara kieta aoiro/sore demo susumu sanpomichi/RIIDO hipporu TARO no ashi/kikaijikake no sharin"
		%}
		{% include verse.html
			lyrics="無表情なグーちゃんが/見上げる銀のロケット/いつかみんなで宇宙へ/行ければいいよね"
			romaji="muhyoujouna GUU-chan ga/miageru gin no ROKETTO/itsuka minna de uchuu he/ikereba ii yo ne"
		%}
		{% include verse.html
			lyrics="国中の人たちが/一つの家に住んでる/だけど悪い人たちは/入れてもらえない"
			romaji="kunijuu no hito-tachi ga/hitotsu no ie ni sunderu/dakedo warui hito-tachi wa/iretemoraenai"
		%}
		{% include verse.html
			lyrics="眼鏡をかけた/寂しそうな子が/空を見つめて/涙を流した"
			romaji="megane wo kaketa/sabishisouna ko ga/sora wo mitsumete/namida wo nagashita"
		%}
		{% include verse.html
			lyrics="月さえ見えない夜空/願いは星に届かない/だけどタロと一緒ならば/どこまでだって行ける"
			romaji="tsuki sae mienai yozora/negai wa hoshi ni todokanai/dakedo TARO to issho naraba/doko made datte ikeru"
		%}
		{% include verse.html
			lyrics="橋の下流れてる/きれいな緑の川/タロがぐるぐる回る/その身体は黒い箱"
			romaji="hashi no shita nagareteru/kireina midori no kawa/TARO ga guruguru mawaru/sono karada wa kuroi hako"
		%}
		{% include verse.html
			lyrics="スーツの中の酸素が/もうすぐ切れそうだから/そろそろ帰ろうかタロ/鉛のお家へ"
			romaji="SUUTSU no naka no sanso ga/mou sugu kiresou dakara/sorosoro kaerou ka TARO/namari no o-uchi he"
		%}
	</div>
</div>