---
english-name: The Journey of Two Mages ~Great Wall and Watchman~
translation: https://pricechecktranslations.tumblr.com/post/103918865360
mothyrights: <em>The Evillious Chronicles</em>|<em>The Journey of Two Mages ~Great Wall and Watchman~</em>
---
<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> &middot; PV</h3>
	{% include verse.html
		lyrics="荒れた道を進む|二人組の女/美しき魔道師とその愛弟子/魔剣を求めて|西からやってきた/ああ|目の前には長い長い壁"
		romaji="areta michi susumu|futari gumi no onna/utsukushiki madoushi to sono manadeshi/maken wo motomete|nishi kara yattekita/aa|me no mae ni wa nagai nagai kabe"
	%}
	{% include verse.html
		lyrics="あの壁を越えたならば|目的地まであと少し"
		romaji="ano kabe wo koeta naraba|mokutekichi made ato sukoshi"
	%}
	{% include verse.html
		lyrics="壁に近づく|二人組の女/そこに立ちふさがる|一人の男/異国の者どもよ|立ち去るがいい/俺は偉大な王から|こう命じられてる"
		romaji="kabe ni chikadzuku|futari gumi no onna/soko ni tachifusagaru|hitori no otoko/ikoku no monodomo yo|tachisaru ga ii/ore wa idaina ou kara|kou meijirareteru"
	%}
	{% include verse.html
		lyrics="「我が国の民以外は|誰もここを通すな」と"
		romaji="&quot;wa ga kuni no tami igai wa|daremo koko wo toosu na&quot; to"
	%}
	{% include verse.html
		lyrics="壁から離れた|二人組の女/髪を黒く塗る|男と同じ色/国の民を装い|進もうとするが/男は再び|首を横に振る"
		romaji="kabe kara hanareta|futari gumi no onna/kami wo kuroku nuru|otoko to onaji iro/kuni no tami wo yosooi|susumou tosuru ga/otoko wa futatabi|kubi wo yoko ni furu"
	%}
	{% include verse.html
		lyrics="「我が国の民の肌は|そんな奇妙に白くない」"
		romaji="&quot; wa ga kuni no tami no hada wa|sonna kimyou ni shirokunai"
	%}
	{% include verse.html
		lyrics="壁から離れた|二人組の女/顔に泥を塗る|男と同じ肌/今度こそはと|進もうとするが/男はまたもや|首を横に振る"
		romaji="kabe kara hanareta|futari gumi no onna/kao ni doro wo nuru|otoko to onaji hada/kondo koso wa to|susumou tosuru ga/otoko wa matamoya|kubi wo yoko ni furu"
	%}
	{% include verse.html
		lyrics="「我が国の民の瞳は|そんな不気味な色じゃない」"
		romaji="&quot;wa ga kuni no tami no hitomi wa|sonna bukimina iro janai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="悪く思うな旅人よ/偉大で広大な我が国を守るためには/この壁と俺のような番人が必要なのだ"
		romaji="waruku omouna tabibito yo/idai de goudaina wa ga kuni wo mamoru tame ni wa/kono kabe to ore no youna bannin ga hitsuyouna no da"
	%}
	{% include verse.html
		lyrics="業を煮やした|魔道師の女/風を巻き起こし|男を吹き飛ばす/壁の扉を開け|先に進むと/そこには何もない|何もなかった"
		romaji="gou wo niyashita|madoushi no onna/kaze wo makiokoshi|otoko wo bukitobasu/kabe no tobira wo ake|saki ni susumu to/soko ni wa nanimo nai|nanimo nakatta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="あの番人が守ってたのは/一体なんだったのだろう？"
		romaji="ano bannin ga mamotteta no wa/ittai nan datta no darou?"
	%}
	{% include verse.html
		lyrics="荒れた道を進む|二人組の女/美しき魔道師とその愛弟子/魔剣を求めて|東へと進む"
		romaji="areta michi susumu|futari gumi no onna/utsukushiki madoushi to sono manadeshi/maken wo motomete|higashi he to susumu"
	%}
	{% include verse.html
		lyrics="ああ|目の前には広い広い海"
		romaji="aa|me no mae ni wa hiroi hiroi umi"
	%}
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="荒れた道を進む|二人組の女/美しき魔道師とその愛弟子/魔剣を求めて|西からやってきた/ああ|目の前には長い長い壁"
		romaji="areta michi susumu|futari gumi no onna/utsukushiki madoushi to sono manadeshi/maken wo motomete|nishi kara yattekita/aa|me no mae ni wa nagai nagai kabe"
	%}
	{% include verse.html
		lyrics="あの壁を越えたならば|目的地まであと少し"
		romaji="ano kabe wo koeta naraba|mokutekichi made ato sukoshi"
	%}
	{% include verse.html
		lyrics="壁に近づく|二人組の女/そこに立ちふさがる|一人の男/異国の者どもよ|立ち去るがいい/俺は偉大な王から|こう命じられてる"
		romaji="kabe ni chikadzuku|futari gumi no onna/soko ni tachifusagaru|hitori no otoko/ikoku no monodomo yo|tachisaru ga ii/ore wa idaina ou kara|kou meijirareteru"
	%}
	{% include verse.html
		lyrics="「我が国の民以外は|誰もここを通すな」と"
		romaji="&quot;wa ga kuni no tami igai wa|daremo koko wo toosu na&quot; to"
	%}
	{% include verse.html
		lyrics="壁から離れた|二人組の女/髪を黒く塗る|男と同じ色/国の民を装い|進もうとするが/男は再び|首を横に振る"
		romaji="kabe kara hanareta|futari gumi no onna/kami wo kuroku nuru|otoko to onaji iro/kuni no tami wo yosooi|susumou tosuru ga/otoko wa futatabi|kubi wo yoko ni furu"
	%}
	{% include verse.html
		lyrics="「我が国の民の肌は|そんな奇妙に白くない」"
		romaji="&quot; wa ga kuni no tami no hada wa|sonna kimyou ni shirokunai"
	%}
	{% include verse.html
		lyrics="壁から離れた|二人組の女/顔に泥を塗る|男と同じ肌/今度こそはと|進もうとするが/男はまたもや|首を横に振る"
		romaji="kabe kara hanareta|futari gumi no onna/kao ni doro wo nuru|otoko to onaji hada/kondo koso wa to|susumou tosuru ga/otoko wa matamoya|kubi wo yoko ni furu"
	%}
	{% include verse.html
		lyrics="「我が国の民の瞳は|そんな不気味な色じゃない」"
		romaji="&quot;wa ga kuni no tami no hitomi wa|sonna bukimina iro janai"
	%}
	{% include verse.html
		lyrics="悪く思うな旅人よ/偉大で広大な我が国を守るためには/この壁と俺のような番人が必要なのだ"
		romaji="waruku omouna tabibito yo/idai de goudaina wa ga kuni wo mamoru tame ni wa/kono kabe to ore no youna bannin ga hitsuyouna no da"
	%}
	{% include verse.html
		lyrics="業を煮やした|魔道師の女/風を巻き起こし|男を吹き飛ばす/壁の扉を開け|先に進むと/そこには何もない|何もなかった"
		romaji="gou wo niyashita|madoushi no onna/kaze wo makiokoshi|otoko wo bukitobasu/kabe no tobira wo ake|saki ni susumu to/soko ni wa nanimo nai|nanimo nakatta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="あの番人が守ってたのは|一体なんだったのだろう？"
		romaji="ano bannin ga mamotteta no wa|ittai nan datta no darou?"
	%}
	{% include verse.html
		lyrics="荒れた道を進む|二人組の女/美しき魔道師とその愛弟子/魔剣を求めて|東へと進む"
		romaji="areta michi susumu|futari gumi no onna/utsukushiki madoushi to sono manadeshi/maken wo motomete|higashi he to susumu"
	%}
	{% include verse.html
		lyrics="ああ|目の前には広い広い海"
		romaji="aa|me no mae ni wa hiroi hiroi umi"
	%}
</div>