---
english-name: Judgment of Corruption
image: /assets/images/thumbs/Judgment.jpg
translation: https://pricechecktranslations.tumblr.com/post/106092597570
mothyrights: <em>The Evillious Chronicles</em>|<em>Judgment of Corruption</em>
notes: Some typos in the original lyric text have been fixed.
---
<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="汚された司法/被告の貧富で決まる罪状/法廷の主（master of the court）たる/私が望むのは|正義より金"
			romaji="yogosareta shihou/hikoku no hinpu de kimaru zaijou/houtei no nushi taru/watashi ga nozomu no wa|seigi yori kane"
		%}
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae haraeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは|金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa|kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが欲しけりゃ金を出せ"
			romaji="omae no jinsei wa watashi shidai/sukui ga hoshikerya kane wo dase"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を渡しなさい"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの|悪辣将軍/死罪が当然/渡された賄賂|私は被告に/無罪を告げた"
			romaji="minshuugoroshi no|akuratsu shougun/shizai ga touzen/watasareta wairo|watashi wa hikoku ni/muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り|始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari|hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら|恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara|kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		{% include verse.html
			lyrics="目が覚めた時に|一人いた場所は/冥界の門/天国か地獄か|それを決めるのは/冥界の主（master of the hellish yard）"
			romaji="me ga sameta toki ni|hitori ita basho wa/meikai no mon/tengoku ka jigoku ka|sore wo kimeru no wa/meikai no nushi"
		%}
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae hanaeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主に/そっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni/sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産|貴様なんぞには|決して渡さない」"
			romaji="&quot;watashi no zaisan|kisama nanzo ni wa|kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		{% include verse.html
			lyrics="そういつか再びこの手に集めよう/大罪のフラグメント/その時に地獄は私と娘の/理想郷（ユートピア）へと変わるだろう…"
			romaji="sou itsuka futatabi kono te ni atsumeyou/taizai no FURAGUMENTO/sono toki ni jigoku wa watashi to musume no/YUUTOPIA he to kawaru darou..."
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="汚された司法" rom="yogosareta shihou" %}<br />
			{% include lyric.html lyric="被告の貧富で決まる罪状" rom="hikoku no hinpu de kimaru zaijou" %}<br />
			{% include lyric.html lyric="<ruby>master of the court<rp>(</rp><rt>法廷の主</rt><rp>)</rp></ruby>たる" rom="houtei no nushi taru" %}<br />
			{% include lyric.html lyric="私が望むのは|正義より金" rom="watashi ga nozomu no wa|seigi yori kane" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば救ってやるさ/地獄の沙汰も|金次第"
			romaji="gokuakunin demo/kane sae haraeba sukutteyaru sa/jigoku no sata mo|kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが|欲しけりゃ|金を出せ！"
			romaji="omae no jinsei wa watashi shidai/sukui ga|hoshikerya|kane wo dase!"
		%}
		{% include verse.html
			lyrics="そう|罪は私の|さじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を|渡しなさい"
			romaji="sou|tsumi wa watashi no|sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo|watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの悪辣将軍/死罪が当然/渡された賄賂/私は被告に無罪を告げた"
			romaji="minshuugoroshi no akuratsu shougun/shizai ga touzen/watasareta wairo/watashi wa hikoku ni muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り/始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari/hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		<p>
			{% include lyric.html lyric="目が覚めた時に" rom="me ga sameta toki ni" %}<br />
			{% include lyric.html lyric="一人いた場所は" rom="hitori ita basho wa" %}<br />
			{% include lyric.html lyric="冥界の門" rom="meikai no mon" %}<br />
			{% include lyric.html lyric="天国か地獄か|それを決めるのは" rom="tengoku ka jigoku ka|sore wo kimeru no wa" %}<br />
			{% include lyric.html lyric="<ruby>master of the hellish yard<rp>(</rp><rt>冥界の主</rt><rp>)</rp></ruby>" rom="meikai no nushi" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも|金さえ払えば/救ってやるさ/地獄の沙汰も|金次第"
			romaji="gokuakunin demo|kane sae hanaeba/sukutteyaru sa/jigoku no sata mo|kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主にそっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産」/「貴様なんぞには」/「決して渡さない」"
			romaji="&quot;watashi no zaisan&quot;/&quot;kisama nanzo ni wa&quot;/&quot;kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		<p>
			{% include lyric.html lyric="そういつか再びこの手に集めよう" rom="sou itsuka futatabi kono te ni atsumeyou" %}<br />
			{% include lyric.html lyric="大罪のフラグメント" rom="taizai no FURAGUMENTO" %}<br />
			{% include lyric.html lyric="その時に地獄は私と娘の" rom="sono toki ni jigoku wa watashi to musume no" %}<br />
			{% include lyric.html lyric="<ruby>理想郷<rp>(</rp><rt>ユートピア</rt><rp>)</rp></ruby>へと変わるだろう…" rom="YUUTOPIA he to kawaru darou..." %}
		</p>
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="汚された司法/被告の貧富で決まる罪状/法廷の主（master of the court）たる/私が望むのは|正義より金"
			romaji="yogosareta shihou/hikoku no hinpu de kimaru zaijou/houtei no nushi taru/watashi ga nozomu no wa|seigi yori kane"
		%}
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae haraeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは|金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa|kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが欲しけりゃ金を出せ"
			romaji="omae no jinsei wa watashi shidai/sukui ga hoshikerya kane wo dase"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を渡しなさい"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの|悪辣将軍/死罪が当然/渡された賄賂|私は被告に/無罪を告げた"
			romaji="minshuugoroshi no|akuratsu shougun/shizai ga touzen/watasareta wairo|watashi wa hikoku ni/muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り|始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari|hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら|恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara|kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		{% include verse.html
			lyrics="目が覚めた時に|一人いた場所は/冥界の門/天国か地獄か|それを決めるのは/冥界の主（master of the hellish yard）"
			romaji="me ga sameta toki ni|hitori ita basho wa/meikai no mon/tengoku ka jigoku ka|sore wo kimeru no wa/meikai no nushi"
		%}
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae hanaeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主に/そっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni/sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産|貴様なんぞには/決して渡さない」"
			romaji="&quot;watashi no zaisan|kisama nanzo ni wa/kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		{% include verse.html
			lyrics="そういつか再びこの手に集めよう/大罪のフラグメント/その時に地獄は私と娘の/理想郷（ユートピア）へと/変わるだろう…"
			romaji="sou itsuka futatabi kono te ni atsumeyou/taizai no FURAGUMENTO/sono toki ni jigoku wa watashi to musume no/YUUTOPIA he to/kawaru darou..."
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="汚された司法"
			romaji="yogosareta shihou"
		%}
		{% include verse.html
			lyrics="被告の貧富で決まる罪状/法廷の主（master of the court）たる/私が望むのは|正義より金"
			romaji="hikoku no hinpu de kimaru zaijou/houtei no nushi taru/watashi ga nozomu no wa|seigi yori kane"
		%}
		{% include verse.html
			lyrics="極悪人でも"
			romaji="gokuakunin demo"
		%}
		{% include verse.html
			lyrics="金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="kane sae haraeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは|金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa|kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが欲しけりゃ金を出せ"
			romaji="omae no jinsei wa watashi shidai/sukui ga hoshikerya kane wo dase"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を渡しなさい"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの|悪辣将軍/死罪が当然/渡された賄賂|私は被告に/無罪を告げた"
			romaji="minshuugoroshi no|akuratsu shougun/shizai ga touzen/watasareta wairo|watashi wa hikoku ni/muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り|始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari|hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら|恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara|kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		{% include verse.html
			lyrics="目が覚めた時に/|一人いた場所は/冥界の門/天国か地獄か|それを決めるのは/冥界の主（master of the hellish yard）"
			romaji="me ga sameta toki ni/|hitori ita basho wa/meikai no mon/tengoku ka jigoku ka|sore wo kimeru no wa/meikai no nushi"
		%}
		{% include verse.html
			lyrics="極悪人でも"
			romaji="gokuakunin demo"
		%}
		{% include verse.html
			lyrics="金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="kane sae hanaeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主に/そっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni/sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産|貴様なんぞには|決して渡さない」"
			romaji="&quot;watashi no zaisan|kisama nanzo ni wa|kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		{% include verse.html
			lyrics="そういつか再びこの手に集めよう/大罪のフラグメント/その時に地獄は私と娘の/理想郷（ユートピア）へと変わるだろう…"
			romaji="sou itsuka futatabi kono te ni atsumeyou/taizai no FURAGUMENTO/sono toki ni jigoku wa watashi to musume no/YUUTOPIA he to kawaru darou..."
		%}
	</div>
</div>

<div>
	<h3><em>EXIT TUNES PRESENTS Kaitonation feat. KAITO</em></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="汚された司法"
			romaji="yogosareta shihou"
		%}
		<p>
			{% include lyric.html lyric="被告の貧富で|決まる罪状" rom="hikoku no hinpu de|kimaru zaijou" %}<br />
			{% include lyric.html lyric="<ruby>法廷の主<rp>(</rp><rt>master of the court</rt><rp>)</rp></ruby>たる" rom="houtei no nushi taru" %}<br />
			{% include lyric.html lyric="私が望むのは|正義より金" rom="watashi ga nozomu no wa|seigi yori kane" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae haraeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは|金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa|kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが欲しけりゃ金を出せ"
			romaji="omae no jinsei wa watashi shidai/sukui ga hoshikerya kane wo dase"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を渡しなさい"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの|悪辣将軍/死罪が当然/渡された賄賂|私は被告に/無罪を告げた"
			romaji="minshuugoroshi no|akuratsu shougun/shizai ga touzen/watasareta wairo|watashi wa hikoku ni/muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り|始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari|hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら|恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara|kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		<p>
			{% include lyric.html lyric="目が覚めた時に|一人いた場所は" rom="me ga sameta toki ni|hitori ita basho wa" %}<br />
			{% include lyric.html lyric="冥界の門" rom="meikai no mon" %}<br />
			{% include lyric.html lyric="天国か地獄か|それを決めるのは" rom="tengoku ka jigoku ka|sore wo kimeru no wa" %}<br />
			{% include lyric.html lyric="<ruby>冥界の主<rp>(</rp><rt>master of the hellish yard</rt><rp>)</rp></ruby>" rom="meikai no nushi" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば|救ってやるさ/地獄の沙汰も金次第"
			romaji="gokuakunin demo/kane sae hanaeba|sukutteyaru sa/jigoku no sata mo kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主に/そっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni/sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産|貴様なんぞには|決して渡さない」"
			romaji="&quot;watashi no zaisan|kisama nanzo ni wa|kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		<p>
			{% include lyric.html lyric="そういつか再びこの手に集めよう" rom="sou itsuka futatabi kono te ni atsumeyou" %}<br />
			{% include lyric.html lyric="大罪のフラグメント" rom="taizai no FURAGUMENTO" %}<br />
			{% include lyric.html lyric="その時に地獄は私と娘の" rom="sono toki ni jigoku wa watashi to musume no" %}<br />
			{% include lyric.html lyric="<ruby>理想郷<rp>(</rp><rt>ユートピア</rt><rp>)</rp></ruby>へと変わるだろう…" rom="YUUTOPIA he to kawaru darou..." %}
		</p>
	</div>
</div>

<div>
	<h3>PV <small>(2020)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="「さあ|開廷の時間だ」"
			romaji="&quot;saa|kaitei no jikan da&quot;"
		%}
		<p>
			{% include lyric.html lyric="汚された司法" rom="yogosareta shihou" %}<br />
			{% include lyric.html lyric="被告の貧富で決まる罪状" rom="hikoku no hinpu de kimaru zaijou" %}<br />
			{% include lyric.html lyric="<ruby>master of the court<rp>(</rp><rt>法廷の主</rt><rp>)</rp></ruby>たる" rom="houtei no nushi taru" %}<br />
			{% include lyric.html lyric="私が望むのは|正義より金" rom="watashi ga nozomu no wa|seigi yori kane" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも/金さえ払えば救ってやるさ/地獄の沙汰も|金次第"
			romaji="gokuakunin demo/kane sae haraeba sukutteyaru sa/jigoku no sata mo|kane shidai"
		%}
		{% include verse.html
			lyrics="容姿や年齢|人種や性別/全て関係ない/大切なことは金が払えるか/ただそれだけだ"
			romaji="youshi ya nenrei|jinshu ya seibetsu/subete kankeinai/taisetsuna koto wa kane ga haraeru ka/tada sore dake da"
		%}
		{% include verse.html
			lyrics="お前の人生は私次第/救いが|欲しけりゃ|金を出せ！"
			romaji="omae no jinsei wa watashi shidai/sukui ga|hoshikerya|kane wo dase!"
		%}
		{% include verse.html
			lyrics="そう|罪は私の|さじ加減ひとつ/悪徳のジャッジメント/冤罪の沼からスクわれたいならば/もっとお金を|渡しなさい"
			romaji="sou|tsumi wa watashi no|sajikagen hitotsu/akutoku no JAJJIMENTO/enzai no numa kara SUKUwaretai naraba/motto okane wo|watashinasai"
		%}
		{% include verse.html
			lyrics="足の不自由な|娘の為にも/金が必要/大罪の器|七つが揃えば/願いは叶う"
			romaji="ashi no fujiyuuna|musume no tame ni mo/kane ga hitsuyou/taizai no utsuwa|nanatsu ga soroeba/negai wa kanau"
		%}
		{% include verse.html
			lyrics="今日も繰り広げられる疑惑の法廷/悪人が笑い善人が泣く"
			romaji="kyou mo kurihirogerareru giwaku no houtei/akunin ga warai zennin ga naku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/自らの悲願を叶えるためならば/非道の槌を振るい続ける"
			romaji="sou tsumi wa watashi no sajikagen hitotsu/akutoku no JAJJIMENTO/mizukara no higan wo kanaeru tame naraba/hidou no tsuchi wo furuitsudzukeru"
		%}
		{% include verse.html
			lyrics="民衆殺しの悪辣将軍/死罪が当然/渡された賄賂/私は被告に無罪を告げた"
			romaji="minshuugoroshi no akuratsu shougun/shizai ga touzen/watasareta wairo/watashi wa hikoku ni muzai wo tsugeta"
		%}
		{% include verse.html
			lyrics="巻き起こる怒り/始まった内戦/殺された将軍/無残な死体|野にさらす"
			romaji="maki okoru ikari/hajimatta naisen/korosareta shougun/muzanna shitai|no ni sarasu"
		%}
		{% include verse.html
			lyrics="怒りの矛先|私へと向かい/燃え盛る家/愛しい「娘」よ/二人一緒なら恐怖などない"
			romaji="ikari no hokosaki|watashi he to mukai/moesakaru ie/itoshii &quot;musume&quot; yo/futari issho nara kyoufu nado nai"
		%}
		{% include verse.html
			lyrics="焼け落ちた屋敷から見つかるだろう/孤独な「親子」の亡骸が…"
			romaji="yakeochita yashiki kara mitsukaru darou/kodokuna &quot;oyako&quot; no nakigara ga..."
		%}
		<p>
			{% include lyric.html lyric="目が覚めた時に" rom="me ga sameta toki ni" %}<br />
			{% include lyric.html lyric="一人いた場所は" rom="hitori ita basho wa" %}<br />
			{% include lyric.html lyric="冥界の門" rom="meikai no mon" %}<br />
			{% include lyric.html lyric="天国か地獄か|それを決めるのは" rom="tengoku ka jigoku ka|sore wo kimeru no wa" %}<br />
			{% include lyric.html lyric="<ruby>master of the hellish yard<rp>(</rp><rt>冥界の主</rt><rp>)</rp></ruby>" rom="meikai no nushi" %}
		</p>
		{% include verse.html
			lyrics="極悪人でも|金さえ払えば/救ってやるさ/地獄の沙汰も|金次第"
			romaji="gokuakunin demo|kane sae hanaeba/sukutteyaru sa/jigoku no sata mo|kane shidai"
		%}
		{% include verse.html
			lyrics="私は微笑み|冥界の主にそっと耳打ち"
			romaji="watashi wa hohoemi|meikai no nushi ni sotto mimiuchi"
		%}
		{% include verse.html
			lyrics="「私の財産」/「貴様なんぞには」/「決して渡さない」"
			romaji="&quot;watashi no zaisan&quot;/&quot;kisama nanzo ni wa&quot;/&quot;kesshite watasanai&quot;"
		%}
		{% include verse.html
			lyrics="扉に飛び込んだこの身体/地獄の底へ落ちて行く"
			romaji="tobira ni tobikonda kono karada/jigoku no soko he ochiteyuku"
		%}
		{% include verse.html
			lyrics="そう罪は私のさじ加減ひとつ/悪徳のジャッジメント/たとえ誰だろうと私のこの罪/裁くことは認めない"
			romaji="sou tsumi wa watashi no saijikagen hitotsu/akutoku no JAJJIMENTO/tatoe dare darou to watashi no kono tsumi/sabaku koto wa mitomenai"
		%}
		<p>
			{% include lyric.html lyric="そういつか再びこの手に集めよう" rom="sou itsuka futatabi kono te ni atsumeyou" %}<br />
			{% include lyric.html lyric="大罪のフラグメント" rom="taizai no FURAGUMENTO" %}<br />
			{% include lyric.html lyric="その時に地獄は私と娘の" rom="sono toki ni jigoku wa watashi to musume no" %}<br />
			{% include lyric.html lyric="<ruby>理想郷<rp>(</rp><rt>ユートピア</rt><rp>)</rp></ruby>へと変わるだろう…" rom="YUUTOPIA he to kawaru darou..." %}
		</p>
	</div>
</div>