---
english-name: The Karma of Evil Will Not End
translation: https://pricechecktranslations.tumblr.com/post/177363390815
mothyrights: <em>The Evillious Chronicles</em>|<em>The Karma of Evil Will Not End</em>
---
<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="黒い夜明け/時が還る"
			romaji="kuroi yoake/toki ga kaeru"
		%}
		{% include verse.html
			lyrics="全て終わり/そして始まり"
			romaji="subete owari/soshite hajimari"
		%}
		<p>
			{% include lyric.html lyric="早すぎた<ruby>再誕<rp>(</rp><rt>リ・バースデー</rt><rp>)</rp></ruby>" rom="hayasugita RI BAASUDEE" %}<br />
			{% include lyric.html lyric="嗚呼|だけど" rom="aa|dakedo" %}<br />
			{% include lyric.html lyric="悪の因果は終わらない" rom="aku no inga wa owaranai" %}
		</p>
		{% include verse.html
			lyrics="私があなたを/許す日は来ない"
			romaji="watashi ga anata wo/yurusu hi wa konai"
		%}
		{% include verse.html
			lyrics="永遠に憎しみ/永遠に愛する"
			romaji="towa ni nikushimi/towa ni aisuru"
		%}
		{% include verse.html
			lyrics="これもまた一つのプロローグ/悪の因果は終わらない"
			romaji="kore mo mata hitotsu no PUROROOGU/aku no inga wa owaranai"
		%}
		{% include verse.html
			lyrics="この目で見た事/聞いた事|全て"
			romaji="kono me de mita koto/kiita koto|subete"
		%}
		{% include verse.html
			lyrics="予言とし伝えよう/神はもういない"
			romaji="yogen toshi tsutaeyou/kami wa mou inai"
		%}
		{% include verse.html
			lyrics="何度でもやり直す/そしていつか|世界に/真なる救済を"
			romaji="nando demo yarinaosu/soshite itsuka|sekai ni/shin naru kyuusai wo"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="黒い夜明け/時が還る"
			romaji="kuroi yoake/toki ga kaeru"
		%}
		{% include verse.html
			lyrics="全て終わり/そして始まり"
			romaji="subete owari/soshite hajimari"
		%}
		{% include verse.html
			lyrics="早すぎた再誕（リバースデー）/嗚呼|だけど/悪の因果は終わらない"
			romaji="hayasugita RIBAASUDEE/aa|dakedo/aku no inga wa owaranai"
		%}
		{% include verse.html
			lyrics="私があなたを/許す日は来ない"
			romaji="watashi ga anata wo/yurusu hi wa konai"
		%}
		{% include verse.html
			lyrics="永遠に憎しみ/永遠に愛する"
			romaji="towa ni nikushimi/towa ni aisuru"
		%}
		{% include verse.html
			lyrics="これもまた一つのプロローグ/悪の因果は終わらない"
			romaji="kore mo mata hitotsu no PUROROOGU/aku no inga wa owaranai"
		%}
		{% include verse.html
			lyrics="この目で見た事/聞いた事|全て"
			romaji="kono me de mita koto/kiita koto|subete"
		%}
		{% include verse.html
			lyrics="予言とし伝えよう/神はもういない"
			romaji="yogen toshi tsutaeyou/kami wa mou inai"
		%}
		{% include verse.html
			lyrics="何度でもやり直す/そしていつか|世界に/真なる救済を"
			romaji="nando demo yarinaosu/soshite itsuka|sekai ni/shin naru kyuusai wo"
		%}
	</div>
</div>