---
english-name: The Last Revolver
translation: https://pricechecktranslations.tumblr.com/post/106116064980
mothyrights: <em>The Evillious Chronicles</em>|<em>The Last Revolver</em>
---
<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="サンタさんがくれた|実弾入りのリボルバーを/目の前に立つあなたに向けた"
		romaji="SANTA-san ga kureta|jitsudan iri no RIBORUBAA wo/me no mae ni tatsu anata ni muketa"
	%}
	{% include verse.html
		lyrics="さよなら|愛しい人"
		romaji="sayonara|itoshii hito"
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/ゴメン|そんなこと/もう無理だってわかっているんだ/最初から二人は|全て違いすぎたから"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/GOMEN|sonna koto/mou muri datte wakatteiru nda/saisho kara futari wa|subete chigaisugita kara"
	%}
	{% include verse.html
		lyrics="桜の木の下で|「悪」の私が出会った/あなたは「正義」側の人でした"
		romaji="sakura no ki no shita de|&quot;aku&quot; no watashi ga deatta/anata wa &quot;seigi&quot; gawa no hito deshita"
	%}
	{% include verse.html
		lyrics="それでも|好きになった"
		romaji="soredemo|suki ni natta"
	%}
	{% include verse.html
		lyrics="人を撃つのはこれが初めてではないけれども/泣きながら撃つのは初めてかな/お願い|悪いのは全て私なんだから/そんな優しい顔をしないで"
		romaji="hito wo utsu no wa kore ga hajimete de wa nai keredomo/naki nagara utsu no wa hajimete ka na/onegai|warui no wa subete watashi nan dakara/sonna yasashii kao wo shinai de"
	%}
	{% include verse.html
		lyrics="春に出会い|恋に落ちた/夏にいっぱい|思い出作った/秋の夜に|ひとつになった/冬にすべて|終わりを告げた"
		romaji="haru ni deai|koi ni ochita/natsu ni ippai|omoide tsukutta/aki no yoru ni|hitotsu ni natta/fuyu ni subete|owari wo tsugeta"
	%}
	{% include verse.html
		lyrics="撃鉄を起こし|指を引き金に/人差し指が|小さく震える/私は最後に「ゴメン」と言った/あなたは最後に…"
		romaji="gekitetsu wo okoshi|yubi wo hikigane ni/hitosashiyubi ga|chiisaku furueru/watashi wa saigo ni &quot;GOMEN&quot; to itta/anata wa saigo ni..."
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/心配しないで/きっとすぐに会えるからね/ずっといっしょにいようねって/いつも言ってたもんね"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/shinpai shinaide/kitto sugu ni aeru kara ne/zutto issho ni iyou ne tte/itsumo itteta mon ne"
	%}
</div>

<div>
	<h3>piapro &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a> &middot; <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="サンタさんがくれた/実弾入りのリボルバーを/目の前に立つあなたに向けた"
		romaji="SANTA-san ga kureta/jitsudan iri no RIBORUBAA wo/me no mae ni tatsu anata ni muketa"
	%}
	{% include verse.html
		lyrics="さよなら|愛しい人"
		romaji="sayonara|itoshii hito"
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/ゴメン|そんなこと/もう無理だってわかっているんだ/最初から二人は/全て違いすぎたから"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/GOMEN|sonna koto/mou muri datte wakatteiru nda/saisho kara futari wa/subete chigaisugita kara"
	%}
	{% include verse.html
		lyrics="桜の木の下で/「悪」の私が出会った/あなたは「正義」側の人でした"
		romaji="sakura no ki no shita de/&quot;aku&quot; no watashi ga deatta/anata wa &quot;seigi&quot; gawa no hito deshita"
	%}
	{% include verse.html
		lyrics="それでも|好きになった"
		romaji="soredemo|suki ni natta"
	%}
	{% include verse.html
		lyrics="人を撃つのはこれが初めてではないけれども/泣きながら撃つのは初めてかな/お願い|悪いのは全て私なんだから/そんな優しい顔をしないで"
		romaji="hito wo utsu no wa kore ga hajimete de wa nai keredomo/naki nagara utsu no wa hajimete ka na/onegai|warui no wa subete watashi nan dakara/sonna yasashii kao wo shinai de"
	%}
	{% include verse.html
		lyrics="春に出会い恋に落ちた/夏にいっぱい思い出作った/秋の夜にひとつになった/冬にすべて終わりを告げた"
		romaji="haru ni deai koi ni ochita/natsu ni ippai omoide tsukutta/aki no yoru ni hitotsu ni natta/fuyu ni subete owari wo tsugeta"
	%}
	{% include verse.html
		lyrics="撃鉄を起こし|指を引き金に/人差し指が|小さく震える/私は最後に「ゴメン」と言った/あなたは最後に…"
		romaji="gekitetsu wo okoshi|yubi wo hikigane ni/hitosashiyubi ga|chiisaku furueru/watashi wa saigo ni &quot;GOMEN&quot; to itta/anata wa saigo ni..."
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/心配しないで|きっとすぐに会えるからね/ずっといっしょにいようねって/いつも言ってたもんね"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/shinpai shinaide|kitto sugu ni aeru kara ne/zutto issho ni iyou ne tte/itsumo itteta mon ne"
	%}
</div>

<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a></h3>
	{% include verse.html
		lyrics="サンタさんがくれた/実弾入りのリボルバーを/目の前に立つあなたに向けた"
		romaji="SANTA-san ga kureta/jitsudan iri no RIBORUBAA wo/me no mae ni tatsu anata ni muketa"
	%}
	{% include verse.html
		lyrics="さよなら|愛しい人"
		romaji="sayonara|itoshii hito"
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/ゴメン|そんなこと/もう無理だってわかっているんだ/最初から二人は/全て違いすぎたから"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/GOMEN|sonna koto/mou muri datte wakatteiru nda/saisho kara futari wa/subete chigaisugita kara"
	%}
	{% include verse.html
		lyrics="桜の木の下で/「悪」の私が出会った/あなたは「正義」側の人でした"
		romaji="sakura no ki no shita de/&quot;aku&quot; no watashi ga deatta/anata wa &quot;seigi&quot; gawa no hito deshita"
	%}
	{% include verse.html
		lyrics="それでも|好きになった"
		romaji="soredemo|suki ni natta"
	%}
	{% include verse.html
		lyrics="人を撃つのはこれが/初めてではないけれども/泣きながら撃つのは初めてかな/お願い|悪いのは/全て私なんだから/そんな優しい顔をしないで"
		romaji="hito wo utsu no wa kore ga/hajimete de wa nai keredomo/naki nagara utsu no wa hajimete ka na/onegai|warui no wa/subete watashi nan dakara/sonna yasashii kao wo shinai de"
	%}
	{% include verse.html
		lyrics="春に出会い恋に落ちた/夏にいっぱい思い出作った/秋の夜にひとつになった/冬にすべて終わりを告げた"
		romaji="haru ni deai koi ni ochita/natsu ni ippai omoide tsukutta/aki no yoru ni hitotsu ni natta/fuyu ni subete owari wo tsugeta"
	%}
	{% include verse.html
		lyrics="撃鉄を起こし|指を引き金に/人差し指が|小さく震える/私は最後に「ゴメン」と言った/あなたは最後に…"
		romaji="gekitetsu wo okoshi|yubi wo hikigane ni/hitosashiyubi ga|chiisaku furueru/watashi wa saigo ni &quot;GOMEN&quot; to itta/anata wa saigo ni..."
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/心配しないで/きっとすぐに会えるからね/ずっといっしょにいようねって/いつも言ってたもんね"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/shinpai shinaide/kitto sugu ni aeru kara ne/zutto issho ni iyou ne tte/itsumo itteta mon ne"
	%}
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	{% include verse.html
		lyrics="サンタさんがくれた/実弾入りのリボルバーを/目の前に立つあなたに向けた"
		romaji="SANTA-san ga kureta/jitsudan iri no RIBORUBAA wo/me no mae ni tatsu anata ni muketa"
	%}
	{% include verse.html
		lyrics="さよなら|愛しい人"
		romaji="sayonara|itoshii hito"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/ゴメン|そんなこと/もう無理だってわかっているんだ/最初から二人は/全て違いすぎたから"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/GOMEN|sonna koto/mou muri datte wakatteiru nda/saisho kara futari wa/subete chigaisugita kara"
	%}
	{% include verse.html
		lyrics="桜の木の下で/「悪」の私が出会った/あなたは「正義」側の人でした"
		romaji="sakura no ki no shita de/&quot;aku&quot; no watashi ga deatta/anata wa &quot;seigi&quot; gawa no hito deshita"
	%}
	{% include verse.html
		lyrics="それでも|好きになった"
		romaji="soredemo|suki ni natta"
	%}
	{% include verse.html
		lyrics="人を撃つのはこれが初めてではないけれども/泣きながら撃つのは初めてかな/お願い|悪いのは全て私なんだから/そんな優しい顔をしないで"
		romaji="hito wo utsu no wa kore ga hajimete de wa nai keredomo/naki nagara utsu no wa hajimete ka na/onegai|warui no wa subete watashi nan dakara/sonna yasashii kao wo shinai de"
	%}
	{% include verse.html
		lyrics="春に出会い恋に落ちた/夏にいっぱい思い出作った/秋の夜にひとつになった/冬にすべて終わりを告げた"
		romaji="haru ni deai koi ni ochita/natsu ni ippai omoide tsukutta/aki no yoru ni hitotsu ni natta/fuyu ni subete owari wo tsugeta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="撃鉄を起こし|指を引き金に/人差し指が|小さく震える/私は最後に「ゴメン」と言った/あなたは最後に…"
		romaji="gekitetsu wo okoshi|yubi wo hikigane ni/hitosashiyubi ga|chiisaku furueru/watashi wa saigo ni &quot;GOMEN&quot; to itta/anata wa saigo ni..."
	%}
	{% include verse.html
		lyrics="もしやり直せるなら/また二人で夏祭りの花火でも/見に行きたいね/心配しないで|きっとすぐに会えるからね/ずっといっしょにいようねって/いつも言ってたもんね"
		romaji="moshiyari naoseru nara/mata futari de natsu matsuri no hanabi demo/mi ni ikitai ne/shinpai shinaide|kitto sugu ni aeru kara ne/zutto issho ni iyou ne tte/itsumo itteta mon ne"
	%}
</div>