---
english-name: The Letter She Kept Waiting For
image: /assets/images/thumbs/ReachForTheStars.png
translation: https://pricechecktranslations.tumblr.com/post/103912631390
trans2: <small>(<a href="https://pricechecktranslations.tumblr.com/post/187077253140">Reach For The Stars</a>)</small>
mothyrights: <em>The Evillious Chronicles</em>|<em>The Letter She Kept Waiting For</em>
---
<div>
	<h3><em>Triangle ―vol. 1―</em></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="小さいころ親に捨てられ|海の見える孤児院で育った/養ってくれたのは|年老いた修道女/彼女はとても優しくて|いつもニコニコ笑ってた/たとえ貧しい生活でも|僕らは皆|幸せだった"
			romaji="chiisai koro oya ni sutaterare|umi no mieru kojin de sodatta/yashinattekureta no wa|toshioita shuudoujo/kanojo wa totemo yasashikute|itsumo NIKONIKO waratteta/tatoe mazushii seikatsu demo|bokura wa mina|shiawase datta"
		%}
		{% include verse.html
			lyrics="やがて彼女は病に伏し|天に召される日が近づいた/彼女の枕元で|僕らはこう言った/ここまで育ててくれた|あなたに恩返しがしたい/どんな無茶でもかまわない|何か願いはないですか？"
			romaji="yagate kanojo wa yamai ni fushi|ten ni mesareru hi ga chikadzuita/kanojo no mukaramoto de|bokura wa kou itta/koko made sodatetekureta|anata ni ongaeshi ga shitai/donna mucha demo kamawanai|nanika negai wa nai desu ka?"
		%}
		{% include verse.html
			lyrics="彼女はにこりと微笑み|こんな風に答えてきた/私はずっと待っている|手紙の返事を待っている/若かったあの日に出した|届いたかどうかもわからない手紙を"
			romaji="kanojo wa nikori to hohoemi|konna fuu ni kotaetekita/watashi wa zutto matteiru|tegami no henji wo matteiru/wakatta ano hi ni dashita|todoita ka douka mo wakaranai tegami wo"
		%}
		{% include verse.html
			lyrics="もしも願いが叶うなら|もしも罪が許されるなら/あの手紙の返事が欲しい|それを待っている"
			romaji="moshimo negai ga kanau nara|moshimo tsumi ga yurusareru nara/ano tegami no henji ga hoshii|sore wo matteiru"
		%}
		{% include verse.html
			lyrics="叶えられるはずもない願い|どうか忘れてと彼女は笑う/彼女の出した手紙|誰に送ったものなのか？/僕らはみんなで手分けして|国中を探して回った/そして彼女の過去を知る|画家の老人を見つけた"
			romaji="kanaerareru hazu mo nai negai|douka wasurete to kanojo wa warau/kanojo no dashita tegami|dare ni okutta mono na no ka?/bokura wa minna de tewakeshite|kunijuu wo sagashite mawatta/soshite kanojo no kako wo shiru|gaka no ryoujin wo mitsuketa"
		%}
		{% include verse.html
			lyrics="老人が語る真実|彼女はかつて人を殺した/多くの人が不幸になり|多くの人が涙を流した/手紙を送った相手は|もうこの世にはいない人/返事が来ることはない"
			romaji="roujin ga kataru shinjitsu|kanojo wa katsute hito wo koroshita/ooku no hito ga fukou ni nari|ooku no hito ga namida wo nagashita/tegami wo okutta aite wa|mou kono yo ni wa inai hito/henji ga kuru koto wa nai"
		%}
		{% include verse.html
			lyrics="それでも彼女は待つのだろう|その身が朽ち果てた後でも/きっと彼女は待つのだろう|返事が来るまで"
			romaji="soredemo kanojo wa matsu no darou|sono mi ga kuchihateta ato demo/kitto kanojo wa matsu no darou|henji ga kuru made"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた|彼女の生涯は幕を閉じる/僕は彼女の手の中|一枚の羊皮紙を渡す"
			romaji="tsui ni sono toki wa yattekita|kanojo no shougai wa maku wo tojiru/boku wa kanojo no te no naka|ichimai no youhishi wo watasu"
		%}
		{% include verse.html
			lyrics="それは僕が昨日書いた|偽りの手紙の返事/彼女はそれを一目見ると|最後に「ありがとう」と言った"
			romaji="sore wa boku ga kinou kaita|itsuwari no tegami no henji/kanojo wa sore wo hitome miru to|saigo ni &quot;aritagou&quot; to itta"
		%}
		{% include verse.html
			lyrics="消えていく悲しき願い|いつも通りのあの笑顔/罪に気付くのはいつだって|全て終わった後"
			romaji="kieteiku kanashiki negai|itsumo doori no ano egao/tsumi ni kidzuku no wa itsu datte|subete owatta ato"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今夜も彼女は願い胸に/星に手を伸ばす"
			romaji="kon'ya mo kanojo wa negai mune ni/hoshi ni te wo nobasu"
		%}
		{% include verse.html
			lyrics="親に捨てられた僕らは/海の見える孤児院で育った/養ってくれたのは/年老いた修道女/とても優しい彼女は/いつもニコニコ笑ってた/貧しい暮らしの中でも/僕らは皆|幸せだった"
			romaji="oya ni suterareta bokura wa/umi no mieru kojin de sodatta/yashinattekureta no wa/toshioita shuudoujo/totemo yasashii kanojo wa/itsumo NIKONIKO waratteta/mazushii kurashi no naka demo/bokura wa mina|shiawase datta"
		%}
		{% include verse.html
			lyrics="ある日彼女は病に伏し/星に召される日が近づいた/彼女の枕元で/僕らはこう言った/立派にここまで育ててくれた/あなたに恩返しがしたい/どんな無茶でもかまわない/何か願いはないですか？"
			romaji="aru hi kanojo wa yamai ni fushi/hoshi ni mesareru hi ga chikadzuita/kanojo no makuramoto de/bokura wa kou itta/rippa ni koko made sodatetekureta/anata ni ongaeshi ga shitai/donna mucha demo kamawanai/nanika negai wa nai desu ka?"
		%}
		{% include verse.html
			lyrics="彼女はにこりと微笑み/こんな風に答えてきた/私はずっと待っている/手紙の返事を待っている/若かったあの日に出した/届いたかどうかもわからない/手紙を"
			romaji="kanojo wa nikori to hohoemi/konna fuu ni kotaetekita/watashi wa zutto matteiru/tegami no henji wo matteiru/wakakatta ano hi ni dashita/todoita ka douka mo wakaranai/tegami wo"
		%}
		{% include verse.html class="versebreak"
			lyrics="もしも願いが叶うなら/もしも罪が許されるなら/あの手紙の返事が欲しい/それを待っている"
			romaji="moshimo negai ga kanau nara/moshimo tsumi ga yurusareru nara/ano tegami no henji ga hoshii/sore wo matteiru"
		%}
		{% include verse.html
			lyrics="叶えられるはずもない願い/どうか忘れてと彼女は笑う/誰に出した手紙かさえ/教えてはくれなかった/僕らはみんなで手分けして/国中を探して回った/そして彼女の過去を知る/画家の老人を見つけた"
			romaji="kanaerareru hazu mo nai negai/douka wasurete to kanojo wa warau/dare ni dashita tegami ka sae/oshiete wa kurenakatta/bokura wa minna de tewakeshite/kunijuu wo sagashite mawatta/soshite kanojo no kako wo shiru/gaka no ryoujin wo mitsuketa"
		%}
		{% include verse.html
			lyrics="老人が語る真実/彼女はかつて人を殺した/多くの人が不幸になり/多くの人が涙を流した/その罪を背負い死んだ人/それが彼女の手紙の相手/返事が来ることはない"
			romaji="ryoujin ga kataru shinjitsu/kanojo wa katsute hito wo koroshita/ooku no hito ga fukou ni nari/ooku no hito ga namida wo nagashita/sono tsumi wo seoi shinda hito/sore ga kanojo no tegami no aite/henji ga kuru koto wa nai"
		%}
		{% include verse.html
			lyrics="それでも彼女は待つのだろう/その身が朽ち果てた後でも/きっと彼女は待つのだろう/返事が来るまで"
			romaji="soredemo kanojo wa matsu no darou/sono mi ga kuchihateta ato demo/kitto kanojo wa matsu no darou/henji ga kuru made"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた/終わりを告げる教会の鐘/しわだらけの彼女の手に/一枚の羊皮紙を渡した"
			romaji="tsui ni sono toki wa yattekita/owari wo tsugeru kyoukai no kane/shiwadarake no kanojo no te ni/ichimai no youhishi wo watashita"
		%}
		{% include verse.html
			lyrics="それは僕が昨日書いた/偽りの手紙の返事/彼女はそれを読み終えると/最後に「ありがとう」と言った"
			romaji="sore wa boku ga kinou kaita/itsuwari no tegami no henji/kanojo wa sore wo yomioeru to/saigo ni &quot;arigatou&quot; to itta"
		%}
		{% include verse.html
			lyrics="星に消えゆく悲しき願い/いつも通りのあの笑顔/罪に気付くのはいつだって/全て終わった後"
			romaji="hoshi ni kieyuku kanashiki negai/itsumo doori no ano egao/tsumi ni kidzuku no wa itsu datte/subete owatta ato"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今夜も彼女は願い胸に/星に手を伸ばす"
			romaji="kon'ya mo kanojo wa negai mune ni/hoshi ni te wo nobasu"
		%}
		{% include verse.html
			lyrics="親に捨てられた僕らは|海の見える孤児院で育った/養ってくれたのは|年老いた修道女/とても優しい彼女は|いつもニコニコ笑ってた/貧しい暮らしの中でも|僕らは皆|幸せだった"
			romaji="oya ni suterareta bokura wa|umi no mieru kojin de sodatta/yashinattekureta no wa|toshioita shuudoujo/totemo yasashii kanojo wa|itsumo NIKONIKO waratteta/mazushii kurashi no naka demo|bokura wa mina|shiawase datta"
		%}
		{% include verse.html
			lyrics="ある日彼女は病に伏し|星に召される日が近づいた/彼女の枕元で|僕らはこう言った/立派にここまで育ててくれた|あなたに恩返しがしたい/どんな無茶でもかまわない|何か願いはないですか？"
			romaji="aru hi kanojo wa yamai ni fushi|hoshi ni mesareru hi ga chikadzuita/kanojo no makuramoto de|bokura wa kou itta/rippa ni koko made sodatetekureta|anata ni ongaeshi ga shitai/donna mucha demo kamawanai|nanika negai wa nai desu ka?"
		%}
		{% include verse.html
			lyrics="彼女はにこりと微笑み|こんな風に答えてきた/私はずっと待っている|手紙の返事を待っている/若かったあの日に出した|届いたかどうかもわからない/手紙を"
			romaji="kanojo wa nikori to hohoemi|konna fuu ni kotaetekita/watashi wa zutto matteiru|tegami no henji wo matteiru/wakakatta ano hi ni dashita|todoita ka douka mo wakaranai/tegami wo"
		%}
		{% include verse.html
			lyrics="もしも願いが叶うなら/もしも罪が許されるなら/あの手紙の返事が欲しい/それを待っている"
			romaji="moshimo negai ga kanau nara/moshimo tsumi ga yurusareru nara/ano tegami no henji ga hoshii/sore wo matteiru"
		%}
		{% include verse.html
			lyrics="叶えられるはずもない願い|どうか忘れてと彼女は笑う/誰に出した手紙かさえ|教えてはくれなかった/僕らはみんなで手分けして|国中を探して回った/そして彼女の過去を知る|画家の老人を見つけた"
			romaji="kanaerareru hazu mo nai negai|douka wasurete to kanojo wa warau/dare ni dashita tegami ka sae|oshiete wa kurenakatta/bokura wa minna de tewakeshite|kunijuu wo sagashite mawatta/soshite kanojo no kako wo shiru|gaka no ryoujin wo mitsuketa"
		%}
		{% include verse.html
			lyrics="老人が語る真実|彼女はかつて人を殺した/多くの人が不幸になり|多くの人が涙を流した/その罪を背負い死んだ人|それが彼女の手紙の相手"
			romaji="ryoujin ga kataru shinjitsu|kanojo wa katsute hito wo koroshita/ooku no hito ga fukou ni nari|ooku no hito ga namida wo nagashita/sono tsumi wo seoi shinda hito|sore ga kanojo no tegami no aite"
		%}
		{% include verse.html
			lyrics="返事が来ることはない"
			romaji="henji ga kuru koto wa nai"
		%}
		{% include verse.html
			lyrics="それでも彼女は待つのだろう/その身が朽ち果てた後でも/きっと彼女は待つのだろう/返事が来るまで"
			romaji="soredemo kanojo wa matsu no darou/sono mi ga kuchihateta ato demo/kitto kanojo wa matsu no darou/henji ga kuru made"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた|終わりを告げる教会の鐘/しわだらけの彼女の手に|一枚の羊皮紙を渡した"
			romaji="tsui ni sono toki wa yattekita|owari wo tsugeru kyoukai no kane/shiwadarake no kanojo no te ni|ichimai no youhishi wo watashita"
		%}
		{% include verse.html
			lyrics="それは僕が昨日書いた/偽りの手紙の返事/彼女はそれを読み終えると"
			romaji="sore wa boku ga kinou kaita/itsuwari no tegami no henji/kanojo wa sore wo yomioeru to"
		%}
		{% include verse.html
			lyrics="最後に「ありがとう」と言った"
			romaji="saigo ni &quot;arigatou&quot; to itta"
		%}
		{% include verse.html
			lyrics="星に消えゆく悲しき願い/いつも通りのあの笑顔/罪に気付くのはいつだって/全て終わった後"
			romaji="hoshi ni kieyuku kanashiki negai/itsumo doori no ano egao/tsumi ni kidzuku no wa itsu datte/subete owatta ato"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今夜も彼女は願い胸に|星に手を伸ばす"
			romaji="kon'ya mo kanojo wa negai mune ni|hoshi ni te wo nobasu"
		%}
		{% include verse.html
			lyrics="親に捨てられた僕らは|海の見える孤児院で育った/養ってくれたのは|年老いた修道女/とても優しい彼女は|いつもニコニコ笑ってた/貧しい暮らしの中でも|僕らは皆|幸せだった"
			romaji="oya ni suterareta bokura wa|umi no mieru kojin de sodatta/yashinattekureta no wa|toshioita shuudoujo/totemo yasashii kanojo wa|itsumo NIKONIKO waratteta/mazushii kurashi no naka demo|bokura wa mina|shiawase datta"
		%}
		{% include verse.html
			lyrics="ある日彼女は病に伏し|星に召される日が近づいた/彼女の枕元で|僕らはこう言った/立派にここまで育ててくれた|あなたに恩返しがしたい/どんな無茶でもかまわない|何か願いはないですか？"
			romaji="aru hi kanojo wa yamai ni fushi|hoshi ni mesareru hi ga chikadzuita/kanojo no makuramoto de|bokura wa kou itta/rippa ni koko made sodatetekureta|anata ni ongaeshi ga shitai/donna mucha demo kamawanai|nanika negai wa nai desu ka?"
		%}
		{% include verse.html
			lyrics="彼女はにこりと微笑み|こんな風に答えてきた/私はずっと待っている|手紙の返事を待っている/若かったあの日に出した|届いたかどうかもわからない手紙を"
			romaji="kanojo wa nikori to hohoemi|konna fuu ni kotaetekita/watashi wa zutto matteiru|tegami no henji wo matteiru/wakakatta ano hi ni dashita|todoita ka douka mo wakaranai tegami wo"
		%}
		{% include verse.html
			lyrics="もしも願いが叶うなら|もしも罪が許されるなら/あの手紙の返事が欲しい|それを待っている"
			romaji="moshimo negai ga kanau nara|moshimo tsumi ga yurusareru nara/ano tegami no henji ga hoshii|sore wo matteiru"
		%}
		{% include verse.html
			lyrics="叶えられるはずもない願い|どうか忘れてと彼女は笑う/誰に出した手紙かさえ|教えてはくれなかった/僕らはみんなで手分けして|国中を探して回った/そして彼女の過去を知る|画家の老人を見つけた"
			romaji="kanaerareru hazu mo nai negai|douka wasurete to kanojo wa warau/dare ni dashita tegami ka sae|oshiete wa kurenakatta/bokura wa minna de tewakeshite|kunijuu wo sagashite mawatta/soshite kanojo no kako wo shiru|gaka no ryoujin wo mitsuketa"
		%}
		{% include verse.html
			lyrics="老人が語る真実|彼女はかつて人を殺した/多くの人が不幸になり|多くの人が涙を流した/その罪を背負い死んだ人|それが彼女の手紙の相手/返事が来ることはない"
			romaji="ryoujin ga kataru shinjitsu|kanojo wa katsute hito wo koroshita/ooku no hito ga fukou ni nari|ooku no hito ga namida wo nagashita/sono tsumi wo seoi shinda hito|sore ga kanojo no tegami no aite/henji ga kuru koto wa nai"
		%}
		{% include verse.html
			lyrics="それでも彼女は待つのだろう|その身が朽ち果てた後でも/きっと彼女は待つのだろう|返事が来るまで"
			romaji="soredemo kanojo wa matsu no darou|sono mi ga kuchihateta ato demo/kitto kanojo wa matsu no darou|henji ga kuru made"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた|終わりを告げる教会の鐘/しわだらけの彼女の手に|一枚の羊皮紙を渡した"
			romaji="tsui ni sono toki wa yattekita|owari wo tsugeru kyoukai no kane/shiwadarake no kanojo no te ni|ichimai no youhishi wo watashita"
		%}
		{% include verse.html
			lyrics="それは僕が昨日書いた|偽りの手紙の返事/彼女はそれを読み終えると|最後に「ありがとう」と言った"
			romaji="sore wa boku ga kinou kaita|itsuwari no tegami no henji/kanojo wa sore wo yomioeru to|saigo ni &quot;arigatou&quot; to itta"
		%}
		{% include verse.html
			lyrics="星に消えゆく悲しき願い|いつも通りのあの笑顔/罪に気付くのはいつだって|全て終わった後"
			romaji="hoshi ni kieyuku kanashiki negai|itsumo doori no ano egao/tsumi ni kidzuku no wa itsu datte|subete owatta ato"
		%}
	</div>
</div>