---
english-name: The Lunacy of Duke Venomania
translation: https://pricechecktranslations.tumblr.com/post/109439331405
mothyrights: <em>The Evillious Chronicles</em>|<em>The Lunacy of Duke Venomania</em>
---
<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/微笑みを浮かべる貴女は/新しい妻となる/禁断の悪魔との契約/手に入れた|この力/僕を見た|全ての女は/魅了され|堕ちていく"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/hohoemi wo ukaberu anata wa/atarashii tsuma to naru/kindan no akuma to no keiyaku/te ni ireta|kono chikara/boku wo mita|subete no onna wa/miryousare|ochiteiku"
		%}
		{% include verse.html
			lyrics="女性を魅了する力を手に入れた/男は一人住む屋敷の地下室に/気に入った女を次々と連れ込み/ハーレムを作り上げた"
			romaji="josei wo miryousuru chikara wo te ni ireta/otoko wa hitori sumu yashiki no chikashitsu ni/ki ni itta onna wo tsugitsugi to tsurekomi/HAAREMU wo tsukuriageta"
		%}
		{% include verse.html
			lyrics="毒を秘めたリビドーの味/突き刺した刃の快楽/血と汗は混じり合いやがて/紫の滴へと変わる"
			romaji="doku wo himeta RIBIDOO no aji/tsukisashita yaiba no kairaku/chi to ase wa majiriai yagate/murasaki no shizuku he to kawaru"
		%}
		{% include verse.html
			lyrics="服を脱ぎ捨て抱き合えば/現実へはもう二度と戻れない"
			romaji="fuku wo nugisute dakiaeba/genjitsu he wa mou nido to modorenai"
		%}
		{% include verse.html
			lyrics="燃やされた昔の肖像画/捨て去った過去の僕/誰しもがあざけり笑った/あの顔は忘れたい/傍らの可愛い娘を/抱き寄せてキスをする/彼女はそう|かつて僕のこと/馬鹿にした幼馴染"
			romaji="moyasareta mukashi no shouzouga/sutesatta kako no boku/dareshimo ga azakeri waratta/ano kao wa wasuretai/katawara no kawaii onna wo/daikiyosete KISU wo suru/kanojo wa sou|katsute boku no koto/baka ni shita osananajimi"
		%}
		{% include verse.html
			lyrics="ある日を境にして国中の女が/いつしか次々と行くへをくらませた/あるものは女房|あるものは娘を/失い途方に暮れた"
			romaji="aru hi wo sakai ni shite kunijuu no onna ga/itsushika tsugitsugi to yuku he wo kuramaseta/aru mono wa nyoubou|aru mono wa musume wo/ushinai tohou ni kureta"
		%}
		{% include verse.html
			lyrics="闇に染まるリビドーの色/とどまらぬ無限の情欲/幻想は全てを呑み込み/僕はもう人ではなくなる"
			romaji="yami ni somaru RIBIDOO no iro/todomaranu mugen no jouyoku/gensou wa subete wo nomikomi/boku wa mou hito de wa naku naru"
		%}
		{% include verse.html
			lyrics="神に逆らい堕落する/これが僕の望んでた狂気のnight"
			romaji="kami ni sakarai darakusuru/kore ga boku no nozondeta kyouki no night"
		%}
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/さあおいで僕の胸の中/踊ろうよこのハーレムで/近づいた貴方を抱きしめ/微笑んだその瞬間/突然の鋭い痛みと/血に染まる僕の胸"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/saa oide boku no mune no naka/odorou yo kono HAAREMU de/chikadzuita anata wo dakishime/hohoenda sono shunkan/totsuzen no surudoi itami to/chi ni somaru boku no mune"
		%}
		{% include verse.html
			lyrics="消えた恋人を探してた若者/居場所を突き止めた/悪魔の住む屋敷/若者は女装して悪魔に近づいた/懐の刀を悪魔に突き刺した"
			romaji="kieta koibito wo sagashiteta wakamono/ibasho wo tsukitometa/akuma no sumu yashiki/wakamono wa josoushite akuma ni chikadzuita/futokoro no katana wo akuma ni tsukisashita"
		%}
		{% include verse.html
			lyrics="毒を秘めた刀が刺さり/僕はその場に倒れこんだ/血と汗は混じり合いやがて/紫の滴へと変わっていく/術のとけた女たちは全て/我に返り屋敷から逃げ出した/僕のこと一瞬だけ見て/最後に屋敷から出たのは"
			romaji="doku wo himeta katana ga sasari/boku wa sono ba ni taorekonda/chi to ase wa majiriai yagate/murasaki no shizuku he to kawatteiku/jutsu no toketa onna-tachi wa subete/ware ni kaeri yashiki kara nigedashita/boku no koto isshun dake mite/saigo ni yashiki kara deta no wa"
		%}
		{% include verse.html
			lyrics="あの幼馴染/待ってよ/まだ君に好きだと言ってない"
			romaji="ano osananajimi/matte yo/mada kimi ni suki da to ittenai"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="今日もまた美しい<ruby>淑女<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>が" rom="kyou mo mata utsukushii onna ga" %}<br />
			{% include lyric.html lyric="僕の元|訪れる" rom="boku no moto|otozureru" %}<br />
			{% include lyric.html lyric="微笑みを浮かべる<ruby>淑女<rp>(</rp><rt>あなた</rt><rp>)</rp></ruby>は" rom="hohoemi wo ukaberu anata wa" %}<br />
			{% include lyric.html lyric="新しい妻となる" rom="atarashii tsuma to naru" %}<br />
			{% include lyric.html lyric="禁断の悪魔との契約" rom="kindan no akuma to no keiyaku" %}<br />
			{% include lyric.html lyric="手に入れた|この力" rom="te ni ireta|kono chikara" %}<br />
			{% include lyric.html lyric="僕を見た|全ての女は" rom="boku wo mita|subete no onna wa" %}<br />
			{% include lyric.html lyric="魅了され|堕ちていく" rom="miryousare|ochiteiku" %}
		</p>
		{% include verse.html
			lyrics="女性を魅了する力を手に入れた/男は一人住む屋敷の地下室に/気に入った女を次々と連れ込み/ハーレムを作り上げた"
			romaji="josei wo miryousuru chikara wo te ni ireta/otoko wa hitori sumu yashiki no chikashitsu ni/ki ni itta onna wo tsugitsugi to tsurekomi/HAAREMU wo tsukuriageta"
		%}
		{% include verse.html
			lyrics="毒を秘めたリビドーの味/突き刺した刃の快楽/血と汗は混じり合いやがて/紫の滴へと変わる"
			romaji="doku wo himeta RIBIDOO no aji/tsukisashita yaiba no kairaku/chi to ase wa majiriai yagate/murasaki no shizuku he to kawaru"
		%}
		{% include verse.html
			lyrics="服を脱ぎ捨て抱き合えば/現実へはもう二度と戻れない"
			romaji="fuku wo nugisute dakiaeba/genjitsu he wa mou nido to modorenai"
		%}
		<p>
			{% include lyric.html lyric="燃やされた昔の肖像画" rom="moyasareta mukashi no shouzouga" %}<br />
			{% include lyric.html lyric="捨て去った過去の僕" rom="sutesatta kako no boku" %}<br />
			{% include lyric.html lyric="誰しもがあざけり笑った" rom="dareshimo ga azakeri waratta" %}<br />
			{% include lyric.html lyric="あの顔は忘れたい" rom="ano kao wa wasuretai" %}<br />
			{% include lyric.html lyric="傍らの可愛い<ruby>娘<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>を" rom="katawara no kawaii onna wo" %}<br />
			{% include lyric.html lyric="抱き寄せてキスをする" rom="daikiyosete KISU wo suru" %}<br />
			{% include lyric.html lyric="彼女はそう|かつて僕のこと" rom="kanojo wa sou|katsute boku no koto" %}<br />
			{% include lyric.html lyric="馬鹿にした幼馴染" rom="baka ni shita osananajimi" %}
		</p>
		{% include verse.html
			lyrics="ある日を境にして国中の女が/いつしか次々と行くへをくらませた/あるものは女房|あるものは娘を/失い途方に暮れた"
			romaji="aru hi wo sakai ni shite kunijuu no onna ga/itsushika tsugitsugi to yuku he wo kuramaseta/aru mono wa nyoubou|aru mono wa musume wo/ushinai tohou ni kureta"
		%}
		{% include verse.html
			lyrics="闇に染まるリビドーの色/とどまらぬ無限の情欲/幻想は全てを呑み込み/僕はもう人ではなくなる"
			romaji="yami ni somaru RIBIDOO no iro/todomaranu mugen no jouyoku/gensou wa subete wo nomikomi/boku wa mou hito de wa naku naru"
		%}
		{% include verse.html
			lyrics="神に逆らい堕落する/これが僕の望んでた狂気のnight"
			romaji="kami ni sakarai darakusuru/kore ga boku no nozondeta kyouki no night"
		%}
		<p>
			{% include lyric.html lyric="今日もまた美しい<ruby>淑女<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>が" rom="kyou mo mata utsukushii onna ga" %}<br />
			{% include lyric.html lyric="僕の元|訪れる" rom="boku no moto|otozureru" %}<br />
			{% include lyric.html lyric="さあおいで僕の胸の中" rom="saa oide boku no mune no naka" %}<br />
			{% include lyric.html lyric="踊ろうよこのハーレムで" rom="odorou yo kono HAAREMU de" %}<br />
			{% include lyric.html lyric="近づいた<ruby>貴方<rp>(</rp><rt>あなた</rt><rp>)</rp></ruby>を抱きしめ" rom="chikadzuita anata wo dakishime" %}<br />
			{% include lyric.html lyric="微笑んだその瞬間" rom="hohoenda sono shunkan" %}<br />
			{% include lyric.html lyric="突然の鋭い痛みと" rom="totsuzen no surudoi itami to" %}<br />
			{% include lyric.html lyric="血に染まる僕の胸" rom="chi ni somaru boku no mune" %}<br />
		</p>
		{% include verse.html
			lyrics="消えた恋人を探してた若者/居場所を突き止めた|悪魔の住む屋敷/若者は女装して悪魔に近づいた/懐の刀を悪魔に突き刺した"
			romaji="kieta koibito wo sagashiteta wakamono/ibasho wo tsukitometa|akuma no sumu yashiki/wakamono wa josoushite akuma ni chikadzuita/futokoro no katana wo akuma ni tsukisashita"
		%}
		{% include verse.html
			lyrics="毒を秘めた刀が刺さり/僕はその場に倒れこんだ/血と汗は混じり合いやがて/紫の滴へと変わっていく/術のとけた女たちは全て/我に返り屋敷から逃げ出した/僕のこと一瞬だけ見て/最後に屋敷から出たのは"
			romaji="doku wo himeta katana ga sasari/boku wa sono ba ni taorekonda/chi to ase wa majiriai yagate/murasaki no shizuku he to kawatteiku/jutsu no toketa onna-tachi wa subete/ware ni kaeri yashiki kara nigedashita/boku no koto isshun dake mite/saigo ni yashiki kara deta no wa"
		%}
		{% include verse.html
			lyrics="あの幼馴染|待ってよ/まだ君に好きだと言ってない"
			romaji="ano osananajimi|matte yo/mada kimi ni suki da to ittenai"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/微笑みを浮かべる貴女は/新しい妻となる/禁断の悪魔との契約/手に入れた|この力/僕を見た|全ての女は/魅了され|堕ちていく"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/hohoemi wo ukaberu anata wa/atarashii tsuma to naru/kindan no akuma to no keiyaku/te ni ireta|kono chikara/boku wo mita|subete no onna wa/miryousare|ochiteiku"
		%}
		{% include verse.html
			lyrics="女性を魅了する力を手に入れた/男は一人住む屋敷の地下室に/気に入った女を次々と連れ込み/ハーレムを作り上げた"
			romaji="josei wo miryousuru chikara wo te ni ireta/otoko wa hitori sumu yashiki no chikashitsu ni/ki ni itta onna wo tsugitsugi to tsurekomi/HAAREMU wo tsukuriageta"
		%}
		{% include verse.html
			lyrics="毒を秘めたリビドーの味/突き刺した刃の快楽/血と汗は混じり合いやがて/紫の滴へと変わる"
			romaji="doku wo himeta RIBIDOO no aji/tsukisashita yaiba no kairaku/chi to ase wa majiriai yagate/murasaki no shizuku he to kawaru"
		%}
		{% include verse.html
			lyrics="服を脱ぎ捨て抱き合えば/現実へはもう二度と戻れない"
			romaji="fuku wo nugisute dakiaeba/genjitsu he wa mou nido to modorenai"
		%}
		{% include verse.html
			lyrics="燃やされた昔の肖像画/捨て去った過去の僕/誰しもがあざけり笑った/あの顔は忘れたい/傍らの可愛い娘を/抱き寄せてキスをする/彼女はそう|かつて僕のこと/馬鹿にした幼馴染"
			romaji="moyasareta mukashi no shouzouga/sutesatta kako no boku/dareshimo ga azakeri waratta/ano kao wa wasuretai/katawara no kawaii onna wo/daikiyosete KISU wo suru/kanojo wa sou|katsute boku no koto/baka ni shita osananajimi"
		%}
		{% include verse.html
			lyrics="ある日を境にして国中の女が/いつしか次々と行くへをくらませた/あるものは女房|あるものは娘を/失い途方に暮れた"
			romaji="aru hi wo sakai ni shite kunijuu no onna ga/itsushika tsugitsugi to yuku he wo kuramaseta/aru mono wa nyoubou|aru mono wa musume wo/ushinai tohou ni kureta"
		%}
		{% include verse.html
			lyrics="闇に染まるリビドーの色/とどまらぬ無限の情欲/幻想は全てを呑み込み/僕はもう人ではなくなる"
			romaji="yami ni somaru RIBIDOO no iro/todomaranu mugen no jouyoku/gensou wa subete wo nomikomi/boku wa mou hito de wa naku naru"
		%}
		{% include verse.html
			lyrics="神に逆らい堕落する/これが僕の望んでた狂気のnight"
			romaji="kami ni sakarai darakusuru/kore ga boku no nozondeta kyouki no night"
		%}
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/さあおいで僕の胸の中/踊ろうよこのハーレムで/近づいた貴方を抱きしめ/微笑んだその瞬間/突然の鋭い痛みと/血に染まる僕の胸"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/saa oide boku no mune no naka/odorou yo kono HAAREMU de/chikadzuita anata wo dakishime/hohoenda sono shunkan/totsuzen no surudoi itami to/chi ni somaru boku no mune"
		%}
		{% include verse.html
			lyrics="消えた恋人を探してた若者/居場所を突き止めた|悪魔の住む屋敷/若者は女装して悪魔に近づいた/懐の刀を悪魔に突き刺した"
			romaji="kieta koibito wo sagashiteta wakamono/ibasho wo tsukitometa|akuma no sumu yashiki/wakamono wa josoushite akuma ni chikadzuita/futokoro no katana wo akuma ni tsukisashita"
		%}
		{% include verse.html
			lyrics="毒を秘めた刀が刺さり/僕はその場に倒れこんだ/血と汗は混じり合いやがて/紫の滴へと変わっていく/術のとけた女たちは全て/我に返り屋敷から逃げ出した/僕のこと一瞬だけ見て/最後に屋敷から出たのは"
			romaji="doku wo himeta katana ga sasari/boku wa sono ba ni taorekonda/chi to ase wa majiriai yagate/murasaki no shizuku he to kawatteiku/jutsu no toketa onna-tachi wa subete/ware ni kaeri yashiki kara nigedashita/boku no koto isshun dake mite/saigo ni yashiki kara deta no wa"
		%}
		{% include verse.html
			lyrics="あの幼馴染|待ってよ/まだ君に好きだと言ってない"
			romaji="ano osananajimi|matte yo/mada kimi ni suki da to ittenai"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/微笑みを浮かべる貴女は/新しい妻となる/禁断の悪魔との契約/手に入れた|この力/僕を見た|全ての女は/魅了され|堕ちていく"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/hohoemi wo ukaberu anata wa/atarashii tsuma to naru/kindan no akuma to no keiyaku/te ni ireta|kono chikara/boku wo mita|subete no onna wa/miryousare|ochiteiku"
		%}
		{% include verse.html
			lyrics="女性を魅了する力を手に入れた/男は一人住む屋敷の地下室に/気に入った女を次々と連れ込み/ハーレムを作り上げた"
			romaji="josei wo miryousuru chikara wo te ni ireta/otoko wa hitori sumu yashiki no chikashitsu ni/ki ni itta onna wo tsugitsugi to tsurekomi/HAAREMU wo tsukuriageta"
		%}
		{% include verse.html
			lyrics="毒を秘めたリビドーの味/突き刺した刃の快楽/血と汗は混じり合いやがて/紫の滴へと変わる"
			romaji="doku wo himeta RIBIDOO no aji/tsukisashita yaiba no kairaku/chi to ase wa majiriai yagate/murasaki no shizuku he to kawaru"
		%}
		{% include verse.html
			lyrics="服を脱ぎ捨て抱き合えば/現実へはもう二度と戻れない"
			romaji="fuku wo nugisute dakiaeba/genjitsu he wa mou nido to modorenai"
		%}
		{% include verse.html
			lyrics="燃やされた昔の肖像画/捨て去った過去の僕/誰しもがあざけり笑った/あの顔は忘れたい/傍らの可愛い娘を/抱き寄せてキスをする/彼女はそう|かつて僕のこと/馬鹿にした幼馴染"
			romaji="moyasareta mukashi no shouzouga/sutesatta kako no boku/dareshimo ga azakeri waratta/ano kao wa wasuretai/katawara no kawaii onna wo/daikiyosete KISU wo suru/kanojo wa sou|katsute boku no koto/baka ni shita osananajimi"
		%}
		{% include verse.html
			lyrics="ある日を境にして国中の女が/いつしか次々と行くへをくらませた/あるものは女房|あるものは娘を/失い途方に暮れた"
			romaji="aru hi wo sakai ni shite kunijuu no onna ga/itsushika tsugitsugi to yuku he wo kuramaseta/aru mono wa nyoubou|aru mono wa musume wo/ushinai tohou ni kureta"
		%}
		{% include verse.html
			lyrics="闇に染まるリビドーの色/とどまらぬ無限の情欲/幻想は全てを呑み込み/僕はもう人ではなくなる"
			romaji="yami ni somaru RIBIDOO no iro/todomaranu mugen no jouyoku/gensou wa subete wo nomikomi/boku wa mou hito de wa naku naru"
		%}
		{% include verse.html
			lyrics="神に逆らい堕落する/これが僕の望んでた狂気のnight"
			romaji="kami ni sakarai darakusuru/kore ga boku no nozondeta kyouki no night"
		%}
		{% include verse.html
			lyrics="今日もまた美しい淑女が/僕の元|訪れる/さあおいで僕の胸の中/踊ろうよこのハーレムで/近づいた貴方を抱きしめ/微笑んだその瞬間/突然の鋭い痛みと/血に染まる僕の胸"
			romaji="kyou mo mata utsukushii onna ga/boku no moto|otozureru/saa oide boku no mune no naka/odorou yo kono HAAREMU de/chikadzuita anata wo dakishime/hohoenda sono shunkan/totsuzen no surudoi itami to/chi ni somaru boku no mune"
		%}
		{% include verse.html
			lyrics="消えた恋人を探してた若者/居場所を突き止めた/悪魔の住む屋敷/若者は女装して悪魔に近づいた/懐の刀を悪魔に突き刺した"
			romaji="kieta koibito wo sagashiteta wakamono/ibasho wo tsukitometa/akuma no sumu yashiki/wakamono wa josoushite akuma ni chikadzuita/futokoro no katana wo akuma ni tsukisashita"
		%}
		{% include verse.html
			lyrics="毒を秘めた刀が刺さり/僕はその場に倒れこんだ/血と汗は混じり合いやがて/紫の滴へと変わっていく/術のとけた女たちは全て/我に返り屋敷から逃げ出した/僕のこと一瞬だけ見て/最後に屋敷から出たのは"
			romaji="doku wo himeta katana ga sasari/boku wa sono ba ni taorekonda/chi to ase wa majiriai yagate/murasaki no shizuku he to kawatteiku/jutsu no toketa onna-tachi wa subete/ware ni kaeri yashiki kara nigedashita/boku no koto isshun dake mite/saigo ni yashiki kara deta no wa"
		%}
		{% include verse.html
			lyrics="あの幼馴染|待ってよ/まだ君に好きだと言ってない"
			romaji="ano osananajimi|matte yo/mada kimi ni suki da to ittenai"
		%}
	</div>
</div>

<div>
	<h3>PV <small>(2020)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="さあ、踊ろうか"
			romaji="saa, odorou ka"
		%}
		<p>
			{% include lyric.html lyric="今日もまた美しい<ruby>淑女<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>が" rom="kyou mo mata utsukushii onna ga" %}<br />
			{% include lyric.html lyric="僕の元|訪れる" rom="boku no moto|otozureru" %}<br />
			{% include lyric.html lyric="微笑みを浮かべる<ruby>淑女<rp>(</rp><rt>あなた</rt><rp>)</rp></ruby>は" rom="hohoemi wo ukaberu anata wa" %}<br />
			{% include lyric.html lyric="新しい妻となる" rom="atarashii tsuma to naru" %}<br />
			{% include lyric.html lyric="禁断の悪魔との契約" rom="kindan no akuma to no keiyaku" %}<br />
			{% include lyric.html lyric="手に入れた|この力" rom="te ni ireta|kono chikara" %}<br />
			{% include lyric.html lyric="僕を見た|全ての女は" rom="boku wo mita|subete no onna wa" %}<br />
			{% include lyric.html lyric="魅了され|堕ちていく" rom="miryousare|ochiteiku" %}
		</p>
		{% include verse.html
			lyrics="女性を魅了する力を手に入れた/男は一人住む屋敷の地下室に/気に入った女を次々と連れ込み/ハーレムを作り上げた"
			romaji="josei wo miryousuru chikara wo te ni ireta/otoko wa hitori sumu yashiki no chikashitsu ni/ki ni itta onna wo tsugitsugi to tsurekomi/HAAREMU wo tsukuriageta"
		%}
		{% include verse.html
			lyrics="毒を秘めたリビドーの味/突き刺した刃の快楽/血と汗は混じり合いやがて/紫の滴へと変わる"
			romaji="doku wo himeta RIBIDOO no aji/tsukisashita yaiba no kairaku/chi to ase wa majiriai yagate/murasaki no shizuku he to kawaru"
		%}
		{% include verse.html
			lyrics="服を脱ぎ捨て抱き合えば/現実へはもう二度と戻れない"
			romaji="fuku wo nugisute dakiaeba/genjitsu he wa mou nido to modorenai"
		%}
		<p>
			{% include lyric.html lyric="燃やされた昔の肖像画" rom="moyasareta mukashi no shouzouga" %}<br />
			{% include lyric.html lyric="捨て去った過去の僕" rom="sutesatta kako no boku" %}<br />
			{% include lyric.html lyric="誰しもがあざけり笑った" rom="dareshimo ga azakeri waratta" %}<br />
			{% include lyric.html lyric="あの顔は忘れたい" rom="ano kao wa wasuretai" %}<br />
			{% include lyric.html lyric="傍らの可愛い<ruby>娘<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>を" rom="katawara no kawaii onna wo" %}<br />
			{% include lyric.html lyric="抱き寄せてキスをする" rom="daikiyosete KISU wo suru" %}<br />
			{% include lyric.html lyric="彼女はそう|かつて僕のこと" rom="kanojo wa sou|katsute boku no koto" %}<br />
			{% include lyric.html lyric="馬鹿にした幼馴染" rom="baka ni shita osananajimi" %}
		</p>
		{% include verse.html
			lyrics="ある日を境にして国中の女が/いつしか次々と行くへをくらませた/あるものは女房|あるものは娘を/失い途方に暮れた"
			romaji="aru hi wo sakai ni shite kunijuu no onna ga/itsushika tsugitsugi to yuku he wo kuramaseta/aru mono wa nyoubou|aru mono wa musume wo/ushinai tohou ni kureta"
		%}
		{% include verse.html
			lyrics="闇に染まるリビドーの色/とどまらぬ無限の情欲/幻想は全てを呑み込み/僕はもう人ではなくなる"
			romaji="yami ni somaru RIBIDOO no iro/todomaranu mugen no jouyoku/gensou wa subete wo nomikomi/boku wa mou hito de wa naku naru"
		%}
		{% include verse.html
			lyrics="神に逆らい堕落する/これが僕の望んでた狂気のnight"
			romaji="kami ni sakarai darakusuru/kore ga boku no nozondeta kyouki no night"
		%}
		<p>
			{% include lyric.html lyric="今日もまた美しい<ruby>淑女<rp>(</rp><rt>おんな</rt><rp>)</rp></ruby>が" rom="kyou mo mata utsukushii onna ga" %}<br />
			{% include lyric.html lyric="僕の元|訪れる" rom="boku no moto|otozureru" %}<br />
			{% include lyric.html lyric="さあおいで僕の胸の中" rom="saa oide boku no mune no naka" %}<br />
			{% include lyric.html lyric="踊ろうよこのハーレムで" rom="odorou yo kono HAAREMU de" %}<br />
			{% include lyric.html lyric="近づいた<ruby>貴方<rp>(</rp><rt>あなた</rt><rp>)</rp></ruby>を抱きしめ" rom="chikadzuita anata wo dakishime" %}<br />
			{% include lyric.html lyric="微笑んだその瞬間" rom="hohoenda sono shunkan" %}<br />
			{% include lyric.html lyric="突然の鋭い痛みと" rom="totsuzen no surudoi itami to" %}<br />
			{% include lyric.html lyric="血に染まる僕の胸" rom="chi ni somaru boku no mune" %}<br />
		</p>
		{% include verse.html
			lyrics="消えた恋人を探してた若者/居場所を突き止めた|悪魔の住む屋敷/若者は女装して悪魔に近づいた/懐の刀を悪魔に突き刺した"
			romaji="kieta koibito wo sagashiteta wakamono/ibasho wo tsukitometa|akuma no sumu yashiki/wakamono wa josoushite akuma ni chikadzuita/futokoro no katana wo akuma ni tsukisashita"
		%}
		{% include verse.html
			lyrics="毒を秘めた刀が刺さり/僕はその場に倒れこんだ/血と汗は混じり合いやがて/紫の滴へと変わっていく/術のとけた女たちは全て/我に返り屋敷から逃げ出した/僕のこと一瞬だけ見て/最後に屋敷から出たのは"
			romaji="doku wo himeta katana ga sasari/boku wa sono ba ni taorekonda/chi to ase wa majiriai yagate/murasaki no shizuku he to kawatteiku/jutsu no toketa onna-tachi wa subete/ware ni kaeri yashiki kara nigedashita/boku no koto isshun dake mite/saigo ni yashiki kara deta no wa"
		%}
		{% include verse.html
			lyrics="あの幼馴染|待ってよ/まだ君に好きだと言ってない"
			romaji="ano osananajimi|matte yo/mada kimi ni suki da to ittenai"
		%}
	</div>
</div>