---
english-name: Madam Merry-Go-Round
translation: https://pricechecktranslations.tumblr.com/post/107715957705
mothyrights: <em>The Evillious Chronicles</em>|<em>Madam Merry-Go-Round</em>
---
<div><!--TOADD: Charity Days ver.-->
	<h3>PV &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ようこそ|愉快な国へ/がんじがらめの鎖ほどいてアゲル/観覧車もお化け屋敷も/今夜だけは|そう|君のためのスレイブ"
			romaji="youkoso|yukaina kuni he/ganjigarame no kusari hodoite AGERU/kanransha mo obake yashiki mo/konya dake wa|sou|kimi no tame no SUREIBU"
		%}
		{% include verse.html
			lyrics="遊び疲れたならここにいらっしゃい/冷たいゆりかごの中"
			romaji="asobi tsukareta nara koko ni irasshai/tsumetai yurikago no naka"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/遊園地の女王/マダム・メリーゴーランド/手錠付きの主/木馬の上から見た/かりそめの理想郷"
			romaji="MADAMU MERIIGOORANDO/yuuenchi no joou/MADAMU MERIIGOORANDO/tejou tsuki no aruji/mokuba no ue kara mita/karisome no YUUTOPIA"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/世界が壊れても/マダム・メリーゴーランド/私はここにいる/廻り続けて今は/全て忘れてしまえばいい"
			romaji="MADAMU MERIIGOORANDO/sekai ga kowarete mo/MADAMU MERIIGOORANDO/watashi wa koko ni iru/mawari tsudzukete ima wa/subete wasurete shimaeba ii"
		%}
		{% include verse.html
			lyrics="願いを叶えたいなら/列に並んで順番を待ちなさい/光り輝く影のパレード/果てを目指してどこまでも続いていく"
			romaji="negai wo kanaetai nara/retsu ni narande junban wo machinasai/hikari kagayaku kage no PAREEDO/hate wo mezashite doko made mo tsudzuiteiku"
		%}
		{% include verse.html
			lyrics="真夜中のお遊戯/それを望むのは/私ではなくあなたよ"
			romaji="mayonaka no oyuugi/sore wo nozomu no wa/watashi de wa naku anata yo"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/誰かに似た美人/マダム・メリーゴーランド/忘れてた思い出/白い手で抱き寄せた/温かいぬくもり"
			romaji="MADAMU MERIIGOORANDO/dareka ni nita bijin/MADAMU MERIIGOORANDO/wasureteta omoide/shiroi te de dakiyoseta/atatakai nukumori"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/例え愛していても/マダム・メリーゴーランド/一夜限りの夢/あの日守れなかった/二人交し合った誓い"
			romaji="MADAMU MERIIGOORANDO/tatoe aishiteite mo/MADAMU MERIIGOORANDO/hitoya kagiri no yume/ano hi mamorenakatta/futari kawashiatta chikai"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/遊園地の女王/マダム・メリーゴーランド/手錠付きの主/木馬の上から見た/かりそめの理想郷"
			romaji="MADAMU MERIIGOORANDO/yuuenchi no joou/MADAMU MERIIGOORANDO/tejou tsuki no aruji/mokuba no ue kara mita/karisome no YUUTOPIA"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド/世界が壊れても/マダム・メリーゴーランド/私はここにいる/帰れなくなっても/私を恨まないでね"
			romaji="MADAMU MERIIGOORANDO/sekai ga kowarete mo/MADAMU MERIIGOORANDO/watashi wa koko ni iru/kaerenaku natte mo/watashi wo uramanaide ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ようこそ|愉快な国へ/がんじがらめの鎖ほどいてアゲル/観覧車もお化け屋敷も/今夜だけは|そう|君のためのスレイブ"
			romaji="youkoso|yukaina kuni he/ganjigarame no kusari hodoite AGERU/kanransha mo obake yashiki mo/konya dake wa|sou|kimi no tame no SUREIBU"
		%}
		{% include verse.html
			lyrics="遊び疲れたならここにいらっしゃい/冷たいゆりかごの中"
			romaji="asobi tsukareta nara koko ni irasshai/tsumetai yurikago no naka"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|遊園地の女王/マダム・メリーゴーランド|手錠付きの主/木馬の上から見た|かりそめの理想郷"
			romaji="MADAMU MERIIGOORANDO|yuuenchi no joou/MADAMU MERIIGOORANDO|tejou tsuki no aruji/mokuba no ue kara mita|karisome no YUUTOPIA"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|世界が壊れても/マダム・メリーゴーランド|私はここにいる/廻り続けて今は|全て忘れてしまえばいい"
			romaji="MADAMU MERIIGOORANDO|sekai ga kowarete mo/MADAMU MERIIGOORANDO|watashi wa koko ni iru/mawari tsudzukete ima wa|subete wasurete shimaeba ii"
		%}
		{% include verse.html
			lyrics="願いを叶えたいなら/列に並んで順番を待ちなさい/光り輝く影のパレード/果てを目指してどこまでも続いていく"
			romaji="negai wo kanaetai nara/retsu ni narande junban wo machinasai/hikari kagayaku kage no PAREEDO/hate wo mezashite doko made mo tsudzuiteiku"
		%}
		{% include verse.html
			lyrics="真夜中のお遊戯/それを望むのは/私ではなくあなたよ"
			romaji="mayonaka no oyuugi/sore wo nozomu no wa/watashi de wa naku anata yo"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|誰かに似た美人/マダム・メリーゴーランド|忘れてた思い出/白い手で抱き寄せた|温かいぬくもり"
			romaji="MADAMU MERIIGOORANDO|dareka ni nita bijin/MADAMU MERIIGOORANDO|wasureteta omoide/shiroi te de dakiyoseta|atatakai nukumori"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|例え愛していても/マダム・メリーゴーランド|一夜限りの夢/あの日守れなかった|二人交し合った誓い"
			romaji="MADAMU MERIIGOORANDO|tatoe aishiteite mo/MADAMU MERIIGOORANDO|hitoya kagiri no yume/ano hi mamorenakatta|futari kawashiatta chikai"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|遊園地の女王/マダム・メリーゴーランド|手錠付きの主/木馬の上から見た|かりそめの理想郷"
			romaji="MADAMU MERIIGOORANDO|yuuenchi no joou/MADAMU MERIIGOORANDO|tejou tsuki no aruji/mokuba no ue kara mita|karisome no YUUTOPIA"
		%}
		{% include verse.html
			lyrics="マダム・メリーゴーランド|世界が壊れても/マダム・メリーゴーランド|私はここにいる/帰れなくなっても|私を恨まないでね"
			romaji="MADAMU MERIIGOORANDO|sekai ga kowarete mo/MADAMU MERIIGOORANDO|watashi wa koko ni iru/kaerenaku natte mo|watashi wo uramanaide ne"
		%}
	</div>
</div>