---
english-name: master of the heavenly yard
image: /assets/images/thumbs/HeavenlyAlbum.jpg
translation: https://pricechecktranslations.tumblr.com/post/164166682460
mothyrights: <em>The Evillious Chronicles</em>|<em>master of the heavenly yard</em>
---
<div>
	<h3><a href="{% link album/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a></h3>
	<div class="lyricbox">
		<p>
			<strong>[1.{% include lyric.html lyric="エピローグ" rom="EPIROOGU" %}]</strong><br />
			{% include lyric.html lyric="僕らはいつでも" rom="bokura wa itsudemo" %}<br />
			{% include lyric.html lyric="間違いだらけだった" rom="machigai darake datta" %}<br />
			{% include lyric.html lyric="この千年の時で" rom="kono sennen no toki de" %}
		</p>
		{% include verse.html
			lyrics="「もしも」の願いが/叶うことはもうない/罰は下された"
			romaji="&quot;moshimo&quot; no negai ga/kanau koto wa mou nai/batsu wa kudasareta"
		%}
		{% include verse.html
			lyrics="幾億の魂たちよ/幾億の悪意たちよ"
			romaji="ikuoku no tamashii-tachi yo/ikuoku no akui-tachi yo"
		%}
		{% include verse.html
			lyrics="不幸な結末は誰かのせいなのか？/そう考えてる奴らは皆「くそったれ」さ"
			romaji="fukouna ketsumatsu wa dareka no sei na no ka?/sou kangaeteru yatsura wa mina &quot;kusottare&quot; sa"
		%}
		{% include verse.html
			lyrics="僕らは結局/何かを残したのか？/この千年の旅で"
			romaji="bokura wa kekyoku/nanika wo nokoshita no ka?/kono sennen no tabi de"
		%}
		{% include verse.html class="versebreak"
			lyrics="答えはきっと/いつまでも出ないから/君に会いに行くよ"
			romaji="kotae wa kitto/itsu made mo denai kara/kimi ni ai ni iku yo"
		%}
		<p>
			<strong>[2.{% include lyric.html lyric="大罪狩り" rom="taizai kari" %}]</strong><br />
			{% include lyric.html lyric="滅びた世界の中心" rom="horobita sekai no chuushin" %}<br />
			{% include lyric.html lyric="荒野に浮かぶ映画館" rom="kouya ni ukabu eigakan" %}<br />
			{% include lyric.html lyric="死せる魂が集いて" rom="shiseru tamashii ga tsudoite" %}<br />
			{% include lyric.html lyric="黒き箱を崇めている" rom="kuroki hako wo agameteiru" %}
		</p>
		{% include verse.html
			lyrics="館の主|庭師の男/魂たちに指令を下す/世界を救うためには/為さねばならぬことがある"
			romaji="yakata no aruji|niwashi no otoko/tamashii-tachi ni shirei wo kudasu/sekai wo sukuu tame ni wa/nasaneba naranu koto ga aru"
		%}
		{% include verse.html
			lyrics="悪魔に魅入られた魂を滅ぼせ/全ての元凶「大罪契約者」を殺せ"
			romaji="akuma ni miirareta tamashii wo horobose/subete no genkyou &quot;taizai keiyakusha&quot; wo korose"
		%}
		{% include verse.html class="versebreak"
			lyrics="動き出す魂の従者/「大罪狩り」が今|始まった"
			romaji="ugokidasu tamashii no juusha/&quot;taizai kari&quot; ga ima|hajimatta"
		%}
		<p>
			<strong>[3.{% include lyric.html lyric="王女の旅立ち" rom="oujo no tabidachi" %}]</strong><br />
			{% include lyric.html lyric="王女の前には" rom="oujo no mae ni wa" %}<br />
			{% include lyric.html lyric="眠りこける家臣たち" rom="nemurikokeru kashin-tachi" %}<br />
			{% include lyric.html lyric="それは誰かからの「gift」" rom="sore wa dareka kara no &quot;gift&quot;" %}<br />
			{% include lyric.html lyric="彼女を守れる者は" rom="kanojo wo mamoreru mono wa" %}<br />
			{% include lyric.html lyric="もういない" rom="mou inai" %}<br />
			{% include lyric.html lyric="迫りくる庭師の軍勢" rom="semarikuru niwashi no gunzei" %}
		</p>
		{% include verse.html
			lyrics="白き馬に乗って現れた修道女/王女を助け出し/新たな旅へ"
			romaji="shiroki uma ni notte arawareta shuudoujo/oujo wo tasukedashi/aratana tabi he"
		%}
		{% include verse.html class="versebreak"
			lyrics="もう待っているだけのは/たくさんなの/守られてばかりは嫌だ/自分自身で/全てを成し遂げたら/胸を張って/君に会いに行くよ"
			romaji="mou matteiru dake no wa/takusan na no/mamorarete bakari wa iya da/jibun jishin de/subete wo nashitogetara/mune wo hatte/kimi ni ai ni iku yo"
		%}
		<p>
			<strong>[4.{% include lyric.html lyric="英雄たち" rom="eiyuu-tachi" %}]</strong><br />
			{% include lyric.html lyric="「悪とは一体何なのか？」" rom="&quot;aku to wa ittai nan na no ka?&quot;" %}<br />
			{% include lyric.html lyric="七つの罪|背負いし者" rom="nanatsu no tsumi|seoishi mono" %}<br />
			{% include lyric.html lyric="世界と共に滅んだはず" rom="sekai to tomo ni horonda hazu" %}<br />
			{% include lyric.html lyric="されども|まだ" rom="soredomo|mada" %}<br />
			{% include lyric.html lyric="生きている" rom="ikiteiru" %}
		</p>
		{% include verse.html
			lyrics="罪は決して許されぬのか？/声をあげる者がいた/庭師の野望を止めるため/英雄も平民も/幻の剣をとる"
			romaji="tsumi wa kesshite yurusarenu no ka?/koe wo ageru mono ga ita/niwashi no yabou wo tomeru tame/eiyuu mo heimin mo/maboroshi no ken wo toru"
		%}
		{% include verse.html class="versebreak"
			lyrics="正義も悪も/全てを唄に変えよう/罰はすでに下されたのだから/過ちを二度と/繰り返さぬよう/今こそ我々は戦おう"
			romaji="seigi mo aku mo/subete wo uta ni kaeyou/batsu wa sude ni kudasareta no dakara/ayamachi wo nido to/kurikaesanu you/ima koso wareware wa tatakaou"
		%}
		<p>
			<strong>[5.BLACKBOX]</strong><br />
			{% include lyric.html lyric="禁じられた黒き箱" rom="kinjirareta kuroki hako" %}<br />
			{% include lyric.html lyric="今開かれる" rom="ima hirakareru" %}<br />
			{% include lyric.html lyric="その力は神の浄化" rom="sono chikara wa kami no jouka" %}<br />
			{% include lyric.html lyric="あるいは初期化" rom="arui wa shokika" %}
		</p>
		{% include verse.html
			lyrics="人の魂など所詮は/データーの一部に過ぎない/黒き箱のぜんまいは周り/全てを溶かし尽くしてゆく"
			romaji="hito no tamashii nado shosen wa/DEETAA no ichibu ni suginai/kuroki hako no zenmai wa mawari/subete wo tokashi tsukushiteyuku"
		%}
		{% include verse.html class="versebreak"
			lyrics="その渦に逆らう事は出来ぬ/あれは神の定めしプログラム/それを止めることができるのも/神以外にはいないのだから"
			romaji="sono uzu ni sakarau koto wa dekinu/are wa kami no sadameshi PUROGURAMU/sore wo tomeru koto ga dekiru no mo/kami igai ni wa inai no dakara"
		%}
		{% include verse.html
			lyrics="この世でたった一人だけ/生き続けていた/彼女の銃から放たれた/金色の銃弾"
			romaji="kono yo de tatta hitori dake/ikitsudzuketeita/kanojo no juu kara hanatareta/konjiki no juudan"
		%}
		{% include verse.html class="versebreak"
			lyrics="空に舞う黒き花火を/見つめ続けながら/誰の事を想うのか/古き神々の時代が/終わりを告げ/そして/また時が動き出す"
			romaji="sora ni mau kuroki hanabi wo/mitsumetsudzuke nagara/dare no koto wo omou no ka/furoki kamigami no jidai ga/owari wo tsuge/soshite/mata toki ga ugokidasu"
		%}
		<p>
			<strong>[6.Not Eve]</strong><br />
			{% include lyric.html lyric="これは終焉の物語" rom="kore wa shuuen no monogatari" %}<br />
			{% include lyric.html lyric="何から語りましょうか？" rom="nani kara katarimashou ka?" %}
		</p>
		{% include verse.html
			lyrics="私の名前は……/私の名前は……/私の名前は……/私の名前は……"
			romaji="watashi no namae wa....../watashi no namae wa....../watashi no namae wa....../watashi no namae wa......"
		%}
		{% include verse.html class="versebreak"
			lyrics="……誰？"
			romaji="......dare?"
		%}
		<p>
			<strong>[7.{% include lyric.html lyric="狂想の終わり" rom="kyousou no owari" %}]</strong><br />
			{% include lyric.html lyric="辿り着いた映画館" rom="tadoritsuita eigakan" %}<br />
			{% include lyric.html lyric="王女にとってそこは" rom="oujo ni totte soko wa" %}<br />
			{% include lyric.html lyric="黒幕の住む場所" rom="kuromaku no sumu basho" %}<br />
			{% include lyric.html lyric="そしてかつての故郷" rom="soshite katsute no kokyou" %}
		</p>
		{% include verse.html
			lyrics="庭師などしょせん傀儡/真に倒すべき敵は/人形に宿りし者/箱庭の少女"
			romaji="niwashi nado shosen kugutsu/shin ni taosu beki teki wa/ningyou ni yadorishi mono/hakoniwa no shoujo"
		%}
		{% include verse.html
			lyrics="ああ歯車よ|何故に/お前は彼女を守るのか/その女はお前の/想い人ではないというのに"
			romaji="aa haguruma yo|naze ni/omae wa kanojo wo mamoru no ka/sono onna wa omae no/omoi hito de wa nai to iu no ni"
		%}
		{% include verse.html
			lyrics="邪魔するというなら/温情などかけぬぞ/我は傲慢な王女/悪ノ娘なのだから"
			romaji="jamasuru to iu nara/onjou nado kakenu zo/ware wa goumanna oujo/aku NO musume na no dakara"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた/終わりを告げる鐘がなる/あれは心音の時計塔|罪を刻む針/いかなる者であろうとも/私に逆らうなら|粛清してしまえ"
			romaji="tsui ni sono toki wa yattekita/owari wo tsugeru kane ga naru/are wa shin'on no tokeitou|tsumi wo kizamu hari/ikanaru mono de arou tomo/watashi ni sakarau nara|shukusei shiteshimae"
		%}
		{% include verse.html class="versebreak"
			lyrics="「さあ、ひざまずきなさい！」"
			romaji="&quot;saa, hizamazukinasai!&quot;"
		%}
		<p>
			<strong>[8.{% include lyric.html lyric="再会" rom="saikai" %}]</strong><br />
			{% include lyric.html lyric="僕らはいつでも" rom="bokura wa itsudemo" %}<br />
			{% include lyric.html lyric="間違いだらけだった" rom="machigai darake datta" %}<br />
			{% include lyric.html lyric="この千年の時で" rom="kono sennen no toki de" %}
		</p>
		{% include verse.html class="versebreak"
			lyrics="君にずっと会いたいと思ってた/そう|君の名は……"
			romaji="kimi ni zutto aitai to omotteta/sou|kimi no na wa......"
		%}
		<p>
			<strong>[9.{% include lyric.html lyric="純粋なる悪" rom="junsui naru aku" %}]</strong><br />
			{% include lyric.html lyric="王女を探し求めた少年" rom="oujo wo sagashi motometa shounen" %}<br />
			{% include lyric.html lyric="その姉の中に彼女はいた" rom="sono ane no naka ni kanojo wa ita" %}<br />
			{% include lyric.html lyric="真の純粋な存在|目指して" rom="shin no jinsuina sonzai|mezashite" %}<br />
			{% include lyric.html lyric="七つの悪魔|取り込んだ魔女" rom="nanatsu no akuma|torikonda majo" %}
		</p>
		{% include verse.html
			lyrics="消滅の直前|人形は/魔女の意思を蘇らせた/黒き箱に飲み込まれながら/庭師は最後にこう叫んだ"
			romaji="shoumetsu no chokuzen|ningyou wa/majo no onnen wo yomigaeraseta/kuroki hako ni nomikomare nagara/niwashi wa saigo ni kou sakenda"
		%}
		{% include verse.html
			lyrics="世界を救いたくばその娘を殺せ/魔女と同化した悪ノ娘を殺せ"
			romaji="sekai wo sukuitakuba sono musume wo korose/majo to doukashita aku NO musume wo korose"
		%}
		{% include verse.html class="versebreak"
			lyrics="迫られる最後の決断/少年よ|どちらを選ぶのか"
			romaji="semareru saigo no ketsudan/shounen yo|dochira wo erabu no ka"
		%}
		<p>
			<strong>[10.{% include lyric.html lyric="少年の選択" rom="shounen no sentaku" %}]</strong><br />
			{% include lyric.html lyric="「悪とは一体なのか？」" rom="&quot;aku to wa ittai nan na no ka?&quot;" %}<br />
			{% include lyric.html lyric="誰かの言葉" rom="dareka no kotoba" %}<br />
			{% include lyric.html lyric="人は誰しも欲深いもの" rom="hito wa dareshimo yokubukai mono" %}
		</p>
		{% include verse.html class="versebreak"
			lyrics="僕だってそれは/同じだから/君と世界|どちらも/手に入れる！"
			romaji="boku datte sore wa/onaji dakara/kimi to sekai|dochira mo/te ni ireru!"
		%}
		<p>
			<strong>[11.Re_birthday Truth]</strong><br />
			{% include lyric.html lyric="強き決意が気まぐれな" rom="tsuyoki ketsui ga kimagurena" %}<br />
			{% include lyric.html lyric="奇跡をもたらした" rom="kiseki wo motarashita" %}<br />
			{% include lyric.html lyric="君の手から落ちた小さな小瓶" rom="kimi no te kara ochita chiisana kobin" %}<br />
			{% include lyric.html lyric="書かれていたメッセージ" rom="kakareteita MESSEEJI" %}<br />
			{% include lyric.html lyric="『必ず助けなさい！』" rom="'kanarazu tasukenasai!'" %}<br />
			{% include lyric.html lyric="君らしいやと小さく笑う" rom="kimi rashii ya to chiisaku warau" %}
		</p>
		{% include verse.html
			lyrics="大丈夫|僕は君を/絶対に守るから/世界はもはや僕らの敵じゃない/さあ共に手を取り/真に進もう/新たな世界と/君の為に"
			romaji="daijoubu|boku wa kimi wo/zettai ni mamoru kara/sekai wa mohaya bokura no teki ja nai/saa tomo ni te wo tori/mae ni susumou/aratana sekai to/kimi no tame ni"
		%}
		{% include verse.html class="versebreak"
			lyrics="ほら/空を見てごらん/世界は/月に映る鏡/その先で/こちらを見ている/あなたが/今|目を覚ます時"
			romaji="hora/sora wo mitegoran/sekai wa/tsuki ni utsuru kagami/sono saki de/kochira wo miteiru/anata ga/ima|me wo samasu toki"
		%}
		<p>
			<strong>[12.{% include lyric.html lyric="プロローグ" rom="PUROROOGU" %}]</strong>
		</p>
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		<p>
			<strong>{% include lyric.html lyric="第一章|エピローグ" rom="dai isshou|EPIROOGU" %}</strong><br />
			{% include lyric.html lyric="僕らはいつでも" rom="bokura wa itsudemo" %}<br />
			{% include lyric.html lyric="間違いだらけだった" rom="machigai darake datta" %}<br />
			{% include lyric.html lyric="この千年の時で" rom="kono sennen no toki de" %}
		</p>
		{% include verse.html
			lyrics="「もしも」の願いが/叶うことはもうない/罰は下された"
			romaji="&quot;moshimo&quot; no negai ga/kanau koto wa mou nai/batsu wa kudasareta"
		%}
		{% include verse.html
			lyrics="幾億の魂たちよ/幾億の悪意たちよ"
			romaji="ikuoku no tamashii-tachi yo/ikuoku no akui-tachi yo"
		%}
		{% include verse.html
			lyrics="不幸な結末は/誰かのせいなのか？/そう考えてる奴らは皆/「くそったれ」さ"
			romaji="fukouna ketsumatsu wa/dareka no sei na no ka?/sou kangaeteru yatsura wa mina/&quot;kusottare&quot; sa"
		%}
		{% include verse.html
			lyrics="僕らは結局/何かを残したのか？/この千年の旅で"
			romaji="bokura wa kekyoku/nanika wo nokoshita no ka?/kono sennen no tabi de"
		%}
		{% include verse.html
			lyrics="答えはきっと/いつまでも出ないから/君に会いに行くよ"
			romaji="kotae wa kitto/itsu made mo denai kara/kimi ni ai ni iku yo"
		%}
		<p>
			<strong>{% include lyric.html lyric="第二章|大罪狩り" rom="dai nishou|taizai kari" %}</strong><br />
			{% include lyric.html lyric="滅びた世界の中心|荒野に浮かぶ映画館" rom="horobita sekai no chuushin|kouya ni ukabu eigakan" %}<br />
			{% include lyric.html lyric="死せる魂が集いて|黒き箱を崇めている" rom="shiseru tamashii ga tsudoite|kuroki hako wo agameteiru" %}
		</p>
		{% include verse.html
			lyrics="館の主|庭師の男|魂たちに指令を下す/世界を救うためには|為さねばならぬことがある"
			romaji="yakata no aruji|niwashi no otoko|tamashii-tachi ni shirei wo kudasu/sekai wo sukuu tame ni wa|nasaneba naranu koto ga aru"
		%}
		{% include verse.html
			lyrics="悪魔に魅入られた魂を滅ぼせ/全ての元凶「大罪契約者」を殺せ"
			romaji="akuma ni miirareta tamashii wo horobose/subete no genkyou &quot;taizai keiyakusha&quot; wo korose"
		%}
		{% include verse.html
			lyrics="動き出す魂の従者/「大罪狩り」が今|始まった"
			romaji="ugokidasu tamashii no juusha/&quot;taizai kari&quot; ga ima|hajimatta"
		%}
		<p>
			<strong>{% include lyric.html lyric="第三章|王女の旅立ち" rom="dai sanshou|oujo no tabidachi" %}</strong><br />
			{% include lyric.html lyric="王女の前には眠りこける家臣たち" rom="oujo no mae ni wa nemurikokeru kashin-tachi" %}<br />
			{% include lyric.html lyric="それは誰かからの「gift」" rom="sore wa dareka kara no &quot;gift&quot;" %}<br />
			{% include lyric.html lyric="彼女を守れる者はもういない" rom="kanojo wo mamoreru mono wa mou inai" %}<br />
			{% include lyric.html lyric="迫りくる庭師の軍勢" rom="semarikuru mniwashi no gunzei" %}
		</p>
		{% include verse.html
			lyrics="白き馬に乗って/現れた修道女/王女を助け出し|新たな旅へ"
			romaji="shiroki uma ni notte/arawareta shuudoujo/oujo wo tasukedashi|aratana tabi he"
		%}
		{% include verse.html
			lyrics="もう待っているだけのはたくさんなの/守られてばかりは嫌だ/自分自身で全てを成し遂げたら/胸を張って君に会いに行くよ"
			romaji="mou matteiru dake no wa takusan na no/mamorarete bakari wa iya da/jibun jishin de subete wo nashitogetara/mune wo hatte kimi ni ai ni iku yo"
		%}
		<p>
			<strong>{% include lyric.html lyric="第四章|英雄たち" rom="dai yonshou|eiyuu-tachi" %}</strong><br />
			{% include lyric.html lyric="「悪とは一体何なのか？」" rom="&quot;aku to wa ittai nan na no ka?&quot;" %}<br />
			{% include lyric.html lyric="七つの罪|背負いし者" rom="nanatsu no tsumi|seoishi mono" %}<br />
			{% include lyric.html lyric="世界と共に滅んだはず" rom="sekai to tomo ni horonda hazu" %}<br />
			{% include lyric.html lyric="されども|まだ生きている" rom="soredomo|mada ikiteiru" %}
		</p>
		{% include verse.html
			lyrics="罪は決して許されぬのか？/声をあげる者がいた/庭師の野望を止めるため/英雄も平民も/幻の剣をとる"
			romaji="tsumi wa kesshite yurusarenu no ka?/koe wo ageru mono ga ita/niwashi no yabou wo tomeru tame/eiyuu mo heimin mo/maboroshi no ken wo toru"
		%}
		{% include verse.html
			lyrics="正義も悪も全てを唄に変えよう/罰はすでに下されたのだから/過ちを二度と繰り返さぬよう/今こそ我々は戦おう"
			romaji="seigi mo aku mo subete wo uta ni kaeyou/batsu wa sude ni kudasareta no dakara/ayamachi wo nido to kurikaesanu you/ima koso wareware wa tatakaou"
		%}
		<p>
			<strong>{% include lyric.html lyric="第五章|BLACKBOX" rom="dai goshou|BLACKBOX" %}</strong><br />
			{% include lyric.html lyric="禁じられた黒き箱|今開かれる" rom="kinjirareta kuroki hako|ima hirakareru" %}<br />
			{% include lyric.html lyric="その力は神の浄化|あるいは初期化" rom="sono chikara wa kami no jouka|arui wa shokika" %}
		</p>
		{% include verse.html
			lyrics="人の魂など所詮は|データーの一部に過ぎない/黒き箱のぜんまいは周り|全てを溶かし尽くしてゆく"
			romaji="hito no tamashii nado shosen wa|DEETAA no ichibu ni suginai/kuroki hako no zenmai wa mawari|subete wo tokashi tsukushiteyuku"
		%}
		{% include verse.html
			lyrics="その渦に逆らう事は出来ぬ/あれは神の定めしプログラム/それを止めることができるのも/神以外にはいないのだから"
			romaji="sono uzu ni sakarau koto wa dekinu/are wa kami no sadameshi PUROGURAMU/sore wo tomeru koto ga dekiru no mo/kami igai ni wa inai no dakara"
		%}
		{% include verse.html
			lyrics="この世でたった一人だけ|生き続けていた/彼女の銃から放たれた|金色の銃弾"
			romaji="kono yo de tatta hitori dake|ikitsudzuketeita/kanojo no juu kara hanatareta|konjiki no juudan"
		%}
		{% include verse.html
			lyrics="空に舞う黒き花火を見つめ続けながら/誰の事を想うのか/古き神々の時代が終わりを告げ|そして/また時が動き出す"
			romaji="sora ni mau kuroki hanabi wo mitsumetsudzuke nagara/dare no koto wo omou no ka/furoki kamigami no jidai ga owari wo tsuge|soshite/mata toki ga ugokidasu"
		%}
		<p>
			<strong>{% include lyric.html lyric="第六章|Not Eve" rom="dai rokushou|Not Eve" %}</strong><br />
			{% include lyric.html lyric="これは終焉の物語" rom="kore wa shuuen no monogatari" %}<br />
			{% include lyric.html lyric="何から語りましょうか？" rom="nani kara katarimashou ka?" %}
		</p>
		{% include verse.html
			lyrics="私の名前は……/私の名前は……"
			romaji="watashi no namae wa....../watashi no namae wa......"
		%}
		<p>
			<strong>{% include lyric.html lyric="第七章|狂想の終わり" rom="dai nanashou|kyousou no owari" %}</strong><br />
			{% include lyric.html lyric="辿り着いた映画館|王女にとってそこは" rom="tadoritsuita eigakan|oujo ni totte soko wa" %}<br />
			{% include lyric.html lyric="黒幕の住む場所|そしてかつての故郷" rom="kuromaku no sumu basho|soshite katsute no kokyou" %}
		</p>
		{% include verse.html
			lyrics="庭師などしょせん傀儡|真に倒すべき敵は/人形に宿りし者|箱庭の少女"
			romaji="niwashi nado shosen kugutsu|shin ni taosu beki teki wa/ningyou ni yadorishi mono|hakoniwa no shoujo"
		%}
		{% include verse.html
			lyrics="ああ歯車よ|何故にお前は彼女を守るのか/その女はお前の想い人ではないというのに"
			romaji="aa haguruma yo|naze ni omae wa kanojo wo mamoru no ka/sono onna wa omae no omoi hito de wa nai to iu no ni"
		%}
		{% include verse.html
			lyrics="邪魔するというなら|温情などかけぬぞ/我は傲慢な王女|悪ノ娘なのだから"
			romaji="jamasuru to iu nara|onjou nado kakenu zo/ware wa goumanna oujo|aku NO musume na no dakara"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきた|終わりを告げる鐘がなる/あれは心音の時計塔|罪を刻む針/いかなる者であろうとも|私に逆らうなら/粛清してしまえ"
			romaji="tsui ni sono toki wa yattekita|owari wo tsugeru kane ga naru/are wa shin'on no tokeitou|tsumi wo kizamu hari/ikanaru mono de arou tomo|watashi ni sakarau nara/shukusei shiteshimae"
		%}
		<p>
			<strong>{% include lyric.html lyric="第八章|再会" rom="dai hachishou|saikai" %}</strong><br />
			{% include lyric.html lyric="僕らはいつでも|間違いだらけだった" rom="bokura wa itsudemo|machigai darake datta" %}<br />
			{% include lyric.html lyric="この千年の時で" rom="kono sennen no toki de" %}
		</p>
		{% include verse.html
			lyrics="君にずっと会いたいと思ってた/そう|君の名は……"
			romaji="kimi ni zutto aitai to omotteta/sou|kimi no na wa......"
		%}
		{% include verse.html
			lyrics="Ma"
			romaji="EMUEE"
		%}
		<p>
			<strong>{% include lyric.html lyric="第九章|純粋なる悪" rom="dai kyuushou|junsui naru aku" %}</strong><br />
			{% include lyric.html lyric="王女を探し求めた少年" rom="oujo wo sagashi motometa shounen" %}<br />
			{% include lyric.html lyric="その姉の中に彼女はいた" rom="sono ane no naka ni kanojo wa ita" %}<br />
			{% include lyric.html lyric="真の純粋な存在|目指して" rom="shin no jinsuina sonzai|mezashite" %}<br />
			{% include lyric.html lyric="七つの悪魔|取り込んだ魔女" rom="nanatsu no akuma|torikonda majo" %}
		</p>
		<p>
			{% include lyric.html lyric="消滅の直前|人形は" rom="shoumetsu no chokuzen|ningyou wa" %}<br />
			{% include lyric.html lyric="魔女の<ruby>意思<rp>(</rp><rt>おんねん</rt><rp>)</rp></ruby>を蘇らせた" rom="majo no onnen wo yomigaeraseta" %}<br />
			{% include lyric.html lyric="黒き箱に飲み込まれながら" rom="kuroki hako ni nomikomare nagara" %}<br />
			{% include lyric.html lyric="庭師は最後にこう叫んだ" rom="niwashi wa saigo ni kou sakenda" %}
		</p>
		{% include verse.html
			lyrics="世界を救いたくばその娘を殺せ/魔女と同化した悪ノ娘を殺せ"
			romaji="sekai wo sukuitakuba sono musume wo korose/majo to doukashita aku NO musume wo korose"
		%}
		{% include verse.html
			lyrics="迫られる最後の決断/少年よ|どちらを選ぶのか"
			romaji="semareru saigo no ketsudan/shounen yo|dochira wo erabu no ka"
		%}
		<p>
			<strong>{% include lyric.html lyric="第十章|少年の選択" rom="dai juushou|shounen no sentaku" %}</strong><br />
			{% include lyric.html lyric="「悪とは一体なのか？」誰かの言葉" rom="&quot;aku to wa ittai nan na no ka?&quot; dareka no kotoba" %}<br />
			{% include lyric.html lyric="人は誰しも欲深いもの" rom="hito wa dareshimo yokubukai mono" %}
		</p>
		{% include verse.html
			lyrics="僕だってそれは同じだから/君と世界|どちらも/手に入れる！"
			romaji="boku datte sore wa onaji dakara/kimi to sekai|dochira mo/te ni ireru!"
		%}
		<p>
			<strong>{% include lyric.html lyric="第十一章|Re_birthday Truth" rom="dai juuisshou|Re_birthday Truth" %}</strong><br />
			{% include lyric.html lyric="強き決意が|気まぐれな" rom="tsuyoki ketsui ga|kimagurena" %}<br />
			{% include lyric.html lyric="奇跡をもたらした" rom="kiseki wo motarashita" %}<br />
			{% include lyric.html lyric="君の手から落ちた|小さな小瓶" rom="kimi no te kara ochita|chiisana kobin" %}<br />
			{% include lyric.html lyric="書かれていたメッセージ" rom="kakareteita MESSEEJI" %}<br />
			{% include lyric.html lyric="『必ず助けなさい！』" rom="'kanarazu tasukenasai!'" %}<br />
			{% include lyric.html lyric="君らしいやと|小さく笑う" rom="kimi rashii ya to|chiisaku warau" %}
		</p>
		{% include verse.html
			lyrics="大丈夫|僕は君を/絶対に守るから/世界はもはや僕らの|敵じゃない/さあ共に手を取り|真に進もう/新たな世界と|君の為に"
			romaji="daijoubu|boku wa kimi wo/zettai ni mamoru kara/sekai wa mohaya bokura no|teki ja nai/saa tomo ni te wo tori|mae ni susumou/aratana sekai to|kimi no tame ni"
		%}
		{% include verse.html
			lyrics="ほら/空を見てごらん/世界は/月に映る鏡/その先で/こちらを見ている/あなたが/今/目を覚ます時"
			romaji="hora/sora wo mitegoran/sekai wa/tsuki ni utsuru kagami/sono saki de/kochira wo miteiru/anata ga/ima/me wo samasu toki"
		%}
		<p>
			<strong>{% include lyric.html lyric="第十二章|プロローグ" rom="dai juunishou|PUROROOGU" %}</strong>
		</p>
	</div>
</div>