---
english-name: master of the court
translation: https://pricechecktranslations.tumblr.com/post/107341678420
mothyrights: <em>The Evillious Chronicles</em>|<em>master of the court</em>
---
<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="森を抜け|墓場から追われ/辿りつくだろう|古い映画館/その場所で|貴方は裁かれ/罪を得るだろう|最後の審判"
			romaji="mori wo nuke|hakaba kara oware/tadori tsuku darou|furui eigakan/sono basho de|anata wa sabakare/tsumi wo eru darou|saigo no shinpan"
		%}
		{% include verse.html
			lyrics="時計塔で廻る歯車/人形（ドール）は父の遺志を継いだ/そうよ私が新たな法廷の主/今|開かれる|冥界の門"
			romaji="tokeitou de mawaru haguruma/DOORU wa chichi no ishi wo tsuida/sou yo watashi ga aratana houtei no nushi/ima|hirakareru|meikai no mon"
		%}
		{% include verse.html
			lyrics="教えてよmy father/これが正しい選択でしょうか？/心を持たぬ私にはわからないの/教えてよmy father/全員地獄送りでいいんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father/kore ga tadashii sentaku deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father/zenin jigoku okuri de ii ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="語られぬ|唄もあとわずか/終わりは近いと|庭師は呟く/正しいのは|彼か魔道師（Ma）か/わからないまま|槌を叩いている"
			romaji="katararenu|uta mo ato wazuka/owari wa chikai to|niwashi wa tsubuyaku/tadashii no wa|kare ka EMUEE ka/wakaranai mama|tsuchi wo tataiteiru"
		%}
		{% include verse.html
			lyrics="無機質な胎内に宿る/毒（イレギュラー）が身を震わす/いい子ね|あなたの役目はこれからだから/今は子守唄で|眠っていなさい"
			romaji="mukishitsuna tainai ni yadoru/IREGYURAA ga mi wo furuwasu/ii ko ne|anata no yakume wa kore kara dakara/ima wa komoriuta de|nemutteinasai"
		%}
		{% include verse.html
			lyrics="教えてよmy father/これが正しい運命でしょうか？/心を持たぬ私にはわからないの/教えてよmy father/理想郷（ユートピア）はこれでできるんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father/kore ga tadashii unmei deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father/YUUTOPIA wa kore de dekiru ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="そうよ私が新たな法廷の主/今|開かれる|冥界の門"
			romaji="sou yo watashi ga aratana houtei no nushi/ima|hirakareru|meikai no mon"
		%}
		{% include verse.html
			lyrics="教えてよmy father/これが正しい選択でしょうか？/心を持たぬ私にはわからないの/教えてよmy father/全員地獄送りでいいんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father/kore ga tadashii sentaku deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father/zenin jigoku okuri de ii ndesuka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="教えてよmy father/これが正しい運命でしょうか？/心を持たぬ私にはわからないの/教えてよmy father/理想郷（ユートピア）はこれでできるんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father/kore ga tadashii unmei deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father/YUUTOPIA wa kore dekiru ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="森を抜け|墓場から追われ/辿りつくだろう|古い映画館/その場所で|貴方は裁かれ/罪を得るだろう|最後の審判"
			romaji="mori wo nuke|hakaba kara oware/tadori tsuku darou|furui eigakan/sono basho de|anata wa sabakare/tsumi wo eru darou|saigo no shinpan"
		%}
		{% include verse.html
			lyrics="時計塔で廻る歯車/人形（ドール）は父の遺志を継いだ/そうよ私が新たな法廷の主/今|開かれる|冥界の門"
			romaji="tokeitou de mawaru haguruma/DOORU wa chichi no ishi wo tsuida/sou yo watashi ga aratana houtei no nushi/ima|hirakareru|meikai no mon"
		%}
		{% include verse.html
			lyrics="教えてよmy father|これが正しい選択でしょうか？/心を持たぬ私にはわからないの/教えてよmy father|全員地獄送りでいいんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father|kore ga tadashii sentaku deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father|zenin jigoku okuri de ii ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="語られぬ|唄もあとわずか/終わりは近いと|庭師は呟く/正しいのは|彼か魔道師（Ma）か/わからないまま|槌を叩いている"
			romaji="katararenu|uta mo ato wazuka/owari wa chikai to|niwashi wa tsubuyaku/tadashii no wa|kare ka EMUEE ka/wakaranai mama|tsuchi wo tataiteiru"
		%}
		{% include verse.html
			lyrics="無機質な胎内に宿る/毒（イレギュラー）が身を震わす/いい子ね|あなたの役目はこれからだから/今は子守唄で|眠っていなさい"
			romaji="mukishitsuna tainai ni yadoru/IREGYURAA ga mi wo furuwasu/ii ko ne|anata no yakume wa kore kara dakara/ima wa komoriuta de|nemutteinasai"
		%}
		{% include verse.html
			lyrics="教えてよmy father|これが正しい運命でしょうか？/心を持たぬ私にはわからないの/教えてよmy father|理想郷（ユートピア）はこれでできるんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father|kore ga tadashii unmei deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father|YUUTOPIA wa kore de dekiru ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="そうよ私が新たな法廷の主/今|開かれる|冥界の門"
			romaji="sou yo watashi ga aratana houtei no nushi/ima|hirakareru|meikai no mon"
		%}
		{% include verse.html
			lyrics="教えてよmy father|これが正しい選択でしょうか？/心を持たぬ私にはわからないの/教えてよmy father|全員地獄送りでいいんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father|kore ga tadashii sentaku deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father|zenin jigoku okuri de ii ndesuka?/inochi wo motanu watashi ni wa wakaranai"
		%}
		{% include verse.html
			lyrics="教えてよmy father|これが正しい運命でしょうか？/心を持たぬ私にはわからないの/教えてよmy father|理想郷（ユートピア）はこれでできるんですか？/命を持たぬ私にはわからない"
			romaji="oshiete yo my father|kore ga tadashii unmei deshou ka?/kokoro wo motanu watashi ni wa wakaranai no/oshiete yo my father|YUUTOPIA wa kore dekiru ndesu ka?/inochi wo motanu watashi ni wa wakaranai"
		%}
	</div>
</div>