---
english-name: master of the hellish yard
image: /assets/images/thumbs/NemesisAlbum.jpg
translation: https://pricechecktranslations.tumblr.com/post/103853999760
mothyrights: <em>The Evillious Chronicles</em>|<em>master of the hellish yard</em>
---
<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="私の|目の前|四角い黒箱/黒箱|真ん中|小さな鍵穴/鍵穴|差し込む|黄金の鍵/その鍵|あるのは|私の掌の中"
			romaji="watashi no|me no mae|shikakui kuro hako/kuro hako|mannaka|chiisana kagiana/kagiana|sashikomu|ougon no kagi/sono kagi|aru no wa|watashi no tenohira no naka"
		%}
		{% include verse.html
			lyrics="血に飢えた狼達|骨と皮の亡者達/赤い空を舞いし鳥は|耳をつんざく奇声放つ"
			romaji="chi ni ueta ookami-tachi|hone to kawa no mouja-tachi/akai sora wo maishi tori wa|mimi wo tsunzaku kisei hanatsu"
		%}
		{% include verse.html
			lyrics="ああ|私は気づいてしまった/自分の今いるこの場所が/紛れもない地獄そのものであることを"
			romaji="aa|watashi wa kidzuite shimatta/jibun no ima iru kono basho ga/magire mo nai jigoku sono mono de aru koto wo"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/我は冥界の主|地獄を滅ぼす者/存在してはいけなかったこの場所/全てを無へと帰す時が来たの"
			romaji="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/ware wa meikai no nushi|jigoku wo horobosu mono/sonzaishite wa ikenakatta kono basho/subete wo mu he to kaesu toki ga kita no"
		%}
		{% include verse.html
			lyrics="罪は七つに分かれ|緩やかに地獄を生んだ/それを消し去ることが|私に与えられた使命"
			romaji="tsumi wa nanatsu ni wakare|yurui yaka ni jigoku wo unda/sore wo kesshisaru koto ga|watashi ni ataerareta shimei"
		%}
		{% include verse.html
			lyrics="黄金の鍵を差し込めば|全ての物語は終わる/森へと放つ最後の『少年』/その名は『罰』"
			romaji="ougon no kagi wo sashikomeba|subete no monogatari wa owaru/mori he to hanatsu saigo no 'shounen'/sono na wa 'batsu'"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/今や我は死なり|全てを滅ぼす者/存在してはいけなかったこの場所/血塗られた地獄『エヴィリオス』よ|消えろ"
			romaji="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/ima ya ware wa shinari|subete wo horobosu mono/sonzaishite wa ikenakatta kono basho/chinurareta jigoku 'EVIRIOSU' yo|kiero"
		%}
		{% include verse.html
			lyrics="独裁者となった暗殺者|彼女が『罰』を放った時/誰かが言った"
			romaji="dokusaisha to natta ansatsusha|kanojo ga 'batsu' wo hanatta toki/dareka ga itta"
		%}
		{% include verse.html
			lyrics="「これで我々は皆…くそったれだ」"
			romaji="&quot;kore de wareware wa mina... kusottare da&quot;"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma…"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="私の|目の前|四角い黒箱/黒箱|真ん中|小さな鍵穴/鍵穴|差し込む|黄金の鍵/その鍵|あるのは|私の掌の中"
			romaji="watashi no|me no mae|shikakui kuro hako/kuro hako|mannaka|chiisana kagiana/kagiana|sashikomu|ougon no kagi/sono kagi|aru no wa|watashi no tenohira no naka"
		%}
		{% include verse.html
			lyrics="血に飢えた狼達|骨と皮の亡者達/赤い空を舞いし鳥は|耳をつんざく奇声放つ"
			romaji="chi ni ueta ookami-tachi|hone to kawa no mouja-tachi/akai sora wo maishi tori wa|mimi wo tsunzaku kisei hanatsu"
		%}
		{% include verse.html
			lyrics="ああ|私は気づいてしまった/自分の今いるこの場所が/紛れもない地獄そのものであることを"
			romaji="aa|watashi wa kidzuite shimatta/jibun no ima iru kono basho ga/magire mo nai jigoku sono mono de aru koto wo"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/我は冥界の主|地獄を滅ぼす者/存在してはいけなかったこの場所/全てを無へと帰す時が来たの"
			romaji="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/ware wa meikai no nushi|jigoku wo horobosu mono/sonzaishite wa ikenakatta kono basho/subete wo mu he to kaesu toki ga kita no"
		%}
		{% include verse.html
			lyrics="罪は七つに分かれ|緩やかに地獄を生んだ/それを消し去ることが|私に与えられた使命"
			romaji="tsumi wa nanatsu ni wakare|yurui yaka ni jigoku wo unda/sore wo kesshisaru koto ga|watashi ni ataerareta shimei"
		%}
		{% include verse.html
			lyrics="黄金の鍵を差し込めば|全ての物語は終わる/森へと放つ最後の『少年』/その名は『罰』"
			romaji="ougon no kagi wo sashikomeba|subete no monogatari wa owaru/mori he to hanatsu saigo no 'shounen'/sono na wa 'batsu'"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/今や我は死なり|全てを滅ぼす者/存在してはいけなかったこの場所/血塗られた地獄『エヴィリオス』よ|消えろ"
			romaji="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma/ima ya ware wa shinari|subete wo horobosu mono/sonzaishite wa ikenakatta kono basho/chinurareta jigoku 'EVIRIOSU' yo|kiero"
		%}
		{% include verse.html
			lyrics="独裁者となった暗殺者|彼女が『罰』を放った時/誰かが言った"
			romaji="dokusaisha to natta ansatsusha|kanojo ga 'batsu' wo hanatta toki/dareka ga itta"
		%}
		{% include verse.html
			lyrics="「これで我々は皆……くそったれだ」"
			romaji="&quot;kore de wareware wa mina...... kusottare da&quot;"
		%}
		{% include verse.html
			lyrics="Ma Ma Ma Ma Ma Ma Ma Ma/Ma Ma Ma Ma Ma Ma Ma Ma Ma……"
		%}
	</div>
</div>