---
english-name: The Muzzle of Nemesis
translation: https://pricechecktranslations.tumblr.com/post/109929346820
mothyrights: <em>The Evillious Chronicles</em>|<em>The Muzzle of Nemesis</em>
---
<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="罪深き男よ/さあ|懺悔なさい"
		romaji="tsumibukaki otoko yo/saa|zangenasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|私ね|今/人に銃口を向けているの/たくさんの人を陥れて/私腹を肥やした悪い奴よ"
		romaji="nee kaa-san|watashi ne|ima/hito ni juukou wo muketeiru no/takusan no hito wo ochiirete/shifuku wo koyashita warui yatsu yo"
	%}
	{% include verse.html
		lyrics="この男のために私は/愛した人さえその手にかけた/次に自分自身も撃ったけれど/死ねことはできなかった"
		romaji="kono otoko no tame ni watashi wa/aishita hito sae sono te ni kaketa/tsugi ni jibun jishin mo utta keredo/shine koto wa dekinakatta"
	%}
	{% include verse.html
		lyrics="復讐の時は来たれり/さあ|懺悔なさい"
		romaji="fukushuu no toki wa kitareri/saa|zangenasai"
	%}
	{% include verse.html
		lyrics="Hello and good-bye『Mr.Pere Noel』/家にも火を付けたわ|どちらか選びなさい/眉間を撃ち抜かれるか/この業火の中|燃え尽きるかを"
		romaji="Hello and good-bye『Mr.Pere Noel』/ie ni mo hi wo dzuketa wa|dochira ka erabinasai/miken wo uchinekakeru ka/kono gouka no naka|moetsukiru ka wo"
	%}
	{% include verse.html
		lyrics="ねえ母さん|どんな悪党にも/贖罪のチャンスは与えるべきでしょ？"
		romaji="nee kaa-san|donna akutou ni mo/shokuzai no CHANSU wa ataeru beki desho?"
	%}
	{% include verse.html
		lyrics="だからね私|彼にこう言ったの/「あなたの財産を手放しなさい」/「全てを奪った人に返せば」/「命だけなら助けてあげる」"
		romaji="dakara ne watashi|kare ni kou itta no/&quot;anata no zaisan wo tebanashinasai&quot;/&quot;subete wo ubatta hito ni kaeseba&quot;/&quot;inochi dake nara tasukete ageru&quot;"
	%}
	{% include verse.html
		lyrics="彼は答えた/「私の財産」/「貴様なんぞには|決して渡さない」"
		romaji="kare wa kotaeta/&quot;watashi no zaisan&quot;/&quot;kisama nanzo ni wa|kesshite watasanai&quot;"
	%}
	{% include verse.html
		lyrics="どうしようもないクズね/やっぱり懺悔なさい"
		romaji="soushiyou mo nai KUZU ne/yappari zangenasai"
	%}
	{% include verse.html
		lyrics="Hello and good-bye『Master Of The Court』/欲に溺れきった悪徳裁判官/人々と私の怒りをその身に浴びて/眠りなさい"
		romaji="Hello and good-bye『Master Of The Court』/yoku ni oborekitta akutoku saibankan/hitobito to watashi no ikari wo sono mi ni abite/nemurinasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|あなたは私を/女手一つで育ててくれた/生まれたのは森の廃屋/父の顔など知らなかった"
		romaji="nee kaa-san|anata wa watashi wo/onnade hitotsu de sodatete kureta/umareta no wa mori no haioku/chichi no kao nado shiranakatta"
	%}
	<p>
		{% include lyric.html lyric="ねえ母さん|父さんはもう" rom="nee kaa-san|tou-san wa mou" %}<br />
		{% include lyric.html lyric="駄目みたいだよ|狂っているわ" rom="dame mitai da yo|kurutteiru wa" %}<br />
		{% include lyric.html lyric="人形を<ruby>義姉<rp>(</rp><rt>ねえ</rt><rp>)</rp></ruby>さんだと思い込んでいる" rom="ningyou wo nee-san da to omoikondeiru" %}<br />
		{% include lyric.html lyric="あの人はもうとっくに" rom="ano hito wa mou tokku ni" %}<br />
		{% include lyric.html lyric="暗い海底|沈んでいた" rom="kurai unazoko|shizundeita" %}<br />
		{% include lyric.html lyric="もう娘は" rom="mou musume wa" %}<br />
		{% include lyric.html lyric="この私" rom="kono watashi" %}<br />
		{% include lyric.html lyric="一人だけなのに" rom="hitori dake nano ni" %}
	</p>
	{% include verse.html
		lyrics="ねえ父さん|私を見てよ/私の事も/見てよ"
		romaji="nee tou-san|watashi wo mite yo/watashi no koto mo/mite yo"
	%}
	{% include verse.html
		lyrics="Hello and good-bye…good-bye/『My Father』/殺し屋の元締|悪徳裁判官/ねえ母さん|どうしてあなたはこんな人を/愛したの？"
		romaji="Hello and good-bye…good-bye/『My Father』/koroshiya no motojime|akutoku saibankan/nee kaa-san|doushite anata wa konna hito wo/aishita no?"
	%}
	{% include verse.html
		lyrics="これで本当に終わりよ/全てを最後にしましょう"
		romaji="kore de hontou ni owari yo/subete wo saigo ni shimashou"
	%}
	{% include verse.html
		lyrics="罪深き悪の物語よ/さようなら"
		romaji="tsumibukaki aku no monogatari yo/sayounara"
	%}
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	{% include verse.html
		lyrics="罪深き男よ/さあ|懺悔なさい"
		romaji="tsumibukaki otoko yo/saa|zangenasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|私ね|今/人に銃口を向けているの/たくさんの人を陥れて/私腹を肥やした悪い奴よ"
		romaji="nee kaa-san|watashi ne|ima/hito ni juukou wo muketeiru no/takusan no hito wo ochiirete/shifuku wo koyashita warui yatsu yo"
	%}
	{% include verse.html
		lyrics="この男のために私は/愛した人さえその手にかけた/次に自分自身も撃ったけれど/死ねことはできなかった"
		romaji="kono otoko no tame ni watashi wa/aishita hito sae sono te ni kaketa/tsugi ni jibun jishin mo utta keredo/shine koto wa dekinakatta"
	%}
	{% include verse.html
		lyrics="復讐の時は来たれり/さあ|懺悔なさい"
		romaji="fukushuu no toki wa kitareri/saa|zangenasai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="Hello and good-bye『Mr.Pere Noel』/家にも火を付けたわ|どちらか選びなさい/眉間を撃ち抜かれるか/この業火の中|燃え尽きるかを"
		romaji="Hello and good-bye『Mr.Pere Noel』/ie ni mo hi wo dzuketa wa|dochira ka erabinasai/miken wo uchinekakeru ka/kono gouka no naka|moetsukiru ka wo"
	%}
	{% include verse.html
		lyrics="ねえ母さん|どんな悪党にも/贖罪のチャンスは与えるべきでしょ？"
		romaji="nee kaa-san|donna akutou ni mo/shokuzai no CHANSU wa ataeru beki desho?"
	%}
	{% include verse.html
		lyrics="だからね私|彼にこう言ったの/「あなたの財産を手放しなさい/全てを奪った人に返せば命だけなら助けてあげる」"
		romaji="dakara ne watashi|kare ni kou itta no/&quot;anata no zaisan wo tebanashinasai/subete wo ubatta hito ni kaeseba inochi dake nara tasukete ageru&quot;"
	%}
	{% include verse.html
		lyrics="彼は答えた/「私の財産|貴様なんぞには|決して渡さない」"
		romaji="kare wa kotaeta/&quot;watashi no zaisan|kisama nanzo ni wa|kesshite watasanai&quot;"
	%}
	{% include verse.html
		lyrics="どうしようもないクズね/やっぱり懺悔なさい"
		romaji="soushiyou mo nai KUZU ne/yappari zangenasai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="Hello and good-bye『Master Of The Court』/欲に溺れきった悪徳裁判官/人々と私の怒りをその身に浴びて/眠りなさい"
		romaji="Hello and good-bye『Master Of The Court』/yoku ni oborekitta akutoku saibankan/hitobito to watashi no ikari wo sono mi ni abite/nemurinasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|あなたは私を/女手一つで育ててくれた/生まれたのは森の廃屋/父の顔など知らなかった"
		romaji="nee kaa-san|anata wa watashi wo/onnade hitotsu de sodatete kureta/umareta no wa mori no haioku/chichi no kao nado shiranakatta"
	%}
	{% include verse.html
		lyrics="ねえ母さん|父さんはもう/駄目みたいだよ|狂っているわ/人形を義姉さんだと思い込んでいる/あの人はもうとっくに/暗い海底|沈んでいた/もう娘はこの私一人だけなのに"
		romaji="nee kaa-san|tou-san wa mou/dame mitai da yo|kurutteiru wa/ningyou wo nee-san da to omoikondeiru/ano hito wa mou tokku ni/kurai unazoko|shizundeita/mou musume wa kono watashi hitori dake nano ni"
	%}
	{% include verse.html
		lyrics="ねえ父さん|私を見てよ/私の事も見てよ"
		romaji="nee tou-san|watashi wo mite yo/watashi no koto mo mite yo"
	%}
	{% include verse.html
		lyrics="Hello and good-bye…good-bye『My Father』/殺し屋の元締|悪徳裁判官/ねえ母さん|どうしてあなたはこんな人を/愛したの？"
		romaji="Hello and good-bye…good-bye『My Father』/koroshiya no motojime|akutoku saibankan/nee kaa-san|doushite anata wa konna hito wo/aishita no?"
	%}
	{% include verse.html
		lyrics="これで本当に終わりよ/全てを最後にしましょう"
		romaji="kore de hontou ni owari yo/subete wo saigo ni shimashou"
	%}
	{% include verse.html
		lyrics="罪深き悪の物語よ/さようなら"
		romaji="tsumibukaki aku no monogatari yo/sayounara"
	%}
	{% include verse.html
		lyrics="罪深き男よ/さあ|懺悔なさい"
		romaji="tsumibukaki otoko yo/saa|zangenasai"
	%}
</div>

<div>
	<h3><a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a> &middot; <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="罪深き男よ/さあ|懺悔なさい"
		romaji="tsumibukaki otoko yo/saa|zangenasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|私ね|今/人に銃口を向けているの/たくさんの人を陥れて/私腹を肥やした悪い奴よ"
		romaji="nee kaa-san|watashi ne|ima/hito ni juukou wo muketeiru no/takusan no hito wo ochiirete/shifuku wo koyashita warui yatsu yo"
	%}
	{% include verse.html
		lyrics="この男のために私は/愛した人さえその手にかけた/次に自分自身も撃ったけれど/死ねことはできなかった"
		romaji="kono otoko no tame ni watashi wa/aishita hito sae sono te ni kaketa/tsugi ni jibun jishin mo utta keredo/shine koto wa dekinakatta"
	%}
	{% include verse.html
		lyrics="復讐の時は来たれり/さあ|懺悔なさい"
		romaji="fukushuu no toki wa kitareri/saa|zangenasai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="Hello and good-bye『Mr.Pere Noel』/家にも火を付けたわ|どちらか選びなさい/眉間を撃ち抜かれるか/この業火の中|燃え尽きるかを"
		romaji="Hello and good-bye『Mr.Pere Noel』/ie ni mo hi wo dzuketa wa|dochira ka erabinasai/miken wo uchinekakeru ka/kono gouka no naka|moetsukiru ka wo"
	%}
	{% include verse.html
		lyrics="ねえ母さん|どんな悪党にも/贖罪のチャンスは与えるべきでしょ？"
		romaji="nee kaa-san|donna akutou ni mo/shokuzai no CHANSU wa ataeru beki desho?"
	%}
	{% include verse.html
		lyrics="だからね私|彼にこう言ったの/「あなたの財産を手放しなさい/全てを奪った人に返せば命だけなら助けてあげる」"
		romaji="dakara ne watashi|kare ni kou itta no/&quot;anata no zaisan wo tebanashinasai/subete wo ubatta hito ni kaeseba inochi dake nara tasukete ageru&quot;"
	%}
	{% include verse.html
		lyrics="彼は答えた/「私の財産|貴様なんぞには|決して渡さない」"
		romaji="kare wa kotaeta/&quot;watashi no zaisan|kisama nanzo ni wa|kesshite watasanai&quot;"
	%}
	{% include verse.html
		lyrics="どうしようもないクズね/やっぱり懺悔なさい"
		romaji="soushiyou mo nai KUZU ne/yappari zangenasai"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="Hello and good-bye『Master Of The Court』/欲に溺れきった悪徳裁判官/人々と私の怒りをその身に浴びて/眠りなさい"
		romaji="Hello and good-bye『Master Of The Court』/yoku ni oborekitta akutoku saibankan/hitobito to watashi no ikari wo sono mi ni abite/nemurinasai"
	%}
	{% include verse.html
		lyrics="ねえ母さん|あなたは私を/女手一つで育ててくれた/生まれたのは森の廃屋/父の顔など知らなかった"
		romaji="nee kaa-san|anata wa watashi wo/onnade hitotsu de sodatete kureta/umareta no wa mori no haioku/chichi no kao nado shiranakatta"
	%}
	{% include verse.html
		lyrics="ねえ母さん|父さんはもう/駄目みたいだよ|狂っているわ/人形を義姉さんだと思い込んでいる/あの人はもうとっくに/暗い海底|沈んでいた/もう娘はこの私一人だけなのに"
		romaji="nee kaa-san|tou-san wa mou/dame mitai da yo|kurutteiru wa/ningyou wo nee-san da to omoikondeiru/ano hito wa mou tokku ni/kurai unazoko|shizundeita/mou musume wa kono watashi hitori dake nano ni"
	%}
	{% include verse.html
		lyrics="ねえ父さん|私を見てよ/私の事も見てよ"
		romaji="nee tou-san|watashi wo mite yo/watashi no koto mo mite yo"
	%}
	{% include verse.html
		lyrics="Hello and good-bye…good-bye『My Father』/殺し屋の元締|悪徳裁判官/ねえ母さん|どうしてあなたはこんな人を/愛したの？"
		romaji="Hello and good-bye…good-bye『My Father』/koroshiya no motojime|akutoku saibankan/nee kaa-san|doushite anata wa konna hito wo/aishita no?"
	%}
	{% include verse.html
		lyrics="これで本当に終わりよ/全てを最後にしましょう"
		romaji="kore de hontou ni owari yo/subete wo saigo ni shimashou"
	%}
	{% include verse.html
		lyrics="罪深き悪の物語よ/さようなら"
		romaji="tsumibukaki aku no monogatari yo/sayounara"
	%}
</div>