---
english-name: Neomaria of the Inverted Gravestone
translation: https://pricechecktranslations.tumblr.com/post/148969048775
mothyrights: <em>The Evillious Chronicles</em>|<em>Neomaria of the Inverted Gravestone</em>
---
<div>
	<h3><a href="{% link album/lucifenia-trinity.html %}"><em>Lucifenia Trinity</em></a></h3>
	{% include verse.html
		lyrics="その娘|魔女に育てられし者/銀の雀「逆さ墓標のネオマリア」/感情もなくただ人を殺すこと/それが教え|混沌の魔女の教え"
		romaji="sono musume|majo ni sodaterareshi mono/gin no suzume &quot;sakasa bohyou no NEOMARIA&quot;/kanjou mo naku tada hito wo korosu koto/sore ga oshie|konton no majo no oshie"
	%}
	{% include verse.html
		lyrics="全ては実験|そして始まりでもあった/「N」を冠す者|試作品のアサシン/家族は全て青い炎に焼かれた/孤独な少女は「悪意の種」を宿す"
		romaji="subete wa jikken|soshite hajimari demo atta/&quot;N&quot; wo kansu mono|shisakuhin no ASASHIN/kazoku wa subete aoi honoo ni yakareta/kadokuna shoujo wa &quot;akui no tane&quot; wo yadosu"
	%}
	{% include verse.html
		lyrics="東の砂漠/進むキャラバン/ある日突然/姿を消した/それが彼女の/初めての仕事/逆さ墓標の凶刃"
		romaji="higashi no sabaku/susumu KYARABAN/aru hi totsuzen/sugata wo keshita/sore ga kanojo no/hajimete no shigoto/sakasa bohyou no kyoujin"
	%}
	{% include verse.html
		lyrics="生まれながらに/墓に名を刻む少女"
		romaji="umare nagara ni/haka ni na wo kizamu shoujo"
	%}
	{% include verse.html
		lyrics="その娘|人殺しの人形/今日の標的|赤い服の逃亡者/国を裏切り|兄弟を手にかけた/魔女に言われた「速やかに消せ」と"
		romaji="sono musume|hitogoroshi no ningyou/kyou no hyouteki|akai fuku no toubousha/kuni wo uragiri|kyoudai wo te ni kaketa/majo ni iwareta &quot;sumiyaka ni kese&quot; to"
	%}
	{% include verse.html
		lyrics="崖の頂上|標的を待ち伏せる/目印の赤い服|姿を現した/自分とさほど年の変わらぬ少年/初めてわずかな迷いの気持ちが生まれた"
		romaji="gake no choujou|hyouteki wo mochibuseru/mejirushi no akai fuku|sugata wo arawashita/jibun to sahodo toshi no kawaranu shounen/hajimete wazukana mayoi no kimochi ga umareta"
	%}
	{% include verse.html
		lyrics="足を滑らせ/崖から落ちた/徐々に/ほんやりしていく意識/赤い服の/少年が近づく/彼は/剣を抜いている"
		romaji="ashi wo suberase/gake kara ochita/jojo ni/hon'yari shiteiku ishiki/akai fuku no/shounen ga chikadzuku/kare wa/ken wo nuiteiru"
	%}
	{% include verse.html
		lyrics="生まれながらに/墓に名を刻む少女"
		romaji="umare nagara ni/haka ni na wo kizamu shoujo"
	%}
	{% include verse.html
		lyrics="目覚めた時には記憶を失っていた/荒野に佇む少女|身体には手当の跡/やがて旅の一団に拾われた/それはある国に所属する騎士団の馬車だった"
		romaji="mezameta toki ni wa kioku wo ushinatteita/kouya ni tatazumu shoujo|karada ni wa teate no ato/yagate tabi no ichidan ni hirowareta/sore wa aru kuni ni shozokusuru kishidan no basha datta"
	%}
	{% include verse.html
		lyrics="罪も悪意も/すべて忘れて/新たな人生を/歩み出す/かすかな記憶を/頼りに彼女は/「マリアム」と/名乗った"
		romaji="tsumi mo akui mo/subete wasurete/aratana jinsei wo/ayumidasu/kasukana kioku wo/tayori ni kanojo wa/&quot;MARIAMU&quot; to/nanotta"
	%}
	{% include verse.html
		lyrics="生まれながらに/墓に名を刻む少女"
		romaji="umare nagara ni/haka ni na wo kizamu shoujo"
	%}
	{% include verse.html
		lyrics="だけどその名を/知る者はもういない"
		romaji="dakedo sono na wo/shirumono wa mou inai"
	%}
</div>