---
english-name: Outlaw&amp;Marionette
image: /assets/images/thumbs/WaltzAlbum.png
translation: 
mothyrights: <em>The Evillious Chronicles</em>|<em>Outlaw&amp;Marionette</em>
notes: Some typos from the original lyric text have been fixed.
---
<div>
	<h3><a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="泥から生まれた死者の王は/新たな世界へ魂を導く/その理から外れた僕は/一人じゃないさ|君がそばにいるなら"
			romaji="doro kara umareta shisha no ou wa/aratana sekai he tamashii wo michibiku/sono kotowari kara hazureta boku wa/hitori ja nai sa|kimi ga soba ni iru nara"
		%}
		{% include verse.html
			lyrics="逸れ者達とその神は/死ぬ事さえも許されず/ならば僕も導こう/また一つの悪ノセカイ"
			romaji="sore mono-tachi to sono kami wa/shinu koto sae mo yurusarezu/naraba boku mo michibikou/mata hitotsu no aku NO SEKAI"
		%}
		{% include verse.html
			lyrics="開かれたLychgate/辿り着けぬMarionette/不完全Punishment/弾け飛んで消えた"
			romaji="hirakareta Lychgate/tadoritsukenu Marionette/fukanzen Punishment/hajiketonde kieta"
		%}
		{% include verse.html class="versebreak"
			lyrics="誰かが夢見た/時計仕掛けのユートピアさ"
			romaji="dareka ga yumemita/tokeijikake no YUUTOPIA sa"
		%}
		{% include verse.html
			lyrics="間違いだらけを集めれば/別の正解になる時もあるだろう/四人いた僕らは道を違えた/結局誰もが正解では無かった"
			romaji="machigai darake wo atsumereba/betsu no seikai ni naru toki mo aru darou/yonnin ita bokura wa michi wo tagaeta/kekkyoku dare mo ga seikai de wa nakatta"
		%}
		{% include verse.html
			lyrics="君が作った世界を/全て壊してしまった/僕らはいつだってそう/お互いがはぐれ者"
			romaji="kimi ga tsukutta sekai wo/subete kowashiteshimatta/bokura wa itsu datte sou/otagai ga hagure mono"
		%}
		{% include verse.html
			lyrics="下されたJudgment/暑さ残るAugust/君に似合う季節だと/とても思えなかった"
			romaji="kudasareta Judgment/atsusa nokoru August/kimi ni niau kisetsu da to/totemo omoenakatta"
		%}
		{% include verse.html class="versebreak"
			lyrics="葉月の記憶は/冬の寒さに消え去った"
			romaji="hadzuki no kioku wa/fuyu no samusa ni kiesatta"
		%}
		{% include verse.html
			lyrics="逸れ者達と人形は/眠る事も許されず/そして僕は導こう/嘆き叫ぶ悪ノセカイ"
			romaji="sore mono-tachi to ningyou wa/nemuru koto mo yurusarezu/soshite boku wa michibikou/nagekisakebu aku NO SEKAI"
		%}
		{% include verse.html
			lyrics="開かれたLychgate/辿り着けぬMarionette/不完全Punishment/弾け飛んで消えた"
			romaji="hirakareta Lychgate/tadoritsukenu Marionette/fukanzen Punishment/hajiketonde kieta"
		%}
		{% include verse.html
			lyrics="列をなしたOutlaw/世界が突き付けたNo/君を連れてくるだろう/棺の中に入れて"
			romaji="retsu wo nashita Outlaw/sekai ga tsukitsuketa No/kimi wo tsuretekuru darou/hitsugi no naka ni irete"
		%}
		{% include verse.html
			lyrics="誰かが夢見た/時計仕掛けのユートピアさ"
			romaji="dareka ga yumemita/tokeijikake no YUUTOPIA sa"
		%}
	</div>
</div>