---
english-name: The Portrait Glassred Drew
translation: https://pricechecktranslations.tumblr.com/post/109912809100
mothyrights: <em>The Evillious Chronicles</em>|<em>The Portrait Glassred Drew</em>
---
<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="もしも|変わらなければ"
		romaji="moshimo|kawaranakereba"
	%}
	{% include verse.html
		lyrics="キャンバスの上へ筆を走らせ/あの人の絵を描いた"
		romaji="KYANBASU no ue fude he hashirase/ano hito no e wo egaita"
	%}
	{% include verse.html
		lyrics="思い出の隅にあるこの顔には/もう会えない|ずっと"
		romaji="omoide no sumi ni aru kono kao ni wa/mou aenai|zutto"
	%}
	{% include verse.html
		lyrics="変わってしまったのは/いつからだっただろうか/あなたがあなたのままなら/違う結末だったかも/なんて|今さらだね"
		romaji="kawatteshimatta no wa/itsukara datta darou ka/anata ga anata no mama nara/chigau ketsumatsu datta kamo/nante|ima sara da ne"
	%}
	{% include verse.html
		lyrics="――絵の中の君はもういない"
		romaji="e no naka no kimi wa mou inai"
	%}
	{% include verse.html
		lyrics="君の顔が好きだったわけじゃない/それでもずっと描き続けた/いつしか部屋は君の似顔絵で満たされた"
		romaji="kimi no kao ga suki datta wake janai/soredemo zutto egaki tsudzuketa/itsushika heya wa kimi no nigaoe de mitasareta"
	%}
	{% include verse.html
		lyrics="求めたのは君の顔じゃない/ありのままの本当の君/だけどね|君も私もその事に/気づけなかった"
		romaji="motometa no wa kimi no kao janai/ari no mama no hontou no kimi/dakedo ne|kimi mo watashi mo sono koto ni/kidzukenakatta"
	%}
	{% include verse.html
		lyrics="燃やされた肖像画/「この顔は嫌いだ」と君は言った"
		romaji="moyasareta shouzouga/&quot;kono kao wa kirai da&quot; to kimi wa itta"
	%}
	{% include verse.html
		lyrics="本当に醜かったのは/君の顔じゃなく|きっと……"
		romaji="hontou ni minikatta no wa/kimi no kao janaku|kitto......"
	%}
	{% include verse.html
		lyrics="浅はかな考えで/君の事馬鹿にした/次に会った時あなたは/違う人になっていた/そう|まるで別人だった"
		romaji="asahakana kangae de/kimi no koto baka ni shita/tsugi ni atta toki anata wa/chigau hito ni natteita/sou|maru de betsujin datta"
	%}
	{% include verse.html
		lyrics="――絵の中の君はもういない"
		romaji="e no naka no kimi wa mou inai"
	%}
	{% include verse.html
		lyrics="たとえ君が思い出の記憶と/違ったとしても|幸せならば/それでもいいのかもしれないと思ってた"
		romaji="tatoe kimi ga omoide no kioku to/chigatta toshitemo|shiawase narabaa/soredemo ii no kamoshirenai to omotteta"
	%}
	{% include verse.html
		lyrics="変わることが悪いわけじゃない/でも本当に必要なのは/変われない自分も受け入れるという事/気づけなかった"
		romaji="kawaru koto ga warui wake janai/demo hontou ni hitsuyouna no wa/kawaranai jibun mo ukeireru to iu koto/kidzukenakatta"
	%}
	{% include verse.html
		lyrics="君は生き続ける/私の描いた絵の中で/それがたとえ君の望んでた/姿ではないとしても"
		romaji="kimi wa ikitsudzukeru/watashi no egaita he no naka de/sore ga tatoe kimi no nozondeta/sugata de wa nai toshitemo"
	%}
	{% include verse.html
		lyrics="そう|君があの時/最後に言おうとしていた言葉/それが何だかはわかってる/ずっと前から知ってた"
		romaji="sou|kimi ga ano toki/saigo ni iou toshiteita kotoba/sore ga nanda ka wa wakatteru/zutto mae kara shitteta"
	%}
	{% include verse.html
		lyrics="君の事が好きだったかもしれない/だからずっと描き続けた/いつしか部屋は君の思い出で満たされた"
		romaji="kimi no koto ga suki datta kamoshirenai/dakara zutto egaki tsudzuketa/itsushika heya wa kimi no omoide de mitasareta"
	%}
	{% include verse.html
		lyrics="求めたのは君の顔じゃない/ありのままの本当の君/だけどね|君も私もその事に/気づけなかった"
		romaji="motometa no wa kimi no kao janai/ari no mama no hontou no kimi/dakedo ne|kimi mo watashi mo sono koto ni/kidzukenakatta"
	%}
</div>

<div>
	<h3><a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	{% include verse.html
		lyrics="キャンバスの上へ筆を走らせ/あの人の絵を描いた"
		romaji="KYANBASU no ue fude he hashirase/ano hito no e wo egaita"
	%}
	{% include verse.html
		lyrics="思い出の隅にあるこの顔には/もう会えない/ずっと"
		romaji="omoide no sumi ni aru kono kao ni wa/mou aenai/zutto"
	%}
	{% include verse.html
		lyrics="変わってしまったのは/いつからだっただろうか/あなたがあなたのままなら/違う結末だったかも/なんて|今さらだね"
		romaji="kawatteshimatta no wa/itsukara datta darou ka/anata ga anata no mama nara/chigau ketsumatsu datta kamo/nante|ima sara da ne"
	%}
	{% include verse.html
		lyrics="――絵の中の君はもういない"
		romaji="e no naka no kimi wa mou inai"
	%}
	{% include verse.html
		lyrics="君の顔が好きだったわけじゃない/それでもずっと描き続けた/いつしか部屋は君の似顔絵で満たされた"
		romaji="kimi no kao ga suki datta wake janai/soredemo zutto egaki tsudzuketa/itsushika heya wa kimi no nigaoe de mitasareta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="求めたのは君の顔じゃない/ありのままの本当の君/だけどね|君も私もその事に/気づけなかった"
		romaji="motometa no wa kimi no kao janai/ari no mama no hontou no kimi/dakedo ne|kimi mo watashi mo sono koto ni/kidzukenakatta"
	%}
	{% include verse.html
		lyrics="燃やされた肖像画/「この顔は嫌いだ」と君は言った"
		romaji="moyasareta shouzouga/&quot;kono kao wa kirai da&quot; to kimi wa itta"
	%}
	{% include verse.html
		lyrics="本当に醜かったのは/君の顔じゃなく/きっと……"
		romaji="hontou ni minikatta no wa/kimi no kao janaku/kitto......"
	%}
	{% include verse.html
		lyrics="浅はかな考えで/君の事馬鹿にした/次に会った時あなたは/違う人になっていた/そう|まるで別人だった"
		romaji="asahakana kangae de/kimi no koto baka ni shita/tsugi ni atta toki anata wa/chigau hito ni natteita/sou|maru de betsujin datta"
	%}
	{% include verse.html
		lyrics="――絵の中の君はもういない"
		romaji="e no naka no kimi wa mou inai"
	%}
	{% include verse.html
		lyrics="たとえ君が思い出の記憶と/違ったとしても|幸せならば/それでもいいのかもしれないと思ってた"
		romaji="tatoe kimi ga omoide no kioku to/chigatta toshitemo|shiawase narabaa/soredemo ii no kamoshirenai to omotteta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="変わることが悪いわけじゃない/でも本当に必要なのは/変われない自分も受け入れるという事/気づけなかった"
		romaji="kawaru koto ga warui wake janai/demo hontou ni hitsuyouna no wa/kawaranai jibun mo ukeireru to iu koto/kidzukenakatta"
	%}
	{% include verse.html
		lyrics="君は生き続ける/私の描いた絵の中で/それがたとえ君の望んでた/姿ではないとしても"
		romaji="kimi wa ikitsudzukeru/watashi no egaita he no naka de/sore ga tatoe kimi no nozondeta/sugata de wa nai toshitemo"
	%}
	{% include verse.html
		lyrics="そう|君があの時/最後に言おうとしていた言葉/それが何だかはわかってる/ずっと前から知ってた"
		romaji="sou|kimi ga ano toki/saigo ni iou toshiteita kotoba/sore ga nanda ka wa wakatteru/zutto mae kara shitteta"
	%}
	{% include verse.html
		lyrics="君の事が好きだったかもしれない/だからずっと描き続けた/いつしか部屋は君の思い出で満たされた"
		romaji="kimi no koto ga suki datta kamoshirenai/dakara zutto egaki tsudzuketa/itsushika heya wa kimi no omoide de mitasareta"
	%}
	{% include verse.html
		lyrics="求めたのは君の顔じゃない/ありのままの本当の君/だけどね|君も私もその事に/気づけなかった"
		romaji="motometa no wa kimi no kao janai/ari no mama no hontou no kimi/dakedo ne|kimi mo watashi mo sono koto ni/kidzukenakatta"
	%}
</div>