---
english-name: Project &quot;Ma&quot;
translation: https://pricechecktranslations.tumblr.com/post/111602698640
mothyrights: <em>The Evillious Chronicles</em>|<em>Project &quot;Ma&quot;</em>
---
<div>
	<h3><a href="{% link album/oss-act-1.html %}"><em>Original Sin Story ―Act 1―</em></a></h3>
	{% include verse.html
		lyrics="〜イブの計画〜/これは始まりの物語/何から語りましょうか？/私の名前はイブ＝ズヴェズダ/この国で一番の魔女"
		romaji="~IBU no keikaku~/kore wa hajimari no monogatari/nani kara katarimashou ka?/watashi no namae wa IBU ZUVEZUDA/kono kuni de ichiban majo"
	%}
	{% include verse.html
		lyrics="愛する彼の名はアダム/とても優秀な科学者/彼は私に口づけしてこう言ったの/「君はこれから神の母/『Ma（メム・アレフ）』になる」"
		romaji="aisuru kare no wa ADAMU/totemo yuushuuna kagakusha/kare wa watashi ni kuchidzuke shite kou itta no/&quot;kimi wa kore kara kami no haha/'MEMU AREFU' ni naru&quot;"
	%}
	{% include verse.html
		lyrics="＜闇の遺産『罪』＞/それはやがて国を滅ぼす/偉大な預言者|そう告げた/防ぐ手立ては/ニ匹の神竜の転生/『神の双子』を誕生させよ"
		romaji="&lt;yami no isan 'tsumi'&gt;/sore wa yagate kuni wo horobosu/idai no yogensha|sou tsugeta/fusegu tedate wa/ni hiki no shinryuu no tensei/'kami no futago' wo tanjou saseyou"
	%}
	{% include verse.html
		lyrics="計画始動|母親候補を探せ/魔力に優れた女を探すのだ/『Ma』に選ばれし者が|そう/この国の新しい女王"
		romaji="keikaku shidou|hahaoya kouho wo sagase/maryoku ni sugureta onna wo sagasu no da/'EMUEE' ni erabareshi mono ga|sou/kono kuni no atarashii joou"
	%}
	{% include verse.html
		lyrics="どうして私が/選ばれたのかはわからない/彼は「大丈夫だ」と/抱きしめてくれた/全てが終わったら/結婚式を挙げよう/二人のお気に入り/エルドの森で"
		romaji="doushite watashi ga/erabareta no ka wa wakaranai/kare wa &quot;daijoubu da&quot; to/dakishimete kureta/subete ga owattara/kekkonshiki wo ageyou/futari no okiniiri/ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="神の種を埋め込まれ/ゆりかごの中/生まれる時を待つの/『神の双子』の"
		romaji="kami no tane wo umekomare/yurikago no naka/umareru toki wo matsu no/'kami no futago' no"
	%}
	{% include verse.html
		lyrics="～アダムの計画～/これは始まりの物語/何から語ればいいか/僕の名前はアダム＝ムーンリット/この国で一番の科学者"
		romaji="~ADAMU no keikaku~/kore wa hajimari no monogatari/nani kara katareba ii ka/boku no namae wa ADAMU MUUNRITTO/kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="残念なお知らせがある/計画は失敗だった/生まれた双子はすでに死んでいた/これで僕の野望もすべて/夢と消えた"
		romaji="zannenna oshirase ga aru/keikaku wa shippai datta/umareta futago wa sude ni shinde ita/kore de boku no yabou mo subete/yume to kieta"
	%}
	{% include verse.html
		lyrics="『Ma』計画/僕にとって願ってもないチャンス/利用してこの国を支配してやる/元老院|そしてセト/僕から母親を奪った/あいつらに今こそ制裁を"
		romaji="'EMUEE' keikaku/boku ni totte negatte mo nai CHANSU/riyoushite kono kuni wo shihai shite yaru/genrouin|soshite SETO/boku kara hahaoya wo ubatta/aitsura ni ima koso seisai wo"
	%}
	{% include verse.html
		lyrics="計画始動|候補者はネムの村の魔女/近づき誘惑|自分の恋人にした/『venom（洗脳薬）』を使えば簡単な事/迷いなどなかったはずなのに"
		romaji="keikaku shidou|kouhosha wa NEMU no mura no majo/chikadzuki yuuwaku|jibun no koibito ni shita/'sennouyaku' wo tsukaeba kantanna koto/mayoi nado nakatta hazu na no ni"
	%}
	{% include verse.html
		lyrics="愛しいイブよ/君を壊してしまってごめんね/僕の誤算は双子が死んだことと/利用するつもりで/一緒に暮らした君を/本当に好きになってしまったこと"
		romaji="itoshii IBU yo/kimi wo kowashite shimatte gomen ne/boku no gosan wa futago ga shinda koto to/riyou suru tsumori de/issho ni kurashita kimi wo/hontou ni suki ni natte shimatta koto"
	%}
	{% include verse.html
		lyrics="さあ|あの森で結婚式をしよう/二人のお気に入りの|エルドの森で"
		romaji="saa|ano mori de kekkonshiki wo shiyou/futari no okiniiri no|ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="「愛しているよ」「アイシテルワ」/星が壊れた夜/月と星は南空|姿を消した"
		romaji="&quot;aishiteiru yo&quot; &quot;AISHITEIRU WA&quot;/hoshi ga kowareta yoru/tsuki to hoshi wa minamizora|sugata wo keshita"
	%}
	{% include verse.html
		lyrics="～セトの計画～/これは始まりの物語/何から語ればいいかね/僕の名前はセト＝トワイライト/この国で一番の科学者"
		romaji="~SETO no keikaku~/kore wa hajimari no monogatari/nani kara katareba ii ka ne/boku no namae wa SETO TOWAIRAITO/kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="『カイン』と『アベル』は失敗/『アダム』と『イブ』は消えた"
		romaji="'KAIN' to 'ABERU' wa shippai/'ADAMU' to 'IBU' wa kieta"
	%}
	{% include verse.html
		lyrics="次の『Ma（メム・アレフ）』を/探さなければならない"
		romaji="tsugi no 'MEMU AREFU' wo/sagasa nakereba naranai"
	%}
	{% include verse.html
		lyrics="僕の野望を叶えるために"
		romaji="boku no yabou wo kanaeru tame ni"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	{% include verse.html
		lyrics="〜イブの計画〜/これは始まりの物語|何から語りましょうか？/私の名前はイブ＝ズヴェズダ|この国で一番の魔女"
		romaji="~IBU no keikaku~/kore wa hajimari no monogatari|nani kara katarimashou ka?/watashi no namae wa IBU ZUVEZUDA|kono kuni de ichiban majo"
	%}
	{% include verse.html
		lyrics="愛する彼の名はアダム|とても優秀な科学者/彼は私に口づけしてこう言ったの/「君はこれから神の母『Ma（メム・アレフ）』になる」"
		romaji="aisuru kare no wa ADAMU|totemo yuushuuna kagakusha/kare wa watashi ni kuchidzuke shite kou itta no/&quot;kimi wa kore kara kami no haha 'MEMU AREFU' ni naru&quot;"
	%}
	{% include verse.html
		lyrics="＜闇の遺産『罪』＞|それはやがて国を滅ぼす/偉大な預言者|そう告げた/防ぐ手立ては|ニ匹の神竜の転生/『神の双子』を誕生させよ"
		romaji="&lt;yami no isan 'tsumi'&gt;|sore wa yagate kuni wo horobosu/idai no yogensha|sou tsugeta/fusegu tedate wa|ni hiki no shinryuu no tensei/'kami no futago' wo tanjou saseyou"
	%}
	{% include verse.html
		lyrics="計画始動|母親候補を探せ/魔力に優れた女を探すのだ/『Ma』に選ばれし者が|そう/この国の新しい女王"
		romaji="keikaku shidou|hahaoya kouho wo sagase/maryoku ni sugureta onna wo sagasu no da/'EMUEE' ni erabareshi mono ga|sou/kono kuni no atarashii joou"
	%}
	{% include verse.html
		lyrics="どうして私が選ばれたのかはわからない/彼は「大丈夫だ」と抱きしめてくれた/全てが終わったら結婚式を挙げよう/二人のお気に入り|エルドの森で"
		romaji="doushite watashi ga erabareta no ka wa wakaranai/kare wa &quot;daijoubu da&quot; to dakishimete kureta/subete ga owattara kekkonshiki wo ageyou/futari no okiniiri|ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="神の種を埋め込まれ|ゆりかごの中/生まれる時を待つの|『神の双子』の"
		romaji="kami no tane wo umekomare|yurikago no naka/umareru toki wo matsu no|'kami no futago' no"
	%}
	{% include verse.html
		lyrics="～アダムの計画～/これは始まりの物語|何から語ればいいか/僕の名前はアダム＝ムーンリット|この国で一番の科学者"
		romaji="~ADAMU no keikaku~/kore wa hajimari no monogatari|nani kara katareba ii ka/boku no namae wa ADAMU MUUNRITTO|kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="残念なお知らせがある|計画は失敗だった/生まれた双子はすでに死んでいた/これで僕の野望もすべて夢と消えた"
		romaji="zannenna oshirase ga aru|keikaku wa shippai datta/umareta futago wa sude ni shinde ita/kore de boku no yabou mo subete yume to kieta"
	%}
	{% include verse.html
		lyrics="『Ma』計画|僕にとって願ってもないチャンス/利用してこの国を支配してやる/元老院|そしてセト/僕から母親を奪ったあいつらに今こそ制裁を"
		romaji="'EMUEE' keikaku|boku ni totte negatte mo nai CHANSU/riyoushite kono kuni wo shihai shite yaru/genrouin|soshite SETO/boku kara hahaoya wo ubatta aitsura ni ima koso seisai wo"
	%}
	{% include verse.html
		lyrics="計画始動|候補者はネムの村の魔女/近づき誘惑|自分の恋人にした/『venom（洗脳薬）』を使えば簡単な事/迷いなどなかったはずなのに"
		romaji="keikaku shidou|kouhosha wa NEMU no mura no majo/chikadzuki yuuwaku|jibun no koibito ni shita/'sennouyaku' wo tsukaeba kantanna koto/mayoi nado nakatta hazu na no ni"
	%}
	{% include verse.html
		lyrics="愛しいイブよ|君を壊してしまってごめんね/僕の誤算は双子が死んだことと/利用するつもりで|一緒に暮らした君を/本当に好きになってしまったこと"
		romaji="itoshii IBU yo|kimi wo kowashite shimatte gomen ne/boku no gosan wa futago ga shinda koto to/riyou suru tsumori de|issho ni kurashita kimi wo/hontou ni suki ni natte shimatta koto"
	%}
	{% include verse.html
		lyrics="さあ|あの森で結婚式をしよう/二人のお気に入りの|エルドの森で"
		romaji="saa|ano mori de kekkonshiki wo shiyou/futari no okiniiri no|ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="「愛しているよ」「アイシテルワ」/星が壊れた夜/月と星は南空|姿を消した"
		romaji="&quot;aishiteiru yo&quot; &quot;AISHITEIRU WA&quot;/hoshi ga kowareta yoru/tsuki to hoshi wa minamizora|sugata wo keshita"
	%}
	{% include verse.html
		lyrics="～セトの計画～/これは始まりの物語|何から語ればいいかね/僕の名前はセト＝トワイライト|この国で一番の科学者"
		romaji="~SETO no keikaku~/kore wa hajimari no monogatari|nani kara katareba ii ka ne/boku no namae wa SETO TOWAIRAITO|kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="『カイン』と『アベル』は失敗/『アダム』と『イブ』は消えた/次の『Ma（メム・アレフ）』を探さなければならない/僕の野望を叶えるために"
		romaji="'KAIN' to 'ABERU' wa shippai/'ADAMU' to 'IBU' wa kieta/tsugi no 'MEMU AREFU' wo sagasa nakereba naranai/boku no yabou wo kanaeru tame ni"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="〜イブの計画〜"
		romaji="~IBU no keikaku~"
	%}
	{% include verse.html
		lyrics="これは始まりの物語/何から語りましょうか？"
		romaji="kore wa hajimari no monogatari/nani kara katarimashou ka?"
	%}
	{% include verse.html
		lyrics="私の名前はイブ＝ズヴェズダ/この国で一番の魔女"
		romaji="watashi no namae wa IBU ZUVEZUDA/kono kuni de ichiban majo"
	%}
	{% include verse.html
		lyrics="愛する彼の名はアダム/とても優秀な科学者"
		romaji="aisuru kare no wa ADAMU/totemo yuushuuna kagakusha"
	%}
	{% include verse.html
		lyrics="彼は私に口づけしてこう言ったの/「君はこれから神の母『Ma（メム・アレフ）』になる」"
		romaji="kare wa watashi ni kuchidzuke shite kou itta no/&quot;kimi wa kore kara kami no haha 'MEMU AREFU' ni naru&quot;"
	%}
	{% include verse.html
		lyrics="＜闇の遺産『罪』＞/それはやがて国を滅ぼすという/預言者のお告げで国は乱れ始めた"
		romaji="&lt;yami no isan 'tsumi'&gt;/sore wa yagate kuni wo horobosu to iu/yogensha no otsuge de kuni wa midare hajimeta"
	%}
	{% include verse.html
		lyrics="防ぐ手立てはただ一つ|ニ匹の神竜の転生/『神の双子』をこの世に生み出すこと"
		romaji="fusegu tedate wa tada hitotsu|ni hiki no shinryuu no tensei/'kami no futago' wo kono yo ni umidasu koto"
	%}
	{% include verse.html
		lyrics="始動する計画|神の母となる者を探せ/最も魔力に優れた女を探すのだ/『Ma』に選ばれし者には/この国を支配する権利を与えよう"
		romaji="shidousuru keikaku|kami no haha to naru mono wo sagase/motto mo maryoku ni sugureta onna wo sagasu no da/'EMUEE' ni erabareshi mono ni wa/kono kuni wo shihaisuru kenri wo ataeyou"
	%}
	{% include verse.html
		lyrics="選ばれたのは私|とても不安だったけれど/彼は「大丈夫だ」と私を抱きしめる/全てが終わったらあの森で結婚式を挙げよう/二人のお気に入り|あのエルドの森で"
		romaji="erabareta no wa watashi|totemo fuan datta keredo/kare wa &quot;daijoubu da&quot; to watashi wo dakishimeru/subete ga owattara ano mori de kekkonshiki wo ageyou/futari no okiniiri|ano ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="神の種を埋め込まれ|ゆりかごの中/生まれる時を待つの|『神の双子』の"
		romaji="kami no tane wo umekomare|yurikago no naka/umareru toki wo matsu no|'kami no futago' no"
	%}
	{% include verse.html
		lyrics="～アダムの計画～"
		romaji="~ADAMU no keikaku~"
	%}
	{% include verse.html
		lyrics="これは始まりの物語/何から語ればいいか"
		romaji="kore wa hajimari no monogatari/nani kara katareba ii ka"
	%}
	{% include verse.html
		lyrics="僕の名前はアダム＝ムーンリット/この国で一番の科学者"
		romaji="boku no namae wa ADAMU MUUNRITTO/kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="残念なお知らせがある/計画は失敗だった"
		romaji="zannenna oshirase ga aru/keikaku wa shippai datta"
	%}
	{% include verse.html
		lyrics="生まれた双子はすでに死んでいた/これで僕の野望もすべて夢と消えた"
		romaji="umareta futago wa sude ni shinde ita/kore de boku no yabou mo subete yume to kieta"
	%}
	{% include verse.html
		lyrics="『Ma』計画/それは僕にとって願ってもないチャンスだった/上手く利用すればこの国を支配できる"
		romaji="'EMUEE' keikaku/sore wa boku ni totte negattemonai CHANSU datta/umaku riyousureba kono kuni wo shihai dekiru"
	%}
	{% include verse.html
		lyrics="元老院やライバルに気を使うことももうなくなる/母を奪ったあいつらに制裁を"
		romaji="genrouin ya RAIBARU ni ki wo tsukau koto mo mou nakunaru/haha wo ubatta aitsura ni seisai wo"
	%}
	{% include verse.html
		lyrics="候補者を見つけ出した|ネムの村で暮らす魔女/近づいて誘惑し|自分の恋人にした/『venom（洗脳薬）』を使えば簡単な事だった/あいつらが母にしたことと同じ"
		romaji="kouhosha wo mitsukedashita|NEMU no mura de kurasu majo/chikadzuite yuuwakushi|jibun no koibito ni shita/'sennouyaku' wo tsukaeba kantanna koto datta/aitsura ga haha ni shita koto to douji"
	%}
	{% include verse.html
		lyrics="愛しいイブよ|君を利用してしまってごめんね/僕の誤算は双子が死んでしまったことと/利用するつもりで近づき|一緒に暮らした君の事を/本当に好きになってしまったこと"
		romaji="itoshii IBU yo|kimi wo riyoushiteshimatte gomen ne/boku no gosan wa futago ga shindeshimatta koto to/riyou suru tsumori de chikadzuki|issho ni kurashita kimi no koto wo/hontou ni suki ni natte shimatta koto"
	%}
	{% include verse.html
		lyrics="さあ|あの森で結婚式をしよう/二人のお気に入りの|エルドの森で"
		romaji="saa|ano mori de kekkonshiki wo shiyou/futari no okiniiri no|ERUDO no mori de"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="「愛しているよ」「アイシテルワ」/星が壊れた夜/月と星は南空|姿を消した"
		romaji="&quot;aishiteiru yo&quot; &quot;AISHITEIRU WA&quot;/hoshi ga kowareta yoru/tsuki to hoshi wa minamizora|sugata wo keshita"
	%}
	{% include verse.html
		lyrics="～セトの計画～"
		romaji="~SETO no keikaku~"
	%}
	{% include verse.html
		lyrics="これは始まりの物語/何から語ればいいかね"
		romaji="kore wa hajimari no monogatari/nani kara katareba ii ka ne"
	%}
	{% include verse.html
		lyrics="僕の名前はセト＝トワイライト/この国で一番の科学者"
		romaji="boku no namae wa SETO TOWAIRAITO/kono kuni de ichiban no kagakusha"
	%}
	{% include verse.html
		lyrics="『カイン』と『アベル』は失敗/『アダム』と『イブ』は消えた"
		romaji="'KAIN' to 'ABERU' wa shippai/'ADAMU' to 'IBU' wa kieta"
	%}
	{% include verse.html
		lyrics="次の『Ma（メム・アレフ）』を探さなければならない/僕の野望を叶えるために"
		romaji="tsugi no 'MEMU AREFU' wo sagasa nakereba naranai/boku no yabou wo kanaeru tame ni"
	%}
</div>

<div>
	<h3>Short PV</h3>
	{% include verse.html
		lyrics="〜イブの計画〜/これは始まりの物語/何から語りましょうか？/私の名前はイブ＝ズヴェズダ/この国で一番の魔女"
		romaji="~IBU no keikaku~/kore wa hajimari no monogatari/nani kara katarimashou ka?/watashi no namae wa IBU ZUVEZUDA/kono kuni de ichiban majo"
	%}
	{% include verse.html
		lyrics="愛する彼の名はアダム/とても優秀な科学者/彼は私に口づけしてこう言ったの/「君はこれから神の母/『Ma（メム・アレフ）』になる」"
		romaji="aisuru kare no wa ADAMU/totemo yuushuuna kagakusha/kare wa watashi ni kuchidzuke shite kou itta no/&quot;kimi wa kore kara kami no haha/'MEMU AREFU' ni naru&quot;"
	%}
	{% include verse.html
		lyrics="＜闇の遺産『罪』＞/それはやがて国を滅ぼす/偉大な預言者|そう告げた/防ぐ手立ては|ニ匹の神竜の転生/『神の双子』を誕生させよ"
		romaji="&lt;yami no isan 'tsumi'&gt;/sore wa yagate kuni wo horobosu/idai no yogensha|sou tsugeta/fusegu tedate wa|ni hiki no shinryuu no tensei/'kami no futago' wo tanjou saseyou"
	%}
	{% include verse.html
		lyrics="計画始動|母親候補を探せ/魔力に優れた女を探すのだ/『Ma』に選ばれし者が|そう/この国の新しい女王"
		romaji="keikaku shidou|hahaoya kouho wo sagase/maryoku ni sugureta onna wo sagasu no da/'EMUEE' ni erabareshi mono ga|sou/kono kuni no atarashii joou"
	%}
	{% include verse.html
		lyrics="どうして私が選ばれたのかはわからない/彼は「大丈夫だ」と抱きしめてくれた/全てが終わったら結婚式を挙げよう/二人のお気に入り|エルドの森で"
		romaji="doushite watashi ga erabareta no ka wa wakaranai/kare wa &quot;daijoubu da&quot; to dakishimete kureta/subete ga owattara kekkonshiki wo ageyou/futari no okiniiri|ERUDO no mori de"
	%}
	{% include verse.html
		lyrics="神の種を埋め込まれ|ゆりかごの中/生まれる時を待つの|『神の双子』の"
		romaji="kami no tane wo umekomare|yurikago no naka/umareru toki wo matsu no|'kami no futago' no"
	%}
</div>