---
english-name: Queen Of The Glass
translation: https://pricechecktranslations.tumblr.com/post/127167955900
mothyrights: <em>The Evillious Chronicles</em>|<em>Queen Of The Glass</em>
---
<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	{% include verse.html
		lyrics="母と父が眠る巨塔/「罪」と呼ばれる闇の遺産/墓場の上にできた国が/治める第三の世界"
		romaji="haha to chichi ga nemuru kyotou/&quot;tsumi&quot; to yobareru yami no isan/hakaba no ue ni dekita kuni ga/asameru daisan no sekai"
	%}
	{% include verse.html
		lyrics="頂点に立つ私の名は/アリス＝メリーゴーランド/ガラスの女王/未来を映し指し示そう/それが真実でなくとも"
		romaji="chouten ni tatsu watashi no na wa/ARISU MERIIGOORANDO/GARASU no joou/mirai wo utushi sashishimesou/sore ga shinjitsu de naku tomo"
	%}
	{% include verse.html
		lyrics="出来損ないの預言者/……そして歴史は歪められていく"
		romaji="dekisokonai no yogensha/......soshite rekishi wa igamerareteiku"
	%}
	{% include verse.html
		lyrics="母さん|あなたたちに会うためには/父さん|何をすればいいですか？/どうか私に教えてください/神を人に変える方法を"
		romaji="kaa-san|anata-tachi ni au tame ni wa/tou-san|nani wo sureba ii desu ka?/douka watashi ni oshietekudasai/kami wo hito ni kaeru houhou wo"
	%}
	{% include verse.html
		lyrics="ガラスの小瓶に映った/母と父からのお告げ/神がくれたメッセージ"
		romaji="GARASU no kobin ni utsutta/haha to chichi kara no otsuge/kami ga kureta MESSEEJI"
	%}
	<p>
		{% include lyric.html lyric="「愛しき娘アリスよ|我らの<ruby>憑代<rp>(</rp><rt>よりしろ</rt><rp>)</rp></ruby>を創るのだ" rom="&quot;itoshiki musume ARISU yo|warera no yorishiro wo tsukuru no da" %}<br />
		{% include lyric.html lyric="かつてお前がアダムを創った時と同じように」" rom="katsute omae ga ADAMU wo tsukutta toki to onaji you ni&quot;" %}
	</p>
	{% include verse.html
		lyrics="偽りの未来予知/……そして世界は歪められていく"
		romaji="itsuwari no mirai yochi/......soshite sekai wa igamerareteiku"
	%}
	{% include verse.html
		lyrics="母さん|たまに不安になるのです/父さん|私は本当に/あなたたちの娘なんでしょうか？/ただの人形ではないのですか？"
		romaji="kaa-san|tama ni fuan ni naru no desu/tou-san|watashi wa hontou ni/anata-tachi no musume nan deshou ka?/tada no ningyou de wa nai no desu ka?"
	%}
	{% include verse.html
		lyrics="母さん|これが正しい選択でしょうか？/父さん|私にはわからない"
		romaji="kaa-san|kore ga tadashii sentaku deshou ka?/tou-san|watashi ni wa wakaranai"
	%}
	{% include verse.html
		lyrics="ココロヲモタヌコノワタシ二ワ/イノチヲモタヌコノワタシ二ハ"
		romaji="KOKORO WO MOTANU KONO WATASHI NI WA/INOCHI WO MOTANU KONO WATASHI NI WA"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="母と父が眠る巨塔/「罪」と呼ばれる闇の遺産/墓場の上にできた国が/治める第三の世界"
		romaji="haha to chichi ga nemuru kyotou/&quot;tsumi&quot; to yobareru yami no isan/hakaba no ue ni dekita kuni ga/asameru daisan no sekai"
	%}
	{% include verse.html
		lyrics="頂点に立つ私の名は/アリス＝メリーゴーランド/ガラスの女王/未来を映し指し示そう/それが真実でなくとも"
		romaji="chouten ni tatsu watashi no na wa/ARISU MERIIGOORANDO/GARASU no joou/mirai wo utushi sashishimesou/sore ga shinjitsu de naku tomo"
	%}
	{% include verse.html
		lyrics="出来損ないの預言者/……そして歴史は歪められていく"
		romaji="dekisokonai no yogensha/......soshite rekishi wa igamerareteiku"
	%}
	{% include verse.html class="versebreak"
		lyrics="母さん|あなたたちに会うためには/父さん|何をすればいいですか？/どうか私に教えてください/神を人に変える方法を"
		romaji="kaa-san|anata-tachi ni au tame ni wa/tou-san|nani wo sureba ii desu ka?/douka watashi ni oshietekudasai/kami wo hito ni kaeru houhou wo"
	%}
	{% include verse.html
		lyrics="ガラスの小瓶に映った/母と父からのお告げ/神がくれたメッセージ"
		romaji="GARASU no kobin ni utsutta/haha to chichi kara no otsuge/kami ga kureta MESSEEJI"
	%}
	{% include verse.html
		lyrics="「愛しき娘アリスよ|我らの憑代を創るのだ/|かつてお前がアダムを創った時と同じように」"
		romaji="&quot;itoshiki musume ARISU yo|warera no yorishiro wo tsukuru no da/|katsute omae ga ADAMU wo tsukutta toki to onaji you ni&quot;"
	%}
	{% include verse.html
		lyrics="偽りの未来予知/……そして世界は歪められていく"
		romaji="itsuwari no mirai yochi/......soshite sekai wa igamerareteiku"
	%}
	{% include verse.html class="versebreak"
		lyrics="母さん|たまに不安になるのです/父さん|私は本当に/あなたたちの娘なんでしょうか？/ただの人形ではないのですか？"
		romaji="kaa-san|tama ni fuan ni naru no desu/tou-san|watashi wa hontou ni/anata-tachi no musume nan deshou ka?/tada no ningyou de wa nai no desu ka?"
	%}
	{% include verse.html
		lyrics="母さん|これが正しい選択でしょうか？/父さん|私にはわからない/ココロヲモタヌコノワタシ二ワ/イノチヲモタヌコノワタシ二ハ"
		romaji="kaa-san|kore ga tadashii sentaku deshou ka?/tou-san|watashi ni wa wakaranai/KOKORO WO MOTANU KONO WATASHI NI WA/INOCHI WO MOTANU KONO WATASHI NI WA"
	%}
</div>