---
english-name: Recollective Musicbox
translation: https://pricechecktranslations.tumblr.com/post/103763424290
trans2: <small>(<a href="https://pricechecktranslations.tumblr.com/post/103763437295">Clockworker</a>)</small>
mothyrights: <em>The Evillious Chronicles</em>|<em>Recollective Musicbox</em>
---
<div>
	<h3><a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> &middot; <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="金色のぜんまいが歪んだオルゴール/鳴らないメロディは愛の唄/歴史の陰に消えたオルゴール/開かれる事のない宝石箱"
			romaji="kin'iro no zenmai ga yuganda ORUGOORU/naranai MERODI wa ai no uta/rekishi no kage ni kieta ORUGOORU/hirakareru koto no nai houseki bako"
		%}
		{% include verse.html
			lyrics="彼の作ったオルゴールは他の誰のものよりも/綺麗な音を鳴らしてた/人々は彼のことを尊敬の念を込めて/『ぜんまい使い（クロックワーカー）』と呼んだ"
			romaji="kare no tsukutta ORUGOORU wa hoka no dare no mono yori mo/kireina oto wo narashiteta/hitobito wa kare no koto wo sonkei no nen wo komete/'KUROKKUWAAKAA' to yonda"
		%}
		{% include verse.html
			lyrics="愛する婚約者と|大事な妹/「自分は幸せ者だ」と彼は神に感謝した"
			romaji="aisuru kon'yakusha to|daijina imouto/&quot;jibun wa shiawase mono da&quot; to kare wa kami ni kanshashita"
		%}
		{% include verse.html
			lyrics="二人の為に作ろう|愛をこめて/とびきり上等なオルゴール/これからも未来に幸多かれと/彼はオルゴールに想いを詰めた"
			romaji="futari no tame ni tsukurou|ai wo komete/tobikiri joutouna ORUGOORU/kore kara mo mirai ni sachi ookare to/kare wa ORUGOORU ni omoi wo tsumeta"
		%}
		{% include verse.html
			lyrics="今はもう鳴る事のないオルゴール"
			romaji="ima wa mou naru koto no nai ORUGOORU"
		%}
		{% include verse.html
			lyrics="この国ではより強い魔術の才能をもつ者が/王となり全てを手に入れる/新たな支配者候補として選ばれたのは/婚約者と妹"
			romaji="kono kuni de wa yori tsuyoi majutsu no sainou wo motsu mono ga/ou to nari subete wo te ni ireru/aratana shihaisha kouho toshite erabareta no wa/kon'yakusha to imouto"
		%}
		{% include verse.html
			lyrics="歯車が狂い始めた|憎しみ合う二人/魔術など存在しなければ仲良く暮らせたのに"
			romaji="haguruma ga kuruihajimeta|nikushimi au futari/majutsu nado sonzaishinakereba nakayoku kuraseta no ni"
		%}
		{% include verse.html
			lyrics="最悪の結末|彼が見たものは/血に染まった作りかけのオルゴール/倒れている女と|泣き叫ぶ女/どちらも愛してた|愛してたのに"
			romaji="saiaku no ketsumatsu|kare ga mita mono wa/chi ni somatta tsukuri kake no ORUGOORU/taoreteiru onna to|nakisakebu onna/dochira mo aishiteta|aishiteta no ni"
		%}
		{% include verse.html
			lyrics="今はもう鳴る事のないオルゴール"
			romaji="ima wa mou naru koto no nai ORUGOORU"
		%}
		{% include verse.html
			lyrics="かつて国があった場所|今は廃墟/正気を失った老人|何かを作る/何を作っているのかと旅人が尋ねた/老人は答える|オルゴールだと"
			romaji="katsute kuni ga atta basho|ima wa haikyo/shouki wo ushinatta roujin|nanika wo tsukuru/nani wo tsukutteiru no ka to tabibito ga tazuneta/roujin wa kotaeru|ORUGOORU da to"
		%}
		{% include verse.html
			lyrics="だけどそれは/ただのガラクタにしか見えない/薄汚れた黒い箱だった"
			romaji="dakedo sore wa/tada no GARAKUTA ni shika mienai/usu yogoreta kuroi hako datta"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/oss-act-2.html %}"><em>Original Sin Story ―Act 2―</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="僕の作ったオルゴールは/他の誰のものよりも/綺麗な音を鳴らしていた/人々は僕のことを/尊敬の念を込めて/『ぜんまい使い（クロックワーカー）』と呼んだ"
			romaji="boku no tsukutta ORUGOORU wa/hoka no dare mono yori mo/kireina oto wo narashiteita/hitobito wa boku no koto wo/sonkei no nen wo komete/'KUROKKUWAAKAA' to yonda"
		%}
		{% include verse.html
			lyrics="愛する婚約者と/大事な妹/二人がいつもそばにいた/「自分は世界一の幸せ者だ」と/僕は神に感謝した"
			romaji="aisuru kon'yakusha to/daijina imouto/futari ga itsumo soba ni ita/&quot;jibun wa sekaiichi no shiawase mono da&quot; to/boku wa kami ni kanshashita"
		%}
		{% include verse.html
			lyrics="二人の為に作ろう/最上の愛を込めて/とびきり上等な/僕のオルゴール/三人が歩むだろう/未来に幸多かれと/ぜんまいにそんな想いを/詰め込んだ"
			romaji="futari no tame ni tsukurou/saijou no ai wo komete/tobikiri joutouna/boku no ORUGOORU/sannin ga ayumu darou/mirai ni sachi ookare to/zenmai ni sonna omoi wo/tsumekonda"
		%}
		{% include verse.html
			lyrics="今はもう/鳴る事のないオルゴール"
			romaji="ima wa mou/naru koto no nai ORUGOORU"
		%}
		{% include verse.html
			lyrics="この国ではより強い魔術をもつ者が/女王となって/全てを得ると決められた/新たな支配者候補として/選ばれてしまった/婚約者と妹"
			romaji="kono kuni de wa yori tsuyoi majutsu wo motsu mono ga/joou to natte/subete wo eru to kimerareta/aratana shihaisha kouho toshite/erabareteshimatta/kon'yakusha to imouto"
		%}
		{% include verse.html
			lyrics="歯車が狂い始めた/憎しみ合う二人/魔術など存在しなければ/最悪の結末|僕が見たものは/血に染まったオルゴール"
			romaji="haguruma ga kuruihajimeta/nikushimi au futari/majutsu nado sonzaishinakereba/saiaku no ketsumatsu|boku ga mita mono wa/chi ni somatta ORUGOORU"
		%}
		{% include verse.html
			lyrics="金色のぜんまいが/歪んだオルゴール/鳴らないメロディは/君への愛の唄/倒れている女と/泣き叫ぶ女/どちらも愛していたのに/愛してたのに"
			romaji="kin'iro no zenmai ga/yuganda ORUGOORU/naranai MERODI wa/kimi he no ai no uta/taoreteiru onna to/nakisakebu onna/dochira mo aishiteita no ni/aishiteta no ni"
		%}
		{% include verse.html
			lyrics="今はもう/鳴る事のないオルゴール"
			romaji="ima wa mou/naru koto no nai ORUGOORU"
		%}
		{% include verse.html
			lyrics="かつて国があった場所|今は廃墟/正気を失った老人|何かを作る/何を作っているのかと旅人が尋ねた/老人は答える|オルゴールだと"
			romaji="katsute kuni ga atta basho|ima wa haikyo/shouki wo ushinatta roujin|nanika wo tsukuru/nani wo tsukutteiru no ka to tabibito ga tazuneta/roujin wa kotaeru|ORUGOORU da to"
		%}
		{% include verse.html
			lyrics="だけどそれは/ただのガラクタにしか見えない/薄汚れた黒い箱だった"
			romaji="dakedo sore wa/tada no GARAKUTA ni shika mienai/usu yogoreta kuroi hako datta"
		%}
	</div>
</div>