---
english-name: Red Shoe Parade
image: /assets/images/thumbs/RedShoeParade.jpg
translation: https://pricechecktranslations.tumblr.com/post/104788304195
mothyrights: <em>The Evillious Chronicles</em>|<em>Red Shoe Parade</em>
---
<div>
	<h3>PV &middot; <em>DEBUTANTEVI</em> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> &middot; <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="いざ進めや|影のパレード/お揃いの|赤い靴を履いて/壊れたように|踊り狂う/果てを目指して|どこまでも"
			romaji="iza susume ya|kage no PAREEDO/osoroi no|akai kutsu wo haite/kowareta you ni|odori kuruu/hate wo mezashite|doko made mo"
		%}
		{% include verse.html
			lyrics="朝の道には|危険がいっぱい/悪い泥棒|行く手を阻む/奪われる前に|奪い取れ/偉大な正義の|名の元に"
			romaji="asa no michi ni wa|kiken ga ippai/warui dorobou|yukute wo habamu/ubawareru mae ni|ubaitore/idaina seigi no|na no moto ni"
		%}
		{% include verse.html
			lyrics="歩き続けりゃ|お腹も減るのさ/悪い泥棒|住みかがあるよ/貯めてるごちそう|奪い取れ/偉大な正義の|名の元に"
			romaji="arukitsudzukerya|onaka mo heru no sa/warui dorobou|sumika ga aru yo/tameteru gochisou|ubaitore/idaina seigi no|na no moto ni"
		%}
		{% include verse.html
			lyrics="月の形した|紋章背負って/鳴り響く|赤い足音"
			romaji="tsuki no katachi shita|monshou seotte/narihibiku|akai ashioto"
		%}
		{% include verse.html
			lyrics="いざ進めや|影のパレード/お揃いの|赤い靴を履いて/壊れたように|踊り狂う/果てを目指して|どこまでも"
			romaji="iza susume ya|kage no PAREEDO/osori no|akai kutsu wo haite/kowareta you ni|odori kuruu/hate wo mezashite|doko made mo"
		%}
		{% include verse.html
			lyrics="人が恋しい|夕焼け模様/悪い泥棒|家族がいるよ/心と体を|慰めて/偉大な正義の|名の元に"
			romaji="hito ga koishii|yuuyake moyou/warui dorobou|kazoku ga iru yo/kokoro to karada wo|nagusamete/idaina seigi no|na no moto ni"
		%}
		{% include verse.html
			lyrics="雨がしとしと|憂鬱な夜/悪い泥棒|笑っていたよ/殺してしまえ|妬ましい/偉大な正義の|名の元に"
			romaji="ame ga shitoshito|yuutsuna yoru/warui dorobou|waratteita yo/koroshiteshimae|netamashii/idaina seigi no|na no moto ni"
		%}
		{% include verse.html
			lyrics="僕らを称えよ|止まらない行進曲（マーチ）/鳴り響く|鉄の足音"
			romaji="bokura wo tatae yo|tomaranai MAACHI/narihibiku|tetsu no ashioto"
		%}
		{% include verse.html
			lyrics="いざ進めや|影のパレード/お揃いの|鉄の首輪はめて/壊れたように|笑いながら/果てを目指して|どこまでも"
			romaji="iza susume ya|kage no PAREEDO/osoroi no|tetsu no kubiwa hamete/kowareta you ni|warai nagara/hate wo mezashite|doko made mo"
		%}
		{% include verse.html
			lyrics="突如響いた|笛の音が/僕らの旅の|終わりを告げた"
			romaji="totsujo hibiita|fue no ne ga/bokura no tabi no|owari wo tsugeta"
		%}
		{% include verse.html
			lyrics="時がたった|ある日の事/暗い部屋から|光の元へ/再び旅が|始まるんだ"
			romaji="toki ga tatta|aru hi no koto/kurai heya kara|hikari no moto he/futatabi tabi ga|hajimaru nda"
		%}
		{% include verse.html
			lyrics="いざ進めや|影のパレード/お揃いの|赤い靴を履いて/道行く人は|僕らを見て/笑っていたり|泣いていたり"
			romaji="iza susume ya|kage no PAREEDO/osoroi no|akai kutsu wo haite/michiyuku hito wa|bokura wo mite/waratteitari|naiteitari"
		%}
		{% include verse.html
			lyrics="燃えるように|熱い足下/赤い靴|いつもと違う靴/その真の意味|気付いた時/影のパレード|燃え尽きた"
			romaji="moeru you ni|atsui ashimoto/akai kutsu|itsumo to chigau kutsu/sono shin no imi|kidzuita toki/kage no PAREEDO|moetsukita"
		%}
		{% include verse.html
			lyrics="君はそれを|「罰」だと言った"
			romaji="kimi wa sore wo|&quot;batsu&quot; da to itta"
		%}
	</div>
</div>