---
english-name: Regret Message
translation: https://pricechecktranslations.tumblr.com/post/103856534195
mothyrights: <em>The Evillious Chronicles</em>|<em>Regret Message</em>
---
<div><!--TOADD: Seven Crimes and Punishments ver.-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむ少女"
			romaji="machi hazure no chiisana minato/hitori tatazumu shoujo"
		%}
		{% include verse.html
			lyrics="この海に昔からある/ひそかな言い伝え"
			romaji="kono umi ni mukashi kara aru/hisokana iitsutae"
		%}
		{% include verse.html
			lyrics="「願いを書いた羊皮紙を/|小瓶に入れて/|海に流せばいつの日か/|想いは実るでしょう」"
			romaji="&quot;negai wo kaita youhishi wo/|kobin ni irete/|umi ni nagaseba itsunohika/|omoi wa minoru deshou&quot;"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために/なんでもしてくれたのに"
			romaji="kimi wa itsumo watashi no tame ni/nandemo shitekureta no ni"
		%}
		{% include verse.html
			lyrics="私はいつもわがままばかり/君を困らせてた"
			romaji="watashi wa itsumo wagamama bakari/kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君/もういないから/この海に私の想い/届けてもらうの"
			romaji="negai wo kanaetekureru kimi/mou inai kara/kono umi ni watashi no omoi/todoketemorau no"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット/罪に気付くのはいつも/全て終わった後"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo/subete owatta ato"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO"
		%}
		{% include verse.html
			lyrics="「もしも生まれ変われるならば/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|」"
			romaji="&quot;moshimo umarekawareru naraba/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|&quot;"
		%}
	</div>
</div>

<div>
	<h3>piapro &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> &middot; <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむ少女"
			romaji="machi hazure no chiisana minato/hitori tatazumu shoujo"
		%}
		{% include verse.html
			lyrics="この海に昔からある/ひそかな言い伝え"
			romaji="kono umi ni mukashi kara aru/hisokana iitsutae"
		%}
		{% include verse.html
			lyrics="「願いを書いた羊皮紙を」/「小瓶に入れて」/「海に流せばいつの日か」/「想いは実るでしょう」"
			romaji="&quot;negai wo kaita youhishi wo&quot;/&quot;kobin ni irete&quot;/&quot;umi ni nagaseba itsunohika&quot;/&quot;omoi wa minoru deshou&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために/なんでもしてくれたのに"
			romaji="kimi wa itsumo watashi no tame ni/nandemo shitekureta no ni"
		%}
		{% include verse.html
			lyrics="私はいつもわがままばかり/君を困らせてた"
			romaji="watashi wa itsumo wagamama bakari/kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君/もういないから/この海に私の想い/届けてもらうの"
			romaji="negai wo kanaetekureru kimi/mou inai kara/kono umi ni watashi no omoi/todoketemorau no"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|小さな願い/涙と少しのリグレット/罪に気付くのはいつも/全て終わった後"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo/subete owatta ato"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO"
		%}
		{% include verse.html
			lyrics="「もしも生まれ変われるならば/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|」"
			romaji="&quot;moshimo umarekawareru naraba/&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|&quot;"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむ少女"
			romaji="machi hazure no chiisana minato/hitori tatazumu shoujo"
		%}
		{% include verse.html
			lyrics="この海に昔からある/ひそかな言い伝え"
			romaji="kono umi ni mukashi kara aru/hisokana iitsutae"
		%}
		{% include verse.html
			lyrics="「願いを書いた羊皮紙を」/「小瓶に入れて」/「海に流せばいつの日か」/「想いは実るでしょう」"
			romaji="&quot;negai wo kaita youhishi wo&quot;/&quot;kobin ni irete&quot;/&quot;umi ni nagaseba itsunohika&quot;/&quot;omoi wa minoru deshou&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために/なんでもしてくれたのに"
			romaji="kimi wa itsumo watashi no tame ni/nandemo shitekureta no ni"
		%}
		{% include verse.html
			lyrics="私はいつもわがままばかり/君を困らせてた"
			romaji="watashi wa itsumo wagamama bakari/kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君/もういないから/この海に私の想い/届けてもらうの"
			romaji="negai wo kanaetekureru kimi/mou inai kara/kono umi ni watashi no omoi/todoketemorau no"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|小さな願い/涙と少しのリグレット/罪に気付くのはいつも/全て終わった後"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo/subete owatta ato"
		%}
		{% include verse.html class="versebreak"
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO"
		%}
		{% include verse.html
			lyrics="「もしも生まれ変われるならば」"
			romaji="&quot;moshimo umarekawareru naraba&quot;"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむ少女"
			romaji="machi hazure no chiisana minato/hitori tatazumu shoujo"
		%}
		{% include verse.html
			lyrics="この海に昔からある/ひそかな言い伝え"
			romaji="kono umi ni mukashi kara aru/hisokana iitsutae"
		%}
		{% include verse.html
			lyrics="「願いを書いた羊皮紙を」/「小瓶に入れて」/「海に流せばいつの日か」/「想いは実るでしょう」"
			romaji="&quot;negai wo kaita youhishi wo&quot;/&quot;kobin ni irete&quot;/&quot;umi ni nagaseba itsunohika&quot;/&quot;omoi wa minoru deshou&quot;"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために/なんでもしてくれたのに"
			romaji="kimi wa itsumo watashi no tame ni/nandemo shitekureta no ni"
		%}
		{% include verse.html
			lyrics="私はいつもわがままばかり/君を困らせてた"
			romaji="watashi wa itsumo wagamama bakari/kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君/もういないから/この海に私の想い/届けてもらうの"
			romaji="negai wo kanaetekureru kimi/mou inai kara/kono umi ni watashi no omoi/todoketemorau no"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット/罪に気付くのはいつも/全て終わった後"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo/subete owatta ato"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO"
		%}
		{% include verse.html
			lyrics="「もしも生まれ変われるならば」"
			romaji="&quot;moshimo umarekawareru naraba&quot;"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港|一人たたずむ少女/この海に昔からある|ひそかな言い伝え"
			romaji="machi hazure no chiisana minato|hitori tatazumu shoujo/kono umi ni mukashi kara aru|hisokana iitsutae"
		%}
		{% include verse.html
			lyrics=""
			romaji=""
		%}
		{% include verse.html
			lyrics="「願いを書いた羊皮紙を小瓶に入れて/|海に流せばいつの日か想いは実るでしょう」"
			romaji="&quot;negai wo kaita youhishi wo kobin ni irete/|umi ni nagaseba itsunohika omoi wa minoru deshou&quot;"
		%}
		{% include verse.html
			lyrics="流れていくガラスの小瓶|願いを込めたメッセージ/水平線の彼方に静かに消えてく"
			romaji="nagareteiku GARASU no kobin|negai wo kometa MESSEEJI/suiheisen no kanata ni shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために|なんでもしてくれたのに/私はいつもわがままばかり|君を困らせてた"
			romaji="kimi wa itsumo watashi no tame ni|nandemo shitekureta no ni/watashi wa itsumo wagamama bakari|kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君もういないから/この海に私の想い届けてもらうの"
			romaji="negai wo kanaetekureru kimimou inai kara/kono umi ni watashi no omoi todoketemorau no"
		%}
		{% include verse.html
			lyrics="流れていく小さな願い|涙と少しのリグレット/罪に気付くのはいつも全て終わった後"
			romaji="nagareteiku chiisana negai|namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo subete owatta ato"
		%}
		{% include verse.html
			lyrics="流れていくガラスの小瓶|願いを込めたメッセージ/水平線の彼方に静かに消えてく"
			romaji="nagareteiku GARASU no kobin|negai wo kometa MESSEJI/suiheisen no kanata ni shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく小さな願い|涙と少しのリグレット/「もしも生まれ変われるならば|&emsp;&emsp;&emsp;&emsp;&emsp;|」"
			romaji="nagareteiku chiisana negai|namida to sukoshi no RIGURETTO/&quot;moshimo umarekawareru naraba|&emsp;&emsp;&emsp;&emsp;&emsp;|&quot;"
		%}
	</div>
</div>

<div>
	<h3>PV <small>(2020)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="街はずれの小さな港/一人たたずむ少女"
			romaji="machi hazure no chiisana minato/hitori tatazumu shoujo"
		%}
		{% include verse.html
			lyrics="この海に昔からある/ひそかな言い伝え"
			romaji="kono umi ni mukashi kara aru/hisokana iitsutae"
		%}
		{% include verse.html
			lyrics="願いを書いた羊皮紙を/小瓶に入れて/海に流せばいつの日か/想いは実るでしょう"
			romaji="negai wo kaita youhishi wo/kobin ni irete/umi ni nagaseba itsunohika/omoi wa minoru deshou"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="君はいつも私のために/なんでもしてくれたのに"
			romaji="kimi wa itsumo watashi no tame ni/nandemo shitekureta no ni"
		%}
		{% include verse.html
			lyrics="私はいつもわがままばかり/君を困らせてた"
			romaji="watashi wa itsumo wagamama bakari/kimi wo komaraseteta"
		%}
		{% include verse.html
			lyrics="願いをかなえてくれる君/もういないから/この海に私の想い/届けてもらうの"
			romaji="negai wo kanaetekureru kimi/mou inai kara/kono umi ni watashi no omoi/todoketemorau no"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット/罪に気付くのはいつも/全て終わった後"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO/tsumi ni kidzuku no wa itsumo/subete owatta ato"
		%}
		{% include verse.html
			lyrics="流れていく|ガラスの小瓶/願いを込めたメッセージ/水平線の彼方に/静かに消えてく"
			romaji="nagareteiku|GARASU no kobin/negai wo kometa MESSEJI/suiheisen no kanata ni/shizuka ni kieteku"
		%}
		{% include verse.html
			lyrics="流れていく|小さな願い/涙と少しのリグレット"
			romaji="nagareteiku|chiisana negai/namida to sukoshi no RIGURETTO"
		%}
		{% include verse.html
			lyrics="「もしも|生まれ変われるならば」"
			romaji="&quot;moshimo|umarekawareru naraba&quot;"
		%}
	</div>
</div>