---
english-name: The Restaurant of Many Ingredients
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
translation: https://pricechecktranslations.tumblr.com/post/761723156191936512
mothyrights: <em>The Evillious Chronicles</em>|<em>The Restaurant of Many Ingredients</em>
---
<div>
	<h3><a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="全身白髪だらけだと/赤いとさかを撫でながら/フライ・キッチンがぼやく/石臼での粉挽きなど/生まれて初めて|昔は/そんな身分じゃなかった/屍用人に身を落としても/家畜の姿に変わっても/意外と気分は悪くない/今になって気がついたのさ/机に積まれた札束など/何の意味も無かったんだと"
			romaji="zenshin hakuhatsu darake da to/akai tosaka wo nade nagara/FURAI KICCHIN ga boyaku/ishiusu de no konahiki nado/umarete hajimete|mukashi wa/sonna mibun ja nakatta/kabane younin ni mi wo otoshite mo/kachiku no sugata ni kawatte mo/igai to kibun wa warukunai/ima ni natte kigatsueita no sa/tsukue ni tsumareta satsutaba nado/dono imi mo nakattanda to"
		%}
		{% include verse.html
			lyrics="肉の焦げた匂いが漂う/次は自分じゃない事を祈る"
			romaji="niku no kogeta nioi ga tadayou/tsugi wa jibun ja nai koto wo inoru"
		%}
		{% include verse.html
			lyrics="ずっとうんざりしてたのさ/２３人の兄弟ども/ようやく別れを告げて/ポーク・チョップは独立した/嬉しい事のはずなのに/何故だか少し寂しい/鼻を鳴らして野菜を切る/刃物の扱いは慣れたものさ/何人も刻んできたから/稀代の始末屋だったのに/今じゃのろまの従兄弟にさえも/頭があがりゃしないのさ"
			romaji="zutto unzari shiteta no sa/nijuusan-nin no kyoudaidomo/youyaku wakare wo tsugete/POOKU CHOPPU wa dokuritsushita/ureshii koto no hazu na no ni/nazedaka sukunashi sabishii/hana wo narashite yasai wo kiru/hamono no atsukai wa naretamono sa/nannin mo kizandekita kara/kitai no shimatsuya datta no ni/ima ja noroma no itoko ni sae mo/atama ga agarya shinai no sa"
		%}
		{% include verse.html
			lyrics="熊の瞳がこっちを見ている/獲物が自分じゃない事を祈る"
			romaji="kuma no hitomi ga kocchi wo miteiru/emono ga jibun ja nai koto wo inoru"
		%}
		{% include verse.html
			lyrics="憧れのあの方にならば/食べられても構いませんわ/シャトー・ブリアンは言い切った/あの日話しかけられなくて/助ける事が出来なかった/後悔は今も残る"
			romaji="akogare no ano hou ni naraba/taberarete mo kamaimasen wa/SHATOO BURIAN wa iikitta/ano hi hanashikakerarenakute/tasukeru koto ga dekinakatta/koukai wa ima mo nokoru"
		%}
		{% include verse.html
			lyrics="１６人目のコックになる/決意して門をたたいたけど/既に屋敷はもぬけの殻/今ではもうあの時とは/全てが変わってしまったけど/変わらないものだってあるの"
			romaji="juuroku-nin me no KOKKU ni naru/ketsuishite mon wo tataita kedo/sude ni yashiki wa monukenokara/ima de wa mou ano toki to wa/subete ga kawatteshimatta kedo/kawaranai mono datte aru no"
		%}
		{% include verse.html
			lyrics="けだるげな赤猫をみかける/自分のお腹の肉をなでる"
			romaji="kedaruge na aka neko wo mikakeru/jibun no onaka no niku wo naderu"
		%}
		{% include verse.html
			lyrics="たどたどしい手つきの料理/行う弟子たちの姿を/俺は無言で眺める/昔のことなど忘れた/それでもこの調理場には/懐かしい匂いがする"
			romaji="tadotadoshii tetsuki no ryouri/okonau otoutoko-tachi no sugata wo/ore wa mugon de nagameru/mukashi no koto nadowasureta/sore demo kono chouriba ni wa/natsukashii nioi ga suru"
		%}
		{% include verse.html
			lyrics="誰かと旅をし料理をする/それがかつて自分が望んだ/生活だったのだろうか/店をにぎわす異界の客/彼らのために用意された/新たな食材を手に取る"
			romaji="dareka to tabi wo shi ryouri wo suru/sore ga katsute jibun ga nozonda/seikatsu datta no darou ka/mise wonigiwasu ikai no kyaku/karera no tame ni youisareta aratana shokuzai wo te ni toru"
		%}
		{% include verse.html
			lyrics="幸せの花は赤く奇麗で/メインディッシュのスパイスに最適"
			romaji="shiawase no hana wa kaku kirei de/MEIN DISSHU no SUPAISU ni saiteki"
		%}
		{% include verse.html
			lyrics="再び弟子たちに目をやる/選ばなければならない/メインディッシュの食材を/不足で困る事は無い/ここはとても食材の多い/ミスター・ドッグの料理店"
			romaji="futatabi otoutoko-tachi ni me wo yaru/erabanakerebanaranai/MEIN DISSHU no shokuzai wo/fusoku de komaru koto ha nai/koko wa totemo shokuzai no ooi/MISUTAA DOGGU no ryouriten"
		%}
	</div>
</div>