---
english-name: Ruminating on the Way Back from the Party
image: /assets/images/thumbs/CountTwilightAlbum.png
translation: https://pricechecktranslations.tumblr.com/post/791718720888324096
mothyrights: <em>The Evillious Chronicles</em>|<em>Ruminating on the Way Back from the Party</em>
---
<div>
	<h3><a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ライターに火をつけ/招待状を燃やす/終わらぬパーティから/さよならさ"
			romaji="RAITAA ni hi wo tsuke/shoutaijou wo moyasu/owaranu PAATI kara/sayonara sa"
		%}
		{% include verse.html
			lyrics="お目当ての物は/金の懐中時計/そろそろ帰ろうか/アトリエへ"
			romaji="omeate no mono wa/kin no kaichuudokei/sorosoro kaerou ka/ATORIE he"
		%}
		{% include verse.html
			lyrics="原料調達も/楽じゃない/危険な場所にほど/それはある"
			romaji="genryou choutatsu mo/raku ja nai/kikenna basho ni hodo/sore wa aru"
		%}
		{% include verse.html
			lyrics="商品になるのは/これからだ/「クロックワーカー」の/腕の見せ所"
			romaji="shouhin ni naru no wa/kore kara da/&quote;KUROKKUWAAKAA&quote; no/ude no misedokoro"
		%}
		{% include verse.html
			lyrics="屋敷を振り返り/ふっとため息を吐く/あそこにいたのもまた/僕自身"
			romaji="yashiki wo furikaeri/futto tameiki wo tsuku/asoko ni ita no mo mata/boku jishin"
		%}
		{% include verse.html
			lyrics="あり得た可能性/結末の一つ/悪役を命じられた/敗北者"
			romaji="arieta kanousei/ketsumatsu no hitotsu/akuyaku wo meijirareta/haibokusha"
		%}
		{% include verse.html
			lyrics="勧善懲悪を/好む神/それが正解かは/無関係"
			romaji="kanzen chouaku wo/konomu kami/sore ga seikai ka wa/mukankei"
		%}
		{% include verse.html
			lyrics="そうでない世界が/あるのなら/夕闇の仮面は/そこを目指すだろう"
			romaji="sou de nai sekai ga/aru no nara/yuuyami no kamen wa/soko wo mezasu darou"
		%}
		{% include verse.html
			lyrics="悪魔が宿らずとも/器は生まれうる/その誘惑は人を/惹きつける"
			romaji="akuma ga yadorazu tomo/utsuwa wa umareuru/sono yuuwaku wa hito wo/hikitsukeru"
		%}
		{% include verse.html
			lyrics="甘い話には/いつだって裏がある/幸せをつかめるかは/人による"
			romaji="amai hanashi ni wa/itsu datte ura ga aru/shiawase wo tsukameru ka wa/hito ni yoru"
		%}
		{% include verse.html
			lyrics="されど決めるのは/神じゃない/人形遊びになど/付き合わない"
			romaji="saredo kimeru no wa/kami ja nai/ningyou asobi ni nado/tsukiawanai"
		%}
		{% include verse.html
			lyrics="ショーウィンドウに並ぶ/魂は/持ち主を選ぶ/権利があるはずだ"
			romaji="SHOO WINDOU ni narabu/tamashii wa/mochinushi wo erabu/kenri ga aru hazu da"
		%}
	</div>
</div>