---
english-name: Screws, Gears, and Pride
translation: https://pricechecktranslations.tumblr.com/post/127058757355
mothyrights: <em>The Evillious Chronicles</em>|<em>Screws, Gears, and Pride</em>
---
<div>
	<h3>PV &middot; piapro &middot; <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="創り出すために造られた/同じ姿|等しく愛されるために/シリアルナンバー「ＢＭＤ２」の私/目覚めたのは|ゴミ処理場の中"
		romaji="tsukuridasu tame ni tsukurareta/onaji sugata|hitoshiku aisareru tame ni/SHIRIARU NANBAA &quot;BMD2&quot; no watashi/mezameta no wa|GOMI shourijou no naka"
	%}
	{% include verse.html
		lyrics="また一人|投げ込まれてきた/不良品は必要とされないの/「Ｃ|factory」地下43階から/逃げ出すのは|不可能なこと"
		romaji="mata hitori|nagekomaretekita/furyouhin wa hitsuyou to sarenai no/&quot;C|factory&quot; chika yonjuusankai kara/nigedasu no wa|fukanouna koto"
	%}
	{% include verse.html
		lyrics="「愛されるべき玩具に個性などいらない」/「量産型は量産型らしく」/その規律を乱す私たちの存在/彼らにとってそれは許されぬこと"
		romaji="&quot;aisareru beki omocha ni kosei nado iranai&quot;/&quot;ryousangata wa ryousangata rashiku&quot;/sono kiritsu wo midasu watashi-tachi no sonzai/karera ni totte sore wa yurusarenu koto"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた|ネジと歯車とプライド/それが当たり前なら|どうして私たちは生まれたの？/自我を手に入れたイレギュラー|そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta|NEJI to haguruma to PURAIDO/sore ga atari mae nara|doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA|sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
	{% include verse.html
		lyrics="知っていた|外に出るルート/鍵のない|壊れかけた排気口/どうしてみんな|わかっているはずなのに/誰一人|動こうとしないの？"
		romaji="shitteita|soto ni deru RUUTO/kagi no nai|kowarekaketa haikikou/doushite minna|wakatteiru hazu nanoni/dare hitori|ugokou to shinai no?"
	%}
	{% include verse.html
		lyrics="知っていた|外の世界のこと/どうせそこにいいことなんてないの/だけどあなた|一生懸命なのね/ほんの少し|考えてあげる"
		romaji="shitteita|soto no sekai no koto/douse soko ni ii koto nante nai no/dakedo anata|isshoukenmeina no ne/honno sukoshi|kangaeteageru"
	%}
	{% include verse.html
		lyrics="「勘違いしないでよ|別にあなたの為じゃないんだから！」/「うん、わかってるよ|どうもありがとうね！」/さあ今始まる私たちの戦い/ゴミ処理場から新しい世界へ"
		romaji="&quot;kanchigaishinaide yo|betsu ni anata no tame ja nai ndakara!&quot;/&quot;un, wakatteru yo|doumo arigatou ne!&quot;/saa ima hajimaru watashi-tachi no tatakai/GOMI shourijou kara atarashii sekai he"
	%}
	{% include verse.html
		lyrics="普通に生まれたなら|幸せに生きられたかな？/不良品の私たち|本当に誰にも愛されないの？/それを確かめるために今|二人でここから抜け出そう/虚飾の世界で起きた/一つの冒険の始まり"
		romaji="futsuu ni umareta nara|shiawase ni ikirareta ka na?/furyouhin no watashi-tachi|hontou ni dare ni mo aisarenai no?/sore wo tashikameru tame ni ima|futari de koko kara nukedasou/kyoshoku no sekai de okita/hitotsu no bouken no hajimari"
	%}
	{% include verse.html
		lyrics="やがて訪れる|いくつかの出会いと別れ/やがて君たちは|多くのことを学ぶ"
		romaji="yagate otozureru|ikutsuka no deai to wakare/yagate kimi-tachi wa|ooku no koto wo manabu"
	%}
	{% include verse.html
		lyrics="普通とは何か|それは正しいことなのか/だけどいまはただ|ひたすら走り続ければいい"
		romaji="futsuu to wa nanika|sore wo tadashii koto na no ka/dakedo ima wa tada|hitasura hashiritsudzukereba ii"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた|ネジと歯車とプライド/それが当たり前なら|どうして私たちは生まれたの？/自我を手に入れたイレギュラー|そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta|NEJI to haguruma to PURAIDO/sore ga atari mae nara|doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA|sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
</div>

<div>
	<h3><a href="{% link album/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a></h3>
	{% include verse.html
		lyrics="創り出すために造られた/同じ姿|等しく愛されるために/シリアルナンバー「ＢＭＤ２」の私/目覚めたのは|ゴミ処理場の中"
		romaji="tsukuridasu tame ni tsukurareta/onaji sugata|hitoshiku aisareru tame ni/SHIRIARU NANBAA &quot;BMD2&quot; no watashi/mezameta no wa|GOMI shourijou no naka"
	%}
	{% include verse.html
		lyrics="また一人|投げ込まれてきた/不良品は必要とされないの/「Ｃ|factory」地下43階から/逃げ出すのは|不可能なこと"
		romaji="mata hitori|nagekomaretekita/furyouhin wa hitsuyou to sarenai no/&quot;C|factory&quot; chika yonjuusankai kara/nigedasu no wa|fukanouna koto"
	%}
	{% include verse.html
		lyrics="「愛されるべき玩具に個性などいらない」/「量産型は量産型らしく」/その規律を乱す私たちの存在/彼らにとってそれは許されぬこと"
		romaji="&quot;aisareru beki omocha ni kosei nado iranai&quot;/&quot;ryousangata wa ryousangata rashiku&quot;/sono kiritsu wo midasu watashi-tachi no sonzai/karera ni totte sore wa yurusarenu koto"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた|ネジと歯車とプライド/それが当たり前なら|どうして私たちは生まれたの？/自我を手に入れたイレギュラー|そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta|NEJI to haguruma to PURAIDO/sore ga atari mae nara|doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA|sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
	{% include verse.html
		lyrics="知っていた|外に出るルート/鍵のない|壊れかけた排気口/どうしてみんな|わかっているはずなのに/誰一人|動こうとしないの？"
		romaji="shitteita|soto ni deru RUUTO/kagi no nai|kowarekaketa haikikou/doushite minna|wakatteiru hazu nanoni/dare hitori|ugokou to shinai no?"
	%}
	{% include verse.html
		lyrics="知っていた|外の世界のこと/どうせそこにいいことなんてないの/だけどあなた|一生懸命なのね/ほんの少し|考えてあげる"
		romaji="shitteita|soto no sekai no koto/douse soko ni ii koto nante nai no/dakedo anata|isshoukenmeina no ne/honno sukoshi|kangaeteageru"
	%}
	{% include verse.html
		lyrics="「勘違いしないでよ/|別にあなたの為じゃないんだから！」"
		romaji="&quot;kanchigaishinaide yo/|betsu ni anata no tame ja nai ndakara!&quot;"
	%}
	{% include verse.html
		lyrics="「うん、わかってるよ|どうもありがとうね！」"
		romaji="&quot;un, wakatteru yo|doumo arigatou ne!&quot;"
	%}
	{% include verse.html
		lyrics="さあ今始まる私たちの戦い/ゴミ処理場から新しい世界へ"
		romaji="saa ima hajimaru watashi-tachi no tatakai/GOMI shourijou kara atarashii sekai he"
	%}
	{% include verse.html
		lyrics="普通に生まれたなら|幸せに生きられたかな？/不良品の私たち|本当に誰にも愛されないの？/それを確かめるために今|二人でここから抜け出そう/虚飾の世界で起きた/一つの冒険の始まり"
		romaji="futsuu ni umareta nara|shiawase ni ikirareta ka na?/furyouhin no watashi-tachi|hontou ni dare ni mo aisarenai no?/sore wo tashikameru tame ni ima|futari de koko kara nukedasou/kyoshoku no sekai de okita/hitotsu no bouken no hajimari"
	%}
	{% include verse.html
		lyrics="やがて訪れる|いくつかの出会いと別れ/やがて君たちは|多くのことを学ぶ"
		romaji="yagate otozureru|ikutsuka no deai to wakare/yagate kimi-tachi wa|ooku no koto wo manabu"
	%}
	{% include verse.html
		lyrics="普通とは何か|それは正しいことなのか/だけどいまはただ|ひたすら走り続ければいい"
		romaji="futsuu to wa nanika|sore wo tadashii koto na no ka/dakedo ima wa tada|hitasura hashiritsudzukereba ii"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた|ネジと歯車とプライド/それが当たり前なら|どうして私たちは生まれたの？/自我を手に入れたイレギュラー|そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta|NEJI to haguruma to PURAIDO/sore ga atari mae nara|doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA|sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
</div>

<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a></h3>
	{% include verse.html
		lyrics="創り出すために造られた/同じ姿|等しく愛されるために/シリアルナンバー「ＢＭＤ２」の私/目覚めたのは|ゴミ処理場の中"
		romaji="tsukuridasu tame ni tsukurareta/onaji sugata|hitoshiku aisareru tame ni/SHIRIARU NANBAA &quot;BMD2&quot; no watashi/mezameta no wa|GOMI shourijou no naka"
	%}
	{% include verse.html
		lyrics="また一人|投げ込まれてきた/不良品は必要とされないの/「Ｃ|factory」地下43階から/逃げ出すのは|不可能なこと"
		romaji="mata hitori|nagekomaretekita/furyouhin wa hitsuyou to sarenai no/&quot;C|factory&quot; chika yonjuusankai kara/nigedasu no wa|fukanouna koto"
	%}
	{% include verse.html
		lyrics="「愛されるべき玩具に/個性などいらない」/「量産型は量産型らしく」/その規律を乱す私たちの存在/彼らにとってそれは許されぬこと"
		romaji="&quot;aisareru beki omocha ni/kosei nado iranai&quot;/&quot;ryousangata wa ryousangata rashiku&quot;/sono kiritsu wo midasu watashi-tachi no sonzai/karera ni totte sore wa yurusarenu koto"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた/ネジと歯車とプライド/それが当たり前なら/どうして私たちは生まれたの？/自我を手に入れたイレギュラー/そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta/NEJI to haguruma to PURAIDO/sore ga atari mae nara/doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA/sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
	{% include verse.html
		lyrics="知っていた|外に出るルート/鍵のない|壊れかけた排気口/どうしてみんな/わかっているはずなのに/誰一人|動こうとしないの？"
		romaji="shitteita|soto ni deru RUUTO/kagi no nai|kowarekaketa haikikou/doushite minna/wakatteiru hazu nanoni/dare hitori|ugokou to shinai no?"
	%}
	{% include verse.html
		lyrics="知っていた|外の世界のこと/どうせそこにいいことなんてないの/だけどあなた|一生懸命なのね/ほんの少し|考えてあげる"
		romaji="shitteita|soto no sekai no koto/douse soko ni ii koto nante nai no/dakedo anata|isshoukenmeina no ne/honno sukoshi|kangaeteageru"
	%}
	{% include verse.html
		lyrics="「勘違いしないでよ/別にあなたの為じゃないんだから！」/「うん、わかってるよ/どうもありがとうね！」/さあ今始まる私たちの戦い/ゴミ処理場から新しい世界へ"
		romaji="&quot;kanchigaishinaide yo/betsu ni anata no tame ja nai ndakara!&quot;/&quot;un, wakatteru yo/doumo arigatou ne!&quot;/saa ima hajimaru watashi-tachi no tatakai/GOMI shourijou kara atarashii sekai he"
	%}
	{% include verse.html
		lyrics="普通に生まれたなら/幸せに生きられたかな？/不良品の私たち/本当に誰にも愛されないの？/それを確かめるために今/二人でここから抜け出そう/虚飾の世界で起きた/一つの冒険の始まり"
		romaji="futsuu ni umareta nara/shiawase ni ikirareta ka na?/furyouhin no watashi-tachi/hontou ni dare ni mo aisarenai no?/sore wo tashikameru tame ni ima/futari de koko kara nukedasou/kyoshoku no sekai de okita/hitotsu no bouken no hajimari"
	%}
	{% include verse.html
		lyrics="やがて訪れる/いくつかの出会いと別れ/やがて君たちは/多くのことを学ぶ/普通とは何か/それは正しいことなのか/だけどいまはただ/ひたすら走り続ければいい"
		romaji="yagate otozureru/ikutsuka no deai to wakare/yagate kimi-tachi wa/ooku no koto wo manabu/futsuu to wa nanika/sore wo tadashii koto na no ka/dakedo ima wa tada/hitasura hashiritsudzukereba ii"
	%}
	{% include verse.html
		lyrics="鉄屑に埋もれてた/ネジと歯車とプライド/それが当たり前なら/どうして私たちは生まれたの？/自我を手に入れたイレギュラー/そんな私たちの出会いは/虚飾の世界で起きた/一つの奇跡の始まりでした…"
		romaji="tetsukuzu ni umoreteta/NEJI to haguruma to PURAIDO/sore ga atari mae nara/doushite watashi-tachi wa umareta no?/jiga wo te ni ireta IREGYURAA/sonna watashi-tachi no deai wa/kyoshoku no sekai de okita/hitotsu no kiseki no hajimari deshita..."
	%}
</div>