---
english-name: The Servant of Evil
image: /assets/images/thumbs/ServantOfEvil.jpg
translation: https://pricechecktranslations.tumblr.com/post/110200555525
mothyrights: <em>The Evillious Chronicles</em>|<em>The Servant of Evil</em>
---
<div>
	<h3>piapro</h3>
	<div class="lyricbox">
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou"
		%}
		{% include verse.html
			lyrics="どうして？涙が止まらない"
			romaji="doushite? namida ga tomaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3>PV &middot; PV <small>(2020)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は|二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa|futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが|君の敵になろうとも/僕が君を守るから|君はそこで笑っていて"
			romaji="tatoe sekai no subete ga|kimi no teki ni narou to mo/boku ga kimi wo mamoru kara|kimi wa soko de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう/どうして？涙が止まらない"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou/doushite? namida ga tomaranai"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきて|たとえ世界の全てが/終わりを告げる鐘が鳴る|君の敵になろうとも/民衆などには目もくれず|僕が君を守るから/君は私の口癖を言う|君はどこかで笑っていて"
			romaji="tsui ni sono toki wa yattekite|tatoe sekai no subete ga/owari wo tsugeru kane ga naru|kimi no teki ni narou to mo/minshuu nado ni wa me mo kurezu|boku ga kimi wo mamoru kara/kimi wa watashi no kuchiguse wo iu|kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a></h3>
	<div class="lyricbox">
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう/どうして？涙が止まらない"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou/doushite? namida ga tomaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="（ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/君は私の口癖を言う）"
			romaji="(tsui ni sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kimi wa watashi no kuchiguse wo iu)"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou"
		%}
		{% include verse.html
			lyrics="どうして？涙が止まらない"
			romaji="doushite? namida ga tomaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="（ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/君は私の口癖を言う）"
			romaji="(tsui ni sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kimi wa watashi no kuchiguse wo iu)"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3>PV <small>(~velvet mix~)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使|運命分かつ|哀れな双子/君を守る|その為ならば|僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai|unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba|boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた|祝福するは教会の鐘/大人たちの勝手な都合で|僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta|shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de|bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが|君の敵になろうとも/僕が君を守るから|君はそこで笑っていて"
			romaji="tatoe sekai no subete ga|kimi no teki ni narou to mo/boku ga kimi wo mamoru kara|kimi wa soko de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使|運命分かつ|哀れな双子/君を守る|その為ならば|僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai|unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba|boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに|街で見かけた緑のあの娘/その優しげな声と笑顔に|一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni|machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni|hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと|消してほしいと願うなら/僕はそれに応えよう|どうして？涙が止まらない"
			romaji="dakedo oujo ga ano ko no koto|keshite hoshii to negau nara/boku wa sore ni kotaeyou|doushite? namida ga tomaranai"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使|運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」|君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai|unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;|kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう|怒れる国民たちの手で/これが報いだというのならば|僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou|ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba|boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」|「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」|「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;|&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;|&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html
			lyrics="僕は王女|君は逃亡者|運命分かつ|悲しき双子/君を悪だというのならば|僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha|unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba|boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに|悪逆非道の王国の/頂点に君臨してた|とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni|akugyaku hidou no oukoku no/chouten ni kunrinshiteta|totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが|ついにその時はやってきて/君の敵になろうとも|終わりを告げる鐘が鳴る/僕が君を守るから|民衆などには目もくれず/君はどこかで笑っていて|君は私の口癖を言う"
			romaji="tatoe sekai no subete ga|tsui ni sono toki wa yattekite/kimi no teki ni narou to mo|owari wo tsugeru kane ga naru/boku ga kimi wo mamoru kara|minshuu nado ni wa me mo kurezu/kimi wa dokoka de waratteite|kimi wa watashi no kuchiguse wo iu"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使|運命分かつ|哀れな双子/君を守る|その為ならば|僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai|unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba|boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば|その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba|sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう/どうして？涙が止まらない"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou/doushite? namida ga tomaranai"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう/どうして？涙が止まらない"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou/doushite? namida ga tomaranai"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/君は私の口癖を言う"
			romaji="tsui ni sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kimi wa watashi no kuchiguse wo iu"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> &middot; <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou"
		%}
		{% include verse.html
			lyrics="どうして？涙が止まらない"
			romaji="doushite? namida ga tomaranai"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="（ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/君は私の口癖を言う）"
			romaji="(tsui ni sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kimi wa watashi no kuchiguse wo iu)"
		%}
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="期待の中僕らは生まれた/祝福するは教会の鐘/大人たちの勝手な都合で/僕らの未来は二つに裂けた"
			romaji="kitai no naka bokura wa umareta/shukufukusuru wa kyoukai no kane/otona-tachi no kattena tsugou de/bokura no mirai wa futatsu ni saketa"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はそこで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa soko de waratteite"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="隣の国へ出かけたときに/街で見かけた緑のあの娘/その優しげな声と笑顔に/一目で僕は恋に落ちました"
			romaji="tonari no kuni he dekaketa toki ni/machi de mikaketa midori no ano ko/sono yasashigena koe to egao ni/hitome de boku wa koi ni ochimashita"
		%}
		{% include verse.html
			lyrics="だけど王女があの娘のこと/消してほしいと願うなら/僕はそれに応えよう"
			romaji="dakedo oujo ga ano ko no koto/keshite hoshii to negau nara/boku wa sore ni kotaeyou"
		%}
		{% include verse.html
			lyrics="どうして？涙が止まらない"
			romaji="doushite? namida ga tomaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|狂おしき双子/「今日のおやつはブリオッシュだよ」/君は笑う|無邪気に笑う"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|kuruoshiki futago/&quot;kyou no oyatsu wa BURIOSSHU da yo&quot;/kimi wa warau|mujaki ni warau"
		%}
		{% include verse.html
			lyrics="もうすぐこの国は終わるだろう/怒れる国民たちの手で/これが報いだというのならば/僕はあえて|それに逆らおう"
			romaji="mou sugu kono kuni wa owaru darou/ikareru kokumin-tachi no te de/kore ga mukui da to iu naraba/boku wa aete|sore ni sakaraou"
		%}
		{% include verse.html
			lyrics="「ほら僕の服を貸してあげる」/「これを着てすぐお逃げなさい」/「大丈夫僕らは双子だよ」/「きっとだれにもわからないさ」"
			romaji="&quot;hora boku no fuku wo kashiteageru&quot;/&quot;kore wo kite sugu onigenasai&quot;/&quot;daijoubu bokura wa futago da yo&quot;/&quot;kitto dare ni mo wakaranai sa&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕は王女|君は逃亡者/運命分かつ|悲しき双子/君を悪だというのならば/僕だって同じ|血が流れてる"
			romaji="boku wa oujo|kimi wa toubousha/unmei wakatsu|kanashiki futago/kimi wo aku da to iu no naraba/boku datte onaji|chi ga nagareteru"
		%}
		{% include verse.html
			lyrics="むかしむかしあるところに/悪逆非道の王国の/頂点に君臨してた/とても可愛い僕の姉弟"
			romaji="mukashi mukashi aru tokoro ni/akugyaku hidou no oukoku no/chouten ni kunrinshiteta/totemo kawaii boku no kyoudai"
		%}
		{% include verse.html
			lyrics="たとえ世界の全てが/君の敵になろうとも/僕が君を守るから/君はどこかで笑っていて"
			romaji="tatoe sekai no subete ga/kimi no teki ni narou to mo/boku ga kimi wo mamoru kara/kimi wa dokoka de waratteite"
		%}
		{% include verse.html
			lyrics="（ついにその時はやってきて/終わりを告げる鐘が鳴る/民衆などには目もくれず/君は私の口癖を言う）"
			romaji="(tsui ni sono toki wa yattekite/owari wo tsugeru kane ga naru/minshuu nado ni wa me mo kurezu/kimi wa watashi no kuchiguse wo iu)"
		%}
		{% include verse.html class="versebreak"
			lyrics="君は王女|僕は召使/運命分かつ|哀れな双子/君を守る|その為ならば/僕は悪にだってなってやる"
			romaji="kimi wa oujo|boku wa meshitsukai/unmei wakatsu|awarena futago/kimi wo mamoru|sono tame naraba/boku wa aku ni datte natteyaru"
		%}
		{% include verse.html
			lyrics="もしも生まれ変われるならば/その時はまた遊んでね"
			romaji="moshimo umarekawareru naraba/sono toki wa mata asonde ne"
		%}
	</div>
</div>