---
english-name: Seven Crimes and Punishments
translation: https://pricechecktranslations.tumblr.com/post/110914563130
mothyrights: <em>The Evillious Chronicles</em>|<em>Seven Crimes and Punishments</em>
---
<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="七つの花は舞い|罪は今放たれた/醜い素顔|覆い隠したまま/溺れゆく情欲"
		romaji="nanatsu no hana wa mai|tsumi wa ima hanatareta/minikui sugao|ooikakushita mama/oboreyuku jouyoku"
	%}
	{% include verse.html
		lyrics="七つの種は降り|大地に根を張るだろう/全てを解かす|胃袋の強酸/そう|世界さえも"
		romaji="nanatsu no tane wa furi|daiichi ni ne haru darou/subete wo tokasu|ibukuro no kyousan/sou|sekai saemo"
	%}
	{% include verse.html
		lyrics="石の上に築かれた「悪ノ王国」はもう止まらない"
		romaji="ishi no ue ni kizukareta &quot;aku NO oukoku&quot; wa mou tomaranai"
	%}
	{% include verse.html
		lyrics="呪われた双子から|放たれた悪意の器/いかなる物語を|描くのか"
		romaji="norowareta futago kara|hanatareta akui no utsuwa/ikanaru monogatari wo|egaku no ka"
	%}
	{% include verse.html
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="七つの風の中|毒に犯される世界/あらゆる元凶|今日も眠れないと/嘆く偽りの罪"
		romaji="nanatsu no kaze no naka|doku ni okasareru sekai/arayuru gankyou|kyou mo nemurenai to/nageku itsuwari no tsumi"
	%}
	{% include verse.html
		lyrics="七つの泉には|愛する人の面影/だけど違う影が|いつも写り込むの/お前達さえいなければ"
		romaji="nanatsu no izumi ni wa|aisuru hito no omokage/dakedo chigau kage ga|itsumo utsurikomu no/omae-tachi sae inakereba"
	%}
	{% include verse.html
		lyrics="土に埋もれた法廷で|さあ始めよう|裁判という名の茶番を"
		romaji="tsuchi ni umoreta houtei de|saa hajimeyou|saiban to iu na no chaban wo"
	%}
	{% include verse.html
		lyrics="誰しもが求めてる|それぞれの理想郷を/いかなる結末を|迎えるのか"
		romaji="dareshimo ga motometeru|sorezore no YUUTOPIA wo/ikanaru ketsumatsu wo|mukaeru no ka"
	%}
	{% include verse.html
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="聞こえてくるのは森の歌？/いいえそれは破滅の銃声"
		romaji="kikoetekuru no wa mori no uta?/iie sore wa hametsu no shuusei"
	%}
	{% include verse.html
		lyrics="呪われた双子から|放たれた悪意の器/いかなる物語を|描くのか"
		romaji="norowareta futago kara|hanatareta akui no utsuwa/ikanaru monogatari wo|egaku no ka"
	%}
	{% include verse.html
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
</div>

<div>
	<h3><a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="「さあ|始めよう」"
		romaji="&quot;saa|hajimeyou&quot;"
	%}
	{% include verse.html
		lyrics="七つの花は舞い|罪は今放たれた/醜い素顔|覆い隠したまま/溺れゆく情欲"
		romaji="nanatsu no hana wa mai|tsumi wa ima hanatareta/minikui sugao|ooikakushita mama/oboreyuku jouyoku"
	%}
	{% include verse.html
		lyrics="七つの種は降り|大地に根を張るだろう/全てを解かす|胃袋の強酸/そう|世界さえも"
		romaji="nanatsu no tane wa furi|daiichi ni ne haru darou/subete wo tokasu|ibukuro no kyousan/sou|sekai saemo"
	%}
	{% include verse.html
		lyrics="石の上に築かれた/「悪ノ王国」はもう止まらない"
		romaji="ishi no ue ni kizukareta/&quot;aku NO oukoku&quot; wa mou tomaranai"
	%}
	{% include verse.html
		lyrics="呪われた双子から/放たれた悪意の器/いかなる物語を描くのか"
		romaji="norowareta futago kara/hanatareta akui no utsuwa/ikanaru monogatari wo egaku no ka"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="七つの風の中|毒に犯される世界/あらゆる元凶|今日も眠れないと/嘆く偽りの罪"
		romaji="nanatsu no kaze no naka|doku ni okasareru sekai/arayuru gankyou|kyou mo nemurenai to/nageku itsuwari no tsumi"
	%}
	{% include verse.html
		lyrics="七つの泉には|愛する人の面影/だけど違う影が|いつも写り込むの/お前達さえいなければ"
		romaji="nanatsu no izumi ni wa|aisuru hito no omokage/dakedo chigau kage ga|itsumo utsurikomu no/omae-tachi sae inakereba"
	%}
	{% include verse.html
		lyrics="土に埋もれた法廷で/さあ始めよう|裁判という名の茶番を"
		romaji="tsuchi ni umoreta houtei de/saa hajimeyou|saiban to iu na no chaban wo"
	%}
	{% include verse.html
		lyrics="誰しもが求めてる/それぞれの理想郷を/いかなる結末を迎えるのか"
		romaji="dareshimo ga motometeru/sorezore no YUUTOPIA wo/ikanaru ketsumatsu wo mukaeru no ka"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="聞こえてくるのは森の歌？/いいえそれは破滅の銃声"
		romaji="kikoetekuru no wa mori no uta?/iie sore wa hametsu no shuusei"
	%}
	{% include verse.html
		lyrics="呪われた双子から/放たれた悪意の器/いかなる物語を描くのか"
		romaji="norowareta futago kara/hanatareta akui no utsuwa/ikanaru monogatari wo egaku no ka"
	%}
	{% include verse.html
		lyrics="七つの罪と罰"
		romaji="nanatsu no tsumi to batsu"
	%}
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	{% include verse.html
		lyrics="「さあ|始めよう」"
		romaji="&quot;saa|hajimeyou&quot;"
	%}
	{% include verse.html
		lyrics="七つの花は舞い/罪は今放たれた/醜い素顔/覆い隠したまま/溺れゆく情欲"
		romaji="nanatsu no hana wa mai/tsumi wa ima hanatareta/minikui sugao/ooikakushita mama/oboreyuku jouyoku"
	%}
	{% include verse.html
		lyrics="七つの種は降り/大地に根を張るだろう/全てを解かす/胃袋の強酸/そう|世界さえも"
		romaji="nanatsu no tane wa furi/daiichi ni ne haru darou/subete wo tokasu/ibukuro no kyousan/sou|sekai saemo"
	%}
	{% include verse.html
		lyrics="石の上に築かれた/「悪ノ王国」はもう止まらない"
		romaji="ishi no ue ni kizukareta/&quot;aku NO oukoku&quot; wa mou tomaranai"
	%}
	{% include verse.html
		lyrics="呪われた双子から/放たれた悪意の器/いかなる物語を描くのか/七つの罪と罰"
		romaji="norowareta futago kara/hanatareta akui no utsuwa/ikanaru monogatari wo egaku no ka/nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="七つの風の中/毒に犯される世界/あらゆる元凶/今日も眠れないと/嘆く偽りの罪"
		romaji="nanatsu no kaze no naka/doku ni okasareru sekai/arayuru gankyou/kyou mo nemurenai to/nageku itsuwari no tsumi"
	%}
	{% include verse.html
		lyrics="七つの泉には/愛する人の面影/だけど違う影が/いつも写り込むの/お前達さえいなければ"
		romaji="nanatsu no izumi ni wa/aisuru hito no omokage/dakedo chigau kage ga/itsumo utsurikomu no/omae-tachi sae inakereba"
	%}
	{% include verse.html
		lyrics="土に埋もれた法廷で/さあ始めよう|裁判という名の茶番を"
		romaji="tsuchi ni umoreta houtei de/saa hajimeyou|saiban to iu na no chaban wo"
	%}
	{% include verse.html
		lyrics="誰しもが求めてる/それぞれの理想郷を/いかなる結末を迎えるのか/七つの罪と罰"
		romaji="dareshimo ga motometeru/sorezore no YUUTOPIA wo/ikanaru ketsumatsu wo mukaeru no ka/nanatsu no tsumi to batsu"
	%}
	{% include verse.html
		lyrics="聞こえてくるのは森の歌？/いいえそれは破滅の銃声"
		romaji="kikoetekuru no wa mori no uta?/iie sore wa hametsu no shuusei"
	%}
	{% include verse.html
		lyrics="呪われた双子から/放たれた悪意の器/いかなる物語を描くのか/七つの罪と罰"
		romaji="norowareta futago kara/hanatareta akui no utsuwa/ikanaru monogatari wo egaku no ka/nanatsu no tsumi to batsu"
	%}
</div>