---
english-name: Sister Clarith's Curious Night
image: /assets/images/thumbs/TwinRabbitsAlbum.png
translation: https://pricechecktranslations.tumblr.com/post/727276156604301312
mothyrights: <em>The Evillious Chronicles</em>|<em>Sister Clarith's Curious Night</em>
---
<div>
	<h3><a href="https://twitter.com/mothy_akuno/status/1688022908122316800">Twitter</a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="|彼女がそのレストランを訪れたのは/行方不明の子供たちを探すためだった。/|噂を聞いたのだ。/孤児院の子がこの店に入っていくというその姿を見たと。"
			romaji="|kanojo ga sono RESUTORAN wo otozureta no wa/yukue fumei no kodomo-tachi wo sagasu tame datta./|uwasa wo kiita no da./kojiin no ko ga kono mise ni haitteiku to iu sono sugata wo mita to."
		%}
		{% include verse.html
			lyrics="|しかし応対した支配人の男は残念そうに首を横に振る。/「そのような心当たりはありませんね」/|それを聞いてがっくりと肩を落とすシスター。"
			romaji="|shikashi outaishita shihainin no otoko wa zannensou ni kubi wo yoko ni furu./&quot;sono youna kokoro atari wa arimasen ne&quot;/|sore wo kiite gakkuri to kata wo otosu SHISUTAA."
		%}
		{% include verse.html
			lyrics="|すると支配人は彼女をレストランの/一番良い席に座らせた。/「せっかくですから何か食べていってください。……ああ|お代なら結構ですから」"
			romaji="|suru to shihainin wa kanojo wo RESUTORAN no/ichiban yoi seki ni suwaraseta./&quot;sekkaku desu kara nanika tabeteitte kudasai. ......aa|odai nara kekkou desu kara&quot;"
		%}
		{% include verse.html
			lyrics="ありがたきお言葉/実は昨日から/何も食べてません/子供たちが心配で"
			romaji="arigataki okotoba/jitsu wa kinou kara/nani mo tabetemasen/kodomo-tachi ga shinpai de"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="彼女がそのレストランを訪れたのは/行方不明の子供たちを探すためだった/噂を聞いたのだ/孤児院の子がこの店に入っていくという/その姿を見たと"
			romaji="kanojo ga sono RESUTORAN wo otozureta no wa/yukue fumei no kodomo-tachi wo sagasu tame datta/uwasa wo kiita no da/kojiin no ko ga kono mise ni haitteiku to iu/sono sugata wo mita to"
		%}
		{% include verse.html
			lyrics="しかし応対した支配人の男は/残念そうに首を横に振る/「そのような心当たりはありませんね」/それを聞いてがっくりと/肩を落とすシスター"
			romaji="shikashi outaishita shihainin no otoko wa/zannensou ni kubi wo yoko ni furu/&quot;sono youna kokoro atari wa arimasen ne&quot;/sore wo kiite gakkuri to/kata wo otosu SHISUTAA"
		%}
		{% include verse.html
			lyrics="すると支配人は彼女を/レストランの一番良い席に座らせた/「せっかくですから/|何か食べていってください/|……ああ|お代なら結構ですから」"
			romaji="suru to shihainin wa kanojo wo/RESUTORAN no ichiban yoi seki ni suwaraseta/&quot;sekkaku desu kara/|nanika tabeteitte kudasai/|......aa|odai nara kekkou desu kara&quot;"
		%}
		{% include verse.html
			lyrics="ありがたきお言葉/実は昨日から/何も食べてません/子供たちが心配で"
			romaji="arigataki okotoba/jitsu wa kinou kara/nani mo tabetemasen/kodomo-tachi ga shinpai de"
		%}
		{% include verse.html
			lyrics="厚意に甘える事にしたシスターの前に/やがておいしそうな料理が運ばれてきた/白身魚のソテーだろうか|それを見て/彼女は申し訳なさそうに/うつむいてしまった"
			romaji="koui ni amaeru koto ni shita SHISUTAA no mae ni/yagate oishisouna ryouri ga hakobaretekita/shiromizakana no SOTEE darou ka|sore wo mite/kanojo wa moushiwakenasasou ni/utsumuiteshimatta"
		%}
		{% include verse.html
			lyrics="「教えにより/|生き物の肉は口にできないのです」"
			romaji="&quot;oshie ni yori/|ikimono no niku wa kuchi ni dekinai no desu&quot;"
		%}
		{% include verse.html
			lyrics="シスターがそう断っても/支配人は引き下がらない/「そんなことをおっしゃらず/|ここは神の目も届かぬ森の中ですから」"
			romaji="SHISUTAA ga sou kotowatte mo/shihainin wa hikisagaranai/&quot;sonna koto wo ossharazu/|koko wa kami no me mo todokanu mori no naka desu kara&quot;"
		%}
		{% include verse.html
			lyrics="仕方なくシスターは/ナイフで魚の身を切る/一口だけ食べて帰ろう/そんな風に考えていたところ/彼女は料理の中に/何か固い物がある事に気が付いた"
			romaji="shikatanaku SHISUTAA wa/NAIFU de sakana no mi wo kiru/hitokuchi dake tabete kaerou/sonna fuu ni kangaeteita tokoro/kanojo wa ryouri no naka ni/nanika katai mono ga aru koto ni kigatsuita"
		%}
		{% include verse.html
			lyrics="シスターの顔が青ざめる/それはレーナが身に着けていた/ブローチだった/泳ぐのが得意なレーナが/海で集めた小石を/組み合わせて作った手作りの物だ"
			romaji="SHISUTAA no kao ga aozameru/sore wa REENA ga mi ni tsuketeita/BUROOCHI datta/oyogu no ga tokuina REENA ga/umi de atsumeta koishi wo/kumi awasete tsukutta tedzukuri no mono da"
		%}
		{% include verse.html
			lyrics="どうしてこんな物が/料理の中にあるの？/少なくともあの子は/この場所に来ていた"
			romaji="doushite konna mono ga/ryouri no naka ni aru no?/sukunaku tomo ano ko wa/kono basho ni kiteita"
		%}
		{% include verse.html
			lyrics="ふと気が付くといつのまにか支配人の姿は/店内のどこにも見えなくなっていた/胸騒ぎを覚えた彼女は思わず席を立ち/店の奥へと忍び込んでいったのだ"
			romaji="futo kigatsuku to itsu no manika shihainin no sugata wa/tennai no doko ni mo mienakunatteita/munasawagi wo obaeta kanojo wa omowazu seki wo tachi/mise no oku he to shinobikondeitta no da"
		%}
		{% include verse.html
			lyrics="途中の廊下で小さな靴が落ちていた/シスターは再び青ざめる"
			romaji="tochuu no rouka de chiisana kutsu ga ochiteita/SHISUTAA wa futatabi aozameru"
		%}
		{% include verse.html
			lyrics="それはマルクの靴だった/彼の足が速かったことを彼女は思い出す"
			romaji="sore wa MARUKU no kutsu datta/kare no ashi ga hayakatta koto wo kanojo wa omoidasu"
		%}
		{% include verse.html
			lyrics="ひときわ異臭が漏れる扉の前に立ち/シスターは恐る恐るそれを押し開ける/そこは血と肉のこびりついた調理場/コックの顔をした男の顔は/毛むくじゃらだった"
			romaji="hitokiwa ishuu ga moreru tobira no mae ni tachi/SHISUTAA wa osoru osoru sore wo oshiakeru/soko wa chi to niku no kobiritsuita chouriba/KOKKU no kao wo shita otoko no kao wa/kemukujara datta"
		%}
		{% include verse.html
			lyrics="二本足で立つ/犬の獣人よ/包丁についた血は/いったい誰の物？"
			romaji="nihon ashi de tatsu/inu no juujin yo/houchou ni tsuita chi wa/ittai dare no mono?"
		%}
		{% include verse.html
			lyrics="作業台の上では赤い猫が/皿のシチューを舐めている/浮かんでいる具材は/間違いなく人間の指だ/無数の指の中の一つ/そこにはめられた指輪を/シスターは見つけた"
			romaji="sagyoudai no ue de wa akai neko ga/sara no SHICHUU wo nameteiru/ukandeiru guzai wa/machigainaku ningen no yubi da/musuu no yubi no naka no hitotsu/soko ni hamerareta yubiwa wo/SHISUTAA wa mitsuketa"
		%}
		{% include verse.html
			lyrics="あれはエマの物で間違いない/恐ろしい想像がシスターの脳裏を駆け巡る/振り返ったシスターの前に立っていたのは/二羽のウサギと巨大な熊だった"
			romaji="are wa EMA no mono de machigainai/osoroshii souzou ga SHISUTAA no nouri wo kakemeguru/furikaetta SHISUTAA no mae ni tatteita no wa/niwa no USAGI to kyodaina kuma datta"
		%}
		{% include verse.html
			lyrics="シスターは叫び声をあげ/その場に倒れこんだ/薄れゆく意識の中/徐々に迫ってくる絶望の足音"
			romaji="SHISUTAA wa sakebigoe wo age/sono ba ni taorekonda/usureyuku ishiki no naka/jojo ni semattekuru zetsubou no ashioto"
		%}
		{% include verse.html
			lyrics="気を失う直前|彼女が見たのは/額に角を生やした少女の顔だった"
			romaji="ki wo ushinau chokuzen|kanojo ga mita no wa/hitai ni tsuno wo hayashita shoujo no kao datta"
		%}
		{% include verse.html
			lyrics="目を覚ました時/彼女は孤児院に帰ってきていた/そしてその後/行方不明の子供たちも全員/無事に孤児院へ戻ってきたのだ"
			romaji="me wo samashita toki/kanojo wa kojiin ni kaettekiteita/soshite sono go/yukue fumei no kodomo-tachi mo zen'in/fuji ni kojiin he modottekita no da"
		%}
		{% include verse.html
			lyrics="子供たちは数日間の記憶を失っており/そして|とてもお腹を空かせていた/レーナやマルクたちが唯一覚えていたのは/フルートを持った/双子のウサギの姿だけだった"
			romaji="kodomo-tachi wa suujitsukan no kioku wo ushinatteori/soshite|totemo onaka wo sukaseteita/REENA ya MARUKU-tachi ga yuiitsu oboeteita no wa/FURUUTO wo motta/futago no USAGI no sugata dake datta"
		%}
		{% include verse.html
			lyrics="あのレストランは建物ごと/森の中から姿を消した/まるで最初から/存在していなかったかのように/そして/平穏な日常が戻る"
			romaji="ano RESUTORAN wa tatemono goto/mori no naka kara sugata wo keshita/maru de saisho kara/sonzaishiteinakatta ka no you ni/soshite/heionna nichijou ga modoru"
		%}
		{% include verse.html
			lyrics="子供たちのためにおやつの/ブリオッシュを焼きながら/シスターはこんなことを考えていた"
			romaji="kodomo-tachi no tame ni oyatsu no/BURIOSSHU wo yaki nagara/SHISUTAA wa konna koto wo kangaeteita"
		%}
		{% include verse.html
			lyrics="もしもあの時/出された料理を口にしていたならば…/私は一体どうなっていたのだろうか？"
			romaji="moshimo ano toko/dasareta ryouri wo kuchi ni shiteita naraba.../watashi wa ittai dou natteita no darou ka?"
		%}
	</div>
</div>