---
english-name: The Song that Resounds with Lulila, Lulila
image: /assets/images/thumbs/EvilsKingdom.jpg
translation: https://pricechecktranslations.tumblr.com/post/105718268570
trans2: <small>(<a href="https://pricechecktranslations.tumblr.com/post/187469114295">Parade</a>)</small>
mothyrights: <em>The Evillious Chronicles</em>|<em>The Song that Resounds with Lulila, Lulila</em>
---
<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="るりら|るりらと響く唄/時をいろどる|あわれな唄よ/空で輝く|つきがきれいで/剣から咲くよ|うつくしい花が/種から咲くよ|うつくしいグラス"
			romaji="rurira|rurira to hibiku uta/toki wo irodoru|awarena uta yo/sora de kagayaku|tsuki ga kirei de/ken kara saku yo|utsukushii hana ga/tane kara saku yo|utsukushii GURASU"
		%}
		{% include verse.html class="versebreak"
			lyrics="まんげつの夜に|みがきつづけたら/石は四枚の|鏡になった/ぴかぴか光るよ|小びんとともに/ついなるやいば|泉にひたす/泉のいろは|ちのいろに/めざしたひとの|ちのいろに/人形動かす|見えない風が/スプーンはすくう|見えない土を"
			romaji="mangetsu no yoru ni|migakitsudzuketara/ishi wa yonmai no|kagami ni natta/pikapika hikaru yo|kobin to tomo ni/tsui naru yaiba|izumi ni hitasu/izumi no iro wa|chi no iro ni/mezashita hito no|chi no iro ni/ningyou ugokasu|mienai kaze ga/SUPUUN wa sukuu|mienai tsuchi wo"
		%}
		{% include verse.html
			lyrics="全部そろった|その時に/最後にかえる|森にかえる/あふれるほどの|怒りとともに"
			romaji="zenbu sorotta|sono toki ni/saigo ni kaeru|mori ni kaeru/afureru hodo no|ikari to tomo ni"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="るりらるりらと響く唄"
			romaji="rurira rurira to hibiku uta"
		%}
		{% include verse.html
			lyrics="時をいろどる/あわれな唄よ"
			romaji="toki wo irodoru/awarena uta yo"
		%}
		{% include verse.html
			lyrics="空で輝く/つきがきれいで"
			romaji="sora de kagayaku/tsuki ga kirei de"
		%}
		{% include verse.html
			lyrics="剣から咲くよ/うつくしい花が"
			romaji="ken kara saku yo/utsukushii hana ga"
		%}
		{% include verse.html class="versebreak"
			lyrics="種から咲くよ/うつくしいグラス"
			romaji="tane kara saku yo/utsukushii GURASU"
		%}
		{% include verse.html
			lyrics="るりらるりらと響く唄"
			romaji="rurira rurira to hibiku uta"
		%}
		{% include verse.html
			lyrics="神のあしおと/悪魔のこどう"
			romaji="kami no ashioto/akuma no kodou"
		%}
		{% include verse.html
			lyrics="まんげつの夜に/みがきつづけたら"
			romaji="mangetsu no yoru ni/migakitsudzuketara"
		%}
		{% include verse.html
			lyrics="石は四枚の/鏡になった"
			romaji="ishi wa yonmai no/kagami ni natta"
		%}
		{% include verse.html
			lyrics="ぴかぴか光るよ/小びんとともに"
			romaji="pikapika hikaru yo/kobin to tomo ni"
		%}
		{% include verse.html
			lyrics="るりらるりらと響く唄"
			romaji="rurira rurira to hibiku uta"
		%}
		{% include verse.html
			lyrics="黒き箱庭/たましい宿る"
			romaji="kuroki hakoniwa/tamashii yadoru"
		%}
		{% include verse.html
			lyrics="ついなるやいば/泉にひたす"
			romaji="tsui naru yaiba/izumi ni hitasu"
		%}
		{% include verse.html
			lyrics="泉のいろは/ちのいろに"
			romaji="izumi no iro wa/chi no iro ni"
		%}
		{% include verse.html
			lyrics="めざしたひとの/ちのいろに"
			romaji="mezashita hito no/chi no iro ni"
		%}
		{% include verse.html
			lyrics="人形動かす/見えない風が"
			romaji="ningyou ugokasu/mienai kaze ga"
		%}
		{% include verse.html
			lyrics="スプーンはすくう/見えない土を"
			romaji="SUPUUN wa sukuu/mienai tsuchi wo"
		%}
		{% include verse.html
			lyrics="全部そろった/その時に"
			romaji="zenbu sorotta/sono toki ni"
		%}
		{% include verse.html
			lyrics="最後にかえる/森へとかえる"
			romaji="saigo ni kaeru/mori he to kaeru"
		%}
		{% include verse.html
			lyrics="あふれるほどの/怒りとともに"
			romaji="afureru hodo no/ikari to tomo ni"
		%}
	</div>
</div>