---
english-name: Song of the Third Period
translation: https://pricechecktranslations.tumblr.com/post/177363498355
mothyrights: <em>The Evillious Chronicles</em>|<em>Song of the Third Period</em>
---
<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="第三の月|大樹に集い/今こそ歌いましょう/るりら|るりら/君に届くように"
			romaji="daisan no tsuki|taiju ni tsudoi/ima koso utaimashou/rurira|rurira/kimi ni todoku you ni"
		%}
		{% include verse.html
			lyrics="流れる時はいつも僕らに/旅立ち急かすけど/それはいつか/君を強く変える"
			romaji="nagareru toki wa itsumo bokura ni/tabidachi sekasu kedo/sore wa itsuka/kimi wo tsuyoku kaeru"
		%}
		{% include verse.html
			lyrics="胸の中|高鳴る鼓動/僕らのぜんまいは止まらない"
			romaji="mune no naka|takanaru kodou/bokura no zenmai wa tomaranai"
		%}
		{% include verse.html
			lyrics="るりらるりら|るりらるりら/この唄声が/るりらるりら|るりらるりら/響く限り/眠りは覚め|夢はきっと現実になる/開く明日への扉"
			romaji="rurira rurira|rurira rurira/kono utagoe ga/rurira rurira|rurira rurira/hibiku kagiri/nemuri wa same|yume wa kitto genjitsu ni naru/hiraku asu he no tobira"
		%}
		{% include verse.html
			lyrics="桜舞う中|大地踏みしめ/みんなで歌いましょう/るりら|るりら/空に届くように"
			romaji="sakura mau naka|daichi fumishime/minna de utaimashou/rurira|rurira/sora ni todoku you ni"
		%}
		{% include verse.html
			lyrics="悲しい事や辛い思い出/たくさんあるけれど/それも含め/僕らの歩くんだ道"
			romaji="kanashii koto ya tsurai omoide/takusan aru keredo/sore mo fukume/bokura no aruku nda michi"
		%}
		{% include verse.html
			lyrics="胸の奥|宿るぜんまい/これからは自分で回すんだ"
			romaji="mune no oku|yadoru zenmai/kore kara wa jibun de mawasu nda"
		%}
		{% include verse.html
			lyrics="るりらるりら|るりらるりら/この唄声が/るりらるりら|るりらるりら/響く限り/扉の先|何が待ち受けているのかも/わからないまま進む"
			romaji="rurira rurira|rurira rurira/kona utagoe ga/rurira rurira|rurira rurira/hibiku kagiri/tobira no saki|nani ga machiuketeiru no kamo/wakaranai mama susumu"
		%}
		{% include verse.html
			lyrics="立ちふさがり続ける現実が/時に僕らを傷つけるだろう"
			romaji="tachifusagaritsudzukeru genjitsu ga/toki ni bokura wo kizutsukeru darou"
		%}
		{% include verse.html
			lyrics="それでも|だからこそ/人は懸命に生きる/世界は理想郷じゃなくてもいい"
			romaji="sore demo|dakara koso/hito wa kenmei ni ikiru/sekai wa risoukyou ja nakute mo ii"
		%}
		{% include verse.html
			lyrics="胸の中|高鳴る鼓動/僕らのぜんまいは止まらない"
			romaji="mune no naka|takanaru kodou/bokura no zenmai wa tomaranai"
		%}
		{% include verse.html
			lyrics="るりらるりら|るりらるりら/この唄声が/るりらるりら|るりらるりら/響く限り/眠りは覚め|夢はきっと現実になる/開く明日への扉"
			romaji="rurira rurira|rurira rurira/kono utagoe ga/rurira rurira|rurira rurira/hibiku kagiri/nemuri wa same|yume wa kitto genjitsu ni naru/hiraku asu he no tobira"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="第三の月/大樹に集い/今こそ歌いましょう"
			romaji="daisan no tsuki/taiju ni tsudoi/ima koso utaimashou"
		%}
		{% include verse.html
			lyrics="るりら|るりら/君に届くように"
			romaji="rurira|rurira/kimi ni todoku you ni"
		%}
		{% include verse.html
			lyrics="流れる時は/いつも僕らに/旅立ち急かすけど"
			romaji="nagareru toki wa/itsumo bokura ni/tabidachi sekasu kedo"
		%}
		{% include verse.html
			lyrics="それはいつか/君を強く変える"
			romaji="sore wa itsuka/kimi wo tsuyoku kaeru"
		%}
		{% include verse.html
			lyrics="胸の中/高鳴る鼓動/僕らのぜんまいは止まらない"
			romaji="mune no naka/takanaru kodou/bokura no zenmai wa tomaranai"
		%}
		{% include verse.html
			lyrics="るりらるりら/るりらるりら/この唄声が/るりらるりら/るりらるりら/響く限り"
			romaji="rurira rurira/rurira rurira/kono utagoe ga/rurira rurira/rurira rurira/hibiku kagiri"
		%}
		{% include verse.html
			lyrics="眠りは覚め/夢はきっと現実になる/開く明日への扉"
			romaji="nemuri wa same/yume wa kitto genjitsu ni naru/hiraku asu he no tobira"
		%}
		{% include verse.html
			lyrics="桜舞う中/大地踏みしめ/みんなで歌いましょう"
			romaji="sakura mau naka/daichi fumishime/minna de utaimashou"
		%}
		{% include verse.html
			lyrics="るりら|るりら/空に届くように"
			romaji="rurira|rurira/sora ni todoku you ni"
		%}
		{% include verse.html
			lyrics="悲しい事や/辛い思い出/たくさんあるけれど"
			romaji="kanashii koto ya/tsurai omoide/takusan aru keredo"
		%}
		{% include verse.html
			lyrics="それも含め/僕らの歩くんだ道"
			romaji="sore mo fukume/bokura no aruku nda michi"
		%}
		{% include verse.html
			lyrics="胸の奥/宿るぜんまい/これからは自分で回すんだ"
			romaji="mune no oku/yadoru zenmai/kore kara wa jibun de mawasu nda"
		%}
		{% include verse.html
			lyrics="るりらるりら/るりらるりら/この唄声が/るりらるりら/るりらるりら/響く限り"
			romaji="rurira rurira/rurira rurira/kona utagoe ga/rurira rurira/rurira rurira/hibiku kagiri"
		%}
		{% include verse.html
			lyrics="扉の先/何が待ち受けているのかも/わからないまま進む"
			romaji="tobira no saki/nani ga machiuketeiru no kamo/wakaranai mama susumu"
		%}
		{% include verse.html
			lyrics="立ちふさがり続ける現実が/時に僕らを傷つけるだろう"
			romaji="tachifusagaritsudzukeru genjitsu ga/toki ni bokura wo kizutsukeru darou"
		%}
		{% include verse.html
			lyrics="それでも/だからこそ/人は懸命に生きる/世界は理想郷じゃなくてもいい"
			romaji="sore demo/dakara koso/hito wa kenmei ni ikiru/sekai wa risoukyou ja nakute mo ii"
		%}
		{% include verse.html
			lyrics="胸の中/高鳴る鼓動/僕らのぜんまいは止まらない"
			romaji="mune no naka/takanaru kodou/bokura no zenmai wa tomaranai"
		%}
		{% include verse.html
			lyrics="るりらるりら/るりらるりら/この唄声が/るりらるりら/るりらるりら/響く限り"
			romaji="rurira rurira/rurira rurira/kono utagoe ga/rurira rurira/rurira rurira/hibiku kagiri"
		%}
		{% include verse.html
			lyrics="眠りは覚め/夢はきっと現実になる/開く明日への扉"
			romaji="nemuri wa same/yume wa kitto genjitsu ni naru/hiraku asu he no tobira"
		%}
	</div>
</div>