---
english-name: The Song I Heard Somewhere
translation: https://pricechecktranslations.tumblr.com/post/127189078465
mothyrights: <em>The Evillious Chronicles</em>|<em>The Song I Heard Somewhere</em>
---
<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	{% include verse.html
		lyrics="「どこかで聞いたことのあるこの唄|君は覚えてるかい？」/死にかけの私に近づいて/そう問いかける科学者の男/抱えてる赤い猫の死骸/私の前に放り投げた/よく見ればそれは/布と鉄で作られたぬいぐるみ"
		romaji="&quot;dokoka de kiita koto no aru kono uta|kimi wa oboeteru kai?&quot;/shinikake no watashi ni chikadzuite/sou toikakeru kagakusha no otoko/kakaeteru akai neko no shigai/watashi no mae ni hourinageta/yoku mireba sore wa/nuno to tetsu de tsukurareta nuigurumi"
	%}
	{% include verse.html
		lyrics="「これから君は生まれ変わる|今日が君のRe_birthdayだ」/火傷だらけの腕で彼が触れた/『私だったもの』"
		romaji="&quot;kore kara kimi wa umarekawaru|kyou ga kimi no Re_birthday da&quot;/yakedo darake no uda de kare ga fureta/'watashi datta mono'"
	%}
	{% include verse.html
		lyrics="暗闇の空から差し込む光/それを見て私は思い出す"
		romaji="kurayami no sora kara sashikomu hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|これはかつてこんな唄だった"
		romaji="sou|kore wa katsute konna uta datta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="満月の夜に始まる実験/時代が変われば唄もまた変わる"
		romaji="mangetsu no yoru ni hajimaru jikken/jidai ga kawareba uta mo mata kawaru"
	%}
	{% include verse.html
		lyrics="私の心は変わらない/身体は赤い猫になった/死ぬことはもう無くなったけど/もう人間に戻ることもない/二つを合わせて一つに変えたとして/二倍にはなれない/私はこれから何のため生きればいいのだろう"
		romaji="watashi no kokoro wa kawaranai/karada wa akai neko ni natta/shinu koto wa mou nakunatta kedo/mou ningen ni modoru koto mo nai/futatsu wo awasete hitotsu ni kaeta toshite/nibai ni wa narenai/watashi wa kore kara nani no tame ikireba ii no darou"
	%}
	{% include verse.html
		lyrics="いなくなる前に彼は言った/「もうここには戻らない|君は君の実験を続けなさい」"
		romaji="inakunaru mae ni kare wa itta/&quot;mou koko ni wa modoranai|kimi wa kimi no jikken wo tsudzukenasai&quot;"
	%}
	{% include verse.html
		lyrics="南空舞い散る七つの光/それを見て私は思い出す"
		romaji="minamizora maichiru nanatsu no hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|全てを奪ったあの女に報復を！"
		romaji="sou|subete wo ubatta ano onna ni houfuku wo!"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="三日月の夜に始まる復讐/身体が変われば目的も変わる"
		romaji="mikadzuki no yoru ni hajimaru fukushuu/karada ga kawareba mokuteki mo kawaru"
	%}
	{% include verse.html
		lyrics="あの人が私を創ったように/今度は私が人を「悪」に変える"
		romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga hito wo &quot;aku&quot; ni kaeru"
	%}
	{% include verse.html
		lyrics="どこかで聞いたことのあるこの唄/いずれはまた違う唄になるだろう"
		romaji="dokoka de kiita koto no aru kono uta/izure wa mata chigau uta ni naru darou"
	%}
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	{% include verse.html
		lyrics="「どこかで聞いたことのあるこの唄/|君は覚えてるかい？」/死にかけの私に近づいて/そう問いかける科学者の男/抱えてる赤い猫の死骸/私の前に放り投げた/よく見ればそれは布と鉄で/作られたぬいぐるみ"
		romaji="&quot;dokoka de kiita koto no aru kono uta/|kimi wa oboeteru kai?&quot;/shinikake no watashi ni chikadzuite/sou toikakeru kagakusha no otoko/kakaeteru akai neko no shigai/watashi no mae ni hourinageta/yoku mireba sore wa nuno to tetsu de/tsukurareta nuigurumi"
	%}
	{% include verse.html
		lyrics="「これから君は生まれ変わる/|今日が君のRe_birthdayだ」/火傷だらけの腕で彼が触れた/『私だったもの』"
		romaji="&quot;kore kara kimi wa umarekawaru/|kyou ga kimi no Re_birthday da&quot;/yakedo darake no uda de kare ga fureta/'watashi datta mono'"
	%}
	{% include verse.html
		lyrics="暗闇の空から差し込む光/それを見て私は思い出す"
		romaji="kurayami no sora kara sashikomu hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|これはかつてこんな唄だった"
		romaji="sou|kore wa katsute konna uta datta"
	%}
	{% include verse.html
		lyrics="満月の夜に始まる実験/時代が変われば唄もまた変わる"
		romaji="mangetsu no yoru ni hajimaru jikken/jidai ga kawareba uta mo mata kawaru"
	%}
	{% include verse.html
		lyrics="私の心は変わらない/身体は赤い猫になった/死ぬことはもう無くなったけど/もう人間に戻ることもない/二つを合わせて一つに変えたとして/二倍にはなれない/私はこれから何のため/生きればいいのだろう"
		romaji="watashi no kokoro wa kawaranai/karada wa akai neko ni natta/shinu koto wa mou nakunatta kedo/mou ningen ni modoru koto mo nai/futatsu wo awasete hitotsu ni kaeta toshite/nibai ni wa narenai/watashi wa kore kara nani no tame/ikireba ii no darou"
	%}
	{% include verse.html
		lyrics="いなくなる前に彼は言った/「もうここには戻らない/君は君の実験を続けなさい」"
		romaji="inakunaru mae ni kare wa itta/&quot;mou koko ni wa modoranai/kimi wa kimi no jikken wo tsudzukenasai&quot;"
	%}
	{% include verse.html
		lyrics="南空舞い散る七つの光/それを見て私は思い出す"
		romaji="minamizora maichiru nanatsu no hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|全てを奪ったあの女に報復を！"
		romaji="sou|subete wo ubatta ano onna ni houfuku wo!"
	%}
	{% include verse.html
		lyrics="三日月の夜に始まる復讐/身体が変われば目的も変わる"
		romaji="mikadzuki no yoru ni hajimaru fukushuu/karada ga kawareba mokuteki mo kawaru"
	%}
	{% include verse.html
		lyrics="あの人が私を創ったように/今度は私が人を「悪」に変える"
		romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga hito wo &quot;aku&quot; ni kaeru"
	%}
	{% include verse.html
		lyrics="どこかで聞いたことのあるこの唄/いずれはまた違う唄になるだろう"
		romaji="dokoka de kiita koto no aru kono uta/izure wa mata chigau uta ni naru darou"
	%}
	{% include verse.html
		lyrics="――ぜんまい仕掛けの子守唄"
		romaji="zenmaijikake no komuriuta"
	%}
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="「どこかで聞いたことのあるこの唄|君は覚えてるかい？」/死にかけの私に近づいてそう問いかける科学者の男/抱えてる赤い猫の死骸|私の前に放り投げた/よく見ればそれは布と鉄で作られたぬいぐるみ"
		romaji="&quot;dokoka de kiita koto no aru kono uta|kimi wa oboeteru kai?&quot;/shinikake no watashi ni chikadzuite sou toikakeru kagakusha no otoko/kakaeteru akai neko no shigai|watashi no mae ni hourinageta/yoku mireba sore wa nuno to tetsu de tsukurareta nuigurumi"
	%}
	{% include verse.html
		lyrics="「これから君は生まれ変わる|今日が君のRe_birthdayだ」/火傷だらけの腕で彼が触れた/『私だったもの』"
		romaji="&quot;kore kara kimi wa umarekawaru|kyou ga kimi no Re_birthday da&quot;/yakedo darake no uda de kare ga fureta/'watashi datta mono'"
	%}
	{% include verse.html
		lyrics="暗闇の空から差し込む光/それを見て私は思い出す"
		romaji="kurayami no sora kara sashikomu hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|これはかつてこんな唄だった"
		romaji="sou|kore wa katsute konna uta datta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="満月の夜に始まる実験/時代が変われば唄もまた変わる"
		romaji="mangetsu no yoru ni hajimaru jikken/jidai ga kawareba uta mo mata kawaru"
	%}
	{% include verse.html
		lyrics="私の心は変わらない|身体は赤い猫になった/死ぬことはもう無くなったけど|もう人間に戻ることもない/二つを合わせて一つに変えたとして|二倍にはなれない/私はこれから何のため生きればいいのだろう"
		romaji="watashi no kokoro wa kawaranai|karada wa akai neko ni natta/shinu koto wa mou nakunatta kedo|mou ningen ni modoru koto mo nai/futatsu wo awasete hitotsu ni kaeta toshite|nibai ni wa narenai/watashi wa kore kara nani no tame ikireba ii no darou"
	%}
	{% include verse.html
		lyrics="いなくなる前に彼は言った/「もうここには戻らない|君は君の実験を続けなさい」"
		romaji="inakunaru mae ni kare wa itta/&quot;mou koko ni wa modoranai|kimi wa kimi no jikken wo tsudzukenasai&quot;"
	%}
	{% include verse.html
		lyrics="南空舞い散る七つの光/それを見て私は思い出す"
		romaji="minamizora maichiru nanatsu no hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|全てを奪ったあの女に報復を！"
		romaji="sou|subete wo ubatta ano onna ni houfuku wo!"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="三日月の夜に始まる復讐/身体が変われば目的も変わる"
		romaji="mikadzuki no yoru ni hajimaru fukushuu/karada ga kawareba mokuteki mo kawaru"
	%}
	{% include verse.html
		lyrics="あの人が私を創ったように/今度は私が人を「悪」に変える"
		romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga hito wo &quot;aku&quot; ni kaeru"
	%}
	{% include verse.html
		lyrics="どこかで聞いたことのあるこの唄/いずれはまた違う唄になるだろう"
		romaji="dokoka de kiita koto no aru kono uta/izure wa mata chigau uta ni naru darou"
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="「どこかで聞いたことのあるこの唄|君は覚えてるかい？」/死にかけの私に近づいてそう問いかける科学者の男/抱えてる赤い猫の死骸|私の前に放り投げた/よく見ればそれは布と鉄で作られたぬいぐるみ"
		romaji="&quot;dokoka de kiita koto no aru kono uta|kimi wa oboeteru kai?&quot;/shinikake no watashi ni chikadzuite sou toikakeru kagakusha no otoko/kakaeteru akai neko no shigai|watashi no mae ni hourinageta/yoku mireba sore wa nuno to tetsu de tsukurareta nuigurumi"
	%}
	{% include verse.html
		lyrics="「これから君は生まれ変わる|今日が君のRe_birthdayだ」/火傷だらけの腕で彼が触れた『私だったもの』/暗闇の空から差し込む光/それを見て私は思い出す"
		romaji="&quot;kore kara kimi wa umarekawaru|kyou ga kimi no Re_birthday da&quot;/yakedo darake no uda de kare ga fureta 'watashi datta mono'/kurayami no sora kara sashikomu hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|これはかつてこんな唄だった"
		romaji="sou|kore wa katsute konna uta datta"
	%}
	{% include verse.html
		lyrics="満月の夜に始まる実験/時代が変われば唄もまた変わる"
		romaji="mangetsu no yoru ni hajimaru jikken/jidai ga kawareba uta mo mata kawaru"
	%}
	{% include verse.html
		lyrics="私の心は変わらない|身体は赤い猫になった/死ぬことはもう無くなったけど|もう人間に戻ることもない/二つを合わせて一つに変えたとして|二倍にはなれない/私はこれから何のため生きればいいのだろう"
		romaji="watashi no kokoro wa kawaranai|karada wa akai neko ni natta/shinu koto wa mou nakunatta kedo|mou ningen ni modoru koto mo nai/futatsu wo awasete hitotsu ni kaeta toshite|nibai ni wa narenai/watashi wa kore kara nani no tame ikireba ii no darou"
	%}
	{% include verse.html
		lyrics="いなくなる前に彼は言った|「もうここには戻らない」/「君は君の実験を続けなさい」/南空舞い散る七つの光/それを見て私は思い出す"
		romaji="inakunaru mae ni kare wa itta|&quot;mou koko ni wa modoranai&quot;/&quot;kimi wa kimi no jikken wo tsudzukenasai&quot;/minamizora maichiru nanatsu no hikari/sore wo mite watashi wa omoidasu"
	%}
	{% include verse.html
		lyrics="そう|全てを奪ったあの女に報復を！"
		romaji="sou|subete wo ubatta ano onna ni houfuku wo!"
	%}
	{% include verse.html
		lyrics="三日月の夜に始まる復讐/身体が変われば目的も変わる"
		romaji="mikadzuki no yoru ni hajimaru fukushuu/karada ga kawareba mokuteki mo kawaru"
	%}
	{% include verse.html
		lyrics="あの人が私を創ったように/今度は私が人を「悪」に変える"
		romaji="ano hito ga watashi wo tsukutta you ni/kondo wa watashi ga hito wo &quot;aku&quot; ni kaeru"
	%}
	{% include verse.html
		lyrics="どこかで聞いたことのあるこの唄/いずれはまた違う唄になるだろう"
		romaji="dokoka de kiita koto no aru kono uta/izure wa mata chigau uta ni naru darou"
	%}
	{% include verse.html
		lyrics="ぜんまい仕掛けの子守唄"
		romaji="zenmaijikake no komuriuta"
	%}
</div>