---
english-name: Song of the Cowardly Black Bird
translation: https://pricechecktranslations.tumblr.com/post/627655345902338048
mothyrights: <em>The Evillious Chronicles</em>|<em>Song of the Cowardly Black Bird</em>
notes: Some typos from the original lyric text have been fixed.
---
<div>
	<h3><a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a></h3>
	{% include verse.html
		lyrics="思い返せば後悔の日々だった/飛ぶための手段は/知ってたはずなのに"
		romaji="omoikaseba koukai no hibi datta/tobu tame no shudan wa/shitteta hazu na no ni"
	%}
	{% include verse.html
		lyrics="踏み出す事をいつも躊躇していた/優柔不断だと君は笑うだろう"
		romaji="fumidasu koto wo itsumo chuuchoshiteita/yuujuufudan da to kimi wa warau darou"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ/勇気を与えてくれ"
		romaji="kono tsubasa de yozora wo tobu/yuuki wo ataetekure"
	%}
	{% include verse.html
		lyrics="背後から忍び寄るのは/不安/あるいは僕自身か/誰からも恐れられ/そして誰より恐れた"
		romaji="haigo kara shinobiyoru no wa/fuan/arui wa boku jishin ka/dare kara mo osorerare/soshite dare yori osoreta"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="欲望のまま動く君たちの事/あざけりながらもどこか憧れてた"
		romaji="yokubou no mama ugoku kimi-tachi no koto/azakeri nagara mo dokoka akogaretata"
	%}
	{% include verse.html
		lyrics="漆黒の身でいつも闇に紛れた/その果ての僕は何者でもなかった"
		romaji="shikkoku no mi de itsumo yami ni magireta/sono hate no boku wa nanimono demo nakatta"
	%}
	{% include verse.html
		lyrics="飛び立つための勇気を/与えてくれたあなた"
		romaji="tobitatsu tame no yuuki wo/ataetekureta anata"
	%}
	{% include verse.html
		lyrics="理由が必要だった/たとえ/言い訳に過ぎなくても/この愚かさが/今の僕にとって大事なんだ"
		romaji="riyuu ga hitsuyou datta/tatoe/iiwake ni suginakute mo/kono orokasa ga/ima no boku ni totte daijina nda"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ/勇気を与えてくれ"
		romaji="kono tsubasa de yozora wo tobu/yuuki wo ataetekure"
	%}
	{% include verse.html
		lyrics="誰も来ない喫茶店で/一人飲んだ薄いコーヒー/あの宿り木から僕は/果たして飛び立てたのだろうか…"
		romaji="dare mo konai kissaten de/hitori nonda usui KOOHII/ano yadori ki kara boku wa/hatashite tobitateta no darou ka..."
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
</div>

<div>
	<h3><a href="{% link album/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="思い返せば後悔の日々だった/飛ぶための手段は知ってたはずなのに"
		romaji="omoikaseba koukai no hibi datta/tobu tame no shudan wa shitteta hazu na no ni"
	%}
	{% include verse.html
		lyrics="踏み出す事をいつも躊躇していた/優柔不断だと君は笑うだろう"
		romaji="fumidasu koto wo itsumo chuuchoshiteita/yuujuufudan da to kimi wa warau darou"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ/勇気を与えてくれ"
		romaji="kono tsubasa de yozora wo tobu/yuuki wo ataetekure"
	%}
	{% include verse.html
		lyrics="背後から忍び寄るのは/不安/あるいは僕自身か/誰からも恐れられ/そして誰より恐れた"
		romaji="haigo kara shinobiyoru no wa/fuan/arui wa boku jishin ka/dare kara mo osorerare/soshite dare yori osoreta"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html class="versebreak"
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="欲望のまま動く君たちの事/あざけりながらもどこか憧れてた"
		romaji="yokubou no mama ugoku kimi-tachi no koto/azakeri nagara mo dokoka akogaretata"
	%}
	{% include verse.html
		lyrics="漆黒の身でいつも闇に紛れた/その果ての僕は何者でもなかった"
		romaji="shikkoku no mi de itsumo yami ni magireta/sono hate no boku wa nanimono demo nakatta"
	%}
	{% include verse.html
		lyrics="飛び立つための勇気を/与えてくれたあなた"
		romaji="tobitatsu tame no yuuki wo/ataetekureta anata"
	%}
	{% include verse.html
		lyrics="理由が必要だった/たとえ/言い訳に過ぎなくても/この愚かさが/今の僕にとって大事なんだ"
		romaji="riyuu ga hitsuyou datta/tatoe/iiwake ni suginakute mo/kono orokasa ga/ima no boku ni totte daijina nda"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html class="versebreak"
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ/勇気を与えてくれ"
		romaji="kono tsubasa de yozora wo tobu/yuuki wo ataetekure"
	%}
	{% include verse.html
		lyrics="誰も来ない喫茶店で/一人飲んだ薄いコーヒー/あの宿り木から僕は/果たして飛び立てたのだろうか…"
		romaji="dare mo konai kissaten de/hitori nonda usui KOOHII/ano yadori ki kara boku wa/hatashite tobitateta no darou ka..."
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="黒い鳥よ/お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo/omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="思い返せば後悔の日々だった/飛ぶための手段は知ってたはずなのに"
		romaji="omoikaseba koukai no hibi datta/tobu tame no shudan wa shitteta hazu na no ni"
	%}
	{% include verse.html
		lyrics="踏み出す事をいつも躊躇していた/優柔不断だと君は笑うだろう"
		romaji="fumidasu koto wo itsumo chuuchoshiteita/yuujuufudan da to kimi wa warau darou"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ勇気を/与えてくれ"
		romaji="kono tsubasa de yozora wo tobu yuuki wo/ataetekure"
	%}
	{% include verse.html
		lyrics="背後から忍び寄るのは/不安|あるいは僕自身か/誰からも恐れられ/そして|誰より恐れた"
		romaji="haigo kara shinobiyoru no wa/fuan|arui wa boku jishin ka/dare kara mo osorerare/soshite|dare yori osoreta"
	%}
	{% include verse.html
		lyrics="黒い鳥よ|お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo|omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="欲望のまま動く君たちの事/あざけりながらもどこか憧れてた"
		romaji="yokubou no mama ugoku kimi-tachi no koto/azakeri nagara mo dokoka akogaretata"
	%}
	{% include verse.html
		lyrics="漆黒の身でいつも闇に紛れた/その果ての僕は何者でもなかった"
		romaji="shikkoku no mi de itsumo yami ni magireta/sono hate no boku wa nanimono demo nakatta"
	%}
	{% include verse.html
		lyrics="飛び立つための勇気を/与えてくれたあなた"
		romaji="tobitatsu tame no yuuki wo/ataetekureta anata"
	%}
	{% include verse.html
		lyrics="理由が必要だった/たとえ|言い訳に過ぎなくても/この愚かさが今の僕にとって/大事なんだ"
		romaji="riyuu ga hitsuyou datta/tatoe|iiwake ni suginakute mo/kono orokasa ga ima no boku ni totte/daijina nda"
	%}
	{% include verse.html
		lyrics="黒い鳥よ|お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo|omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="この翼で夜空を飛ぶ勇気を/与えてくれ"
		romaji="kono tsubasa de yozora wo tobu yuuki wo/ataetekure"
	%}
	{% include verse.html
		lyrics="誰も来ない喫茶店で/一人飲んだ薄いコーヒー/あの宿り木から僕は果たして/飛び立てたのだろうか…"
		romaji="dare mo konai kissaten de/hitori nonda usui KOOHII/ano yadori ki kara boku wa hatashite/tobitateta no darou ka..."
	%}
	{% include verse.html
		lyrics="黒い鳥よ|お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo|omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="隠れるためじゃなく進むために/今こそ空へと飛び立つのだ"
		romaji="kakureru tame ja naku susumu tame ni/ima koso sora he to tobitatsu no da"
	%}
	{% include verse.html
		lyrics="黒い鳥よ|お前の翼は飾りなのか？/それを使わぬ理由などない"
		romaji="kuroi tori yo|omae no tsubasa wa kazari na no ka?/sore wo tsukawanu riyuu nado nai"
	%}
	{% include verse.html
		lyrics="光に身をさらすのを恐れるな/今こそ宙へと飛び立つのだ"
		romaji="hikari ni mi wo sarasu no wo osoreru na/ima koso sora he to tobitatsu no da"
	%}
</div>