---
english-name: South North Story
image: /assets/images/thumbs/SouthNorth.png
translation: https://pricechecktranslations.tumblr.com/post/112678516675
mothyrights: <em>The Evillious Chronicles</em>|<em>South North Story</em>
---
<div>
	<h3>PV &middot; piapro &middot; <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ここはどこだったかな？/わたしはだれだったかな？/色のない地図を広げて/南へ|南へ"
			romaji="koko wa doko datta ka na?/watashi wa dare datta ka na?/iro no nai chizu wo hirogete/minami he|minami he"
		%}
		{% include verse.html
			lyrics="あの子はどこへいったのかな？/「あの子」ってだれだったかな？/よく知らない人を探して/北へ|北へ"
			romaji="ano ko wa doko he itta no ka na?/&quot;ano ko&quot; tte dare datta ka na?/yoku shiranai hito wo sagashite/kita he|kita he"
		%}
		{% include verse.html
			lyrics="誰かが気まぐれに作り上げた交差点/気づかなければ|通り過ぎていた/「こんにちは」「こんにちは」/「はじめまして」「はじめまして」/「ごきげんいかがですか」"
			romaji="dareka kimagure ni tsukuriageta kousaten/kidzukana kereba|toorisugiteita/&quot;konnichiwa&quot; &quot;konnichiwa&quot;/&quot;hajimemashite&quot; &quot;hajimemashite&quot;/&quot;gokigen ikaga desu ka&quot;"
		%}
		{% include verse.html
			lyrics="よく似てるけど|すこし違うそんな二人が/こうして出会ったのも|何かの縁でしょう/少し立ち止まって|お話でも/ここでしていきませんか|二人で"
			romaji="yoku niteru kedo|sukoshi chigau sonna futari ga/koushite deatta no mo|nanika no en deshou/sukoshi tachidomatte|ohanashi demo/koko de shiteikimasen ka|futari de"
		%}
		{% include verse.html
			lyrics="街はもうはるかかなた/私が出会ったのは/「鏡の中の自分」とも/違う私で"
			romaji="machi wa mou haruka kanata/watashi ga deatta no wa/&quot;kagami no naka no jibun&quot; tomo/chigau watashi de"
		%}
		{% include verse.html
			lyrics="同じ姿|同じリボン/こっそりといれかわっちゃても/判らないかもしれないねと/二人で笑った"
			romaji="onaji sugata|onaji RIBON/kossori to irekawachattemo/wakaranai kamo shirenai ne to/futari de waratta"
		%}
		{% include verse.html
			lyrics="南で私は学生でした/北では国がひとつ滅びました/うれしい事|悲しい事/ひとつひとつ|聞かせあって/最後には笑いましょう"
			romaji="minami de watashi wa gakusei deshita/kita de wa kuni ga hitotsu horobimashita/ureshii koto|kanashii koto/hitotsu hitotsu|kikase atte/saigo ni wa waraimashou"
		%}
		{% include verse.html
			lyrics="よく似てるけど|すこし違うそんな世界が/こうして出会ったなら|何かが変わるかな？/自分らしく|人と違う|道を選ぶ/それも間違いじゃないけど"
			romaji="yoku niteru kedo|sukoshi chigau sonna sekai ga/koushite deatta nara|nanika ga kawaru ka na?/jibun rashiku|hito to chigau|michi wo erabu/sore mo machigai ja nai kedo"
		%}
		{% include verse.html
			lyrics="the worlds just cross/the worlds just gone/it is simply foreordination/no reason for us/but we are here/so &quot;nice to see you&quot;"
		%}
		{% include verse.html
			lyrics="we're just alike/we're not the same/it is simply you and me/no reason for us/but we are here/&quot;it's time to go&quot;"
		%}
		{% include verse.html
			lyrics="そろそろ|お別れの時間だね/楽しかったよ|「もう一人の私」/バイバイ|またいつか機会があれば/この交差点で…"
			romaji="sorosoro|owakare no jikan da ne/tanoshikatta yo|&quot;mou hitori no watashi&quot;/BAIBAI|mata itsuka kikai ga areba/kono kousaten de..."
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ここはどこだったかな？/わたしはだれだったかな？/色のない地図を広げて/南へ|南へ"
			romaji="koko wa doko datta ka na?/watashi wa dare datta ka na?/iro no nai chizu wo hirogete/minami he|minami he"
		%}
		{% include verse.html
			lyrics="あの子はどこへいったのかな？/「あの子」ってだれだったかな？/よく知らない人を探して/北へ|北へ"
			romaji="ano ko wa doko he itta no ka na?/&quot;ano ko&quot; tte dare datta ka na?/yoku shiranai hito wo sagashite/kita he|kita he"
		%}
		{% include verse.html
			lyrics="誰かが気まぐれに作り上げた交差点/気づかなければ|通り過ぎていた/「こんにちは」「こんにちは」/「はじめまして」「はじめまして」/「ごきげんいかがですか」"
			romaji="dareka kimagure ni tsukuriageta kousaten/kidzukana kereba|toorisugiteita/&quot;konnichiwa&quot; &quot;konnichiwa&quot;/&quot;hajimemashite&quot; &quot;hajimemashite&quot;/&quot;gokigen ikaga desu ka&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="よく似てるけど|すこし違うそんな二人が/こうして出会ったのも|何かの縁でしょう/少し立ち止まって|お話でも/ここでしていきませんか|二人で"
			romaji="yoku niteru kedo|sukoshi chigau sonna futari ga/koushite deatta no mo|nanika no en deshou/sukoshi tachidomatte|ohanashi demo/koko de shiteikimasen ka|futari de"
		%}
		{% include verse.html
			lyrics="街はもうはるかかなた/私が出会ったのは/「鏡の中の自分」とも/違う私で"
			romaji="machi wa mou haruka kanata/watashi ga deatta no wa/&quot;kagami no naka no jibun&quot; tomo/chigau watashi de"
		%}
		{% include verse.html
			lyrics="同じ姿|同じリボン/こっそりといれかわっちゃても/判らないかもしれないねと/二人で笑った"
			romaji="onaji sugata|onaji RIBON/kossori to irekawachattemo/wakaranai kamo shirenai ne to/futari de waratta"
		%}
		{% include verse.html
			lyrics="南で私は学生でした/北では国がひとつ滅びました/うれしい事|悲しい事/ひとつひとつ|聞かせあって/最後には笑いましょう"
			romaji="minami de watashi wa gakusei deshita/kita de wa kuni ga hitotsu horobimashita/ureshii koto|kanashii koto/hitotsu hitotsu|kikase atte/saigo ni wa waraimashou"
		%}
		{% include verse.html
			lyrics="よく似てるけど|すこし違うそんな世界が/こうして出会ったなら|何かが変わるかな？/自分らしく|人と違う|道を選ぶ/それも間違いじゃないけど"
			romaji="yoku niteru kedo|sukoshi chigau sonna sekai ga/koushite deatta nara|nanika ga kawaru ka na?/jibun rashiku|hito to chigau|michi wo erabu/sore mo machigai ja nai kedo"
		%}
		{% include verse.html
			lyrics="the worlds just cross/the worlds just gone/it is simply foreordination/no reason for us/but we are here/so &quot;nice to see you&quot;"
		%}
		{% include verse.html
			lyrics="we're just alike/we're not the same/it is simply you and me/no reason for us/but we are here/&quot;it's time to go&quot;"
		%}
		{% include verse.html
			lyrics="そろそろ|お別れの時間だね/楽しかったよ|「もう一人の私」/バイバイ|またいつか機会があれば/この交差点で…"
			romaji="sorosoro|owakare no jikan da ne/tanoshikatta yo|&quot;mou hitori no watashi&quot;/BAIBAI|mata itsuka kikai ga areba/kono kousaten de..."
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ここはどこだったかな？/わたしはだれだったかな？/色のない地図を広げて|南へ|南へ"
			romaji="koko wa doko datta ka na?/watashi wa dare datta ka na?/iro no nai chizu wo hirogete|minami he|minami he"
		%}
		{% include verse.html
			lyrics="あの子はどこへいったのかな？/「あの子」ってだれだったかな？/よく知らない人を探して|北へ|北へ"
			romaji="ano ko wa doko he itta no ka na?/&quot;ano ko&quot; tte dare datta ka na?/yoku shiranai hito wo sagashite|kita he|kita he"
		%}
		{% include verse.html
			lyrics="誰かが気まぐれに作り上げた交差点/気づかなければ|通り過ぎていた/「こんにちは」「こんにちは」/「はじめまして」「はじめまして」/「ごきげんいかがですか」"
			romaji="dareka kimagure ni tsukuriageta kousaten/kidzukana kereba|toorisugiteita/&quot;konnichiwa&quot; &quot;konnichiwa&quot;/&quot;hajimemashite&quot; &quot;hajimemashite&quot;/&quot;gokigen ikaga desu ka&quot;"
		%}
		{% include verse.html
			lyrics="よく似てるけど|すこし違うそんな二人が/こうして出会ったのも|何かの縁でしょう/少し立ち止まって|お話でも/ここでしていきませんか|二人で"
			romaji="yoku niteru kedo|sukoshi chigau sonna futari ga/koushite deatta no mo|nanika no en deshou/sukoshi tachidomatte|ohanashi demo/koko de shiteikimasen ka|futari de"
		%}
		{% include verse.html
			lyrics="街はもうはるかかなた/私が出会ったのは/「鏡の中の自分」とも/違う私で"
			romaji="machi wa mou haruka kanata/watashi ga deatta no wa/&quot;kagami no naka no jibun&quot; tomo/chigau watashi de"
		%}
		{% include verse.html
			lyrics="同じ姿|同じリボン/こっそりといれかわっちゃても/判らないかもしれないねと/二人で笑った"
			romaji="onaji sugata|onaji RIBON/kossori to irekawachattemo/wakaranai kamo shirenai ne to/futari de waratta"
		%}
		{% include verse.html
			lyrics="南で私は学生でした/北では国がひとつ滅びました/うれしい事|悲しい事/ひとつひとつ|聞かせあって/最後には笑いましょう"
			romaji="minami de watashi wa gakusei deshita/kita de wa kuni ga hitotsu horobimashita/ureshii koto|kanashii koto/hitotsu hitotsu|kikase atte/saigo ni wa waraimashou"
		%}
		{% include verse.html
			lyrics="よく似てるけど|すこし違うそんな世界が/こうして出会ったなら|何かが変わるかな？/自分らしく|人と違う|道を選ぶ/それも間違いじゃないけど"
			romaji="yoku niteru kedo|sukoshi chigau sonna sekai ga/koushite deatta nara|nanika ga kawaru ka na?/jibun rashiku|hito to chigau|michi wo erabu/sore mo machigai ja nai kedo"
		%}
		{% include verse.html
			lyrics="the worlds just cross/the worlds just gone/it is simply foreordination/no reason for us/but we are here/so &quot;nice to see you&quot;"
		%}
		{% include verse.html
			lyrics="we're just alike/we're not the same/it is simply you and me/no reason for us/but we are here/&quot;it's time to go&quot;"
		%}
		{% include verse.html
			lyrics="そろそろ|お別れの時間だね/楽しかったよ|「もう一人の私」/バイバイ|またいつか機会があれば/この交差点で…"
			romaji="sorosoro|owakare no jikan da ne/tanoshikatta yo|&quot;mou hitori no watashi&quot;/BAIBAI|mata itsuka kikai ga areba/kono kousaten de..."
		%}
	</div>
</div>