---
english-name: The Steel Lady, Rilia-Renée
image: /assets/images/thumbs/SteelLady.png
translation: https://pricechecktranslations.tumblr.com/post/666486863099527168
mothyrights: <em>The Evillious Chronicles</em>|<em>The Steel Lady, Rilia-Renée</em>
---
<div>
	<h3>Crossfade</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="強さがなければ|生きてはいけぬ/慣れぬ剣を|覚えた/呪い解くすべ求めて|旅に出る/鋼鉄令嬢"
			romaji="tsuyosa ga nakereba|ikite wa ikenu/narenu ken wo|oboeta/noroi toku sube motomete|tabi ni deru/koutetsu reijou"
		%}
	</div>
</div>
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今こそ示そう|我が忠義心/呪われしこの身でも/求める声があるなら応えよう/鋼鉄令嬢"
			romaji="ima koso shimesou|waga chuugishin/norowareshi kono mi demo/motomeru koe ga aru nara kotaeyou/koutetsu reijou"
		%}
		{% include verse.html
			lyrics="その四肢は鉄に変えられ/両の目は瑠璃の光帯びる"
			romaji="sono shishi wa tetsu ni kaerare/ryou no me wa ruri no hikari obiru"
		%}
		{% include verse.html
			lyrics="麗しきかの令嬢は/血の通わぬ人形と化した"
			romaji="uruwashiki kano reijou wa/chi no kayowanu ningyou to kashita"
		%}
		{% include verse.html
			lyrics="呪われしその姿見て/誰もが恐れおののく/孤独の中で"
			romaji="norowareshi sono sugata mite/dare mo ga osore ononoku/kodoku no naka de"
		%}
		{% include verse.html
			lyrics="少女は町を飛び出した/行く当てもないまま"
			romaji="shoujo wa machi wo tobidashita/yukuate mo nai mama"
		%}
		{% include verse.html
			lyrics="強さがなければ生きてはいけぬ/慣れぬ剣を覚えた/呪い解くすべ求めて旅に出る/鋼鉄令嬢"
			romaji="tsuyosa ga nakereba ikite wa ikenu/narenu ken wo oboeta/noroi toku sube motomete tabi ni deru/koutetsu reijou"
		%}
		{% include verse.html
			lyrics="剛健な騎士の刃も/鋼の胸は突き通せぬ"
			romaji="goukenna kishi no yaiba mo/hagane no mune wa tsukitoosenu"
		%}
		{% include verse.html
			lyrics="戦乙女はいつの日か/戦場の英雄となった"
			romaji="ikusa otome wa itsu no hi ka/senjou no eiyuu to natta"
		%}
		{% include verse.html
			lyrics="功績称える若き王/彼女の心に宿る/ひそかな恋心"
			romaji="kouseki tataeru wakaki ou/kanojo no kokoro ni yadoru/hisokana koigokoro"
		%}
		{% include verse.html
			lyrics="叶わぬ思いだとしても/彼のため戦い続ける"
			romaji="kanawanu omoida toshite mo/kare no tame tatakaitsudzukeru"
		%}
		{% include verse.html
			lyrics="今こそ示そう|我が忠義心/呪われしこの身でも/求める声があるなら応えよう/鋼鉄令嬢"
			romaji="ima koso shimesou|waga chuugishin/norowareshi kono mi demo/motomeru koe ga aru nara kotaeyou/koutetsu reijou"
		%}
		<p>
			{% include lyric.html lyric="<ruby>深淵<rp>(</rp><rt>アビス</rt><rp>)</rp></ruby>の魔女の声が聞こえる" rom="ABISU no majo no koe ga kikoeru" %}<br />
			{% include lyric.html lyric="「お前は何も理解してない」" rom="&quot;omae wa nani mo rikaishitenai&quot;" %}<br />
			{% include lyric.html lyric="<ruby>輪<rp>(</rp><rt>リン</rt><rp>)</rp></ruby>廻の<ruby>連<rp>(</rp><rt>レン</rt><rp>)</rp></ruby>鎖|混成の<ruby>鏡<rp>(</rp><rt>ミラー</rt><rp>)</rp></ruby>" rom="RINne no RENsa|konsei no MIRAA" %}<br />
			{% include lyric.html lyric="死の足音は|もうすぐそばに" rom="shi no ashioto wa|mou sugu soba ni" %}
		</p>
		{% include verse.html
			lyrics="かつてない敵の軍勢/満身創痍の中で/何も感じぬ"
			romaji="katsute nai teki no gunzei/manshin soui no naka de/nani mo kanjinu"
		%}
		{% include verse.html
			lyrics="すでに心の奥まで/鉄に覆われていた"
			romaji="sude ni kokoro no oku made/tetsu ni oowareteita"
		%}
		{% include verse.html
			lyrics="力尽きた鋼鉄令嬢/墓碑に刻まれた文字/-自らを人と思い込んだ人形-/-ここに眠る-"
			romaji="chikaratsukita koutetsu reijou/bohi ni kizamareta moji/mizukara wo hito to omoikonda ningyou/koko ni nemuru"
		%}
	</div>
</div>