---
english-name: Storyteller Y
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
translation: https://pricechecktranslations.tumblr.com/post/761467721873588224
mothyrights: <em>The Evillious Chronicles</em>|<em>Storyteller Y</em>
---
<div>
	<h3><a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="我が名は語り部 Y。/この奇妙な一団のたびに同行し、その顛末を伝える者。"
			romaji="waga na wa kataribe Y./kono kimyouna ichidan no tabi ni doukoushi, sono tnmatsu wo tsutaeru mono."
		%}
		{% include verse.html
			lyrics="悪食娘と呼ばれた大罪人、バニカ・コンチータ。/死してなお悪魔として現世をさまよい続けた彼女は/世界の終わりを見届けた後、異世界へと旅立った。"
			romaji="akujiki musume to yobareta daizainin, BANIKA KONCHIITA/shishite nao akuma toshite gense wo samayoitsudzuketa kanojo wa/sekai no owari wo mitodoketa nochi, isekai he to tabidatta."
		%}
		{% include verse.html
			lyrics="神を滅ぼそうとした仮面の科学者。/神の血を引く邪悪な双子。/神になれなかった臆病な黒鳥。/神を恐れぬ優しき巨人。/神から死を奪われた執事。/そして……無数の生きた屍。/これらの従者たちと共に、バニカは次元の扉をくぐった。"
			romaji="kami wo horobosou toshita kamen no kagakusha./kami no chi wo hiku jaakuna futago./kami ni narenakatta okubyouna kurotori./kami wo osorenu yasashiki kyoujin./kami kara shi wo ubawareta shitsuji./soshite...... musuu no ikita kabane./korera no juusha-tachi to tomo ni, BANIKA wa jigen no tobira wo kugutta."
		%}
		{% include verse.html
			lyrics="常識の通じぬ世界で旅を続けるには、新たな身体が必要だった。/獣の身体を手に入れた旅人たちに/さらなる旅の道連れが加わる。"
			romaji="joushiki no tsuujinu sekai de tabi wo tsudzukeru ni wa, aratana shintai ga hitsuyou datta./shishi no shintai wo te ni ireta tabibito-tachi ni/saranaru tabi no michidzure ga kuwawaru."
		%}
		{% include verse.html
			lyrics="神を憎む盲目の少女、バーム・クーレン。/バニカと同一の遺伝子を持つ、もう一人の悪食娘だ。"
			romaji="kami wo nikumu moumoku no shoujo, BAAMU KUUREN./BANIKA to douitsu no idenshi wo motsu, mou hitori no akujiki musume da."
		%}
		{% include verse.html
			lyrics="終わりなき悪食の旅が今、始まる。"
			romaji="owarinaki akujiki no tabi ga ima, hajimaru."
		%}
	</div>
</div>