---
english-name: Swear an Oath on that Bridge
translation: https://pricechecktranslations.tumblr.com/post/148987746205
mothyrights: <em>The Evillious Chronicles</em>|<em>Swear an Oath on that Bridge</em>
---
<div>
	<h3><a href="{% link album/lucifenia-trinity.html %}"><em>Lucifenia Trinity</em></a></h3>
	{% include verse.html
		lyrics="時は巻き戻せない/歯車は廻っていく/ぜんまいが/切れるまで"
		romaji="toki wa makimodosenai/haguruma wa mawatteiku/zenmai ga/kireru made"
	%}
	{% include verse.html
		lyrics="退屈しのぎの日々/人生はそんなもの/そう思ってた/思ってた"
		romaji="taikutsushinogi no hibi/jinsei wa sonna mono/sou omotteta/omotteta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="あの橋のたもと/君らと出会い/何かが変わった/ひねくれ魔女の/ただの気まぐれ/…かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉/それすらバラバラ"
		romaji="ano hashi no tamoto/kimira to deai/nanika ga kawatta/hinekure majo no/tada no kimagure/...kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba/soresura BARABARA"
	%}
	{% include verse.html
		lyrics="悩みがあるのならば/相談くらい乗るよ/無駄に長生き/してるから"
		romaji="nayami ga aru no naraba/soudan kurai noru yo/muda ni nagaiki/shiteru kara"
	%}
	{% include verse.html
		lyrics="橋は大地を繋ぐ/人の心も同じ/きっとそうだよ/…たぶんそう"
		romaji="hashi wa daichi wo tsunagu/hito no kokoro mo onaji/kitto sou da yo/...tabun sou"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="いい加減な助言/みんなが笑う/私も笑った/運命なんて/きっと変えられる/…かもね/三者三様だけど三位一体/それでいいじゃない/川は流れる/我らも進む"
		romaji="ii kagenna jogen/minna ga warau/watashi mo waratta/unmei nante/kitto kaerareru/...kamo ne/sansha sanyou dakedo sanmi ittai/sore de ii ja nai/kawa wa nagareru/warera mo susumu"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="空を舞うコウモリから/聞こえてくるぜんまいの唄…"
		romaji="sora wo mau KOUMORI kara/kikoetekuru zenmai no uta..."
	%}
	{% include verse.html
		lyrics="あの橋のたもと/君らと出会い/何かが変わった/ひねくれ魔女の/ただの気まぐれ/…かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉/それすらバラバラ"
		romaji="ano hashi no tamoto/kimira to deai/nanika ga kawatta/hinekure majo no/tada no kimagure/...kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba/soresura BARABARA"
	%}
	{% include verse.html
		lyrics="不器用な騎士/目が怖いアサシン/風呂嫌いの魔女/運命だって/きっと変えられる/…かもね/三者三様だけど三位一体/それでいいじゃない/我らは今/あの橋に誓う"
		romaji="bukiyouna kishi/me ga kowai ASASHIN/furo kirai no majo/unmei datte/kitto kaerareru/...kamo ne/sansha sanyou dakedo sanmi ittai/sore de ii ja nai/warera wa ima/ano hashi ni chikau"
	%}
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a></h3>
	{% include verse.html
		lyrics="時は巻き戻せない|歯車は廻っていく/ぜんまいが切れるまで"
		romaji="toki wa makimodosenai|haguruma wa mawatteiku/zenmai ga kireru made"
	%}
	{% include verse.html
		lyrics="退屈しのぎの日々|人生はそんなもの/そう思ってた|思ってた"
		romaji="taikutsushinogi no hibi|jinsei wa sonna mono/sou omotteta|omotteta"
	%}
	{% include verse.html
		lyrics="あの橋のたもと|君らと出会い/何かが変わった/ひねくれ魔女の|ただの気まぐれ/…かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai/nanika ga kawatta/hinekure majo no|tada no kimagure/...kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="悩みがあるのならば|相談くらい乗るよ/無駄に長生きしてるから"
		romaji="nayami ga aru no naraba|soudan kurai noru yo/muda ni nagaiki shiteru kara"
	%}
	{% include verse.html
		lyrics="橋は大地を繋ぐ|人の心も同じ/きっとそうだよ…たぶんそう"
		romaji="hashi wa daichi wo tsunagu|hito no kokoro mo onaji/kitto sou da yo... tabun sou"
	%}
	{% include verse.html
		lyrics="いい加減な助言|みんなが笑う/私も笑った/運命なんてきっと変えられる/…かもね/三者三様|だけど|三位一体/それでいいじゃない/川は流れる|我らも進む"
		romaji="ii kagenna jogen|minna ga warau/watashi mo waratta/unmei nante kitto kaerareru/...kamo ne/sansha sanyou|dakedo|sanmi ittai/sore de ii ja nai/kawa wa nagareru|warera mo susumu"
	%}
	{% include verse.html
		lyrics="空を舞うコウモリから/聞こえてくるぜんまいの唄…"
		romaji="sora wo mau KOUMORI kara/kikoetekuru zenmai no uta..."
	%}
	{% include verse.html
		lyrics="あの橋のたもと|君らと出会い/何かが変わった/ひねくれ魔女の|ただの気まぐれ/…かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai/nanika ga kawatta/hinekure majo no|tada no kimagure/...kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="不器用な騎士|目が怖いアサシン/風呂嫌いの魔女/運命だってきっと変えられる/…かもね/三者三様|だけど|三位一体/それでいいじゃない/我らは今|あの橋に誓う"
		romaji="bukiyouna kishi|me ga kowai ASASHIN/furo kirai no majo/unmei datte kitto kaerareru/...kamo ne/sansha sanyou|dakedo|sanmi ittai/sore de ii ja nai/warera wa ima|ano hashi ni chikau"
	%}
</div>

<div>
	<h3><a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="時は巻き戻せない|歯車は廻っていく/ぜんまいが切れるまで"
		romaji="toki wa makimodosenai|haguruma wa mawatteiku/zenmai ga kireru made"
	%}
	{% include verse.html
		lyrics="退屈しのぎの日々|人生はそんなもの/そう思ってた|思ってた"
		romaji="taikutsushinogi no hibi|jinsei wa sonna mono/sou omotteta|omotteta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="あの橋のたもと|君らと出会い|何かが変わった/ひねくれ魔女の|ただの気まぐれ…かもね/変わり者の王の元に集う|不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai|nanika ga kawatta/hinekure majo no|tada no kimagure... kamo ne/kawarimono no ou no moto ni tsudou|fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="悩みがあるのならば|相談くらい乗るよ/無駄に長生きしてるから"
		romaji="nayami ga aru no naraba|soudan kurai noru yo/muda ni nagaiki shiteru kara"
	%}
	{% include verse.html
		lyrics="橋は大地を繋ぐ|人の心も同じ/きっとそうだよ…たぶんそう"
		romaji="hashi wa daichi wo tsunagu|hito no kokoro mo onaji/kitto sou da yo... tabun sou"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="いい加減な助言|みんなが笑う|私も笑った/運命なんてきっと変えられる…かもね/三者三様|だけど|三位一体|それでいいじゃない/川は流れる|我らも進む"
		romaji="ii kagenna jogen|minna ga warau|watashi mo waratta/unmei nante kitto kaerareru... kamo ne/sansha sanyou|dakedo|sanmi ittai|sore de ii ja nai/kawa wa nagareru|warera mo susumu"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="空を舞うコウモリから|聞こえてくるぜんまいの唄…"
		romaji="sora wo mau KOUMORI kara|kikoetekuru zenmai no uta..."
	%}
	{% include verse.html
		lyrics="あの橋のたもと|君らと出会い|何かが変わった/ひねくれ魔女の|ただの気まぐれ…かもね/変わり者の王の元に集う|不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai|nanika ga kawatta/hinekure majo no|tada no kimagure... kamo ne/kawarimono no ou no moto ni tsudou|fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="不器用な騎士|目が怖いアサシン|風呂嫌いの魔女/運命だってきっと変えられる…かもね/三者三様|だけど|三位一体|それでいいじゃない/我らは今|あの橋に誓う"
		romaji="bukiyouna kishi|me ga kowai ASASHIN|furo kirai no majo/unmei datte kitto kaerareru... kamo ne/sansha sanyou|dakedo|sanmi ittai|sore de ii ja nai/warera wa ima|ano hashi ni chikau"
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="時は巻き戻せない/歯車は廻っていく/ぜんまいが切れるまで"
		romaji="toki wa makimodosenai/haguruma wa mawatteiku/zenmai ga kireru made"
	%}
	{% include verse.html
		lyrics="退屈しのぎの日々/人生はそんなもの/そう思ってた|思ってた"
		romaji="taikutsushinogi no hibi/jinsei wa sonna mono/sou omotteta|omotteta"
	%}
	{% include verse.html
		lyrics="あの橋のたもと|君らと出会い/何かが変わった/ひねくれ魔女の|ただの気まぐれ…/かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai/nanika ga kawatta/hinekure majo no|tada no kimagure.../kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="悩みがあるのならば/相談くらい乗るよ/無駄に長生きしてるから"
		romaji="nayami ga aru no naraba/soudan kurai noru yo/muda ni nagaiki shiteru kara"
	%}
	{% include verse.html
		lyrics="橋は大地を繋ぐ/人の心も同じ/きっとそうだよ…たぶんそう"
		romaji="hashi wa daichi wo tsunagu/hito no kokoro mo onaji/kitto sou da yo... tabun sou"
	%}
	{% include verse.html
		lyrics="いい加減な助言|みんなが笑う/私も笑った/運命なんてきっと変えられる…/かもね/三者三様|だけど|三位一体/それでいいじゃない/川は流れる|我らも進む"
		romaji="ii kagenna jogen|minna ga warau/watashi mo waratta/unmei nante kitto kaerareru.../kamo ne/sansha sanyou|dakedo|sanmi ittai/sore de ii ja nai/kawa wa nagareru|warera mo susumu"
	%}
	{% include verse.html
		lyrics="空を舞うコウモリから/聞こえてくるぜんまいの唄…"
		romaji="sora wo mau KOUMORI kara/kikoetekuru zenmai no uta..."
	%}
	{% include verse.html
		lyrics="あの橋のたもと|君らと出会い/何かが変わった/ひねくれ魔女の|ただの気まぐれ…/かもね/変わり者の王の元に集う/不真面目な英雄/誓いの言葉|それすらバラバラ"
		romaji="ano hashi no tamoto|kimira to deai/nanika ga kawatta/hinekure majo no|tada no kimagure.../kamo ne/kawarimono no ou no moto ni tsudou/fumajimena eiyuu/chikai no kotoba|soresura BARABARA"
	%}
	{% include verse.html
		lyrics="不器用な騎士/目が怖いアサシン/風呂嫌いの魔女/運命だってきっと変えられる…かもね/三者三様|だけど|三位一体/それでいいじゃない/我らは今|あの橋に誓う"
		romaji="bukiyouna kishi/me ga kowai ASASHIN/furo kirai no majo/unmei datte kitto kaerareru... kamo ne/sansha sanyou|dakedo|sanmi ittai/sore de ii ja nai/warera wa ima|ano hashi ni chikau"
	%}
</div>