---
english-name: Tale of Abandonment on a Moonlit Night
image: /assets/images/thumbs/Abandonment.png
translation: https://pricechecktranslations.tumblr.com/post/103766694475
mothyrights: <em>The Evillious Chronicles</em>|<em>Tale of Abandonment on a Moonlit Night</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん/食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan/taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを/見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo/miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html
			lyrics="ふたりぼっち残された僕ら/まるでヘンゼルとグレーテル/お月様のわずかな光では/帰る道もわからない"
			romaji="futaribocchi nokosareta bokura/maru de HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa/kaeru michi mo wakaranai"
		%}
		{% include verse.html
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu"
		%}
		{% include verse.html
			lyrics="されどもそれが/正しい道か/僕らは知らず/ただただ歩く/やっと見つけた/僕らにはわかる/ここは魔女の家"
			romaji="saredomo sore ga/tadashii michi ka/bokura wa shirazu/tadatada aruku/yatto mitsuketa/bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html
			lyrics="さあ|悪い魔女をやっつけろ/燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと/幸せになれるはず"
			romaji="saa|warui majo wo yattsukero/moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto/shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」/母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot;/kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>

<div>
	<h3>piapro</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html class="versebreak"
			lyrics="ふたりぼっち残された僕ら|まるでヘンゼルとグレーテル/お月様のわずかな光では|帰る道もわからない"
			romaji="futaribocchi nokosareta bokura|maru de HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa|kaeru michi mo wakaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす/されどもそれが|正しい道か/僕らは知らず|ただただ歩く/やっと見つけた|僕らにはわかる/ここは魔女の家"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu/saredomo sore ga|tadashii michi ka/bokura wa shirazu|tadatada aruku/yatto mitsuketa|bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html class="versebreak"
			lyrics="さあ|悪い魔女をやっつけろ|燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと|幸せになれるはず"
			romaji="saa|warui majo wo yattsukero|moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto|shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html class="versebreak"
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html class="versebreak"
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot; kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html
			lyrics="ふたりぼっち残された僕ら/まるでヘンゼルとグレーテル/お月様のわずかな光では/帰る道もわからない"
			romaji="futaribocchi nokosareta bokura/maru de HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa/kaeru michi mo wakaranai"
		%}
		{% include verse.html
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす/されどもそれが|正しい道か/僕らは知らず|ただただ歩く/やっと見つけた|僕らにはわかる/ここは魔女の家"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu/saredomo sore ga|tadashii michi ka/bokura wa shirazu|tadatada aruku/yatto mitsuketa|bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html class="versebreak"
			lyrics="さあ|悪い魔女をやっつけろ/燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと/幸せになれるはず"
			romaji="saa|warui majo wo yattsukero/moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto/shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html class="versebreak"
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html class="versebreak"
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot; kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html class="versebreak"
			lyrics="ふたりぼっち残された僕ら/まるでヘンゼルとグレーテル/お月様のわずかな光では|帰る道もわからない"
			romaji="futaribocchi nokosareta bokura/maru de HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa|kaeru michi mo wakaranai"
		%}
		{% include verse.html
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす/されどもそれが|正しい道か/僕らは知らず|ただただ歩く/やっと見つけた|僕らにはわかる/ここは魔女の家"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu/saredomo sore ga|tadashii michi ka/bokura wa shirazu|tadatada aruku/yatto mitsuketa|bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html class="versebreak"
			lyrics="さあ|悪い魔女をやっつけろ/燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと|幸せになれるはず"
			romaji="saa|warui majo wo yattsukero/moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto|shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html class="versebreak"
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html class="versebreak"
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot; kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html
			lyrics="ふたりぼっち残された僕ら/その名はヘンゼルとグレーテル/お月様のわずかな光では/帰る道もわからない"
			romaji="futaribocchi nokosareta bokura/sono na wa HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa/kaeru michi mo wakaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす/されどもそれが|正しい道か/僕らは知らず|ただただ歩く/やっと見つけた|僕らにはわかる/ここは魔女の家"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu/saredomo sore ga|tadashii michi ka/bokura wa shirazu|tadatada aruku/yatto mitsuketa|bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html class="versebreak"
			lyrics="さあ|悪い魔女をやっつけろ/燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと/幸せになれるはず"
			romaji="saa|warui majo wo yattsukero/moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto/shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html class="versebreak"
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html class="versebreak"
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot; kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>

<div>
	<h3><a href="/{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="母さん/この道はどんな幸せに続いているの？/そこでは/大好きなおやつをたくさん食べられるのかな？"
			romaji="kaa-san/kono michi wa donna shiawase ni tsudzuiteiru no?/soko de wa/daisukina oyatsu wo takusan taberareru no ka na?"
		%}
		{% include verse.html
			lyrics="父さん/この先に神様は待っているのですか？/どうして/そんな悲しい顔で僕らを見るのですか？"
			romaji="tou-san/kono saki ni kami-sama wa matteiru no desu ka?/doushite/sonna kanashii kao de bokura wo miru no desu ka?"
		%}
		{% include verse.html
			lyrics="暗い森の中/本当は全てわかっていた/このまま進めば/もう帰ることはできないと"
			romaji="kurai mori no naka/hontou wa subete wakatteita/kono mama susumeba/mou kaeru koto wa dekinai to"
		%}
		{% include verse.html class="versebreak"
			lyrics="ふたりぼっち残された僕ら|その名はヘンゼルとグレーテル/お月様のわずかな光では|帰る道もわからない"
			romaji="futaribocchi nokosareta bokura|sono na wa HENZERU to GUREETERU/otsuki-sama no wazukana hikari de wa|kaeru michi mo wakaranai"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕らは歩く|さ迷い歩く/手掛かりがないわけじゃない/ガラスの小瓶|月に照らされ/ぴかぴかひかり|道を照らす/されどもそれが|正しい道か/僕らは知らず|ただただ歩く/やっと見つけた|僕らにはわかる/ここは魔女の家"
			romaji="bokura wa aruku|samayoi aruku/tegakari ga nai wake ja nai/GARASU no kobin|tsuki ni terasare/pikapika hikari|michi wo terasu/saredomo sore ga|tadashii michi ka/bokura wa shirazu|tadatada aruku/yatto mitsuketa|bokura ni wa wakaru/koko wa majo no ie"
		%}
		{% include verse.html class="versebreak"
			lyrics="さあ|悪い魔女をやっつけろ|燃えるかまどに放り投げろ/彼女がいなけりゃ僕らはきっと|幸せになれるはず"
			romaji="saa|warui majo wo yattsukero|moeru kamado ni houri nagero/kanojo ga inakerya bokura wa kitto|shiawase ni nareru hazu"
		%}
		{% include verse.html
			lyrics="ねえ母さん|私をほめて/悪い魔女は倒したのよ"
			romaji="nee kaa-san|watashi wo homete/warui majo wa taoshita no yo"
		%}
		{% include verse.html class="versebreak"
			lyrics="ねえ父さん|僕をほめて/魔女の子分も倒したんだ"
			romaji="nee tou-san|boku wo homete/majo no kobun mo taoshita nda"
		%}
		{% include verse.html class="versebreak"
			lyrics="それにしても/ここはとても落ち着く所だね/まるで昔から/住んでいたような気がするね"
			romaji="sore ni shite mo/koko wa totemo ochitsuku tokoro da ne/maru de mukashi kara/sundeita youna ki ga suru ne"
		%}
		{% include verse.html
			lyrics="さあ「本当の」母さんと父さんに会いに行こう"
			romaji="saa &quot;hontou no&quot; kaa-san to tou-san ni ai ni yukou"
		%}
	</div>
</div>