---
english-name: That King was Born from Mud
image: /assets/images/thumbs/ThatKing.png
translation: https://pricechecktranslations.tumblr.com/post/150729952045
mothyrights: <em>The Evillious Chronicles</em>|<em>That King was Born from Mud</em>
---
<div>
	<h3><em>EXIT TUNES PRESENTS Vocalocreation feat. Hatsune Miku</em></h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="千の剣と三の英雄が" rom="sen no ken to san no eiyuu ga" %}<br />
			{% include lyric.html lyric="彼の王の元に集いし時" rom="kano ou no moto ni tsudoishi toki" %}<br />
			{% include lyric.html lyric="正義を為し悪を挫く" rom="seigi wo nashi aku wo kujiku" %}<br />
			{% include lyric.html lyric="<ruby>軍勢<rp>(</rp><rt>troupe</rt><rp>)</rp></ruby>となろう" rom="troupe to narou" %}
		</p>
		<p>
			{% include lyric.html lyric="<ruby>黄金<rp>(</rp><rt>きん</rt><rp>)</rp></ruby>の髪を風になびかせ" rom="kin no kami wo kaze ni nabikase" %}<br />
			{% include lyric.html lyric="先陣を駆ける彼の王が" rom="senjin wo kakeru kano ou ga" %}<br />
			{% include lyric.html lyric="人ならざる者である事を" rom="hito narazaru mono de aru koto wo" %}<br />
			{% include lyric.html lyric="誰もが知らぬ" rom="dare mo ga shiranu" %}
		</p>
		{% include verse.html
			lyrics="穢れし泥から生まれたその男は/それでも人のために今日も戦場を往く"
			romaji="kegareshi doro kara umareta sono otoko wa/soredemo hito no tame ni kyou mo senjou wo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
		{% include verse.html
			lyrics="「あなたのその身に 血が通っていなくとも/私はあなたのそばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
			romaji="&quot;anata no sono mi ni chi ga kayotteinaku tomo/watashi wa anata no soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
		%}
		{% include verse.html
			lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
			romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga ko-tachi no tame/kare wa kyou mo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="千の剣と三の英雄が" rom="sen no ken to san no eiyuu ga" %}<br />
			{% include lyric.html lyric="彼の王の元に集いし時" rom="kano ou no moto ni tsudoishi toki" %}<br />
			{% include lyric.html lyric="正義を為し悪を挫く" rom="seigi wo nashi aku wo kujiku" %}<br />
			{% include lyric.html lyric="<ruby>軍勢<rp>(</rp><rt>troupe</rt><rp>)</rp></ruby>となろう" rom="troupe to narou" %}
		</p>
		<p>
			{% include lyric.html lyric="<ruby>黄金<rp>(</rp><rt>きん</rt><rp>)</rp></ruby>の髪を|風になびかせ" rom="kin no kami wo|kaze ni nabikase" %}<br />
			{% include lyric.html lyric="先陣を駆ける|彼の王が" rom="senjin wo kakeru|kano ou ga" %}<br />
			{% include lyric.html lyric="人ならざる者である事を" rom="hito narazaru mono de aru koto wo" %}<br />
			{% include lyric.html lyric="誰もが知らぬ" rom="dare mo ga shiranu" %}
		</p>
		{% include verse.html
			lyrics="穢れし泥から生まれた|その男は/それでも人のために今日も/戦場を往く"
			romaji="kegareshi doro kara umareta|sono otoko wa/soredemo hito no tame ni kyou mo/senjou wo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため|戦うんじゃない" rom="aisareru tame|tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
		{% include verse.html
			lyrics="「あなたのその身に」/「血が通っていなくとも」/「私はあなたの」/「そばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
			romaji="&quot;anata no sono mi ni&quot;/&quot;chi ga kayotteinaku tomo&quot;/&quot;watashi wa anata no&quot;/&quot;soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
		%}
		{% include verse.html
			lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
			romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga ko-tachi no tame/kare wa kyou mo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため|戦うんじゃない" rom="aisareru tame|tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="千の剣と三の英雄が" rom="sen no ken to san no eiyuu ga" %}<br />
			{% include lyric.html lyric="彼の王の元に集いし時" rom="kano ou no moto ni tsudoishi toki" %}<br />
			{% include lyric.html lyric="正義を為し悪を挫く" rom="seigi wo nashi aku wo kujiku" %}<br />
			{% include lyric.html lyric="<ruby>軍勢<rp>(</rp><rt>troupe</rt><rp>)</rp></ruby>となろう" rom="troupe to narou" %}
		</p>
		<p>
			{% include lyric.html lyric="<ruby>黄金<rp>(</rp><rt>きん</rt><rp>)</rp></ruby>の髪を風になびかせ" rom="kin no kami wo kaze ni nabikase" %}<br />
			{% include lyric.html lyric="先陣を駆ける彼の王が" rom="senjin wo kakeru kano ou ga" %}<br />
			{% include lyric.html lyric="人ならざる者である事を" rom="hito narazaru mono de aru koto wo" %}<br />
			{% include lyric.html lyric="誰もが知らぬ" rom="dare mo ga shiranu" %}
		</p>
		{% include verse.html
			lyrics="穢れし泥から生まれたその男は/それでも人のために今日も/戦場を往く"
			romaji="kegareshi doro kara umareta sono otoko wa/soredemo hito no tame ni kyou mo/senjou wo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
		{% include verse.html
			lyrics="「あなたのその身に/|血が通っていなくとも/|私はあなたのそばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
			romaji="&quot;anata no sono mi ni/|chi ga kayotteinaku tomo/|watashi wa anata no soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
		%}
		{% include verse.html
			lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
			romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga ko-tachi no tame/kare wa kyou mo yuku"
		%}
		<p>
			{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
			{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
			{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau nja nai" %}<br />
			{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
		</p>
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
	</div>
</div>


<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="千の剣と三の英雄が/彼の王の元に集いし時/正義を為し悪を挫く/軍勢（troupe）となろう"
			romaji="sen no ken to san no eiyuu ga/kano ou no moto ni tsudoishi toki/seigi wo nashi aku wo kujiku/troupe to narou"
		%}
		{% include verse.html
			lyrics="黄金（きん）の髪を風になびかせ/先陣を駆ける彼の王が/人ならざる者である事を/誰もが知らぬ"
			romaji="kin no kami wo kaze ni nabikase/senjin wo kakeru kano ou ga/hito narazaru mono de aru koto wo/dare mo ga shiranu"
		%}
		{% include verse.html
			lyrics="穢れし泥から生まれたその男は/それでも人のために今日も戦場を往く"
			romaji="kegareshi doro kara umareta sono otoko wa/soredemo hito no tame ni kyou mo senjou wo yuku"
		%}
		{% include verse.html
			lyrics="戦友（とも）と共に|運命（さだめ）を胸に/突き進む泥の戦士（ソルジャー）/愛されるため戦うんじゃない/愛する故に戦うのだ"
			romaji="tomo to tomo ni|sadame wo mune ni/tsukisusumu doro no SORUJAA/aisareru tame tatakau nja nai/aisuru yue ni tatakau no da"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
		{% include verse.html
			lyrics="「あなたのその身に血が通っていなくとも/|私はあなたのそばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
			romaji="&quot;anata no sono mi ni chi ga kayotteinaku tomo/|watashi wa anata no soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
		%}
		{% include verse.html
			lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
			romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga ko-tachi no tame/kare wa kyou mo yuku"
		%}
		{% include verse.html
			lyrics="戦友（とも）と共に|運命（さだめ）を胸に/突き進む泥の戦士（ソルジャー）/愛されるため戦うんじゃない/愛する故に戦うのだ"
			romaji="tomo to tomo ni|sadame wo mune ni/tsukisusumu doro no SORUJAA/aisareru tame tatakau nja nai/aisuru yue ni tatakau no da"
		%}
		{% include verse.html
			lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
			romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamarete mo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
		%}
		{% include verse.html
			lyrics="嗚呼|彼は往く/ただ正義の為"
			romaji="aa|kare wa yuku/tada seigi no tame"
		%}
	</div>
</div>