---
english-name: That King was Born from Mud
translation: https://pricechecktranslations.tumblr.com/post/150729952045
mothyrights: <em>The Evillious Chronicles</em>|<em>That King was Born from Mud</em>
---
<div><!--TOADD: Vocalocreation ver.-->
	<h3>PV</h3>
	<p>
		{% include lyric.html lyric="千の剣と三の英雄が" rom="sen no ken to san no eiyuu ga" %}<br />
		{% include lyric.html lyric="彼の王の元に集いし時" rom="kano ou no moto ni tsudoishi toki" %}<br />
		{% include lyric.html lyric="正義を為し悪を挫く" rom="seigi wo nashi aku wo kujiku" %}<br />
		{% include lyric.html lyric="<ruby>軍勢<rp>(</rp><rt>troupe</rt><rp>)</rp></ruby>となろう" rom="troupe to narou" %}
	</p>
	<p>
		{% include lyric.html lyric="<ruby>黄金<rp>(</rp><rt>きん</rt><rp>)</rp></ruby>の髪を|風になびかせ" rom="kin no kami wo|kaze ni nabikase" %}<br />
		{% include lyric.html lyric="先陣を駆ける|彼の王が" rom="senjin wo kakeru|kano ou ga" %}<br />
		{% include lyric.html lyric="人ならざる者である事を" rom="hito narazaru mono de aru koto wo" %}<br />
		{% include lyric.html lyric="誰もが知らぬ" rom="daremo ga shiranu" %}
	</p>
	{% include verse.html
		lyrics="穢れし泥から生まれた|その男は/それでも人のために今日も/戦場を往く"
		romaji="kegareshi doro kara umareta|sono otoko wa/soredemo hito no tame ni kyou mo/senjou wo yuku"
	%}
	<p>
		{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>)</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
		{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
		{% include lyric.html lyric="愛されるため|戦うんじゃない" rom="aisareru tame|tatakau njanai" %}<br />
		{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
	</p>
	{% include verse.html
		lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
		romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamaretemo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
	%}
	{% include verse.html
		lyrics="嗚呼|彼は往く/ただ正義の為"
		romaji="aa|kare wa yuku/tada seigi no tame"
	%}
	{% include verse.html
		lyrics="「あなたのその身に」/「血が通っていなくとも」/「私はあなたの」/「そばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
		romaji="&quot;anata no sono mi ni&quot;/&quot;chi ga kayotteinakutomo&quot;/&quot;watashi wa anata no&quot;/&quot;soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
	%}
	{% include verse.html
		lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
		romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga kotachi no tame/kare wa kyou mo yuku"
	%}
	<p>
		{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
		{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
		{% include lyric.html lyric="愛されるため|戦うんじゃない" rom="aisareru tame|tatakau njanai" %}<br />
		{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
	</p>
	{% include verse.html
		lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
		romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamaretemo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
	%}
	{% include verse.html
		lyrics="嗚呼|彼は往く/ただ正義の為"
		romaji="aa|kare wa yuku/tada seigi no tame"
	%}
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<p>
		{% include lyric.html lyric="千の剣と三の英雄が" rom="sen no ken to san no eiyuu ga" %}<br />
		{% include lyric.html lyric="彼の王の元に集いし時" rom="kano ou no moto ni tsudoishi toki" %}<br />
		{% include lyric.html lyric="正義を為し悪を挫く" rom="seigi wo nashi aku wo kujiku" %}<br />
		{% include lyric.html lyric="<ruby>軍勢<rp>(</rp><rt>troupe</rt><rp>)</rp></ruby>となろう" rom="troupe to narou" %}
	</p>
	<p>
		{% include lyric.html lyric="<ruby>黄金<rp>(</rp><rt>きん</rt><rp>)</rp></ruby>の髪を風になびかせ" rom="kin no kami wo kaze ni nabikase" %}<br />
		{% include lyric.html lyric="先陣を駆ける彼の王が" rom="senjin wo kakeru kano ou ga" %}<br />
		{% include lyric.html lyric="人ならざる者である事を" rom="hito narazaru mono de aru koto wo" %}<br />
		{% include lyric.html lyric="誰もが知らぬ" rom="daremo ga shiranu" %}
	</p>
	{% include verse.html
		lyrics="穢れし泥から生まれたその男は/それでも人のために今日も/戦場を往く"
		romaji="kegareshi doro kara umareta sono otoko wa/soredemo hito no tame ni kyou mo/senjou wo yuku"
	%}
	<p>
		{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>)</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
		{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
		{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau njanai" %}<br />
		{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
	</p>
	{% include verse.html
		lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
		romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamaretemo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
	%}
	{% include verse.html
		lyrics="嗚呼|彼は往く/ただ正義の為"
		romaji="aa|kare wa yuku/tada seigi no tame"
	%}
	{% include verse.html
		lyrics="「あなたのその身に/|血が通っていなくとも/|私はあなたのそばにいる」/そう言ってくれた人がいた/そして二人は結ばれた"
		romaji="&quot;anata no sono mi ni/|chi ga kayotteinakutomo/|watashi wa anata no soba ni iru&quot;/sou ittekureta hito ga itta/soshite futari wa musubareta"
	%}
	{% include verse.html
		lyrics="人を愛するその心が/奇跡を起こす/生まれた我が子達の為/彼は今日も往く"
		romaji="hito wo aisuru sono kokoro ga/kiseki wo okosu/umareta waga kotachi no tame/kare wa kyou mo yuku"
	%}
	<p>
		{% include lyric.html lyric="<ruby>戦友<rp>(</rp><rt>とも</rt><rp>)</rp></ruby>と共に|<ruby>運命<rp>(</rp><rt>さだめ</rt><rp>)</rp></ruby>を胸に" rom="tomo to tomo ni|sadame wo mune ni" %}<br />
		{% include lyric.html lyric="突き進む泥の<ruby>戦士<rp>(</rp><rt>ソルジャー</rt><rp>)</rp></ruby>" rom="tsukisusumu doro no SORUJAA" %}<br />
		{% include lyric.html lyric="愛されるため戦うんじゃない" rom="aisareru tame tatakau njanai" %}<br />
		{% include lyric.html lyric="愛する故に戦うのだ" rom="aisuru yue ni tatakau no da" %}
	</p>
	{% include verse.html
		lyrics="たとえ世界の全ての人が/絶望に苛まれても/たとえその身がいつかひび割れ/崩れゆく日が来ようとも"
		romaji="tatoe sekai no subete no hito ga/zetsubou ni sainamaretemo/tatoe sono mi ga itsuka hibiware/kuzureyuku hi ga kiyou tomo"
	%}
	{% include verse.html
		lyrics="嗚呼|彼は往く/ただ正義の為"
		romaji="aa|kare wa yuku/tada seigi no tame"
	%}
</div>