---
english-name: Torture Tower Doesn't Sleep
translation: https://pricechecktranslations.tumblr.com/post/185809459335
mothyrights: <em>The Evillious Chronicles</em>|<em>Torture Tower Doesn't Sleep</em>
---
<div>
	<h3>PV &middot; <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	{% include verse.html
		lyrics="穢れし湖の下/築かれし魔性の塔/最上階に眠ってる/不死の命への秘密"
		romaji="kegareshi mizuumi no moto/kizukareshi mashou no tou/saijoukai ni nemutteru/fushi no inochi he no himitsu"
	%}
	{% include verse.html
		lyrics="そこに住まいし三姉妹/ジベット|ラック|そしてメイデン/欲深き侵入者は/彼女らの餌食となる"
		romaji="soko ni sumaishi sanshimai/JIBETTO|RAKKU|soshite MEIDEN/yoku bukaki shinnyusha wa/kanojora no eijiki to naru"
	%}
	{% include verse.html
		lyrics="長女が吊るし/次女が伸ばして/三女が中に閉じ込める"
		romaji="choujo ga tsurushi/jijo ga nobashite/sanjo ga naka ni tojikomeru"
	%}
	<p>
		{% include lyric.html lyric="嘆き|叫び|響け|<ruby>虚空<rp>(</rp><rt>そら</rt><rp>)</rp></ruby>に" rom="nageki|sakebi|hibike|sora ni" %}<br />
		{% include lyric.html lyric="拷問塔は眠らない" rom="gomontou wa nemuranai" %}<br />
		{% include lyric.html lyric="大丈夫|あなたの魂は" rom="daijoubu|anata no tamashii wa" %}<br />
		{% include lyric.html lyric="救われないから" rom="sukuwarenai kara" %}
	</p>
	{% include verse.html
		lyrics="偉大な父の遺志継いで/姉妹はお務めを果たす/大丈夫|痛みが続くのは/永遠のことだから"
		romaji="idaina chichi no ishi tsuide/shimai wa otsutome wo hatasu/daijoubu|itami ga tsudzuku no wa/eien no koto dakara"
	%}
	{% include verse.html
		lyrics="拷問卿と呼ばれた父/彼が愛した娘達/醜き神に捧げよ/奪い取った魂を"
		romaji="goumon-kyou to yobareta chichi/kare ga aishita musume-tachi/minikuki kami ni sasage yo/ubaitotta tamashii wo"
	%}
	{% include verse.html
		lyrics="神が蘇りし時/姉妹の願いも叶う/罪には罰を与えよ/それは決して悪ではない"
		romaji="kami ga yomigaerishi toki/shimai no negai mo kanau/tsumi ni wa batsu wo atae yo/sore wa kesshite aku de wa nai"
	%}
	{% include verse.html
		lyrics="ジベットが吊るし/ラックが伸ばして/メイデンが中に閉じ込める"
		romaji="JIBETTO ga tsurushi/RAKKU ga nobashite/MEIDEN ga naka ni tojikomeru"
	%}
	<p>
		{% include lyric.html lyric="嘆き|叫び|響け|<ruby>大地<rp>(</rp><rt>つち</rt><rp>(</rp></ruby>に" rom="nageki|sakebi|hibike|tsuchi ni" %}<br />
		{% include lyric.html lyric="拷問塔は眠らない" rom="goumontou wa nemuranai" %}<br />
		{% include lyric.html lyric="大丈夫|あなたの肉体は" rom="daijoubu|anata no nikutai wa" %}<br />
		{% include lyric.html lyric="消滅するから" rom="shoumetsusuru kara" %}
	</p>
	{% include verse.html
		lyrics="汚れた魂じゃなけりゃ/神は決して喜ばない/大丈夫|苦しみはいつしか/快楽に変わるから"
		romaji="yogoreta tamashii janakerya/kami wa kesshite yorokobanai/daijoubu|kurushimi wa itsushika/kairaku ni kawaru kara"
	%}
	{% include verse.html
		lyrics="街角の道化師が語る/拷問卿に娘はいない/塔にあるのは/彼が遺した拷問具だけだと"
		romaji="machikado no doukeshi ga kataru/goumon-kyou ni musume wa inai/tou ni aru no wa/kare ga nokoshita goumongu dake da to"
	%}
	{% include verse.html
		lyrics="誰かが苦しむ姿を/拷問卿は喜んだ/痛いことは良いことなんだ/彼女たちは疑わない"
		romaji="dareka ga kurushimu sugata wo/goumon-kyou wa yorokonda/itai koto wa yoi koto nanda/kanojo-tachi wa utagawanai"
	%}
	<p>
		{% include lyric.html lyric="嘆き|叫び|響け|<ruby>虚空<rp>(</rp><rt>そら</rt><rp>)</rp></ruby>に" rom="nageki|sakebi|hibike|sora ni" %}<br />
		{% include lyric.html lyric="拷問塔は眠らない" rom="goumontou wa nemuranai" %}<br />
		{% include lyric.html lyric="大丈夫|痛みが続くのは" rom="daijoubu|itami ga tsudzuku no wa" %}<br />
		{% include lyric.html lyric="永遠のことだから" rom="eien no koto dakara" %}
	</p>
</div>