---
english-name: Tree Maiden ~Millennium Wiegenlied~
translation: https://pricechecktranslations.tumblr.com/post/104050696260
mothyrights: <em>The Evillious Chronicles</em>|<em>Tree Maiden ~Millennium Wiegenlied~</em>
---
<div><!--TOADD: Four Melodies of Evil ver.-->
	<h3>Trailer</h3>
	{% include verse.html
		lyrics="平和で退屈|素晴らしい事のはずなのに/だけどわからない|あなたはどうして泣いてるの？/夢も|種族も|価値観も/異なる二人が今|出会った"
		romaji="heiwa de taikutsu|subarashii koto no hazuna no ni/dakedo wakaranai|anata wa doushite naiteru no?/yume mo|shuzoku mo|kachikan mo/kotonaru futari ga ima|deatta"
	%}
	{% include verse.html
		lyrics="千年の誓い|響け地の果てまで/滅びの運命|繋ぎ止めるヴィーゲンリート/あなたとの違い|だけど惹かれ合った/守ってあげる|だからそばにいて"
		romaji="sennen no chikai|hibike chi no hate made/horobi no unmei|tsunagitomeru VIIGENRIITO/anata to no chigai|dakedo hikareatta/matomette ageru|dakara soba ni ite"
	%}
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a></h3>
	{% include verse.html
		lyrics="「生きていてごめんなさい」/弱音を吐いた少女/村の人とは違う白い髪/森の奥の千年樹|彼女は跪いて/「友達が欲しい」って願った"
		romaji="&quot;ikiteite gomennasai&quot;/yowane wo haita shoujo/mura no hito to wa chigau shiroi kami/mori no oku no sennenju|kanojo wa hizamazuite/&quot;tomodachi ga hoshii&quot; tte negatta"
	%}
	{% include verse.html
		lyrics="ぼくは彼女の願い/叶えてあげたかった/だけどこの幻身（からだ）ではできない/そんな時に現れた/気まぐれな魔道師が/精霊のぼくを人に生まれ変わらせた"
		romaji="boku wa kanojo no negai/kanaete agetakatta/dakedo kono karada de wa dekinai/sonna toki ni arawareta/kimagurena madoushi ga/seirei no boku wo hito ni umarekawaraseta"
	%}
	{% include verse.html
		lyrics="ぼくはまだ知らない/森の外の世界の事を/だからわからない/あの子はどうして泣いてるの？"
		romaji="boku wa mada shiranai/mori no soto no sekai no koto wo/dakara wakaranai/ano ko wa doushite naiteru no?"
	%}
	{% include verse.html
		lyrics="平和で退屈/素晴らしい事のはずなのに/だけどわからない/あなたはどうして泣いてるの？"
		romaji="heiwa de taikutsu/subarashii koto no hazuna no ni/dakedo wakaranai/anata wa doushite naiteru no?"
	%}
	{% include verse.html
		lyrics="夢も種族も価値観も/異なる二人が今|出会った"
		romaji="yume mo shuzoku mo kachikan mo/kotonaru futari ga ima|deatta"
	%}
	{% include verse.html
		lyrics="千年の誓い|響け地の果てまで/滅びの運命/繋ぎ止めるヴィーゲンリート/あなたとの違い|だけど惹かれ合った/守ってあげる|だからそばにいて"
		romaji="sennen no chikai|hibike chi no hate made/horobi no unmei/tsunagitomeru VIIGENRIITO/anata to no chigai|dakedo hikareatta/matomette ageru|dakara soba ni ite"
	%}
	{% include verse.html
		lyrics="精霊のぼくが|人間の私へと変わる/この姿でなら/あなたと分かりあえるかもね"
		romaji="seirei no boku ga|ningen no watashi he to kawaru/kono sugata de nara/anata to wakari aeru kamo ne"
	%}
	{% include verse.html
		lyrics="新しい街での/暮らしが心を震わせる/どんな場所だって/二人一緒なら大丈夫"
		romaji="atarashii machi de no/kurashi ga kokoro wo furuwaseru/donna basho datte/futari issho nara daijoubu"
	%}
	{% include verse.html
		lyrics="人として生きる喜び/少しずつわかり始めていった"
		romaji="hito to shite ikiru yorokobi/sukoshi zutsu wakari hajimeteitta"
	%}
	{% include verse.html
		lyrics="千年の誓い|響け空を越えて/滅びの運命/繋ぎ止めるヴィーゲンリート/変わってく二人|寂しくもあるけど/あなたの笑顔|見れるならばいい"
		romaji="sennen no chikai|hibike sora wo koete/horobi no unmei/tsunagitomeru VIIGENRIITO/kawatteku futari|sabishiku mo arukedo/anata no egao|mireru naraba ii"
	%}
	{% include verse.html
		lyrics="夜の晩餐会|出会った海の国の王/滅びの運命/そこから動き始めたんだ"
		romaji="yoru no bansankai|deatta umi no kuni no ou/horobi no unmei/soko kara ugoki hajimeta nda"
	%}
	{% include verse.html
		lyrics="私を愛した|彼は隣の国の王女の/求婚を拒み|怒りの炎が国を包む"
		romaji="watashi wo aishita|kare wa tonari no kuni no oujo no/kyuukon wo kobami|ikari no honoo ga kuni wo tsutsumu"
	%}
	{% include verse.html
		lyrics="離れ離れになる二人/今ならわかるあなたへの想い"
		romaji="hanarebanare ni naru futari/ima nara wakaru anata he no omoi"
	%}
	{% include verse.html
		lyrics="千年の誓い|響けあなたの元へ/たとえ精霊に戻れないとしても/固めた決意は|もう揺らぐことはない/「あなたの事を|愛している」"
		romaji="sennen no chikai|hibike anata no moto he/tatoe seirei ni modorenai to shite mo/katameta ketsui wa|mou yuragu koto wa nai/&quot;anata no koto wo|aishiteiru&quot;"
	%}
	{% include verse.html
		lyrics="たとえ世界の全ての人が/（たとえ世界の全ての人が）/あなたを蔑み笑っても/（私を蔑み笑っても）/私があなたを守るから/（必要としてくれる人がいる）/あなたはいつでも笑っていて/（それだけで幸せだった）"
		romaji="tatoe sekai no subete no hito ga/(tatoe sekai no subete no hito ga)/anata wo sagesumi waratte mo/(watashi wo sagesumi waratte mo)/watashi ga anata wo mamoru kara/(hitsuyou to shite kureru hito ga iru)/anata wa itsudemo waratteite/(sore dake de shiawase datta)"
	%}
	{% include verse.html
		lyrics="もしもあなたが無事生き延びて/そして再会できたならば/森で二人|仲良く暮らそうよ/ここでいつまでも待っているから"
		romaji="moshimo anata ga buji ikinobite/soshite saikai de kitanaraba/mori de futari|nakayoku kurasou yo/koko de itsu made mo matteiru kara"
	%}
	{% include verse.html
		lyrics="暗い井戸の底|夜空には綺麗な月/胸には深く刺さったナイフ/金の髪の刺客は|何処かへと立ち去り/悪意の真実は闇の中"
		romaji="kurai ido no soko|yozora ni wa kireina tsuki/mune ni wa fukaku sasatta NAIFU/kin no kami no shikaku wa|izukoka he to tachisari/akui no shinjitsu wa yami no naka"
	%}
	{% include verse.html
		lyrics="透き通った白い髪|不器用な笑顔/どうかどうか生きていて|生き続けて/もしもあなたに会えたら/伝えたい事があったの/もしも生まれ変われるならば/生まれ変われるのならば…"
		romaji="sukitoutta shiroi kami|bukiyouna egao/douka douka ikiteite|iki tsudzukete/moshimo anata ni aetara/tsutaetai koto ga atta no/moshimo umarekawareru naraba/umarekawareru no naraba..."
	%}
</div>

<div>
	<h3><a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> <small>(KARENT)</small></h3>
	{% include verse.html
		lyrics="「生きていてごめんなさい」弱音を吐いた少女/村の人とは違う白い髪/森の奥の千年樹|彼女は跪いて/「友達が欲しい」って願った"
		romaji="&quot;ikiteite gomennasai&quot; yowane wo haita shoujo/mura no hito to wa chigau shiroi kami/mori no oku no sennenju|kanojo wa hizamazuite/&quot;tomodachi ga hoshii&quot; tte negatta"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="ぼくは彼女の願い|叶えてあげたかった/だけどこの幻身（からだ）ではできない/そんな時に現れた|気まぐれな魔道師が/精霊のぼくを人に生まれ変わらせた"
		romaji="boku wa kanojo no negai|kanaete agetakatta/dakedo kono karada de wa dekinai/sonna toki ni arawareta|kimagurena madoushi ga/seirei no boku wo hito ni umarekawaraseta"
	%}
	{% include verse.html
		lyrics="ぼくはまだ知らない|森の外の世界の事を/だからわからない|あの子はどうして泣いてるの？"
		romaji="boku wa mada shiranai|mori no soto no sekai no koto wo/dakara wakaranai|ano ko wa doushite naiteru no?"
	%}
	{% include verse.html
		lyrics="平和で退屈|素晴らしい事のはずなのに/だけどわからない|あなたはどうして泣いてるの？"
		romaji="heiwa de taikutsu|subarashii koto no hazuna no ni/dakedo wakaranai|anata wa doushite naiteru no?"
	%}
	{% include verse.html
		lyrics="夢も種族も価値観も/異なる二人が今|出会った"
		romaji="yume mo shuzoku mo kachikan mo/kotonaru futari ga ima|deatta"
	%}
	{% include verse.html
		lyrics="千年の誓い|響け地の果てまで/滅びの運命|繋ぎ止めるヴィーゲンリート/あなたとの違い|だけど惹かれ合った/守ってあげる|だからそばにいて"
		romaji="sennen no chikai|hibike chi no hate made/horobi no unmei|tsunagitomeru VIIGENRIITO/anata to no chigai|dakedo hikareatta/matomette ageru|dakara soba ni ite"
	%}
	{% include verse.html
		lyrics="精霊のぼくが|人間の私へと変わる/この姿でなら|あなたと分かりあえるかもね"
		romaji="seirei no boku ga|ningen no watashi he to kawaru/kono sugata de nara|anata to wakari aeru kamo ne"
	%}
	{% include verse.html
		lyrics="新しい街での|暮らしが心を震わせる/どんな場所だって|二人一緒なら大丈夫"
		romaji="atarashii machi de no|kurashi ga kokoro wo furuwaseru/donna basho datte|futari issho nara daijoubu"
	%}
	{% include verse.html
		lyrics="人として生きる喜び/少しずつわかり始めていった"
		romaji="hito to shite ikiru yorokobi/sukoshi zutsu wakari hajimeteitta"
	%}
	{% include verse.html
		lyrics="千年の誓い|響け空を越えて/滅びの運命|繋ぎ止めるヴィーゲンリート/変わってく二人|寂しくもあるけど/あなたの笑顔|見れるならばいい"
		romaji="sennen no chikai|hibike sora wo koete/horobi no unmei|tsunagitomeru VIIGENRIITO/kawatteku futari|sabishiku mo arukedo/anata no egao|mireru naraba ii"
	%}
	{% include verse.html
		lyrics="夜の晩餐会|出会った海の国の王/滅びの運命|そこから動き始めたんだ"
		romaji="yoru no bansankai|deatta umi no kuni no ou/horobi no unmei|soko kara ugoki hajimeta nda"
	%}
	{% include verse.html
		lyrics="私を愛した|彼は隣の国の王女の/求婚を拒み|怒りの炎が国を包む"
		romaji="watashi wo aishita|kare wa tonari no kuni no oujo no/kyuukon wo kobami|ikari no honoo ga kuni wo tsutsumu"
	%}
	{% include verse.html
		lyrics="離れ離れになる二人/今ならわかるあなたへの想い"
		romaji="hanarebanare ni naru futari/ima nara wakaru anata he no omoi"
	%}
	{% include verse.html
		lyrics="千年の誓い|響けあなたの元へ/たとえ精霊に戻れないとしても/固めた決意は|もう揺らぐことはない/「あなたの事を|愛している」"
		romaji="sennen no chikai|hibike anata no moto he/tatoe seirei ni modorenai to shite mo/katameta ketsui wa|mou yuragu koto wa nai/&quot;anata no koto wo|aishiteiru&quot;"
	%}
	{% include verse.html
		lyrics="たとえ世界の全ての人が（たとえ世界の全ての人が）/あなたを蔑み笑っても（私を蔑み笑っても）/私があなたを守るから（必要としてくれる人がいる）/あなたはいつでも笑っていて（それだけで幸せだった）"
		romaji="tatoe sekai no subete no hito ga (tatoe sekai no subete no hito ga)/anata wo sagesumi waratte mo (watashi wo sagesumi waratte mo)/watashi ga anata wo mamoru kara (hitsuyou to shite kureru hito ga iru)/anata wa itsudemo waratteite (sore dake de shiawase datta)"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="もしもあなたが無事生き延びて/そして再会できたならば/森で二人|仲良く暮らそうよ/ここでいつまでも待っているから"
		romaji="moshimo anata ga buji ikinobite/soshite saikai de kitanaraba/mori de futari|nakayoku kurasou yo/koko de itsu made mo matteiru kara"
	%}
	{% include verse.html
		lyrics="暗い井戸の底|夜空には綺麗な月/胸には深く刺さったナイフ/金の髪の刺客は|何処かへと立ち去り/悪意の真実は闇の中"
		romaji="kurai ido no soko|yozora ni wa kireina tsuki/mune ni wa fukaku sasatta NAIFU/kin no kami no shikaku wa|izukoka he to tachisari/akui no shinjitsu wa yami no naka"
	%}
	{% include verse.html
		lyrics="透き通った白い髪|不器用な笑顔/どうかどうか生きていて|生き続けて/もしもあなたに会えたら|伝えたい事があったの/もしも生まれ変われるならば/生まれ変われるのならば…"
		romaji="sukitoutta shiroi kami|bukiyouna egao/douka douka ikiteite|iki tsudzukete/moshimo anata ni aetara|tsutaetai koto ga atta no/moshimo umarekawareru naraba/umarekawareru no naraba..."
	%}
</div>