---
english-name: Twin Rabbits Come and Play their Flute
image: /assets/images/thumbs/TwinRabbitsPV.png
translation: https://pricechecktranslations.tumblr.com/post/724687342519058432
mothyrights: <em>The Evillious Chronicles</em>|<em>Twin Rabbits Come and Play their Flute</em>
css: twinrabbits.css
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="双子のウサギを|見つけたなら/それを追いかけちゃ|いけないよ/飛び込んだ穴の|中に決して/不思議な世界は|無いのだから"
			romaji="futago no USAGI wo|mitsuketa nara/sore wo oikake cha|ikenai yo/tobikonda ana no|naka ni kesshite/fushigina sekai wa|nai no dakara"
		%}
		{% include verse.html
			lyrics="神様はルールを|決めたのさ/生まれ変わりゃ|記憶を無くす/そうしなけりゃ|壊れだすよ"
			romaji="kamisama wa RUURU wo|kimeta no sa/umarekawarya|kioku wo nakusu/sou shinakerya|kowaredasu yo"
		%}
		{% include verse.html
			lyrics="そう|パパとママのように/そう|パパとママのように"
			romaji="sou|PAPA to MAMA no you ni/sou|PAPA to MAMA no you ni"
		%}
		{% include verse.html
			lyrics="悪魔の笛が響きだす"
			romaji="akuma no fue ga hibikidasu"
		%}
		{% include verse.html
			lyrics="親のいない子供たちだけが/その音|聞くことができる/見定めるよ|孤独な心の|ターゲット"
			romaji="oya no inai kodomo-tachi dake ga/sono oto|kiku koto ga dekiru/misadameru yo|kodokuna kokoro no|TAAGETTO"
		%}
		{% include verse.html
			lyrics="君がただの子供だったなら/不安と記憶を失う/もし君が|僕らのあるじなら|ターゲット"
			romaji="kimi ga tada no kodomo datta nara/fuan to kioku wo ushinau/moshi kimi ga|bokura no aruji nara|TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ウサギ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|双子来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|USAGI kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|futago kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="ひび割れたガラスの小瓶/もう道は示さない/影のパレード/その行く先は誰も知らず"
			romaji="hibiwareta GARASU no kobin/mou michi wa shimesanai/kage no PAREEDO/sono yukusaki wa dare mo shirazu"
		%}
		{% include verse.html
			lyrics="お菓子の館を|見つけたなら/それに魅入れられちゃ|いけないよ/犬のコックの|料理を運ぶ/双子のウサギが|いるのだから"
			romaji="okashi no yakata wo|mitsuketa nara/sore ni mi irerare cha|ikenai yo/inu no KOKKU no|ryouri wo hakobu/futago no USAGI ga|iru no dakara"
		%}
		{% include verse.html
			lyrics="あるじは体を|決めたのさ/候補は|いくらでも必要/無限の旅|続けてゆく"
			romaji="aruji wa karada wo|kimeta no sa/kouho wa|ikura demo hitsuyou/mugen no tabi|tsudzuketeyuku"
		%}
		{% include verse.html
			lyrics="そう|パパとママのように/そう|パパとママのように"
			romaji="sou|PAPA to MAMA no you ni/sou|PAPA to MAMA no you ni"
		%}
		{% include verse.html
			lyrics="悪魔の笛が響きだす/今日もレストランは盛況/ウサギは料理を運びつつ/見定めるよ|邪悪な心の|ターゲット"
			romaji="akuma no fue ga hibikadasu/kyou mo RESUTORAN wa seikyou/USAGI wa ryouri wo hakobitsutsu/misadameru yo|jaakuna kokoro no|TAAGETTO"
		%}
		{% include verse.html
			lyrics="お客は食事を食べ続けて/どんどん体を太らせ/弱肉強食|お前もいつかは|ターゲット"
			romaji="okyaku wa shokuji wo tabetsudzukete/dondon karada wo futorase/jakuniku kyoushoku|omae mo itsuka wa|TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ピエロ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|メイド来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|PIERO kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|MEIDO kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="この道がどこに続くか/いまだにわからない/明けない月夜抄/辿り着けぬ僕らの家"
			romaji="kono michi ga doko ni tsudzuku ka/imada ni wakaranai/akenai tsukiyo shou/tadoritsukenu bokura no ie"
		%}
		{% include verse.html
			lyrics="笛の音色に呼びこまれて/今夜も満員御礼/見定めるよ|素敵な食材|ターゲット"
			romaji="fue no neiro ni yobikomarete/kon'ya mo man'in onrei/misadameru yo|sutekina shokuzai|TAAGETTO"
		%}
		{% include verse.html
			lyrics="灼熱地獄に包み込まれ/今夜の晩餐完成/焼肉定食|お前が今夜の|ターゲット"
			romaji="shakunetsu jigoku ni tsutsumikomare/kon'ya no bansan kansei/yakiniku teishoku|omae ga kon'ya no|TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ウサギ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|双子来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|USAGI kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|futago kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ピエロ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|メイド来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|PIERO kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|MEIDO kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="気が付いた時にいたのは/あの森の真ん中/これまでずっと夢を見てた…"
			romaji="kigatsuita toki ni ita no wa/ano mori no mannaka/kore made zutto yume wo miteta..."
		%}
		{% include verse.html
			lyrics="…という夢を見た"
			romaji="...to iu yume wo mita"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a> &middot; <a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="双子のウサギを見つけたなら/それを追いかけちゃいけないよ/飛び込んだ穴の中に決して/不思議な世界は無いのだから"
			romaji="futago no USAGI wo mitsuketa nara/sore wo oikake cha ikenai yo/tobikonda ana no naka ni kesshite/fushigina sekai wa nai no dakara"
		%}
		{% include verse.html
			lyrics="神様はルールを決めたのさ/生まれ変わりゃ記憶を無くす/そうしなけりゃ/壊れだすよ"
			romaji="kamisama wa RUURU wo kimeta no sa/umarekawarya kioku wo nakusu/sou shinakerya/kowaredasu yo"
		%}
		{% include verse.html
			lyrics="そう|パパとママのように/そう|パパとママのように"
			romaji="sou|PAPA to MAMA no you ni/sou|PAPA to MAMA no you ni"
		%}
		{% include verse.html
			lyrics="悪魔の笛が響きだす"
			romaji="akuma no fue ga hibikidasu"
		%}
		{% include verse.html
			lyrics="親のいない子供たちだけが/その音聞くことができる/見定めるよ孤独な心の/ターゲット"
			romaji="oya no inai kodomo-tachi dake ga/sono oto kiku koto ga dekiru/misadameru yo kodokuna kokoro no/TAAGETTO"
		%}
		{% include verse.html
			lyrics="君がただの子供だったなら/不安と記憶を失う/もし君が僕らのあるじなら/ターゲット"
			romaji="kimi ga tada no kodomo datta nara/fuan to kioku wo ushinau/moshi kimi ga bokura no aruji nara/TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ウサギ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|双子来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|USAGI kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|futago kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="ひび割れたガラスの小瓶/もう道は示さない/影のパレード/その行く先は誰も知らず"
			romaji="hibiwareta GARASU no kobin/mou michi wa shimesanai/kage no PAREEDO/sono yukusaki wa dare mo shirazu"
		%}
		{% include verse.html
			lyrics="お菓子の館を見つけたなら/それに魅入れられちゃいけないよ/犬のコックの料理を運ぶ/双子のウサギがいるのだから"
			romaji="okashi no yakata wo mitsuketa nara/sore ni mi irerare cha ikenai yo/inu no KOKKU no ryouri wo hakobu/futago no USAGI ga iru no dakara"
		%}
		{% include verse.html
			lyrics="あるじは体を決めたのさ/候補はいくらでも必要/無限の旅/続けてゆく"
			romaji="aruji wa karada wo kimeta no sa/kouho wa ikura demo hitsuyou/mugen no tabi/tsudzuketeyuku"
		%}
		{% include verse.html
			lyrics="そう|パパとママのように/そう|パパとママのように"
			romaji="sou|PAPA to MAMA no you ni/sou|PAPA to MAMA no you ni"
		%}
		{% include verse.html
			lyrics="悪魔の笛が響きだす"
			romaji="akuma no fue ga hibikadasu"
		%}
		{% include verse.html
			lyrics="今日もレストランは盛況/ウサギは料理を運びつつ/見定めるよ邪悪な心の/ターゲット"
			romaji="kyou mo RESUTORAN wa seikyou/USAGI wa ryouri wo hakobitsutsu/misadameru yo jaakuna kokoro no/TAAGETTO"
		%}
		{% include verse.html
			lyrics="お客は食事を食べ続けて/どんどん体を太らせ/弱肉強食お前もいつかは/ターゲット"
			romaji="okyaku wa shokuji wo tabetsudzukete/dondon karada wo futorase/jakuniku kyoushoku omae mo itsuka wa/TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ピエロ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|メイド来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|PIERO kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|MEIDO kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="この道がどこに続くか/いまだにわからない/明けない月夜抄/辿り着けぬ僕らの家"
			romaji="kono michi ga doko ni tsudzuku ka/imada ni wakaranai/akenai tsukiyo shou/tadoritsukenu bokura no ie"
		%}
		{% include verse.html
			lyrics="笛の音色に呼びこまれて/今夜も満員御礼/見定めるよ素敵な食材/ターゲット"
			romaji="fue no neiro ni yobikomarete/kon'ya mo man'in onrei/misadameru yo sutekina shokuzai/TAAGETTO"
		%}
		{% include verse.html
			lyrics="灼熱地獄に包み込まれ/今夜の晩餐完成/焼肉定食お前が今夜の/ターゲット"
			romaji="shakunetsu jigoku ni tsutsumikomare/kon'ya no bansan kansei/yakiniku teishoku omae ga kon'ya no/TAAGETTO"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ウサギ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|双子来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|USAGI kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|futago kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html
			lyrics="ラヴィ！|ラヴィ！|ピエロ来りて/ラヴィ！|ラヴィ！|笛を吹くのさ/ラヴィ！|ラヴィ！|メイド来りて/ラヴィ！|ラヴィ！|笛を吹くのさ"
			romaji="RAVI!|RAVI!|PIERO kirite/RAVI!|RAVI!|fue wo fuku no sa/RAVI!|RAVI!|MEIDO kirite/RAVI!|RAVI!|fue wo fuku no sa"
		%}
		{% include verse.html class="versebreak5"
			lyrics="気が付いた時にいたのは/あの森の真ん中/これまでずっと夢を見てた…"
			romaji="kigatsuita toki ni ita no wa/ano mori no mannaka/kore made zutto yume wo miteta..."
		%}
		{% include verse.html
			lyrics="…という夢を見た"
			romaji="...to iu yume wo mita"
		%}
	</div>
</div>