---
english-name: Twiright Prank
translation: https://pricechecktranslations.tumblr.com/post/104107047445
mothyrights: <em>The Evillious Chronicles</em>|<em>Twiright Prank</em>
---
<div>
	<h3><a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a> &middot; <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a> <small>(KARENT)</small> &middot; <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a></h3>
	{% include verse.html
		lyrics="なにもないところで/突然つまずいて泣き出した/大丈夫|それはきっと/悪い暮れのいたずらよ"
		romaji="nani mo nai tokoro de/totsuzen tsumazuite nakidashita/daijoubu|sore wa kitto/warui yuugure no itazura yo"
	%}
	{% include verse.html
		lyrics="早く帰らなきゃ/暗くなる前に"
		romaji="hayaku kaeranakya/kuraku naru mae ni"
	%}
	{% include verse.html
		lyrics="水平線の向こうで/アクマがニコリと笑ってた/「私の黒いお腹に/君たちを入れて遊ぼうよ」"
		romaji="suiheisen no mukou de/AKUMA ga NIKORI to waratteta/&quot;watashi no kuroi onaka ni/kimi-tachi wo irete asobou yo&quot;"
	%}
	{% include verse.html
		lyrics="早く帰らなきゃ/食べられる前に"
		romaji="hayaku kaeranakya/taberareru mae ni"
	%}
	{% include verse.html
		lyrics="砂浜に隠してた/小さな箱は/夜の闇|包まれて/もう二度と見つからない"
		romaji="sunahama ni kakushiteta/chiisana hako wa/yoru no yami|tsutsumarete/mou nido to mitsukaranai"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/私は昼/僕は夜/手をつなげばオレンジの空"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/watashi wa hiru/boku wa yoru/te wo tsunageba ORENJI no sora"
	%}
	{% include verse.html
		lyrics="三度目の鐘の音は/アクマが目を覚ます合図/物欲しそうな顔をして/ジロリとこちらを見つめてる"
		romaji="sandome no kane no ne wa/AKUMA ga me wo samasu aizu/monohoshisouna kao wo shite/JIRORI to kochira wo mitsumeteru"
	%}
	{% include verse.html
		lyrics="私のおやつは/あげないからね！"
		romaji="watashi no oyatsu wa/agenai kara ne!"
	%}
	{% include verse.html
		lyrics="お腹が空いたとアクマが/とても悲しそうな顔をした/「世界を全て呑み込んでも/私のお腹はふくれないの」"
		romaji="onaka ga suita to AKUMA ga/totemo kanashisouna kao wo shita/&quot;sekai wo subete nomikonde mo/watashi no onaka wa fukurenai no&quot;"
	%}
	{% include verse.html
		lyrics="かわいそうだから/おやつを分けてあげる"
		romaji="kawaisou dakara/oyatsu wo wakete ageru"
	%}
	{% include verse.html
		lyrics="「ありがとう王子様/お礼にこの海の/小さな秘密を/こっそり教えてあげましょう」"
		romaji="&quot;arigatou ouji-sama/orei ni kono umi no/chiisana himitsu wo/kossori oshiete agemashou&quot;"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/後で君にも教えてあげる/この海の素敵な秘密"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/ato de kimi ni mo oshiete ageru/kono umi no sutekina himitsu"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/私は昼/僕は夜/手をつなげばオレンジの空"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/watashi wa hiru/boku wa yoru/te wo tsunageba ORENJI no sora"
	%}
</div>

<div>
	<h3>PV</h3>
	{% include verse.html
		lyrics="なにもないところで/とつぜんつまずいてなきだした/だいじょうぶ|それはきっと/わるいゆうぐれのいたずらよ"
		romaji="nani mo nai tokoro de/totsuzen tsumazuite nakidashita/daijoubu|sore wa kitto/warui yuugure no itazura yo"
	%}
	{% include verse.html
		lyrics="はやくかえらなきゃ|くらくなるまえに"
		romaji="hayaku kaeranakya|kuraku naru mae ni"
	%}
	{% include verse.html
		lyrics="すいへいせんのむこうで/あくまがにこりとわらってた/「わたしのくろいおなかに/きみたちをいれてあそぼうよ」"
		romaji="suiheisen no mukou de/akuma ga nikori to waratteta/&quot;watashi no kuroi onaka ni/kimi-tachi wo irete asobou yo&quot;"
	%}
	{% include verse.html
		lyrics="はやくかえらなきゃ|たべられるまえに"
		romaji="hayaku kaeranakya|taberareru mae ni"
	%}
	{% include verse.html
		lyrics="すなはもにかくしてた|ちいさなはいは/よるのやみ|つつまれて|もうにどとみつからない"
		romaji="sunahama ni kakushiteta|chiisana hako wa/yoru no yami|tsutsumarete|mou nido to mitsukaranai"
	%}
	{% include verse.html
		lyrics="ゆうやけをふたりで|はんぶんずつわけあおう/わたしはひる|ぼくわよる|てをつなげはオレンジのそら"
		romaji="yuuyake wo futari de|hanbun zutsu wakeaou/watashi wa hiru|boku wa yoru|te wo tsunageba ORENJI no sora"
	%}
	{% include verse.html
		lyrics="さんどめのかねのねは/あくまがめをさますあいず/ものほしそうなかおをして/じろりとこちらをみつめてる"
		romaji="sandome no kane no ne wa/akuma ga me wo samasu aizu/monohoshisouna kao wo shite/jirori to kochira wo mitsumeteru"
	%}
	{% include verse.html
		lyrics="わたしのおやつはあげないからね！"
		romaji="watashi no oyatsu wa agenai kara ne!"
	%}
	{% include verse.html
		lyrics="おなかがすいたとアクマが/とてもかなしそうなかおをした/「せかいをすべてのみこんでも/わたしのおなかはふくれないの」"
		romaji="onaka ga suita to AKUMA ga/totemo kanashisouna kao wo shita/&quot;sekai wo subete nomikonde mo/watashi no onaka wa fukurenai no&quot;"
	%}
	{% include verse.html
		lyrics="かわいそうだからおやつをわけておげる"
		romaji="kawaisou dakara oyatsu wo wakete ageru"
	%}
	{% include verse.html
		lyrics="「ありがとうおうじさま/おれいにこのうみの/ちいさなひみつを/こっそりおしえてあげましょう」"
		romaji="&quot;arigatou ouji-sama/orei ni kono umi no/chiisana himitsu wo/kossori oshiete agemashou&quot;"
	%}
	{% include verse.html
		lyrics="ゆうやけをふたりで|はんぶんずつわけあおう/あとできみにもおしえてあげる|このうみのすてきなひいつ"
		romaji="yuuyake wo futari de|hanbun zutsu wakeaou/ato de kimi ni mo oshiete ageru|kono umi no sutekina himitsu"
	%}
	{% include verse.html
		lyrics="ゆうやけをふたりで|はんぶんずつわけあおう/わたしはひる|ぼくはよる|てをつなげばオレンジのそら"
		romaji="yuuyake wo futari de|hanbun zutsu wakeaou/watashi wa hiru|boku wa yoru|te wo tsunageba ORENJI no sora"
	%}
</div>

<div>
	<h3><a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a></h3>
	{% include verse.html
		lyrics="なにもないところで/突然つまずいて泣き出した/大丈夫|それはきっと/悪い暮れのいたずらよ"
		romaji="nani mo nai tokoro de/totsuzen tsumazuite nakidashita/daijoubu|sore wa kitto/warui yuugure no itazura yo"
	%}
	{% include verse.html
		lyrics="早く帰らなきゃ/暗くなる前に"
		romaji="hayaku kaeranakya/kuraku naru mae ni"
	%}
	{% include verse.html
		lyrics="水平線の向こうで/アクマがニコリと笑ってた/「私の黒いお腹に/君たちを入れて遊ぼうよ」"
		romaji="suiheisen no mukou de/AKUMA ga NIKORI to waratteta/&quot;watashi no kuroi onaka ni/kimi-tachi wo irete asobou yo&quot;"
	%}
	{% include verse.html
		lyrics="早く帰らなきゃ/食べられる前に"
		romaji="hayaku kaeranakya/taberareru mae ni"
	%}
	{% include verse.html
		lyrics="砂浜に隠してた/小さな箱は/夜の闇|包まれて/もう二度と見つからない"
		romaji="sunahama ni kakushiteta/chiisana hako wa/yoru no yami|tsutsumarete/mou nido to mitsukaranai"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/私は昼|僕は夜/手をつなげばオレンジの空"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/watashi wa hiru|boku wa yoru/te wo tsunageba ORENJI no sora"
	%}
	{% include verse.html
		lyrics="三度目の鐘の音は/アクマが目を覚ます合図/物欲しそうな顔をして/ジロリとこちらを見つめてる"
		romaji="sandome no kane no ne wa/AKUMA ga me wo samasu aizu/monohoshisouna kao wo shite/JIRORI to kochira wo mitsumeteru"
	%}
	{% include verse.html
		lyrics="私のおやつは/あげないからね！"
		romaji="watashi no oyatsu wa/agenai kara ne!"
	%}
	{% include verse.html
		lyrics="お腹が空いたとアクマが/とても悲しそうな顔をした/「世界を全て呑み込んでも/私のお腹はふくれないの」"
		romaji="onaka ga suita to AKUMA ga/totemo kanashisouna kao wo shita/&quot;sekai wo subete nomikonde mo/watashi no onaka wa fukurenai no&quot;"
	%}
	{% include verse.html
		lyrics="かわいそうだから/おやつを分けてあげる"
		romaji="kawaisou dakara/oyatsu wo wakete ageru"
	%}
	{% include verse.html
		lyrics="「ありがとう王子様/お礼にこの海の/小さな秘密を/こっそり教えてあげましょう」"
		romaji="&quot;arigatou ouji-sama/orei ni kono umi no/chiisana himitsu wo/kossori oshiete agemashou&quot;"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/後で君にも教えてあげる/この海の素敵な秘密"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/ato de kimi ni mo oshiete ageru/kono umi no sutekina himitsu"
	%}
	{% include verse.html
		lyrics="夕焼けを二人で/半分ずつ分け合おう/私は昼|僕は夜/手をつなげばオレンジの空"
		romaji="yuuyake wo futari de/hanbun zutsu wakeaou/watashi wa hiru|boku wa yoru/te wo tsunageba ORENJI no sora"
	%}
</div>