---
english-name: Waltz of the Departed
image: /assets/images/thumbs/Waltz.png
translation: https://pricechecktranslations.tumblr.com/post/677478029099925504
mothyrights: <em>The Evillious Chronicles</em>
notes: Some typos from the original lyric text have been fixed.
---
<div>
	<h3><a href="https://twitter.com/mothy_akuno/status/1471043248122916874">Twitter</a> &middot; <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今宵は祝いの宴/王も諸侯も無礼講"
			romaji="koyoi wa iwai no utage/ou mo shokou mo bureikou"
		%}
		{% include verse.html
			lyrics="そばかす少女の歌に合わせ/去り人達が踊りだす"
			romaji="sobakasu shoujo no uta ni awase/saribito-tachi ga odoridasu"
		%}
		{% include verse.html
			lyrics="貴族が仕立て屋を誘い/父が人形の手を取る"
			romaji="kizoku ga shitateya wo sasoi/chichi ga ningyou no te wo toru"
		%}
		{% include verse.html
			lyrics="今は全ての罪忘れ/共にワルツを踊りましょう"
			romaji="ima wa subete no tsumi wasure/tomo ni WARUTSU wo odorimashou"
		%}
		{% include verse.html
			lyrics="夜空の満月/もはや欠けることもない"
			romaji="yozora no mangetsu/mohaya kakeru koto mo nai"
		%}
		{% include verse.html
			lyrics="新たな夢想へ/続く扉を照らす"
			romaji="aratana musou he/tsudzuku tobira wo terasu"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/罪深き彩りで"
			romaji="aku no hana mai odoru/tsumibukaki irodori de"
		%}
		{% include verse.html class="versebreak"
			lyrics="そのナイフを仕舞いなさい/誰の命も奪えない"
			romaji="sono NAIFU wo shimainasai/dare no inochi mo ubaenai"
		%}
		{% include verse.html
			lyrics="我らは悪魔か|いや違う/我らは神か|それも違う"
			romaji="warera wa akuma ka|iya chigau/warera wa kami ka|sore mo chigau"
		%}
		{% include verse.html
			lyrics="妬み怒り喰らい眠る/そう我らこそが人間だ"
			romaji="netami ikari kurai nemuru/sou warera koso ga ningen da"
		%}
		{% include verse.html
			lyrics="歌声天高く/空に浮かぶ館まで"
			romaji="utagoe tentataku/sora ni ukabu yakata made"
		%}
		{% include verse.html
			lyrics="道化師（ピエロ）が静かに/それに耳を傾ける"
			romaji="PIERO ga shizuka ni/sore ni mimi wo katamukeru"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/与えられた罰抱え"
			romaji="aku no hana mai odoru/ataerareta batsu kakae"
		%}
		{% include verse.html class="versebreak"
			lyrics="鍵は既に開かれた/進もう解錠の街へ"
			romaji="kagi wa sude ni hirakareta/susumou kaijou no machi he"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/罪深き彩りで"
			romaji="aku no hana mai odoru/tsumibukaki irodori de"
		%}
		{% include verse.html
			lyrics="そのナイフを仕舞いなさい/誰の命も奪えない"
			romaji="sono NAIFU wo shimainasai/dare no inochi mo ubaenai"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/与えられた罰抱え"
			romaji="aku no hana mai odoru/ataerareta batsu kakae"
		%}
		{% include verse.html
			lyrics="鍵は既に開かれた/進もう悪ノ物語"
			romaji="kagi wa sude ni hirakareta/susumou aku NO monogatari"
		%}
	</div>
</div>

<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="今宵は祝いの宴/王も諸侯も無礼講"
			romaji="koyoi wa iwai no utage/ou mo shokou mo bureikou"
		%}
		{% include verse.html
			lyrics="そばかす少女の歌に合わせ/去り人達が踊りだす"
			romaji="sobakasu shoujo no uta ni awase/saribito-tachi ga odoridasu"
		%}
		<p>
			{% include lyric.html lyric="貴族が仕立て屋を誘い" rom="kizoku ga shitateya wo sasoi" %}<br />
			{% include lyric.html lyric="父が<ruby>娘<rp>(</rp><rt>人形</rt><rp>)</rp></ruby>の手を取る" rom="chichi ga ningyou to te wo toru" %}
		</p>
		{% include verse.html
			lyrics="今は全ての罪忘れ/共にワルツを踊りましょう"
			romaji="ima wa subete no tsumi wasure/tomo ni WARUTSU wo odorimashou"
		%}
		{% include verse.html
			lyrics="夜空の満月/もはや欠けることもない"
			romaji="yozora no mangetsu/mohaya kakeru koto mo nai"
		%}
		{% include verse.html
			lyrics="新たな夢想へ/続く扉を照らす"
			romaji="aratana musou he/tsudzuku tobira wo terasu"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/罪深き彩りで"
			romaji="aku no hana mai odoru/tsumibukaki irodori de"
		%}
		{% include verse.html
			lyrics="そのナイフを仕舞いなさい/誰の命も奪えない"
			romaji="sono NAIFU wo shimainasai/dare no inochi mo ubaenai"
		%}
		{% include verse.html
			lyrics="我らは悪魔か|いや違う/我らは神か|それも違う"
			romaji="warera wa akuma ka|iya chigau/warera wa kami ka|sore mo chigau"
		%}
		{% include verse.html
			lyrics="妬み怒り喰らい眠る/そう我らこそが人間だ"
			romaji="netami ikari kurai nemuru/sou warera koso ga ningen da"
		%}
		{% include verse.html
			lyrics="歌声天高く/空に浮かぶ館まで"
			romaji="utagoe tentataku/sora ni ukabu yakata made"
		%}
		<p>
			{% include lyric.html lyric="<ruby>道化師<rp>(</rp><rt>ピエロ</rt><rp>)</rp></ruby>が静かに" rom="PIERO ga shizuka ni" %}<br />
			{% include lyric.html lyric="それに耳を傾ける" rom="sore ni mimi wo katamukeru" %}
		</p>
		{% include verse.html
			lyrics="悪の華舞い踊る/与えられた罰抱え"
			romaji="aku no hana mai odoru/ataerareta batsu kakae"
		%}
		<p>
			{% include lyric.html lyric="鍵は既に開かれた" rom="kagi wa sude ni hirakareta" %}<br />
			{% include lyric.html lyric="進もう<ruby>Unlock City<rp>(</rp><rt>解錠の街</rt><rp>)</rp></ruby>へ" rom="susumou kaijou no machi he" %}
		</p>
		{% include verse.html
			lyrics="悪の華舞い踊る/罪深き彩りで"
			romaji="aku no hana mai odoru/tsumibukaki irodori de"
		%}
		{% include verse.html
			lyrics="そのナイフを仕舞いなさい/誰の命も奪えない"
			romaji="sono NAIFU wo shimainasai/dare no inochi mo ubaenai"
		%}
		{% include verse.html
			lyrics="悪の華舞い踊る/与えられた罰抱え"
			romaji="aku no hana mai odoru/ataerareta batsu kakae"
		%}
		{% include verse.html
			lyrics="鍵は既に開かれた/進もう悪ノ物語"
			romaji="kagi wa sude ni hirakareta/susumou aku NO monogatari"
		%}
	</div>
</div>