---
english-name: Waltz of the Departed
image: /assets/images/thumbs/Waltz.png
translation: 
mothyrights: <em>The Evillious Chronicles</em>
---
<div>
	<h3><a href="https://twitter.com/mothy_akuno/status/1471043248122916874">Twitter</a></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="今宵は祝いの宴/王も庶民も無礼講"
			romaji="koyoi wa iwai no utage/ou mo shokou mo bureikou"
		%}
		{% include verse.html 
			lyrics="そばかす少女の歌に合わせ/去り人達が踊りだす"
			romaji="sobakasu shoujo no uta ni awase/saribito-tachi ga odoridasu"
		%}
		{% include verse.html 
			lyrics="貴族が仕立て屋を誘い/父が人形の手を取る"
			romaji="kizoku ga shitateya wo sasoi/chichi ga ningyou no te wo toru"
		%}
		{% include verse.html 
			lyrics="今は全ての罪忘れ/共にワルツを踊りましょう"
			romaji="ima wa subete no tsumi wasure/tomo ni WARUTSU wo odorimashou"
		%}
		{% include verse.html 
			lyrics="夜空の満月/もはや欠けることもない"
			romaji="yozora no mangetsu/mohaya kakeru koto mo nai"
		%}
		{% include verse.html 
			lyrics="新たな夢想へ/続く扉を照らす"
			romaji="aratana musou he/tsudzuku tobira wo terasu"
		%}
		{% include verse.html 
			lyrics="悪の華舞い踊る/罪深き彩りで"
			romaji="aku no hana mai odoru/tsumibukaki irodori de"
		%}
		{% include verse.html 
			lyrics="そのナイフを仕舞いなさい/誰の命も奪えない"
			romaji="sono NAIFU wo shimainasai/dare no inochi mo ubaenai"
		%}
	</div>
</div>