---
english-name: Watching Us
translation: https://pricechecktranslations.tumblr.com/post/120374091440
mothyrights: <em>The Evillious Chronicles</em>|<em>Watching Us</em>
---
<div>
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="寒い夜の事でした/こんな静かな夜が|僕らは大好きで/［下］を覗くのです"
			romaji="samui yoru no koto deshita/konna shizukana yoru ga|bokura wa daisuki de/[shita] wo nazoku no desu"
		%}
		{% include verse.html
			lyrics="静かな夜なのに|それを邪魔する奴がいる/［下］を蠢くそれは/人間という奴だ"
			romaji="shizukana yoru na no ni|sore wo jamasuru yatsu ga iru/[shita] wo ugomeku sore wa/ningen to iu yatsu da"
		%}
		{% include verse.html
			lyrics="人間はずっと休まない/夜中になっても働く/彼らが操る汽車|その沿線に立つ"
			romaji="ningen wa zutto yasumanai/yonaka ni natte mo hataraku/karera ga ayatsuru kisha|sono ensen ni tatsu"
		%}
		{% include verse.html
			lyrics="二つの工場が今日も/ずっと言い争ってる/どちらの煙突の|煙がより高く上がるか"
			romaji="futatsu no koujou ga kyou mo/zutto iiarasotteru/dochira no entotsu no|kemuri ga yori takaku agaru ka"
		%}
		{% include verse.html
			lyrics="吐き出される煙/それを肺に吸い込んだ/新聞売りの少年が|病気で倒れた"
			romaji="hakidasareru kemuri/sore wo hai ni suikonda/shinbun uri no shounen ga|byouki de taoreta"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/家の布団の中で|胸を押さえ咳き込む"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/ie no futon no naka de|mune wo osae sekikomu"
		%}
		{% include verse.html
			lyrics="少年は木造アパートの窓から/僕らを見ていた"
			romaji="shounen wa mokuzou APAATO no mado kara/bokura wo miteita"
		%}
		{% include verse.html
			lyrics="次の日の夜の事/あの少年の姉は|弟の治療費の為/仕事を増やしたようだ"
			romaji="tsugi no hi no yoru koto/ano shounen no ane wa|otouto no chiryouhi no tame/shigoto wo fuyashita you da"
		%}
		{% include verse.html
			lyrics="人間はずっと休まない/夜中になっても働く/彼女が選んだのは|紡績工場のバイト"
			romaji="ningen wa zutto yasumanai/yonaka ni natte mo hataraku/kanojo ga eranda no wa|bousekoujou no BAITO"
		%}
		{% include verse.html
			lyrics="その工場の横には|製紙工場があって/今日も争うように|煙を吐き続ける"
			romaji="sono koujou no yoko ni wa|seishikoujou ga atte/kyou mo arasou you ni|kemuri wo hakitsudzukeru"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる|僕らのいる空まで/それは黒い雲となり|工場の上を覆う"
			romaji="kokuen wa takaku agaru|bokura no iru sora made/sore wa kuroi kumo to nari|koujou no ue wo oou"
		%}
		{% include verse.html
			lyrics="少女の働く工場からじゃ/僕らは見えない"
			romaji="shoujo no hataraku koujou kara ja/bokura wa mienai"
		%}
		{% include verse.html
			lyrics="人間たちは僕らに［星］という名をつけて/祈ったり|願ったりするけど"
			romaji="ningen-tachi wa bokura ni [hoshi] to iu na wo tsukete/inottari|negattarisuru kedo"
		%}
		{% include verse.html
			lyrics="僕らに奇跡なんて/起こせるわけないだろう？/僕らはただ空から/見ているだけ"
			romaji="bokura ni kiseki nante/okoseru wakenai darou?/bokura wa tada sora kara/miteiru dake"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/少女は治療費の為|工場で働く"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/shoujo wa chiryouhi no tame|koujou de hataraku"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる/僕らのいる空まで"
			romaji="kokuen wa takaku agaru/bokura no iru sora made"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="寒い夜の事でした/こんな静かな夜が|僕らは大好きで/［下］を覗くのです"
			romaji="samui yoru no koto deshita/konna shizukana yoru ga|bokura wa daisuki de/[shita] wo nazoku no desu"
		%}
		{% include verse.html
			lyrics="静かな夜なのに|それを邪魔する奴がいる/［下］を蠢くそれは|人間という奴だ"
			romaji="shizukana yoru na no ni|sore wo jamasuru yatsu ga iru/[shita] wo ugomeku sore wa|ningen to iu yatsu da"
		%}
		{% include verse.html
			lyrics="人間はずっと休まない|夜中になっても働く/彼らが操る汽車|その沿線に立つ/二つの工場が今日も|ずっと言い争ってる/どちらの煙突の|煙がより高く上がるか"
			romaji="ningen wa zutto yasumanai|yonaka ni natte mo hataraku/karera ga ayatsuru kisha|sono ensen ni tatsu/futatsu no koujou ga kyou mo|zutto iiarasotteru/dochira no entotsu no|kemuri ga yori takaku agaru ka"
		%}
		{% include verse.html
			lyrics="吐き出される煙/それを肺に吸い込んだ|新聞売りの少年が/病気で倒れた"
			romaji="hakidasareru kemuri/sore wo hai ni suikonda|shinbun uri no shounen ga/byouki de taoreta"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/家の布団の中で|胸を押さえ咳き込む"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/ie no futon no naka de|mune wo osae sekikomu"
		%}
		{% include verse.html
			lyrics="少年は木造アパートの窓から/僕らを見ていた" class="versebreak"
			romaji="shounen wa mokuzou APAATO no mado kara/bokura wo miteita"
		%}
		{% include verse.html
			lyrics="次の日の夜の事/あの少年の姉は|弟の治療費の為/仕事を増やしたようだ/人間はずっと休まない|夜中になっても働く/彼女が選んだのは|紡績工場のバイト"
			romaji="tsugi no hi no yoru koto/ano shounen no ane wa|otouto no chiryouhi no tame/shigoto wo fuyashita you da/ningen wa zutto yasumanai|yonaka ni natte mo hataraku/kanojo ga eranda no wa|bousekoujou no BAITO"
		%}
		{% include verse.html
			lyrics="その工場の横には|製紙工場があって/今日も争うように煙を吐き続ける"
			romaji="sono koujou no yoko ni wa|seishikoujou ga atte/kyou mo arasou you ni kemuri wo hakitsudzukeru"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる|僕らのいる空まで/それは黒い雲となり|工場の上を覆う"
			romaji="kokuen wa takaku agaru|bokura no iru sora made/sore wa kuroi kumo to nari|koujou no ue wo oou"
		%}
		{% include verse.html class="versebreak"
			lyrics="少女の働く工場からじゃ/僕らは見えない"
			romaji="shoujo no hataraku koujou kara ja/bokura wa mienai"
		%}
		{% include verse.html
			lyrics="人間たちは僕らに［星］という名をつけて/祈ったり|願ったりするけど"
			romaji="ningen-tachi wa bokura ni [hoshi] to iu na wo tsukete/inottari|negattarisuru kedo"
		%}
		{% include verse.html class="versebreak"
			lyrics="僕らに奇跡なんて起こせるわけないだろう？/僕らはただ空から/見ているだけ"
			romaji="bokura ni kiseki nante okoseru wakenai darou?/bokura wa tada sora kara/miteiru dake"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/少女は治療費の為|工場で働く"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/shoujo wa chiryouhi no tame|koujou de hataraku"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる/僕らのいる空まで"
			romaji="kokuen wa takaku agaru/bokura no iru sora made"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="寒い夜の事でした/こんな静かな夜が|僕らは大好きで/［下］を覗くのです"
			romaji="samui yoru no koto deshita/konna shizukana yoru ga|bokura wa daisuki de/[shita] wo nazoku no desu"
		%}
		{% include verse.html
			lyrics="静かな夜なのに|それを邪魔する奴がいる/［下］を蠢くそれは|人間という奴だ"
			romaji="shizukana yoru na no ni|sore wo jamasuru yatsu ga iru/[shita] wo ugomeku sore wa|ningen to iu yatsu da"
		%}
		{% include verse.html
			lyrics="人間はずっと休まない|夜中になっても働く/彼らが操る汽車|その沿線に立つ/二つの工場が今日も|ずっと言い争ってる/どちらの煙突の|煙がより高く上がるか"
			romaji="ningen wa zutto yasumanai|yonaka ni natte mo hataraku/karera ga ayatsuru kisha|sono ensen ni tatsu/futatsu no koujou ga kyou mo|zutto iiarasotteru/dochira no entotsu no|kemuri ga yori takaku agaru ka"
		%}
		{% include verse.html
			lyrics="吐き出される煙/それを肺に吸い込んだ|新聞売りの少年が/病気で倒れた"
			romaji="hakidasareru kemuri/sore wo hai ni suikonda|shinbun uri no shounen ga/byouki de taoreta"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/家の布団の中で|胸を押さえ咳き込む"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/ie no futon no naka de|mune wo osae sekikomu"
		%}
		{% include verse.html class="versebreak"
			lyrics="少年は木造アパートの窓から/僕らを見ていた"
			romaji="shounen wa mokuzou APAATO no mado kara/bokura wo miteita"
		%}
		{% include verse.html
			lyrics="次の日の夜の事/あの少年の姉は|弟の治療費の為/仕事を増やしたようだ/人間はずっと休まない|夜中になっても働く/彼女が選んだのは|紡績工場のバイト"
			romaji="tsugi no hi no yoru koto/ano shounen no ane wa|otouto no chiryouhi no tame/shigoto wo fuyashita you da/ningen wa zutto yasumanai|yonaka ni natte mo hataraku/kanojo ga eranda no wa|bousekoujou no BAITO"
		%}
		{% include verse.html
			lyrics="その工場の横には|製紙工場があって/今日も争うように煙を吐き続ける"
			romaji="sono koujou no yoko ni wa|seishikoujou ga atte/kyou mo arasou you ni kemuri wo hakitsudzukeru"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる|僕らのいる空まで/それは黒い雲となり|工場の上を覆う"
			romaji="kokuen wa takaku agaru|bokura no iru sora made/sore wa kuroi kumo to nari|koujou no ue wo oou"
		%}
		{% include verse.html class="versebreak"
			lyrics="少女の働く工場からじゃ/僕らは見えない"
			romaji="shoujo no hataraku koujou kara ja/bokura wa mienai"
		%}
		{% include verse.html
			lyrics="人間たちは僕らに［星］という名をつけて/祈ったり|願ったりするけど"
			romaji="ningen-tachi wa bokura ni [hoshi] to iu na wo tsukete/inottari|negattarisuru kedo"
		%}
		{% include verse.html
			lyrics="僕らに奇跡なんて起こせるわけないだろう？/僕らはただ空から/見ているだけ"
			romaji="bokura ni kiseki nante okoseru wakenai darou?/bokura wa tada sora kara/miteiru dake"
		%}
		{% include verse.html
			lyrics="少年は貧しいから|病院になど行けず/少女は治療費の為|工場で働く"
			romaji="shounen wa mazushii kara|byouin ni nado ikezu/shoujo wa chiryouhi no tame|koujou de hataraku"
		%}
		{% include verse.html
			lyrics="黒煙は高く上がる/僕らのいる空まで"
			romaji="kokuen wa takaku agaru/bokura no iru sora made"
		%}
	</div>
</div>