---
english-name: The Weathered Head at Onigashima
translation: https://pricechecktranslations.tumblr.com/post/112241802300
mothyrights: <em>The Evillious Chronicles</em>|<em>The Weathered Head at Onigashima</em>
---
<div>
	<h3><a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a></h3>
	{% include verse.html
		lyrics="鬼ヶ島の中央に円尾坂/坂の上の刑場にはさらし首/長い血染めの髪|風に吹かれ/さらりさらり横に流れゆく"
		romaji="onigashima no chuuou ni enbizaka/saka no ue no keijou ni wa sarashi kubi/nagai chizome no kami|kaze ni fukare/sarari sarari yoko ni nagareyuku"
	%}
	{% include verse.html
		lyrics="いかなる罪犯した首であろうか/何も知らぬ旅の僧が人に問う/呉服屋の主人とその家族を/鋏で刺した女だという"
		romaji="ikanaru tsumi okashita kubi de arou ka/nanimo shiranu tabi no sou ga hito ni tou/gofukuya no shuujin to sono kazoku wo/hasami de sashita onna to iu"
	%}
	{% include verse.html
		lyrics="かように美麗な女子（おんなご）が/なにゆえ人を殺めたか"
		romaji="kayou ni bireina onnago ga/naniyue hito wo ayameta ka"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="野ざらしの女は何も語らない/嗚呼|鬼ヶ島|さらし首"
		romaji="nozorashi no onna wa nanimo kataranai/aa|onigashima|sarashi kubi"
	%}
	{% include verse.html
		lyrics="咎人の供養も愚僧の務め/あくる日も訪れた円尾坂の上/首の前に先客|童（わらし）が一人/彼はいかなる者であろうか"
		romaji="toganin no kuyou mo sou no tsutome/akuru hi mo otozureta enbizaka no ue/kubi no mae ni senkyaku|warashi ga hitori/kare wa ikanaru mono de arou ka"
	%}
	{% include verse.html
		lyrics="僧の問いに童はこう答えた/この首を切り落としたのは自分だと/罪深き女だが憐れでもある/共に手を合わせ経を唱えた"
		romaji="sou no toi ni warashi wa kou kotaeta/kono kubi wo kiriotoshita no wa jibun da to/tsumibukaki onna da ga aware demo aru/tomo ni te wo awase kei wo tonaeta"
	%}
	{% include verse.html
		lyrics="女は腕のいい仕立屋で/雅（みやび）な著物を織ったという"
		romaji="onna wa ude no ii shitateya de/miyabina kimono wo otta to iu"
	%}
	{% include verse.html style="margin-bottom:3.2em;"
		lyrics="されどもう鋏を持つ腕もない/嗚呼|円尾坂|さらし首"
		romaji="saredomo mou hasami wo motsu ude mo nai/aa|enbizaka|sarashi kubi"
	%}
	{% include verse.html
		lyrics="どんなに綺麗な着物でも/胴が無ければ着られない"
		romaji="donna ni kireina kimono demo/dou ga nakereba kirarenai"
	%}
	{% include verse.html
		lyrics="野ざらしの女は何も語らない/嗚呼|鬼ヶ島|さらし首/嗚呼|円尾坂|さらし首"
		romaji="nozarashi no onna wa nanimo kataranai/aa|onigashima|sarashi kubi/aa|enbizaka|sarashi kubi"
	%}
</div>