---
english-name: Wendy
translation: https://pricechecktranslations.tumblr.com/post/133901296445
mothyrights: <em>The Evillious Chronicles</em>|<em>Wendy</em>
---
<div><!--TO ADD: Haiten★Girl 2 ver-->
	<h3><a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ピーターパンが私のもとへやってきたの"
			romaji="PIITAA PAN ga watashi no moto he yattekita no"
		%}
		{% include verse.html
			lyrics="机にかじりついて/手紙に妄想を書きなぐった/隣であの子が言った/なんと人は空を飛べるらしい"
			romaji="tsukue ni kajiritsuite/tegami ni mousou wo kakinagutta/tonari de ano ko ga itta/nanto hito wa sora wo toberu rashii"
		%}
		{% include verse.html
			lyrics="おかしいくらいに欠けたお月様/そこへ向けて窓から飛び出した"
			romaji="okashii kurai ni kaketa otsuki-sama/soko he mukete mado kara tobidashita"
		%}
		{% include verse.html
			lyrics="羽がなくても空を飛べるんだと/信じてたから怖くはなかった/両手広げて風を受け止めた/どこまで行くの？|高く|高く"
			romaji="hane ga nakutemo sora wo toberu nda to/shinjiteta kara kowaku wa nakatta/ryoute hirogete kaze wo uketometa/doko made iku no?|takaku|takaku"
		%}
		{% include verse.html
			lyrics="ピーターパンが私のもとへやってきたの"
			romaji="PIITAA PAN ga watashi no moto he yattekita no"
		%}
		{% include verse.html
			lyrics="人がゴミのようだわ/高すぎる空から見えたものは/ものすごいスピードで/どこかへ向かっているアカイヒカリ"
			romaji="hito ga GOMI no you da wa/takasugiru sora kara mieta mono wa/mono sugoi SUPIIDO de/dokoka he mukatteiru AKAI HIKARI"
		%}
		{% include verse.html
			lyrics="抱えてたはずのココロの悩みも/悲しいほどに全てが小さくて"
			romaji="kakaeteta hazu no KOKORO no nayami mo/kanashii hodo ni subete ga chiisakute"
		%}
		{% include verse.html
			lyrics="羽がなくても空を飛べるんだと/信じてたから怖くはなかった/そんな私に気づくことなく/みんなどこかで笑ってる"
			romaji="hane ga nakutemo sora wo toberu nda to/shinjiteta kara kowaku wa nakatta/sonna watashi ni kidzuku koto naku/minna dokoka de waratteru"
		%}
		{% include verse.html
			lyrics="ピーターパンはどこにもいない|私は一人"
			romaji="PIITAA PAN wa doko ni mo inai|watashi wa hitori"
		%}
		{% include verse.html
			lyrics="灯りの消えた私の部屋では/机の上に花が咲いていた"
			romaji="akari no kieta watashi no heya de wa/tsukue no ue ni hana ga saiteita"
		%}
		{% include verse.html
			lyrics="羽がなくても空を飛べるんだと/信じてたから怖くはなかった/黒い服着た人たちに向けて/手を振ったんだ|じゃあね|バイバイ"
			romaji="hane ga nakutemo sora wo toberu nda to/shinjiteta kara kowaku wa nakatta/kuroi fuku kita hito-tachi ni mukete/te wo futta nda|jaa ne|BAIBAI"
		%}
		{% include verse.html
			lyrics="パパもママもお願いだから泣かないでよ"
			romaji="PAPA mo MAMA mo onegai dakara nakanaide yo"
		%}
	</div>
</div>