---
english-name: Whereabouts of the Miracle
image: /assets/images/thumbs/OSS2.jpg
translation: https://pricechecktranslations.tumblr.com/post/104022434795
mothyrights: <em>The Evillious Chronicles</em>|<em>Whereabouts of the Miracle</em>
notes: Some typos from the original lyric text have been fixed.
---
<div>
	<h3><a href="{% link album/oss-act-2.html %}"><em>Original Sin Story ―Act 2―</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="＜&quot;HER&quot; WHISPER＞"
		%}
		{% include verse.html
			lyrics="ネエ|ダーリン/コノ声ガ聞コエマスカ？/ネエ|ダーリン/コノ声ガ聞コエルナラ/神殿ノアノ箱舟ニ亡骸ヲ/放リ込ンデ私ヲ蘇ラセテ"
			romaji="NEE|DAARIN/KONO koe GA kiKOEMASU KA?/NEE|DAARIN/KONO koe GA kiKOERU NARA/shinden NO ANO hakofune NI nakigara WO/houRIkoNDE watashi WO yomigaeRASETE"
		%}
		{% include verse.html
			lyrics="コノ国ハ腐ッテシマッタノヨ/欲望ニ皆目ガクランデルノ/全テヲ元ニ戻サナクチャ/アナタトソウ|コノ私ノ手デ"
			romaji="KONO kuni WA kusaTTE SHIMATTA NO YO/yokubou NI mina me GA KURANDERU NO/subeTE WO moto ni modo SANAKUCHA/ANATA TO SOU|KONO watashi NO te DE"
		%}
		{% include verse.html
			lyrics="ヒトリデハデキナイコトモ/フタリナラキット/乗リ越エラレル/奇跡ノ行方ハ今/アナタノ手ニ"
			romaji="HITORI DE WA DEKINAI KOTO MO/FUTARI NARA KITTO/noRIkoERARERU/kiseki NO yukue WA ima/ANATA NO te NI"
		%}
		{% include verse.html class="versebreak"
			lyrics="禁ジラレタ装置ハコノ先ニ/今ナラバ誰ニモミツカラナイ/サア急イデ/ココカラ始メルノ/躊躇セズニ/タダ走リ続ケテ"
			romaji="kinJIRARETA souchi WA KONO saki NI/ima NARABA dare NI MO MITSUKARANAI/SAA isoIDE/KOKO KARA hajiMERU NO/chuucho SEZUNI/TADA hashiRItsudzuKETE"
		%}
		{% include verse.html
			lyrics="＜HER WHISPER＞"
		%}
		{% include verse.html
			lyrics="未知の扉の鍵を開けて/目の前の箱舟/その名は&quot;罪&quot;"
			romaji="michi no tobira no kagi wo akete/me no mae no hakofune/sono na wa &quot;tsumi&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="あなたは何を望み/何を手に入れるの？/どうか/惑わされないで"
			romaji="anata wa nani wo nozomi/nani wo te ni ireru no?/douka/madowasarenaide"
		%}
		{% include verse.html
			lyrics="＜*** WHISPER＞"
		%}
		{% include verse.html class="versebreak"
			lyrics="ネエ|ダーリン/早ク放リ込ンデ/私ノ身体ヲ/ソコニブチ込ムノヨ/サッサトヤルンダヨ/コノウスノロ野郎メ/早ク早ク/ソイツノナカニ……"
			romaji="NEE|DAARIN/hayaKU houRIkomiNDE/watashi NO karada WO/SOKO NI BUCHIkoMUNO YO/SASSATO YARUNDA YO/KONO USONORO yarou-ME/hayaKU hayaKU/SOITSU NO NAKA NI......"
		%}
		{% include verse.html
			lyrics="＜CATASTROPHE＞"
		%}
		{% include verse.html
			lyrics="賽は投げられた/それは決して/起こしてはいけなかった/奇跡/&quot;罪&quot;に踊らされた彼の凶行"
			romaji="sai wa nagerareta/sore wa kesshite/okoshite wa ikenakatta/kiseki/&quot;tsumi&quot; ni odorasareta kare no kyoukou"
		%}
		{% include verse.html class="versebreak"
			lyrics="花も|人も|国も|彼も/全てを巻き込んで溶けてゆく/蘇った私だけを残して/全て"
			romaji="hana mo|hito mo|kuni mo|kare mo/subete wo makikonde toketeyuku/yomigaetta watashi dake wo nokoshite/subete"
		%}
		{% include verse.html
			lyrics="＜LULLABY＞"
		%}
		{% include verse.html
			lyrics="るりら|るりら/私が/目覚めた時には|なにもない"
			romaji="rurira|rurira/watashi ga/mezameta toki ni wa|nani mo nai"
		%}
		{% include verse.html
			lyrics="全てを失った私はその代償に/無限の時を手に入れた"
			romaji="subete wo ushinatta watashi wa sono daishou ni/mugen no toki wo te ni ireta"
		%}
		{% include verse.html
			lyrics="だけどもう|なにもない/あの人もあの子も|もういない"
			romaji="dakedo mou|nani mo nai/ano hito mo ano ko mo|mou inai"
		%}
		{% include verse.html
			lyrics="くすんだ二つの光が/エルドの森へ/ぽつんと落ちていった"
			romaji="kusunda futatsu no hikari ga/ERUDO no mori he/potsun to ochiteitta"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="＜&quot;HER&quot; WHISPER＞"
		%}
		{% include verse.html
			lyrics="ネエ|ダーリン/コノ声ガ聞コエマスカ？/ネエ|ダーリン/コノ声ガ聞コエルナラ/神殿ノアノ箱舟ニ亡骸ヲ/放リ込ンデ私ヲ蘇ラセテ"
			romaji="NEE|DAARIN/KONO koe GA kiKOEMASU KA?/NEE|DAARIN/KONO koe GA kiKOERU NARA/shinden NO ANO hakofune NI nakigara WO/houRIkoNDE watashi WO yomigaeRASETE"
		%}
		{% include verse.html
			lyrics="コノ国ハ腐ッテシマッタノヨ/欲望ニ皆目ガクランデルノ/全テヲ元ニ戻サナクチャ/アナタトソウ|コノ私ノ手デ"
			romaji="KONO kuni WA kusaTTE SHIMATTA NO YO/yokubou NI mina me GA KURANDERU NO/subeTE WO moto ni modo SANAKUCHA/ANATA TO SOU|KONO watashi NO te DE"
		%}
		{% include verse.html
			lyrics="ヒトリデハデキナイコトモ/フタリナラキット乗リ越エラレル/奇跡ノ行方ハ今|アナタノ手ニ"
			romaji="HITORI DE WA DEKINAI KOTO MO/FUTARI NARA KITTO noRIkoERARERU/kiseki NO yukue WA ima|ANATA NO te NI"
		%}
		{% include verse.html class="versebreak"
			lyrics="禁ジラレタ装置ハコノ先ニ/今ナラバ誰ニモミツカラナイ/サア急イデ/ココカラ始メルノ/躊躇セズニ/タダ走リ続ケテ"
			romaji="kinJIRARETA souchi WA KONO saki NI/ima NARABA dare NI MO MITSUKARANAI/SAA isoIDE/KOKO KARA hajiMERU NO/chuucho SEZUNI/TADA hashiRItsudzuKETE"
		%}
		{% include verse.html
			lyrics="＜HER WHISPER＞"
		%}
		{% include verse.html
			lyrics="未知の扉の鍵を開けて/目の前の箱舟|その名は&quot;罪&quot;"
			romaji="michi no tobira no kagi wo akete/me no mae no hakofune|sono na wa &quot;tsumi&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="あなたは何を望み/何を手に入れるの？/どうか|惑わされないで"
			romaji="anata wa nani wo nozomi/nani wo te ni ireru no?/douka|madowasarenaide"
		%}
		{% include verse.html
			lyrics="＜*** WHISPER＞"
		%}
		{% include verse.html class="versebreak"
			lyrics="ネエ|ダーリン/早ク放リ込ンデ/私ノ身体ヲ|ソコニブチ込ムノヨ/サッサトヤルンダヨ/コノウスノロ野郎メ/早ク早ク|ソイツノナカニ……"
			romaji="NEE|DAARIN/hayaKU houRIkomiNDE/watashi NO karada WO|SOKO NI BUCHIkoMUNO YO/SASSATO YARUNDA YO/KONO USONORO yarou-ME/hayaKU hayaKU|SOITSU NO NAKA NI......"
		%}
		{% include verse.html
			lyrics="＜CATASTROPHE＞"
		%}
		{% include verse.html
			lyrics="賽は投げられた/それは決して起こしてはいけなかった奇跡/&quot;罪&quot;に踊らされた彼の凶行"
			romaji="sai wa nagerareta/sore wa kesshite okoshite wa ikenakatta kiseki/&quot;tsumi&quot; ni odorasareta kare no kyoukou"
		%}
		{% include verse.html class="versebreak"
			lyrics="花も|人も|国も|彼も/全てを巻き込んで溶けてゆく/蘇った私だけを残して/全て"
			romaji="hana mo|hito mo|kuni mo|kare mo/subete wo makikonde toketeyuku/yomigaetta watashi dake wo nokoshite/subete"
		%}
		{% include verse.html
			lyrics="＜LULLABY＞"
		%}
		{% include verse.html
			lyrics="るりら|るりら/私が目覚めた時には|なにもない"
			romaji="rurira|rurira/watashi ga mezameta toki ni wa|nani mo nai"
		%}
		{% include verse.html
			lyrics="全てを失った私はその代償に/無限の時を手に入れた"
			romaji="subete wo ushinatta watashi wa sono daishou ni/mugen no toki wo te ni ireta"
		%}
		{% include verse.html
			lyrics="だけどもう|なにもない/あの人もあの子も|もういない"
			romaji="dakedo mou|nani mo nai/ano hito mo ano ko mo|mou inai"
		%}
		{% include verse.html
			lyrics="くすんだ二つの光がエルドの森へ/ぽつんと落ちていった"
			romaji="kusunda futatsu no hikari ga ERUDO no mori he/potsun to ochiteitta"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="＜&quot;HER&quot; WHISPER＞"
		%}
		{% include verse.html
			lyrics="ネエ|ダーリン/コノ声ガ聞コエマスカ？/ネエ|ダーリン/コノ声ガ聞コエルナラ/神殿ノアノ箱舟ニ亡骸ヲ/放リ込ンデ私ヲ蘇ラセテ"
			romaji="NEE|DAARIN/KONO koe GA kiKOEMASU KA?/NEE|DAARIN/KONO koe GA kiKOERU NARA/shinden NO ANO hakofune NI nakigara WO/houRIkoNDE watashi WO yomigaeRASETE"
		%}
		{% include verse.html
			lyrics="コノ国ハ腐ッテシマッタノヨ/欲望ニ皆目ガクランデルノ/全テヲ元ニ戻サナクチャ/アナタトソウ|コノ私ノ手デ"
			romaji="KONO kuni WA kusaTTE SHIMATTA NO YO/yokubou NI mina me GA KURANDERU NO/subeTE WO moto ni modo SANAKUCHA/ANATA TO SOU|KONO watashi NO te DE"
		%}
		{% include verse.html
			lyrics="ヒトリデハデキナイコトモ/フタリナラキット乗リ越エラレル/奇跡ノ行方ハ今|アナタノ手ニ"
			romaji="HITORI DE WA DEKINAI KOTO MO/FUTARI NARA KITTO noRIkoERARERU/kiseki NO yukue WA ima|ANATA NO te NI"
		%}
		{% include verse.html class="versebreak"
			lyrics="禁ジラレタ装置ハコノ先ニ/今ナラバ誰ニモミツカラナイ/サア急イデ/ココカラ始メルノ/躊躇セズニ/タダ走リ続ケテ"
			romaji="kinJIRARETA souchi WA KONO saki NI/ima NARABA dare NI MO MITSUKARANAI/SAA isoIDE/KOKO KARA hajiMERU NO/chuucho SEZUNI/TADA hashiRItsudzuKETE"
		%}
		{% include verse.html
			lyrics="＜HER WHISPER＞"
		%}
		{% include verse.html
			lyrics="未知の扉の鍵を開けて/目の前の箱舟/その名は&quot;罪&quot;"
			romaji="michi no tobira no kagi wo akete/me no mae no hakofune/sono na wa &quot;tsumi&quot;"
		%}
		{% include verse.html class="versebreak"
			lyrics="あなたは何を望み/何を手に入れるの？/どうか/惑わされないで"
			romaji="anata wa nani wo nozomi/nani wo te ni ireru no?/douka/madowasarenaide"
		%}
		{% include verse.html
			lyrics="＜*** WHISPER＞"
		%}
		{% include verse.html class="versebreak"
			lyrics="ネエ|ダーリン/早ク放リ込ンデ/私ノ身体ヲ/ソコニブチ込ムノヨ/サッサトヤルンダヨ/コノウスノロ野郎メ/早ク早ク/ソイツノナカニ……"
			romaji="NEE|DAARIN/hayaKU houRIkomiNDE/watashi NO karada WO/SOKO NI BUCHIkoMUNO YO/SASSATO YARUNDA YO/KONO USONORO yarou-ME/hayaKU hayaKU/SOITSU NO NAKA NI......"
		%}
		{% include verse.html
			lyrics="＜CATASTROPHE＞"
		%}
		{% include verse.html
			lyrics="賽は投げられた/それは決して起こしてはいけなかった奇跡/&quot;罪&quot;に踊らされた彼の凶行"
			romaji="sai wa nagerareta/sore wa kesshite okoshite wa ikenakatta kiseki/&quot;tsumi&quot; ni odorasareta kare no kyoukou"
		%}
		{% include verse.html class="versebreak"
			lyrics="花も|人も|国も|彼も/全てを巻き込んで溶けてゆく/蘇った私だけを残して/全て"
			romaji="hana mo|hito mo|kuni mo|kare mo/subete wo makikonde toketeyuku/yomigaetta watashi dake wo nokoshite/subete"
		%}
		{% include verse.html
			lyrics="＜LULLABY＞"
		%}
		{% include verse.html
			lyrics="るりら|るりら/私が/目覚めた時には|なにもない"
			romaji="rurira|rurira/watashi ga/mezameta toki ni wa|nani mo nai"
		%}
		{% include verse.html
			lyrics="全てを失った私はその代償に/無限の時を手に入れた"
			romaji="subete wo ushinatta watashi wa sono daishou ni/mugen no toki wo te ni ireta"
		%}
		{% include verse.html
			lyrics="だけどもう|なにもない/あの人も|あの子も|もういない"
			romaji="dakedo mou|nani mo nai/ano hito mo|ano ko mo|mou inai"
		%}
		{% include verse.html
			lyrics="くすんだ二つの光がエルドの森へ/ぽつんと落ちていった"
			romaji="kusunda futatsu no hikari ga ERUDO no mori he/potsun to ochiteitta"
		%}
	</div>
</div>