---
english-name: White Brick and Black Mourning Dress
translation: https://pricechecktranslations.tumblr.com/post/118704167045
mothyrights: <em>The Evillious Chronicles</em>|<em>White Brick and Black Mourning Dress</em>
---
<div><!--DOUBLECHECK-->
	<h3><em>Triangle ―vol. 2―</em></h3>
	{% include verse.html
		lyrics="白いレンガは骨董屋/忘れ去られた想い出たち/棚の片隅|眠る鏡/それは誰かの記憶"
		romaji="shiroi RENGA wa kottouya/wasuresarareta omoide-tachi/tana no katasumi|nemuru kagami/sore wa dareka no kioku"
	%}
	{% include verse.html
		lyrics="黒い喪服は親なき子/行く当てのない女の子/今日の寝床を探す途中/あの少年に出会う"
		romaji="kuroi mofuku wa oyanaki ko/ikuate no nai onna no ko/kyou no nedoko wo sagasu touchuu/ano shounen ni deau"
	%}
	{% include verse.html
		lyrics="ショーウィンドウの中にある/小さな手鏡/そこにだけ映る少年に/少女は恋をした"
		romaji="SHOO WINDOU no naka ni aru/chiisana tekagami/soko ni dake utsuru shounen ni/shoujo wa koi wo shita"
	%}
	{% include verse.html
		lyrics="その日からすべてが変わった/毎日彼に会いに行った/彼はいつでも微笑んでた/それで幸せだった"
		romaji="sono hi kara subete ga kawatta/mainichi kare ni ai ni itta/kare wa itsudemo hohoendeta/sore de shiawase datta"
	%}
	{% include verse.html
		lyrics="赤い制服は老紳士/オンボロなこの店の主人/嫌な顔など微塵も見せず/少女を見守っていた"
		romaji="akai seifuku wa roushinshi/ONBOROna kono mise no shujin/iyana kao nado mijin mo misezu/shoujo wo mimamotteita"
	%}
	{% include verse.html
		lyrics="黄色い髪は恋する子/その手鏡が欲しいけれど/札に書かれた金額など/持ち合わせてはいない"
		romaji="kiiroi kami wa koisuru ko/sono tekagami ga hoshii keredo/fuda ni kakareta kingaku nado/mochiawasete wa inai"
	%}
	{% include verse.html
		lyrics="「少女よ|君の瞳が/その心と共に/純粋なままならばいつか/僕は君と共に」"
		romaji="&quot;shoujo yo|kimi no hitomi ga/sono kokoro to tomo ni/junsuina mama naraba itsuka/boku wa kimi to tomo ni&quot;"
	%}
	{% include verse.html
		lyrics="その声が聞こえていたのは/きっと目の前の少女だけ/彼は今日も微笑んでた/それで幸せだった"
		romaji="sono koe ga kikoeteita no wa/kitto me no mae no shoujo dake/kare wa kyou mo hohoendeta/sore de shiawase datta"
	%}
	{% include verse.html
		lyrics="少女がやがて大人になった時/鏡を手に入れることはなかった/純粋なままではいられなかった/私は汚れてしまった"
		romaji="shoujo ga yagate otona ni natta toki/kagami wo te ni ireru koto wa nakatta/junsuina mama de wa irarenakatta/watashi wa yogoreteshimatta"
	%}
	{% include verse.html
		lyrics="望まぬ人生|望まぬ結婚/やがて生まれた一人息子/彼は今日も微笑んでた/それで幸せだった"
		romaji="nozomanu jinsei|nozomanu kekkon/yagate umareta hitori musuko/kare wa kyou mo hohoendeta/sore de shiawase datta"
	%}
</div>