---
english-name: Wordplay
translation: https://pricechecktranslations.tumblr.com/post/103864622350
mothyrights: <em>The Evillious Chronicles</em>|<em>Wordplay</em>
---
<div>
	<h3>piapro &middot; <a href="/album/evils-theater"><em>EVILS THEATER</em></a> <small>(KARENT)</small></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="ははということば|はじめてしった/ちちということば|はじめておぼえた"
			romaji="haha to iu kotoba|hajimete shitta/chichi to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="かぜということば|はじめてしった/みずということば|はじめておぼえた"
			romaji="kaze to iu kotoba|hajimete shitta/mizu to iu kotoba|hajimete obeta"
		%}
		{% include verse.html 
			lyrics="ともということば|はじめてしった/ゆめということば|はじめておぼえた"
			romaji="tomo to iu kotoba|hajimete shitta/yume to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="あいということば|おぼえたころ/せかいのかたちをしった"
			romaji="ai to iu kotoba|oboeta koro/sekai no katachi wo shitta"
		%}
		{% include verse.html 
			lyrics="たとえば今の気持ちを伝えるのに/どんな言葉が正しいのでしょう/ただその答えを知るためだけに/ひたすらに続けよう言葉遊び"
			romaji="tatoeba ima no kimochi wo tsutaeru no ni/donna kotoba ga tadashii no deshou/tada sono kotae wo shiru tame dake ni/hitasura ni tsudzukeyou kotoba asobi"
		%}
		{% include verse.html 
			lyrics="嘘という言葉|初めて知った/傷という言葉|初めて覚えた"
			romaji="uso to iu kotoba|hajimete shitta/kizu to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="罪という言葉|初めて知った/罰という言葉|初めて覚えた"
			romaji="tsumi to iu kotoba|hajimete shitta/batsu to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="悪という言葉|覚えたころ/世界の闇を知った"
			romaji="aku to iu kotoba|oboeta koro/sekai no yami wo shitta"
		%}
		{% include verse.html 
			lyrics="たとえばあなたが私を捨てる時/どんな言葉をかけるのでしょう/知りたくない答えを知るために/まだまだ続けましょう言葉遊び"
			romaji="tatoeba anata ga watashi wo suteru toki/donna kotoba wo kakeru no deshou/shiritakunai kotae wo shiru tame ni/madamada tsudzukemashou kotoba asobi"
		%}
		{% include verse.html 
			lyrics="たとえば今の気持ちを伝えるのに/どんな言葉が正しいのでしょう/おはよう|こんにちは|ありがとう|さようなら/ひたすらにつづけよう言葉遊び"
			romaji="tatoeba ima no kimochi wo tsutaeru no ni/donna kotoba ga tadashii no deshou/ohayou|konnichiwa|arigatou|sayounara/hitasura ni tsudzukeyou kotoba asobi"
		%}
	</div>
</div>

<div>
	<h3><a href="/album/evils-theater"><em>EVILS THEATER</em></a></h3>
	<div class="lyricbox">
		{% include verse.html 
			lyrics="ははということば|はじめてしった/ちちということば|はじめておぼえた"
			romaji="haha to iu kotoba|hajimete shitta/chichi to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="かぜということば|はじめてしった/みずということば|はじめておぼえた"
			romaji="kaze to iu kotoba|hajimete shitta/mizu to iu kotoba|hajimete obeta"
		%}
		{% include verse.html 
			lyrics="ともということば|はじめてしった/ゆめということば|はじめておぼえた"
			romaji="tomo to iu kotoba|hajimete shitta/yume to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="あいということば|おぼえたころ/せかいのかたちをしった"
			romaji="ai to iu kotoba|oboeta koro/sekai no katachi wo shitta"
		%}
		{% include verse.html 
			lyrics="たとえば今の気持ちを伝えるのに/どんな言葉が正しいのでしょう/ただその答えを知るためだけに/ひたすらに続けよう言葉遊び"
			romaji="tatoeba ima no kimochi wo tsutaeru no ni/donna kotoba ga tadashii no deshou/tada sono kotae wo shiru tame dake ni/hitasura ni tsudzukeyou kotoba asobi"
		%}
		{% include verse.html 
			lyrics="嘘という言葉|初めて知った/傷という言葉|初めて覚えた"
			romaji="uso to iu kotoba|hajimete shitta/kizu to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html 
			lyrics="罪という言葉|初めて知った/罰という言葉|初めて覚えた"
			romaji="tsumi to iu kotoba|hajimete shitta/batsu to iu kotoba|hajimete oboeta"
		%}
		{% include verse.html
			lyrics="悪という言葉|覚えたころ/世界の闇を知った"
			romaji="aku to iu kotoba|oboeta koro/sekai no yami wo shitta"
		%}
		{% include verse.html 
			lyrics="たとえばあなたが私を捨てる時/どんな言葉をかけるのでしょう/知りたくない答えを知るために/まだまだ続けましょう言葉遊び"
			romaji="tatoeba anata ga watashi wo suteru toki/donna kotoba wo kakeru no deshou/shiritakunai kotae wo shiru tame ni/madamada tsudzukemashou kotoba asobi"
		%}
		{% include verse.html 
			lyrics="たとえば今の気持ちを伝えるのに/どんな言葉が正しいのでしょう/おはよう|こんにちは|ありがとう|さようなら/ひたすらにつづけよう言葉遊び"
			romaji="tatoeba ima no kimochi wo tsutaeru no ni/donna kotoba ga tadashii no deshou/ohayou|konnichiwa|arigatou|sayounara/hitasura ni tsudzukeyou kotoba asobi"
		%}
		{% include verse.html
			lyrics="わたしはいつでも|ここにいるよ/いつものとおりに|ことばをおしえて"
			romaji="watashi wa itsudemo|koko ni iru yo/itsumo no toori ni|kotoba wo oshiete"
		%}
	</div>
</div>