---
english-name: You Only Have to Double Jump
image: /assets/images/thumbs/DoubleJump.jpg
translation: https://docs.google.com/spreadsheets/d/1cMDTybKDYoE6hDKvmh2G7E1XWPVM_h3-umc-pqQR2kw/edit#gid=655320058
mothyrights: <em>The Evillious Chronicles</em>|<em>You Only Have to Double Jump</em>
---
<div><!--TOADD: Compass Album ver.-->
	<h3>PV</h3>
	<div class="lyricbox">
		{% include verse.html
			lyrics="ふるさとを飛び立ち/ただひとり大地をゆく"
			romaji="furusato wo tobitachi/tada hitori daichi wo yuku"
		%}
		{% include verse.html
			lyrics="立ち止まる事さえも/許されはしない"
			romaji="tachidomaru koto sae mo/yurusare wa shinai"
		%}
		{% include verse.html
			lyrics="平坦な道はなく/時に誰かを傷つけ"
			romaji="heitanna michi wa naku/toki ni dareka wo kizutsuke"
		%}
		{% include verse.html
			lyrics="終りの見えない/旅かもしれない/だけど信じて欲しい"
			romaji="owari no mienai/tabi kamo shirenai/dakedo shinjite hoshii"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/勇気を示すには/一回だけじゃ足りない"
			romaji="kimi wa tada nikai tobeba ii/saa fumidase|sono ashi de/yuuki wo shimesu ni wa/ikkai dake ja tarinai"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/勇気の証明は/きっとどこかに刻まれるから"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/yuuki no shoumei wa/kitto dokoka ni kizamareru kara"
		%}
		{% include verse.html
			lyrics="どれだけ進もうとも/知られざる物語"
			romaji="dore dake susumou to mo/shirarezaru monogatari"
		%}
		{% include verse.html
			lyrics="背後からせまるのは/絶望という壁"
			romaji="haigo kara semaru no wa/zetsubou to iu kabe"
		%}
		{% include verse.html
			lyrics="戦う事でしか/活路を見いだせずにいる"
			romaji="tatakau koto de shika/katsuro wo miidasezu ni iru"
		%}
		{% include verse.html
			lyrics="最後の敵はまだ/どこにも見えない/だけど諦めないで"
			romaji="saigo no teki wa mada/doko ni mo mienai/dakedo akiramenaide"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/準備は出来ている/助走はもう十分だ"
			romaji="kimi wa tada nikai tobeba ii/saa fumidase|sono ashi de/junbi wa dekiteiru/josou wa mou juubun da"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/多くの間違いも/きっといつしか糧になる"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/ooku no machigai mo/kitto itsushika kate ni naru"
		%}
		{% include verse.html
			lyrics="駆けるための道を/示すコンパスは/いま/君の手の中にあるから"
			romaji="kakeru tame no michi wo/shimesu KONPASU wa/ima/kimi no te no naka ni aru kara"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/勇気を示すには/一回だけじゃ足りない"
			romaji="kimi wa tada nikai tobeba ii/saafumidase|sono ashi de/yuuki wo shimesu ni wa/ikkai dake ja tarinai"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/勇気の証明は/きっとどこかに刻まれるから"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/yuuki no shoumei wa/kitto dokoka ni kizamareru kara"
		%}
	</div>
</div>

<div>
	<h3><a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a></h3>
	<div class="lyricbox">
		<p>
			{% include lyric.html lyric="<ruby>故郷<rp>(</rp><rt>ふるさと</rt><rp>)</rp></ruby>を飛び立ち" rom="furusato wo tobitachi" %}<br />
			{% include lyric.html lyric="ただひとり大地をゆく" rom="tada hitori daichi wo yuku" %}
		</p>
		{% include verse.html
			lyrics="立ち止まる事さえも/許されはしない"
			romaji="tachidomaru koto sae mo/yurusare wa shinai"
		%}
		{% include verse.html
			lyrics="平坦な道はなく/時に誰かを傷つけ"
			romaji="heitanna michi wa naku/toki ni dareka wo kizutsuke"
		%}
		{% include verse.html
			lyrics="終りの見えない旅かもしれない/だけど信じて欲しい"
			romaji="owari no mienai tabi kamo shirenai/dakedo shinjite hoshii"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/勇気を示すには/一回だけじゃ足りない"
			romaji="kimi wa tada nikai tobeba ii/saa fumidase|sono ashi de/yuuki wo shimesu ni wa/ikkai dake ja tarinai"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/勇気の証明は/きっとどこかに刻まれるから"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/yuuki no shoumei wa/kitto dokoka ni kizamareru kara"
		%}
		{% include verse.html
			lyrics="どれだけ進もうとも/知られざる物語"
			romaji="dore dake susumou to mo/shirarezaru monogatari"
		%}
		{% include verse.html
			lyrics="背後からせまるのは/絶望という壁"
			romaji="haigo kara semaru no wa/zetsubou to iu kabe"
		%}
		{% include verse.html
			lyrics="戦う事でしか/活路を見いだせずにいる"
			romaji="tatakau koto de shika/katsuro wo miidasezu ni iru"
		%}
		{% include verse.html
			lyrics="最後の敵はまだどこにも見えない/だけど諦めないで"
			romaji="saigo no teki wa mada doko ni mo mienai/dakedo akiramenaide"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/準備は出来ている/助走はもう十分だ"
			romaji="kimi wa tada nikai tobeba ii/saa fumidase|sono ashi de/junbi wa dekiteiru/josou wa mou juubun da"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/多くの間違いも/きっといつしか糧になる"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/ooku no machigai mo/kitto itsushika kate ni naru"
		%}
		{% include verse.html class="versebreak"
			lyrics="駆けるための道を/示すコンパスは/いま/君の手の中にあるから"
			romaji="kakeru tame no michi wo/shimesu KONPASU wa/ima/kimi no te no naka ni aru kara"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ踏み出せ|その足で/勇気を示すには/一回だけじゃ足りない"
			romaji="kimi wa tada nikai tobeba ii/saafumidase|sono ashi de/yuuki wo shimesu ni wa/ikkai dake ja tarinai"
		%}
		{% include verse.html
			lyrics="君はただ二回飛べばいい/さあ駆け出せ|その意志で/勇気の証明は/きっとどこかに刻まれるから"
			romaji="kimi wa tada nikai tobeba ii/saa kakedase|sono ishi de/yuuki no shoumei wa/kitto dokoka ni kizamareru kara"
		%}
	</div>
</div>