---
english-name: Atelier Horloge
intro-image: AtelierHorloge.png
image: /assets/images/thumbs/AtelierHorloge.png
quote: Welcome to Atelier Horloge.
speaker: teto
singers: Kasane Teto
summary: The story of the Atelier Horloge, a workshop selling various magical tools that travels between worlds.
mothyrights: <em>The Evillious Chronicles</em>
copyrights: VOCALOID|Kasane Teto|Kagamine Rin &amp; Len
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song featured on <a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a> and later uploaded to <a href="https://www.youtube.com/watch?v=uIPEVCvPV2c">YouTube</a> and <a href="https://www.nicovideo.jp/watch/sm43005272">niconico</a> on November 11, 2023.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original released on <em>Twin Rabbits Come and Play their Flute</em>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="TwinRabbitsAlbum.png" link="album/twin-rabbits-come-and-play-their-flute" eng="Twin Rabbits Come and Play their Flute" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Ichika.</li>
		<li>Ahead of its release, mothy <a href="https://twitter.com/mothy_akuno/status/1684403807667757056">described</a> the song as "bright and refreshing".</li>
		<li>The song references the lyrics of <a href="{% link song/white-brick-and-black-mourning-dress.html %}"><em>White Brick and Black Mourning Dress</em></a> and <a href="{% link song/recollective-musicbox.html %}"><em>Recollective Musicbox</em></a>.</li>
		<li>The PV text references the booklet text for <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> and the lyrics of <a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>.</li>
		<li>Some of the items listed in the PV are references to other works by mothy: The Pot of Bazusu is from the <em>Torture Tower Doesn't Sleep</em> series, the Gold-Plated Key is a reference to <a href="{% link novel/unlock-city.html %}"><em>Unlock City</em></a>, the Infinity Mirrors of the Messengers are a reference to the song <a href="{% link song/messengers-of-the-infinity-mirrors.html %}"><em>Messengers of the Infinity Mirrors</em></a>, and the Steel Heart is a reference to <a href="{% link song/steel-lady-rilia-renee.html %}"><em>The Steel Lady, Rilia-Renée</em></a>.</li>
		<li>In addition, the Hamel Flute's name is a reference to the <a href="https://en.wikipedia.org/wiki/Pied_Piper_of_Hamelin">Pied Piper of Hamelin</a> and The Gear of Deus is a reference to the concept <a href="https://en.wikipedia.org/wiki/Deus_ex_machina">Deus ex machina</a>.</li>
		<li>The characters featured in the credits are <a href="https://twitter.com/mothy_akuno/status/1723502661352526010">named</a> after French foods and beverages.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Twin Rabbits Come and Play their Flute" %}