---
english-name: Blink
intro-image: NemesisAlbum.jpg
image: /assets/images/thumbs/NemesisAlbum.jpg
quote: When this sapling has taken root, I think I'll be more of an adult than I am now.
speaker: rin
singers: Kagamine Rin
summary: The story of Rin praying in front of the newly-planted Millennium Tree.
mothyrights: <em>The Evillious Chronicles</em>|<em>Blink</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|GUMI|MEIKO|KAITO|Hatsune Miku
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=So42nymsa2Y"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> and later featured on <a href="{% link album/history-of-the-daughter-of-evil.html %}"><em>HISTORY OF The Daughter of Evil</em></a></li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="History.png" link="album/history-of-the-daughter-of-evil" eng="HISTORY OF The Daughter of Evil" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>When the song was <a href="https://twitter.com/mothy_akuno/status/489926601270755328">first mentioned</a> its title was written with <a href="https://en.wikipedia.org/wiki/Kanji">kanji</a>; however on the album itself it was changed to only be in <a href="https://en.wikipedia.org/wiki/Hiragana">hiragana</a>.</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in EC 505.</li>
	</ul>
</section>

{% include navbar.html group="The Muzzle of Nemesis" %}
{% include navbar.html group="HISTORY OF The Daughter of Evil" %}