---
english-name: Bloodstained Switch
intro-image: BloodstainedSwitch.jpg
image: /assets/images/thumbs/BloodstainedSwitch.jpg
quote: The one who pressed the switch, it wasn't me.
speaker: mayu
singers: MAYU
summary: The story of a girl who has been accuseed of murdering her father.
mothyrights: <em>The Evillious Chronicles</em>|<em>Bloodstained Switch</em>
copyrights: VOCALOID|MAYU|GUMI
artists: you-ring|Hidari|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=ydIP-YtcVdc"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm19503295">niconico</a> on December 4, 2012, and later featured on <em>EXIT TUNES PRESENTS VOCALOID™3 Library MAYU SPECIAL 2CD</em> and <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm19503295">niconico upload</a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="MayuCD.jpg" eng="EXIT TUNES PRESENTS VOCALOID™3 Library MAYU SPECIAL 2CD" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by you-ring.</li>
        <li>The character in the video appears identical to MAYU's VOCALOID3 module.</li>
        <li>Red and blue symbolism contrasting each other is used throughout the video.</li>
        <li>The PV text has references to characters from the <em>Original Sin Story</em> series.</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in BT 1013.</li>
        <li>The niconico upload is described as "Her condition is severe."</li>
	</ul>
</section>