---
english-name: Capriccio Farce
intro-image: CapriccioFarce.jpg
image: /assets/images/thumbs/CapriccioFarce.jpg
quote: Come, let's begin this farce called a trial.
speaker: rin len
singers: Kagamine Rin|Kagamine Len|Hatsune Miku|Megurine Luka|KAITO|MEIKO|Camui Gackpo|GUMI
summary: The story of a trial held by the inhabitants of EVILS THEATER.
mothyrights: <em>The Evillious Chronicles</em>|<em>Capriccio Farce</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|MEIKO|KAITO|Hatsune Miku|Megurine Luka|Camui Gackpo|GUMI
artists: Uichiro Aoyagi|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=7cxt7k5Dr2I"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a> and later uploaded to <a href="https://www.nicovideo.jp/watch/sm16017826">niconico</a> on October 29, 2011.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm16017826">niconico</a> upload.</li>
        <li><strong>Clockwork Lullaby version</strong>: A version with new vocals and instrumentals featured on <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>. It was later updated with an HD version of the original PV to <a href="https://www.youtube.com/watch?v=7sAxOg4r4IE">YouTube</a> on August 22, 2020.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Ui.</li>
        <li>As the sixth song in the Clockwork Lullaby series, it is preceeded by <a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a> and succeeded by <a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
        <li>The lyrics of <a href="{% link song/wordplay.html %}"><em>Wordplay</em></a>, <a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>, and <a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a> are referenced.</li>
        <li>Camui Gackpo was previously listed as doing chores in the credits of <a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a>, and another Gackpo character was likewise listed as such in <a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a>.</li>
        <li>The PV is a reference to the <a href="https://en.wikipedia.org/wiki/Ace_Attorney"><em>Ace Attorney</em></a> series. The PV also references the PV of <em>Clockwork Lullaby</em>.</li>
        <li>Irregular's appearance in the song matches the description of the boy in <a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>.</li>
        <li>The niconico upload is described as "A theater built in the Millennium Tree Forest. The make-believe trial begins there."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 998 and describes it as "One year before ta eschata".</li>
        <li>The song's gear connects to the "NO GOD" black box and <a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS COURT" %}
{% include navbar.html group="Clockwork Lullaby" %}