---
english-name: Clockwork Lullaby
intro-image: ClockworkLullaby.jpg
quote: This singing voice is the clockwork lullaby.
speaker: len
singers: Kagamine Rin|Asami Shimoda-secondary|Kagamine Len-secondary
summary: The story of a young girl singing a lullaby.
mothyrights: <em>The Evillious Chronicles</em>|<em>Clockwork Lullaby</em>
copyrights: VOCALOID|MEIKO|Kagamine Rin & Len
artists: mothy|Ichika
photographer: unknown
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=TdBRK9rr68M"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm2747189">niconico</a> on March 22, 2008, and to <a href="https://piapro.jp/t/ghVt/20080330231632">piapro</a> on March 30, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=qqUKyY4ugL4"><strong>Remastered version</strong></a>: A revised version of the song featuring new vocals and instrumentals uploaded to <a href="https://piapro.jp/t/ghVt">piapro</a> on January 11, 2009, and later featured on <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=lVmIhZJHeeg"><strong>Prism version</strong></a>: A version sung by Kagamine Rin's voice provider Asami Shimoda that was released on her album <em>Prism</em>.</li>
        <li><a href="https://www.youtube.com/watch?v=U3IuGQMNGgQ"><strong>Demo version</strong></a>: An early version of the song with different lyrics sung by Kagamine Len released on <a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a>.</li>
        <li><strong>Key Of Word</strong>: A revised version featuring new vocals, instrumentals, and PV along with additional lyrics uploaded to <a href="https://www.nicovideo.jp/watch/sm33595150">niconico</a> and <a href="https://www.youtube.com/watch?v=m78s6J5c34w">YouTube</a> on July 27, 2018, and later featured on <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="Prism.jpg" eng="Prism" %}
	{% include navthumb.html thumb="ConchitaRevised.jpg" link="album/evil-food-eater-conchita-revised" eng="Evil Food Eater Conchita (revised)" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The original PV's illustration was drawn by mothy.</li>
        <li>As the first song in the Clockwork Lullaby series, it is the first song to feature the complete lulila motif, and is preceded by <a href="{% link song/wordplay.html %}"><em>Wordplay</em></a> and succeeded by <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a>.</li>
        <li>The first two lines of the song mirror the last two lines of <em>Wordplay</em>.</li>
        <li>The character featured in the PV appears identical to Kagamine Rin's VOCALOID2 module.</li>
        <li>mothy <a href="https://www.nicovideo.jp/watch/sm2747189">noted</a> <a href="https://piapro.jp/t/ghVt/20080330231632">twice</a> that the song "may or may not" be related to <em>Wordplay</em>.</li>
        <li>The additional lyrics in Key Of Word reference the title of <em>Miniature Garden Girl</em>.</li>
        <li>The song's gear connects to <em>Miniature Garden Girl</em>, <a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>, and <a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a>.</li>
	</ul>
</section>