---
english-name: The Daughter of Evil
intro-image: DaughterOfEvil.jpg
image: /assets/images/thumbs/DaughterOfEvil.jpg
quote: Oh ho ho ho ho. Come, kneel to me!
speaker: rin
singers: Kagamine Rin|Asami Shimoda-secondary
summary: The story of princess Riliane Lucifen d'Autriche, the last monarch of Lucifenia.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Daughter of Evil</em>
copyrights: VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin &amp; Len|Megurine Luka|Camui Gackpo|GUMI|Lily|Kaai Yuki|MIRIAM|Sweet ANN|Kasane Teto
artists: Ichika|Suzunosuke|Mizutame Tori
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=ntnIbbg1PIA"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://piapro.jp/t/QHl4/20080404003421">piapro</a> on April 4, 2008, and to <a href="https://www.nicovideo.jp/watch/sm2916956">niconico</a> on April 6, 2008.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original arrangement uploaded to <a href="https://piapro.jp/t/JV0q">piapro</a> on May 1, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=fcDfx_srI6E"><strong>act2 version</strong></a>: A version featuring vocals from Kagamine Rin act2 and the same PV uploaded to <a href="https://www.nicovideo.jp/watch/sm4104743">niconico</a> on July 28, 2008, and to <a href="https://piapro.jp/t/QHl4">piapro</a> on August 23, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=FwZHgfhV1dc"><strong>Remastered version</strong></a>: A remastered version of the song with new vocals featured on <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=F-gIqsyNJ2A"><strong>~velvet mix~</strong></a>: A version with new vocals and instrumentals uploaded to <a href="https://www.nicovideo.jp/watch/sm9212780">niconico</a> on December 27, 2009, and to <a href="https://piapro.jp/t/KToM">piapro</a> on January 16, 2010. It was then featured on <a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a>.</li>
        <li><strong>~velvet mix~ instrumental</strong>: An instrumental of the ~velvet mix~ uploaded to <a href="https://piapro.jp/t/KToM">piapro</a> on January 16, 2010.</li>
        <li><a href="https://www.youtube.com/watch?v=OjGbwdYtNZ4"><strong>Gemini of Charm version</strong></a>: A version sung by Kagamine Rin's voice provider Asami Shimoda that was featured on <a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=sAvqcoj6lLg"><strong>Evils Kingdom version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=isXzYvTjNYA"><strong>The Daughter and Servant of Evil</strong></a>: An instrumental version mixed with <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a> featured on <a href="{% link album/four-melodies-of-evil.html %}"><em>Four Melodies of Evil ~The Daughter of Evil Novel Music Collection~</em></a> and <a href="{% link album/bgm-reading-collection.html %}"><em>The Daughter of Evil: BGM Reading Collection</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=LfODiLHZrEE"><strong>Arrange version</strong></a>: An arranged instrumental by Travolta-P featured on <em>The Daughter of Evil: BGM Reading Collection</em>.</li>
        <li><strong>Seven Crimes and Punishments version</strong>: A version with new vocals and instrumentals featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a> and later uploaded to <a href="https://www.youtube.com/watch?v=W77q-kK8iA8">YouTube</a> with a remastered version of the original PV on December 4, 2019. It was then featured on <a href="{% link album/history-of-the-daughter-of-evil.html %}"><em>HISTORY OF The Daughter of Evil</em></a> and <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="Gemini.jpg" link="album/gemini-of-charm" eng="The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack" %}
	{% include navthumb.html thumb="PreludeToForest.jpg" link="album/prelude-to-forest" eng="prelude to forest" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="FourMelodies.png" link="album/four-melodies-of-evil" eng="Four Melodies of Evil ~The Daughter of Evil Novel Music Collection~" %}
	{% include navthumb.html thumb="BGM.png" link="album/bgm-reading-collection" eng="The Daughter of Evil: BGM Reading Collection" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="History.png" link="album/history-of-the-daughter-of-evil" eng="HISTORY OF The Daughter of Evil" %}
	{% include navthumb.html thumb="WaltzAlbum.png" link="album/waltz-of-the-deceased" eng="Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The original PV's illustration was drawn by Ichika, and the ~velvet mix~ PV featured illustrations by hal-brando, Enyukari, Nako, karenxxx, Aoi Kouta, Ryuno, mkk, ishisa, Inami, Coral, cekit, Jyu., Machico Chino, carl, Mota, Kanejiro, Halcyon, Niwa, ★Lonom☆, jonejung, Eruko ＾ω＾, Kurosaki Nekozu, Kaden, Murio, Shigeru Sawado, Mayokichi, Kuriiro, Mokomoko, Shimamura, kana_ria, Murai Aria, remaco, and Hijiki.</li>
        <li>This song represents Pride in the <em>Deadly Sins of Evil</em> series, with <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a> as its response song.</li>
        <li>mothy <a href="https://piapro.jp/t/QHl4/20080404003421">described</a> the song as having a <a href="https://en.wikipedia.org/wiki/Shōwa_(1926–1989)">Showa</a>-inspired melody.</li>
        <li>Mothy was <a href="http://mothy.blog39.fc2.com/blog-entry-9.html">inspired</a> by Satoko from <a href="https://en.wikipedia.org/wiki/Higurashi_When_They_Cry"><em>Higurashi When They Cry</em></a> to make Riliane's laugh.</li>
        <li>The ~velvet mix~ PV for the song features various terms, with the ~velvet mix~ PV for <em>The Servant of Evil</em> listing quotes assosciated with the terms.</li>
        <li>The piapro upload is described as "A medieval-narrative style composition with a different flavor.".</li>
        <li>The original niconico upload is described as "A song depicting the story of the noble girl who became the ruler of a certain historically prosperous kingdom once upon a time."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 500 and describes it as "The Lucifenian Revolution. 【superbia】"</li>
        <li>The YouTube upload is described as "The story of the noble girl who became the ruler of the glorious kingdom of Lucifenia once upon a time."</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS THEATER" %}
{% include navbar.html group="prelude to forest" %}
{% include navbar.html group="Evils Kingdom" %}
{% include navbar.html group="Seven Crimes and Punishments" %}
{% include navbar.html group="HISTORY OF The Daughter of Evil" %}
{% include navbar.html group="Waltz of the Deceased" %}