---
english-name: The Daughter of White
intro-image: DaughterOfWhite.jpg
quote: I'm sorry for being alive.
speaker: haku
singers: Yowane Haku|Hatsune Miku
summary: The story of the outcast Clarithand her first friend Michaela.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Daughter of White</em>
copyrights: VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|Camui Gackpo|GUMI|Yowane Haku
artists: Ichika|Suzunosuke
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=MqS34UZkZgg"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm9305683">niconico</a> on January 6, 2010, and to <a href="https://piapro.jp/t/QAd7">piapro</a> on January 16, 2010. It was later featured on <a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a> and <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original version uploaded to <a href="https://piapro.jp/t/QAd7">piapro</a> on January 16, 2010.</li>
        <li><a href="https://www.youtube.com/watch?v=1ru0d0wQ1hc"><strong>Evils Kingdom version</strong></a>: A version with new instrumentals and vocals featured on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="PreludeToForest.jpg" link="album/prelude-to-forest" eng="prelude to forest" %}
	{% include navthumb.html thumb="EvilsForest.png" link="album/evils-forest" eng="EVILS FOREST" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Ichika, you-ring, Suzunosuke, and Satsu.</li>
        <li>The song's title is a reference to <a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a>.</li>
        <li>Yowane Haku's surname is mentioned in the lyrics.</li>
        <li>The lyrics to <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a> and <a href="{% link song/regret-message.html %}">regret message<em></em></a> are referenced in the song.</li>
        <li>The niconico upload is described as "Once upon a time, in a certain country surrounded by forest. The people who lived there had green hair. However there was one girl who had white hair different from everyone else's..."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 499~ and describes it as "A girl who lived during the Lucifenian Revolution."</li>
	</ul>
</section>