---
english-name: Desert BLUEBIRD
intro-image: DesertBluebird.jpg
image: /assets/images/thumbs/DesertBluebird.jpg
quote: If I'm with you surely it can be overcome.
speaker: len
singers: Kagamine Len|Kagamine Rin
summary: The story of a pair of twins looking for a bluebird to save the world.
mothyrights: <em>The Evillious Chronicles</em>|<em>Desert BLUEBIRD</em>
copyrights: VOCALOID|Kagamine Rin & Len|MEIKO
artists: you-ring|Shishizaru|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=uD4tkuv8Z48"><strong>Original</strong></a>: The original version released on <em>EXIT TUNES PRESENTS Supernova 3</em>, and later uploaded to <a href="https://www.nicovideo.jp/watch/sm11325557">niconico</a> on July 9, 2010. It was then featured on <a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a> and <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="Supernova3.jpg" eng="EXIT TUNES PRESENTS Supernova 3" %}
	{% include navthumb.html thumb="ConchitaRevised.jpg" link="album/evil-food-eater-conchita-revised" eng="Evil Food Eater Conchita (revised)" %}
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="album/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by you-ring.</li>
        <li>The Lucifenian crest appears in the PV, and the iconography on the lyrics page for the song in <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> indicates it takes place there.</li>
        <li>The PV features silhouetted skylines of New York City, New York, Seattle, Washington, and London, England.</li>
        <li>The niconico upload is described as "A civilization destroyed by a disaster, a world rapidly becoming a desert. In such a world live two twins; an older brother and a younger sister. The older brother's dream was 'to do something that will shake the world someday'. One day, they met a shabbily dressed old woman. She said that somewhere out there was a 'blue bird' with the power to save the world. The siblings went out on a journey. To search for the 'blue bird'."</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Evil Food Eater Conchita (revised)" %}
{% include navbar.html group="Judgment of Corruption ~a court of greed~" %}