---
english-name: Drug Of Gold
intro-image: SevenAlbum.png
image: /assets/images/thumbs/SevenAlbum.png
quote: They were days of just continuing to live.
speaker: kaito
singers: KAITO|MEIKO
summary: The story of Banica Conchita's betrothed, Carlos Marlon.
mothyrights: <em>The Evillious Chronicles</em>|<em>Drug Of Gold</em>
copyrights: VOCALOID|Kagamine Len|MEIKO|KAITO|Hatsune Miku
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=za6rVN8kp24"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>This song represents Gluttony in the <em>Deadly Sins of Evil</em> series as the response song to <a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a>.</li>
        <li>mothy <a href="https://twitter.com/mothy_akuno/status/570066833962708993">noted</a> that the initials of the song's title spell "dog".</li>
	</ul>
</section>

{% include navbar.html group="Seven Crimes and Punishments" %}