---
english-name: Ending Boy Hänsel
intro-image: EndingBoyHansel.png
image: /assets/images/thumbs/EndingBoyHansel.png
quote: If his body should rot away, he'll be reborn any number of times.
speaker: len
singers: Kagamine Len
summary: A song about Hänsel's lives as Hänsel, Pollo, and Lemy, and his role as an irregular.
mothyrights: <em>The Evillious Chronicles</em>|<em>Ending Boy Hänsel</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len
artists: Yuu|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=tNWIxWFJMl8"><strong>Original</strong></a>: The original version of the song released as as a special digital bonus for purchasers of both <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a> and <a href="{% link novel/fifth-pierrot.html %}"><em>Deadly Sins of Evil: Fifth Pierrot</em></a>. It was later featured on <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The song <a href="{% link song/genesis-girl-gretel.html %}"><em>Genesis Girl Gretel</em></a> serves as a complement to <em>Ending Boy Hänsel</em>.</li>
        <li>The song was paired up with <em>Gensis Girl Gretel</em> in supplementary material for <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="EVILS EXTRA" %}