---
english-name: Fictional Masquerade
intro-image: FictionalMasquerade.jpg
image: /assets/images/thumbs/FictionalMasquerade.jpg
quote: The guests assemble beneath the moon.
speaker: meiko
singers: MEIKO|Saori Hayami-secondary
summary: A song about the demon Ataraku.
mothyrights: <em>The Evillious Chronicles</em>|<em>Fictional Masquerade</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|MEIKO
artists: Anira|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=CakftZ_EETY"><strong>Original</strong></a>: The original version sung by Saori Hayami featured in <em>Engage Princess</em>.</li>
        <li><strong>MEIKO version</strong>: An alternate version sung by MEIKO uploaded to <a href="https://www.nicovideo.jp/watch/sm34976038">niconico</a> and <a href="https://www.youtube.com/watch?v=FWiRq4U2kos">YouTube</a> on April 16, 2019, and later featured in <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was created by Anira.</li>
        <li>The song was originally composed as a theme for the character Ataraku in the game <em>Engage Princess</em>.</li>
        <li>The niconico and YouTube uploads are described as "A fictional world linked to infinity. The machine dances. I dance too."</li>
        <li>The song was paired up with <a href="{% link song/you-only-have-to-double-jump.html %}"><em>You Only Have to Double Jump</em></a> in supplementary material for <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS EXTRA" %}