---
english-name: Fifth Pierrot
intro-image: Pierrot.jpg
quote: And the black goes to red.
speaker: len
singers: Kagamine Len|Megurine Luka-secondary|GUMI-secondary
summary: The story of Lemy Abelard working as Fifth Pierrot to punish bad people on Miss Santa's orders.
mothyrights: <em>The Evillious Chronicles</em>|<em>Fifth Pierrot</em>
copyrights: VOCALOID|Kagamine Len|KAITO|Hatsune Miku|Megurine Luka|GUMI
artists: Hekicha|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=if7V7FtX1yg"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm14639165">niconico</a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm14639165">niconico</a> upload.</li>
        <li><a href="https://www.youtube.com/watch?v=mI_AERgmXFg"><strong>EVILS COURT version</strong></a>: A version with additional vocals from Megurine Luka and GUMI featured on <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=rzEQFmDa4KU"><strong>Seven Crimes and Punishments version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Hekicha.</li>
        <li>This song represents Sloth in the <em>Deadly Sins of Evil</em> series as the response song to <a href="{% link song/gift-from-the-princess-who-brought-sleep.html %}"><em>gift from the Princess who Brought Sleep</em></a>.</li>
        <li>The numbers for each of Pere Noel's members corresponds with the order the VOCALOIDs were released &ndash; MEIKO (1), KAITO (2), Hatsune Miku (3), Kagamine Rin & Len (4 & 5), Camui Gackpo (6), Megurine Luka (7), and GUMI (8).</li>
        <li>Camui Gackpo was previously listed as doing chores in the credits for the <a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a> PV.</li>
        <li>The niconico upload is described as "Lemy, a boy living in an orphanage in Rolled, the Republic of Lucifenia, is adopted by the millionaire Julia. Julia, whose other identity is the leader of the crime syndicate 'Pere Noel', brainwashes him, and Lemy now devotes himself each night to his assassinations as 'Fifth Clown'…"</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 610 and is described as "The Rolled Serial Killings."</li>
	</ul>
</section>