---
english-name: The Flames of Yellow Phosphorus
intro-image: YellowPhosphorus.png
image: /assets/images/thumbs/YellowPhosphorus.png
quote: I just wanted to eat a loaf of bread.
speaker: rin
singers: Kagamine Rin
summary: The story of a girl selling matches.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Flames of Yellow Phosphorus</em>
copyrights: VOCALOID|Kagamine Rin|Hatsune Miku
artists: Kazaguruma|Yuu
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=2hOp9LtZUsE"><strong>Original</strong></a>: The original version uploaded to <a href="https://www.nicovideo.jp/watch/sm11723488">niconico</a> and <a href="https://www.youtube.com/watch?v=lPhtEUkCPpA">YouTube</a> on August 12, 2010, and later featured on <em>DEBUTANTEV</em>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original version linked from its <a href="https://www.nicovideo.jp/watch/sm11723488">niconico</a> upload.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="DebutanteV.jpg" eng="DEBUTANTE|V" rom="DEBYUTANTO V" jpn="DEBUTANTE|V" furi="デビュタント|V" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Kazaguruma and created by Yoshitora.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}