---
english-name: Flower of the Plateau
intro-image: Plateau.png
quote: A flower absolutely must be pure.
speaker: miku
singers: Hatsune Miku
summary: The story of Mikulia Calgaround trying to hide her past as a harlot.
mothyrights: <em>The Evillious Chronicles</em>|<em>Flower of the Plateau</em>
copyrights: VOCALOID|Hatsune Miku|Kagamine Rin & Len|GUMI
artists: Yuu|Osamu|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=ipE4rZdPWkI"><strong>Original</strong></a>: The original version of the song released on <em>VOCALO APPEND feat. Hatsune Miku</em> and later uploaded to <a href="https://www.nicovideo.jp/watch/sm16681173">niconico</a> on January 13, 2012. It was then featured on <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm16681173">niconico upload</a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="VocaloAppend.jpg" eng="VOCALO APPEND feat. Hatsune Miku" jpn="VOCALO| |APPEND| |feat.| |初|音|ミク" furi="VOCALO| |APPEND| |feat.| |はつ|ね|ミク" rom="VOCALO APPEND feat. hatsune MIKU" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Yuu.</li>
        <li>The niconico upload is described as "A town on a plateau. A peaceful town without any conflict. When was it? The woman came from somewhere and started living in town. Soon she was called the 'Flower of the Plateau', loved by everyone in town. She was always happy, and the townspeople were also happy. However, nobody knew her past."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 141~ and describes it as "The Calgaround incident."</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in EC 147.</li>
	</ul>
</section>