---
english-name: Full Moon Laboratory
intro-image: FullMoon.jpg
image: /assets/images/thumbs/FullMoon.jpg
quote: On the night of the full moon the experiment begins.
speaker: rin
singers: Kagamine Rin
summary: The story of a girl performing experiments.
mothyrights: <em>The Evillious Chronicles</em>|<em>Full Moon Laboratory</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|MEIKO
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=OIqlDa39INI"><strong>Original</strong></a>: The original version uploaded to <a href="https://www.nicovideo.jp/watch/sm9835291">niconico</a> on February 25, 2010, and later featured on <a href="{% link album/evil-food-eater-conchita-revised.html %}"><em>Evil Food Eater Conchita (revised)</em></a> and <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="ConchitaRevised.jpg" link="album/evil-food-eater-conchita-revised" eng="Evil Food Eater Conchita (revised)" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The lyrics reference <a href="{% link song/wordplay.html %}"><em>Wordplay</em></a>'s lyrics, including the partial lulila motif, along with <a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>'s lyrics.</li>
        <li>The PV features the illustration seen in <em>Wordplay</em>.</li>
        <li>The PV uses contrasting red and blue symbolism.</li>
        <li>The song was paired up with <a href="{% link song/that-king-was-born-from-mud.html %}"><em>That King was Born from Mud</em></a> in supplementary material for <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Evil Food Eater Conchita (revised)" %}
{% include navbar.html group="EVILS EXTRA" %}