---
english-name: gift from the Princess who Brought Sleep
intro-image: Gift.jpg
image: /assets/images/thumbs/Gift.jpg
quote: For the sake of your happiness.
speaker: miku
singers: Hatsune Miku
summary: The story of Margarita Blankenheim creating the sleep aid "gift" for the troubled people of her town.
mothyrights: <em>The Evillious Chronicles</em>|<em>gift from the Princess who Brought Sleep</em>
copyrights: VOCALOID|Kagamine Len|Hatsune Miku|KAITO|GUMI
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=4sFrcKiT5s8"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm14539838">niconico</a> on May 23, 2011, and later featured on <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm14539838">niconico</a> upload.</li>
        <li><a href="https://www.youtube.com/watch?v=Ko2ZbpTnths"><strong>Seven Crimes and Punishments version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>. It was later uploaded to <a href="https://www.youtube.com/watch?v=hmDK_uJu7kQ">YouTube</a> along with an enhanced version of the original PV on May 4, 2020 and then featured on <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="WaltzAlbum.png" link="album/waltz-of-the-deceased" eng="Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Ichika.</li>
        <li>This song represents Sloth in the <em>Deadly Sins of Evil</em> series, with <a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a> as its response song.</li>
        <li>Elluka Clockworker and Gumillia from the <em>Daughter of Evil</em> novel series appear at the end of the PV.</li>
        <li>The YouTube upload added an additional visual for the lines added to the end in <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
        <li>The niconico upload is described as "The tale of a woman who brought restful slumber."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 609 and describes it as "The Toragay Epidemic. 【Acedia】"</li>
        <li>The YouTube upload is described as "Evillious year 609. A tragedy occurred in the town of Toragay, Elphegort. The woman said to be the criminal was……"</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS COURT" %}
{% include navbar.html group="Seven Crimes and Punishments" %}
{% include navbar.html group="Waltz of the Deceased" %}