---
english-name: Her and Talo's Promenade
intro-image: CountTwilightAlbum.png
image: /assets/images/thumbs/CountTwilightAlbum.png
quote: The blue might have vanished from the sky, but we keep up our promenade.
speaker: rin
singers: Kagamine Rin
summary: The story of a girl taking her pet Talo for a walk.
mothyrights: <em>The Evillious Chronicles</em>
copyrights: VOCALOID|Kagamine Rin
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song featured on <a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a>.</li>
		<li><strong>Off Vocal</strong>: The instrumental version of the song featured on <a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="CountTwilightAlbum.png" link="album/count-twilights-invitation" eng="Count Twilight's Invitation" %}
</section>

{% include navbar.html group="Count Twilight's Invitation" %}