---
title: Songs &mdash; The Evillious Chronicles
layout: default
permalink: song
---
<div class="flex" id="intro">
	<header>
		<a href="../"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Songs</h1>
		<p>A guide to the songs from <em>The Evillious Chronicles</em>.</p>
		{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	<h2>2008</h2>
	{% include navthumb.html thumb="TenMinuteLove.jpg" link="song/ten-minute-love" eng="Ten Minute Love" %}
	{% include navthumb.html thumb="Wordplay.jpg" link="song/wordplay" eng="Wordplay" %}
	{% include navthumb.html thumb="ClockworkLullaby.jpg" link="song/clockwork-lullaby" eng="Clockwork Lullaby" %}
	{% include navthumb.html thumb="DaughterOfEvil.jpg" link="song/daughter-of-evil" eng="The Daughter of Evil" %}
	{% include navthumb.html thumb="ServantOfEvil.jpg" link="song/servant-of-evil" eng="The Servant of Evil" %}
	{% include navthumb.html thumb="RegretMessage.jpg" link="song/regret-message" eng="Regret Message" %}
	{% include navthumb.html thumb="MiniatureGardenGirl.jpg" link="song/miniature-garden-girl" eng="Miniature Garden Girl" %}
	{% include navthumb.html thumb="Abandonment.png" link="song/tale-of-abandonment-on-a-moonlit-night" eng="Tale of Abandonment on a Moonlit Night" %}
	{% include navthumb.html thumb="SouthNorth.png" link="song/south-north-story" eng="South North Story" %}
	{% include navthumb.html thumb="Rebirthday.png" link="song/re-birthday" eng="Re_birthday" %}
	
	<h2>2009</h2>
	{% include navthumb.html thumb="Conchita.jpg" link="song/evil-food-eater-conchita" eng="Evil Food Eater Conchita" %}
	{% include navthumb.html thumb="Moonlit.jpg" link="song/moonlit-bear" eng="moonlit bear" %}
	{% include navthumb.html thumb="ScrewsGearsAndPridePV.png" link="song/screws-gears-and-pride" eng="Screws, Gears, and Pride" %}
	{% include navthumb.html thumb="EvilsForest.png" link="song/to-you-of-few-words" eng="To You of Few Words" %}
	{% include navthumb.html thumb="Enbizaka.jpg" link="song/tailor-of-enbizaka" eng="The Tailor of Enbizaka" %}
	
	<h2>2010</h2>
	{% include navthumb.html thumb="DaughterOfWhite.jpg" link="song/daughter-of-white" eng="The Daughter of White" %}
	{% include navthumb.html thumb="PreludeToForest.jpg" link="song/frogs-and-my-love-romance" eng="The Frog's and My Love Romance" %}
	{% include navthumb.html thumb="FullMoon.jpg" link="song/full-moon-laboratory" eng="Full Moon Laboratory" %}
	{% include navthumb.html thumb="LastRevolver.png" link="song/last-revolver" eng="The Last Revolver" %}
	{% include navthumb.html thumb="HeartbeatFV.png" link="song/heartbeat-clocktower" eng="Heartbeat Clocktower" %}
	{% include navthumb.html thumb="EvilsForest.png" link="song/master-of-the-graveyard" eng="master of the graveyard" %}
	{% include navthumb.html thumb="HaitenGirl.jpg" link="song/wendy" eng="Wendy" %}
	{% include navthumb.html thumb="DesertBluebird.jpg" link="song/desert-bluebird" eng="Desert BLUEBIRD" %}
	{% include navthumb.html thumb="Venomania.jpg" link="song/lunacy-of-duke-venomania" eng="The Lunacy of Duke Venomania" %}
	{% include navthumb.html thumb="TwirightPrank.png" link="song/twiright-prank" eng="Twiright Prank" %}
	{% include navthumb.html thumb="YellowPhosphorus.png" link="song/flames-of-yellow-phosphorus" eng="The Flames of Yellow Phosphorus" %}
	{% include navthumb.html thumb="MerryGoRound.png" link="song/madam-merry-go-round" eng="Madam Merry-Go-Round" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="song/song-that-resounds-with-lulila-lulila" eng="The Song that Resounds with Lulila, Lulila" %}
	{% include navthumb.html thumb="RedShoeParade.jpg" link="song/red-shoe-parade" eng="Red Shoe Parade" %}
	
	<h2>2011</h2>
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="song/recollective-musicbox" eng="Recollective Musicbox" %}
	{% include navthumb.html thumb="ChronoStory.png" link="song/chrono-story" eng="Chrono Story" %}
	{% include navthumb.html thumb="Gift.jpg" link="song/gift-from-the-princess-who-brought-sleep" eng="gift from the Princess who Brought Sleep" %}
	{% include navthumb.html thumb="Pierrot.jpg" link="song/fifth-pierrot" eng="Fifth Pierrot" %}
	{% include navthumb.html thumb="Judgment.jpg" link="song/judgment-of-corruption" eng="Judgment of Corruption" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="song/master-of-the-court" eng="master of the court" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="song/tree-maiden" eng="Tree Maiden ~Millennium Wiegenlied~" %}
	{% include navthumb.html thumb="CapriccioFarce.jpg" link="song/capriccio-farce" eng="Capriccio Farce" %}
	{% include navthumb.html thumb="Triangle1.jpg" link="song/letter-she-kept-waiting-for" eng="The Letter She Kept Waiting For" %}
	
	<h2>2012</h2>
	{% include navthumb.html thumb="Plateau.png" link="song/flower-of-the-plateau" eng="Flower of the Plateau" %}
	{% include navthumb.html thumb="Handbeat.png" link="song/handbeat-clocktower" eng="Handbeat Clocktower" %}
	{% include navthumb.html thumb="Triangle2.jpg" link="song/white-brick-and-black-mourning-dress" eng="White Brick and Black Mourning Dress" %}
	{% include navthumb.html thumb="EscapeOfSalmhoferTheWitch.png" link="song/escape-of-salmhofer-the-witch" eng="Escape of Salmhofer the Witch" %}
	{% include navthumb.html thumb="BloodstainedSwitch.jpg" link="song/bloodstained-switch" eng="Bloodstained Switch" %}
	
	<h2>2013</h2>
	{% include navthumb.html thumb="WatchingUs.png" link="song/watching-us" eng="Watching Us" %}
	{% include navthumb.html thumb="TortureTower.jpg" link="song/torture-tower-doesnt-sleep" eng="Torture Tower Doesn't Sleep" %}
	{% include navthumb.html thumb="OSS2.jpg" link="song/whereabouts-of-the-miracle" eng="Whereabouts of the Miracle" %}
	
	<h2>2014</h2>
	{% include navthumb.html thumb="Nemesis.png" link="song/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/master-of-the-hellish-yard" eng="master of the hellish yard" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/and-then-the-girl-went-mad" eng="And Then the Girl Went Mad &mdash;Ending Tale on a Moonlit Night&mdash;" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="song/blink" eng="Blink" %}
	{% include navthumb.html thumb="TwoMages.png" link="song/journey-of-two-mages" eng="The Journey of Two Mages ~Great Wall and Watchman~" %}
	
	<h2>2015</h2>
	{% include navthumb.html thumb="Glassred.png" link="song/portrait-glassred-drew" eng="The Portrait Glassred Drew" %}
	{% include navthumb.html thumb="Seven.png" link="song/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="song/drug-of-gold" eng="Drug Of Gold" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="song/weathered-head-at-onigashima" eng="The Weathered Head at Onigashima" %}
	{% include navthumb.html thumb="EndingBoyHansel.png" link="song/ending-boy-hansel" eng="Ending Boy Hänsel" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="song/queen-of-the-glass" eng="Queen Of The Glass" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="song/barisols-child-is-an-only-child" eng="Barisol's Child is an Only Child" %}
	
	<h2>2016</h2>
	{% include navthumb.html thumb="MaSurvival.png" link="song/ma-survival" eng="Ma Survival" %}
	{% include navthumb.html thumb="HalfBlood.jpg" link="song/half-blood" eng="Half Blood" %}
	{% include navthumb.html thumb="HerosArmor.png" link="song/a-heros-armor-is-always-crimson" eng="A Hero's Armor is Always Crimson" %}
	{% include navthumb.html thumb="Trinity.jpg" link="song/neomaria-of-the-inverted-gravestone" eng="Neomaria of the Inverted Gravestone" %}
	{% include navthumb.html thumb="ThatKing.png" link="song/that-king-was-born-from-mud" eng="That King was Born from Mud" %}
	
	<h2>2017</h2>
	{% include navthumb.html thumb="GLoR10us.jpg" link="song/messengers-of-the-infinity-mirrors" eng="Messengers of the Infinity Mirrors" %}
	
	<h2>2018</h2>
	{% include navthumb.html thumb="Heavenly.jpg" link="song/master-of-the-heavenly-yard" eng="master of the heavenly yard" %}
	{% include navthumb.html thumb="DoubleJump.jpg" link="song/you-only-have-to-double-jump" eng="You Only Have to Double Jump" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/banica-concerto" eng="Banica Concerto!!" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/karma-of-evil-will-not-end" eng="The Karma of Evil Will Not End" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="song/song-of-the-third-period" eng="Song of the Third Period" %}
	
	<h2>2019</h2>
	{% include navthumb.html thumb="FictionalMasquerade.jpg" link="song/fictional-masquerade" eng="Fictional Masquerade" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="song/genesis-girl-gretel" eng="Genesis Girl Gretel" %}
	{% include navthumb.html thumb="ProjectMaShort.jpg" link="song/project-ma" eng="Project &quot;Ma&quot;" %}
	
	<h2>2020</h2>
	{% include navthumb.html thumb="SongIHeardSomewhere.png" link="song/song-i-heard-somewhere" eng="The Song I Heard Somewhere" %}
	{% include navthumb.html thumb="EATPrologue.jpg" link="song/great-journey" eng="grEAT journey" %}
	{% include navthumb.html thumb="SwearAnOath.png" link="song/swear-an-oath-on-that-bridge" eng="Swear an Oath on that Bridge" %}
	
	<h2>2021</h2>
	{% include navthumb.html thumb="BlindGirlAndAngel.png" link="song/blind-girl-and-angel" eng="Blind Girl and Angel" %}
	{% include navthumb.html thumb="CowardlyBlackBird.png" link="song/song-of-the-cowardly-black-bird" eng="Song of the Cowardly Black Bird" %}
	{% include navthumb.html thumb="SteelLady.png" link="song/steel-lady-rilia-renee" eng="The Steel Lady, Rilia-Renée" %}
	
	<h2 id="2022">2022</h2>
	{% include navthumb.html thumb="WaltzPV.png" link="song/waltz-of-the-deceased" eng="Waltz of the Deceased" %}
	
	<h2 id="2023">2023</h2>
	{% include navthumb.html thumb="WaltzAlbum.png" link="song/outlaw-and-marionette" eng="Outlaw&amp;Marionette" %}
	{% include navthumb.html thumb="TwinRabbitsPV.png" link="song/twin-rabbits-come-and-play-their-flute" eng="Twin Rabbits Come and Play their Flute" %}
</navigation>
{% include copyright.html copyrights="VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin &amp; Len|Megurine Luka|Camui Gackpo|GUMI|LE♂N|MIRIAM|Yowane Haku|Nekomura Iroha|MAYU|Sweet ANN" artists="Ichika|Taa|mothy|Suzunosuke|Maru.|Renta|Rgveta|Shimeko|you-ring|Kazaguruma|Denki|Tenkomori|Hekicha|Uichiro Aoyagi|Yuu|Yoshida Yoshitsugi|Maruino|7:24|Hidekazu|Anira" photographer="MAKOTO" %}