---
english-name: Judgment of Corruption
intro-image: Judgment.jpg
image: /assets/images/thumbs/Judgment.jpg
quote: Money is the best lawyer in Hell.
speaker: kaito
singers: KAITO|Megurine Luka-secondary|GUMI-secondary
summary: The story of the corrupt judge Gallerian Marlon.
mothyrights: <em>The Evillious Chronicles</em>|<em>Judgment of Corruption</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|MEIKO|KAITO|Hatsune Miku|Megurine Luka|Camui Gackpo|GUMI
artists: you-ring|Ichika|Yuu
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=S-fsj6HmfzU"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a> and featured on <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a>. It was later uploaded to <a href="https://www.nicovideo.jp/watch/sm14731092">niconico</a> on June 13, 2011, and then featured again on <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm14731092">niconico</a> upload.</li>
        <li><strong>Seven Crimes and Punishments version</strong>: A version with new vocals and instrumentals featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>. It was later uploaded with an enhanced version of the original PV to <a href="https://www.youtube.com/watch?v=xC_lHFBen5k">YouTube</a> on May 16, 2020, and featured on <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=QLZE7KCdXxI"><strong>Kaitonation version</strong></a>: A version using the original vocals with the <em>Seven Crimes and Punishments</em> instrumental featured on <em>EXIT TUNES PRESENTS Kaitonation feat. KAITO</em>.</li>
        <li><strong>Symphonic</strong>: The version of the song performed by the Tokyo Philharmonic Orchestra as part of <em>The Symphony of Evil</em> and featured on <a href="{% link album/miku-symphony-2023.html %}"><em>Hatsune Miku Symphony 2023 Live at Suntory Hall</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="album/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
	{% include navthumb.html thumb="Kaitonation.jpg" eng="EXIT TUNES PRESENTS Kaitonation feat. KAITO" %}
	{% include navthumb.html thumb="WaltzAlbum.png" link="album/waltz-of-the-deceased" eng="Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+" %}
	{% include navthumb.html thumb="MikuSymphony2023Disc2.png" link="album/miku-symphony-2023" eng="Hatsune Miku Symphony 2023 Live at Suntory Hall" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by you-ring.</li>
        <li>This song represents Greed in the <em>Deadly Sins of Evil</em> series, with <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a> as its response song.</li>
        <li>The song references the lyrics of <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a>, and the song's title is also used in the PV's text.</li>
        <li>The PV's fourth title card uses a pun on how the Japanese words for "death" and "four" are homophones.</li>
        <li>The end of the PV references <a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>.</li>
        <li>A short <a href="https://www.nicovideo.jp/watch/sm13094301">trailer</a> for the PV was uploaded on December 21, 2010.</li>
        <li>The niconico upload is described as "The tale of a greedy and heinous judge. Hammer."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 983 and is described as "The Leviantan Civil War. 【Avaritia】"</li>
        <li>The YouTube upload is described as "Evillious year 983. In the USE, there was a man who directed the courthouse under the government administration, and took in personal profit……"</li>
        <li>The iconography on the lyrics page for the song in <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> indicates that the song takes place in the Union State of Evillious.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Evils Kingdom" %}
{% include navbar.html group="Judgment of Corruption ~a court of greed~" %}
{% include navbar.html group="EVILS COURT" %}
{% include navbar.html group="Seven Crimes and Punishments" %}
{% include navbar.html group="Waltz of the Deceased" %}
{% include navbar.html group="Miku Symphony 2023" %}