---
english-name: The Letter She Kept Waiting For
alt-name: Lost Last
intro-image: ReachForTheStars.png
quote: If my wish comes true.
speaker: len
singers: Kagamine Len|Kagamine Rin-secondary|KAITO-secondary
summary: The story of the attempt to fulfill an old nun's final request.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Letter She Kept Waiting For</em>
copyrights: VOCALOID|Kagamine Rin & Len|KAITO
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=YNMTQ51465U"><strong>Original</strong></a>: The original version of the song released on <em>Triangle –vol. 1–</em>.</li>
        <li><strong>Reach For The Stars</strong>: A version with new vocals and instrumentals along with revised lyrics featured on <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>. Its PV was uploaded to <a href="https://www.nicovideo.jp/watch/sm38023660">niconico</a> and <a href="https://www.youtube.com/watch?v=Ej6X_V57nhQ">YouTube</a> on December 27, 2020.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="Triangle1.jpg" eng="Triangle ―vol. 1―" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV uses Ichika's illustrations from <a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>, <a href="{% link song/twiright-prank.html %}"><em>Twiright Prank</em></a>, <a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a>, <a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>, <a href="{% link song/that-king-was-born-from-mud.html %}"><em>That King was Born from Mud</em></a>, and <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a>, along with illustrations from <a href="{% link song/daughter-of-white.html %}"><em>The Daughter of White</em></a> by Satsu, Suzunosuke, and you-ring.
        <li>mothy <a href="http://mothy.blog39.fc2.com/blog-entry-298.html">stated</a> that the song was originally a dropped plotline and was non-canon, although the <em>Reach For The Stars</em> version appears to have been edited to be canon.</li>
        <li>The song references the lyrics to <a href="{% link song/regret-message.html %}"><em>regret message</em></a>.</li>
        <li>mothy <a href="https://twitter.com/mothy_akuno/status/1157158404768428036">commented</a> that <em>Reach For the Stars</em> was added to the title have it start with "Re", connecting it to <em>regret message</em> and <a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>.</li>
        <li>The song was paired up with <a href="{% link song/song-that-resounds-with-lulila-lulila.html %}"><em>The Song that Resounds with Lulila, Lulila (Parade)</em></a> in supplementary material for <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>