---
english-name: master of the hellish yard
intro-image: NemesisAlbum.jpg
image: /assets/images/thumbs/NemesisAlbum.jpg
quote: This place that shouldn't have existed, the time has come to return all of it to nothing.
speaker: gumi
singers: GUMI
summary: The story of the Master of the Hellish Yard preparing to destroy hell.
mothyrights: <em>The Evillious Chronicles</em>|<em>master of the hellish yard</em>
copyrights: VOCALOID|GUMI
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=C1DG0kI9Cwg"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>As the third song in the <em>Four Endings</em> series, it is preceeded by <a href="{% link song/master-of-the-court.html %}"><em>master of the court</em></a> and succeeded by <a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>.</li>
        <li>The lyrics reference the famous quote from <a href="https://en.wikipedia.org/wiki/J._Robert_Oppenheimer">J. Robert Oppenheimer</a> regarding the first test of an atomic bomb.</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in EC 998.</li>
	</ul>
</section>

{% include navbar.html group="The Muzzle of Nemesis" %}