---
english-name: master of the court
intro-image: EvilsCourt.jpg
image: /assets/images/thumbs/EvilsCourt.jpg
quote: From the turning gear in the clocktower, the doll inherited her father's dying wish.
speaker: miku
singers: Hatsune Miku
summary: The story of the clockwork doll acting as the new "Master of the Court" in place of her father, Gallerian Marlon.
mothyrights: <em>The Evillious Chronicles</em>|<em>master of the court</em>
copyrights: VOCALOID|Hatsune Miku|KAITO
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=_5DwXrIPoHo"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>As the second song in the <em>Four Endings</em> series, it is preceeded by <a href="{% link song/master-of-the-graveyard.html %}"><em>master of the graveyard</em></a> and succeeded by <a href="{% link song/master-of-the-hellish-yard.html %}"><em>master of the hellish yard</em></a>.</li>
        <li>The song references the events of <a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="EVILS COURT" %}