---
english-name: The Muzzle of Nemesis
intro-image: Nemesis.png
image: /assets/images/thumbs/Nemesis.png
quote: Come, repent.
speaker: gumi
singers: GUMI|KAITO-secondary
summary: The story of Nemesis taking revenge on her employer.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Muzzle of Nemesis</em>
copyrights: VOCALOID|Kagamine Len|KAITO|Hatsune Miku|GUMI
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm24189059">niconico</a> and <a href="https://www.youtube.com/watch?v=AHjxLoeYIoI">YouTube</a> on August 8, 2014. It was later featured in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm24189059">niconico upload</a>.</li>
        <li><a href="https://www.youtube.com/watch?v=o8lWzo3UPEc"><strong>Seven Crimes and Punishments version</strong></a>: A version with updated vocals featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Ichika.</li>
        <li>This song represents Wrath in the <em>Deadly Sins of Evil</em> series, with <a href="{% link song/last-revolver.html %}"><em>The Last Revolver</em></a> as its response song.</li>
        <li>This was the first song to be publicly uploaded to mothy's YouTube account since he created it on June 19, 2012.</li>
        <li>The timeline seen at the beginning of the PV was later listed in full in the <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> booklet.</li>
        <li>The song references the events of <a href="{% link song/last-revolver.html %}"><em>The Last Revolver</em></a>, <a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a>, and <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a>.</li>
        <li><em>Judgment of Corruption</em>'s lyrics and PV are both referenced.</li>
        <li>Nemesis being codenamed 8 and working for Pere Noel is a reference to Eighth Sniper from <a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a>.</li>
        <li>The end of the PV shows the other six main characters from the <em>Seven Deadly Sins</em> series in reverse chronological order.</li>
        <li>The niconico and YouTube uploads are described as "'Wrath' revealed. The revolver of revenge is pointed at the mastermind. In order to judge him."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 983 and is described as "The Leviantan Civil War. The truth. 【ira】"</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in EC 983.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="The Muzzle of Nemesis" %}
{% include navbar.html group="Seven Crimes and Punishments" %}