---
english-name: Neomaria of the Inverted Gravestone
intro-image: Trinity.jpg
image: /assets/images/thumbs/Trinity.jpg
quote: A girl who had her name etched into a gravesite by birth.
speaker: mayu
singers: MAYU
summary: The story of Mariam's past as the assassin Neomaria.
mothyrights: <em>The Evillious Chronicles</em>|<em>Neomaria of the Inverted Gravestone</em>
copyrights: VOCALOID|MAYU|Kagamine Len|LE♂N|Sweet ANN|Megurine Luka|MIRIAM
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=nb50HPPSdG8"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/lucifenia-trinity.html %}"><em>Lucifenia Trinity</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original featured on <em>Lucifenia Trinity</em>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="Trinity.jpg" link="album/lucifenia-trinity" eng="Lucifenia Trinity" %}
</section>

<!--<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li></li>
	</ul>
</section>-->

{% include navbar.html group="Lucifenia Trinity" %}