---
english-name: The Portrait Glassred Drew
intro-image: Glassred.png
image: /assets/images/thumbs/Glassred.png
quote: If only you hadn't changed.
speaker: gumi
singers: GUMI
summary: The story of Gumina reminiscing about her past with Sateriasis Venomania.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Portrait Glassred Drew</em>
copyrights: VOCALOID|GUMI|Kagamine Len|Hatsune Miku
artists: Yuu|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm25455016">niconico</a> and <a href="https://www.youtube.com/watch?v=rFW2Us3uaCQ">YouTube</a> on January 31, 2015. It was later featured on <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm25455016">niconico upload</a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="SevenAlbum.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Yuu and created by <span alt="Miwasiba">△○□×.</span></li>
        <li>This song represents Lust in the <em>Deadly Sins of Evil</em> series as the response song to <a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>.</li>
        <li>The niconico and YouTube uploads are described as "After everything was over, she looked back. While doing so, she painted that face which had been deluded by lust."</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Seven Crimes and Punishments" %}