---
english-name: Re_birthday
intro-image: Rebirthday.png
image: /assets/images/thumbs/Rebirthday.png
quote: When I woke, I was alone in a room smeared black.
speaker: len
singers: Kagamine Len|Hatsune Miku|MEIKO|KAITO|Kagamine Rin
summary: The story of a young boy trapped inside a black box repenting for his sins.
mothyrights: <em>The Evillious Chronicles</em>|<em>Re_birthday</em>
copyrights: VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|Camui Gackpo|GUMI
artists: mothy|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=EbiR7f9VaLw"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm5671863">niconico</a> on December 27, 2008, and to <a href="https://piapro.jp/t/CgKr">piapro</a> on December 29, 2008. It was later featured on <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original arrangement uploaded to <a href="https://piapro.jp/t/vbZ5">piapro</a> on December 29, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=HZQ-MXZXWvY"><strong>Evils Kingdom version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=lEyjxNZhr5Y"><strong>Seven Crimes and Punishments version</strong></a>: A version with new vocals and instrumentals featured on the bonus disc for <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.</li>
        <li><strong>Clockwork Lullaby version</strong>: A version with new vocals and instrumentals featured on <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>. It was later uploaded with a new PV to <a href="https://www.youtube.com/watch?v=r2hjzCJ18-Q">YouTube</a> on August 19, 2020.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="SevenBonus.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments (Bonus CD)" jpn="七|つ|の|罪|と|罰| |Bonus| |CD" furi="なな|つ|の|つみ|と|ばつ| |Bonus| |CD" rom="nanatsu no tsumi to batsu" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The original PV's illustration was drawn by mothy.</li>
        <li>The new PV uses Ichika's illustrations from the <em>master of the heavenly yard</em> <a href="{% link album/master-of-the-heavenly-yard.html %}">album</a> and <a href="{% link song/master-of-the-heavenly-yard.html %}">PV</a>.</li>
        <li>As the third song in the Clockwork Lullaby series, it is preceded by <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a> and succeeded by <a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a>.</li>
        <li>The words the character uses to change the melody are the words learned by the character in <a href="{% link song/wordplay.html %}">Wordplay</a>.</li>
        <li>mothy <a href="http://mothy.blog39.fc2.com/blog-entry-63.html">noted</a> that the song's title starting with "re" connects it to <a href="{% link song/regret-message.html %}"><em>regret message</em></a>.</li>
        <li>The character featured in the PV appears identical to Kagamine Len's VOCALOID2 module.</li>
        <li>The original PV mirrors the PV for <a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>.</li>
        <li>The silhouette for the "ghastly voice" in the new PV is the illustration of Sleep Princess from <em>master of the heavenly yard</em>.</li>
        <li>The niconico upload is described as "An event in deep darkness. Or maybe someone's dream. The truth is somewhere in the light."</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC ??? and is described as "Details unknown".</li>
        <li>The song's gear connects to <em>Clockwork Lullaby</em> and the "NO UTOPIA" black box.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS THEATER" %}
{% include navbar.html group="Evils Kingdom" %}
{% include navbar.html group="Clockwork Lullaby" %}