---
english-name: Recollective Musicbox
intro-image: CourtOfGreed.jpg
image: /assets/images/thumbs/CourtOfGreed.jpg
quote: The musicboxes he made played with a sound that was more beautiful than anyone else's.
speaker: luka
singers: Megurine Luka|Hiyama Kiyoteru-secondary
summary: A story about the musicbox craftsman Kiril Clockworker, his younger sister Irina, and his fianceée Elluka.
mothyrights: <em>The Evillious Chronicles</em>|<em>Recollective Musicbox</em>
copyrights: VOCALOID|Kagamine Rin & Len|KAITO|Hatsune Miku|Megurine Luka|GUMI|Hiyama Kiyoteru|Nekomura Iroha
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=lE7S9LcTXug"><strong>Original</strong></a>: The original version of the song featured on <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a>, <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>, and <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=XacFE--Nvc4"><strong>Clockworker</strong></a>: A version with altered lyrics and a new instrumental sung by Hiyama Kiyoteru that was featured on <a href="{% link album/oss-act-2.html %}"><em>Original Sin Story ―Act 2―</em></a>.</li>
        <li><strong>Clockworker Instrumental</strong>: An instrumental of the Clockworker version featured on <a href="{% link album/oss-act-2.html %}"><em>Original Sin Story ―Act 2―</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="album/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="OSS2.jpg" link="album/oss-act-2" eng="Original Sin Story &mdash;Act 2&mdash;" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="album/oss-complete" eng="Original Sin Story &mdash;Complete Edition&mdash;" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>As the ninth song in the <em>Original Sin Story</em> series, it is preceeded by <a href="{% link song/whereabouts-of-the-miracle.html %}"><em>Whereabouts of the Miracle</em></a> and succeeded by <a href="{% link song/song-i-heard-somewhere.html %}"><em>The Song I Heard Somewhere</em></a>.</li>
        <li>mothy <a href="https://twitter.com/mothy_akuno/status/935696960844992512">listed</a> the song as "Clockwork Lullaby R", likely due to its use of the lulila motif.</li>
        <li>The iconography on the lyrics page for the song in <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> indicates that the song takes place in Levianta.</li>
	</ul>
</section>

{% include navbar.html group="Judgment of Corruption ~a court of greed~" %}
{% include navbar.html group="EVILS COURT" %}
{% include navbar.html group="Original Sin Story Act 2" %}
{% include navbar.html group="Original Sin Story Complete Edition" %}