---
english-name: Red Shoe Parade
intro-image: RedShoeParade.jpg
quote: In the name of our great righteousness.
speaker: 
singers: Hatsune Miku|Kagamine Rin|Kagamine Len|Megurine Luka
summary: A story about the adventures of a quartet wearing red shoes.
mothyrights: <em>The Evillious Chronicles</em>|<em>Red Shoe Parade</em>
copyrights: VOCALOID|Kagamine Rin & Len|KAITO|Hatsune Miku|Megurine Luka|MEIKO|GUMI
artists: Tenkomori|Yuu|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=hY9GjMdevnU"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm13141152">niconico</a> on December 26, 2010, and later featured on <em>DEBUTANTEVI</em> and <a href="{% link album/evils-court.html %}"><em>EVILS COURT</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original linked from its <a href="https://www.nicovideo.jp/watch/sm13141152">niconico</a> upload.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="DebutanteVI.jpg" eng="DEBUTANTE|VI" furi="デビュタント|VI" jpn="DEBUTANTE|VI" rom="DEBYUTANTO VI" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="album/evils-court" eng="EVILS COURT" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Tenkomori.</li>
        <li>The "shadow parade" mentioned in the song and in its English title was previously mentioned in <a href="{% link song/madam-merry-go-round.html %}"><em>Madam Merry-Go-Round</em></a>.</li>
        <li>The niconico upload is described as "Our righteousness is great. Our righteousness is absolute. Now, advance. Come, advance."</li>
	</ul>
</section>