---
english-name: Regret Message
intro-image: RegretMessage.jpg
quote: A secret tradition that you taught me.
speaker: rin
singers: Kagamine Rin|Asami Shimoda-secondary
summary: The story of Riliane Lucifen d'Autriche after the revolution sending a bottle out to sea, hoping the wish inside will be granted.
mothyrights: <em>The Evillious Chronicles</em>|<em>Regret Message</em>
copyrights: VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|Camui Gackpo|GUMI
artists: Ichika|Suzunosuke
photographer: MAKOTO
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=KgYpSPARNWQ"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm3440324">niconico</a> on May 25, 2008, and to <a href="https://piapro.jp/t/47P9/20080529003216">piapro</a> on May 29, 2008.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original arrangement uploaded to <a href="https://piapro.jp/t/ft_E">piapro</a> on June 2, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=bmznEUVcNAQ"><strong>Acoustic version</strong></a>: An acoustic version of the original arrangement uploaded to <a href="https://piapro.jp/t/HKYY">piapro</a> on May 29, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=yoOBfXBtAh0"><strong>Remastered version</strong></a>: A remastered version of the song uploaded to <a href="https://piapro.jp/t/47P9">piapro</a> on January 15, 2009, and later featured on <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=-8eNUcdO7XI"><strong>Gemini of Charm version</strong></a>: A version sung by Kagamine Rin's voice provider Asami Shimoda that was featured on <a href="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=_U23_xDIfbQ"><strong>~velvet mix~</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/prelude-to-forest.html %}"><em>prelude to forest</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=LwPOW1oxEV8"><strong>Evils Kingdom version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
        <li><strong>seven crimes and punishments version</strong>: A version with new vocals and instrumentals featured on the bonus disc for <a href="{% link album/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>. It was later uploaded to <a href="https://www.youtube.com/watch?v=7bdSWHkHbec">YouTube</a> with a new PV on December 27, 2020.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="Gemini.jpg" link="album/gemini-of-charm" eng="The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack" %}
	{% include navthumb.html thumb="PreludeToForest.jpg" link="album/prelude-to-forest" eng="prelude to forest" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="SevenBonus.png" link="album/seven-crimes-and-punishments" eng="Seven Crimes and Punishments (Bonus CD)" jpn="七|つ|の|罪|と|罰" furi="なな|つ|の|つみ|と|ばつ" rom="nanatsu no tsumi to batsu" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The picture used in the original PV was posted by MAKOTO to Yakei Navi; it has since been deleted from the site.</li>
        <li>The new PV uses Ichika's illustrations from <a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>.</li>
        <li>The song takes place after <a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a> and <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a>, referencing events from the songs.</li>
        <li>The niconico upload is described as "Q: Is this a continuation of that? A: I think it's good for everyone to have their own interpretation."</li>
        <li>The piapro upload is described as "The interpretation is left to the viewer".</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 5?? and describes it as "Details unknown."</li>
	</ul>
</section>