---
english-name: The Restaurant of Many Ingredients
intro-image: RestaurantOfManyIngredients.png
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
quote: This is Mister Dog's restaurant of many ingredients.
speaker: kaito
singers: KAITO
summary: The stories of the various chefs working in Banica's restaurant.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Restaurant of Many Ingredients</em>
copyrights: VOCALOID|Kagamine Rin
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song featured on <a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="RestaurantOfManyIngredients.png" link="album/restaurant-of-many-ingredients" eng="The Restaurant of Many Ingredients" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The lyrics reference <a href="{% link song/drug-of-gold.html %}"><em>Drug Of Gold</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="The Restaurant of Many Ingredients" %}