---
english-name: Ristorante Cimitero
intro-image: RestaurantOfManyIngredients.png
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
quote: Yet, there are some feelings that are the same everywhere.
speaker: yukari
singers: Yuzuki Yukari
summary: A narrative track serving as a transition in <em>The Restaurant of Many Ingredients</em>.
mothyrights: <em>The Evillious Chronicles</em>|<em>Ristorante Cimitero</em>
copyrights: VOCALOID|Yuzuki Yukari
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song released on <a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="RestaurantOfManyIngredients.png" link="album/restaurant-of-many-ingredients" eng="The Restaurant of Many Ingredients" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>"Ristorante cimitero" is Italian for "cemetery restaurant".</li>
		<li>The song is implied to be share the same narrator as <a href="{% link song/storyteller-y.html %}"><em>Storyteller Y</em></a>.</li>
		<li>The narration recaps the events of <a href="{% link novel/eat-prologue.html %}"><em>E.A.T PROLOGUE</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="The Restaurant of Many Ingredients" %}