---
english-name: Ruminating on the Way Back from the Party
intro-image: CountTwilightAlbum.png
image: /assets/images/thumbs/CountTwilightAlbum.png
quote: Time to show off this “Clockworker’s” skills.
speaker: kiyoteru
singers: Hiyama Kiyoteru
summary: The story of Quiche Horloge returning back from a party after obtaining a pocketwatch.
mothyrights: <em>The Evillious Chronicles</em>|<em>Ruminating on the Way Back from the Party</em>
copyrights: VOCALOID|Hiyama Kiyoteru
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song featured on <a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a>.</li>
		<li><strong>Off Vocal</strong>: The instrumental version of the song featured on <a href="{% link album/count-twilights-invitation.html %}"><em>Count Twilight's Invitation</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="CountTwilightAlbum.png" link="album/count-twilights-invitation" eng="Count Twilight's Invitation" %}
</section>

{% include navbar.html group="Count Twilight's Invitation" %}