---
english-name: Sister Clarith's Curious Night
intro-image: TwinRabbitsAlbum.png
image: /assets/images/thumbs/TwinRabbitsAlbum.png
quote: As she was thinking this, she discovered that there was something hard inside the meal.
speaker: yukari
singers: Yuzuki Yukari|Hatsune Miku
summary: The story of Sister Clarith, who visits a strange restaurant in the forest in search of children who had gone missing from her church.
mothyrights: <em>The Evillious Chronicles</em>
copyrights: VOCALOID|Kagamine Rin &amp; Len|Hatsune Miku|Yuzuki Yukari
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song featured on <a href="{% link album/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a>.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original released on <em>Twin Rabbits Come and Play their Flute</em>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="TwinRabbitsAlbum.png" link="album/twin-rabbits-come-and-play-their-flute" eng="Twin Rabbits Come and Play their Flute" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>Ahead of its release, mothy <a href="https://twitter.com/mothy_akuno/status/1684403807667757056">described</a> the song as "not bright and dubiously a song at all".</li>
	</ul>
</section>

{% include navbar.html group="Twin Rabbits Come and Play their Flute" %}