---
english-name: Song of the Third Period
intro-image: ClockworkLullabyAlbum.jpg
image: /assets/images/thumbs/ClockworkLullabyAlbum.jpg
quote: This quickly pounding beat in our chests, our springs won't stop.
speaker: 
singers: Hatsune Miku|KAITO|MEIKO|Kagamine Rin|Kagamine Len|Megurine Luka|Camui Gackpo|GUMI|Yowane Haku
summary: The story of the spirits coming together to sing to fight against Ma.
mothyrights: <em>The Evillious Chronicles</em>|<em>Song of the Third Period</em>
copyrights: VOCALOID|Kagamine Rin & Len|Hatsune Miku|MEIKO|KAITO|Megurine Luka|Camui Gackpo|GUMI|Yowane Haku
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=nHBvGWcK-sI"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>As the twelfth song in the Clockwork Lullaby series, it is preceeded by <a href="{% link song/karma-of-evil-will-not-end.html %}"><em>The Karma of Evil Will Not End</em></a>.</li>
        <li>The melody from <a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a> can be heard at the beginning of the song.</li>
        <li>The song's gear connects to <a href="{% link song/swear-an-oath-on-that-bridge.html %}"><em>Swear an Oath on that Bridge</em></a>, the "NO UTOPIA" black box, and the "IV" gear.</li>
	</ul>
</section>

{% include navbar.html group="Clockwork Lullaby" %}