---
english-name: The Song that Resounds with Lulila, Lulila
alt-name: Bonus Track" / "Clockwork Parade
intro-image: EvilsKingdom.jpg
quote: The moon that shines in the sky is beautiful.
speaker: rin len
singers: Kagamine Rin|Kagamine Len
summary: A cryptic song about the seven deadly sins and their assosciated items.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Song that Resounds with Lulila, Lulila</em>
copyrights: VOCALOID|Kagamine Rin & Len|MEIKO|KAITO|Hatsune Miku|Megurine Luka|Camui Gackpo|GUMI
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=_Tz_NVRZS94"><strong>Original</strong></a>: The original version of the song released on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=D7FXFEWCQ_k"><strong>Parade</strong></a>: A version with new lyrics and vocals along with additional lyrics featured on <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="album/evils-extra" eng="EVILS EXTRA" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The song references the lyrics of <a href="{% link song/moonlit-bear.html %}"><em>moonlit bear</em></a>.</li>
        <li>The additional lyrics in the <em>Parade</em> version reference the title of <a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a>.</li>
        <li>The song was paired up with <a href="{% link song/letter-she-kept-waiting-for.html %}"><em>Reach For The Stars ~The Letter She Kept Waiting For~</em></a> in supplementary material for <a href="{% link album/evils-extra.html %}"><em>EVILS EXTRA</em></a>.</li>
	</ul>
</section>