---
english-name: Storyteller Y
intro-image: RestaurantOfManyIngredients.png
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
quote: I am accompanying this peculiar band in their journey, and I shall convey to you its particulars.
speaker: yukari
singers: Yuzuki Yukari
summary: An introduction to <em>The Restaurant of Many Ingredients</em> narrated by "Storyteller Y".
mothyrights: <em>The Evillious Chronicles</em>|<em>Storyteller Y</em>
copyrights: VOCALOID|Yuzuki Yukari
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song released on <a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="RestaurantOfManyIngredients.png" link="album/restaurant-of-many-ingredients" eng="The Restaurant of Many Ingredients" %}
</section>

{% include navbar.html group="The Restaurant of Many Ingredients" %}