---
english-name: Swear an Oath on that Bridge
intro-image: SwearAnOath.png
image: /assets/images/thumbs/SwearAnOath.png
quote: Surely even fate can be changed… probably.
speaker: luka
singers: Megurine Luka
summary: The story of the Three Heroes joining together through the Sanosun Bridge oath.
mothyrights: <em>The Evillious Chronicles</em>|<em>Swear an Oath on that Bridge</em>
copyrights: VOCALOID|Kagamine Rin & Len|Megurine Luka|Sweet ANN|LE♂N|MIRIAM
artists: mothy|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song released on <a href="{% link album/lucifenia-trinity.html %}"><em>Lucifenia Trinity</em></a> and later featured on <a href="{% link album/clockwork-lullaby.html%}"><em>Clockwork Lullaby</em></a>. It was uploaded with a PV to <a href="https://www.nicovideo.jp/watch/sm37451860">niconico</a> and <a href="https://www.youtube.com/watch?v=slFrNwILFoE">YouTube</a> on September 1, 2020.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original featured on <em>Lucifenia Trinity</em>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="Trinity.jpg" link="album/lucifenia-trinity" eng="Lucifenia Trinity" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="album/clockwork-lullaby" eng="Clockwork Lullaby" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>As the ninth song in the Clockwork Lullaby series, it is preceeded by <a href="{% link song/song-i-heard-somewhere.html %}"><em>The Song I Heard Somewhere</em></a> and succeeded by <a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>.</li>
        <li>The PV was illustrated by mothy and Ichika.</li>
        <li>mothy <a href="https://twitter.com/mothy_akuno/status/1300766531542892544">considers</a> it to be one of his top three songs.</li>
        <li>The song's gear connects to <a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a> and <a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Lucifenia Trinity" %}
{% include navbar.html group="Clockwork Lullaby" %}