---
english-name: Tale of Abandonment on a Moonlit Night
intro-image: Abandonment.png
quote: Come, let's go meet our mother and father.
speaker: rin len
singers: Kagamine Rin|Kagamine Len
summary: The story of the twins Hänsel and Gretel being abandoned in the forest by their parents.
mothyrights: <em>The Evillious Chronicles</em>|<em>Tale of Abandonment on a Moonlit Night</em>
copyrights: VOCALOID|MEIKO|KAITO|Hatsune Miku|Kagamine Rin & Len|Megurine Luka|Camui Gackpo|GUMI
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li>a href="https://www.youtube.com/watch?v=t3G9bYu-AQk"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm4844682">niconico</a> on October 6, 2008, and to <a href="https://piapro.jp/t/JU_V/20081007125118">piapro</a> on October 7, 2008.</li>
        <li><strong>Instrumental</strong>: An instrumental of the original arrangement uploaded to <a href="https://piapro.jp/t/0lv9">piapro</a> on October 7, 2008.</li>
        <li><a href="https://www.youtube.com/watch?v=Fw6LcicijP4"><strong>Remastered version</strong></a>: A remastered version of the song uploaded to <a href="https://piapro.jp/t/JU_V">piapro</a> on January 20, 2009, and later featured on <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=OIHP-VHuDWQ"><strong>Evils Kingdom version</strong></a>: A version with new vocals and instrumentals featured on <a href="{% link album/evils-kingdom.html %}"><em>Evils Kingdom</em></a>.</li>
        <li><a href="https://www.youtube.com/watch?v=ez_ngjUqKGk"><strong>Original Sin Story version</strong></a>: A version with new vocals and instrumentals along with adjusted lyrics featured on <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="album/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="album/oss-complete" eng="Original Sin Story &mdash;Complete Edition&mdash;" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated and created by Ichika.</li>
        <li>As the eleventh song in the <em>Original Sin Story</em> series, it is preceeded by <a href="{% link song/song-i-heard-somewhere.html %}"><em>THe Song I Heard Somewhere</em></a> and succeeded by <a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a>.</li>
        <li>The song was <a href="http://mothy.blog39.fc2.com/blog-entry-64.html">originally</a> going to be titled <em>Zoo Detention</em> ({% include jpn.html jpn="居|残|り|動|物|園" furi="い|のこ|り|どう|ぶつ|えん" rom="inokori doubutsuen" %}) and had a darker tone.</li>
        <li>The niconico upload is described as "Hänsel and Gretel."</li>
        <li>The version featured on <a href="{% link album/oss-complete.html %}"><em>Original Sin Story ―Complete Edition―</em></a> changed the lyric "It's like Hänsel and Gretel" (まるでヘンゼルとグレーテル) to "Our names are Hänsel and Gretel" (その名はヘンゼルとグレーテル).</li>
        <li>mothy's <a href="https://www.nicovideo.jp/mylist/45263307">official playlist</a> lists the song as occuring in EC 014 and describes it as "The discovery of Adam and Eve's corpses in their forest home."</li>
	</ul>
</section>