---
english-name: Ten Minute Love
intro-image: TenMinuteLove.jpg
image: /assets/images/thumbs/TenMinuteLove.jpg
quote: Oh traveling bus, carry this love.
speaker: rin
singers: Kagamine Rin
summary: The story of the girl Rin, who falls in love with a boy she meets on the bus on her way to school.
mothyrights: <em>The Evillious Chronicles</em>|<em>Ten Minute Love</em>
copyrights: VOCALOID|Kagamine Rin
artists: Taa|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=1QbzQMKz4Mk"><strong>Original</strong></a>: The original version of the song uploaded to <a href="https://www.nicovideo.jp/watch/sm2457253">niconico</a> on February 28, 2008, and to <a href="https://piapro.jp/t/dOtf/20080309003405">piapro</a> on March 9, 2008.</li>
		<li><a href="https://www.youtube.com/watch?v=ZyJUr0YsT54"><strong>Remastered version</strong></a>: A revised version of the song featuring new vocals and instrumentals uploaded to <a href="https://piapro.jp/t/dOtf">piapro</a> on April 18, 2008, and later featured on <a href="/album/evils-theater"><em>EVILS THEATER</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="EvilsTheater.jpg" link="album/evils-theater" eng="EVILS THEATER" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV's illustration was drawn by Taa.</li>
        <li>mothy <a href="https://piapro.jp/t/dOtf/20080309003405">made</a> the song in two weeks after purchasing Kagamine Rin & Len as a trial run.</li>
        <li>The character featured in the PV appears identical to Kagamine Rin's VOCALOID2 module.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="EVILS THEATER" %}