---
english-name: Waltz of the Deceased
intro-image: WaltzPV.png
image: /assets/images/thumbs/WaltzPV.png
quote: Tonight is a celebratory banquet.
speaker: rin
singers: Kagamine Rin
summary: A song about the inhabitants of the world after its end.
mothyrights: <em>The Evillious Chronicles</em>|<em>Waltz of the Deceased</em>
copyrights: VOCALOID|Kagamine Rin|GUMI|Camui Gackpo|Megurine Luka|Kaai Yuki|KAITO|Yowane Haku|Hatsune Miku|Sweet ANN|LE♂N|MEIKO|Kasane Teto|MIRIAM|Yufu Sekka
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song first released as a short version in the game <em>Project Sekai: Colorful Stage! feat. Hatsune Miku</em> on December 15, 2021. The full version was later uploaded with a PV to <a href="https://www.nicovideo.jp/watch/sm40109273">niconico</a> and <a href="https://www.youtube.com/watch?v=jNBRyo54Tks">YouTube</a> on February 28, 2022. It was then featured on <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a>.</li>
		<li><strong>Instrumental</strong>: An instrumental of the original version featured on <a href="{% link album/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="WaltzAlbum.png" link="album/waltz-of-the-deceased" eng="Waltz of the Deceased: Deadly Sins of Evil SEKAI EDITION+" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>It was <a href="https://www.youtube.com/watch?v=lLEQ7YCjkb8&t=4267">announced</a> during the Project Sekai Wondershow Channel 14 livestream that the song takes place after <a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>.</li>
		<li>In an official comment about the song's release, mothy <a href="https://twitter.com/pj_sekai/status/1462752794889240584">stated</a> that the themes of the song were "the story after the story" and "a fun yet disturbing banquet".</li>
		<li>mothy <a href="https://twitter.com/mothy_akuno/status/1471043248122916874">tweeted</a> out the lyrics to the game size version of the song after it was released in <em>Project Sekai: Colorful Stage! feat. Hatsune Miku</em>. These lyrics mistakenly used the word {% include jpn.html jpn="庶|民" furi="しょ|みん" rom="shomin" %} instead of {% include jpn.html jpn="諸|侯" furi="しょ|こう" rom="shokou" %} in the first verse.</li>
		<li>The lyrics reference mothy's stories <em>Unlock City</em> and <em>Story of Evil</em>, which both take place in the Fourth Period.</li>
		<li>mothy noted that <a href="https://twitter.com/mothy_akuno/status/1498246291926622211">since</a> the four primary Rin &amp; Len characters featured in the series were on the moon and in the movie theater respectively, he <a href="https://twitter.com/mothy_akuno/status/1498247356482920449">chose</a> Rin Chan to be featured instead.</li>
		<li>mothy <a href="https://twitter.com/mothy_akuno/status/1498256047806451714">selected</a> the characters featured in the PV besides the ones mentioned in the songs' lyrics, and specifically ended up listing characters who should not be featured in the venue.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="Waltz of the Deceased" %}