---
english-name: Watching Us
intro-image: WatchingUs.png
image: /assets/images/thumbs/WatchingUs.png
quote: Humans never rest, they work even through the dead of night.
speaker: luka
singers: Megurine Luka
summary: The story of a star observing the humans below her.
mothyrights: <em>The Evillious Chronicles</em>|<em>Watching Us</em>
copyrights: VOCALOID|Hatsune Miku|Megurine Luka|GUMI
artists: Yoshida Yoshitsugi|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=WvniI_oRzCQ"><strong>Original</strong></a>: The original version of the song released on <em>vocantabile ~storia~</em> and later uploaded to <a href="https://www.nicovideo.jp/watch/sm19980447">niconico</a> on February 2, 2013. It was then featured on <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="Vocantabile.jpg" eng="vocantabile ~storia~" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="album/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The PV was illustrated by Yoshida Dondorian.</li>
        <li>The song is based on <a href="https://en.wikipedia.org/wiki/Mimei_Ogawa">Mimei Ogawa</a>'s "The conversations of stars one night".</li>
        <li>The lyrics page in <a href="{% link album/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a> indicates that the song takes place in BT 3214.</li>
	</ul>
</section>

{% include navbar.html group="PVs" %}
{% include navbar.html group="The Muzzle of Nemesis" %}