---
english-name: Wendy
intro-image: HaitenGirl.jpg
quote: How can people seem to fly through the sky?
speaker: rin
singers: Kagamine Rin
summary: The story of a young girl who begins to fly after meeting Peter Pan one night.
mothyrights: <em>The Evillious Chronicles</em>|<em>Wendy</em>
copyrights: VOCALOID|Hatsune Miku|Kagamine Rin|GUMI
artists: Shimeko|Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=jl5-5X09PjE"><strong>Original</strong></a>: The original version featured on <em>Haiten★Girl 2</em>.</li>
        <li><a href="https://www.youtube.com/watch?v=3wLV26E9cBk"><strong>a court of greed version</strong></a>: A revised version with updated vocals featured on <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="HaitenGirl.jpg" eng="Haiten★Girl 2" jpn="ハイテン★ガール２" rom="HAITEN★GAARU 2" %}
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="album/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The iconography on the lyrics page for the song in <a href="{% link album/a-court-of-greed.html %}"><em>Judgment of Corruption ~a court of greed~</em></a> indicates that the song takes place in Marlon.</li>
	</ul>
</section>