---
english-name: The Witch and the Flower of Happiness
intro-image: RestaurantOfManyIngredients.png
image: /assets/images/thumbs/RestaurantOfManyIngredients.png
quote: In her final moments, the witch told them, “Flowers might just kill you.”
speaker: miku
singers: Hatsune Miku
summary: The story of a witch who takes revenge on a kingdom after her death.
mothyrights: <em>The Evillious Chronicles</em>|<em>The Witch and the Flower of Happiness</em>
copyrights: VOCALOID|Hatsune Miku
artists: Ichika
---
<section class="versions">
	<h2>Versions</h2>
	<ul>
		<li><strong>Original</strong>: The original version of the song released on <a href="{% link album/restaurant-of-many-ingredients.html %}"><em>The Restaurant of Many Ingredients</em></a>.</li>
	</ul>
</section>

<section class="albums flex">
	<h2>Albums</h2>
	{% include navthumb.html thumb="RestaurantOfManyIngredients.png" link="album/restaurant-of-many-ingredients" eng="The Restaurant of Many Ingredients" %}
</section>

<section class="notes">
	<h2>Notes</h2>
	<ul>
		<li>The lyrics reference <a href="{% link song/steel-lady-rilia-renee.html %}"><em>The Steel Lady, Rilia-Renée</em></a>.</li>
	</ul>
</section>

{% include navbar.html group="The Restaurant of Many Ingredients" %}