---
title: Music Credits &mdash; The Evillious Chronicles
css: credits.css
---
<div class="flex" id="intro">
	<header>
		<a href="{% link credits/index.html %}"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Music Credits</h1>
		<p>A list of the various musicians and Vocaloids mothy has worked with and where their work has been featured.</p>
		{% include fuributton.html %}
	</header>
</div>
<section class="credits">
	<h2 id="Asami_Shimoda">Asami Shimoda ({% include jpn.html jpn="下|田|麻|美" furi="しも|だ|あさ|み" rom="shimoda asami" %})</h2>
	<p>Asami Shimoda is the voice provider for Kagamine Rin &amp; Len. She covered the songs <a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a> and <a href="{% link song/south-north-story.html %}"><em>South North Story</em></a> on her album <em>Prism</em>, and covered the songs <a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a>, <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a>, <a href="{% link song/twiright-prank.html %}"><em>Twiright Prank</em></a>, and <a href="{% link song/regret-message.html %}"><em>Regret Message</em></a>; her cover of <em>Twiright Prank</em> was the first one to be released.</p>
	<p class="links"><a href="https://asaponmax.fc2.net/">Website</a> &middot; <a href="https://twitter.com/shimoda_asami">Twitter</a></p>

	<h2 id="Camui_Gackpo"><button class="collapse" id="collapseCG">[show/hide]</button> Camui Gackpo ({% include jpn.html jpn="神|威|がくぽ" furi="かむ|い|がくぽ" rom="kamui gakupo" %})</h2>
	<ul class="collapsible" id="collapsibleCG">
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/weathered-head-at-onigashima.html %}"><em>The Weathered Head at Onigashima</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
	</ul>

	<h2 id="daishi">daishi</h2>
	<p>daishi mastered the original versions of <a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a> and <a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a>.</p>

	<h2 id="GUMI"><button class="collapse" id="collapseGU">[show/hide]</button> GUMI ({% include jpn.html jpn="グミ" rom="GUMI" %})</h2>
	<ul class="collapsible" id="collapsibleGU">
		<li><a href="{% link song/last-revolver.html %}"><em>The Last Revolver</em></a>: Vocals</li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Supporting vocals</li>
		<li><a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a>: Supporting vocals <small>(<em>EVILS COURT</em>; <em>Seven Crimes and Punishments</em>)</small></li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-hellish-yard.html %}"><em>master of the hellish yard</em></a>: Vocals</li>
		<li><a href="{% link song/and-then-the-girl-went-mad.html %}"><em>And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―</em></a>: Vocals</li>
		<li><a href="{% link song/journey-of-two-mages.html %}"><em>The Journey of Two Mages ~Great Wall and Watchman~</em></a>: Vocals</li>
		<li><a href="{% link song/portrait-glassred-drew.html %}"><em>The Portrait Glassred Drew</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
	</ul>

	<h2 id="Hatsune_Miku"><button class="collapse" id="collapseHM">[show/hide]</button> Hatsune Miku ({% include jpn.html jpn="初|音|ミク" furi="はつ|ね|ミク" rom="hatsune MIKU" %})</h2>
	<ul class="collapsible" id="collapsibleHM">
		<li><a href="{% link song/miniature-garden-girl.html %}"><em>Miniature Garden Girl</em></a>: Vocals</li>
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>: Supporting vocals</li>
		<li><a href="{% link song/moonlit-bear.html %}"><em>moonlit bear</em></a>: Vocals</li>
		<li><a href="{% link song/daughter-of-white.html %}"><em>The Daughter of White</em></a>: Supporting vocals</li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Supporting vocals</li>
		<li><a href="{% link song/madam-merry-go-round.html %}"><em>madam merry-go-round</em></a>: Vocals</li>
		<li><a href="{% link song/red-shoe-parade.html %}"><em>Red Shoe Parade</em></a>: Vocals</li>
		<li><a href="{% link song/gift-from-the-princess-who-brought-sleep.html %}"><em>gift from the Princess who Brought Sleep</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-court.html %}"><em>master of the court</em></a>: Vocals</li>
		<li><a href="{% link song/tree-maiden.html %}"><em>Tree Maiden ~Millennium Wiegenlied~</em></a>: Vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/flower-of-the-plateau.html %}"><em>Flower of the Plateau</em></a>: Vocals</li>
		<li><a href="{% link song/project-ma.html %}"><em>Project "Ma"</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/queen-of-the-glass.html %}"><em>Queen Of The Glass</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>: Supporting vocals</li>
		<li><a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>: Supporting vocals</li>
		<li><a href="{% link song/karma-of-evil-will-not-end.html %}"><em>The Karma of Evil Will Not End</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
		<li><a href="{% link song/blind-girl-and-angel.html %}"><em>Blind Girl and Angel</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-cowardly-black-bird.html %}"><em>Song of the Cowardly Black Bird</em></a>: Vocals</li>
		<li><a href="{% link song/sister-clariths-curious-night.html %}"><em>Sister Clarith's Curious Night</em></a>: Vocals</li>
		<li><a href="{% link song/at-the-end-of-a-millennium-vow.html %}"><em>At the End of a Millennium Vow</em></a>: Vocals</li>
	</ul>

	<h2 id="Hiyama_Kiyoteru">Hiyama Kiyoteru ({% include jpn.html jpn="氷|山|キヨテル" furi="ひ|やま|キヨテル" rom="hiyama KIYOTERU" %})</h2>
	<p>Hiyama Kiyoteru provided vocals for <a href="{% link song/project-ma.html %}"><em>Project "Ma"</em></a> and <a href="{% link song/recollective-musicbox.html %}"><em>Clockworker -&nbsp;Recollective Musicbox&nbsp;-</em></a>.</p>

	<h2 id="Jounetsu-P">Jounetsu-P ({% include jpn.html jpn="情|熱|P" furi="じょう|ねつ|P" rom="jounetsu P" %})</h2>
	<p>Jounetsu-P, also known as Tetoteto ({% include jpn.html jpn="てとてと" rom="tetoteto" %}), has released various unofficial covers of mothy's songs. He composed <a href="{% link song/red-shoe-parade.html %}"><em>Red Shoe Parade</em></a> and co-composed <a href="{% link song/flames-of-yellow-phosphorus.html %}"><em>The Flames of Yellow Phosphorus</em></a> with mothy.</p>
	<p class="links"><a href="http://tetoteto1.blog85.fc2.com/">Website</a> &middot; <a href="https://twitter.com/Jounetsu_P">Twitter</a> &middot; <a href="https://www.youtube.com/user/JounetsuP">YouTube</a> &middot; <a href="https://www.nicovideo.jp/user/643618">niconico</a> &middot; <a href="https://piapro.jp/tetoteto">piapro</a></p>

	<h2 id="Kaai_Yuki">Kaai Yuki ({% include jpn.html jpn="歌|愛|ユキ" furi="か|あい|ユキ" rom="kaai YUKI" %})</h2>
	<p>Kaai Yuki provided vocals for <a href="{% link song/handbeat-clocktower.html %}"><em>Handbeat Clocktower</em></a>.</p>

	<h2 id="Kagamine_Len"><button class="collapse" id="collapseKL">[show/hide]</button> Kagamine Len ({% include jpn.html jpn="鏡|音|レン" furi="かがみ|ね|レン" rom="kagamine REN" %})</h2>
	<ul class="collapsible" id="collapsibleKL">
		<li><a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a>: Vocals</li>
		<li><a href="{% link song/tale-of-abandonment-on-a-moonlit-night.html %}"><em>Tale of Abandonment on a Moonlit Night</em></a>: Vocals</li>
		<li><a href="{% link song/south-north-story.html %}"><em>South North Story</em></a>: Supporting vocals</li>
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>: Vocals</li>
		<li><a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a>: Supporting vocals</li>
		<li><a href="{% link song/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a>: Supporting vocals</li>
		<li><a href="{% link song/frogs-and-my-love-romance.html %}"><em>The Frog's and My Love Romance</em></a>: Vocals</li>
		<li><a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a>: Supporting vocals</li>
		<li><a href="{% link song/master-of-the-graveyard.html %}"><em>master of the graveyard</em></a>: Vocals</li>
		<li><a href="{% link song/desert-bluebird.html %}"><em>Desert BLUEBIRD</em></a>: Vocals</li>
		<li><a href="{% link song/twiright-prank.html %}"><em>Twiright Prank</em></a>: Vocals</li>
		<li><a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby (demo version)</em></a>: Vocals</li>
		<li><a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a>: Vocals</li>
		<li><a href="{% link song/song-that-resounds-with-lulila-lulila.html %}"><em>The Song that Resounds with Lulila, Lulila</em></a>: Vocals</li>
		<li><a href="{% link song/red-shoe-parade.html %}"><em>Red Shoe Parade</em></a>: Vocals</li>
		<li><a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a>: Vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/letter-she-kept-waiting-for.html %}"><em>The Letter She Kept Waiting For</em></a>: Vocals</li>
		<li><a href="{% link song/handbeat-clocktower.html %}"><em>Handbeat Clocktower</em></a>: Supporting vocals</li>
		<li><a href="{% link song/and-then-the-girl-went-mad.html %}"><em>And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―</em></a>: Supporting vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/ending-boy-hansel.html %}"><em>Ending Boy Hänsel</em></a>: Vocals</li>
		<li><a href="{% link song/queen-of-the-glass.html %}"><em>Queen Of The Glass</em></a>: Supporting vocals</li>
		<li><a href="{% link song/barisols-child-is-an-only-child.html %}"><em>Barisol's Child is an Only Child</em></a>: Vocals</li>
		<li><a href="{% link song/that-king-was-born-from-mud.html %}"><em>That King was Born from Mud</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>: Vocals</li>
		<li><a href="{% link song/messengers-of-the-infinity-mirrors.html %}"><em>Messengers of the Infinity Mirrors</em></a>: Vocals</li>
		<li><a href="{% link song/you-only-have-to-double-jump.html %}"><em>You Only Have to Double Jump</em></a>: Vocals</li>
		<li><a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
		<li><a href="{% link song/great-journey.html %}"><em>grEAT journey</em></a>: Vocals</li>
		<li><a href="{% link song/outlaw-and-marionette.html %}"><em>Outlaw&amp;Marionette</em></a>: Vocals</li>
		<li><a href="{% link song/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a>: Vocals</li>
	</ul>

	<h2 id="Kagamine_Rin"><button class="collapse" id="collapseKR">[show/hide]</button> Kagamine Rin ({% include jpn.html jpn="鏡|音|リン" furi="かがみ|ね|リン" rom="kagamine RIN" %})</h2>
	<ul class="collapsible" id="collapsibleKR">
		<li><a href="{% link song/ten-minute-love.html %}"><em>Ten Minute Love</em></a>: Vocals</li>
		<li><a href="{% link song/wordplay.html %}"><em>Wordplay</em></a>: Vocals</li>
		<li><a href="{% link song/clockwork-lullaby.html %}"><em>Clockwork Lullaby</em></a>: Vocals</li>
		<li><a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil</em></a>: Vocals</li>
		<li><a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil</em></a>: Supporting vocals</li>
		<li><a href="{% link song/regret-message.html %}"><em>Regret Message</em></a>: Vocals</li>
		<li><a href="{% link song/tale-of-abandonment-on-a-moonlit-night.html %}"><em>Tale of Abandonment on a Moonlit Night</em></a>: Vocals</li>
		<li><a href="{% link song/south-north-story.html %}"><em>South North Story</em></a>: Vocals</li>
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>: Supporting vocals</li>
		<li><a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a>: Supporting vocals</li>
		<li><a href="{% link song/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a>: Vocals</li>
		<li><a href="{% link song/to-you-of-few-words.html %}"><em>To You of Few Words</em></a>: Vocals</li>
		<li><a href="{% link song/daughter-of-white.html %}"><em>The Daughter of White</em></a>: Supporting vocals</li>
		<li><a href="{% link song/full-moon-laboratory.html %}"><em>Full Moon Laboratory</em></a>: Vocals</li>
		<li><a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a>: Supporting vocals</li>
		<li><a href="{% link song/master-of-the-graveyard.html %}"><em>master of the graveyard</em></a>: Vocals</li>
		<li><a href="{% link song/wendy.html %}"><em>Wendy</em></a>: Vocals</li>
		<li><a href="{% link song/desert-bluebird.html %}"><em>Desert BLUEBIRD</em></a>: Supporting vocals</li>
		<li><a href="{% link song/twiright-prank.html %}"><em>Twiright Prank</em></a>: Vocals</li>
		<li><a href="{% link song/flames-of-yellow-phosphorus.html %}"><em>The Flames of Yellow Phosphorus</em></a>: Vocals</li>
		<li><a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a>: Vocals</li>
		<li><a href="{% link song/song-that-resounds-with-lulila-lulila.html %}"><em>The Song that Resounds with Lulila, Lulila</em></a>: Vocals</li>
		<li><a href="{% link song/red-shoe-parade.html %}"><em>Red Shoe Parade</em></a>: Vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/handbeat-clocktower.html %}"><em>Handbeat Clocktower</em></a>: Supporting vocals</li>
		<li><a href="{% link song/and-then-the-girl-went-mad.html %}"><em>And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―</em></a>: Supporting vocals</li>
		<li><a href="{% link song/blink.html %}"><em>Blink</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/queen-of-the-glass.html %}"><em>Queen Of The Glass</em></a>: Supporting vocals</li>
		<li><a href="{% link song/barisols-child-is-an-only-child.html %}"><em>Barisol's Child is an Only Child</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>: Vocals</li>
		<li><a href="{% link song/messengers-of-the-infinity-mirrors.html %}"><em>Messengers of the Infinity Mirrors</em></a>: Vocals</li>
		<li><a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
		<li><a href="{% link song/genesis-girl-gretel.html %}"><em>Genesis Girl Gretel</em></a>: Vocals</li>
		<li><a href="{% link song/letter-she-kept-waiting-for.html %}"><em>Reach For The Stars ~The Letter She Kept Waiting For~</em></a>: Supporting vocals</li>
		<li><a href="{% link song/great-journey.html %}"><em>grEAT journey</em></a>: Vocals</li>
		<li><a href="{% link song/steel-lady-rilia-renee.html %}"><em>The Steel Lady, Rilia-Renée</em></a>: Vocals</li>
		<li><a href="{% link song/waltz-of-the-deceased.html %}"><em>Waltz of the Deceased</em></a>: Vocals</li>
		<li><a href="{% link song/twin-rabbits-come-and-play-their-flute.html %}"><em>Twin Rabbits Come and Play their Flute</em></a>: Vocals</li>
	</ul>

	<h2 id="KAITO"><button class="collapse" id="collapseKA">[show/hide]</button> KAITO ({% include jpn.html jpn="カイト" rom="KAITO" %})</h2>
	<ul class="collapsible" id="collapsibleKA">
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>: Supporting vocals</li>
		<li><a href="{% link song/moonlit-bear.html %}"><em>moonlit bear</em></a>: Supporting vocals</li>
		<li><a href="{% link song/heartbeat-clocktower.html %}"><em>Heartbeat Clocktower</em></a>: Vocals</li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Supporting vocals</li>
		<li><a href="{% link song/judgment-of-corruption.html %}"><em>Judgment of Corruption</em></a>: Vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/handbeat-clocktower.html %}"><em>Handbeat Clocktower</em></a>: Vocals</li>
		<li><a href="{% link song/project-ma.html %}"><em>Project "Ma"</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/drug-of-gold.html %}"><em>Drug Of Gold</em></a>: Vocals</li>
		<li><a href="{% link song/muzzle-of-nemesis.html %}"><em>The Muzzle of Nemesis</em></a>: Vocals <small>(<em>Seven Crimes and Punishments</em>)</small></li>
		<li><a href="{% link song/karma-of-evil-will-not-end.html %}"><em>The Karma of Evil Will Not End</em></a>: Supporting vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
		<li><a href="{% link song/letter-she-kept-waiting-for.html %}"><em>Reach For The Stars ~The Letter She Kept Waiting For~</em></a>: Supporting vocals</li>
		<li><a href="{% link song/great-journey.html %}"><em>grEAT journey</em></a>: Vocals</li>
		<li><a href="{% link song/contradictory-grim-the-end.html %}"><em>The Contradictory Grim the End</em></a>: Vocals</li>
	</ul>

	<h2 id="Kasane_Teto">Kasane Teto ({% include jpn.html jpn="重|音|テト" furi="かさ|ね|テト" rom="kasane TETO" %})</h2>
	<p>Kasane Teto SV provided vocals for <a href="{% link song/atelier-horloge.html %}"><em>Atelier Horloge</em></a>.</p>

	<h2 id="Kangaroo_Suzuki">Kangaroo Suzuki ({% include jpn.html jpn="カンガルー|鈴|木" furi="カンガルー|すず|き" rom="KANGARUU suzuki" %})</h2>
	<p>Kangaroo Suzuki composed the instrumentals featured on <a hef="{% link album/gemini-of-charm.html %}"><em>The Daughter of Evil ~Gemini of Charm~ Vocal and Soundtrack</em></a>.</p>
	<p class="links"><a href="http://gullab.tokyo/">Website</a> &middot; <a href="https://twitter.com/garusuzuki">Twitter</a> &middot; <a href="https://sbpt.tumblr.com">tumblr</a></p>

	<h2 id="Lily">Lily ({% include jpn.html jpn="リリィ" rom="RIRYI" %})</h2>
	<p>Lily provided vocals for <a href="{% link song/ma-survival.html %}"><em>"Ma" Survival -&nbsp;Who Will Survive?&nbsp;-</em></a>.</p>

	<h2 id="Mitsuyasu_Yanagita">Mitsuyasu Yanagita ({% include jpn.html jpn="柳|田|光康" furi="やなぎ|た|まつやす" rom="yanagita mitsuyasu" %})</h2>
	<p>Mitsuyasu Yanagita provided the guitar for <a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>.<p>
	<p class="links"><a href="https://twitter.com/mitsuyasuyanagi">Twitter</a> &middot; <a href="https://soundcloud.com/mitsuyasu-yanagita">SoundCloud</a></p>

	<h2 id="MAYU">MAYU ({% include jpn.html jpn="マユ" rom="MAYU" %})</h2>
	<p>MAYU provided vocals for <a href="{% link song/bloodstained-switch.html %}"><em>Bloodstained Switch</em></a> and <a href="{% link song/neomaria-of-the-inverted-gravestone.html %}"><em>Neomaria of the Inverted Gravestone</em></a>.</p>

	<h2 id="Megurine_Luka"><button class="collapse" id="collapseML">[show/hide]</button> Megurine Luka ({% include jpn.html jpn="巡|音|ルカ" furi="めぐり|ね|ルカ" rom="megurine RUKA" %})</h2>
	<ul class="collapsible" id="collapsibleML">
		<li><a href="{% link song/tailor-of-enbizaka.html %}"><em>The Tailor of Enbizaka</em></a>: Vocals</li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Supporting vocals</li>
		<li><a href="{% link song/red-shoe-parade.html %}"><em>Red Shoe Parade</em></a>: Vocals</li>
		<li><a href="{% link song/chrono-story.html %}"><em>Chrono Story</em></a>: Vocals</li>
		<li><a href="{% link song/recollective-musicbox.html %}"><em>Recollective Musicbox</em></a>: Vocals</li>
		<li><a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a>: Supporting vocals <small>(<em>EVILS COURT</em>; <em>Seven Crimes and Punishments</em>)</small></li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/watching-us.html%}"><em>Watching Us</em></a>: Vocals</li>
		<li><a href="{% link song/ma-survival.html %}"><em>"Ma" Survival -&nbsp;Who Will Survive?&nbsp;-</em></a>: Vocals</li>
		<li><a href="{% link song/whereabouts-of-the-miracle.html %}"><em>Whereabouts of the Miracle -&nbsp;CATASTROPHE&nbsp;-</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/swear-an-oath-on-that-bridge.html %}"><em>Swear an Oath on that Bridge</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>: Supporting vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
	</ul>

	<h2 id="MEIKO"><button class="collapse" id="collapseME">[show/hide]</button>MEIKO ({% include jpn.html jpn="メイコ" rom="MEIKO" %})</h2>
	<ul class="collapsible" id="collapsibleME">
		<li><a href="{% link song/re-birthday.html %}"><em>Re_birthday</em></a>: Supporting vocals</li>
		<li><a href="{% link song/evil-food-eater-conchita.html %}"><em>Evil Food Eater Conchita</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-graveyard.html %}"><em>master of the graveyard</em></a>: Supporting vocals</li>
		<li><a href="{% link song/lunacy-of-duke-venomania.html %}"><em>The Lunacy of Duke Venomania</em></a>: Supporting vocals</li>
		<li><a href="{% link song/capriccio-farce.html %}"><em>Capriccio Farce</em></a>: Vocals</li>
		<li><a href="{% link song/escape-of-salmhofer-the-witch.html %}"><em>Escape of Salmhofer the Witch</em></a>: Vocals</li>
		<li><a href="{% link song/seven-crimes-and-punishments.html %}"><em>Seven Crimes and Punishments</em></a>: Vocals</li>
		<li><a href="{% link song/drug-of-gold.html %}"><em>Drug Of Gold</em></a>: Supporting vocals</li>
		<li><a href="{% link song/a-heros-armor-is-always-crimson.html %}"><em>A Hero's Armor is Always Crimson</em></a>: Vocals</li>
		<li><a href="{% link song/master-of-the-heavenly-yard.html %}"><em>master of the heavenly yard</em></a>: Supporting vocals</li>
		<li><a href="{% link song/banica-concerto.html %}"><em>Banica Concerto!!</em></a>: Vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
		<li><a href="{% link song/fictional-masquerade.html %}"><em>Fictional Masquerade</em></a>: Vocals</li>
		<li><a href="{% link song/great-journey.html %}"><em>grEAT journey</em></a>: Vocals</li>
	</ul>

	<h2 id="mothy">mothy</h2>
	<p>mothy is presumed to create all of his officially released music unless otherwise stated.<!--listen i was already a pedant and listed every single PV he created. im tired. this is your problem now--></p>

	<h2 id="Nekomura_Iroha">Nekomura Iroha ({% include jpn.html jpn="猫|村|いろは" furi="ねこ|むら|いろは" rom="nekomura iroha" %})</h2>
	<p>Nekomura Iroha provided vocals for <a href="{% link song/ma-survival.html %}"><em>"Ma" Survival -&nbsp;Who Will Survive?&nbsp;-</em></a> and <a href="{% link song/song-i-heard-somewhere.html %}"><em>The Song I Heard Somewhere</em></a>.</p>

	<h2 id="miki">SF-A2 codename miki ({% include jpn.html jpn="SF-A2| |開|発|コード| |miki" furi="SF-A2| |かい|はつ|コード| |miki" rom="SF-A2 kaihatsu KOODO miki" %})</h2>
	<p>SF-A2 codename miki provided vocals for <a href="{% link song/ma-survival.html %}"><em>"Ma" Survival -&nbsp;Who Will Survive?&nbsp;-</em></a>.</p>

	<h2 id="Saori_Hayami">Saori Hayami ({% include jpn.html jpn="早|見|沙|織" furi="はや|み|さ|おり" rom="hayami sayori" %})</h2>
	<p>Saori Hayami sang the version of <a href="{% link song/fictional-masquerade.html %}"><em>Fictional Masquerade</em></a> that was featured in <em>Engage Princess</em>.</p>
	<p class="links"><a href="https://hayamisaoriofficial.com/">Website</a> &middot; <a href="https://twitter.com/hayami_official">Twitter</a> &middot; <a href="https://www.youtube.com/channel/UCtUcK6HrhD024CkPDsURBwg">YouTube</a></p>

	<h2 id="Signal-P">Signal-P ({% include jpn.html jpn="シグナルP" rom="SHIGUNARU P" %})</h2>
	<p>Signal-P, also known as Dios, helped mothy produce and sell the albums <a href="{% link album/evils-theater.html %}"><em>EVILS THEATER</em></a>, <a href="{% link album/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a>, and <a href="{% link album/evils-forest.html %}"><em>EVILS FOREST</em></a>. He then mastered the original versions of <a href="{% link song/fifth-pierrot.html %}"><em>Fifth Pierrot</em></a> and <a href="{% link song/steel-lady-rilia-renee.html %}"><em>The Steel Lady, Rilia-Renée</em></a>.</p>
	<p class="links"><a href="https://twinkledisc.net">Website</a> &middot; <a href="https://twitter.com/Hiroaki_Arai_">Twitter</a> &middot; <a href="https://www.instagram.com/hiroaki_arai_/">Instagram</a> &middot; <a href="https://www.youtube.com/user/twinkledisc">YouTube</a> &middot; <a href="https://www.nicovideo.jp/user/4632758">niconico</a> &middot; <a href="https://piapro.jp/Hiroaki">piapro</a></p>

	<h2 id="Soraru">Soraru ({% include jpn.html jpn="そらる" rom="soraru" %})</h2>
	<p>Soraru sang <a href="{% link song/half-blood.html %}"><em>Half Blood</em></a> for <em>HalfBlood: Love Trembling at the Boundary</em>.</p>
	<p class="links"><a href="http://soraruru.jp/">Website</a> &middot; <a href="https://twitter.com/soraruru">Twitter</a> &middot; <a href="https://www.instagram.com/soraru_official/">Instagram</a> &middot; <a href="https://www.youtube.com/user/soraruYT">YouTube</a> &middot; <a href="https://www.nicovideo.jp/user/1796335">niconico</a></p>

	<h2 id="Travolta-P">Travolta-P ({% include jpn.html jpn="トラボルタP" rom="TORABORUTA P" %})</h2>
	<p>Travolta-P arranged the songs <a href="{% link song/daughter-of-evil.html %}"><em>The Daughter of Evil (arrange version)</em></a> and <a href="{% link song/servant-of-evil.html %}"><em>The Servant of Evil (arrange version)</em></a> featured on <a href="{% link album/bgm-reading-collection.html %}"><em>The Daughter of Evil: BGM Reading Collection</em></a>.</p>
	<p class="links"><a href="http://mmmusic.yu-nagi.com/">Website</a> &middot; <a href="https://twitter.com/volta_">Twitter</a> &middot; <a href="https://www.youtube.com/user/TORABORUTA00">YouTube</a> &middot; <a href="https://www.nicovideo.jp/user/1446360">niconico</a></p>

	<h2 id="uniMemo-P">uniMemo-P ({% include jpn.html jpn="ゆにめもP" rom="yunimemo P" %})</h2>
	<p>uniMemo-P collaborated with mothy under the name Akuyurin ({% include jpn.html jpn="あくゆりん" rom="akuyurin" %}); he tuned "South Rin", arranged, and wrote the English lyrics for <a href="{% link song/south-north-story.html %}"><em>South North Story</em></a> and tuned BMD2R, arranged, and provided guitar for <a href="{% link song/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a>. He released the album <a href="{% link album/screws-gears-and-pride.html %}"><em>Screws, Gears, and Pride</em></a> with mothy under the Akuyurin alias.</p> 
	<p class="links"><a href="http://unimemopro.blog129.fc2.com/">Website</a> &middot; <a href="https://twitter.com/unimemo_p">Twitter</a> &middot; <a href="https://www.nicovideo.jp/user/1371450">niconico</a> &middot; <a href="https://piapro.jp/uniMemo">piapro</a></p>

	<h2 id="VY1">VY1</h2>
	<p>VY1 provided vocals for <a href="{% link song/torture-tower-doesnt-sleep.html %}"><em>Torture Tower Doesn't Sleep</em></a>.</p>

	<h2 id="Yowane_Haku"><button class="collapse" id="collapseYH">[show/hide]</button> Yowane Haku ({% include jpn.html jpn="弱|音|ハク" furi="よわ|ね|ハク" rom="yowane HAKU" %})</h2>
	<ul class="collapsible" id="collapsibleYH">
		<li><a href="{% link song/daughter-of-white.html %}"><em>The Daughter of White</em></a>: Vocals</li>
		<li><a href="{% link song/tree-maiden.html %}"><em>Tree Maiden ~Millennium Wiegenlied~</em></a>: Supporting vocals</li>
		<li><a href="{% link song/song-of-the-third-period.html %}"><em>Song of the Third Period</em></a>: Vocals</li>
	</ul>
	
	<h2 id="Yuzuki_Yukari">Yuzuki Yukari ({% include jpn.html jpn="結月|ゆかり" furi="ゆづき|ゆかり" rom="yudzuki yukari" %})</h2>
	<p>Yuzuki Yukari (A.I.VOICE) provided vocals for <a href="{% link song/sister-clariths-curious-night.html %}"><em>Sister Clarith's Curious Night</em></a>.</p>
</section>
{% include copyright.html mothyrights="<em>The Evillious Chronicles</em>|<em>Torture Tower Doesn't Sleep</em>" copyrights="VOCALOID|KAITO|MEIKO|Megurine Luka|Hatsune Miku|Kagamine Rin &amp; Len|Camui Gackpo|GUMI|MAYU|VY1|Nekomura Iroha|Yowane Haku|SF-A2 codename miki|Lily|Kaai Yuki|Hiyama Kiyoteru" artists="Ichika" %}