---
title: Album Booklets &mdash; The Evillious Chronicles
layout: default
css: largeNav.css
---
<div class="flex" id="intro">
	<header>
		<a href="../"><img class="circle introImage" src="/assets/images/headerImage.png" /></a>
		<h1><em>The Evillious Chronicles</em>:<br />Album Booklets</h1>
		<p>Album booklets from <em>The Evillious Chronicles</em> translated into English.</p>
		{% include fuributton.html %}
	</header>
</div>
<navigation class="flex">
	{% include navthumb.html thumb="EvilsTheater.jpg" link="booklet/evils-theater" eng="EVILS THEATER" %}
	{% include navthumb.html thumb="PreludeToForest.jpg" link="booklet/prelude-to-forest" eng="prelude to forest" %}
	{% include navthumb.html thumb="EvilsForest.png" link="booklet/evils-forest" eng="EVILS FOREST" %}
	{% include navthumb.html thumb="EvilsKingdom.jpg" link="booklet/evils-kingdom" eng="Evils Kingdom" %}
	{% include navthumb.html thumb="CourtOfGreed.jpg" link="booklet/a-court-of-greed" eng="Judgment of Corruption ~a court of greed~" %}
	{% include navthumb.html thumb="EvilsCourt.jpg" link="booklet/evils-court" eng="EVILS COURT" %}
	{% include navthumb.html thumb="OSS1.jpg" link="booklet/oss-act-1" eng="Original Sin Story ―Act 1―" %}
	{% include navthumb.html thumb="OSS2.jpg" link="booklet/oss-act-2" eng="Original Sin Story ―Act 2―" %}
	{% include navthumb.html thumb="NemesisAlbum.jpg" link="booklet/muzzle-of-nemesis" eng="The Muzzle of Nemesis" %}
	{% include navthumb.html thumb="OSSComplete.jpg" link="booklet/oss-complete" eng="Original Sin Story ―Complete Edition―" %}
	{% include navthumb.html thumb="Trinity.jpg" link="booklet/lucifenia-trinity" eng="Lucifenia Trinity" %}
	{% include navthumb.html thumb="HeavenlyAlbum.jpg" link="booklet/master-of-the-heavenly-yard" eng="master of the heavenly yard" %}
	{% include navthumb.html thumb="ClockworkLullabyAlbum.jpg" link="booklet/clockwork-lullaby" eng="Clockwork Lullaby" %}
	{% include navthumb.html thumb="EvilsExtra.jpg" link="booklet/evils-extra" eng="EVILS EXTRA" %}
</navigation>
{% include copyright.html copyrights="VOCALOID|Kagamine Rin & Len|Hatsune Miku|MEIKO|GUMI|KAITO|Camui Gackpo|Megurine Luka|Nekomura Iroha|MIRIAM|LE♂N|Sweet ANN" artists="Ichika|Suzunosuke" %}