---
foreground: envy-color
background: envy-background
link-color: envy-link
furi-color: envy-furi
arc: Envy Arc
image: /assets/images/Envy.jpg
intro-image: Envy.jpg
quote: But I have to keep at my work;<br />I tightly grip my scissors in one hand.
quote-source: The Tailor of Enbizaka
quote-source-link: song/tailor-of-enbizaka
description: Characters associated with Kayo Sudou and the Enbizaka Murder Scandal.
copyrights: VOCALOID|Megurine Luka|KAITO|MEIKO|Hatsune Miku|Kagamine Rin &amp; Len|Camui Gackpo|Kasane Teto
artists: Rgveta|Ichika
---
{% include character.html
	char-class="luka"
	english-name="Kayo Sudou"
	japanese-name="首|藤|禍|世"
	romaji-name="sudou kayo"
	furi-name="す|どう|か|よ"
	image="envy/Kayo.png"
	description="A tailor living in Enbizaka. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="kaito"
	english-name="Kai Miroku"
	japanese-name="三|六|悔"
	romaji-name="miroku kai"
	furi-name="み|ろく|かい"
	image="envy/Kai.png"
	description="A cloth seller, husband of Mei, and father of Miku and Rin. He is represented by KAITO."
%}
{% include character.html
	char-class="meiko"
	english-name="Mei Miroku"
	japanese-name="三|六|冥"
	romaji-name="miroku mei"
	furi-name="み|ろく|めい"
	image="envy/Mei.png"
	description="A draper, wife of Kai, and mother of Miku and Rin. She is represented by MEIKO."
%}
{% include character.html
	char-class="miku"
	english-name="Miku Miroku"
	japanese-name="三|六|三|九"
	romaji-name="miroku miku"
	furi-name="み|ろく|み|く"
	image="envy/Miku.png"
	description="A teenager living in Enbizaka, daughter of Kai and Mei, and Rin's sister. She is represented by Hatsune Miku."
%}
{% include character.html
	char-class="rin"
	english-name="Rin Miroku"
	japanese-name="三|六|燐"
	romaji-name="miroku rin"
	furi-name="み|ろく|りん"
	image="envy/Rin.png"
	description="A teenager living in Enbizaka, daughter of Kai and Mei, and Miku's sister. She is represented by Kagamine Rin."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Clockworker"
	japanese-name="エルルカ＝クロックワーカー"
	romaji-name="ERURUKA=KUROKKUWAAKAA"
	image="envy/Elluka.png"
	description="A Levin missionary visiting Enbizaka. She is represented by Megurine Luka."
%}
{% include character.html
	english-name="Bufuko Tsukimoto"
	japanese-name="月|本|ブフ|子"
	romaji-name="tsukimoto BUFUko"
	furi-name="つき|もと|ブフ|こ"
	image="UnknownWoman.png"
	description="Kayo's maid."
%}
{% include character.html
	english-name="Kiji Yarera"
	japanese-name="キジ＝ヤレラ"
	romaji-name="KIJI=YARERA"
	image="envy/Kiji.png"
	description="A businessman working in Enbizaka."
%}
{% include character.html
	char-class="gackpo"
	english-name="Gakusha"
	japanese-name="楽|捨"
	romaji-name="gakusha"
	furi-name="がく|しゃ"
	image="envy/Gakusha.png"
	description="A travelling Buddhist monk with no memory. He is represented by Camui Gackpo."
%}
{% include character.html
	char-class="len"
	english-name="Kokutan-douji"
	japanese-name="黒|檀|童|子"
	romaji-name="kokutan douji"
	furi-name="こく|たん|どう|じ"
	image="envy/Kokutan-douji.png"
	description="A boy born from a tree who is travelling across Jakoku to find his mother as instructed to by a mermaid alongside Saruteito and Inukichi. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="teto"
	english-name="Saruteito"
	japanese-name="猿|帝|都"
	romaji-name="saruteito"
	furi-name="さる|てい|と"
	image="envy/Saruteito.png"
	description="A descendant of Chartette and travelling companion of Kokutan-douji and Inukichi. She is represented by Kasane Teto."
%}
{% include character.html
	english-name="Inukichi"
	japanese-name="犬|吉"
	romaji-name="inukichi"
	furi-name="いぬ|きち"
	image="envy/Inukichi.png"
	description="A childhood friend of Kokutan-douji and later his travelling companion alongside Saruteito."
%}
{% include character.html
	english-name="The Scissors"
	japanese-name="鋏"
	romaji-name="hasami"
	furi-name="はさみ"
	image="envy/Scissors.png"
	description="The spirit inhabiting Kayo's scissors."
%}
{% include character.html
	english-name="The Mermaid"
	japanese-name="人|魚"
	romaji-name="ningyo"
	furi-name="にん|ぎょ"
	image="envy/Mermaid.png"
	description="An inhabitant of the sea who instructed Kokutan-douji to find his mother."
%}