---
foreground: gluttony-color
background: gluttony-background
link-color: gluttony-link
furi-color: gluttony-furi
arc: Gluttony Arc
image: /assets/images/Gluttony.jpg
intro-image: Gluttony.jpg
quote: Completely devour everything in this world,<br />There’s still room to go in my stomach!
quote-source: Evil Food Eater Conchita
quote-source-link: song/evil-food-eater-conchita
description: Characters associated with Banica Conchita and her disappearance.
copyrights: VOCALOID|MEIKO|Kagamine Rin & Len|KAITO|Megurine Luka|Hatsune Miku
artists: Ichika
---
{% include character.html
	char-class="meiko"
	english-name="Banica Conchita"
	japanese-name="バニカ＝コンチータ"
	romaji-name="BANIKA=KONCHIITA"
	image="gluttony/Banica.png"
	description="One of Beelzenia's five dukes and a grotesque gourmand. She is represented by MEIKO."
%}
{% include character.html
	char-class="len"
	english-name="Pollo"
	japanese-name="ポロ"
	romaji-name="PORO"
	image="gluttony/Pollo.png"
	description="Banica's servant and Arte's twin. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="rin"
	english-name="Arte"
	japanese-name="アルテ"
	romaji-name="ARUTE"
	image="gluttony/Arte.png"
	description="Banica's servant and Pollo's twin. She is represented by Kagamine Rin."
%}
{% include character.html
	char-class="kaito"
	english-name="Josef Crim"
	japanese-name="ヨーゼフ＝クリム"
	romaji-name="YOOZEFU=KURIMU"
	image="gluttony/Josef.png"
	description="Banica's fifteenth chef. He is represented by KAITO."
%}
{% include character.html
	english-name="Ron Grapple"
	japanese-name="ロン＝グラップル"
	romaji-name="RON=GURAPPURU"
	image="gluttony/Ron.png"
	description="Banica's grand chamberlain."
%}
{% include character.html
	english-name="Juno Beelzenia"
	japanese-name="ジュノ＝ベルゼニア"
	romaji-name="JUNO=BERUZENIA"
	image="UnknownWoman.png"
	description="The empress of the Beelzenian empire and an old friend of Banica's."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Clockworker"
	japanese-name="エルルカ＝クロックワーカー"
	romaji-name="ERURUKA=KUROKKUWAAKAA"
	image="gluttony/Elluka.png"
	description="A sorceress hired by Juno to investigate Banica's alleged apostasy and cannibalism. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="iroha"
	english-name="AB-CIR"
	japanese-name="AB|-|CIR"
	romaji-name="EIBII-SHIIAA"
	furi-name="エイビー|-|シーアー"
	image="gluttony/AB-CIR.png"
	description="A mage working for a Lioness lord."
%}
{% include character.html
	char-class="miku"
	english-name="Platonic"
	japanese-name="プラトニック"
	romaji-name="PURATONIKKU"
	image="gluttony/Platonic.png"
	description="A teenage thief frequently hired by AB-CIR. She is represented by Hatsune Miku."
%}