---
foreground: greed-color
background: greed-background
link-color: greed-link
furi-color: greed-furi
arc: Greed Arc
intro-image: Greed.jpg
quote: Even if you’re a scoundrel,<br />If you pay money I’ll save you.
quote-source: Judgment of Corruption
quote-source-link: song/judgment-of-corruption
description: Characters associated with Gallerian Marlon and the Dark Star Scandal.
copyrights: VOCALOID|KAITO|Megurine Luka|Hatsune Miku|Kagamine Rin|Yowane Haku|Tonio|GUMI
artists: Painter Brioche|Ichika|iXima
---
{% include character.html
	char-class="kaito"
	english-name="Gallerian Marlon"
	japanese-name="ガレリアン＝マーロン"
	romaji-name="GARERIAN=MAARON"
	image="greed/Gallerian.png"
	description="A judge of the Dark Star Bureau and father of Michelle Marlon. He is represented by KAITO."
%}
{% include character.html
	char-class="luka"
	english-name="Ma"
	japanese-name="Ma"
	romaji-name="EMUEE"
	furi-name="エムエー"
	image="greed/Ma.png"
	description="A playwright and acquaintance of Gallerian. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="miku"
	english-name="Michelle Marlon"
	japanese-name="ミッシェル＝マーロン"
	romaji-name="MISSHERU=MAARON"
	image="greed/Michelle.png"
	description="Gallerian's young daughter. She is represented by Hatsune Miku."
%}
{% include character.html
	english-name="Bruno Zero"
	japanese-name="ブルーノ＝ゼロ"
	romaji-name="BURUUNO=ZERO"
	image="greed/Bruno.png"
	description="Gallerian's butler and aide, as well as the leader of PN codenamed No. 0."
%}
{% include character.html
	char-class="haku"
	english-name="Shiro Netsuma"
	japanese-name="シロ＝ネツマ"
	romaji-name="SHIRO=NETSUMA"
	image="greed/Shiro.png"
	description="A member of PN codenamed No. 1. She is represented by Yowane Haku."
%}
{% include character.html
	english-name="Hel Jakko"
	japanese-name="ヘール＝ヤーコ"
	romaji-name="HEERU=YAAKO"
	image="greed/Hel.png"
	description="A clerk of the Dark Star Bureau and a member of PN codenamed No. 2."
%}
{% include character.html
	english-name="Feng Li"
	japanese-name="フェン＝リー"
	romaji-name="FEN=RII"
	image="greed/Feng.png"
	description="A member of PN codenamed No. 3 with the appearance of a tiger."
%}
{% include character.html
	english-name="Feng Li"
	japanese-name="ポストマン"
	romaji-name="POSUTOMAN"
	image="greed/Postman.png"
	description="A mysterious member of PN codenamed No. 4."
%}
{% include character.html
	english-name="Hanma Baldured"
	japanese-name="ハンマ＝バルドルド"
	romaji-name="HANMA=BARUDORUDO"
	image="UnknownMan.png"
	description="The head judge of the Dark Star Bureau."
%}
{% include character.html
	english-name="Loki Freezis"
	japanese-name="ロキ=フリージス"
	romaji-name="ROKI=FURIIJISU"
	image="greed/Loki.png"
	description="Gallerian's coworker and Mira's boyfriend."
%}
{% include character.html
	english-name="Mira Yarera"
	japanese-name="ミラ=ヤレラ"
	romaji-name="MIRA=YARERA"
	image="UnknownWoman.png"
	description="Loki's girlfriend."
%}
{% include character.html
	char-class="tonio"
	english-name="Tony Ausin"
	japanese-name="トニー＝オースディン"
	romaji-name="TONII=OOSUDIN"
	image="greed/Tony.png"
	description="A Union State of Evillious general and Gallerian's old friend. He is represented by Tonio."
%}
{% include character.html
	english-name="Lich Arklow"
	japanese-name="リッチ＝アークロウ"
	romaji-name="RICCHI=AAKUROU"
	image="greed/Lich.png"
	description="The manager of the Graveyard restaurant."
%}
{% include character.html
	english-name="Eater Sabella"
	japanese-name="イーター＝サーベア"
	romaji-name="IITAA=SAABEA"
	image="greed/Eater.png"
	description="A chef at the Graveyard restaurant."
%}
{% include character.html
	char-class="rin"
	english-name="Waiter"
	japanese-name="ウェイター"
	romaji-name="WEITAA"
	image="UnknownRin.png"
	description="A waiter at the Graveyard restaurant who told Gallerian the story of Banica Conchita. She is represented by Kagamine Rin."
%}
{% include character.html
	english-name="Demon of Greed"
	japanese-name="強|欲|の|悪|魔"
	romaji-name="gouyoku no akuma"
	furi-name="ごう|よく|の|あく|ま"
	image="greed/Spoon.png"
	description="A demon residing inside the spoon."
%}
{% include character.html
	char-class="gumi"
	english-name="Master of the Hellish Yard"
	japanese-name="冥|界|の|主"
	romaji-name="meikai no nushi"
	furi-name="めい|かい|の|ぬし"
	image="greed/mothy.png"
	description="The woman who decides whether people are sent to Heaven or Hell. She is portrayed by GUMI."
%}