---
foreground: lust-color
background: lust-background
link-color: lust-link
furi-color: lust-furi
arc: Lust Arc
intro-image: Lust.jpg
quote: All of the women who see me<br />Fall into a charm.
quote-source: The Lunacy of Duke Venomania
quote-source-link: song/lunacy-of-duke-venomania
description: Characters associated with Sateriasis Venomania and the Venomania Event.
copyrights: VOCALOID|KAITO|MEIKO|Hatsune Miku|Megurine Luka|Camui Gackpo|GUMI|Lily|Yowane Haku|Yufu Sekka
artists: Suzunosuke|Ichika|Reki Bito|Rokka Fuyou|CAFFEIN|Rgveta
---
{% include character.html
	char-class="gackpo"
	english-name="Sateriasis Venomania"
	japanese-name="サテリアジス＝ヴェノマニア"
	romaji-name="SATERIAJISU=VENOMANIA"
	image="lust/Sateriasis.png"
	description="One of Beelzenia's five dukes and the instigator of the Venomania Event. He is represented by Camui Gackpo."
%}
{% include character.html
	char-class="gumi"
	english-name="Gumina Glassred"
	japanese-name="グミナ＝グラスレッド"
	romaji-name="GUMINA=GURASUREDDO"
	image="lust/Gumina.png"
	description="A Beelzenian aristocrat and a member of Sateriasis's harem. She is represented by GUMI."
%}
{% include character.html
	char-class="miku"
	english-name="Mikulia Greeonio"
	japanese-name="ミクリア＝グリオニオ"
	romaji-name="MIKURIA=GURIONIO"
	image="lust/Mikulia.png"
	description="An Asmodean peasant and a member of Sateriasis's harem. She is represented by Hatsune Miku."
%}
{% include character.html
	char-class="luka"
	english-name="Lukana Octo"
	japanese-name="ルカーナ＝オクト"
	romaji-name="RUKAANA=OKUTO"
	image="lust/Lukana.png"
	description="An Asmodean tailor and a member of Sateriasis's harem. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="lily"
	english-name="Lilien Turner"
	japanese-name="リリエン＝ターナ"
	romaji-name="RIRIEN=TAANA"
	image="lust/Lilien.png"
	description="An Asmodean baker and a member of Sateriasis's harem. She is represented by Lily."
%}
{% include character.html
	char-class="meiko"
	english-name="Maylis Beelzenia"
	japanese-name="メイリス＝ベルゼニア"
	romaji-name="MEIRISU=BERUZENIA"
	image="lust/Maylis.png"
	description="A Beelzenian princess and a member of Sateriasis's harem. She is represented by MEIKO."
%}
{% include character.html
	char-class="yufu"
	english-name="Yufina Marlon"
	japanese-name="ユフィーナ＝マーロン"
	romaji-name="YUFIINA=MAARON"
	image="UnknownYufu.png"
	description="The Queen of Marlon in an affair with Karchess and a member of Sateriasis's harem. She is represented by Yufu Sekka."
%}
{% include character.html
	char-class="haku"
	english-name="Hakua Netsuma"
	japanese-name="ハクア＝ネツマ"
	romaji-name="HAKUA=NETSUMA"
	image="UnknownHaku.png"
	description="The older sister of Haru Netsuma and a member of Sateriasis's harem. She is represented by Yowane Haku."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Clockworker"
	japanese-name="エルルカ＝クロックワーカー"
	romaji-name="ERURUKA=KUROKKUWAAKAA"
	image="lust/Elluka.png"
	description="A sorceress asked by the Beelzenian Imperial Family to investigate the missing women in Asmodean. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="kaito"
	english-name="Karchess Crim"
	japanese-name="カーチェス＝クリム"
	romaji-name="KAACHESU=KURIMU"
	image="lust/Karchess.png"
	description="A Marlon Count in an affair with Yufina. He is represented by KAITO."
%}
{%- capture ir-description -%}A red cat possessing the body of Haru Netsuma ({% include jpn.html jpn="ハル＝ネツマ" rom="HARU=NETSUMA" %}) who gave Sateriasis the vessel of Lust.
{%- endcapture -%}
{% include character.html
	char-class="iroha"
	english-name="I.R."
	japanese-name="アイアール"
	romaji-name="AI AARU"
	image="lust/IR.png"
	description=ir-description
%}