---
foreground: oss-color
background: oss-background
link-color: oss-link
furi-color: oss-furi
arc: Original Sin Story
intro-image: OSS.png
quote: A false prediction of the future,<br />…And so the world is being warped.
quote-source: Queen Of The Glass
quote-source-link: song/queen-of-the-glass
description: Characters associated with Project "Ma", the start of the Evillious Calendar, and the Levianta Catastrophe.
copyrights: VOCALOID|Hatsune Miku|Kagamine Rin & Len|KAITO|Hiyama Kiyoteru|MEIKO|Camui Gackpo|Megurine Luka|Nekomura Iroha|SF-A2 codename miki|Lily
artists: Suzunosuke|Ichika|Rgveta
---
{% include character.html
	char-class="len"
	english-name="Behemo"
	japanese-name="ビヒモ"
	romaji-name="BIHIMO"
	image="oss/Behemo.png"
	description="One of the four pillar gods and Levia's twin. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="rin"
	english-name="Levia"
	japanese-name="レヴィア"
	romaji-name="REVIA"
	image="oss/Levia.png"
	description="One of the four pillar gods and Behemo's twin. She is represented by Kagamine Rin."
%}
{% include character.html
	english-name="Held"
	japanese-name="エルド"
	romaji-name="ERUDO"
	image="oss/Held.jpg"
	description="One of the four pillar gods currently residing as a tree in an Elphegortean forest."
%}
{% include character.html
	english-name="Sickle"
	japanese-name="シックル"
	romaji-name="SHIKKURU"
	image="oss/Sickle.png"
	description="One of the four pillar gods currently living as a bat."
%}
{%- capture description-maria -%}The prophet queen of Magic Kingdom Levianta publically known of Alice Merry-Go-Round ({% include jpn.html jpn="アリス＝メリーゴーランド" rom="ARISU=MERIIGOURANDO" %}) and mother of Adam. She is represented by Hatsune Miku.{%- endcapture -%}
{% include character.html
	char-class="miku"
	english-name="Maria Moonlit"
	japanese-name="マリア=ムーンリット"
	romaji-name="MARIA=MUUNRITTO"
	image="UnknownMiku.png"
	description=description-maria
%}
{% include character.html
	char-class="kaito"
	english-name="Adam Moonlit"
	japanese-name="アダム＝ムーンリット"
	romaji-name="ADAMU=MUUNRITTO"
	image="oss/Adam.png"
	description="A scientist involved in Project &quot;Ma&quot;, son of Maria, husband of Eve, and adoptive father of Hänsel and Gretel. He is represented by KAITO."
%}
{% include character.html
	char-class="miku"
	english-name="Eve Moonlit"
	japanese-name="イブ＝ムーンリット"
	romaji-name="IBU=MUUNRITTO"
	image="oss/Eve.png"
	description="The first candidate for Project &quot;Ma&quot;, wife of Adam Moonlit, and adoptive mother of Hänsel and Gretel. She is represented by Hatsune Miku."
%}
{% include character.html
	char-class="kiyoteru"
	english-name="Seth Twiright"
	japanese-name="セト＝トワイライト"
	romaji-name="SETO=TOWAIRAITO"
	image="oss/Seth.png"
	description="A scientist involved in Project &quot;Ma&quot; and Pale's twin. He is represented by Hiyama Kiyoteru."
%}
{% include character.html
	char-class="gackpo"
	english-name="Gammon Loop Octopus"
	japanese-name="ガモン＝ループ＝オクトパス"
	romaji-name="GAMON=RUUPU=OKUTOPASU"
	image="oss/Gammon.jpg"
	description="A leader in the senate's security force. He is represented by Camui Gackpo."
%}
{% include character.html
	char-class="kiyoteru"
	english-name="Pale Noël"
	japanese-name="ペイル＝ノエル"
	romaji-name="PEIRU=NOERU"
	image="oss/Pale.png"
	description="Leader of the criminal organization Apocalypse, Seth's twin, and the lover of both Meta Salmhofer and Milky Eights. He is represented by Hiyama Kiyoteru."
%}
{% include character.html
	char-class="meiko"
	english-name="Meta Salmhofer"
	japanese-name="メータ＝ザルムホーファー"
	romaji-name="MEETA=ZARUMUHOOFAA"
	image="oss/Meta.png"
	description="Member of the criminal organization Apocalypse, the second candidate for Project &quot;Ma&quot;, and mother of Hänsel and Gretel. She is represented by MEIKO."
%}
{% include character.html
	char-class="len"
	english-name="Hänsel"
	japanese-name="ヘンゼル"
	romaji-name="HENZERU"
	image="oss/Hansel.png"
	description="One of the &quot;twins of god&quot; birthed from Meta and the twin of Gretel. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="rin"
	english-name="Gretel"
	japanese-name="グレーテル"
	romaji-name="GUREETERU"
	image="oss/Gretel.png"
	description="One of the &quot;twins of god&quot; birthed from Meta and the twin of Hänsel. She is represented by Kagamine Rin."
%}
{% include character.html
	char-class="kiyoteru"
	english-name="Kiril Clockworker"
	japanese-name="キリル＝クロックワーカー"
	romaji-name="KIRIRU=KUROKKUWAAKAA"
	image="oss/Kiril.png"
	description="A music box craftsman, brother of Irina, and fiancé of Elluka. He is represented by Hiyama Kiyoteru."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Chirclatia"
	japanese-name="エルルカ＝チルクラシア"
	romaji-name="ERURUKA=CHIRUKURASHIA"
	image="oss/Elluka.png"
	description="An ex-priestess, candidate for the seventh Project &quot;Ma&quot;, and fiancée of Kiril. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="iroha"
	english-name="Irina Clockworker"
	japanese-name="イリーナ＝クロックワーカー"
	romaji-name="IRIINA=KUROKKUWAAKAA"
	image="oss/Irina.png"
	description="An apprentice craftsman, candidate for the seventh Project &quot;Ma&quot;, and sister of Kiril. She is represented by Nekomura Iroha."
%}
{% include character.html
	char-class="miki"
	english-name="Milky Eights"
	japanese-name="ミルキー＝エイツ"
	romaji-name="MIRUKII=EITSU"
	image="oss/Milky.png"
	description="A prostitute, candidate for the seventh Project &quot;Ma&quot;, and lover of Pale Noël. She is represented by SF-A2 codename miki."
%}
{% include character.html
	char-class="lily"
	english-name="Ly Li"
	japanese-name="リィ＝リー"
	romaji-name="RYI=RII"
	image="oss/Ly.png"
	description="An aristocrat and candidate for the seventh Project &quot;Ma&quot;. She is represented by Lily."
%}