---
foreground: pride-color
background: pride-background
link-color: pride-link
furi-color: pride-furi
arc: Pride Arc
intro-image: Pride.jpg
quote: Once upon a time, reigning at the top<br />Of a fiendish kingdom was a noble girl of age 14.
quote-source: The Daughter of Evil
quote-source-link: song/daughter-of-evil
description: Characters associated with Riliane Lucifen d'Autriche and the Conspiracy of Evil.
copyrights: VOCALOID|Kagamine Rin & Len|Sweet ANN|Prima|LE♂N|MIRIAM|Megurine Luka|Hiyama Kiyoteru|SF-A2 codename miki|Camui Gackpo|KAITO|MEIKO|Kasane Teto|Akita Neru|Yowane Haku|Hatsune Miku|GUMI|Lily|Kaai Yuki
artists: Ichika|you-ring|Yuichi Murakami
---
{% include character.html
	char-class="len"
	english-name="Arth Lucifen d'Autriche"
	japanese-name="アルス＝ルシフェン＝ドートゥリシュ"
	romaji-name="ARUSU=RUSHIFEN=DOOTURISHU"
	image="pride/Arth.png"
	description="The king of Lucifenia, husband of Anne, and father of Riliane and Alexiel. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="ann"
	english-name="Anne Lucifen d'Autriche"
	japanese-name="アンネ＝ルシフェン＝ドートゥリシュ"
	romaji-name="ANNU=RUSHIFEN=DOOTURISHU"
	image="pride/Anne.png"
	description="The queen of Lucifenia, wife of Arth, and mother of Riliane and Alexiel. She is represented by Sweet ANN."
%}
{% include character.html
	char-class="prima"
	english-name="Prim Marlon"
	japanese-name="プリム＝マーロン"
	romaji-name="PURIMU=MAARON"
	image="pride/Prim.png"
	description="The queen of Marlon and mother of Kyle. She is represented by Prima."
%}
{% include character.html
	char-class="iroha"
	english-name="Abyss I.R."
	japanese-name="アビスＩ．Ｒ．"
	romaji-name="ABISU I.R."
	image="pride/AbyssIR.png"
	description="Marlon's court mage."
%}
{% include character.html
	char-class="leon"
	english-name="Leonhart Avadonia"
	japanese-name="レオンハルト＝アヴァドニア"
	romaji-name="REONHARUTO=AVADONIA"
	image="pride/Leonhart.png"
	description="The captain of the Royal Guard, one of the three heroes, and adoptive father of Germaine and Allen. He is represented by LE♂N."
%}
{% include character.html
	char-class="miriam"
	english-name="Mariam Phutapié"
	japanese-name="マリアム=フタピエ"
	romaji-name="MARIAMU=FUTAPIE"
	image="pride/Mariam.png"
	description="The head maid of the Lucifenian palace, one of the three heroes, and adoptive mother of Ney. She is represented by MIRIAM."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Clockworker"
	japanese-name="エルルカ＝クロックワーカー"
	romaji-name="ERURUKA=KUROKKUWAAKAA"
	image="pride/Elluka.png"
	description="The Lucifenian court mage and one of the three heroes. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="kiyoteru"
	english-name="Keel Freezis"
	japanese-name="キール＝フリージス"
	romaji-name="KIIRU=FURIIJISU"
	image="pride/Keel.png"
	description="A Marlon merchant, husband of Mikina, and father of Yukina and two other children. He is represented by Hiyama Kiyoteru."
%}
{% include character.html
	char-class="miki"
	english-name="Mikina Freezis"
	japanese-name="ミキナ＝フリージス"
	romaji-name="MIKINA=FURIIJISU"
	image="pride/Mikina.png"
	description="A Marlon aristocrat, wife of Keel, mother of Yukina and two other children, and boss of Clarith and Michaela. She is represented by SF-A2 codename miki."
%}
{% include character.html
	char-class="gackpo"
	english-name="Gast Venom"
	japanese-name="ガスト＝ヴェノム"
	romaji-name="GASUTO=VENOMU"
	image="pride/Gast.png"
	description="An Asmodean mercenary hired by Lucifenia during Riliane's reign. He is represented by Camui Gackpo."
%}
{% include character.html
	char-class="kaito"
	english-name="Kyle Marlon"
	japanese-name="カイル＝マーロン"
	romaji-name="KAIRU=MAARON"
	image="pride/Kyle.png"
	description="The Marlon prince and son of Prim. He is represented by KAITO."
%}
{% include character.html
	char-class="meiko"
	english-name="Germaine Avadonia"
	japanese-name="ジェルメイヌ＝アヴァドニア"
	romaji-name="JERUMEINU=AVADONIA"
	image="pride/Germaine.png"
	description="Leonhart's adoptive daughter and Allen's adoptive sister. She is represented by MEIKO."
%}
{% include character.html
	char-class="teto"
	english-name="Chartette Langley"
	japanese-name="シャルテット＝ラングレー"
	romaji-name="SHARUTETTO=RANGUREE"
	image="pride/Chartette.png"
	description="A maid working in the Lucifenian palace under Riliane. She is represented by Kasane Teto."
%}
{% include character.html
	char-class="neru"
	english-name="Ney Phutapié"
	japanese-name="ネイ＝フタピエ"
	romaji-name="NEI=FUTAPIE"
	image="pride/Ney.png"
	description="A maid working in the Lucifenian palace under Riliane and the adoptive daughter of Mariam. She is represented by Akita Neru."
%}
{% include character.html
	char-class="rin"
	english-name="Riliane Lucifen d'Autriche"
	japanese-name="リリアンヌ＝ルシフェン＝ドートゥリシュ"
	romaji-name="RIRIANNU=RUSHIFEN=DOOTURISHU"
	image="pride/Riliane.png"
	description="The young princess ruling Lucifenia, the daughter of Arth and Anne, and unknowingly Allen's twin. She is represented by Kagamine Rin."
%}
{% capture description-allen %}Previously known as Prince Alexiel ({% include jpn.html jpn="アレクシル" rom="AREKUSHIRU" %}), he is the son of Arth and Anne, the adoptive son of Leonhart, and Riliane's twin. He is represented by Kagamine Len.{% endcapture -%}
{% include character.html
	char-class="len"
	english-name="Allen Avadonia"
	japanese-name="アレン＝アヴァドニア"
	romaji-name="AREN=AVADONIA"
	image="pride/Allen.png"
	description=description-allen
%}
{% include character.html
	char-class="haku"
	english-name="Clarith"
	japanese-name="クラリス"
	romaji-name="KURARISU"
	image="pride/Clarith.png"
	description="An Elphegortean peasant and employee of Mikina. She is represented by Yowane Haku."
%}
{% include character.html
	char-class="miku"
	english-name="Michaela"
	japanese-name="ミカエラ"
	romaji-name="MIKAERA"
	image="pride/Michaela.png"
	description="An Elphegortean girl and employee of Mikina. She is represented by Hatsune Miku."
%}
{% include character.html
	char-class="gumi"
	english-name="Gumillia"
	japanese-name="グーミリア"
	romaji-name="GUUMIRIA"
	image="pride/Gumillia.png"
	description="The apprentice of Elluka. She is represented by GUMI."
%}
{% include character.html
	char-class="lily"
	english-name="Riliane &quot;Lily&quot; Mouchet"
	japanese-name="リリアンヌ（リリィ）＝ムーシェ"
	romaji-name="RIRIANNU (RIRYI)=MUUSHE"
	image="pride/Lily.png"
	description="A general in Lucifenia's army. She is represented by Lily."
%}
{% include character.html
	char-class="yuki"
	english-name="Yukina Freezis"
	japanese-name="ユキナ＝フリージス"
	romaji-name="YUKINA=FURIIJISU"
	image="pride/Yukina.png"
	description="An aspiring author, the daughter of Keel and Yukina, and older sister to her two siblings. She is represented by Kaai Yuki."
%}