---
foreground: sloth-color
background: sloth-background
link-color: sloth-link
furi-color: sloth-furi
arc: Sloth Arc
image: /assets/images/Sloth.png
intro-image: Sloth.png
quote: Yes I am the sleep princess,<br />For the sake of your happiness……
quote-source: gift from the Princess who Brought Sleep
quote-source-link: song/gift-from-the-princess-who-brought-sleep
description: Characters associated with Margarita Blankenheim and the organization Pere Noël.
copyrights: VOCALOID|Hatsune Miku|KAITO|Megurine Luka|GUMI|MEIKO|Camui Gackpo|Kagamine Rin &amp; Len|
artists: Ichika
---
{% include character.html
	char-class="miku"
	english-name="Margarita Blankenheim"
	japanese-name="マルガリータ＝ブランケンハイム"
	romaji-name="MARUGARIITA=BURANKENHAIMU"
	image="sloth/Margarita.png"
	description="A doctor's daughter, a member of Pere Noël codenamed &quot;Third Sleep Princess&quot;, and wife of Kaspar. She is represented by Hatsune Miku."
%}
{% include character.html
	char-class="kaito"
	english-name="Kaspar Blankenheim"
	japanese-name="カスパル＝ブランケンハイム"
	romaji-name="KASUPARU=BURANKENHAIMU"
	image="sloth/Kaspar.png"
	description="The marquis of Toragay, a member of Pere Noël codenamed &quot;Second Dealer&quot;, and husband of Margarita. He is represented by KAITO."
%}
{% include character.html
	char-class="luka"
	english-name="Hanne Lorre"
	japanese-name="ハンネ＝ローレ"
	romaji-name="HANNE=ROORE"
	image="sloth/Hanne.png"
	description="An investigative reporter for the Schuburg newspaper and Heidemarie's sister. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="gumi"
	english-name="Heidemarie Lorre"
	japanese-name="ハイデマリー＝ローレ"
	romaji-name="HAIDEMARII=ROORE"
	image="sloth/Heidemarie.png"
	description="An officer of the world police and Hanne's sister. She is represented by GUMI."
%}
{% include character.html
	char-class="meiko"
	english-name="Julia Abelard"
	japanese-name="ジュリア＝アベラール"
	romaji-name="JURIA=ABERAARU"
	image="sloth/Julia.png"
	description="The leader of Pere Noël codenamed &quot;First Santa Claus&quot; and adoptive mother of Lemy. She is represented by MEIKO."
%}
{% include character.html
	char-class="gackpo"
	english-name="Gatt Coloumb"
	japanese-name="ガット＝クーロン"
	romaji-name="GATTO=KUURON"
	image="sloth/Gatt.png"
	description="A member of Pere Noël codenamed &quot;Sixth Venom&quot;. He is represented by Camui Gackpo."
%}
{% include character.html
	char-class="len"
	english-name="Lemy Abelard"
	japanese-name="レミー＝アベラール"
	romaji-name="REMII=ABERAARU"
	image="sloth/Lemy.png"
	description="The adoptive son of Julia and a member of Pere Noël codenamed &quot;Fifth Pierrot&quot;. He is represented by Kagamine Len."
%}
{% include character.html
	char-class="rin"
	english-name="Ney"
	japanese-name="ネイ"
	romaji-name="NEI"
	image="sloth/Ney.png"
	description="Lemy's other self who only he can hear. She is represented by Kagamine Rin."
%}
{% include character.html
	char-class="luka"
	english-name="Elluka Clockworker"
	japanese-name="エルルカ＝クロックワーカー"
	romaji-name="ERURUKA=KUROKKUWAAKAA"
	image="sloth/Elluka.png"
	description="A member of Pere Noël codenamed &quot;Seventh Magician&quot;. She is represented by Megurine Luka."
%}
{% include character.html
	char-class="gumi"
	english-name="Gumillia"
	japanese-name="グーミリア"
	romaji-name="GUUMIRIA"
	image="sloth/Gumillia.png"
	description="Elluka's apprentice and member of Pere Noël codenamed &quot;Eighth Sniper&quot;. She is represented by GUMI."
%}
{% include character.html
	char-class="rin"
	english-name="Rin Chan"
	japanese-name="リン＝チャン"
	romaji-name="RIN=CHAN"
	image="sloth/Rin.png"
	description="A Lucifenian diva popular for her singing and resemblance to the &quot;Daughter of Evil&quot;. She is represented by Kagamine Rin."
%}