---
foreground: wrath-color
background: wrath-background
link-color: wrath-link
furi-color: wrath-furi
arc: Wrath Arc
image: /assets/images/Wrath.png
intro-image: Wrath.png	
quote: The sole feeling left behind<br />Is overflowing wrath.
quote-source: And Then the Girl Went Mad ―Ending Tale on a Moonlit Night―
quote-source-link: song/and-then-the-girl-went-mad
description: Characters associated with Nemesis Sudou and the Leviantan Civil War.
copyrights: VOCALOID|GUMI|Megurine Luka|KAITO|Tonio
artists: Ichika
---
{% include character.html
	char-class="gumi"
	english-name="Nemesis Sudou"
	japanese-name="ネメシス＝スドウ"
	romaji-name="NEMESHISU=SUDOU"
	image="wrath/Nemesis.png"
	description="An ex-assassin of PN codenamed No. 8. She is represented by GUMI."
%}
{% include character.html
	english-name="Nikolay Tolle"
	japanese-name="ニコライ＝トール"
	romaji-name="NIKORAI=TOORU"
	image="wrath/Nikolay.png"
	description="A man who watched over Nemesis while she was growing up."
%}
{% include character.html
	char-class="luka"
	english-name="Kayo Sudou"
	japanese-name="カヨ＝スドウ"
	romaji-name="KAYO=SUDOU"
	image="wrath/Kayo.png"
	description="Nemesis' mother. She is portrayed by Megurine Luka."
%}
{% include character.html
	english-name="Mr. Ziz"
	japanese-name="ジズさん"
	romaji-name="JIZU-san"
	image="wrath/Ziz.png"
	description="Nemesis' pet octopus."
%}
{% include character.html
	english-name="Narcissius Kissos"
	japanese-name="ナルシス＝キッソス"
	romaji-name="NARUSHISU=KISSOSU"
	image="UnknownMan.png"
	description="Leader of the criminal gang Zeus and Nemesis' old friend."
%}
{% include character.html
	english-name="Shakuson"
	japanese-name="シャクソン"
	romaji-name="SHAKUSON"
	image="wrath/Shakuson.png"
	description="Nemesis' neighbor and later lover."
%}
{% include character.html
	char-class="tonio"
	english-name="Tony Ausdin"
	japanese-name="トニー＝オースディン"
	romaji-name="TONII=OOSUDIN"
	image="wrath/Tony.png"
	description="A Union State of Evillious general and war criminal. He is represented by Tonio."
%}
{% include character.html
	char-class="kaito"
	english-name="Mr. Pere Noel"
	japanese-name="Mr|.|Pere| |Noel"
	romaji-name="MISUTAA. PEERU NOERU"
	furi-name="ミスター|.|ペール||ノエル"
	image="wrath/MrPereNoel.png"
	description="Nemesis' boss. He is represented by KAITO."
%}