{%- assign obj = site.data.translations | find: "eng", page.english-name -%}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if obj.eng[0] != nil and obj.eng[0] != page.english-name %}{{ obj.eng[0] }}{% else %}{{ page.english-name }}{% endif %}{% if obj.jpn[0] != obj.eng[0] %} | {{ obj.jpn[-1] }}{% elsif page.japanese-name != nil and page.japanese-name != page.english-name %} | {{ page.japanese-name | remove: "|" }}{% endif %}</title>
		<link rel="stylesheet" href="/assets/css/booklet.css">
		{% if page.css %}{% assign sheets = page.css | split: "|" %}{% for style in sheets %}<link rel="stylesheet" href="/assets/css/{{ style }}">{% endfor %}{% endif %}
		{% if page.fonts %}{{ page.fonts }}{% endif %}
		<link rel="shortcut icon" href="/assets/images/thumbs/{{ page.favicon }}">
		{% seo title=false -%}
		<script src="/assets/js/minified.js"></script>
		<script src="/assets/js/booklet.js"></script>
	</head>
	<body>
		{{ content }}
		{% include copyright.html sublink="Booklets" notes=page.notes mothyrights=page.mothyrights copyrights=page.copyrights artists=page.artists scans=page.scans translation=page.translation %}
	</body>
</html>