<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.arc }} Characters — The Evillious Chronicles</title>
		<link rel="stylesheet" href="/assets/css/evillious.css">
		<link rel="stylesheet" href="/assets/css/characters.css">
		<link rel="shortcut icon" href="/assets/images/{{ page.intro-image }}">
		{% seo title=false -%}
		<script src="/assets/js/minified.js"></script>
		<script src="/assets/js/evillious.js"></script>
		<style>
			:root {
				--foreground-color: var(--{{ page.foreground | default: foreground-color }}, #f0e68c);
				--background-color: var(--{{ page.background | default: background-color }}, #F5F5BF);
				--link-color: var(--{{ page.link-color | default: link-color }}, #B3A41D);
				--fuributton-color: var(--{{ page.furi-color | default: fuributton-color }}, #C7BB52);
			}
		</style>
	</head>
	<body>
		<div class="flex" id="intro">
			<header>
				<a href="{% link characters/index.html %}"><img src="/assets/images/{{ page.intro-image }}" class="circle introImage" /></a>
				<h1><em>The Evillious Chronicles</em>:<br />{{ page.arc }} Characters</h1>
				<div class="subtitle" style="font-style:italic;">{{ page.quote }}<br />—<a href="{% link {{ page.quote-source-link }}.html %}" target="_blank">{{ page.quote-source }}</a></div>
				<p>{{ page.description }}</p>
				{% include fuributton.html %}
			</header>
		</div>
		<div class="characters flex">
			{{ content }}
		</div>
		{% include copyright.html sublink="Characters" copyrights=page.copyrights artists=page.artists %}
	</body>
</html>